<demo-template [data]="''" [text]="text['text']['advanced']">
<div class="demo-showcase-v">
    <span style="font-size: 18px">标题和内容</span>
    <j-collapse>
        <j-collapse-pane [isActive]="true">
            <div j-title>
                <span class="iconfont iconfont-ea4c"></span>Information
            </div>
            <div j-body>
                <div class="form-box">
                    <div class="form-line">
                        <label>name:</label>
                        <j-input></j-input>
                    </div>
                    <div class="form-line">
                        <label>position:</label>
                        <j-input></j-input>
                    </div>
                    <div class="form-line">
                        <label>office:</label>
                        <j-input></j-input>
                    </div>
                    <j-button>Submit</j-button>
                </div>
            </div>
        </j-collapse-pane>

        <j-collapse-pane>
            <div j-title>
                <span class="iconfont iconfont-ea3e"></span>Table
            </div>
            <div j-body>
                <j-table [data]="tableData" height="200"></j-table>
            </div>
        </j-collapse-pane>

        <j-collapse-pane>
            <div j-title>
                <span class="iconfont iconfont-e547"></span>Graph
            </div>
            <div j-body>
                <j-collapse mode="accordion">
                    <j-collapse-pane header="pie">
                        <jigsaw-graph [data]="pieGraphDataByCol" [width]="400" [height]="300"></jigsaw-graph>
                    </j-collapse-pane>

                    <j-collapse-pane header="line" [isActive]="true">
                        <jigsaw-graph [data]="lineGraphData"></jigsaw-graph>
                    </j-collapse-pane>
                </j-collapse>
            </div>
        </j-collapse-pane>
    </j-collapse>
</div>
</demo-template>
