<!-- ignore the following lines, they are not important to this demo -->



<demo-template [data]="''" [text]="doc.text.radar">
    <div class="live-demo-wrap">
        <div class="clearfix">
            <div class="live-demo live-demo-block">
                <jigsaw-header [level]="2">RadarGraphData静态数据</jigsaw-header>
                <jigsaw-graph [data]="radarData" height="500" (click)="handleClick($event)"></jigsaw-graph>
            </div>
        </div>
    </div>
</demo-template>








