<demo-template [data]="''" [text]="text['text']['inDom']" [codes]="codes">
    <!-- start to learn the demo from here -->
    <div class="demo-container">
        <jigsaw-info-alert message="this is a great info alert!" header="The header" caption="The title">
        </jigsaw-info-alert>
        <jigsaw-warning-alert message="this is a great warn alert!" header="The header" caption="The title">
        </jigsaw-warning-alert>
        <br><br>
        <jigsaw-error-alert message="this is a great error alert!" header="The header" caption="The title">
        </jigsaw-error-alert>
        <jigsaw-confirm-alert message="this is a great confirm alert!" header="The header" caption="The title">
        </jigsaw-confirm-alert>
    </div>
</demo-template>