<demo-template [description]="description" [demoSources]="demoSources">
    <div class="demo-showcase">
        <jigsaw-info-alert message="这里是警示框的内容" header="标题Header" caption="标题Title"> </jigsaw-info-alert>
        <jigsaw-warning-alert message="这里是警示框的内容" header="标题Header" caption="标题Title">
        </jigsaw-warning-alert>
    </div>
    <div class="demo-showcase">
        <jigsaw-error-alert message="这里是警示框的内容" header="标题Header" caption="标题Title"> </jigsaw-error-alert>
        <jigsaw-confirm-alert message="这里是警示框的内容" header="标题Header" caption="标题Title">
        </jigsaw-confirm-alert>
    </div>
</demo-template>
