<!-- ignore the following lines, they are not important to this demo -->
<jigsaw-demo-description [summary]="summary" [content]="description">
</jigsaw-demo-description>


<!-- start to learn the demo from here -->
<div class="live-demo-wrap">
    <jigsaw-header [level]="1">Pagination</jigsaw-header>

    <div class="demo-1 live-demo">
        <jigsaw-header [level]="2">默认模式</jigsaw-header>
        <jigsaw-pagination [data]="pageable" mode="complex" (currentChange)="getCurrentPage($event)" [size]="'large'">
        </jigsaw-pagination>
        <p class="message">当前第{{pageable.pagingInfo.currentPage}}页</p>
    </div>

    <div class="demo-3 live-demo">
        <jigsaw-header [level]="2">默认模式（折叠）</jigsaw-header>
        <jigsaw-pagination [data]="pageable" mode="folding" (currentChange)="getCurrentPage($event)">
        </jigsaw-pagination>
        <p class="message">当前第{{pageable.pagingInfo.currentPage}}页</p>
    </div>

    <div class="demo-2 live-demo">
        <jigsaw-header [level]="2">简约模式</jigsaw-header>
        <jigsaw-pagination [data]="pageableForSimple" (currentChange)="getCurrentPage($event)" mode="simple">
        </jigsaw-pagination>
        <p class="message">当前第{{pageableForSimple.pagingInfo.currentPage}}页</p>
    </div>

</div>