<!-- ignore the following lines, they are not important to this demo -->
<jigsaw-demo-description [summary]="summary" [content]="description">
</jigsaw-demo-description>

<section>
    <jigsaw-header>圆形进度条primary状态</jigsaw-header>
    <jigsaw-circle-progress [status]="'primary'" [percent]="0"></jigsaw-circle-progress>
    <jigsaw-circle-progress [status]="'primary'" [percent]="9.9"></jigsaw-circle-progress>
    <jigsaw-circle-progress [status]="'primary'" [percent]="53.89"></jigsaw-circle-progress>
    <jigsaw-circle-progress [status]="'primary'" [percent]="100"></jigsaw-circle-progress>

    <jigsaw-header>圆形进度条success状态</jigsaw-header>
    <jigsaw-circle-progress [status]="'success'" [percent]="0"></jigsaw-circle-progress>
    <jigsaw-circle-progress [status]="'success'" [percent]="9.9"></jigsaw-circle-progress>
    <jigsaw-circle-progress [status]="'success'" [percent]="53.89"></jigsaw-circle-progress>
    <jigsaw-circle-progress [status]="'success'" [percent]="100"></jigsaw-circle-progress>

    <jigsaw-header>圆形进度条warning状态</jigsaw-header>
    <jigsaw-circle-progress [status]="'warning'" [percent]="0"></jigsaw-circle-progress>
    <jigsaw-circle-progress [status]="'warning'" [percent]="9.9"></jigsaw-circle-progress>
    <jigsaw-circle-progress [status]="'warning'" [percent]="53.89"></jigsaw-circle-progress>
    <jigsaw-circle-progress [status]="'warning'" [percent]="100"></jigsaw-circle-progress>

    <jigsaw-header>圆形进度条error状态</jigsaw-header>
    <jigsaw-circle-progress [status]="'error'" [percent]="0"></jigsaw-circle-progress>
    <jigsaw-circle-progress [status]="'error'" [percent]="9.9"></jigsaw-circle-progress>
    <jigsaw-circle-progress [status]="'error'" [percent]="53.89"></jigsaw-circle-progress>
    <jigsaw-circle-progress [status]="'error'" [percent]="100"></jigsaw-circle-progress>
</section>