<demo-template [data]="''" [text]="doc.text.cellRender" [codes]="doc.codes.cellRender">
    <!-- start to learn the demo from here -->
    <div class="demo-showcase-v">
        <span>示例1</span>
        <jigsaw-table [data]="tableData" [columnDefines]="columns"></jigsaw-table>

        <ng-template #jobCellRender let-context="context">
            <div [ngSwitch]="context.cellData" style="font-size: 16px;">
                <span *ngSwitchCase="'Test Engineer'" class="iconfont iconfont-e567"></span>
                <span *ngSwitchCase="'System Architect'" class="iconfont iconfont-e451"></span>
                <span *ngSwitchCase="'Developer'" class="iconfont iconfont-e4f0"></span>
            </div>
        </ng-template>
    </div>

    <div class="demo-showcase-v">
        <span>示例2</span>
        <jigsaw-table [data]="tableData2" [columnDefines]="columns2"></jigsaw-table>
    </div>
</demo-template>
