@import "../../assets/scss/core/base";

$textarea-prefix-cls: #{$jigsaw-prefix}-textarea;

.#{$textarea-prefix-cls} {
    @include inline-block();
    position: relative;
    width: 300px;
    height: 100px;
    line-height: 1.2;
    font-size: $font-size-base;
    &-icon-end {
        position: absolute;
        right: 0;
        bottom: 0;
        line-height: 1;
    }
    textarea {
        width: 100%;
        height: 100%;
        padding:10px;
        border: 1px solid $border-color-base;
        border-radius: 3px;
        outline: none;
        @include prefixer(transition, (border 0.3s $ease-in-out, box-shadow 0.3s $ease-in-out));
        &:hover {
            border: 1px solid $primary-color;
        }
        &:focus {
            border: 1px solid $primary-color;
            box-shadow: $box-focus-shadow;
        }
    }
    &.#{$textarea-prefix-cls}-error textarea {
        border: 1px solid $error-color;
        &:hover {
            border: 1px solid $error-color;
        }
        &:focus {
            border: 1px solid $error-color;
            box-shadow: none;
        }
    }
    textarea::-webkit-textarea-placeholder {
        color: $text-color-secondary;
    }
    textarea:-ms-textarea-placeholder {
        color: $text-color-secondary;
    }
    textarea:-moz-placeholder {
        color: $text-color-secondary;
    }
    &-clear-bar {
        cursor: pointer;
        font-size: 16px;
        line-height: 1.0;
        &:hover {
            color: $text-color-dark;
        }
        &[hidden] {
            display: none !important;
        }
    }
}



