.drawer-content {
    width: 500px;
    height: 500px;
    text-align: center;
}

.content-section {
    height: 100px;
    background: #eee;
    line-height: 100px;
    font-size: 20px;
    text-align: center;
}

