<!-- ignore the following lines, they are not important to this demo -->
<jigsaw-demo-description [summary]="summary" [content]="description">
</jigsaw-demo-description>


<!-- start to learn the demo from here -->
<jigsaw-header>状态</jigsaw-header>
<jigsaw-icon [status]="'success'"></jigsaw-icon>
<jigsaw-icon [status]="'warning'"></jigsaw-icon>
<jigsaw-icon [status]="'error'"></jigsaw-icon>
<jigsaw-icon [status]="'finish'"></jigsaw-icon>
<jigsaw-icon [status]="'disabled'"></jigsaw-icon>
<jigsaw-icon [status]="'process'"></jigsaw-icon>

<jigsaw-header>自定义状态</jigsaw-header>
<jigsaw-icon [status]="'custom'" [icon]="'iconfont iconfont-e75c'" [iconColor]="'purple'" [text]="'自定义状态'">
</jigsaw-icon>