<demo-template [description]="description" [demoSources]="demoSources">
    <div class="showcase">
        <jigsaw-bubble-loading color="rgb(0, 255, 0 )"></jigsaw-bubble-loading>
        <jigsaw-font-loading color="rgb(0, 255, 0 )"></jigsaw-font-loading>
        <jigsaw-ball-loading color="rgb(0, 255, 0 )"></jigsaw-ball-loading>
    </div>
    <div class="showcase" style="margin-top: 20px">
        <jigsaw-bubble-loading color="rgb(0, 127, 255)"></jigsaw-bubble-loading>
        <jigsaw-font-loading color="rgb(0, 127, 255) "></jigsaw-font-loading>
        <jigsaw-ball-loading color="rgb(0, 127, 255) "></jigsaw-ball-loading>
    </div>
</demo-template>
