<div class="rdk-combo-select"
     [class.rdk-combo-select-opened]="_$opened"
     [class.rdk-combo-select-disabled]="disabled"
     (mouseenter)="_$openByHover($event)"
     (mouseleave)="_$closeByHover($event)"
     (click)="_$openAndCloseByClick($event)">
    <div class="rdk-combo-select-selection">
        <div class="rdk-combo-select-selection-rendered">
            <div *ngIf="placeholder && (!value || value.length == 0)" class="rdk-combo-select-selection_placeholder">
                {{placeholder}}
            </div>
            <span (click)="_$tagClick()">
                <ng-template ngFor let-tagItem [ngForOf]="value" let-i="index" let-isLast="last">
                    <rdk-tag
                              [closable]='tagItem.closable'
                              (select)="_$tagClick(tagItem)"
                              (close)="_removeTag(tagItem)">
                             {{tagItem[labelField]}}
                     </rdk-tag>
                      <span *ngIf="separator && !isLast">{{separator}}</span>
                </ng-template>
            </span>
        </div>
    </div>
    <i class="fa fa-angle-down rdk-combo-select-arrow"></i>
</div>
