.demo-container .jigsaw-header-host:not(:first-of-type) {
    margin-top: 20px;
}

.demo-container {
    height: 400px;
    background: var(--bg-container);
    box-shadow: 0px 1px 2px hsla(0, 0%, 0%, 0.2);
}
