<!-- ignore the following lines, they are not important to this demo -->
<jigsaw-demo-description [summary]="summary" [content]="description"> </jigsaw-demo-description>

<!-- start to learn the demo from here -->
<div class="demo-container">
    <jigsaw-header>标签式</jigsaw-header>
    <jigsaw-tabs backgroundColor="var(--bg-body)">
        <jigsaw-tab-pane title="tab1">
            <ng-template><p class="tab-content">tab content 1<p></ng-template>
        </jigsaw-tab-pane>
        <jigsaw-tab-pane title="tab2" [disabled]="true">
            <ng-template><p class="tab-content">tab content 2<p></ng-template>
        </jigsaw-tab-pane>
        <jigsaw-tab-pane title="tab3">
            <ng-template><p class="tab-content">tab content 3<p></ng-template>
        </jigsaw-tab-pane>
        <jigsaw-tab-pane title="tab4">
            <ng-template><p class="tab-content">tab content 4<p></ng-template>
        </jigsaw-tab-pane>
    </jigsaw-tabs>

    <jigsaw-header>页签式</jigsaw-header>
    <jigsaw-tabs [tabType]="'page'" backgroundColor="var(--bg-body)">
        <jigsaw-tab-pane title="标签名称">
            <ng-template><p class="tab-content">tab content 1</p></ng-template>
        </jigsaw-tab-pane>
        <jigsaw-tab-pane title="tab2" [disabled]="true">
            <ng-template><p class="tab-content">tab content 2</p></ng-template>
        </jigsaw-tab-pane>
        <jigsaw-tab-pane title="tab3">
            <ng-template><p class="tab-content">tab content 3</p></ng-template>
        </jigsaw-tab-pane>
        <jigsaw-tab-pane title="tab4">
            <ng-template><p class="tab-content">tab content 4</p></ng-template>
        </jigsaw-tab-pane>
    </jigsaw-tabs>
</div>
