.container {
    border: 1px solid #e9e9e9;
    border-radius: 4px;
    width: 100%;
    padding: 20px;
}
.option-button-group {
    margin-bottom: 30px;
    jigsaw-button{
        margin-right: 6px;
    }
}
.content-box{
    padding-bottom: 10px;
    .content-title{
        margin-bottom: 20px;
    }
    .content-line{
        margin-bottom: 10px;
        label{
            display: inline-block;
            width: 100px;
        }
    }
    jigsaw-button{
        margin-left: 100px;
    }
}

