.demo-seleted-nodes>span {
    font-size: 20px;
    font-weight: border;
}

.demo-seleted-nodes>ul>li {
    display: flex;
    align-items: center;
    height: 24px;
}

.demo-seleted-nodes>ul>li span {
    margin-right: 4px;
}