<div class="live-demo-wrap">
    <h2>Auto Complete</h2>
    <div class="demo-1 live-demo">
        <h3>本地数据过滤</h3>
        <jigsaw-combo-select maxWidth="500"
                             [(value)]="selectedCountries"
                             [clearable]="true"
                             labelField="enName"
                             [searchable]="true"
                             searchPlaceholder="search a country..."
                             (searchKeywordChange)="handleSearching($event, lpaCountries)">
            <ng-template>
                <div class="dropdown">
                    <jigsaw-tile [(selectedItems)]="selectedCountries" trackItemBy="enName" width="550px">
                        <jigsaw-tile-option *ngFor="let country of lpaCountries" [value]="country" width="100px">
                            {{country.enName}}
                        </jigsaw-tile-option>
                    </jigsaw-tile>
                </div>
            </ng-template>
        </jigsaw-combo-select>
        <p>selected countries: {{toCountriesString(selectedCountries)}}</p>
    </div>

    <div class="demo-2 live-demo">
        <h3>服务端数据过滤</h3>
        <jigsaw-combo-select maxWidth="500"
                             [(value)]="selectedCountries2"
                             [clearable]="true"
                             labelField="enName"
                             [searchable]="true"
                             [searching]="spaCountries.busy"
                             searchPlaceholder="输入中文也行"
                             (openChange)="onOpen($event)"
                             (searchKeywordChange)="handleSearching($event, spaCountries)">
            <ng-template>
                <div class="dropdown">
                    <jigsaw-tile [(selectedItems)]="selectedCountries2" trackItemBy="enName" width="550px">
                        <jigsaw-tile-option *ngFor="let country of spaCountries" [value]="country" width="100px">
                            {{country.enName}}
                        </jigsaw-tile-option>
                    </jigsaw-tile>
                </div>
            </ng-template>
        </jigsaw-combo-select>
    </div>
</div>

