@import "../../assets/scss/core/base";

$cascade-prefix-cls: #{$jigsaw-prefix}-cascade;
$tile-prefix-cls: #{$jigsaw-prefix}-tile;

.#{$cascade-prefix-cls} {
    .#{$tile-prefix-cls} {
        border: none;
    }
    .#{$tile-prefix-cls}-show-all {
        @include inline-block();
        width: 50px;
        height: $height-base;
        line-height: $height-base;
        font-size: $font-size-base;
        text-align: center;
        margin: {
            right: 8px;
            bottom: 8px;
        }
        cursor: pointer;
        color: $primary-color;
        font-weight: 700;
        &:hover {
            color: $primary-5;
        }
        &:active {
            color: $primary-7;
        }
    }
}

