<demo-template [data]="''" [text]="text['text']['functional']">
    <!-- start to learn the demo from here -->
    <div class="demo-showcase-v wrapper">
        <span>快捷用法：</span>
        <jigsaw-button width="350px" (click)="showSuccess()">弹出成功消息框</jigsaw-button>
        <jigsaw-button width="350px" (click)="showError()">弹出错误消息框</jigsaw-button>
        <jigsaw-button width="350px" (click)="showWarn()">弹出警告消息框</jigsaw-button>
        <jigsaw-button width="350px" (click)="showInfo()">弹出消息提示框</jigsaw-button>
        <jigsaw-button width="350px" (click)="showInfo2()">弹出带有自定标题的消息提示框</jigsaw-button>
    </div>
</demo-template>
