<demo-template [data]="''" [text]="text['text']['status']">
    <!-- start to learn the demo from here -->
    <div class="demo-showcase">
        <span>预设状态 + 全默认值</span>
        <jigsaw-icon [status]="'success'" [iconSize]="fontSize"></jigsaw-icon>
        <jigsaw-icon [status]="'warning'" [iconSize]="fontSize"></jigsaw-icon>
        <jigsaw-icon [status]="'error'" [iconSize]="fontSize"></jigsaw-icon>
        <jigsaw-icon [status]="'finish'" [iconSize]="fontSize"></jigsaw-icon>
        <jigsaw-icon [status]="'disabled'" [iconSize]="fontSize"></jigsaw-icon>
        <jigsaw-icon [status]="'process'" [iconSize]="fontSize"></jigsaw-icon>
        <jigsaw-icon [status]="'custom'" [iconSize]="fontSize"></jigsaw-icon>
    </div>
</demo-template>
