<!-- ignore the following lines, they are not important to this demo -->
<jigsaw-demo-description [summary]="summary" [content]="description">
</jigsaw-demo-description>

<!-- start to learn the demo from here -->

<jigsaw-header [level]="1">Transfer(list to list)</jigsaw-header>

<jigsaw-header [level]="2">普通数据</jigsaw-header>
<ul class="demo-options">
    <li class="demo-options-item">
        <span>数据类型：</span>
        <jigsaw-button-bar [(selectedItems)]="selectedDataType" [data]="dataType" (selectedItemsChange)="switchData()"
                           optionWidth=120>
        </jigsaw-button-bar>
    </li>
    <li class="demo-options-item">
        <span>输入数据：</span>
        <jigsaw-button (click)="addItem()">追加一个元素</jigsaw-button>
        <jigsaw-button (click)="removeItem()">删除最后一个元素</jigsaw-button>
        <jigsaw-button [(disabled)]="isArray" (click)="changeDataFromArray()">通过fromArray()更新</jigsaw-button>
        <jigsaw-button [(disabled)]="isArray" (click)="changeDataFromAjax()">通过fromAjax()更新</jigsaw-button>
        <jigsaw-button (click)="clearData()">清空数据</jigsaw-button>
        <jigsaw-button (click)="setSingleItemData()">设置单个数据</jigsaw-button>
    </li>
    <li class="demo-options-item">
        <span>数据重置：</span>
        <jigsaw-button (click)="resetInputData()">重置输入数据</jigsaw-button>
        <jigsaw-button (click)="resetSelectedData()">重置已穿梭数据</jigsaw-button>
        <jigsaw-button (click)="clearSelectedData()">清空已穿梭数据</jigsaw-button>
    </li>
</ul>

<j-transfer width="100%" height="500" [data]="data" [selectedItems]="selectedItems" [sourceRenderer]="sourceRenderer"
            [destRenderer]="targetRenderer" [labelField]="labelField" [subLabelField]="subLabelField" [trackItemBy]="trackItemBy"
            (selectedItemsChange)="selectedItemsChange($event)" (destAddonIconClick)="destIconClick($event)"></j-transfer>
