<div class="live-demo-wrap">
    <h2>Input</h2>
    <div class="demo-1 live-demo">
        <h3>用法</h3>
        <p class="comment"><code>value</code>属性支持双向绑定</p>
        <jigsaw-input [(value)]="demo1InputValue" placeholder="请输入。。。"></jigsaw-input>
        <p class="message">输入值是：<span>{{demo1InputValue}}</span></p>
    </div>

    <div class="demo-2 live-demo">
        <h3>关闭清除功能</h3>
        <jigsaw-input [(value)]="demo2InputValue" [clearable]="false"></jigsaw-input>
    </div>

    <div class="demo-3 live-demo">
        <h3>事件</h3>
        <p class="comment">通过<code>valueChange</code>事件监听value变化</p>
        <jigsaw-input (valueChange)="valueChanged($event)" width="200px"></jigsaw-input>
        <p class="message"></p>
    </div>

    <div class="demo-4 live-demo">
        <h3>获取焦点</h3>
        <jigsaw-button (click)="focusInput()">点击获取焦点</jigsaw-button>
        <jigsaw-input (focus)="focusHandler($event)" #myInput></jigsaw-input>
        <p class="message">{{focusMessage}}</p>
    </div>

    <div class="demo-5 live-demo">
        <h3>加入图标，并有交互</h3>
        <jigsaw-input [(value)]="demo5InputValue" width="30%" placeholder="请输入姓名~">
            <a jigsaw-prefix-icon (click)="iconClickHandler()"><span class="fa fa-search"></span></a>
        </jigsaw-input>
    </div>

</div>





