<!-- ignore the following lines, they are not important to this demo -->
<jigsaw-demo-description [summary]="summary" [content]="description">
</jigsaw-demo-description>

<!-- start to learn the demo from here -->
<div class="upload-auto-upload-demo-cntr">
    <jigsaw-header [level]="1">选择文件后不会自动上传</jigsaw-header>
    <p class="hints">
        <span style="display: flex">提示：uploadImmediately为false时，选中文件后，不会立即执行上传，需要应用自行调用j-upload指令的</span>
        <span>2.禁用自动上传后，通过指令面板的上传按钮，或者调用upload的上传API即可上传。</span>
        <a (click)="clear()">清空所有已上传的文件</a>
    </p>

    <jigsaw-header>指令面板：有宽度高度限制</jigsaw-header>
    <div>
        <a j-upload #first [uploadImmediately]="false">选择文件</a>
        <a style="margin-left: 12px;" (click)="uploader1.upload()">开始上传</a>
    </div>
    <jigsaw-upload-result [uploader]="uploader1" width="200px" height="200px" (change)="onChange('change', $event)"
        (progress)="onChange('progress', $event)" (remove)="onChange('remove', $event)">
    </jigsaw-upload-result>

    <jigsaw-header>指令面板：无宽度高度限制</jigsaw-header>
    <div>
        <a j-upload #second [uploadImmediately]="false">选择文件</a>
        <a style="margin-left: 12px;" (click)="uploader2.upload()">开始上传</a>
    </div>
    <jigsaw-upload-result [uploader]="uploader2" (change)="onChange('change', $event)"
        (progress)="onChange('progress', $event)" (remove)="onChange('remove', $event)">
    </jigsaw-upload-result>

    <jigsaw-header>指令面板：上传按钮</jigsaw-header>
    <div>
        <jigsaw-button j-upload #third [uploadImmediately]="false">选择文件</jigsaw-button>
        <j-button colorType="primary" (click)="uploader3.upload()">开始上传</j-button>
    </div>
    <jigsaw-upload-result [uploader]="uploader3" (change)="onChange('change', $event)"
        (progress)="onChange('progress', $event)" (remove)="onChange('remove', $event)">
    </jigsaw-upload-result>

    <p class="hints">
        提示：这里上传的所有结果都是模拟出来的，包括上传失败和失败的原因都是随机模拟出来的。
    </p>
</div>
