<!-- ignore the following lines, they are not important to this demo -->
<jigsaw-demo-description [summary]="summary" [content]="description">
</jigsaw-demo-description>


<!-- start to learn the demo from here -->
更新姓名列列宽：
<jigsaw-slider (valueChange)="changeWidth($event)"
               [value]="100" min="50" max="250" width="300">
</jigsaw-slider>

职位列是否可编辑：
<jigsaw-switch [checked]="false" (change)="changeEditable($event)"></jigsaw-switch>

<jigsaw-table #table [data]="tableData" [columnDefines]="columns">
</jigsaw-table>
