<!-- ignore the following lines, they are not important to this demo -->
<jigsaw-demo-description [summary]="summary" [content]="description">
</jigsaw-demo-description>


<!-- start to learn the demo from here -->
<div class="live-demo-wrap">
    <h2>饼图</h2>

    <div class="clearfix">
        <div class="live-demo live-demo-block">
            <h3>PieGraphData静态数据</h3>
            <jigsaw-mobile-graph id="test-graph1" [data]="pieGraphData" height="400"></jigsaw-mobile-graph>
        </div>

        <div class="live-demo live-demo-block">
            <h3>PieGraphData异步数据</h3>
            <jigsaw-mobile-graph id="test-graph2" [data]="pieGraphDataFromAjax" height="400"></jigsaw-mobile-graph>
        </div>
    </div>

    <div class="clearfix">
        <div class="live-demo live-demo-block">
            <h3>PieGraphDataByRow静态数据</h3>
            <jigsaw-mobile-graph id="test-graph3" [data]="pieGraphDataByRow" height="400"></jigsaw-mobile-graph>
        </div>

        <div class="live-demo live-demo-block">
            <h3>PieGraphDataByRow异步数据</h3>
            <jigsaw-mobile-graph id="test-graph4" [data]="pieGraphDataByRowFromAjax" height="400"></jigsaw-mobile-graph>
        </div>
    </div>
</div>


