<!-- ignore the following lines, they are not important to this demo -->
<jigsaw-demo-description [summary]="summary" [content]="description">
</jigsaw-demo-description>

<!-- start to learn the demo from here -->
<div class="live-demo-wrap">
    <jigsaw-icon jigsaw-badge [jigsawBadgeValue]="'dot'" jigsawBadgePosition="rightTop"
                 jigsawBadgeSize="normal" jigsawBadgeStatus="critical"
                 [icon]="'fa fa-edit'" [iconSize]="100" title="编辑">
    </jigsaw-icon>

    <jigsaw-icon jigsaw-badge [jigsawBadgeValue]="999" jigsawBadgePosition="right" jigsawBadgeMaxValue="50"
                 [jigsawBadgeStyle]="'solid'" jigsawBadgeStatus="success" (jigsawBadgeClick)="select($event)"
                 jigsawBadgeTitle="aaasds" jigsawBadgeSize="small" [jigsawBadgePointerCursor]="true"
                 title="编辑" [icon]="'fa fa-edit'" [iconSize]="100">
    </jigsaw-icon>

    <jigsaw-icon jigsaw-badge [jigsawBadgeValue]="999" jigsawBadgePosition="right" jigsawBadgeMaxValue="50"
                 [jigsawBadgeStyle]="'none'" jigsawBadgeStatus="warn" jigsawBadgeSize="normal"
                 [icon]="'fa fa-edit'" [iconSize]="100" title="编辑">
    </jigsaw-icon>

    <jigsaw-icon jigsaw-badge [jigsawBadgeValue]="'iconfont iconfont-e8f5'" jigsawBadgePosition="right"
                 jigsawBadgeMaxValue="50" [jigsawBadgeStyle]="'none'" jigsawBadgeSize="large"
                 [icon]="'fa fa-edit'" [iconSize]="100" title="编辑">
    </jigsaw-icon>
    <br>
    <br>
    <br>
    <br>

    <jigsaw-button jigsaw-badge [jigsawBadgeValue]="'dot'" jigsawBadgePosition="rightTop">确定</jigsaw-button>
    <br><br>
    <jigsaw-button jigsaw-badge [jigsawBadgeValue]="'Nice'" jigsawBadgePosition="rightTop" jigsawBadgeSize="small">确定</jigsaw-button>
    <br>
    <br>
    <br>
    <br>

    <jigsaw-switch jigsaw-badge [jigsawBadgeValue]="'dot'" jigsawBadgePosition="rightTop"></jigsaw-switch>
    <br><br>
    <jigsaw-switch jigsaw-badge [jigsawBadgeValue]="'Nice'" jigsawBadgePosition="rightTop" jigsawBadgeSize="small"></jigsaw-switch>
    <br>
    <br>
    <br>
    <br>

    <jigsaw-input jigsaw-badge [jigsawBadgeValue]="'dot'" jigsawBadgePosition="rightTop"></jigsaw-input>
    <br><br>
    <jigsaw-input jigsaw-badge [jigsawBadgeValue]="'Nice'" jigsawBadgePosition="rightTop" jigsawBadgeSize="small"></jigsaw-input>
    <br>
    <br>
    <br>
    <br>

    <jigsaw-checkbox jigsaw-badge [jigsawBadgeValue]="'dot'" jigsawBadgePosition="rightTop">checkbox</jigsaw-checkbox>
    <br><br>
    <jigsaw-checkbox jigsaw-badge [jigsawBadgeValue]="'Nice'" jigsawBadgePosition="rightTop" jigsawBadgeSize="small">checkbox</jigsaw-checkbox>
    <br>
    <br>
    <br>
    <br>

    <jigsaw-button-bar jigsaw-badge [jigsawBadgeValue]="'dot'" jigsawBadgePosition="rightTop"
                       [data]="cities"></jigsaw-button-bar>
    <br><br>
    <jigsaw-button-bar jigsaw-badge [jigsawBadgeValue]="'Nice'" jigsawBadgePosition="rightTop" jigsawBadgeSize="small"
                       [data]="cities"></jigsaw-button-bar>
    <br>
    <br>
    <br>
    <br>

    <jigsaw-radios-lite jigsaw-badge [jigsawBadgeValue]="'dot'" jigsawBadgePosition="rightTop" jigsawBadgeSize="small"
                        [data]="cities"></jigsaw-radios-lite>
    <br><br>
    <jigsaw-radios-lite jigsaw-badge [jigsawBadgeValue]="'Nice'" jigsawBadgePosition="rightTop" jigsawBadgeSize="small"
                        [data]="cities"></jigsaw-radios-lite>
    <br>
    <br>
    <br>
    <br>

    <jigsaw-tile-lite [data]="cities" jigsaw-badge [jigsawBadgeValue]="'dot'"
                      jigsawBadgePosition="rightTop"></jigsaw-tile-lite>
    <br><br>
    <jigsaw-tile-lite [data]="cities" jigsaw-badge [jigsawBadgeValue]="'Nice'" jigsawBadgeSize="small"
                      jigsawBadgePosition="rightTop"></jigsaw-tile-lite>
</div>
