<!-- ignore the following lines, they are not important to this demo -->
<jigsaw-demo-description [summary]="summary" [content]="description">
</jigsaw-demo-description>


<!-- start to learn the demo from here -->
<jigsaw-mobile-tile [(selectedItems)]="selectedCity"
             (selectedItemsChange)="basicSelectChange($event)"
             width="150px" trackItemBy="label">
    <jigsaw-mobile-tile-option *ngFor="let city of cities" [value]="city">
        {{city.label}}
    </jigsaw-mobile-tile-option>
</jigsaw-mobile-tile>

