<!-- ignore the following lines, they are not important to this demo -->
<jigsaw-demo-description [summary]="summary" [content]="description">
</jigsaw-demo-description>

<div class="live-demo-wrap">
    <jigsaw-header [level]="1">Navigation-Menu 导航菜单</jigsaw-header>
    <p style="margin-bottom:8px">更多导航内置主题清请<a href="/#/pc/theme/build-in">参考这个demo</a></p>
    <div style="margin-bottom:8px">
        <span>目标菜单文本：</span>
        <jigsaw-auto-complete-input [data]="[
                '当前告警', '告警监控', '告警统计', '定时导出', '告警同步', '告警提示',
                '历史告警', '告警查询', '通知', '通知监控', '告警设置', '其他设置',
                '标准图标1', '标准图标2', '标准图标3', '标准图标4', '标准图标5', '标准图标6', '标准图标7', '标准图标8'
            ]" [(value)]="selectedMenuLabel">
        </jigsaw-auto-complete-input>
        <a (click)="selectMenu()">选择菜单</a>
        <a (click)="toggleMenuDisabled()">切换菜单禁用状态</a>
    </div>
    <div class="clearfix">
        <div class="live-demo block">
            <jigsaw-header [level]="2">二级子菜单</jigsaw-header>
            <a (click)="updateMenu()">更新菜单数据</a>
            <jigsaw-navigation-menu [data]="data1" (select)="onMenuSelect($event)" width="180" height="100%">
            </jigsaw-navigation-menu>
        </div>

        <div class="live-demo block">
            <jigsaw-header [level]="2">一级菜单</jigsaw-header>
            <jigsaw-navigation-menu style="margin-top:26px" [data]="data2" (select)="onMenuSelect($event)" width="180">
            </jigsaw-navigation-menu>
        </div>

        <div class="live-demo block">
            <jigsaw-header [level]="2">默认折叠</jigsaw-header>
            <a (click)="updateCollapsed()">更改折叠状态</a>
            <jigsaw-navigation-menu [data]="data3" (select)="onMenuSelect($event)" [(collapsed)]="collapsed"
                                    (collapsedChange)="onCollapsedChanged($event)" width="180">
            </jigsaw-navigation-menu>
        </div>

        <div class="live-demo block">
            <jigsaw-header>带徽标</jigsaw-header>
            <a (click)="updateMenu1()">更新徽标数据</a>
            <jigsaw-navigation-menu #menu [data]="data4" width="180" (select)="onMenuSelect($event)">
            </jigsaw-navigation-menu>
        </div>
    </div>
</div>
