<!-- ignore the following lines, they are not important to this demo -->
<jigsaw-demo-description [summary]="summary" [content]="description">
</jigsaw-demo-description>


<!-- start to learn the demo from here -->
<div class="live-demo-wrap">
    <jigsaw-mobile-header [level]="1">List lite</jigsaw-mobile-header>

    <div class="live-demo">
        <jigsaw-mobile-header [level]="2">optionCount</jigsaw-mobile-header>
        <jm-list-lite width="200" [data]="goodsList" labelField="name"
                     (selectedItemsChange)="handleSelect($event)" [optionCount]="4"></jm-list-lite>
        <p class="message">选中的条目是: <span>{{selectedItems}}</span></p>
    </div>
</div>

