$list-prefix-cls: #{$jigsaw-prefix}-list;

.#{$list-prefix-cls} {
    @include inline-block();
    width: 300px;
    border: 1px solid $border-color-base;
    border-radius: $border-radius-base;
    background: $component-background;
    position: relative;
    &.#{$list-prefix-cls}-error {
        border-color: $error-color;
    }

    &-disabled {
        cursor: not-allowed;
        border-color: $border-color-base !important;
        background-color: $disabled-bg;
        width: 100%;
        height: 100%;
        opacity: 0.6;
        position: absolute;
        z-index: 2;
    }
}
