@import "../../assets/scss/core/base";

$option-prefix-cls: #{$jigsaw-prefix}-tile-option;

.#{$option-prefix-cls} {
    @include inline-block();
    width: 50px;
    height: $height-base;
    line-height: $height-base;
    font-size: $font-size-base;
    text-align: center;
    color: $text-color;
    margin: {
        right: 8px;
        bottom: 8px;
    }
    cursor: pointer;
    border: 1px solid $border-color-base;
    border-radius: 4px;
    @include prefixer(transition, (border-color .3s $ease-in-out,color .3s $ease-in-out));
    &:hover, &.#{$option-prefix-cls}-active {
        color: $primary-color;
    }
    &.#{$option-prefix-cls}-active {
        border: 1px solid $primary-color;
    }
    &.#{$option-prefix-cls}-disabled {
        background: $disabled-bg;
        color: $disabled-color;
        cursor: not-allowed;
    }
}
