@import "../../assets/scss/core/base";

$tile-prefix-cls: #{$jigsaw-prefix}-tile;

.#{$tile-prefix-cls} {
    @include inline-block();
    border: 1px solid $border-color-base;
    border-radius: $border-radius-base;
    padding: 8px 0px 0px 8px;
    background: $component-background;
    .#{$tile-prefix-cls}-search {
        margin-bottom: 8px;
        margin-right: 8px;
    }

    &.#{$tile-prefix-cls}-without-border {
        border: none;
    }
}

.#{$tile-prefix-cls}-lite {
    @include inline-block;
}
