@import "../../common/assets/scss/core/base";

$page-prefix-cls: #{$jigsaw-prefix}-page;

.#{$page-prefix-cls}-item {
    @include inline-block();
    margin-right: 8px;
    vertical-align: top;
    span {
        @include inline-block();
        width: $height-base;
        height: $height-base;
        line-height: $height-base;
        font-size: $font-size-base;
        text-align: center;
        border-width: 1px;
        border-style: solid;
        border-color: $border-color-default;
        border-radius: $border-radius-sm;
        cursor: pointer;
        vertical-align: top;
        @include prefixer(transition, all 0.3s ease);
        &:hover {
            border-color: $brand-default;
            color: $brand-default;
        }
    }
    &.#{$page-prefix-cls}-current span {
        background: $brand-light;
        border: 1px solid $brand-default;
        color: $brand-default;
    }
    &.#{$page-prefix-cls}-hidden {
        display: none;
    }
    i {
        @include inline-block();
        width: $height-base;
        height: $height-base;
        cursor: pointer;
        &:after {
            display: block;
            content: ". . .";
            font-weight: 700;
            font-size: 14px;
            color: #bbbbbb;
            line-height: 21px;
            text-align: center;
        }
        &.#{$page-prefix-cls}-prevs {
            margin-left: 8px;
        }
        &.#{$page-prefix-cls}-nexts {
            margin-right: 8px;
        }
        &:hover {
            &.#{$page-prefix-cls}-prevs:after {
                content: "<<";
                line-height: $height-base;
            }
            &.#{$page-prefix-cls}-nexts:after {
                content: ">>";
                line-height: $height-base;
            }
        }
    }
}
