<ng-container [ngSwitch]="mode">
    <ng-container *ngSwitchDefault>
        <jigsaw-input class="jigsaw-paging-search" *ngIf="searchable" width="160" [(value)]="_$searchKey"
                      [placeholder]="placeholder" (valueChange)="_$searchKeyChange($event)"
                      (keydown.enter)="_$enterSearch($event)">
            <span jigsaw-prefix-icon class="iconfont iconfont-ea03"></span>
        </jigsaw-input>

        <div class="jigsaw-paging-prev jigsaw-paging-page iconfont iconfont-e02c"
             [class.jigsaw-paging-disabled]="_$prevDisabled" (click)="_goto(1)">
        </div>
        <div class="jigsaw-paging-prev jigsaw-paging-page iconfont iconfont-e02e"
             [class.jigsaw-paging-disabled]="_$prevDisabled" (click)="_$pagePrev()">
        </div>
        <jigsaw-paging-item *ngFor="let pageNumber of _$pageNumbers" [pageNumber]="pageNumber">
        </jigsaw-paging-item>
        <div class="jigsaw-paging-next jigsaw-paging-page iconfont iconfont-e02f"
             [class.jigsaw-paging-disabled]="_$nextDisabled" (click)="_$pageNext()">
        </div>
        <div class="jigsaw-paging-next jigsaw-paging-page iconfont iconfont-e02d"
             [class.jigsaw-paging-disabled]="_$nextDisabled" (click)="_goto(data?.pagingInfo?.totalPage)">
        </div>

        <jigsaw-select *ngIf="pageSizeOptions && pageSizeOptions.length > 0"
                       [value]="_$pageSize"
                       (valueChange)="_changePageSize($event)"
                       trackItemBy="value"
                       labelField="label"
                       width="80"
                       [data]="pageSizeOptions">
        </jigsaw-select>

        <div class="jigsaw-paging-goto" *ngIf="showQuickJumper">
            <span>{{'pagination.goto' | translate}}</span>
            <jigsaw-input #input (keyup.enter)="_goto(input.value)" (blur)="_goto(input.value)" width="60">
            </jigsaw-input>
        </div>
    </ng-container>
    <ng-container *ngSwitchCase="'simple'">
        <jigsaw-input class="jigsaw-paging-search" *ngIf="searchable" width="100" height="22"
                      [placeholder]="placeholder" (valueChange)="search.emit($event)">
            <span jigsaw-prefix-icon class="iconfont iconfont-ea03"></span>
        </jigsaw-input>
        <div class="jigsaw-paging-prev jigsaw-paging-page iconfont iconfont-e02c"
             [class.jigsaw-paging-disabled]="_$prevDisabled" (click)="_goto(1)">
        </div>
        <div class="jigsaw-paging-prev jigsaw-paging-page iconfont iconfont-e02e"
             [class.jigsaw-paging-disabled]="_$prevDisabled" (click)="_$pagePrev()">
        </div>
        <jigsaw-input class="jigsaw-paging-current-page" #input [value]="current" (keyup.enter)="_goto(input.value)"
                      width="50" height="22" (blur)="_goto(input.value)" [clearable]="false">
        </jigsaw-input>
        <span class="jigsaw-paging-total-page-number">&nbsp;/&nbsp;&nbsp;{{data?.pagingInfo?.totalPage}}</span>
        <div class="jigsaw-paging-next jigsaw-paging-page iconfont iconfont-e02f"
             [class.jigsaw-paging-disabled]="_$nextDisabled" (click)="_$pageNext()">
        </div>
        <div class="jigsaw-paging-next jigsaw-paging-page iconfont iconfont-e02d"
             [class.jigsaw-paging-disabled]="_$nextDisabled" (click)="_goto(data?.pagingInfo?.totalPage)">
        </div>
        <jigsaw-select *ngIf="pageSizeOptions && pageSizeOptions.length > 0"
                       class="jigsaw-paging-page-size"
                       [value]="_$pageSize"
                       (valueChange)="_changePageSize($event)"
                       trackItemBy="value"
                       labelField="label"
                       width="80"
                       maxHeight="22"
                       [data]="pageSizeOptions">
        </jigsaw-select>
    </ng-container>
</ng-container>


