$jigsaw-paging: #{$jigsaw-prefix}-paging;
$jigsaw-input: #{$jigsaw-prefix}-input;
$jigsaw-auto-complete-input: #{$jigsaw-prefix}-auto-complete-input;

.#{$jigsaw-paging}-small {
    --height-paging: #{$height-sm};
}

.#{$jigsaw-paging}-medium {
    height: $height-med;
    --height-paging: #{$height-med};
}

.#{$jigsaw-paging}-large {
    --height-paging: #{$height-base};
}

.#{$jigsaw-paging}-host {
    display: inline-flex;
    align-items: center;
    color: $font-color-default;
    font-size: $font-size-base;
    user-select: none;

    .#{$jigsaw-paging}-page {
        position: relative;
        @include inline-block;
        width: var(--height-paging);
        height: var(--height-paging);
        line-height: var(--height-paging);
        text-align: center;
        border-width: 1px;
        border-style: solid;
        border-color: $border-color-default;
        border-radius: $border-radius-sm;
        margin-right: 8px;
        cursor: pointer;
        vertical-align: top;
        @include prefixer(transition, all 0.3s ease);

        &.#{$jigsaw-paging}-prev,
        &.#{$jigsaw-paging}-next {
            font-size: $icon-size-sm;
        }

        &.#{$jigsaw-paging}-disabled {
            border-color: $border-color-disabled;
            color: $font-color-disabled;
            cursor: not-allowed;

            &:hover {
                border-color: $border-color-disabled;
                color: $font-color-disabled;
            }
        }

        &:hover {
            border-color: $brand-hover;
            color: $brand-default;
        }
    }

    .#{$jigsaw-paging}-left {
        &:before {
            content: "\f104";
        }
    }

    .#{$jigsaw-paging}-right {
        &:before {
            content: "\f105";
        }
    }

    jigsaw-select {
        margin-right: 8px;
    }

    .#{$jigsaw-paging}-goto {
        display: inline-flex;
        align-items: center;
        height: var(--height-paging);

        jigsaw-input {
            width: var(--height-paging);
            height: var(--height-paging);
        }

        > span:first-of-type {
            margin-right: 4px;
        }

        > span:last-of-type {
            margin-left: 4px;
        }
    }

    .#{$jigsaw-paging}-search {
        margin-right: 8px;
        height: var(--height-paging);

        .#{$jigsaw-auto-complete-input}-host {
            height: var(--height-paging);
            
            .#{$jigsaw-input}-host {
                height: var(--height-paging);
            }
        }
    }

    .#{$jigsaw-paging}-total-page,
    .#{$jigsaw-paging}-total-record {
        margin-right: 8px;
    }

    .#{$jigsaw-paging}-page-size {
        height: var(--height-paging);
        .#{$jigsaw-prefix}-combo-select-host {
            height: var(--height-paging);
            .#{$jigsaw-prefix}-combo-select {
                height: var(--height-paging);
                .#{$jigsaw-prefix}-combo-select-selection {
                    height: 100%;
                    min-height: unset;
                    padding: 0 8px;

                    .#{$jigsaw-prefix}-combo-select-selection-rendered {
                        display: flex;
                        align-items: center;
                        padding: 0;
                        min-height: unset;
                        height: 100%;

                        .#{$jigsaw-prefix}-tag-host {
                            margin: 0;
                        }
                    }
                }
            }
        }
    }

    &.#{$jigsaw-paging}-simple {
        .#{$jigsaw-paging}-page {
            height: var(--height-paging);
            line-height: var(--height-paging);
            border: none;
            font-size: 16px;
            width: 12px;
            margin-right: 8px;
        }

        .#{$jigsaw-paging}-total-page-number {
            vertical-align: middle;
            margin-right: 4px;
        }

        .#{$jigsaw-paging}-current-page {
            margin: 0 4px;
            vertical-align: middle;
            height: var(--height-paging);

            input {
                text-align: center;
                padding: 0 2px !important;
            }
        }

        jigsaw-select {
            margin-left: 8px;
        }
    }
}
