@import "../../common/assets/scss/core/base";

$paging-prefix-cls: #{$jigsaw-prefix}-paging;
$jigsaw-input: #{$jigsaw-prefix}-input;

.#{$paging-prefix-cls}-small {
    --height-paging: #{$height-sm};
}

.#{$paging-prefix-cls}-medium {
    height: $height-med;
    --height-paging: #{$height-med};
}

.#{$paging-prefix-cls}-large {
    --height-paging: #{$height-base};
}

.#{$paging-prefix-cls} {
    @include inline-block();

    font-size: $font-size-base;
    user-select: none;

    &-page {
        position: relative;
        @include inline-block;
        width: var(--height-paging);
        height: var(--height-paging);
        line-height: var(--height-paging);
        text-align: center;
        border-width: 1px;
        border-style: solid;
        border-color: $border-color-default;
        border-radius: $border-radius-sm;
        margin-right: 8px;
        cursor: pointer;
        vertical-align: top;
        @include prefixer(transition, all 0.3s ease);

        &.#{$paging-prefix-cls}-prev,
        &.#{$paging-prefix-cls}-next {
            font-size: $icon-size-sm;
        }

        &.#{$paging-prefix-cls}-disabled {
            border-color: $border-color-disabled;
            color: $font-color-disabled;
            cursor: not-allowed;

            &:hover {
                border-color: $border-color-disabled;
                color: $font-color-disabled;
            }
        }

        &:hover {
            border-color: $brand-hover;
            color: $brand-default;
        }
    }

    &-left {
        &:before {
            content: "\f104";
        }
    }

    &-right {
        &:before {
            content: "\f105";
        }
    }

    jigsaw-select {
        margin-right: 8px;
    }

    &-goto {
        display: inline-flex;
        align-items: center;
        height: var(--height-paging);

        jigsaw-input {
            width: var(--height-paging);
            height: var(--height-paging);
        }

        > span:first-of-type {
            margin-right: 4px;
        }

        > span:last-of-type {
            margin-left: 4px;
        }
    }

    &-search {
        height: var(--height-paging);

        .#{$jigsaw-input} {
            height: var(--height-paging);
        }
    }

    &-page-size {
        height: var(--height-paging);
        .#{$jigsaw-prefix}-combo-select-host {
            height: var(--height-paging);
            .#{$jigsaw-prefix}-combo-select {
                height: var(--height-paging);
                .#{$jigsaw-prefix}-combo-select-selection {
                    height: 100%;
                    min-height: unset;
                    padding: 0 8px;

                    .#{$jigsaw-prefix}-combo-select-selection-rendered {
                        display: flex;
                        align-items: center;
                        padding: 0;
                        min-height: unset;
                        height: 100%;

                        .#{$jigsaw-prefix}-tag-host {
                            margin: 0;
                        }
                    }
                }
            }
        }
    }

    &.#{$paging-prefix-cls}-simple {
        &:before {
            content: "";
            display: inline-block;
            vertical-align: middle;
            height: var(--height-paging);
        }

        .#{$paging-prefix-cls}-page {
            height: var(--height-paging);
            line-height: var(--height-paging);
            border: none;
            font-size: 16px;
            width: 12px;
            margin-right: 8px;
        }

        .#{$paging-prefix-cls}-total-page-number {
            vertical-align: middle;
            margin-right: 4px;
        }

        .#{$paging-prefix-cls}-current-page {
            margin: 0 4px;
            vertical-align: middle;
            height: var(--height-paging);

            input {
                text-align: center;
                padding: 0 2px !important;
            }
        }

        jigsaw-select {
            margin-left: 8px;
        }
    }
}
