<ng-container [ngSwitch]="mode">
    <ng-container *ngSwitchDefault>
        <div *ngIf="showTotalRecord" class="jigsaw-paging-total-record">{{'pagination.showTotalRecord' | translate:{number: _$totalRecord} }}</div>
        <jigsaw-search-input [theme]="theme" class="jigsaw-paging-search" *ngIf="searchable" width="160"
                             (search)="_$searchEvent($event)" [searchDebounce]="searchDebounce"
                             [autoSearch]="autoSearch">
        </jigsaw-search-input>
        <div *ngIf="mode == 'complex'" class="jigsaw-paging-prev jigsaw-paging-page iconfont iconfont-e1e0"
             [class.jigsaw-paging-disabled]="_$prevDisabled" (click)="!_$prevDisabled && _goto(1)">
        </div>
        <div class="jigsaw-paging-prev jigsaw-paging-page iconfont iconfont-e143"
             [class.jigsaw-paging-disabled]="_$prevDisabled" (click)="!_$prevDisabled && _$pagePrev()">
        </div>
        <jigsaw-paging-item *ngFor="let pageNumber of _$pageNums" [theme]="theme" [pageNumber]="pageNumber">
        </jigsaw-paging-item>
        <div class="jigsaw-paging-next jigsaw-paging-page iconfont iconfont-e144"
             [class.jigsaw-paging-disabled]="_$nextDisabled" (click)="!_$nextDisabled && _$pageNext()">
        </div>
        <div *ngIf="mode == 'complex'" class="jigsaw-paging-next jigsaw-paging-page iconfont iconfont-e25f"
             [class.jigsaw-paging-disabled]="_$nextDisabled" (click)="!_$nextDisabled && _goto(data?.pagingInfo?.totalPage)">
        </div>

        <jigsaw-select *ngIf="pageSizeOptions && pageSizeOptions.length > 0"
                       [theme]="theme"
                       [value]="_$pageSize"
                       (valueChange)="_$changePageSize($event)"
                       [trackItemBy]="['value','label']"
                       labelField="label"
                       [width]="_$selectWidth"
                       [data]="pageSizeOptions"
                       class="jigsaw-paging-page-size"
                       [disabled]="!pageSize || data?.pagingInfo?.autoPageSizing">
        </jigsaw-select>

        <div class="jigsaw-paging-goto" *ngIf="showQuickJumper">
            <span>{{'pagination.goto' | translate}}</span>
            <jigsaw-input #input [theme]="theme" (keyup.enter)="_goto(input.value)" (blur)="_goto(input.value)" width="60">
            </jigsaw-input>
            <span>{{'pagination.page2' | translate}}</span>
        </div>
    </ng-container>
    <ng-container *ngSwitchCase="'simple'">
        <div *ngIf="showTotalRecord" class="jigsaw-paging-total-record">{{'pagination.showTotalRecord' | translate:{number: _$totalRecord} }}</div>
        <jigsaw-search-input [theme]="theme" class="jigsaw-paging-search" *ngIf="searchable" width="100"
                             (search)="_$searchEvent($event)" [searchDebounce]="searchDebounce"
                             [autoSearch]="autoSearch">
        </jigsaw-search-input>
        <div class="jigsaw-paging-prev jigsaw-paging-page iconfont iconfont-e1e0"
             [class.jigsaw-paging-disabled]="_$prevDisabled" (click)="!_$prevDisabled && _goto(1)">
        </div>
        <div class="jigsaw-paging-prev jigsaw-paging-page iconfont iconfont-e143"
             [class.jigsaw-paging-disabled]="_$prevDisabled" (click)="!_$prevDisabled && _$pagePrev()">
        </div>
        <jigsaw-input [theme]="theme" class="jigsaw-paging-current-page" #input [value]="current" (keyup.enter)="_goto(input.value)"
                      width="50" (blur)="_goto(input.value)" [clearable]="false">
        </jigsaw-input>
        <span class="jigsaw-paging-total-page-number">&nbsp;/&nbsp;&nbsp;{{data?.pagingInfo?.totalPage}}</span>
        <div class="jigsaw-paging-next jigsaw-paging-page iconfont iconfont-e144"
             [class.jigsaw-paging-disabled]="_$nextDisabled" (click)="!_$nextDisabled && _$pageNext()">
        </div>
        <div class="jigsaw-paging-next jigsaw-paging-page iconfont iconfont-e25f"
             [class.jigsaw-paging-disabled]="_$nextDisabled" (click)="!_$nextDisabled && _goto(data?.pagingInfo?.totalPage)">
        </div>
        <jigsaw-select *ngIf="pageSizeOptions && pageSizeOptions.length > 0"
                       class="jigsaw-paging-page-size"
                       [theme]="theme"
                       [value]="_$pageSize"
                       (valueChange)="_$changePageSize($event)"
                       [trackItemBy]="['value','label']"
                       labelField="label"
                       [width]="_$selectWidth"
                       [data]="pageSizeOptions"
                       [disabled]="!pageSize || data?.pagingInfo?.autoPageSizing">
        </jigsaw-select>
    </ng-container>
</ng-container>


