<!-- ignore the following lines, they are not important to this demo -->
<jigsaw-demo-description [summary]="summary" [content]="description">
</jigsaw-demo-description>


<!-- start to learn the demo from here -->
<div class="live-demo-wrap">
    <jigsaw-header [level]="1">Date Time Select</jigsaw-header>
    <div class="demo-1 live-demo">
        <jigsaw-header [level]="2">gr</jigsaw-header>
        <p class="comment"></p>
        <p>如下粒度（Gr）值支持日期和时间同时选择：</p>
        <jigsaw-button-bar [data]="['date','week','month', 'hour', 'minute', 'second']" [(selectedItems)]="gr"></jigsaw-button-bar><br><br>
        <jigsaw-date-time-select [(date)]="date1" [gr]="gr[0]" (dateChange)="onDateChange($event)" width="150"></jigsaw-date-time-select>
        <br>
        <p class="message">选择的时间是：{{date1 | json}}</p>
    </div>

    <div class="demo-2 live-demo">
        <jigsaw-header [level]="2">gr-items</jigsaw-header>
        <jigsaw-date-time-select [(date)]="date2" [grItems]="grItems" (dateChange)="onDateChange($event)"></jigsaw-date-time-select>
        <br>
        <p class="message">选择的时间是：{{date2 | json}}</p>
    </div>

    <div class="demo-3 live-demo">
        <jigsaw-header [level]="2">limit</jigsaw-header>
        <p class="comment">limit采用宏的时候，会实时根据宏计算limit时间，并设置5分钟的误差，即宏时间往前5分钟作为limitStart，往后5分钟作为limitEnd</p>
        <div class="toggle up">
            <label>limitStart: </label>
            <j-radios [(value)]="limitStart">
                <j-radio-option *ngFor="let item of limitStartList" [value]="item">{{item}}</j-radio-option>
            </j-radios>
            <br>
            <label>limitEnd: </label>
            <j-radios [(value)]="limitEnd">
                <j-radio-option *ngFor="let item of limitEndList" [value]="item">{{item}}</j-radio-option>
            </j-radios>
        </div>
        <jigsaw-date-time-select [(date)]="date3" gr="second" [limitStart]="limitStart" [limitEnd]="limitEnd"></jigsaw-date-time-select>
        <br>
        <p class="message">选择的时间是：{{date3 | json}}</p>
    </div>

    <div class="demo-4 live-demo">
        <jigsaw-header [level]="2">mark</jigsaw-header>
        <jigsaw-date-time-select [(date)]="date4" [markDates]="markDates"></jigsaw-date-time-select>
        <br>
        <p class="message">选择的时间是：{{date4 | json}}</p>
    </div>

    <div class="demo-5 live-demo">
        <jigsaw-header [level]="2">step</jigsaw-header>
        <jigsaw-date-time-select [(date)]="date5" gr="second" [step]="5" (dateChange)="onDateChange($event)"></jigsaw-date-time-select>
        <br>
        <p class="message">选择的时间是：{{date5 | json}}</p>
    </div>

    <div class="demo-6 live-demo">
        <jigsaw-header [level]="2">disabled</jigsaw-header>
        <jigsaw-switch [(checked)]="disabled" onLabel="disable" offLabel="enable"></jigsaw-switch>
        <br><br>
        <jigsaw-date-time-select [disabled]="disabled"></jigsaw-date-time-select>
    </div>

    <div class="demo-7 live-demo">
        <jigsaw-header [level]="2">valid</jigsaw-header>
        <jigsaw-switch [(checked)]="valid" onLabel="valid" offLabel="inValid"></jigsaw-switch>
        <br><br>
        <jigsaw-date-time-select [valid]="valid"></jigsaw-date-time-select>
    </div>

    <div class="demo-8 live-demo">
        <jigsaw-header [level]="2">First Day of Week and First Week of Year</jigsaw-header>
        <p>First Day of Week: </p>
        <jigsaw-button-bar [data]="['sun', 'mon', 'tue', 'wed', 'thu', 'fri', 'sat']" [(selectedItems)]="weekStart"></jigsaw-button-bar><br><br>
        <p>First Week of Year: </p>
        <jigsaw-button-bar [data]="[1, 2, 3, 4, 5, 6]" [(selectedItems)]="janX"></jigsaw-button-bar><br><br>
        <jigsaw-date-time-select [(date)]="date8" [weekStart]="weekStart[0]" [firstWeekMustContains]="janX[0]" gr="week" (dateChange)="onDateChange($event)"></jigsaw-date-time-select>
        <br>
        <p class="message">选择的时间是：{{date8 | json}}</p>
    </div>

    <div class="demo-9 live-demo">
        <jigsaw-header [level]="2">同时修改多个属性</jigsaw-header>
        <p class="comment"></p>
        <j-select [data]="['date', 'week', 'month']" (valueChange)="changeProp($event)"></j-select>
        <jigsaw-date-time-select [(date)]="date9" [gr]="gr9" [limitEnd]="limitEnd9" (dateChange)="onDateChange($event)"></jigsaw-date-time-select>
        <br>
        <p class="message">选择的时间是：{{date9 | json}}</p>
    </div>

    <div class="demo-10 live-demo">
        <jigsaw-header [level]="2">异步设置数据</jigsaw-header>
        <jigsaw-date-time-select [(date)]="date10" [gr]="'week'" (dateChange)="onDateChange($event)" width="150"></jigsaw-date-time-select>
        <br>
        <p class="message">选择的时间是：{{date10 | json}}</p>
    </div>

    <div class="demo-11 live-demo">
        <jigsaw-header [level]="2">下拉时间框宽度设置较长</jigsaw-header>
        <jigsaw-date-time-select [(date)]="date11" [gr]="'week'" (dateChange)="onDateChange($event)" width="250"></jigsaw-date-time-select>
        <p class="message">选择的时间是：{{date11 | json}}</p>
    </div>

    <div class="demo-12 live-demo">
        <jigsaw-header [level]="2">clearable</jigsaw-header>
        <jigsaw-switch [(checked)]="clearable"></jigsaw-switch>
        <div></div>
        <jigsaw-date-time-select [clearable]="clearable" gr="second" (dateChange)="onDateChange($event)"></jigsaw-date-time-select>
    </div>
</div>