.menu-demo-cntr .menu {
    display: inline-block;
    border: 1px solid #999;
    padding: 2px 10px;
    border-radius: 3px;
    cursor: pointer;
}

.menu-demo-cntr .message,
.breadcrumb-demo-cntr .message,
.fish-bone-demo-cntr .message,
.navigation-demo-cntr .message {
    margin-bottom: 12px;
}

.fish-bone-demo-cntr .jigsaw-fish-bone.jigsaw-fish-bone-light .jigsaw-table-host table {
    background: #fff;
}

.fish-bone-demo-cntr .jigsaw-fish-bone.jigsaw-fish-bone-light table td {
    color: #4d4d4d;
    border-color: #d9d9d9;
}

.fish-bone-demo-cntr .jigsaw-fish-bone.jigsaw-fish-bone-light table thead {
    color: #4d4d4d;
}

.fish-bone-demo-cntr .jigsaw-fish-bone.jigsaw-fish-bone-light table thead tr td {
    background: #eeeeee;
}

.fish-bone-demo-cntr .jigsaw-fish-bone.jigsaw-fish-bone-light table tbody tr:hover td:not([rowspan]) {
    background: #e6f5ff;
}

.fish-bone-demo-cntr .jigsaw-fish-bone.jigsaw-fish-bone-dark table {
    background: #22242e;
}

.fish-bone-demo-cntr .jigsaw-fish-bone.jigsaw-fish-bone-dark table td {
    color: #d9d9d9;
    border-color: #323543;
}

.fish-bone-demo-cntr .jigsaw-fish-bone.jigsaw-fish-bone-dark table thead {
    color: #d9d9d9;
}

.fish-bone-demo-cntr .jigsaw-fish-bone.jigsaw-fish-bone-dark table thead tr td {
    background: #22242e;
}

.fish-bone-demo-cntr .jigsaw-fish-bone.jigsaw-fish-bone-dark table tbody tr:hover td:not([rowspan]) {
    background: #2a2c38;
}

