<!-- ignore the following lines, they are not important to this demo -->
<jigsaw-demo-description [summary]="summary" [content]="description">
</jigsaw-demo-description>


<!-- start to learn the demo from here -->
<button (click)="addGraph()">add more graph</button>
<div style="width: 1000px;height: 600px" jigsaw-graph-download
     [jigsawGraphDownloadExportFileName]="'graph'"
     [jigsawGraphDownloadTooltip]="'download graphs'">
    <jigsaw-graph [data]="data" width="50%" (click)="handleClick($event)"></jigsaw-graph>
    <div>
        <div>
            <jigsaw-graph *ngFor="let i of graphs" [data]="data" width="50%" (click)="handleClick($event)">
            </jigsaw-graph>
        </div>
    </div>
</div>


