<!-- ignore the following lines, they are not important to this demo -->
<jigsaw-demo-description [summary]="summary" [content]="description">
</jigsaw-demo-description>


<!-- start to learn the demo from here -->
<div class="live-demo-wrap">
    <jigsaw-header [level]="1">Radio</jigsaw-header>
    <div class="demo-1 live-demo">
        <jigsaw-header [level]="2">单选与取消单选</jigsaw-header>
        <p class="comment">
            通过点击无法取消单选，通过设置<code>value</code>可以<a (click)="clearSelectedCity()">取消单选</a>。
        </p>

        <jigsaw-radios-lite [(value)]="selectedCity" (valueChange)="radioChange($event)" [data]="cities">
        </jigsaw-radios-lite>
        <p class="message">{{selectedCity}}</p>


        <jigsaw-header [level]="2">包含空白字符串的情况</jigsaw-header>
        <jigsaw-radios-lite [data]="['', {label: ''}, {label: ''}]">
        </jigsaw-radios-lite>
    </div>
</div>

