@import "../../assets/scss/core/_basc";

:host {
    @include inline-block();
    width: 80px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    position: relative;
    background: $blue;
    border-radius: 3px;
    color: $white;
    cursor: pointer;
    box-shadow: 4px 4px 6px $gray;
    user-select: none;
    @include prefixer(transition, all .3s cubic-bezier(0.645, 0.045, 0.355, 1));
    &:hover {
        background: $blue-light;
        color: $white;
    }
    &.am-running:after {
        content: '';
        position: absolute;
        top: -1px;
        left: -1px;
        bottom: -1px;
        right: -1px;
        border-radius: inherit;
        border: 0 solid $blue-light;
        opacity: 0.4;
        @include prefixer(animation, buttonEffect 0.36s ease-out forwards);
        display: block;
    }
    .icon-box {
        @include inline-block();
        vertical-align: -5px;
        /deep/ img {
            vertical-align: top;
            height: 20px;
        }
    }
}

:host(a){
    padding: 0;
    border: none;
    outline: none;
    text-decoration: none !important;
    &:active, &:visited, &:link, &:focus{
        color: $white;
    }
}

:host(.disabled) {
    pointer-events: none;
    background: $gray-dark !important;
}

:host-context(.theme-blue) :host {
    background: $blue;
    &:hover {
        background: $blue-light;
    }
    &.btn-clicked:after {
        border: 0 solid $blue-light;
    }
}

:host-context(.theme-orange) :host {
    background: $orange;
    &:hover {
        background: $orange-light;
    }
    &.btn-clicked:after {
        border: 0 solid $orange-light;
    }
}

@include keyframes(buttonEffect) {
    to {
        opacity: 0;
        top: -6px;
        left: -6px;
        bottom: -6px;
        right: -6px;
        border-width: 6px;
    }
}
