@import "../../assets/scss/core/basc";

$select-prefix-cls: #{$rdk-prefix}-tile-select;

:host {
    @include inline-block();
    width: 100%;
    .#{$select-prefix-cls}-search {
        margin-bottom: 8px;
    }
}


