<div class="demo-top-menu">
  <a routerLink="/home"><img src="app/for-external/assets/img/zte-logo.png" alt="UED"></a>
  <nav>
    <ul class="nav-tabs">
      <li><a routerLink="/home" routerLinkActive="active">首页</a></li>
      <li><a routerLink="/components" routerLinkActive="active">组件</a></li>
      <li><a routerLink="/designs" routerLinkActive="active">规范</a></li>
      <li><a href="https://rdk.zte.com.cn:8080" target="_blank">RDK</a></li>
      <li><a href="https://rdk.zte.com.cn/vmax-studio/awade/" target="_blank">Awade</a></li>
    </ul>
  </nav>
  <div class="theme-select">
    <jigsaw-group-select [data]="themeData" [selectListPositionType]="positionType" placeholder="选择皮肤" width="140px" (valueChange)="themeChange($event)">
    </jigsaw-group-select>
  </div>
</div>