.demo-top-menu {
  display: flex;
  width: 100%;
  background: var(--bg-body);

  nav {
    flex: 1;
    margin-left: 50px;

    ul.nav-tabs {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      border-bottom: none;

      &>li {
        position: relative;

        a {
          display: inline-flex;
          justify-content: center;
          align-items: center;
          width: 100px;
          height: 60px;
          font-size: 14px;
          color: inherit;
          margin-right: 0;
          border: none;

          &.active {
            border: none;
            border-bottom: 4px solid #288bf0;
            font-size: 16px;
            font-weight: bold;
          }
        }
      }
    }
  }
}