<!-- ignore the following lines, they are not important to this demo -->
<jigsaw-demo-description [summary]="summary" [content]="description">
</jigsaw-demo-description>


<!-- start to learn the demo from here -->
<div class="live-demo-wrap">
    <h2>Select</h2>
    <div class="live-demo">
        <h3>清除功能</h3>
        <jigsaw-select [(value)]="selectedCityForSelect" (valueChange)="selectChange($event)"
                       placeholder="请选择城市" [data]="cityList" [clearable]="true">
        </jigsaw-select>
        <p class="message">选择的城市是 <span>{{selectedCityForSelect}}</span></p>
    </div>
</div>
