<demo-template [data]="''" [text]="doc.text.textFollow" [codes]="doc.codes.textFollow">
    <div style="margin-top:20px">
        <j-progress [value]="progressValue" width="100%" preSize="large" [animate]="false"
                    labelPosition="followRight" [showMarker]="true"></j-progress>
        <br><br>
        <j-progress [value]="progressValue" width="100%" preSize="large" [animate]="false" status="block"
                    labelPosition="followRight" [showMarker]="true"></j-progress>
        <br><br>
        <j-progress [value]="progressValue" width="100%" preSize="large" [animate]="false"
                    labelPosition="followLeft" [showMarker]="true"></j-progress>
        <br><br>
        <j-progress [value]="progressValue" width="100%" preSize="large" [animate]="false" status="error"
                    labelPosition="followLeft" [showMarker]="true"></j-progress>
        <br><br>
    </div>
</demo-template>
