<!-- ignore the following lines, they are not important to this demo -->
<jigsaw-demo-description [summary]="summary" [content]="description">
</jigsaw-demo-description>

<div class="live-demo-wrap">
    <jigsaw-header [level]="1">页面内嵌菜单</jigsaw-header>

    <div class="clearfix">
        <div class="demo-1 live-demo live-demo-block">
            <jigsaw-header [level]="2">一级菜单</jigsaw-header>
            <jigsaw-navigation-menu #menu1 [data]="data1" (select)="menuSelect($event)" [showToggleButton]="false"
                                    style="border: 1px solid #dcdcdc"></jigsaw-navigation-menu>
        </div>
        <div class="demo-2 live-demo live-demo-block">
            <jigsaw-header [level]="2">抽屉中使用的一级菜单</jigsaw-header>
            <j-drawer [floating]="false" [open]="true" height="196" width="216">
                <jigsaw-navigation-menu [data]="data2" (select)="menuSelect($event)" [showToggleButton]="false"></jigsaw-navigation-menu>
            </j-drawer>
        </div>
    </div>

    <div class="clearfix">

        <div class="demo-3 live-demo live-demo-block">
            <jigsaw-header [level]="2">二级子菜单</jigsaw-header>
            <jigsaw-navigation-menu [data]="data3" (select)="menuSelect($event)" height="300" [showToggleButton]="false"
                                    style="border: 1px solid #dcdcdc"></jigsaw-navigation-menu>
        </div>

        <div class="demo-4 live-demo live-demo-block">
            <jigsaw-header [level]="2">抽屉中使用的二级子菜单</jigsaw-header>
            <j-drawer [floating]="false" [open]="true" height="302" width="216">
                <jigsaw-navigation-menu [data]="data4" (select)="menuSelect($event)" [showToggleButton]="false"
                                        height="300"></jigsaw-navigation-menu>
            </j-drawer>
        </div>
    </div>

    <div class="clearfix">

        <div class="demo-3 live-demo live-demo-block">
            <jigsaw-header [level]="2">数据含有XML保留字符</jigsaw-header>
            <jigsaw-navigation-menu [data]="data5" (select)="menuSelect($event)" height="300" [showToggleButton]="false"
                                    style="border: 1px solid #dcdcdc"></jigsaw-navigation-menu>
        </div>

        <div class="demo-4 live-demo live-demo-block">
            <jigsaw-header [level]="2">抽屉中数据含有XML保留字符</jigsaw-header>
            <j-drawer [floating]="false" [open]="true" height="302" width="216">
                <jigsaw-navigation-menu [data]="data6" (select)="menuSelect($event)" [showToggleButton]="false"
                                        height="300"></jigsaw-navigation-menu>
            </j-drawer>
        </div>
    </div>

</div>
