<!-- ignore the following lines, they are not important to this demo -->
<jigsaw-demo-description [summary]="summary" [content]="description">
</jigsaw-demo-description>

<div class="demo-handler">
    <jigsaw-button width="75%" colorType="primary" (click)="updateStyleOptions()">更新</jigsaw-button>
    <jigsaw-button width="11%" colorType="default" (click)="resetStyleOptions()">重置</jigsaw-button>
    <jigsaw-button width="11%" colorType="error" (click)="removeStyleOptions()">清空</jigsaw-button>
</div>
<div class="demo-options-cntr">
    <jigsaw-header>表格样式</jigsaw-header>
    <ul class="demo-options">
        <li class="demo-options-item">
            <span>背景色：</span>
            <jigsaw-input width="400px" [(value)]="styleOptions.hostStyle.background"></jigsaw-input>
            <jigsaw-button (click)="styleOptions.hostStyle.background = 'var(--brand-default)'">
                颜色变量
            </jigsaw-button>
            <jigsaw-button (click)="styleOptions.hostStyle.background = '#000000'">
                具体色值
            </jigsaw-button>
            <jigsaw-button
                (click)="styleOptions.hostStyle.background = 'linear-gradient(to right, #FF3CAC, #784BA0, #2B86C5, #00A5E0)'">
                渐进色
            </jigsaw-button>
            <jigsaw-button
                (click)="styleOptions.hostStyle.background = imgUrl">
                背景图
            </jigsaw-button>
        </li>
        <li class="demo-options-item">
            <span>背景图大小：</span>
            <jigsaw-input width="400px" [(value)]="styleOptions.hostStyle.backgroundSize"></jigsaw-input>
        </li>
        <li class="demo-options-item">
            <span>背景图位置：</span>
            <jigsaw-input width="400px" [(value)]="styleOptions.hostStyle.backgroundPosition"></jigsaw-input>
        </li>
        <li class="demo-options-item">
            <span>背景图重复：</span>
            <jigsaw-input width="400px" [(value)]="styleOptions.hostStyle.backgroundRepeat"></jigsaw-input>
        </li>
        <li class="demo-options-item">
            <span>边框大小：</span>
            <jigsaw-input width="400px" [(value)]="styleOptions.hostStyle.borderWidth"></jigsaw-input>
        </li>
        <li class="demo-options-item">
            <span>边框样式：</span>
            <jigsaw-input width="400px" [(value)]="styleOptions.hostStyle.borderStyle"></jigsaw-input>
        </li>
        <li class="demo-options-item">
            <span>边框颜色：</span>
            <jigsaw-input width="400px" [(value)]="styleOptions.hostStyle.borderColor"></jigsaw-input>
        </li>
        <li class="demo-options-item">
            <span>边框圆角：</span>
            <jigsaw-input width="400px" [(value)]="styleOptions.hostStyle.borderRadius"></jigsaw-input>
        </li>
        <li class="demo-options-item">
            <span>阴影：</span>
            <jigsaw-input width="400px" [(value)]="styleOptions.hostStyle.boxShadow"></jigsaw-input>
        </li>
        <li class="demo-options-item">
            <span>透明度：</span>
            <jigsaw-input width="400px" [(value)]="styleOptions.hostStyle.opacity"></jigsaw-input>
        </li>
        <li class="demo-options-item">
            <span>可见性：</span>
            <jigsaw-input width="400px" [(value)]="styleOptions.otherStyle.visibility"></jigsaw-input>
        </li>
        <li class="demo-options-item">
            <span>布局：</span>
            <jigsaw-input width="400px" [(value)]="styleOptions.otherStyle.display"></jigsaw-input>
        </li>
    </ul>
    <jigsaw-header>表头样式</jigsaw-header>
    <ul class="demo-options">
        <li class="demo-options-item">
            <span>表头高度：</span>
            <jigsaw-input width="400px" [(value)]="styleOptions.headerStyle.height"></jigsaw-input>
        </li>
        <li class="demo-options-item">
            <span>表头背景色：</span>
            <jigsaw-input width="400px" [(value)]="styleOptions.headerStyle.background"></jigsaw-input>
            <jigsaw-button (click)="styleOptions.headerStyle.background = 'var(--brand-default)'">
                颜色变量
            </jigsaw-button>
            <jigsaw-button (click)="styleOptions.headerStyle.background = 'rgb(139, 0, 0)'">
                rgb色值
            </jigsaw-button>
            <jigsaw-button (click)="styleOptions.headerStyle.background = 'transparent'">
                透明
            </jigsaw-button>
        </li>
        <li class="demo-options-item">
            <span>表头背景图大小：</span>
            <jigsaw-input width="400px" [(value)]="styleOptions.headerStyle.backgroundSize"></jigsaw-input>
        </li>
        <li class="demo-options-item">
            <span>表头背景图位置：</span>
            <jigsaw-input width="400px" [(value)]="styleOptions.headerStyle.backgroundPosition"></jigsaw-input>
        </li>
        <li class="demo-options-item">
            <span>表头背景图重复：</span>
            <jigsaw-input width="400px" [(value)]="styleOptions.headerStyle.backgroundRepeat"></jigsaw-input>
        </li>
        <li class="demo-options-item">
            <span>表头分割线宽度：</span>
            <jigsaw-input width="400px" [(value)]="styleOptions.headerStyle.borderBottomWidth"></jigsaw-input>
        </li>
        <li class="demo-options-item">
            <span>表头分割线颜色：</span>
            <jigsaw-input width="400px" [(value)]="styleOptions.headerStyle.borderBottomColor"></jigsaw-input>
        </li>
        <li class="demo-options-item">
            <span>表头分割线样式：</span>
            <jigsaw-input width="400px" [(value)]="styleOptions.headerStyle.borderBottomStyle"></jigsaw-input>
        </li>
        <li class="demo-options-item">
            <span>边框模式：</span>
            <jigsaw-input width="400px" [(value)]="styleOptions.headerStyle.borderCollapse"></jigsaw-input>
        </li>
        <li class="demo-options-item">
            <span>边框间距：</span>
            <jigsaw-input width="400px" [(value)]="styleOptions.headerStyle.borderSpacing"></jigsaw-input>
        </li>
    </ul>
    <jigsaw-header>表格头单元格样式</jigsaw-header>
    <ul class="demo-options">
        <li class="demo-options-item">
            <span>表头单元格文本大小：</span>
            <jigsaw-input width="400px" [(value)]="styleOptions.headerCellStyle.fontSize"></jigsaw-input>
        </li>
        <li class="demo-options-item">
            <span>表头单元格文本粗细：</span>
            <jigsaw-input width="400px" [(value)]="styleOptions.headerCellStyle.fontWeight"></jigsaw-input>
        </li>
        <li class="demo-options-item">
            <span>表头单元格文本颜色：</span>
            <jigsaw-input width="400px" [(value)]="styleOptions.headerCellStyle.color"></jigsaw-input>
        </li>
        <li class="demo-options-item">
            <span>表格体单元格边框宽度：</span>
            <jigsaw-input width="400px" [(value)]="styleOptions.headerCellStyle.borderWidth"></jigsaw-input>
        </li>
        <li class="demo-options-item">
            <span>表格体单元格边框样式：</span>
            <jigsaw-input width="400px" [(value)]="styleOptions.headerCellStyle.borderStyle"></jigsaw-input>
        </li>
        <li class="demo-options-item">
            <span>表格体单元格边框颜色：</span>
            <jigsaw-input width="400px" [(value)]="styleOptions.headerCellStyle.borderColor"></jigsaw-input>
        </li>
        <li class="demo-options-item">
            <span>表格体单元格边框圆角：</span>
            <jigsaw-input width="400px" [(value)]="styleOptions.headerCellStyle.borderRadius"></jigsaw-input>
        </li>
    </ul>
    <jigsaw-header>表格行样式</jigsaw-header>
    <ul class="demo-options">
        <li class="demo-options-item">
            <span>表格体行背景色：</span>
            <jigsaw-input width="400px" [(value)]="styleOptions.bodyTrStyle.background"></jigsaw-input>
        </li>
        <li class="demo-options-item">
            <span>表格体奇数行背景色：</span>
            <jigsaw-input width="400px" [(value)]="styleOptions.bodyTrStyle.oddBackground"></jigsaw-input>
        </li>
        <li class="demo-options-item">
            <span>表格体偶数行背景色：</span>
            <jigsaw-input width="400px" [(value)]="styleOptions.bodyTrStyle.evenBackground"></jigsaw-input>
        </li>
        <li class="demo-options-item">
            <span>表格体行悬浮背景色：</span>
            <jigsaw-input width="400px" [(value)]="styleOptions.bodyTrStyle.hoverBackground"></jigsaw-input>
        </li>
        <li class="demo-options-item">
            <span>表格体行选中背景色：</span>
            <jigsaw-input width="400px" [(value)]="styleOptions.bodyTrStyle.selectedBackground"></jigsaw-input>
        </li>
    </ul>
    <jigsaw-header>表格体样式</jigsaw-header>
    <ul class="demo-options">
        <li class="demo-options-item">
            <span>表格体背景色：</span>
            <jigsaw-input width="400px" [(value)]="styleOptions.bodyStyle.background"></jigsaw-input>
        </li>
        <li class="demo-options-item">
            <span>表格体背景图大小：</span>
            <jigsaw-input width="400px" [(value)]="styleOptions.bodyStyle.backgroundSize"></jigsaw-input>
        </li>
        <li class="demo-options-item">
            <span>表格体背景图位置：</span>
            <jigsaw-input width="400px" [(value)]="styleOptions.bodyStyle.backgroundPosition"></jigsaw-input>
        </li>
        <li class="demo-options-item">
            <span>表格体背景图重复：</span>
            <jigsaw-input width="400px" [(value)]="styleOptions.bodyStyle.backgroundRepeat"></jigsaw-input>
        </li>
        <li class="demo-options-item">
            <span>边框模式：</span>
            <jigsaw-input width="400px" [(value)]="styleOptions.bodyStyle.borderCollapse"></jigsaw-input>
        </li>
        <li class="demo-options-item">
            <span>边框间距：</span>
            <jigsaw-input width="400px" [(value)]="styleOptions.bodyStyle.borderSpacing"></jigsaw-input>
        </li>
    </ul>
    <jigsaw-header>表格体单元格样式</jigsaw-header>
    <ul class="demo-options">
        <li class="demo-options-item">
            <span>表格体单元格边框宽度：</span>
            <jigsaw-input width="400px" [(value)]="styleOptions.bodyCellStyle.borderWidth"></jigsaw-input>
        </li>
        <li class="demo-options-item">
            <span>表格体单元格边框样式：</span>
            <jigsaw-input width="400px" [(value)]="styleOptions.bodyCellStyle.borderStyle"></jigsaw-input>
        </li>
        <li class="demo-options-item">
            <span>表格体单元格边框颜色：</span>
            <jigsaw-input width="400px" [(value)]="styleOptions.bodyCellStyle.borderColor"></jigsaw-input>
        </li>
        <li class="demo-options-item">
            <span>表格体单元格边框圆角：</span>
            <jigsaw-input width="400px" [(value)]="styleOptions.bodyCellStyle.borderRadius"></jigsaw-input>
        </li>
        <li class="demo-options-item">
            <span>表格体单元格文本大小：</span>
            <jigsaw-input width="400px" [(value)]="styleOptions.bodyCellStyle.fontSize"></jigsaw-input>
        </li>
        <li class="demo-options-item">
            <span>表格体单元格文本粗细：</span>
            <jigsaw-input width="400px" [(value)]="styleOptions.bodyCellStyle.fontWeight"></jigsaw-input>
        </li>
        <li class="demo-options-item">
            <span>表格体单元格文本颜色：</span>
            <jigsaw-input width="400px" [(value)]="styleOptions.bodyCellStyle.color"></jigsaw-input>
        </li>
    </ul>
</div>
<jigsaw-table #table [data]="tableData" [styleOptions]="styleOptions"></jigsaw-table>