<!-- ignore the following lines, they are not important to this demo -->
<jigsaw-demo-description [summary]="summary" [content]="description">
</jigsaw-demo-description>

<ul class="demo-options">
    <li class="demo-options-item">
        <span>背景色：</span>
        <jigsaw-input width="400px" [(value)]="styleOptions.table.background"></jigsaw-input>
        <jigsaw-button
            (click)="styleOptions.table.background = 'linear-gradient(to right, #FF3CAC, #784BA0, #2B86C5, #00A5E0)'">
            预设渐进色</jigsaw-button>
    </li>
    <li class="demo-options-item">
        <span>背景图：</span>
        <jigsaw-input width="400px" [(value)]="styleOptions.table.backgroundImage"></jigsaw-input>
    </li>
</ul>
<a (click)="updateStyleOptions()">更新</a>
<!-- start to learn the demo from here -->
<jigsaw-table #table [data]="tableData" [styleOptions]="styleOptions"></jigsaw-table>