<div class="rdk-dialog" rdk-draggable>
    <div class="rdk-dialog-head">
        <ng-content select="[title]"></ng-content>
        <span>{{title}}</span>
        <span class="fa fa-times rdk-dialog-close" (click)='dispose()'></span>
    </div>
    <div class="rdk-dialog-content">
        <ng-content></ng-content>
    </div>
    <div class="rdk-dialog-button-group" *ngIf="buttons && buttons.length > 0">
        <rdk-button *ngFor="let bi of buttons"
                    (click)="dispose(bi)"
                    class="{{bi.clazz}}">{{bi.label}}
        </rdk-button>
    </div>
</div>
