<!-- ignore the following lines, they are not important to this demo -->
<jigsaw-demo-description [summary]="summary" [content]="description"> </jigsaw-demo-description>

<!-- start to learn the demo from here -->
<ul class="demo-options">
    <li class="demo-options-item">
        <span>图标</span>
        <jigsaw-auto-complete-input width="150px" [(value)]="rendererInitData.icon" [filterOnFocus]="false"
            [data]="['iconfont iconfont-ea03', 'iconfont iconfont-e9b8', 'iconfont iconfont-e515']">
        </jigsaw-auto-complete-input>
    </li>
    <li class="demo-options-item">
        <span>提示</span>
        <jigsaw-auto-complete-input width="150px" [(value)]="rendererInitData.title"></jigsaw-auto-complete-input>
    </li>
    <li class="demo-options-item">
        <span>文本</span>
        <jigsaw-auto-complete-input width="150px" [(value)]="rendererInitData.label"></jigsaw-auto-complete-input>
    </li>
</ul>
<a (click)="tableData.refresh()">更新</a>

<jigsaw-table height="300" [data]="tableData" [(selectedRow)]="selectedRow"
    [additionalColumnDefines]="additionalColumns" (cellStatusChange)="cellStatusChange($event)">
</jigsaw-table>
<p>选中行 {{selectedRow}}</p>

<jigsaw-table height="300" [data]="tableData" [columnDefines]="columnDefines" [additionalColumnDefines]="additionalColumnDefines">
</jigsaw-table>