<!-- ignore the following lines, they are not important to this demo -->
<jigsaw-demo-description [summary]="summary" [content]="description"> </jigsaw-demo-description>

<!-- start to learn the demo from here -->
<div class="demo-container">
    <jigsaw-table [data]="tableData" [(selectedRow)]="selectedRow" [additionalColumnDefines]="additionalColumns"
    (cellStatusChange)="cellStatusChange($event)">
    </jigsaw-table>
    <p>选中行 {{selectedRow}}</p>
    <p>图标
        <jigsaw-auto-complete-input width="150px" [(value)]="rendererInitData.icon" [filterOnFocus]="false"
                                    [data]="['iconfont iconfont-ea03', 'iconfont iconfont-e9b8', 'iconfont iconfont-e515']">
        </jigsaw-auto-complete-input>
    </p>
    <p>提示
        <jigsaw-auto-complete-input width="150px" [(value)]="rendererInitData.title"></jigsaw-auto-complete-input>
    </p>
    <p>文本
        <jigsaw-auto-complete-input width="150px" [(value)]="rendererInitData.label"></jigsaw-auto-complete-input>
    </p>
    <a (click)="tableData.refresh()">更新</a>
</div>
