@import "../../assets/scss/core/basc";

$btn-prefix-cls: #{$jigsaw-prefix}-button;

.#{$btn-prefix-cls} {
    @include inline-block();
    min-width: 80px;
    padding: 0 10px;
    min-height: $height-base;
    line-height: $height-base - 2px;
    font-size: $font-size-base;
    text-align: center;
    position: relative;
    border-radius: $border-radius-base;
    cursor: pointer;
    box-shadow: $btn-box-shadow;
    font-weight: $btn-font-weight;
    user-select: none;
    @include prefixer(transition, all .3s $ease-in-out);
    background-color: #fff;
    border: 1px solid $border-color-base;
    color: $text-color;
    &:hover {
        color: $primary-5;
        border: 1px solid $primary-5;
    }

    &:active {
        color: $primary-7;
        border: 1px solid $primary-7;
    }

    &.#{$btn-prefix-cls}-clicked:after {
        content: '';
        position: absolute;
        top: -1px;
        left: -1px;
        bottom: -1px;
        right: -1px;
        border-radius: inherit;
        border: 1px solid $primary-7;
        opacity: 0.4;
        @include prefixer(animation, buttonEffect 0.36s $ease-out forwards);
        display: block;
    }
    &-icon {
        @include inline-block();
        img {
            vertical-align: top;
            height: 20px;
        }
    }

    &.#{$btn-prefix-cls}-color-primary {
        background-color: $primary-color;
        color: $text-color-of-bg;
        border: 1px solid $primary-color;
        &:hover {
            background: $primary-7;
        }
        &:active {
            background: $primary-8;
        }
        &.#{$btn-prefix-cls}-clicked:after {
            border: 1px solid $primary-7;
        }
    }

    &.#{$btn-prefix-cls}-color-warning {
        background-color: $warning-color;
        color: $text-color-of-bg;
        border: 1px solid $warning-color;
        &:hover {
            background: mix(#000, $warning-color, 10%);
        }
        &:active {
            background: mix(#000, $warning-color, 20%);
        }
        &.#{$btn-prefix-cls}-clicked:after {
            border: 1px solid mix(#000, $warning-color, 10%);
        }
    }

    &.#{$btn-prefix-cls}-color-error {
        background-color: $error-color;
        color: $text-color-of-bg;
        border: 1px solid $error-color;
        &:hover {
            background: mix(#000, $error-color, 10%);
        }
        &:active {
            background: mix(#000, $error-color, 20%);
        }
        &.#{$btn-prefix-cls}-clicked:after {
            border: 1px solid mix(#000, $error-color, 10%);
        }
    }

    &.#{$btn-prefix-cls}-size-large {
        font-size: $font-size-lg;
        min-height: $height-lg;
        line-height: $height-lg - 2px;
    }

    &.#{$btn-prefix-cls}-size-small {
        font-size: $font-size-sm;
        min-height: $height-sm;
        line-height: $height-sm - 2px;
    }

    &.#{$btn-prefix-cls}-disabled {
        pointer-events: none;
        cursor: default;
        color: $disabled-color;
        background-color: $disabled-bg;
        border-color: $border-color-base;
    }
}

a[#{$btn-prefix-cls}] {
    padding: 0 10px;
    outline: none;
    text-decoration: none !important;
}

button[#{$btn-prefix-cls}] {
    padding: 0 10px;
    outline: none;
    text-decoration: none !important;
}

@include keyframes(buttonEffect) {
    to {
        @include opacity(0);
        top: -6px;
        left: -6px;
        bottom: -6px;
        right: -6px;
        border-width: 6px;
    }
}
