<!-- ignore the following lines, they are not important to this demo -->
<jigsaw-demo-description [summary]="summary" [content]="description">
</jigsaw-demo-description>

<div class="demo-cntr">
    <div id="setting">
        <a (click)="getPos()">获取菜单节点位置</a>
        <a (click)="changeSize()">改变菜单宽度</a>
        <a (click)="deleteEle()">删除菜单节点</a>
    </div>

    <header>
        <div>Logo</div>
        <ul>
            <li>菜单1</li>
            <li>菜单2</li>
            <li id="guide1">
                <span>菜单3</span>
            </li>
            <li>菜单4</li>
            <li>菜单5</li>
            <li>菜单6</li>
        </ul>
    </header>
    <jigsaw-navigation-menu height="100%" width="180" [data]="navData">
    </jigsaw-navigation-menu>

</div>