#novice-guide-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: var(--zindex-novice-guide);
}

#novice-guide-container.wizard {
    background: #00000099;
}

#novice-guide-svg {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%
}

.novice-guide-clone {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.novice-guide-clone:hover {
    z-index: 1;
}

.novice-guide-clone .bubble {
    position: relative;
    width: 8px;
    height: 8px;
    border-radius: 8px;
    outline: 2px solid var(--brand-default);
}

.novice-guide-clone .bubble .line {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: cyan; */
}

.novice-guide-clone .bubble .line>div {
    background: var(--brand-default);
}

.novice-guide-clone .bubble.bubble-bottom .line {
    top: 8px;
    left: 0;
    width: 100%;
    height: 80px;
}

.novice-guide-clone .bubble.bubble-top .line {
    left: 0;
    bottom: 8px;
    width: 100%;
    height: 80px;
}

.novice-guide-clone .bubble.bubble-bottom .line>div,
.novice-guide-clone .bubble.bubble-top .line>div {
    width: 1px;
    height: 100%;
}

.novice-guide-clone .bubble.bubble-right .line {
    top: 0;
    left: 8px;
    width: 80px;
    height: 100%;
}

.novice-guide-clone .bubble.bubble-left .line {
    top: 0;
    right: 8px;
    width: 80px;
    height: 100%;
}

.novice-guide-clone .bubble.bubble-right .line>div,
.novice-guide-clone .bubble.bubble-left .line>div {
    width: 100%;
    height: 1px;
}

.novice-guide-clone .bubble .notice-cntr {
    position: absolute;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 400px;
    padding: 16px;
    border-radius: 3px;
    background: var(--brand-default);
    box-shadow: var(--box-shadow-lv3);
}

.novice-guide-clone .bubble .notice-cntr .text {
    width: 95%;
    color: #fff;
    font-size: var(--font-size-text-base);
}

.novice-guide-clone .bubble .notice-cntr .close {
    color: #fff;
    cursor: pointer;
}

.novice-guide-clone .bubble.bubble-bottom .notice-cntr {
    top: 88px;
    left: -192px;
}

.novice-guide-clone .bubble.bubble-top .notice-cntr {
    bottom: 88px;
    left: -192px;
}

.novice-guide-clone .bubble.bubble-right .notice-cntr {
    top: 50%;
    left: 88px;
    transform: translateY(-50%);
}

.novice-guide-clone .bubble.bubble-left .notice-cntr {
    top: 50%;
    right: 88px;
    transform: translateY(-50%);
}

.novice-guide-clone .dialog .notice-cntr {
    position: absolute;
    width: 400px;
    padding: 16px;
    border-radius: 3px;
    background: var(--bg-component);
}

.novice-guide-clone .dialog .notice-cntr .title {
    position: relative;
    font-size: 14px;
    font-weight: bold;
}

.novice-guide-clone .dialog .notice-cntr .text {
    min-height: 64px;
    font-size: var(--font-size-text-base);
}

.novice-guide-clone .dialog .notice-cntr .button-cntr {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.novice-guide-clone .dialog .notice-cntr .button-cntr .progress {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    height: 32px;
}

.novice-guide-clone .dialog .notice-cntr .title .close-arrow {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}

.novice-guide-clone .dialog .notice-cntr .button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 4px;
    padding: 0 16px;
    min-width: 80px;
    height: 32px;
    border-radius: 3px;
    background: var(--brand-default);
    color: white;
    cursor: pointer;
}

.novice-guide-clone .dialog .notice-cntr::after {
    content: '';
    position: absolute;
    background: var(--bg-component);
    height: 20px;
    width: 20px;
    transform: rotate(45deg);
    z-index: -1;
}

.novice-guide-clone .dialog.dialog-right .notice-cntr {
    top: 50%;
    left: calc(100% + 20px);
    transform: translateY(-50%);
}

.novice-guide-clone .dialog.dialog-right .notice-cntr::after {
    top: 50%;
    left: -10px;
    margin-top: -10px;
}

.novice-guide-clone .dialog.dialog-left .notice-cntr {
    top: 50%;
    right: calc(100% + 20px);
    transform: translateY(-50%);
}

.novice-guide-clone .dialog.dialog-left .notice-cntr::after {
    top: 50%;
    right: -10px;
    margin-top: -10px;
}

.novice-guide-clone .dialog.dialog-bottom .notice-cntr {
    top: calc(100% + 20px);
    left: 50%;
    transform: translateX(-50%);
}

.novice-guide-clone .dialog.dialog-bottom .notice-cntr::after {
    top: -10px;
    left: 50%;
    margin-left: -5px;
}

.novice-guide-clone .dialog.dialog-top .notice-cntr {
    bottom: calc(100% + 20px);
    left: 50%;
    transform: translateX(-50%);
}

.novice-guide-clone .dialog.dialog-top .notice-cntr::after {
    bottom: -10px;
    left: 50%;
    margin-left: -5px;
}

.novice-guide-clone .wizard {
    position: absolute;
    width: 300px;
    /* background: cyan; */
}

.novice-guide-clone .wizard .arrow-cntr {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}

.novice-guide-clone .wizard .arrow-cntr .arrow {
    color: #fff;
    font-size: 24px;
    animation: 0.3s ease-out infinite alternate bounce_arrow;
}

.novice-guide-clone .wizard .close {
    position: absolute;
    top: 0;
    right: 0;
    color: #fff;
    font-size: 24px;
    cursor: pointer;
}

.novice-guide-clone .wizard .notice-cntr {
    position: relative;
    padding: 0 16px;
    color: #fff;
    font-size: 24px;
}

.novice-guide-clone .wizard.wizard-bottom {
    top: 100%;
}

.novice-guide-clone .wizard.wizard-bottom .arrow-cntr {
    transform: rotate(90deg);
}

@keyframes bounce_arrow {
    0% {
        transform: translateX(-10px);
    }

    100% {
        transform: translateX(10px);
    }
}