<demo-template [data]="''" [text]="doc.text.withCombo">
    <div class="demo-showcase">
        <span>单选</span>
        <j-combo-select [value]="comboValue1">
            <ng-template>
                <j-cascade style="min-height: 335px" [(selectedItems)]="selectedItems1" [dataGenerator]="generator"
                           [generatorContext]="this" labelField="name"
                           (selectedItemsChange)="parseMessage($event)" width="418">
                </j-cascade>
            </ng-template>
        </j-combo-select>
    </div>

    <div class="demo-showcase">
        <span>多选</span>
        <j-combo-select [value]="comboValue2">
            <ng-template>
                <j-cascade style="min-height: 335px" [(selectedItems)]="selectedItems2" [dataGenerator]="generator"
                           [generatorContext]="this" labelField="name" [multipleSelect]="true"
                           (selectedItemsChange)="parseMultipleMessage($event)" width="418">
                </j-cascade>
            </ng-template>
        </j-combo-select>
    </div>
</demo-template>
