<demo-template [sizeController]="null" [description]="description" [demoSources]="demoSources">
    <!-- start to learn the demo from here -->
    <div class="demo-showcase">
        <span>预设状态 + 全默认值</span>
        <jigsaw-icon [status]="'success'" [iconSize]="fontSize" [icon]="'iconfont iconfont-ea39'" [text]="'搞定了'">
        </jigsaw-icon>
        <jigsaw-icon [status]="'warning'" [iconSize]="fontSize" [icon]="'iconfont iconfont-ea50'" [text]="'好像有问题'">
        </jigsaw-icon>
        <jigsaw-icon [status]="'error'" [iconSize]="fontSize" [icon]="'iconfont iconfont-e8e3'" [text]="'出错啦'">
        </jigsaw-icon>
        <jigsaw-icon [status]="'finish'" [iconSize]="fontSize" [icon]="'iconfont iconfont-e41f'" [text]="'结束了'">
        </jigsaw-icon>
        <jigsaw-icon [status]="'disabled'" [iconSize]="fontSize" [icon]="'iconfont iconfont-e473'" [text]="'不能用'">
        </jigsaw-icon>
        <jigsaw-icon [status]="'process'" [iconSize]="fontSize" [icon]="'iconfont iconfont-e035'" [text]="'处理中'">
        </jigsaw-icon>
        <jigsaw-icon [status]="'custom'" [iconSize]="fontSize" [icon]="'iconfont iconfont-e77d'" [text]="'自定义状态'"
            iconColor="purple">
        </jigsaw-icon>
    </div>
</demo-template>
