<demo-template [data]="''" [text]="doc.text.hideShow" [codes]="doc.codes.hideShow">
    <!-- start to learn the demo from here -->
    <div class="demo-showcase">
        <jigsaw-button (click)="hideTab1()" width="150">隐藏tab1</jigsaw-button>
        <jigsaw-button (click)="showTab1()" width="150">显示tab1</jigsaw-button>

        <jigsaw-button (click)="showTab2()" width="150">显示tab2</jigsaw-button>
        <jigsaw-button (click)="hideTab2()" width="150">隐藏tab1</jigsaw-button>
    </div>

    <div class="demo-showcase-v">
        <jigsaw-tabs #myTab width="100%">
            <jigsaw-tab-pane>
                <div jigsaw-title><span class="iconfont iconfont-e133"></span>tab 1</div>
                <ng-template>tab content 1</ng-template>
            </jigsaw-tab-pane>
            <jigsaw-tab-pane [hidden]="true">
                <span jigsaw-title><span class="iconfont iconfont-e133"></span>tab 2</span>
                <ng-template>tab content 2</ng-template>
            </jigsaw-tab-pane>
        </jigsaw-tabs>
    </div>
</demo-template>
