<!-- ignore the following lines, they are not important to this demo -->
<jigsaw-demo-description [summary]="summary" [content]="description"> </jigsaw-demo-description>

<!-- start to learn the demo from here -->
<jigsaw-group-select [disabled]="disabled" [data]="dataList" [closeTrigger]="'none'" [(value)]="selectedOption" [multipleSelect]="true"
    placeholder="请选择" width="160px" [useStatistics]="true" (valueChange)="valueChange($event)" [clearable]="true">
</jigsaw-group-select>

<jigsaw-button (click)="editSelectedItems()">修改选中条目</jigsaw-button>
<jigsaw-button (click)="changeData()">修改输入数据</jigsaw-button>
