<!-- ignore the following lines, they are not important to this demo -->
<jigsaw-demo-description [summary]="summary" [content]="description">
</jigsaw-demo-description>


<!-- start to learn the demo from here -->
<h4 class="header">First Day of Week and First Week of Year</h4>

<p class="message">First Day of Week: </p>
<jigsaw-button-bar [data]="['sun', 'mon', 'tue', 'wed', 'thu', 'fri', 'sat']" [(selectedItems)]="weekStart">
</jigsaw-button-bar>
<br><br>
<p>First Week of Year: </p>
<jigsaw-button-bar [data]="[1, 2, 3, 4, 5, 6]" [(selectedItems)]="janX">
</jigsaw-button-bar>
<br><br>

<jigsaw-range-date-time-picker [(beginDate)]="beginDate" [(endDate)]="endDate" [weekStart]="weekStart[0]" [firstWeekMustContains]="janX[0]" gr="week"></jigsaw-range-date-time-picker><br>

<div>beginDate ： {{beginDate | json}}   endDate：{{endDate | json}}</div>
