<!-- ignore the following lines, they are not important to this demo -->
<jigsaw-demo-description [summary]="summary" [content]="description">
</jigsaw-demo-description>

<!-- start to learn the demo from here -->
<div class="demo-showcase-sudoku">
    <jigsaw-icon icon="iconfont iconfont-e8fb" jigsawBadgePosition="leftTop" jigsawBadgeSize="small" iconSize="100"
        jigsawBadge jigsawBadgeCircle="default" jigsawBadgeStyle="none" jigsawBadgeValue="iconfont iconfont-e91d">
    </jigsaw-icon>
    <jigsaw-icon icon="iconfont iconfont-e8fb" jigsawBadgePosition="top" jigsawBadgeSize="small" iconSize="100"
        jigsawBadge jigsawBadgeCircle="default" jigsawBadgeStyle="none" jigsawBadgeValue="iconfont iconfont-e91d">
    </jigsaw-icon>
    <jigsaw-icon icon="iconfont iconfont-e8fb" jigsawBadgePosition="rightTop" iconSize="100" jigsawBadgeStyle="small"
        jigsawBadge jigsawBadgeCircle="default" jigsawBadgeStyle="none" jigsawBadgeValue="iconfont iconfont-e91d">
    </jigsaw-icon>

    <jigsaw-icon icon="iconfont iconfont-e8fb" jigsawBadgePosition="left" jigsawBadgeSize="small" iconSize="100"
        jigsawBadge jigsawBadgeCircle="default" jigsawBadgeStyle="none" jigsawBadgeValue="iconfont iconfont-e91d">
    </jigsaw-icon>
    <jigsaw-icon icon="iconfont iconfont-e8fb" jigsawBadgePosition="center" jigsawBadgeSize="small" iconSize="100"
        jigsawBadge jigsawBadgeCircle="default" jigsawBadgeStyle="none" jigsawBadgeValue="iconfont iconfont-e91d">
    </jigsaw-icon>
    <jigsaw-icon icon="iconfont iconfont-e8fb" jigsawBadgePosition="right" jigsawBadgeSize="small" iconSize="100"
        jigsawBadge jigsawBadgeCircle="default" jigsawBadgeStyle="none" jigsawBadgeValue="iconfont iconfont-e91d">
    </jigsaw-icon>

    <jigsaw-icon icon="iconfont iconfont-e8fb" jigsawBadgePosition="leftBottom" jigsawBadgeSize="small" iconSize="100"
        jigsawBadge jigsawBadgeCircle="default" jigsawBadgeStyle="none" jigsawBadgeValue="iconfont iconfont-e91d">
    </jigsaw-icon>
    <jigsaw-icon icon="iconfont iconfont-e8fb" jigsawBadgePosition="bottom" jigsawBadgeSize="small" iconSize="100"
        jigsawBadge jigsawBadgeCircle="default" jigsawBadgeStyle="none" jigsawBadgeValue="iconfont iconfont-e91d">
    </jigsaw-icon>
    <jigsaw-icon icon="iconfont iconfont-e8fb" jigsawBadgePosition="rightBottom" jigsawBadgeSize="small" iconSize="100"
        jigsawBadge jigsawBadgeCircle="default" jigsawBadgeStyle="none" jigsawBadgeValue="iconfont iconfont-e91d">
    </jigsaw-icon>
</div>