<jigsaw-markdown [markdown]="text['text']['introduction']"></jigsaw-markdown>
<basic-transfer></basic-transfer>
<item-disabled-transfer></item-disabled-transfer>
<disabled-transfer></disabled-transfer>
<valid-transfer></valid-transfer>
<i18n-transfer></i18n-transfer>
<transfer-tree-transfer></transfer-tree-transfer>
<transfer-table-transfer></transfer-table-transfer>
<transfer-list-transfer></transfer-list-transfer>
<transfer-list-local-pageable-transfer></transfer-list-local-pageable-transfer>
<transfer-table-local-pageable-transfer></transfer-table-local-pageable-transfer>
<transfer-table-pageable-transfer></transfer-table-pageable-transfer>
