li {display: inline-block; margin-right: 12px;}

.demo-wrap{
    *zoom: 1;
    &:after {
        clear: both;
        content: "";
        display: block;
    }
    .left-box {
        width: 19%;
        float: left;
        height: 600px;
        margin-right: 1%;
    }
    .right-box{
        width: 80%;
        float: left;
    }
}

/* live demo common start */
/* 容器 */
.live-demo-wrap {
    padding: 10px;
}

/* 大标题 */
.live-demo-wrap h2 {
    margin-bottom: 40px;
    color: #333;
    font-size: 24px;
    font-weight: 700;
}

/* demo容器 */
.live-demo-wrap .live-demo {
    margin-bottom: 30px;
    padding-left: 10px;
}

/* demo标题 */
.live-demo h3 {
    margin: 0 0 10px -10px;
    color: #333;
    font-size: 18px;
    padding: 2px 14px;
    position: relative;
    border-left: 1px solid #c7254e;
}
.live-demo h3:before{
    position: absolute;
    left: -1px;
    top: 0;
    content: '';
    border-style: solid;
    border-width: 6px 10px;
    border-color: transparent transparent transparent #c7254e;
}

/* demo文字描述 */
.live-demo p.comment {
    margin-bottom: 10px;
    color: #666;
    font-size: 14px;
}

/* demo消息文字 */
.live-demo p.message {
    margin-top: 10px;
    margin-bottom: 0;
    color: #999;
    font-size: 14px;
}

/* demo消息高亮字 */
.live-demo p.message span {
    margin: 0 4px;
    color: #666;
}

/* demo code */
.live-demo code {
    padding: 2px 4px;
    margin: 0;
    font-size: 85%;
    background-color: rgba(27, 31, 35, 0.05);
    border-radius: 3px;
}
/* live demo common end */


