$jigsaw-collapse: #{$jigsaw-prefix}-collapse;

.#{$jigsaw-collapse}-host {
    display: block;

    .#{$jigsaw-collapse} {
        .#{$jigsaw-collapse}-item {
            .#{$jigsaw-collapse}-header {
                display: flex;
                align-items: center;
                position: relative;
                height: 32px;
                line-height: 32px;
                color: $font-color-heading-bold;
                font-size: $font-title-med;
                font-weight: bold;
                cursor: pointer;

                &:hover {
                    background: $brand-lighten;
                }

                > div {
                    display: flex;
                    align-items: center;
                }

                .#{$jigsaw-collapse}-arrow {
                    position: absolute;
                    color: $icon-color-stress;
                    @include prefixer(transition, all 0.3s ease);

                    &:hover {
                        color: $brand-default;
                    }
                }
            }

            &.#{$jigsaw-collapse}-item-inactive {
                > .#{$jigsaw-collapse}-header {
                    .#{$jigsaw-collapse}-arrow {
                        @include prefixer(transform, rotate(180deg));
                    }
                }
            }

            &.#{$jigsaw-collapse}-item-disabled {
                > .#{$jigsaw-collapse}-header {
                    .#{$jigsaw-collapse}-arrow {
                        color: $icon-color-disabled;
                        cursor: not-allowed;
                    }
                }
            }
        }

        .#{$jigsaw-collapse}-item .#{$jigsaw-collapse}-content {
            color: $font-color-default;
            overflow: hidden;

            .#{$jigsaw-collapse}-padding {
                padding: 0 16px;
            }
        }
    }

    &.#{$jigsaw-collapse}-arrow-position-left {
        .#{$jigsaw-collapse} {
            .#{$jigsaw-collapse}-item {
                .#{$jigsaw-collapse}-header {
                    padding-left: 24px;
                    .#{$jigsaw-collapse}-arrow {
                        left: 8px;
                    }
                }
            }
        }
    }

    &.#{$jigsaw-collapse}-arrow-position-right {
        .#{$jigsaw-collapse} {
            .#{$jigsaw-collapse}-item {
                .#{$jigsaw-collapse}-header {
                    padding-left: 16px;
                    .#{$jigsaw-collapse}-arrow {
                        right: 16px;
                    }
                }
            }
        }
    }
}
