@import "../../common/assets/scss/core/base";

$collapse-prefix: #{$jigsaw-prefix}-collapse;

.#{$collapse-prefix}-host {
    display: block;
}

.#{$collapse-prefix} {
    &-item {
        &.#{$collapse-prefix}-item-inactive {
            > .#{$collapse-prefix}-header {
                .#{$collapse-prefix}-arrow {
                    @include prefixer(transform, rotate(180deg));
                }
            }
        }
    }

    &-item &-header {
        position: relative;
        height: 38px;
        line-height: 38px;
        cursor: pointer;
        color: $font-color-heading;
        padding-left: 16px;
    }

    &-header &-arrow {
        position: absolute;
        right: 16px;
        top: 50%;
        margin-top: -7px;

        @include prefixer(transition, all 0.3s ease);
    }

    &-item &-content {
        color: $font-color-default;
        overflow: hidden;
        .#{$collapse-prefix}-padding {
            padding: 16px;
        }
    }
}
