@import "../../common/assets/scss/core/base";

$collapse-prefix: #{$jigsaw-prefix}-collapse;

.#{$collapse-prefix}-host {
    display: block;
}

.#{$collapse-prefix} {
    &-item {
        .#{$collapse-prefix}-header {
            display: flex;
            align-items: center;
            position: relative;
            height: 32px;
            line-height: 32px;
            color: $font-color-heading-bold;
            font-size: $font-title-med;
            font-weight: bold;
            cursor: pointer;

            > div {
                display: flex;
                align-items: center;
            }

            .#{$collapse-prefix}-arrow {
                position: absolute;
                color: $icon-color-stress;
                @include prefixer(transition, all 0.3s ease);

                &:hover {
                    color: $brand-default;
                }
            }
        }

        &.#{$collapse-prefix}-item-inactive {
            > .#{$collapse-prefix}-header {
                .#{$collapse-prefix}-arrow {
                    @include prefixer(transform, rotate(180deg));
                }
            }
        }
    }

    &-item &-content {
        color: $font-color-default;
        overflow: hidden;

        .#{$collapse-prefix}-padding {
            padding: 0 16px;
        }
    }

    &-arrow-position-left {
        .#{$collapse-prefix}-item {
            .#{$collapse-prefix}-header {
                padding-left: 24px;
                .#{$collapse-prefix}-arrow {
                    left: 8px;
                }
            }
        }
    }

    &-arrow-position-right {
        .#{$collapse-prefix}-item {
            .#{$collapse-prefix}-header {
                padding-left: 16px;
                .#{$collapse-prefix}-arrow {
                    right: 16px;
                }
            }
        }
    }
}
