<demo-template [data]="data" [(selectedLabel)]="selectedLabel" [text]="doc.text.interaction" [codes]="doc.codes.interaction">
    <jigsaw-select
        [data]="simpleDataList"
        [multipleSelect]="false"
        placeholder="请选择"
        width="160px"
        (valueChange)="relateSelectChange($event)"
        [size]="selectedLabel.size"
    ></jigsaw-select>
    <div style="height: 8px"></div>
    <jigsaw-select
        [data]="relatedDataList"
        [multipleSelect]="true"
        [value]="relatedValue"
        placeholder="根据前置选项改变"
        (valueChange)="valueChange($event)"
        [size]="selectedLabel.size"
    ></jigsaw-select>
    <jigsaw-select
        [data]="relatedDataList"
        [multipleSelect]="false"
        [value]="relatedSingleValue"
        placeholder="根据前置选项改变"
        (valueChange)="valueChange($event)"
        [size]="selectedLabel.size"
    ></jigsaw-select>
</demo-template>
