<demo-template [data]="data" [(selectedLabel)]="selectedLabel" [text]="text['text']['blue']">
    <jigsaw-switch
        [(checked)]="multiple"
        onLabel="多选"
        offLabel="单选"
        (change)="resetSelection()"
    >
    </jigsaw-switch>

    <div style="margin-top: 20px">
        <jigsaw-button-bar
            [(selectedItems)]="selectedCity"s
            [data]="cities"
            [multipleSelect]="multiple"
            (selectedItemsChange)="basicSelectChange($event)"
            optionWidth="80"
            colorType="primary"
            [preSize]="selectedLabel.size"
        >
        </jigsaw-button-bar>
        <p class="message">当前已选择：{{ selectedCityStr }}</p>
    </div>

</demo-template>
