<!-- ignore the following lines, they are not important to this demo -->
<jigsaw-demo-description [summary]="summary" [content]="description"> </jigsaw-demo-description>

<!-- start to learn the demo from here -->
<div>
    <span>显示搜索框</span>
    <jigsaw-switch style="margin-right: 20px" [(checked)]="searchable"> </jigsaw-switch>
    <span>显示单页数</span>
    <jigsaw-switch
        style="margin-right: 20px"
        [checked]="!!pageSizeOptions"
        (checkedChange)="pageSizeOptions = !!pageSizeOptions ? null : [5, 10, 20]"
    >
    </jigsaw-switch>
    <span>显示跳转框</span>
    <jigsaw-switch style="margin-right: 20px" [(checked)]="showQuickJumper"> </jigsaw-switch>
    <br />

    <button style="margin: 10px 0" (click)="changeCurrentPage(6)">跳转到第6页</button>
</div>

<jigsaw-header>size:large</jigsaw-header>
<div class="example-cntr">
    <jigsaw-pagination
        [data]="pageable"
        [pageSizeOptions]="pageSizeOptions"
        [searchable]="searchable"
        [showQuickJumper]="showQuickJumper"
        mode="complex"
        (currentChange)="getCurrentPage($event)"
        (pageSizeChange)="getPageSize($event)"
        widh="710px"
        [size]="'large'"
    >
    </jigsaw-pagination>
</div>

<div class="example-cntr">
    <jigsaw-pagination
        [data]="pageable"
        [pageSizeOptions]="pageSizeOptions"
        [searchable]="searchable"
        [showQuickJumper]="showQuickJumper"
        mode="folding"
        (currentChange)="getCurrentPage($event)"
        (pageSizeChange)="getPageSize($event)"
        widh="710px"
        [size]="'large'"
    >
    </jigsaw-pagination>
</div>

<div class="example-cntr">
    <jigsaw-pagination
        [data]="pageableForSimple"
        (currentChange)="getCurrentPage($event)"
        mode="simple"
        [searchable]="searchable"
        [pageSizeOptions]="pageSizeOptions"
        [size]="'large'"
    >
    </jigsaw-pagination>
</div>

<jigsaw-header>size:medium（默认）</jigsaw-header>

<div class="example-cntr">
    <jigsaw-pagination
        [data]="pageable"
        [pageSizeOptions]="pageSizeOptions"
        [searchable]="searchable"
        [showQuickJumper]="showQuickJumper"
        mode="complex"
        (currentChange)="getCurrentPage($event)"
        (pageSizeChange)="getPageSize($event)"
        widh="710px"
        [size]="'medium'"
    >
    </jigsaw-pagination>
</div>

<div class="example-cntr">
    <jigsaw-pagination
        [data]="pageable"
        [pageSizeOptions]="pageSizeOptions"
        [searchable]="searchable"
        [showQuickJumper]="showQuickJumper"
        mode="folding"
        (currentChange)="getCurrentPage($event)"
        (pageSizeChange)="getPageSize($event)"
        widh="710px"
        [size]="'medium'"
    >
    </jigsaw-pagination>
</div>

<div class="example-cntr">
    <jigsaw-pagination
        [data]="pageableForSimple"
        (currentChange)="getCurrentPage($event)"
        mode="simple"
        [searchable]="searchable"
        [pageSizeOptions]="pageSizeOptions"
        [size]="'medium'"
    >
    </jigsaw-pagination>
</div>

<jigsaw-header>size:small</jigsaw-header>

<div class="example-cntr">
    <jigsaw-pagination
        [data]="pageable"
        [pageSizeOptions]="pageSizeOptions"
        [searchable]="searchable"
        [showQuickJumper]="showQuickJumper"
        mode="complex"
        (currentChange)="getCurrentPage($event)"
        (pageSizeChange)="getPageSize($event)"
        widh="710px"
        [size]="'small'"
    >
    </jigsaw-pagination>
</div>
<div class="example-cntr">
    <jigsaw-pagination
        [data]="pageable"
        [pageSizeOptions]="pageSizeOptions"
        [searchable]="searchable"
        [showQuickJumper]="showQuickJumper"
        mode="folding"
        (currentChange)="getCurrentPage($event)"
        (pageSizeChange)="getPageSize($event)"
        widh="710px"
        [size]="'small'"
    >
    </jigsaw-pagination>
</div>

<div class="example-cntr">
    <jigsaw-pagination
        [data]="pageableForSimple"
        (currentChange)="getCurrentPage($event)"
        mode="simple"
        [searchable]="searchable"
        [pageSizeOptions]="pageSizeOptions"
        [size]="'small'"
    >
    </jigsaw-pagination>
</div>
