<div class="demo-wrapper nav">
    <jigsaw-markdown [markdown]="description"></jigsaw-markdown>
    <select-basic></select-basic>
    <select-string></select-string>
    <select-clearable></select-clearable>
    <select-option-count></select-option-count>
    <select-searchable></select-searchable>
    <select-line-ellipsis></select-line-ellipsis>
    <select-option-width></select-option-width>
    <select-trigger></select-trigger>
    <select-multiple-select></select-multiple-select>
    <select-interaction></select-interaction>
    <doc-template [docContent]="docContent"></doc-template>
    <doc-footer-template></doc-footer-template>
    <demo-navigation [navigationData]="navigationData"></demo-navigation>
</div>