<div class="demo-wrapper nav">
    <jigsaw-markdown [markdown]="description"></jigsaw-markdown>
    <slider-basic></slider-basic>
    <slider-set-min-max></slider-set-min-max>
    <slider-step></slider-step>
    <slider-multi-value></slider-multi-value>
    <slider-mark></slider-mark>
    <slider-vertical></slider-vertical>
    <doc-template [docContent]="docContent"></doc-template>
    <doc-footer-template></doc-footer-template>
    <demo-navigation [navigationData]="navigationData"></demo-navigation>
</div>