@import "../../common/assets/scss/core/base";

$btn-prefix-cls: #{$jigsaw-prefix}-button;

.#{$btn-prefix-cls} {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 0 16px;
    min-width: 80px;
    height: $height-base;
    border-radius: $border-radius-base;
    background-color: transparent;
    border-width: 1px;
    border-style: solid;
    border-color: $border-color-default;
    color: $brand-default;
    font-size: $font-size-base;
    text-align: center;
    user-select: none;
    cursor: pointer;
    &:before {
        content: "";
        display: inline-block;
        height: 100%;
        vertical-align: middle;
    }
    &:hover {
        color: $brand-hover;
        border-color: $brand-default;
        @include prefixer(transition, all 0.3s $ease-in-out);
    }

    &:active {
        color: $brand-active;
        border-color: $brand-active;
    }

    &#{&}-clicked:after {
        content: "";
        position: absolute;
        top: -1px;
        left: -1px;
        bottom: -1px;
        right: -1px;
        border-radius: inherit;
        border: 1px solid $brand-active;
        opacity: 0.4;
        @include prefixer(animation, buttonEffect 0.36s $ease-out forwards);
        display: block;
    }

    &-content {
        display: inline-flex;
        align-items: center;
    }

    &-icon {
        @include inline-block();
        img {
            vertical-align: top;
            height: 20px;
        }
    }

    &#{&}-color-primary {
        background-color: $primary-default;
        color: $font-color-white;
        border-color: $primary-default;
        &:hover {
            background: $primary-hover;
        }
        &:active {
            background: $primary-active;
        }
        &.#{$btn-prefix-cls}-clicked:after {
            border-color: $primary-default;
        }
    }

    &#{&}-color-warning {
        background-color: $warning-default;
        color: $font-color-white;
        border-color: $warning-default;
        &:hover {
            background: $warning-hover;
        }
        &:active {
            background: $warning-active;
        }
        &.#{$btn-prefix-cls}-clicked:after {
            border-color: $warning-default;
        }
    }

    &#{&}-color-error {
        background-color: $error-default;
        color: $font-color-white;
        border-color: $error-default;
        &:hover {
            background: $error-hover;
        }
        &:active {
            background: $error-active;
        }
        &.#{$btn-prefix-cls}-clicked:after {
            border-color: $error-default;
        }
    }

    &#{&}-size-large {
        height: $height-lg;
        font-size: $font-size-lg;
    }

    &#{&}-size-small {
        height: $height-sm;
        font-size: $font-size-sm;
    }

    &#{&}-disabled {
        pointer-events: none;
        cursor: default;
        @include compatible(color, $disabled-color, $disabled-color-ie11);
        background-color: $disabled-bg;
        border-color: $border-color-base;
    }
}
/* mark */
a[#{$btn-prefix-cls}] {
    padding: 0 10px;
    outline: none;
    text-decoration: none !important;
}

button[#{$btn-prefix-cls}] {
    padding: 0 10px;
    outline: none;
    text-decoration: none !important;
}

@include keyframes(buttonEffect) {
    to {
        @include opacity(0);
        top: -6px;
        left: -6px;
        bottom: -6px;
        right: -6px;
        border-width: 6px;
    }
}
