$btn-prefix-cls: #{$jigsaw-prefix}-button;

.#{$btn-prefix-cls} {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 0 16px;
    min-width: 80px;
    height: $height-base;
    border-radius: $border-radius-base;
    background-color: $bg-component;
    border-width: 1px;
    border-style: solid;
    border-color: $border-color-disabled;
    color: $brand-default;
    font-size: $font-size-text-base;
    user-select: none;
    box-sizing: border-box;
    vertical-align: middle;
    cursor: pointer;

    &:before {
        content: "";
        display: inline-block;
        height: 100%;
        vertical-align: middle;
    }

    &:hover {
        color: $brand-default;
        border-color: $brand-hover;
        @include prefixer(transition, animation 0.3s $ease-in-out);
    }

    &:active {
        color: $brand-active;
        border-color: $brand-active;
    }

    &#{&}-clicked:after {
        @include prefixer(animation, buttonEffect 0.36s $ease-out forwards);
        content: "";
        position: absolute;
        top: -1px;
        left: -1px;
        bottom: -1px;
        right: -1px;
        display: block;
        opacity: 0.4;
        border-radius: inherit;
        border: 1px solid $brand-active;
    }

    &-content {
        display: inline-flex;
        align-items: center;

        .#{$btn-prefix-cls}-text {
            display: inline-flex;
            align-items: center;
        }
    }

    &-icon-left {
        .#{$btn-prefix-cls}-content .iconfont {
            margin-right: 4px;
        }
    }

    &-icon-right {
        .#{$btn-prefix-cls}-content {
            flex-direction: row-reverse;

            .iconfont {
                margin-left: 4px;
            }
        }
    }

    &-content .iconfont {
        font-size: $icon-size-sm;
    }

    &#{&}-disabled {
        pointer-events: none;
        color: $font-color-disabled;
        border-color: $border-color-disabled;
    }

    &#{&}-color-primary {
        background-color: $primary-default;
        color: $font-color-white;
        border-color: $primary-default;
        &:hover {
            background: $primary-hover;
        }
        &:active {
            background: $primary-active;
        }
        &.#{$btn-prefix-cls}-clicked:after {
            border-color: $primary-default;
        }
        &.#{$btn-prefix-cls}-disabled {
            background: $primary-disabled;
            border-color: $primary-disabled;
        }
    }

    &#{&}-color-warning {
        background-color: $warning-default;
        color: $font-color-white;
        border-color: $warning-default;
        &:hover {
            background: $warning-hover;
        }
        &:active {
            background: $warning-active;
        }
        &.#{$btn-prefix-cls}-clicked:after {
            border-color: $warning-default;
        }
        &.#{$btn-prefix-cls}-disabled {
            background: $warning-disabled;
            border-color: $warning-disabled;
        }
    }

    &#{&}-color-error {
        background-color: $error-default;
        color: $font-color-white;
        border-color: $error-default;
        &:hover {
            background: $error-hover;
        }
        &:active {
            background: $error-active;
        }
        &.#{$btn-prefix-cls}-clicked:after {
            border-color: $error-default;
        }
        &.#{$btn-prefix-cls}-disabled {
            background: $error-disabled;
            border-color: $error-disabled;
        }
    }

    &#{&}-size-small {
        height: $height-sm;
        font-size: $font-size-sm;
    }

    &#{&}-size-medium {
        height: $height-med;
        font-size: $font-size-med;
    }

    &#{&}-size-large {
        height: $height-lg;
        font-size: $font-size-lg;
    }

    &#{&}-color-none {
        min-width: 0;
        border: none;
        padding: 0;

        &:hover {
            .#{$btn-prefix-cls}-text {
                text-decoration: underline;
            }
        }
        &.#{$btn-prefix-cls}-clicked:after {
            content: none;
        }
    }

    &#{&}-icon {
        width: $height-base;
        min-width: 0;
        padding: 0;
        color: $font-color-default;

        .#{$btn-prefix-cls}-content .iconfont {
            margin-right: 0;
        }

        &.#{$btn-prefix-cls}-size-small {
            width: $height-sm;
        }

        &.#{$btn-prefix-cls}-size-medium {
            width: $height-med;
        }

        &.#{$btn-prefix-cls}-size-large {
            width: $height-lg;
        }

        &.#{$btn-prefix-cls}-disabled {
            background: $bg-disabled;
            border-color: $border-color-disabled;
            color: $font-color-disabled;

            &.#{$btn-prefix-cls}-color-none {
                background: none;
                border:none;
            }
        }

        &:hover {
            color: $brand-hover;
        }

        &:active {
            color: $brand-active;
        }
    }
}

a[#{$btn-prefix-cls}] {
    padding: 0 10px;
    outline: none;
    text-decoration: none !important;
}

button[#{$btn-prefix-cls}] {
    padding: 0 10px;
    outline: none;
    text-decoration: none !important;
}

@include keyframes(buttonEffect) {
    to {
        @include opacity(0);
        top: -6px;
        left: -6px;
        bottom: -6px;
        right: -6px;
        border-width: 6px;
    }
}
