<demo-template [data]="data" [(selectedLabel)]="selectedLabel" [text]="text['text']['size']">
    <div>
        <jigsaw-markdown [markdown]="'#### 单选设置尺寸'"></jigsaw-markdown>
        <jigsaw-select width="150" [data]="cityListForSelect" [multipleSelect]="false" [size]="selectedLabel.size">
        </jigsaw-select>
    </div>
    <div>
        <jigsaw-markdown [markdown]="'#### 多选设置尺寸'"></jigsaw-markdown>
        <jigsaw-select minWidth="120" maxWidth="250" [data]="cityListForSelect" [multipleSelect]="true"
                       [useStatistics]="false" [size]="selectedLabel.size">
        </jigsaw-select>
    </div>
    <div>
        <jigsaw-markdown [markdown]="'#### 多选设置width'"></jigsaw-markdown>
        <jigsaw-select width="150" [data]="cityListForSelect" [multipleSelect]="true" [useStatistics]="false" [size]="selectedLabel.size">
        </jigsaw-select>
    </div>
</demo-template>
