@import "jigsaw/pc-components/theming/prebuilt/idea-light.scss";

.jigsaw-alert-host {
    .jigsaw-alert {
        .jigsaw-alert-head {
            border-bottom: none;
            font-size: 20px;
            color: $brand-default;

            .jigsaw-alert-title {
                font-size: 20px;
                color: $brand-default;
            }

            .jigsaw-alert-close {
                font-size: 24px;
                color: $brand-default;

                &:hover {
                    color: $brand-hover;
                }
            }
        }

        .jigsaw-alert-content {
            .content-main p,
            .content-sub p {
                color: $font-color-default;
                font-weight: 700;
            }

            .content-main .jigsaw-alert-icon {
                font-size: 36px;
            }
        }

        &.jigsaw-alert-info {
            .jigsaw-alert-head {
                .jigsaw-alert-title {
                    color: $primary-default;
                }

                .jigsaw-alert-close {
                    color: $primary-default;

                    &:hover {
                        color: $primary-hover;
                    }
                }
            }
        }

        &.jigsaw-alert-warning {
            .jigsaw-alert-head {
                .jigsaw-alert-title {
                    color: $warning-default;
                }

                .jigsaw-alert-close {
                    color: $warning-default;

                    &:hover {
                        color: $warning-hover;
                    }
                }
            }
        }

        &.jigsaw-alert-error {
            .jigsaw-alert-head {
                .jigsaw-alert-title {
                    color: $error-default;
                }

                .jigsaw-alert-close {
                    color: $error-default;

                    &:hover {
                        color: $error-hover;
                    }
                }
            }
        }

        &.jigsaw-alert-confirm {
            .jigsaw-alert-head {
                .jigsaw-alert-title {
                    color: $primary-default;
                }

                .jigsaw-alert-close {
                    color: $primary-default;

                    &:hover {
                        color: $primary-hover;
                    }
                }
            }
        }
    }
}

.jigsaw-auto-complete-input-list-box-host {
    ul li {
        border-bottom: 1px solid #f2f2f2;
    }

    .jigsaw-auto-complete-input-item-title {
        background: #f2f2f2;
        color: $font-color-tag;
        font-size: $font-size-base;
    }
}

.jigsaw-breadcrumb-host {
    background: #f7f7f7;
    font-size: 16px;

    .jigsaw-breadcrumb-item {
        color: $brand-default;
        font-size: 16px;
    }

    &.jigsaw-breadcrumb-host[data-theme="dark"] {
        background: #313131;

        .jigsaw-breadcrumb-item {
            color: $font-color-hint;

            &:hover {
                color: $font-color-white;
            }
        }
    }

    &.jigsaw-breadcrumb-host[data-theme="light"] {
        background: #f7f7f7;

        .jigsaw-breadcrumb-item {
            color: $font-color-hint;

            &:hover {
                color: $font-color-heading;
            }
        }
    }

    &.jigsaw-breadcrumb-host-inner {
        background: transparent;
    }
}

.jigsaw-input-host {
    .jigsaw-input-icon-front,
    .jigsaw-input-icon-end {
        font-weight: 800;
    }
}

.jigsaw-list-option-host {
    &.jigsaw-list-option-active {
        color: $font-color-default;
    }
}

.jigsaw-cascade-host {
    .jigsaw-tile-host {
        .jigsaw-tile-option {
            border: 1px solid $border-color-default;

            &.jigsaw-tile-option-active {
                background: none;
                border-color: $brand-default;
                color: $brand-default;
            }

            &:hover {
                color: $brand-default;
            }
        }
    }

    .jigsaw-tabs-host {
        .jigsaw-tabs-bar {
            margin-bottom: 6px;
        }

        .jigsaw-tabs-nav-container {
            .jigsaw-tabs-ink-bar:after {
                content: "";
                position: absolute;
                top: 2px;
                left: 50%;
                display: block;
                margin-left: -4px;
                width: 0;
                height: 0;
                border: 4px solid transparent;
                border-top-color: #41addc;
            }
        }
    }
}

.jigsaw-collapse-host {
    .jigsaw-collapse {
        border-width: 1px;
        border-style: solid;
        border-color: $border-color-default;
        border-bottom: none;
        border-radius: $border-radius-base;

        .jigsaw-collapse-item {
            border-bottom: 1px solid $border-color-default;

            .jigsaw-collapse-header {
                height: 38px;
                line-height: 38px;
                color: $font-color-heading;
                font-weight: 400;
                background: $bg-container;
            }

            .jigsaw-collapse-content {
                .jigsaw-collapse-padding {
                    padding: 16px;
                }
            }
        }
    }
}

.jigsaw-tag-host {
    &.jigsaw-tag-preset-gray {
        border: 1px solid $border-color-default;
        border-radius: $border-radius-base;
        background: $bg-body;
        color: $font-color-default;
    }
}

.jigsaw-switch-host {
    .jigsaw-switch {
        background-color: $font-color-disabled;

        .jigsaw-switch-inner {
            color: $font-color-white;
        }

        &.jigsaw-switch-checked {
            background-color: $brand-default;
        }

        &.jigsaw-switch-disabled {
            background-color: #f4f4f4;
        }
    }
}

.jigsaw-date-picker-host {
    .jigsaw-date-picker-header {
        .jigsaw-date-picker-control {
            .jigsaw-date-picker-control-year,
            .jigsaw-date-picker-control-month {
                color: $font-color-default;
            }
            .jigsaw-date-picker-control-bar {
                color: $font-color-hint;
            }
        }
    }

    .jigsaw-date-picker-content {
        .jigsaw-date-picker-content-day {
            thead th {
                color: $font-color-heading;
            }
        }

        .jigsaw-date-picker-content-day-cell {
            span {
                border-radius: 50%;
            }

            &.jigsaw-date-picker-content-day-cell-today {
                span {
                    &:before {
                        content: none;
                    }

                    &::after {
                        content: "";
                        display: block;
                        position: absolute;
                        right: 1px;
                        top: 1px;
                        border-top: 6px solid $brand-active;
                        border-left: 6px solid transparent;
                    }
                }
            }
        }

        .jigsaw-date-picker-content-month-cell,
        .jigsaw-date-picker-content-year-cell {
            span {
                width: 36px;
                height: 36px;
                border-radius: 50%;
            }
        }
    }
}

.jigsaw-time-popup-host {
    .jigsaw-time-popup-content {
        .jigsaw-time-popup-content-hour,
        .jigsaw-time-popup-content-minute,
        .jigsaw-time-popup-content-second {
            li {
                border-radius: 50%;
            }
        }
    }
}

.jigsaw-time-picker-host {
    .jigsaw-time-picker-wrapper {
        input {
            border-radius: 0;

            &.jigsaw-time-picker-input-selected {
                background: none;
                color: $font-color-default;
                border-bottom: 1px solid $brand-default;
            }
        }
    }
}

.jigsaw-dialog-host {
    .jigsaw-dialog {
        border: 1px solid $border-color-default;
        box-shadow: $box-shadow-lv1;

        .jigsaw-dialog-head {
            border-bottom: 1px solid $border-color-default;
            background: #f2f2f2;
            color: $brand-default;

            .jigsaw-dialog-close {
                color: $brand-default;

                &:hover {
                    color: $brand-default;
                }
            }
        }

        .jigsaw-dialog-button-group {
            justify-content: flex-end;
        }
    }
}

.#{$jigsaw-drawer}-host {
    .#{$jigsaw-drawer} {
        &.#{$jigsaw-drawer}-left > .#{$jigsaw-drawer}-bar,
        &.#{$jigsaw-drawer}-right > .#{$jigsaw-drawer}-bar,
        &.#{$jigsaw-drawer}-top > .#{$jigsaw-drawer}-bar,
        &.#{$jigsaw-drawer}-bottom > .#{$jigsaw-drawer}-bar {
            width: 14px;
            border: none;
            border-radius: 0 $border-radius-base $border-radius-base 0;
            background: $brand-default;

            & > .iconfont {
                padding: 0;
            }

            &:hover {
                background: $brand-hover;
            }
        }
    }
}
