<demo-template [sizeController]="null" [description]="description" [demoSources]="demoSources">
    <j-table width="500" [data]="tableData" [columnDefines]="columns"> </j-table>

    <ng-template #pieRenderer let-context="context">
        <jigsaw-pie-chart-icon [data]="context.cellData" radius="10" style="margin-top: 4px"> </jigsaw-pie-chart-icon>
    </ng-template>
    <ng-template #lineRenderer let-context="context">
        <jigsaw-line-chart-icon [data]="context.cellData"> </jigsaw-line-chart-icon>
    </ng-template>
</demo-template>
