
<jigsaw-button (click)="popupGlobalLoading()">block every thing</jigsaw-button>

<div class="wrap">
    <div class="block">
        <div #block1 class="content-box">
            <h3 class="content-title">a simple form</h3>
            <div class="content-line">
                <label>e-mail: </label>
                <jigsaw-input></jigsaw-input>
            </div>
            <div class="content-line">
                <label>phone number: </label>
                <jigsaw-input></jigsaw-input>
            </div>
            <div class="content-line">
                <label>address: </label>
                <jigsaw-input ></jigsaw-input>
            </div>
            <jigsaw-button (click)="popupBlockLoading(1)">submit</jigsaw-button>
        </div>
        <div #block2 class="content-box">
            <h3 class="content-title">another simple form</h3>
            <div class="content-line">
                <label>e-mail: </label>
                <jigsaw-input></jigsaw-input>
            </div>
            <div class="content-line">
                <label>phone number: </label>
                <jigsaw-input></jigsaw-input>
            </div>
            <div class="content-line">
                <label>address: </label>
                <jigsaw-input ></jigsaw-input>
            </div>
            <jigsaw-button (click)="popupBlockLoading(2)">submit</jigsaw-button>
        </div>
    </div>
</div>
