<div class="demo-wrapper">
    <jigsaw-markdown [markdown]="description"></jigsaw-markdown>
    <upload-basic></upload-basic>
    <upload-single></upload-single>
    <upload-hide-results></upload-hide-results>
    <upload-profile-type></upload-profile-type>
    <upload-manual-upload></upload-manual-upload>
    <upload-manual-clear></upload-manual-clear>
    <upload-set-size></upload-set-size>
    <upload-change-target-url></upload-change-target-url>
    <upload-directive></upload-directive>
    <upload-toggle-auto-upload></upload-toggle-auto-upload>
    <upload-result-upload></upload-result-upload>
    <upload-content-field></upload-content-field>
    <doc-template [docContent]="docContent"></doc-template>
    <doc-footer-template></doc-footer-template>
    <demo-navigation [navigationData]="navigationData"></demo-navigation>
</div>