<!-- ignore the following lines, they are not important to this demo -->
<jigsaw-demo-description [summary]="summary" [content]="description">
</jigsaw-demo-description>

<!-- start to learn the demo from here -->
<div class="live-demo-wrap">
    <p>支持透明度</p>
    <jigsaw-color-select color="#e43232" (colorChange)="_$colorChange($event)" width="50">
    </jigsaw-color-select>

    <p>不支持透明度</p>
    <jigsaw-color-select (colorChange)="_$colorChange($event)" width="50" [enableOpacity]="false">
    </jigsaw-color-select>

    <p>限定颜色</p>
    <jigsaw-color-select mode="limited" color="#ba1621" width="80"
                         [limitedColors]="['#ba1621','#e43232','#e57409','#ffa940','#f7d216']">
    </jigsaw-color-select>
</div>
