# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
dist
/tmp
angular.json

# dependencies
/node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*

# misc
/.sass-cache
/connect.lock
/coverage/*
/libpeerconnection.log
/typings
npm-debug.log
testem.log
src/jigsaw/common/core/theming/prebuilt/extraction/*
src/jigsaw/common/core/theming/prebuilt/wings-theme/*

# e2e
/e2e/*.js
/e2e/*.map

#System Files
.DS_Store
Thumbs.db

#vscode configs
.eslintrc.js
prettier.config.js
src/app/for-external/template/demo-template/navigation-info.js
src/app/for-external/demo-template/description-and-sources.js
src/app/for-external/assets/docs
