language: node_js

node_js:
  - "6"

branches:
  only:
  - master

env:
  global:
  - SAUCE_USERNAME=youhp
  - SAUCE_ACCESS_KEY=eefb2f82-1299-421d-839f-2630b7357069
  - BROWSER_PROVIDER_READY_FILE=/tmp/sauce-connect-ready
  - LOGS_DIR=/tmp/logs

before_install:
  - #export DISPLAY=:99.0
  - #sh -e /etc/init.d/xvfb start
  - #sleep 3 # give xvfb some time to start

install:
  - npm install

before_script:
  - #mkdir -p $LOGS_DIR
  - #chmod a+x ./build/scripts/sauce_connect_setup.sh
  - #./build/scripts/sauce_connect_setup.sh

script:
  - ng build
  - gulp jigsaw:build-release:clean
  - sh build/scripts/build-with-seed.sh
  - #sh ./build/scripts/sauce_connect_block.sh
  - #ng test --code-coverage --watch false
  - #ng e2e
  - #cat ./coverage/lcov.info | ./node_modules/.bin/coveralls

after_script:
  - #sh ./build/scripts/sauce_connect_teardown.sh

sudo: false

