language: node_js
sudo: false

node_js:
  - '--lts'

addons:
  chrome: stable

branches:
  only:
  - master

install:
  - npm install

script:
  - ng build
  - gulp jigsaw:build-release:clean
  - ng test --code-coverage
  - ng e2e

after_script:
- cat ./coverage/lcov.info | ./node_modules/.bin/coveralls
