<div class="jigsaw-collapse-item"
     [class.jigsaw-collapse-item-inactive]="!isActive">
    <div class="jigsaw-collapse-header" (click)="_$onClick()">
        <i class="fa fa-angle-down jigsaw-collapse-arrow"></i>

        <!-- 普通的header -->
        <ng-template [ngIf]="title">
            {{title}}
        </ng-template>

        <!-- 自定义的header render.-->
        <ng-content select="[jigsaw-title], [j-title]"></ng-content>
    </div>
    <div class="jigsaw-collapse-content">
        <ng-content></ng-content>
    </div>
</div>
