<!-- ignore the following lines, they are not important to this demo -->
<jigsaw-demo-description [summary]="summary" [content]="description">
</jigsaw-demo-description>

<!-- start to learn the demo from here -->
<h3>不分组</h3>
<p class="notes">输入值是：<span>{{inputValue}}</span></p>
<jigsaw-auto-complete-input [(value)]="inputValue" placeholder="auto complete input demo"
                            [width]="250" [data]="_$dropdownData" [filterOnFocus]="filterOnFocus">
</jigsaw-auto-complete-input>

<br><br>

获得焦点后自动执行过滤
<jigsaw-switch [(checked)]="filterOnFocus"></jigsaw-switch>
