/* awade-dark */
$blue-1: #011b51;
$blue-2: #012774;
$blue-3: #023497;
$blue-4: #023eb6;
$blue-5: #0348d4;
$blue-6: #0254F2;
$blue-7: #266efd;
$blue-8: #5c94ff;
$blue-9: #86aefe;
$blue-10: #b8d0fe;

$cyan-1: #102426;
$cyan-2: #143a3d;
$cyan-3: #135154;
$cyan-4: #11686b;
$cyan-5: #0e8082;
$cyan-6: #0c9999;
$cyan-7: #2ab0ae;
$cyan-8: #50c7c3;
$cyan-9: #7cded9;
$cyan-10: #b0f5f0;

$green-1: #153020;
$green-2: #224d31;
$green-3: #2e6942;
$green-4: #3a8553;
$green-5: #47a163;
$green-6: #53bd73;
$green-7: #6ecc89;
$green-8: #8cdba1;
$green-9: #aeebbd;
$green-10: #d2fadb;

$lime-1: #202916;
$lime-2: #30401b;
$lime-3: #3f571d;
$lime-4: #4f6e1d;
$lime-5: #5e851c;
$lime-6: #6f9c1c;
$lime-7: #88b038;
$lime-8: #a3c45a;
$lime-9: #bfd982;
$lime-10: #dcedaf;

$yellow-1: #423104;
$yellow-2: #664c06;
$yellow-3: #8a6908;
$yellow-4: #ad870a;
$yellow-5: #d1a70d;
$yellow-6: #f5c70f;
$yellow-7: #f7d436;
$yellow-8: #fae05f;
$yellow-9: #fceb88;
$yellow-10: #fff5b3;

$orange-1: #3d1d06;
$orange-2: #612f09;
$orange-3: #85420c;
$orange-4: #a8570f;
$orange-5: #cc6c12;
$orange-6: #f08316;
$orange-7: #f59c3d;
$orange-8: #fab566;
$orange-9: #ffce91;
$orange-10: #ffe1ba;

$red-1: #421518;
$red-2: #662024;
$red-3: #8a2b2f;
$red-4: #ad363a;
$red-5: #d14143;
$red-6: #f54c4c;
$red-7: #f76d6a;
$red-8: #fa8d89;
$red-9: #fcada9;
$red-10: #ffcdc9;

$magenta-1: #2b1a27;
$magenta-2: #4a2440;
$magenta-3: #692a57;
$magenta-4: #872d6c;
$magenta-5: #a62e80;
$magenta-6: #c43193;
$magenta-7: #d14fa4;
$magenta-8: #de71b6;
$magenta-9: #eb96ca;
$magenta-10: #f7bee1;

$purple-1: #2a2336;
$purple-2: #3d2e54;
$purple-3: #4f3573;
$purple-4: #5f3991;
$purple-5: #703cb0;
$purple-6: #8340cf;
$purple-7: #995dd9;
$purple-8: #b07de3;
$purple-9: #c79fed;
$purple-10: #dfc3f7;

$navy-1: #21212e;
$navy-2: #2e2f4d;
$navy-3: #373a6b;
$navy-4: #3d438a;
$navy-5: #424ca8;
$navy-6: #4856c7;
$navy-7: #6372d4;
$navy-8: #8290e0;
$navy-9: #a4b0ed;
$navy-10: #c8d1fa;

$gray-1: #1c1c1c;
$gray-2: #242424;
$gray-3: #292929;
$gray-4: #363636;
$gray-5: #404040;
$gray-6: #474747;
$gray-7: #5b5b5b;
$gray-8: #686868;
$gray-9: #7b7b7b;
$gray-10: #999999;

/* 线型色 */
$line-blue: $blue-6;
$line-green: $green-5;
$line-yellow: $yellow-6;
$line-red: $red-6;
$line-cyan: $cyan-5;
$line-purple: $purple-6;
$line-orange: $orange-6;
$line-navy: $navy-6;
$line-lime: $lime-5;
$line-magenta: $magenta-6;

/* 面型色 */
$surf-blue: $blue-5;
$surf-green: $green-4;
$surf-yellow: $yellow-5;
$surf-red: $red-5;
$surf-cyan: $cyan-4;
$surf-purple: $purple-4;
$surf-orange: $orange-5;
$surf-navy: $navy-5;
$surf-lime: $lime-4;
$surf-magenta: $magenta-5;

/* 面透明（基本用于hover） */
$surf-tp-blue: $blue-1;
$surf-tp-green: $green-1;
$surf-tp-yellow: $yellow-1;
$surf-tp-red: $red-1;
$surf-tp-cyan: $cyan-1;
$surf-tp-purple: $purple-1;
$surf-tp-orange: $orange-1;
$surf-tp-navy: $navy-1;
$surf-tp-lime: $lime-1;
$surf-tp-magenta: $magenta-1;

/* 功能色-基础 */
$status-primary: $blue-6;
$status-success: $green-6;
$status-warning: $yellow-6;
$status-danger: $orange-6;
$status-error: $red-6;

/* ******************************************************************* */

/* 功能色-primary */
/*@public*/ $primary-default: $blue-6;
/*@public*/ $primary-hover: $blue-7;
/*@public*/ $primary-active: $blue-8;
/*@public*/ $primary-disabled: $blue-2;

/* 功能色-success */
/*@public*/ $success-default: $green-6;
/*@public*/ $success-hover: $green-7;
/*@public*/ $success-active: $green-8;
/*@public*/ $success-disabled: $green-2;

/* 功能色-warning */
/*@public*/ $warning-default: $yellow-6;
/*@public*/ $warning-hover: $yellow-7;
/*@public*/ $warning-active: $yellow-8;
/*@public*/ $warning-disabled: $yellow-2;

/* 功能色-error */
/*@public*/ $error-default: $red-6;
/*@public*/ $error-hover: $red-7;
/*@public*/ $error-active: $red-8;
/*@public*/ $error-disabled: $red-2;

/* 功能色-danger */
/*@public*/ $danger-default: $orange-6;
/*@public*/ $danger-hover: $orange-7;
/*@public*/ $danger-active: $orange-8;
/*@public*/ $danger-disabled: $orange-2;

/* 功能色-process */
/*@public*/ $process-default: $navy-6;
/*@public*/ $process-hover: $navy-7;
/*@public*/ $process-active: $navy-8;
/*@public*/ $process-disabled: $navy-2;

/* brand 品牌色 */
/*@public*/ $brand-default: $blue-6;
/*@public*/ $brand-hover: $blue-7;
/*@public*/ $brand-active: $blue-8;
/*@public*/ $brand-disabled: $blue-2;
$brand-lighten: $blue-1;
$brand-active-lighten: $blue-2;

/* background 背景色 */
/*@public*/ $bg-body: $gray-1;
/*@public*/ $bg-app: #12131C;
/*@public*/ $bg-container: $gray-5;
/*@public*/ $bg-component: $gray-2;
/*@public*/ $bg-component-darken: $gray-7;
/*@public*/ $bg-disabled: $gray-8;
/*@public*/ $bg-hover: $gray-6;
/*@public*/ $bg-active: $gray-7;
$bg-transparent: transparent;
$bg-popup: $gray-5;
$bg-gray: $gray-3;
$bg-gray-spec: $gray-9;
$bg-scrollbar: $gray-6;
$bg-scrollbar-lighten: $gray-8;

/* font 字体颜色 */
/*@public*/ $font-color-default: hsl(0, 0%, 100%);
/*@public*/ $font-color-disabled: $gray-10;
/*@public*/ $font-color-heading: hsl(0, 0%, 100%);
$font-color-disabled-spec: $gray-10;
/*@public*/ $font-color-hint: $gray-10;
$font-color-watermark: $gray-8;
$font-color-heading-bold: hsl(0, 0%, 100%);
$font-color-heading-bold-lighten: hsl(0, 0%, 100%);
$font-color-tag: $gray-9;
/*@public*/ $font-color-white: hsl(0, 0%, 100%);
$font-color-white-darken: $gray-7;
/*@public*/ $font-color-brand: $blue-8;
/*@public*/ $font-color-brand-hover: $blue-7;

/* border 边框 */
/*@public*/ $border-color-default: $gray-7;
/*@public*/ $border-color-disabled: $gray-6;
$border-color-popup: $gray-6;
$border-color-shadow-cntr: $gray-6;

/* split line 分割线 */
/*@public*/ $splitline-default: $gray-7;

/* icon 图标 */
/*@public*/ $icon-color-default: hsl(0, 0%, 100%);
/*@public*/ $icon-color-disabled: $gray-10;
/*@public*/ $icon-color-stress: hsl(0, 0%, 100%);
$icon-color-inactive: $gray-5;

/* box-shadow 阴影（基于altitude）*/
/*@public*/ $box-shadow-lv0: none;
/*@public*/ $box-shadow-lv1: 0px 1px 2px hsla(0, 0%, 0%, 0.12);
/*@public*/ $box-shadow-lv2: 0px 2px 8px hsla(0, 0%, 0%, 0.08);
/*@public*/ $box-shadow-lv3: 0px 5px 12px hsla(0, 0%, 0%, 0.06);

/* nav 导航色 */
/*@public*/ $nav-header: $gray-3;
/*@public*/ $nav-navigation: $gray-3;
/*@public*/ $nav-navigation-darken: $gray-4;
/*@public*/ $nav-hover: $gray-7;
/*@public*/ $nav-active: $gray-6;
$nav-color: $font-color-default;
$nav-color-disabled: $font-color-disabled;
$nav-color-active: $brand-default;
$nav-border: $border-color-default;

/* 蒙版色 */
$mask-default: rgba(#fff, 0.6);

$color-hover:#454647;// tab-bar 选中， 左侧面板header

$color-7: #121212; // 画布尺
$color-9: #171717; // 底部操作栏已选
$color-10: #191919; // 画布背景
$color-11: #1c1c1c; // tab-bar 背景（tab-bar可能为透明）  / 画布背景
$color-12: #1e1e1e; //代码黑框
$color-14: #242424; // 组件背景
$color-15:#262626; // 画布弹框
$color-16:#292929; //顶部导航，侧边导航，右侧tab
$color-16-1:#282828;
$color-17: #2b2b2b; // 底部操作栏 右侧折叠header
$color-18: #2e2e2e; // 左侧面板body
$color-19: #303030; // 某个下拉框  右侧弹出面板内容器
$color-21: #363636; // 底部操作栏弹出  侧边导航body  右侧弹出面板背景 左侧弹出面板背景
$color-25: #404040; // 右侧折叠body  右侧弹出 tab选中
$color-28:#474747; //组件操作框背景，侧边导航选中 ， 侧边导航body
$color-30: #4d4d4d; // tooltip
$color-30-1: #4c4c4c; // 底部操作栏输入
$color-36: #5b5b5b; // 图标按钮背景  按钮背景
$color-37: #5f5f5f; // 右侧面板按钮  画布弹框输入框
$color-41: #686868; // border
$color-48: #7b7b7b; // disabled
$color-59: #979797; // 画布里的边框
$color-60: #999999; // icon
$color-67: #aaaaaa; // icon

$blu :#0254F2;