/* paletx-pro-light */
$blue-1: mix(#fff, #41addc, 90%);
$blue-2: mix(#fff, #41addc, 80%);
$blue-3: mix(#fff, #41addc, 60%);
$blue-4: mix(#fff, #41addc, 40%);
$blue-5: mix(#fff, #41addc, 20%);
$blue-6: #41addc;
$blue-7: mix(#000, #41addc, 10%);
$blue-8: mix(#000, #41addc, 20%);
$blue-9: mix(#000, #41addc, 30%);
$blue-10: mix(#000, #41addc, 40%);

$cyan-1: mix(#fff, #01c5c2, 90%);
$cyan-2: mix(#fff, #01c5c2, 80%);
$cyan-3: mix(#fff, #01c5c2, 60%);
$cyan-4: mix(#fff, #01c5c2, 40%);
$cyan-5: mix(#fff, #01c5c2, 20%);
$cyan-6: #01c5c2;
$cyan-7: mix(#000, #01c5c2, 10%);
$cyan-8: mix(#000, #01c5c2, 20%);
$cyan-9: mix(#000, #01c5c2, 30%);
$cyan-10: mix(#000, #01c5c2, 40%);

$green-1: mix(#fff, #87d068, 90%);
$green-2: mix(#fff, #87d068, 80%);
$green-3: mix(#fff, #87d068, 60%);
$green-4: mix(#fff, #87d068, 40%);
$green-5: mix(#fff, #87d068, 20%);
$green-6: #87d068;
$green-7: mix(#000, #87d068, 10%);
$green-8: mix(#000, #87d068, 20%);
$green-9: mix(#000, #87d068, 30%);
$green-10: mix(#000, #87d068, 40%);

$lime-1: #f7ffe0;
$lime-2: #e0f2b3;
$lime-3: #c8e388;
$lime-4: #afd461;
$lime-5: #98c43f;
$lime-6: #80b420;
$lime-7: #699917;
$lime-8: #537d0f;
$lime-9: #3e6109;
$lime-10: #2a4504;

$yellow-1: #fffddb;
$yellow-2: #fff9b3;
$yellow-3: #faee87;
$yellow-4: #f5e35d;
$yellow-5: #f0d735;
$yellow-6: #ebca0f;
$yellow-7: #c7a70a;
$yellow-8: #a38607;
$yellow-9: #806704;
$yellow-10: #5c4802;

$orange-1: mix(#fff, #e78f4e, 90%);
$orange-2: mix(#fff, #e78f4e, 80%);
$orange-3: mix(#fff, #e78f4e, 60%);
$orange-4: mix(#fff, #e78f4e, 40%);
$orange-5: mix(#fff, #e78f4e, 20%);
$orange-6: #e78f4e;
$orange-7: mix(#000, #e78f4e, 10%);
$orange-8: mix(#000, #e78f4e, 20%);
$orange-9: mix(#000, #e78f4e, 30%);
$orange-10: mix(#000, #e78f4e, 40%);

$red-1: mix(#fff, #ec6d6d, 90%);
$red-2: mix(#fff, #ec6d6d, 80%);
$red-3: mix(#fff, #ec6d6d, 60%);
$red-4: mix(#fff, #ec6d6d, 40%);
$red-5: mix(#fff, #ec6d6d, 20%);
$red-6: #ec6d6d;
$red-7: mix(#000, #ec6d6d, 10%);
$red-8: mix(#000, #ec6d6d, 20%);
$red-9: mix(#000, #ec6d6d, 30%);
$red-10: mix(#000, #ec6d6d, 40%);

$magenta-1: #ffe6f4;
$magenta-2: #ffc4e8;
$magenta-3: #f79ed5;
$magenta-4: #f07ac5;
$magenta-5: #e858b6;
$magenta-6: #e038a8;
$magenta-7: #bf288f;
$magenta-8: #9e1b77;
$magenta-9: #7d105e;
$magenta-10: #5c0846;

$purple-1: #f5e8ff;
$purple-2: #e6c9ff;
$purple-3: #d4a9fc;
$purple-4: #c088f7;
$purple-5: #ab68f2;
$purple-6: #964aed;
$purple-7: #7734c9;
$purple-8: #5c23a6;
$purple-9: #421582;
$purple-10: #2c0a5e;

$navy-1: #e8edff;
$navy-2: #ccd5ff;
$navy-3: #acb9fa;
$navy-4: #8d9cf2;
$navy-5: #6e7feb;
$navy-6: #5162e2;
$navy-7: #3a48c2;
$navy-8: #2731a1;
$navy-9: #171e80;
$navy-10: #0b0f5e;

$gray-1: #ffffff;
$gray-2: #e9e9e9;
$gray-3: #dcdcdc;
$gray-4: #bfbfbf;
$gray-5: #999999;
$gray-6: #777777;
$gray-7: #666666;
$gray-8: #444444;
$gray-9: #333333;
$gray-10: #222222;

/* 线型色 */
$line-blue: $blue-6;
$line-green: $green-5;
$line-yellow: $yellow-6;
$line-red: $red-6;
$line-cyan: $cyan-5;
$line-purple: $purple-6;
$line-orange: $orange-6;
$line-navy: $navy-6;
$line-lime: $lime-5;
$line-magenta: $magenta-6;

/* 面型色 */
$surf-blue: $blue-5;
$surf-green: $green-4;
$surf-yellow: $yellow-5;
$surf-red: $red-5;
$surf-cyan: $cyan-4;
$surf-purple: $purple-4;
$surf-orange: $orange-5;
$surf-navy: $navy-5;
$surf-lime: $lime-4;
$surf-magenta: $magenta-5;

/* 面透明（基本用于hover） */
$surf-tp-blue: $blue-1;
$surf-tp-green: $green-1;
$surf-tp-yellow: $yellow-1;
$surf-tp-red: $red-1;
$surf-tp-cyan: $cyan-1;
$surf-tp-purple: $purple-1;
$surf-tp-orange: $orange-1;
$surf-tp-navy: $navy-1;
$surf-tp-lime: $lime-1;
$surf-tp-magenta: $magenta-1;

/* 功能色-基础 */
$status-primary: $blue-6;
$status-success: $green-6;
$status-warning: $yellow-6;
$status-danger: $orange-6;
$status-error: $red-6;

/* ******************************************************************* */

/* 功能色-primary */
/*@public*/ $primary-default: $blue-6;
/*@public*/ $primary-hover: $blue-7;
/*@public*/ $primary-active: $blue-8;
/*@public*/ $primary-disabled: $blue-2;

/* 功能色-success */
/*@public*/ $success-default: $green-6;
/*@public*/ $success-hover: $green-7;
/*@public*/ $success-active: $green-8;
/*@public*/ $success-disabled: $green-2;

/* 功能色-warning */
/*@public*/ $warning-default: $orange-6;
/*@public*/ $warning-hover: $orange-7;
/*@public*/ $warning-active: $orange-8;
/*@public*/ $warning-disabled: $orange-2;

/* 功能色-error */
/*@public*/ $error-default: $red-6;
/*@public*/ $error-hover: $red-7;
/*@public*/ $error-active: $red-8;
/*@public*/ $error-disabled: $red-2;

/* 功能色-danger */
/*@public*/ $danger-default: $yellow-6;
/*@public*/ $danger-hover: $yellow-7;
/*@public*/ $danger-active: $yellow-8;
/*@public*/ $danger-disabled: $yellow-2;

/* 功能色-process */
/*@public*/ $process-default: $navy-6;
/*@public*/ $process-hover: $navy-7;
/*@public*/ $process-active: $navy-8;
/*@public*/ $process-disabled: $navy-2;

/* brand 品牌色 */
/*@public*/ $brand-default: $blue-6;
/*@public*/ $brand-hover: $blue-5;
/*@public*/ $brand-active: $blue-7;
/*@public*/ $brand-disabled: $blue-2;
$brand-lighten: $blue-1;
$brand-active-lighten: $blue-2;

/* background 背景色 */
/*@public*/ $bg-body: $gray-1;
/*@public*/ $bg-app: #f1f2f6;
/*@public*/ $bg-container: #f7f7f7;
/*@public*/ $bg-component: $gray-1;
/*@public*/ $bg-component-darken: #f7f7f7;
/*@public*/ $bg-disabled: #f7f7f7;
/*@public*/ $bg-hover: $blue-1;
/*@public*/ $bg-active: $blue-2;
$bg-transparent: transparent;
$bg-popup: $gray-1;
$bg-gray: $gray-3;
$bg-gray-spec: $gray-1;
$bg-scrollbar: $gray-3;
$bg-scrollbar-lighten: $gray-7;

/* font 字体颜色 */
/*@public*/ $font-color-default: $gray-7;
/*@public*/ $font-color-disabled: $gray-4;
/*@public*/ $font-color-heading: $gray-9;
$font-color-disabled-spec: $gray-4;
/*@public*/ $font-color-hint: $gray-5;
$font-color-watermark: $gray-5;
$font-color-heading-bold: $gray-10;
$font-color-heading-bold-lighten: $gray-9;
$font-color-tag: $gray-5;
/*@public*/ $font-color-white: hsl(0, 0%, 100%);
$font-color-white-darken: $gray-3;
$font-color-brand: $brand-default;
$font-color-brand-hover: $brand-hover;

/* border 边框 */
/*@public*/ $border-color-default: $gray-3;
/*@public*/ $border-color-disabled: $gray-2;
$border-color-popup: $gray-2;
$border-color-shadow-cntr: transparent;

/* split line 分割线 */
/*@public*/ $splitline-default: $gray-2;

/* icon 图标 */
/*@public*/ $icon-color-default: $gray-7;
/*@public*/ $icon-color-disabled: $gray-4;
/*@public*/ $icon-color-stress: $gray-9;
$icon-color-inactive: $gray-4;

/* box-shadow 阴影（基于altitude）*/
/*@public*/ $box-shadow-lv0: none;
/*@public*/ $box-shadow-lv1: 0px 1px 6px hsla(0, 0%, 0%, 0.2);
/*@public*/ $box-shadow-lv2: 0px 2px 8px hsla(0, 0%, 0%, 0.15);
/*@public*/ $box-shadow-lv3: 0px 5px 12px hsla(0, 0%, 0%, 0.12);

/* 导航色 */
/*@public*/ $nav-header: #0096e7;
$nav-navigation: $gray-2;
$nav-navigation-darken: $gray-3;
$nav-hover: $blue-1;
$nav-active: $gray-1;
$nav-color: $font-color-default;
$nav-color-disabled: $font-color-disabled;
$nav-color-active: $brand-default;
$nav-border: $border-color-default;

/* 蒙版色 */
$mask-default: rgba(#000, 0.3);
