// Palette
$blue-1:#192738;
$blue-2:#1e3a59;
$blue-3:#1f4b7a;
$blue-4:#1c5c9c;
$blue-5:#196dbd;
$blue-6:#1681de;
$blue-7:#3c99e6;
$blue-8:#64b2ed;
$blue-9:#8ecaf5;
$blue-10:#bbe2fc;

$cyan-1:#102426;
$cyan-2:#143a3d;
$cyan-3:#135154;
$cyan-4:#11686b;
$cyan-5:#0e8082;
$cyan-6:#0c9999;
$cyan-7:#2ab0ae;
$cyan-8:#50c7c3;
$cyan-9:#7cded9;
$cyan-10:#b0f5f0;

$green-1:#19291c;
$green-2:#204026;
$green-3:#24572d;
$green-4:#256e31;
$green-5:#268535;
$green-6:#289c38;
$green-7:#45b051;
$green-8:#66c470;
$green-9:#8dd993;
$green-10:#b9edbc;

$lime-1:#202916;
$lime-2:#30401b;
$lime-3:#3f571d;
$lime-4:#4f6e1d;
$lime-5:#5e851c;
$lime-6:#6f9c1c;
$lime-7:#88b038;
$lime-8:#a3c45a;
$lime-9:#bfd982;
$lime-10:#dcedaf;

$yellow-1:#332c15;
$yellow-2:#524518;
$yellow-3:#705e18;
$yellow-4:#8f7814;
$yellow-5:#ad9310;
$yellow-6:#ccaf0c;
$yellow-7:#d9c230;
$yellow-8:#e6d557; 
$yellow-9:#f2e783;
$yellow-10:#fff9b3;

$orange-1:#382619;
$orange-2:#57361d;
$orange-3:#75441c;
$orange-4:#945219;
$orange-5:#b36115;
$orange-6:#d17213;
$orange-7:#db8c37;
$orange-8:#e6a65e;
$orange-9:#f0c189;
$orange-10:#faddb6;

$red-1:#382426;
$red-2:#572e31;
$red-3:#753437;
$red-4:#94373a;
$red-5:#b3393b;
$red-6:#d13d3d;
$red-7:#db5c5a;
$red-8:#e67d7a;
$red-9:#f0a09c;
$red-10:#fac4c0;

$magenta-1:#2b1a27;
$magenta-2:#4a2440;
$magenta-3:#692a57;
$magenta-4:#872d6c;
$magenta-5:#a62e80;
$magenta-6:#c43193;
$magenta-7:#d14fa4;
$magenta-8:#de71b6;
$magenta-9:#eb96ca;
$magenta-10:#f7bee1;

$purple-1:#2a2336;
$purple-2:#3d2e54;
$purple-3:#4f3573;
$purple-4:#5f3991;
$purple-5:#703cb0;
$purple-6:#8340cf;
$purple-7:#995dd9;
$purple-8:#b07de3;
$purple-9:#c79fed;
$purple-10:#dfc3f7;

$navy-1:#21212e;
$navy-2:#2e2f4d;
$navy-3:#373a6b;
$navy-4:#3d438a;
$navy-5:#424ca8;
$navy-6:#4856c7;
$navy-7:#6372d4;
$navy-8:#8290e0;
$navy-9:#a4b0ed;
$navy-10:#c8d1fa;

$gray-1:#0f111a;
$gray-2:#1b1d26;
$gray-3:#22242e;
$gray-4:#2a2c38;
$gray-5:#323543;
$gray-6:#474a59;
$gray-7:#7b7e8c;
$gray-8:#a4a7b3;
$gray-9:#d9d9d9;
$gray-10:#e5e5e5;


// 品牌色
$brand-default:hsl(208, 100%, 55%);
$brand-hover:hsl(209, 85%, 46%);
$brand-click:hsl(210, 88%, 37%);
$brand-disabled:hsl(205, 100%, 87%);

// 功能色
$status-primary:hsl(208, 100%, 55%);
$status-success:hsl(128, 59%, 44%);
$status-warning-weak:hsl(51, 88%, 49%);
$status-warning-strong:hsl(30, 88%, 51%);
$status-error:hsl(0, 85%, 61%);