/* paletx-pro-light */
$blue-1: #e6f5ff;
$blue-2: #bde4ff;
$blue-3: #94d2ff;
$blue-4: #6bbfff;
$blue-5: #42aaff;
$blue-6: #1a93ff;
$blue-7: #1178d9;
$blue-8: #0b5fb3;
$blue-9: #06478c;
$blue-10: #023166;

$cyan-1: #e0fffc;
$cyan-2: #b0f5f0;
$cyan-3: #7fe3de;
$cyan-4: #54d1cd;
$cyan-5: #2ebfbd;
$cyan-6: #0eaeae;
$cyan-7: #099294;
$cyan-8: #05767a;
$cyan-9: #025c61;
$cyan-10: #004347;

$green-1: #e8ffe9;
$green-2: #c3fac7;
$green-3: #97e89e;
$green-4: #6fd67a;
$green-5: #4dc45b;
$green-6: #2eb240;
$green-7: #219633;
$green-8: #167a27;
$green-9: #0d5e1c;
$green-10: #074213;

$lime-1: #f7ffe0;
$lime-2: #e0f2b3;
$lime-3: #c8e388;
$lime-4: #afd461;
$lime-5: #98c43f;
$lime-6: #80b420;
$lime-7: #699917;
$lime-8: #537d0f;
$lime-9: #3e6109;
$lime-10: #2a4504;

$yellow-1: #fffddb;
$yellow-2: #fff9b3;
$yellow-3: #faee87;
$yellow-4: #f5e35d;
$yellow-5: #f0d735;
$yellow-6: #ebca0f;
$yellow-7: #c7a70a;
$yellow-8: #a38607;
$yellow-9: #806704;
$yellow-10: #5c4802;

$orange-1: #fff3e3;
$orange-2: #ffe1ba;
$orange-3: #ffce91;
$orange-4: #fab566;
$orange-5: #f59c3d;
$orange-6: #f08316;
$orange-7: #cc6a0e;
$orange-8: #a85308;
$orange-9: #853e04;
$orange-10: #612b01;

$red-1: #ffe5e3;
$red-2: #ffc8c4;
$red-3: #ffaaa6;
$red-4: #fa8884;
$red-5: #f56764;
$red-6: #f04646;
$red-7: #cc3134;
$red-8: #a82025;
$red-9: #851318;
$red-10: #61090f;

$magenta-1: #ffe6f4;
$magenta-2: #ffc4e8;
$magenta-3: #f79ed5;
$magenta-4: #f07ac5;
$magenta-5: #e858b6;
$magenta-6: #e038a8;
$magenta-7: #bf288f;
$magenta-8: #9e1b77;
$magenta-9: #7d105e;
$magenta-10: #5c0846;

$purple-1: #f5e8ff;
$purple-2: #e6c9ff;
$purple-3: #d4a9fc;
$purple-4: #c088f7;
$purple-5: #ab68f2;
$purple-6: #964aed;
$purple-7: #7734c9;
$purple-8: #5c23a6;
$purple-9: #421582;
$purple-10: #2c0a5e;

$navy-1: #e8edff;
$navy-2: #ccd5ff;
$navy-3: #acb9fa;
$navy-4: #8d9cf2;
$navy-5: #6e7feb;
$navy-6: #5162e2;
$navy-7: #3a48c2;
$navy-8: #2731a1;
$navy-9: #171e80;
$navy-10: #0b0f5e;

$gray-1: #ffffff;
$gray-2: #f5f5f5;
$gray-3: #eeeeee;
$gray-4: #e5e5e5;
$gray-5: #d9d9d9;
$gray-6: #bfbfbf;
$gray-7: #999999;
$gray-8: #737373;
$gray-9: #4d4d4d;
$gray-10: #333333;

/* 线型色 */
$line-blue: $blue-6;
$line-green: $green-5;
$line-yellow: $yellow-6;
$line-red: $red-6;
$line-cyan: $cyan-5;
$line-purple: $purple-6;
$line-orange: $orange-6;
$line-navy: $navy-6;
$line-lime: $lime-5;
$line-magenta: $magenta-6;

/* 面型色 */
$surf-blue: $blue-5;
$surf-green: $green-4;
$surf-yellow: $yellow-5;
$surf-red: $red-5;
$surf-cyan: $cyan-4;
$surf-purple: $purple-4;
$surf-orange: $orange-5;
$surf-navy: $navy-5;
$surf-lime: $lime-4;
$surf-magenta: $magenta-5;

/* 面透明（基本用于hover） */
$surf-tp-blue: $blue-1;
$surf-tp-green: $green-1;
$surf-tp-yellow: $yellow-1;
$surf-tp-red: $red-1;
$surf-tp-cyan: $cyan-1;
$surf-tp-purple: $purple-1;
$surf-tp-orange: $orange-1;
$surf-tp-navy: $navy-1;
$surf-tp-lime: $lime-1;
$surf-tp-magenta: $magenta-1;

/* 功能色-基础 */
$status-primary: $blue-6;
$status-success: $green-6;
$status-warning: $yellow-6;
$status-danger: $orange-6;
$status-error: $red-6;

/* ******************************************************************* */

/* 功能色-primary */
/*@public*/ $primary-default: $blue-6;
/*@public*/ $primary-hover: $blue-7;
/*@public*/ $primary-active: $blue-8;
/*@public*/ $primary-disabled: $blue-2;

/* 功能色-success */
/*@public*/ $success-default: $green-6;
/*@public*/ $success-hover: $green-7;
/*@public*/ $success-active: $green-8;
/*@public*/ $success-disabled: $green-2;

/* 功能色-warning */
/*@public*/ $warning-default: $yellow-6;
/*@public*/ $warning-hover: $yellow-7;
/*@public*/ $warning-active: $yellow-8;
/*@public*/ $warning-disabled: $yellow-2;

/* 功能色-error */
/*@public*/ $error-default: $red-6;
/*@public*/ $error-hover: $red-7;
/*@public*/ $error-active: $red-8;
/*@public*/ $error-disabled: $red-2;

/* 功能色-danger */
/*@public*/ $danger-default: $orange-6;
/*@public*/ $danger-hover: $orange-7;
/*@public*/ $danger-active: $orange-8;
/*@public*/ $danger-disabled: $orange-2;

/* 功能色-process */
/*@public*/ $process-default: $navy-6;
/*@public*/ $process-hover: $navy-7;
/*@public*/ $process-active: $navy-8;
/*@public*/ $process-disabled: $navy-2;

/* brand 品牌色 */
/*@public*/ $brand-default: $blue-6;
/*@public*/ $brand-hover: $blue-7;
/*@public*/ $brand-active: $blue-8;
/*@public*/ $brand-disabled: $blue-2;
$brand-lighten: $blue-1;
$brand-active-lighten: $blue-2;

/* background 背景色 */
/*@public*/ $bg-body: $gray-1;
/*@public*/ $bg-app: #f1f2f6;
/*@public*/ $bg-container: $gray-2;
/*@public*/ $bg-component: $gray-1;
/*@public*/ $bg-component-darken: $gray-2;
/*@public*/ $bg-disabled: $gray-2;
/*@public*/ $bg-hover: $blue-1;
/*@public*/ $bg-active: $blue-2;
$bg-transparent: transparent;
$bg-popup: $gray-1;
$bg-gray: $gray-3;
$bg-gray-spec: $gray-1;
$bg-scrollbar: $gray-3;
$bg-scrollbar-lighten: $gray-7;

/* font 字体颜色 */
/*@public*/ $font-color-default: $gray-9;
/*@public*/ $font-color-disabled: $gray-6;
/*@public*/ $font-color-heading: $gray-10;
$font-color-disabled-spec: $gray-6;
/*@public*/ $font-color-hint: $gray-7;
$font-color-watermark: $gray-7;
$font-color-heading-bold: $gray-9;
$font-color-heading-bold-lighten: $gray-9;
$font-color-tag: $gray-8;
/*@public*/ $font-color-white: hsl(0, 0%, 100%);
/*@public*/ $font-color-black: hsl(0, 0%, 0%);
$font-color-white-darken: $gray-6;
/*@public*/ $font-color-brand: $brand-default;
/*@public*/ $font-color-brand-hover: $brand-hover;

/* border 边框 */
/*@public*/ $border-color-default: $gray-5;
/*@public*/ $border-color-disabled: $gray-4;
$border-color-popup: $gray-4;
$border-color-shadow-cntr: transparent;

/* split line 分割线 */
/*@public*/ $splitline-default: $gray-4;

/* icon 图标 */
/*@public*/ $icon-color-default: $gray-6;
/*@public*/ $icon-color-disabled: $gray-4;
/*@public*/ $icon-color-stress: $gray-8;
$icon-color-inactive: $gray-4;

/* box-shadow 阴影（基于altitude）*/
/*@public*/ $box-shadow-lv0: none;
/*@public*/ $box-shadow-lv1: 0px 1px 2px hsla(0, 0%, 0%, 0.2);
/*@public*/ $box-shadow-lv2: 0px 2px 8px hsla(0, 0%, 0%, 0.15);
/*@public*/ $box-shadow-lv3: 0px 5px 12px hsla(0, 0%, 0%, 0.12);

/* 导航色 */
/*@public*/ $nav-header: $primary-default;
/*@public*/ $nav-navigation: $gray-2;
/*@public*/ $nav-navigation-darken: $gray-3;
/*@public*/ $nav-hover: $blue-1;
/*@public*/ $nav-active: $gray-1;
$nav-color: $font-color-default;
$nav-color-disabled: $font-color-disabled;
$nav-color-active: $brand-default;
$nav-border: $border-color-default;

/* 蒙版色 */
$mask-default: rgba(#000, 0.3);
