// Palette
$blue-1: #192738;
$blue-2: #1e3a59;
$blue-3: #1f4b7a;
$blue-4: #1c5c9c;
$blue-5: #196dbd;
$blue-6: #1681de;
$blue-7: #3c99e6;
$blue-8: #64b2ed;
$blue-9: #8ecaf5;
$blue-10: #bbe2fc;

$cyan-1: #102426;
$cyan-2: #143a3d;
$cyan-3: #135154;
$cyan-4: #11686b;
$cyan-5: #0e8082;
$cyan-6: #0c9999;
$cyan-7: #2ab0ae;
$cyan-8: #50c7c3;
$cyan-9: #7cded9;
$cyan-10: #b0f5f0;

$green-1: #19291c;
$green-2: #204026;
$green-3: #24572d;
$green-4: #256e31;
$green-5: #268535;
$green-6: #289c38;
$green-7: #45b051;
$green-8: #66c470;
$green-9: #8dd993;
$green-10: #b9edbc;

$lime-1: #202916;
$lime-2: #30401b;
$lime-3: #3f571d;
$lime-4: #4f6e1d;
$lime-5: #5e851c;
$lime-6: #6f9c1c;
$lime-7: #88b038;
$lime-8: #a3c45a;
$lime-9: #bfd982;
$lime-10: #dcedaf;

$yellow-1: #332c15;
$yellow-2: #524518;
$yellow-3: #705e18;
$yellow-4: #8f7814;
$yellow-5: #ad9310;
$yellow-6: #ccaf0c;
$yellow-7: #d9c230;
$yellow-8: #e6d557;
$yellow-9: #f2e783;
$yellow-10: #fff9b3;

$orange-1: #382619;
$orange-2: #57361d;
$orange-3: #75441c;
$orange-4: #945219;
$orange-5: #b36115;
$orange-6: #d17213;
$orange-7: #db8c37;
$orange-8: #e6a65e;
$orange-9: #f0c189;
$orange-10: #faddb6;

$red-1: #382426;
$red-2: #572e31;
$red-3: #753437;
$red-4: #94373a;
$red-5: #b3393b;
$red-6: #d13d3d;
$red-7: #db5c5a;
$red-8: #e67d7a;
$red-9: #f0a09c;
$red-10: #fac4c0;

$magenta-1: #2b1a27;
$magenta-2: #4a2440;
$magenta-3: #692a57;
$magenta-4: #872d6c;
$magenta-5: #a62e80;
$magenta-6: #c43193;
$magenta-7: #d14fa4;
$magenta-8: #de71b6;
$magenta-9: #eb96ca;
$magenta-10: #f7bee1;

$purple-1: #2a2336;
$purple-2: #3d2e54;
$purple-3: #4f3573;
$purple-4: #5f3991;
$purple-5: #703cb0;
$purple-6: #8340cf;
$purple-7: #995dd9;
$purple-8: #b07de3;
$purple-9: #c79fed;
$purple-10: #dfc3f7;

$navy-1: #21212e;
$navy-2: #2e2f4d;
$navy-3: #373a6b;
$navy-4: #3d438a;
$navy-5: #424ca8;
$navy-6: #4856c7;
$navy-7: #6372d4;
$navy-8: #8290e0;
$navy-9: #a4b0ed;
$navy-10: #c8d1fa;

$gray-1: #0f111a;
$gray-2: #1b1d26;
$gray-3: #22242e;
$gray-4: #2a2c38;
$gray-5: #323543;
$gray-6: #474a59;
$gray-7: #7b7e8c;
$gray-8: #a4a7b3;
$gray-9: #d9d9d9;
$gray-10: #e5e5e5;

// 线型色
$line-blue: $blue-6;
$line-green: $green-5;
$line-yellow: $yellow-6;
$line-red: $red-6;
$line-cyan: $cyan-5;
$line-purple: $purple-6;
$line-orange: $orange-6;
$line-navy: $navy-6;
$line-lime: $lime-5;
$line-magenta: $magenta-6;

// 面型色
$surf-blue: $blue-5;
$surf-green: $green-4;
$surf-yellow: $yellow-5;
$surf-red: $red-5;
$surf-cyan: $cyan-4;
$surf-purple: $purple-4;
$surf-orange: $orange-5;
$surf-navy: $navy-5;
$surf-lime: $lime-4;
$surf-magenta: $magenta-5;

// 面透明,基本用于hover
$surf-tp-blue: $blue-1;
$surf-tp-green: $green-1;
$surf-tp-uellow: $yellow-1;
$surf-tp-red: $red-1;
$surf-tp-cyan: $cyan-1;
$surf-tp-purple: $purple-1;
$surf-tp-orange: $orange-1;
$surf-tp-navy: $navy-1;
$surf-tp-lime: $lime-1;
$surf-tp-magenta: $magenta-1;

// 功能色-基础
$status-primary: $blue-6;
$status-success: $green-6;
$status-warning: $yellow-6;
$status-danger: $orange-6;
$status-error: $red-6;

/* ******************************************************************* */

// 功能色-primary
$primary-default: $blue-6;
$primary-hover: $blue-7;
$primary-click: $blue-8;
$primary-disabled: $blue-2;

// 功能色-success
$success-default: $green-6;
$success-hover: $green-7;
$success-click: $green-8;
$success-disabled: $green-2;

// 功能色-warning
$warning-default: $yellow-6;
$warning-hover: $yellow-7;
$warning-click: $yellow-8;
$warning-disabled: $yellow-2;

// 功能色-error
$error-default: $red-6;
$error-hover: $red-7;
$error-click: $red-8;
$error-disabled: $red-2;

// 功能色-danger
$danger-default: $orange-6;
$danger-hover: $orange-7;
$danger-click: $orange-8;
$danger-disabled: $orange-2;

/* 品牌色 */
$brand-default: $blue-6;
$brand-hover: $blue-7;
$brand-click: $blue-8;
$brand-disabled: $blue-2;
$brand-light: $blue-1; //pagination,navi-menu

// 背景色
$bg-body: $gray-1; //背景
$bg-component: $gray-1;
$bg-container: $gray-2; //不影响功能的背景 侧边栏、白色卡片、datepicker
$bg-disabled: $gray-3; //禁用组件背景
$bg-table-heading: $gray-4; //表头
$bg-gray: $gray-3;

$body-background: #fff;
$component-background: #fff;

// font
$font-color-default: $gray-9; //正文
$font-color-disabled: $gray-6; //禁用文字
$font-color-hint: $gray-7; //提示
$font-color-watermark: $gray-7; //水印文字
$font-color-heading: $gray-10; //非加粗标题
$font-color-heading-bold: $gray-9; //加粗标题
$font-color-tag: $gray-8; //标签文字
$font-color-white: hsl(0, 0%, 100%); //深底白字

// border
$border-color-default: $gray-6;
$border-color-disabled: $gray-4;

$splitline-color: $gray-5; //分隔线

$icon-color-default: $gray-8; //图标
$icon-color-disabled: $gray-4;

// box-shadow-altitude
// 阴影
$box-shadow-lv0: none; //背景
$box-shadow-lv1: none;
$box-shadow-lv2: 0px 2px 12px hsla(0, 0%, 0%, 15%); // Tooltip,浮动按钮，卡片hover，popover，抽屉，下拉框，级联框 ,datepicker
$box-shadow-lv3: 0px 5px 15px hsla(0, 0%, 0%, 12%); // 及时消息，模态弹框
$box-shadow-alert: $box-shadow-lv3;

/* ******************************************************** */
// 皮肤结构参数，后期分文件
// line-width
$line-width-base: 1px;
$line-width-med: 2px;
$line-width-lg: 4px;

// border-radius
$border-radius-base: 3px; // tab,button,button bar,input,notification,card,alert
$border-radius-sm: $border-radius-base - 1px; // checkbox,colorpick,pagination,timepicker,tag,datepicker
$border-radius-lg: 6px; // switch,badge

// height
$height-base: 32px; // button基础
$height-sm: 24px;
$height-med: 28px;
$height-lg: 36px;
$height-huge: 40px;

// font size
$font-size-base: 12px;
$font-size-sm: $font-size-base - 2px;
$font-size-lg: $font-size-base + 2px;

$font-title-lg: 16px;
$font-title-med: 14px;
$font-title-sm: 12px;

//icon size
$icon-size-lg: 48px;
$icon-size-med: 20px;
$icon-size-sm: 16px;

/* ******************************************************** */

// 代码块，后期分文件

// 一级标题
%title-lv1 {
    font-size: $font-title-lg;
    color: $font-color-heading;
}
// 二级标题
%title-lv2 {
    font-size: $font-title-med;
    color: $font-color-heading;
}
// 三级标题
%title-lv3 {
    font-size: $font-title-sm;
    color: $font-color-heading;
}
// 一级标题加粗
%title-bold-lv1 {
    font-size: $font-title-lg;
    font-weight: bold;
    color: $font-color-heading-bold;
}
// 二级标题加粗
%title-bold-lv2 {
    font-size: $font-title-med;
    font-weight: bold;
    color: $font-color-heading-bold;
}
// 三级标题加粗
%title-bold-lv3 {
    font-size: $font-title-sm;
    font-weight: bold;
    color: $font-color-heading-bold;
}

%test-1 {
    outline: 1px dashed red;
}

%test-2 {
    outline-color: cyan;
}
/* **************************************************** */
// Color
$primary-color: #41addc;
$info-color: #41addc;
$success-color: #87d068;
$error-color: #ec6d6d;
$highlight-color: #ec6d6d;
$warning-color: #e78f4e;
$normal-color: #dcdcdc;
$default-color: #fff;

// Palette
$primary-1: mix(#fff, $primary-color, 90%);
$primary-2: mix(#fff, $primary-color, 80%);
$primary-3: mix(#fff, $primary-color, 60%);
$primary-4: mix(#fff, $primary-color, 40%);
$primary-5: mix(#fff, $primary-color, 20%);
$primary-6: $primary-color;
$primary-7: mix(#000, $primary-color, 10%);
$primary-8: mix(#000, $primary-color, 20%);
$primary-9: mix(#000, $primary-color, 30%);
$primary-10: mix(#000, $primary-color, 40%);

// ------ Base & Require ------

$font-family: "Microsoft YaHei", Arial;
$code-family: Consolas, Menlo, Courier, monospace;
$heading-color: #333;
$heading-color-dark: #222;
$text-color: #666;
$text-color-secondary: #999;
$text-color-dark: #444;
$text-color-secondary-dark: #777;
$text-color-of-bg: #fff;

$line-height-base: 1.5;

// Border color
$border-color-base: #dcdcdc;
$border-color-split: #e9e9e9;
$border-width-base: 1px;
$border-style-base: solid;

// Background color
$background-color-base: #f7f7f7;
$background-color-dark: mix(#000, $background-color-base, 80%);

// Shadow
$shadow-color: rgba(#000, 0.2);
$shadow-1-down: 0 1px 6px $shadow-color;
$shadow-1-up: 0 -1px 6px $shadow-color;
$shadow-1-left: -1px 0 6px $shadow-color;
$shadow-1-right: 1px 0 6px $shadow-color;
$shadow-2: 0 2px 8px $shadow-color;
$box-shadow-base: $shadow-1-down;
$box-focus-shadow: 0 0 0 2px fade-out($primary-color, 0.8);

// Disabled
$disabled-color: rgba(#000, 0.25);
$disabled-color-ie11: #bfbfbf; // 兼容IE11
$disabled-bg: $background-color-base;
$disabled-bg-dark: #f4f4f4; // switch组件disabled bg

// The background colors for active and hover states for things like
// list items or table cells.
$item-hover-bg: $primary-1;
$item-active-bg: $primary-2;

// Buttons
$btn-box-shadow: none;
$btn-font-weight: 500;

// Scroll bar
$scroll-field-bg: $border-color-base;
$scroll-bar-bg: fade-out(#008fd4, 0.7);
$scroll-bar-active-bg: fade-out(#008fd4, 0.5);

// Prefix
$jigsaw-prefix: jigsaw;

// LINK
$link-color: #008fd4;
$link-hover-color: mix(#fff, $link-color, 20%);
$link-active-color: mix(#000, $link-color, 5%);
$link-hover-decoration: none;

// Animation
$ease-out: cubic-bezier(0.215, 0.61, 0.355, 1);
$ease-in: cubic-bezier(0.55, 0.055, 0.675, 0.19);
$ease-in-out: cubic-bezier(0.645, 0.045, 0.355, 1);
$ease-out-back: cubic-bezier(0.12, 0.4, 0.29, 1.46);
$ease-in-back: cubic-bezier(0.71, -0.46, 0.88, 0.6);
$ease-in-out-back: cubic-bezier(0.71, -0.46, 0.29, 1.46);
$ease-out-circ: cubic-bezier(0.08, 0.82, 0.17, 1);
$ease-in-circ: cubic-bezier(0.6, 0.04, 0.98, 0.34);
$ease-in-out-circ: cubic-bezier(0.78, 0.14, 0.15, 0.86);
$ease-out-quint: cubic-bezier(0.23, 1, 0.32, 1);
$ease-in-quint: cubic-bezier(0.755, 0.05, 0.855, 0.06);
$ease-in-out-quint: cubic-bezier(0.86, 0, 0.07, 1);

// Animation duration
$animation-duration-slow: 0.3s; // Modal
$animation-duration-base: 0.2s;
$animation-duration-fast: 0.1s; // Tooltip

// Outline
$outline-blur-size: 0;
$outline-width: 2px;
$outline-color: $primary-color;

// Media queries breakpoints
// Extra small screen / phone
$screen-xs: 480px;
$screen-xs-min: $screen-xs;
$screen-xs-max: ($screen-xs-min - 1);

// Small screen / tablet
$screen-sm: 768px;
$screen-sm-min: $screen-sm;
$screen-sm-max: ($screen-sm-min - 1);

// Medium screen / desktop
$screen-md: 992px;
$screen-md-min: $screen-md;
$screen-md-max: ($screen-md-min - 1);

// Large screen / wide desktop
$screen-lg: 1200px;
$screen-lg-min: $screen-lg;
$screen-lg-max: ($screen-lg-min - 1);

// Layout and Grid system
$grid-columns: 24;
$grid-gutter-width: 0;

// z-index list
// 地面部分分成4层：null,1,2,3
$zindex-level-1: 1;
$zindex-level-2: 2;
$zindex-level-3: 3;
// 空中部分采用后来居上的策略，所以高度设成1000
$zindex-popover-level-0: 1000;
$zindex-popover-level-1: 1001;
// ui设计器box部分
$zindex-ui-level-0: 100;
$zindex-ui-level-1: 101;
$zindex-ui-level-2: 102;
$zindex-ui-level-3: 103;

// Form
// ---
$label-required-color: $highlight-color;
$label-color: $text-color;
$form-item-margin-bottom: 24px;

// perfect scrollbar
// see issue https://github.com/zefoy/ngx-perfect-scrollbar/issues/121
.ps {
    position: relative;
}

@mixin clearfix() {
    *zoom: 1;
    &:after {
        clear: both;
        content: "";
        display: block;
    }
}

@mixin inline-block() {
    display: inline-block;
    *zoom: 1;
    *display: inline;
    vertical-align: middle;
}

@mixin opacity($opacity) {
    // IE8 filter
    $opacity-ie: ($opacity * 100);

    opacity: $opacity;
    filter: alpha(opacity=$opacity-ie);
}

@mixin line-ellipsis($width) {
    width: $width;
    @include line-ellipsis-style();
}

@mixin line-ellipsis-style() {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@mixin word-break() {
    word-wrap: break-word;
    word-break: break-all;
}

@mixin prefixer($property, $value) {
    -webkit-#{$property}: $value;
    -moz-#{$property}: $value;
    -ms-#{$property}: $value;
    -o-#{$property}: $value;
    #{$property}: $value;
}

@mixin font-awesome() {
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@mixin compatible($property, $value, $compatibleValue) {
    #{$property}: $value;
    @include compatibleIE($property, $compatibleValue);
}

@mixin compatibleIE($property, $value) {
    @include ie11Hack {
        #{$property}: $value;
    }
}

@mixin ie11Hack() {
    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
        @content;
    }
}

@mixin keyframes($name) {
    @-webkit-keyframes #{$name} {
        @content;
    }
    @-moz-keyframes #{$name} {
        @content;
    }
    @-o-keyframes #{$name} {
        @content;
    }
    @-ms-keyframes #{$name} {
        @content;
    }
    @keyframes #{$name} {
        @content;
    }
}

$z-index: (
    popover: 1000,
    notification: 1001,
    progress: 2,
    slider-mark: 3,
    slider-handle: 2,
    slider-track: 1,
    list-disabled: 2,
    input-disabled: 1,
);

@function z-index($key) {
    @return map-get($z-index, $key);
}

@mixin z-index($key) {
    z-index: z-index($key);
}
