/* vmax-pro-light */
$blue-1: #E6F5FE;
$blue-2: #B3E2FC;
$blue-3: #9AD8FC;
$blue-4: #5EBCF2;
$blue-5: #24A7F2;
$blue-6: #029AF2;
$blue-7: #027BC2;
$blue-8: #015C91;
$blue-9: #013E61;
$blue-10: #001F30;

$cyan-1: #EBF8FA;
$cyan-2: #C8F3FA;
$cyan-3: #98E0EB;
$cyan-4: #73D6E5;
$cyan-5: #4CC6D9;
$cyan-6: #26ABBF;
$cyan-7: #1F8999;
$cyan-8: #176773;
$cyan-9: #0F444C;
$cyan-10: #072226;

$green-1: #DAFAED;
$green-2: #B6FAE0;
$green-3: #73E5BA;
$green-4: #4AD49F;
$green-5: #28C78A;
$green-6: #07BB75;
$green-7: #07A367;
$green-8: #068C59;
$green-9: #05754A;
$green-10: #045E3C;

$lime-1: #F3FFD9;
$lime-2: #DFFAA0;
$lime-3: #BEE36B;
$lime-4: #A9DE2C;
$lime-5: #93CC0E;
$lime-6: #86BA07;
$lime-7: #719E06;
$lime-8: #5B8005;
$lime-9: #496604;
$lime-10: #364C03;

$yellow-1: #FCF1DE;
$yellow-2: #FAE2BB;
$yellow-3: #F5CF93;
$yellow-4: #F2BB61;
$yellow-5: #EDA42F;
$yellow-6: #EA9715;
$yellow-7: #D48A14;
$yellow-8: #B87811;
$yellow-9: #99640E;
$yellow-10: #7A500B;

$orange-1: #FFEBDE;
$orange-2: #FAD9C3;
$orange-3: #FAB98C;
$orange-4: #FA8C41;
$orange-5: #EB782A;
$orange-6: #EA6B15;
$orange-7: #D66213;
$orange-8: #C45A11;
$orange-9: #A64C0E;
$orange-10: #873E0C;

$red-1: #FBDADA;
$red-2: #FBBFBF;
$red-3: #FA9696;
$red-4: #FA7D7D;
$red-5: #FA6464;
$red-6: #E94F4F;
$red-7: #D14747;
$red-8: #BA3F3F;
$red-9: #AB3A3A;
$red-10: #943232;

$magenta-1: #EFDEF7;
$magenta-2: #EAC8FA;
$magenta-3: #DCA1F7;
$magenta-4: #CE7AF5;
$magenta-5: #C256F5;
$magenta-6: #B630F3;
$magenta-7: #9829CC;
$magenta-8: #7C21A6;
$magenta-9: #5F1A80;
$magenta-10: #431259;

$purple-1: #EFE8FF;
$purple-2: #DAC9FF;
$purple-3: #C3A9FC;
$purple-4: #AB88F7;
$purple-5: #9468F2;
$purple-6: #7E4AED;
$purple-7: #6334C9;
$purple-8: #4C23A6;
$purple-9: #381582;
$purple-10: #250A5E;

$navy-1: #EDEFFA;
$navy-2: #DFE3FA;
$navy-3: #CED4F2;
$navy-4: #9DACF2;
$navy-5: #788CF0;
$navy-6: #516AEB;
$navy-7: #455CCC;
$navy-8: #384BA6;
$navy-9: #2B3980;
$navy-10: #1E2859;

$gray-1: #FFFFFF;
$gray-2: #F5F5F5;
$gray-3: #EEEEEE;
$gray-4: #E5E5E5;
$gray-5: #D9D9D9;
$gray-6: #BFBFBF;
$gray-7: #999999;
$gray-8: #737373;
$gray-9: #4D4D4D;
$gray-10: #333333;

/* 线型色 */
$line-blue: $blue-6;
$line-green: $green-5;
$line-yellow: $yellow-6;
$line-red: $red-6;
$line-cyan: $cyan-5;
$line-purple: $purple-6;
$line-orange: $orange-6;
$line-navy: $navy-6;
$line-lime: $lime-5;
$line-magenta: $magenta-6;

/* 面型色 */
$surf-blue: $blue-5;
$surf-green: $green-4;
$surf-yellow: $yellow-5;
$surf-red: $red-5;
$surf-cyan: $cyan-4;
$surf-purple: $purple-4;
$surf-orange: $orange-5;
$surf-navy: $navy-5;
$surf-lime: $lime-4;
$surf-magenta: $magenta-5;

/* 面透明（基本用于hover） */
$surf-tp-blue: $blue-1;
$surf-tp-green: $green-1;
$surf-tp-yellow: $yellow-1;
$surf-tp-red: $red-1;
$surf-tp-cyan: $cyan-1;
$surf-tp-purple: $purple-1;
$surf-tp-orange: $orange-1;
$surf-tp-navy: $navy-1;
$surf-tp-lime: $lime-1;
$surf-tp-magenta: $magenta-1;

/* 功能色-基础 */
$status-primary: $blue-6;
$status-success: $green-6;
$status-warning: $yellow-6;
$status-danger: $orange-6;
$status-error: $red-6;

/* ******************************************************************* */

/* 功能色-primary */
/*@public*/ $primary-default: $blue-6;
/*@public*/ $primary-hover: $blue-7;
/*@public*/ $primary-active: $blue-8;
/*@public*/ $primary-disabled: $blue-2;

/* 功能色-success */
/*@public*/ $success-default: $green-6;
/*@public*/ $success-hover: $green-7;
/*@public*/ $success-active: $green-8;
/*@public*/ $success-disabled: $green-2;

/* 功能色-warning */
/*@public*/ $warning-default: $yellow-6;
/*@public*/ $warning-hover: $yellow-7;
/*@public*/ $warning-active: $yellow-8;
/*@public*/ $warning-disabled: $yellow-2;

/* 功能色-error */
/*@public*/ $error-default: $red-6;
/*@public*/ $error-hover: $red-7;
/*@public*/ $error-active: $red-8;
/*@public*/ $error-disabled: $red-2;

/* 功能色-danger */
/*@public*/ $danger-default: $orange-6;
/*@public*/ $danger-hover: $orange-7;
/*@public*/ $danger-active: $orange-8;
/*@public*/ $danger-disabled: $orange-2;

/* 功能色-process */
/*@public*/ $process-default: $navy-6;
/*@public*/ $process-hover: $navy-7;
/*@public*/ $process-active: $navy-8;
/*@public*/ $process-disabled: $navy-2;

/* brand 品牌色 */
/*@public*/ $brand-default: $blue-6;
/*@public*/ $brand-hover: $blue-7;
/*@public*/ $brand-active: $blue-8;
/*@public*/ $brand-disabled: $blue-2;
$brand-lighten: $blue-1;
$brand-active-lighten: $blue-2;

/* background 背景色 */
/*@public*/ $bg-body: $gray-1;
/*@public*/ $bg-app: #f1f2f6;
/*@public*/ $bg-container: $gray-2;
/*@public*/ $bg-component: $gray-1;
/*@public*/ $bg-component-darken: $gray-2;
/*@public*/ $bg-disabled: $gray-2;
/*@public*/ $bg-hover: $blue-1;
/*@public*/ $bg-active: $blue-2;
$bg-transparent: transparent;
$bg-popup: $gray-1;
$bg-gray: $gray-3;
$bg-gray-spec: $gray-1;
$bg-scrollbar: $gray-3;
$bg-scrollbar-lighten: $gray-7;

/* font 字体颜色 */
/*@public*/ $font-color-default: $gray-9;
/*@public*/ $font-color-disabled: $gray-6;
/*@public*/ $font-color-heading: $gray-10;
$font-color-disabled-spec: $gray-6;
/*@public*/ $font-color-hint: $gray-7;
$font-color-watermark: $gray-7;
$font-color-heading-bold: $gray-9;
$font-color-heading-bold-lighten: $gray-9;
$font-color-tag: $gray-8;
/*@public*/ $font-color-white: hsl(0, 0%, 100%);
/*@public*/ $font-color-black: hsl(0, 0%, 0%);
$font-color-white-darken: $gray-6;
/*@public*/ $font-color-brand: $brand-default;
/*@public*/ $font-color-brand-hover: $brand-hover;

/* border 边框 */
/*@public*/ $border-color-default: $gray-5;
/*@public*/ $border-color-disabled: $gray-4;
$border-color-popup: $gray-4;
$border-color-shadow-cntr: transparent;

/* split line 分割线 */
/*@public*/ $splitline-default: $gray-4;

/* icon 图标 */
/*@public*/ $icon-color-default: $gray-8;
/*@public*/ $icon-color-disabled: $gray-6;
/*@public*/ $icon-color-stress: $gray-8;
$icon-color-inactive: $gray-4;

/* box-shadow 阴影（基于altitude）*/
/*@public*/ $box-shadow-lv0: none;
/*@public*/ $box-shadow-lv1: 0px 1px 2px hsla(0, 0%, 0%, 0.2);
/*@public*/ $box-shadow-lv2: 0px 2px 8px hsla(0, 0%, 0%, 0.15);
/*@public*/ $box-shadow-lv3: 0px 5px 12px hsla(0, 0%, 0%, 0.12);

/* 导航色 */
/*@public*/ $nav-header: #32404e;
/*@public*/ $nav-navigation: #516273;
/*@public*/ $nav-navigation-darken: #3c4c5a;
/*@public*/ $nav-hover: #2a3642;
/*@public*/ $nav-active: #212a33;
$nav-color: $font-color-white;
$nav-color-disabled: #a4a7b3;
$nav-color-active: $brand-default;
$nav-border: rgba(221, 221, 221, 0.5);

/* 蒙版色 */
$mask-default: rgba(#000, 0.3);
