$brand-default: #0055e9;
$brand-hover: #2779f5;
$brand-active: #0055e9;
$brand-disabled: #7ab8ff;

$primary-default: #0055e9;
$primary-hover: #2779f5;
$primary-active: #0055e9;
$primary-disabled: #7ab8ff;

$border-color-default: #d9d9d9;

$font-color-default: rgba(0, 0, 0, 0.65);
/*@public*/ $font-color-hint: #999999;

$bg-gray: #f7faff;
$bg-hover: #e6f3ff;
$bg-active: #e6f3ff;

$border-radius-base: 2px;
$border-radius-sm: 1px;
