<!-- ignore the following lines, they are not important to this demo -->
<jigsaw-demo-description [summary]="summary" [content]="description">
</jigsaw-demo-description>

<!-- start to learn the demo from here -->
<ul class="demo-options">
    <li class="demo-options-item">
        <span>最大可选条数(0为非法值)：</span>
        <j-numeric-input [(value)]="maxSelectionLimit" min="0" max="200" placeholder="请输入最大可选条数">
        </j-numeric-input>
    </li>
</ul>
<jigsaw-header>基本用法</jigsaw-header>
<jigsaw-select [data]="data" [maxSelectionLimit]="maxSelectionLimit" [searchable]="true" [clearable]="true"
    [(value)]="value" [multipleSelect]="true" width="300" labelField="label" placeholder="请选择"
    (valueChange)="valueChange($event)" (maxSelectionReachedChange)="maxSelectionReachedChange($event)">
</jigsaw-select>