@import "../../assets/scss/core/base";

$icon-prefix-cls: #{$jigsaw-prefix}-icon;

.#{$icon-prefix-cls} {
    @include inline-block();

    a:link, a:visited, a:hover, a:active {
        text-decoration: none;
        color: #008fd4;
    }

}

