<demo-template sizeController="small小,normal中,large大" [(selectedSize)]="selectedSize"
               [description]="description" [demoSources]="demoSources">
    <div class="demo-showcase">
        <div style="display: inline-block">
            <jigsaw-icon
                width="100"
                height="100"
                style="
                    color: #ffffff;
                    background-color: #695f5f;
                    border-radius: 10px;
                    align-items: center;
                    justify-content: center;
                    display: flex;
                "
                icon="iconfont iconfont-e8fb"
                jigsawBadgePosition="rightTop"
                jigsawBadgeStyle="none"
                iconSize="100"
                jigsawBadge
                jigsawBadgeMask="light"
                [jigsawBadgeSize]="selectedSize.size"
                jigsawBadgeValue="iconfont iconfont-e91d"
            ></jigsaw-icon>
        </div>
        <div style="display: inline-block">
            <jigsaw-icon
                width="100"
                height="100"
                style="
                    color: #ffffff;
                    background-color: #695f5f;
                    border-radius: 10px;
                    align-items: center;
                    justify-content: center;
                    display: flex;
                "
                icon="iconfont iconfont-e8fb"
                jigsawBadgePosition="right"
                jigsawBadgeStyle="none"
                iconSize="100"
                jigsawBadge
                jigsawBadgeMask="light"
                [jigsawBadgeSize]="selectedSize.size"
                jigsawBadgeValue="iconfont iconfont-e91d"
            ></jigsaw-icon>
        </div>
        <div style="display: inline-block">
            <jigsaw-icon
                width="100"
                height="100"
                style="
                    color: #ffffff;
                    background-color: #695f5f;
                    border-radius: 10px;
                    align-items: center;
                    justify-content: center;
                    display: flex;
                "
                icon="iconfont iconfont-e8fb"
                jigsawBadgePosition="rightBottom"
                [jigsawBadgeSize]="selectedSize.size"
                iconSize="100"
                jigsawBadge
                jigsawBadgeMask="light"
                jigsawBadgeStyle="none"
                jigsawBadgeValue="iconfont iconfont-e91d"
            ></jigsaw-icon>
        </div>
        <div style="display: inline-block">
            <jigsaw-icon
                width="100"
                height="100"
                style="
                    color: #ffffff;
                    background-color: #695f5f;
                    border-radius: 10px;
                    align-items: center;
                    justify-content: center;
                    display: flex;
                "
                icon="iconfont iconfont-e8fb"
                jigsawBadgePosition="leftTop"
                [jigsawBadgeSize]="selectedSize.size"
                iconSize="100"
                jigsawBadge
                jigsawBadgeMask="light"
                jigsawBadgeStyle="none"
                jigsawBadgeValue="iconfont iconfont-e91d"
            ></jigsaw-icon>
        </div>
        <div style="display: inline-block">
            <jigsaw-icon
                width="100"
                height="100"
                style="
                    color: #ffffff;
                    background-color: #695f5f;
                    border-radius: 10px;
                    align-items: center;
                    justify-content: center;
                    display: flex;
                "
                icon="iconfont iconfont-e8fb"
                jigsawBadgePosition="left"
                [jigsawBadgeSize]="selectedSize.size"
                iconSize="100"
                jigsawBadge
                jigsawBadgeMask="light"
                jigsawBadgeStyle="none"
                jigsawBadgeValue="iconfont iconfont-e91d"
            ></jigsaw-icon>
        </div>
        <div style="display: inline-block">
            <jigsaw-icon
                width="100"
                height="100"
                style="
                    color: #ffffff;
                    background-color: #695f5f;
                    border-radius: 10px;
                    align-items: center;
                    justify-content: center;
                    display: flex;
                "
                icon="iconfont iconfont-e8fb"
                jigsawBadgePosition="leftBottom"
                [jigsawBadgeSize]="selectedSize.size"
                iconSize="100"
                jigsawBadge
                jigsawBadgeMask="light"
                jigsawBadgeStyle="none"
                jigsawBadgeValue="iconfont iconfont-e91d"
            ></jigsaw-icon>
        </div>
    </div>

    <div class="demo-showcase">
        <div style="display: inline-block">
            <jigsaw-icon
                width="100"
                height="100"
                style="
                    color: #ffffff;
                    background-color: #ffc04f;
                    border-radius: 10px;
                    align-items: center;
                    justify-content: center;
                    display: flex;
                "
                icon="iconfont iconfont-e8fb"
                jigsawBadgePosition="rightTop"
                jigsawBadgeStyle="none"
                iconSize="100"
                jigsawBadge
                jigsawBadgeMask="dark"
                [jigsawBadgeSize]="selectedSize.size"
                jigsawBadgeValue="iconfont iconfont-e91d"
            ></jigsaw-icon>
        </div>
        <div style="display: inline-block">
            <jigsaw-icon
                width="100"
                height="100"
                style="
                    color: #ffffff;
                    background-color: #ffc04f;
                    border-radius: 10px;
                    align-items: center;
                    justify-content: center;
                    display: flex;
                "
                icon="iconfont iconfont-e8fb"
                jigsawBadgePosition="right"
                [jigsawBadgeSize]="selectedSize.size"
                iconSize="100"
                jigsawBadge
                jigsawBadgeMask="dark"
                jigsawBadgeStyle="none"
                jigsawBadgeValue="iconfont iconfont-e91d"
            ></jigsaw-icon>
        </div>
        <div style="display: inline-block">
            <jigsaw-icon
                width="100"
                height="100"
                style="
                    color: #ffffff;
                    background-color: #ffc04f;
                    border-radius: 10px;
                    align-items: center;
                    justify-content: center;
                    display: flex;
                "
                icon="iconfont iconfont-e8fb"
                jigsawBadgePosition="rightBottom"
                [jigsawBadgeSize]="selectedSize.size"
                iconSize="100"
                jigsawBadge
                jigsawBadgeMask="dark"
                jigsawBadgeStyle="none"
                jigsawBadgeValue="iconfont iconfont-e91d"
            ></jigsaw-icon>
        </div>
        <div style="display: inline-block">
            <jigsaw-icon
                width="100"
                height="100"
                style="
                    color: #ffffff;
                    background-color: #ffc04f;
                    border-radius: 10px;
                    align-items: center;
                    justify-content: center;
                    display: flex;
                "
                icon="iconfont iconfont-e8fb"
                jigsawBadgePosition="leftTop"
                [jigsawBadgeSize]="selectedSize.size"
                iconSize="100"
                jigsawBadge
                jigsawBadgeMask="dark"
                jigsawBadgeStyle="none"
                jigsawBadgeValue="iconfont iconfont-e91d"
            ></jigsaw-icon>
        </div>
        <div style="display: inline-block">
            <jigsaw-icon
                width="100"
                height="100"
                style="
                    color: #ffffff;
                    background-color: #ffc04f;
                    border-radius: 10px;
                    align-items: center;
                    justify-content: center;
                    display: flex;
                "
                icon="iconfont iconfont-e8fb"
                jigsawBadgePosition="left"
                [jigsawBadgeSize]="selectedSize.size"
                iconSize="100"
                jigsawBadge
                jigsawBadgeMask="dark"
                jigsawBadgeStyle="none"
                jigsawBadgeValue="iconfont iconfont-e91d"
            ></jigsaw-icon>
        </div>
        <div style="display: inline-block">
            <jigsaw-icon
                width="100"
                height="100"
                style="
                    color: #ffffff;
                    background-color: #ffc04f;
                    border-radius: 10px;
                    align-items: center;
                    justify-content: center;
                    display: flex;
                "
                icon="iconfont iconfont-e8fb"
                jigsawBadgePosition="leftBottom"
                [jigsawBadgeSize]="selectedSize.size"
                iconSize="100"
                jigsawBadge
                jigsawBadgeMask="dark"
                jigsawBadgeStyle="none"
                jigsawBadgeValue="iconfont iconfont-e91d"
            ></jigsaw-icon>
        </div>
    </div>

    <div class="demo-showcase">
        <jigsaw-button
            jigsaw-badge
            (jigsawBadgeClick)="select($event)"
            (click)="_$btn()"
            jigsawBadgeMask="default"
            [jigsawBadgeSize]="selectedSize.size"
            jigsawBadgeStatus="error"
            jigsawBadgeValue="iconfont iconfont-e91d"
            [jigsawBadgePointerCursor]="true"
            >确定
        </jigsaw-button>
        <jigsaw-button
            jigsaw-badge
            (jigsawBadgeClick)="select($event)"
            (click)="_$btn()"
            jigsawBadgeMask="default"
            [jigsawBadgeSize]="selectedSize.size"
            jigsawBadgeStatus="normal"
            jigsawBadgeValue="iconfont iconfont-e91d"
            [jigsawBadgePointerCursor]="true"
            >确定
        </jigsaw-button>
        <jigsaw-button
            jigsaw-badge
            (jigsawBadgeClick)="select($event)"
            (click)="_$btn()"
            jigsawBadgeMask="default"
            [jigsawBadgeSize]="selectedSize.size"
            jigsawBadgeStatus="warn"
            jigsawBadgeValue="iconfont iconfont-e91d"
            [jigsawBadgePointerCursor]="true"
            >确定
        </jigsaw-button>
        <jigsaw-button
            jigsaw-badge
            jigsawBadgePosition="right"
            (jigsawBadgeClick)="select($event)"
            (click)="_$btn()"
            jigsawBadgeMask="default"
            [jigsawBadgeSize]="selectedSize.size"
            jigsawBadgeStatus="error"
            jigsawBadgeValue="dot"
            [jigsawBadgePointerCursor]="true"
            >确定
        </jigsaw-button>
        <jigsaw-button
            jigsaw-badge
            jigsawBadgePosition="right"
            (jigsawBadgeClick)="select($event)"
            (click)="_$btn()"
            jigsawBadgeMask="default"
            [jigsawBadgeSize]="selectedSize.size"
            jigsawBadgeStatus="normal"
            jigsawBadgeValue="dot"
            [jigsawBadgePointerCursor]="true"
            >确定
        </jigsaw-button>
        <jigsaw-button
            jigsaw-badge
            jigsawBadgePosition="right"
            (jigsawBadgeClick)="select($event)"
            (click)="_$btn()"
            jigsawBadgeMask="default"
            [jigsawBadgeSize]="selectedSize.size"
            jigsawBadgeStatus="warn"
            jigsawBadgeValue="dot"
            [jigsawBadgePointerCursor]="true"
            >确定
        </jigsaw-button>
    </div>
</demo-template>
