<div class="rdk-tabs">
    <div *ngIf="_tabPanes && _tabPanes.length > 0" class="rdk-tabs-bar">
        <div class="rdk-tabs-nav-container">
            <!-- Todo 添加滚动条 -->
            <div class="rdk-tabs-nav-wrap">
                <div class="rdk-tabs-nav">
                    <!-- 负责实现动画效果 -->
                    <div class="rdk-tabs-ink-bar" [ngStyle]="_inkBarStyle"></div>
                    <rdk-tab-label class="rdk-tabs-tab"
                                   *ngFor="let tab of _tabPanes; let i = index"
                                   [key]="i"
                                   [label]="tab.label"
                                   [class.rdk-tabs-tab-active]="selectedIndex === i"
                                   [class.rdk-tabs-tab-disabled]="tab.disabled"
                                   [class.rdk-tabs-tab-hidden]="tab.hidden"
                                   (click)="_$tabClick(i)">
                    </rdk-tab-label>
                </div>
            </div>
        </div>
    </div>
    <div class="rdk-tabs-content" *ngIf="_tabPanes && _tabPanes.length > 0">
        <rdk-tab-content
            *ngFor="let tab of _tabPanes; let i = index;"
            [contentKey]="i"
            [content]=tab.content
            [isActive]="selectedIndex === i"
            [async]="tab.async"
            [ngStyle]="{transform: 'translate3d('+(i-selectedIndex)*100+'%, 0px, 0px)'}">
        </rdk-tab-content>
    </div>
</div>
