<div class="rdk-tabs">
    <div class="rdk-tabs-bar">
        <div class="rdk-tabs-nav-container">
            <span class="rdk-tabs-tab-prev">
                <div class="rdk-tabs-tab-prev-icon"></div>
            </span>
            <span class="rdk-tabs-tab-next">
                <div class="rdk-tabs-tab-next-icon"></div>
            </span>

            <div class="rdk-tabs-nav-wrap">
                <div class="rdk-tabs-nav">
                    <!-- 负责实现动画效果 -->
                    <div class="rdk-tabs-ink-bar"></div>
                    <div class="rdk-tabs-tab">tab1 title</div>
                </div>
            </div>
        </div>
    </div>
    <div class="rdk-tabs-content">
        <div class="ant-tabs-tabpane">tab1 content</div>
    </div>
</div>
