<!-- ignore the following lines, they are not important to this demo -->
<jigsaw-demo-description [summary]="summary" [content]="description">
</jigsaw-demo-description>

<!-- start to learn the demo from here -->
<div class="live-demo-wrap">
    <div class="clearfix">
        <div class="demo-1 live-demo live-demo-block">
            <h3>free 模式</h3>
            <jigsaw-color-select mode="free" preSize="large" color="#ba1621"></jigsaw-color-select>
            <jigsaw-color-select mode="free" preSize="normal" color="#e43232"></jigsaw-color-select>
            <jigsaw-color-select mode="free" preSize="small" color="#e57409"></jigsaw-color-select>
        </div>

        <div class="demo-2 live-demo live-demo-block">
            <h3>limited 模式</h3>
            <jigsaw-color-select mode="limited" preSize="large" color="#ba1621"
                                 [limitedColors]="_$limitedColors">
            </jigsaw-color-select>
            <jigsaw-color-select mode="limited" preSize="normal" color="#e43232"
                                 [limitedColors]="_$limitedColors">
            </jigsaw-color-select>
            <jigsaw-color-select mode="limited" preSize="small" color="#e57409"
                                 [limitedColors]="_$limitedColors">
            </jigsaw-color-select>
        </div>
    </div>
</div>
