.demo-basic .jigsaw-header-host:not(.main-header) {
    margin-top: 20px;
}

.demo-cntr {
    display: grid;
    grid-template-rows: repeat(3, auto);
    grid-template-columns: repeat(3, 1fr);
    column-gap: 5px;
}

.demo-cntr .demo-5 {
    grid-column: span 3;
}