@import "../../common/assets/scss/core/base";

$bc-prefix-cls: #{$jigsaw-prefix}-breadcrumb;

.#{$bc-prefix-cls} {
    display: flex;
    align-items: center;
    height: 54px;
    padding: 0 12px;
    background: $background-color-base;
    font-size: $font-size-base;
    
    &:after {
        height: 100%;
        content: "";
        display: inline-block;
        vertical-align: middle;
    }

    &-item {
        color: $text-color-secondary;
        &.#{$bc-prefix-cls}-current {
            color: $heading-color;
        }
        .#{$bc-prefix-cls}-link {
            color: inherit;
        }
    }

    &-separator {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        margin: 0 8px;
        color: $text-color-secondary;
    }

    &-icon {
        margin-right: 4px;
    }

    &.#{$bc-prefix-cls}-light {
        background: $background-color-base;
        .#{$bc-prefix-cls}-item {
            color: $brand-default;
            &.#{$bc-prefix-cls}-current {
                font-size: $font-title-lg;
                font-weight: bold;
                color: $font-color-heading-bold;
            }
        }
    }

    &.#{$bc-prefix-cls}-dark {
        background: $background-color-dark;
        .#{$bc-prefix-cls}-item {
            color: $font-color-white;
            &.#{$bc-prefix-cls}-current {
                font-size: $font-title-lg;
                color: $font-color-white;
            }
        }
    }

    &.#{$bc-prefix-cls}-inner {
        height: $height-base;
        padding: 0 8px;
        font-size: $font-size-base;
        background: $bg-body;
        .#{$bc-prefix-cls}-item {
            .#{$bc-prefix-cls}-icon {
                color: $brand-default;
            }
            .#{$bc-prefix-cls}-label {
                color: $brand-default;
                &:hover {
                    color: $brand-hover;
                }
            }
            &.#{$bc-prefix-cls}-current {
                font-size: $font-title-lg;
                font-weight: bold;
                color: $font-color-heading-bold;
                .#{$bc-prefix-cls}-icon {
                    color: $font-color-heading-bold;
                }
                .#{$bc-prefix-cls}-label {
                    color: $font-color-heading-bold;
                }
            }
        }
    }

    & a {
        font-size: inherit;
        color: inherit;
    }
}
