@import "../../common/assets/scss/core/base";

$bc-prefix-cls: #{$jigsaw-prefix}-breadcrumb;

.#{$bc-prefix-cls} {
    display: flex;
    align-items: center;
    height: 54px;
    padding: 0 12px;
    background: $bg-container;
    font-size: $font-size-base;

    &:after {
        height: 100%;
        content: "";
        display: inline-block;
        vertical-align: middle;
    }

    &-item {
        display: flex;
        align-items: center;
        .#{$bc-prefix-cls}-link {
            display: flex;
            align-items: center;
            color: inherit;
        }
        &.fold:not(:nth-of-type(2)) {
            display: none;
        }
    }

    &-separator {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        margin: 0 2px;
        font-size: $icon-size-sm;
        color: $font-color-watermark;
    }

    &-icon {
        margin-right: 4px;
    }

    &-hint {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        font-size: $font-size-sm;
        font-weight: 400;
        color: inherit;
    }

    &.#{$bc-prefix-cls}-light {
        background: $bg-container-light;
        font-size: $font-title-med;
        .#{$bc-prefix-cls}-item {
            height: $height-sm;
            color: $brand-default-light;
            font-size: $font-size-lg;
            &:hover {
                color: $brand-hover-light;
            }
            &.#{$bc-prefix-cls}-current {
                font-size: $font-title-med;
                font-weight: bold;
                color: $font-color-heading-bold-light;
            }
        }
    }

    &.#{$bc-prefix-cls}-dark {
        background: $bg-navigation;
        font-size: $font-title-med;
        .#{$bc-prefix-cls}-item {
            color: $font-color-white-darken-dark;
            &:hover {
                color: $font-color-white;
            }
            &.#{$bc-prefix-cls}-current {
                font-size: $font-title-med;
                font-weight: bold;
                color: $font-color-white;
            }
        }
    }

    &.#{$bc-prefix-cls}-inner {
        height: $height-base;
        padding: 0 8px;
        font-size: $font-size-base;
        background: $bg-body;
        .#{$bc-prefix-cls}-item {
            .#{$bc-prefix-cls}-icon {
                color: $brand-default;
            }
            .#{$bc-prefix-cls}-label {
                color: $brand-default;
                &:hover {
                    text-decoration: underline;
                }
                &:active {
                    color: $brand-active;
                }
            }
            &.#{$bc-prefix-cls}-current {
                font-size: $font-title-lg;
                font-weight: bold;
                color: $font-color-heading-bold;
                padding-bottom: 4px;
                .#{$bc-prefix-cls}-icon {
                    color: $font-color-heading-bold;
                }
                .#{$bc-prefix-cls}-label {
                    color: $font-color-heading-bold;
                    text-decoration: none;
                }
            }
        }
    }

    & a {
        font-size: inherit;
        color: inherit;
    }
}
