<ng-content></ng-content>
<j-breadcrumb-item *ngFor="let item of breadcrumbNodes; let isLast = last; let i = index; let len = count" [isLast]="isLast" 
    [ngClass]="!(len > _$foldThreshold && 0 < i && i < len - 2) ?'':'fold'">
    <a class="jigsaw-breadcrumb-link" [routerLink]="item?.routeLink" *ngIf="!(len > _$foldThreshold && i == 1)">
        <span *ngIf="item?.icon" class="jigsaw-breadcrumb-icon {{item?.icon}}"></span>
        <span class="jigsaw-breadcrumb-label">{{item?.label}}</span>
        <span *ngIf="item?.hint" class="jigsaw-breadcrumb-hint iconfont iconfont-e911" title="{{item?.hint}}"><i></i></span>
    </a>
    <a class="jigsaw-breadcrumb-link" *ngIf="len > _$foldThreshold && i == 1">
        <span>···</span>
    </a>
</j-breadcrumb-item>