<demo-template [data]="data" [(selectedLabel)]="selectedLabel" [text]="text['text']['multiple']">
    <jigsaw-checkbox [(checked)]="enableMaxWidth">maxWidth</jigsaw-checkbox>
    <jigsaw-numeric-input min="120" [(value)]="maxWidth" [disabled]="!enableMaxWidth"></jigsaw-numeric-input>

    <br><br>
    <jigsaw-checkbox [(checked)]="enableMaxHeight">maxHeight</jigsaw-checkbox>
    <jigsaw-numeric-input min="32" [(value)]="maxHeight" [disabled]="!enableMaxHeight"></jigsaw-numeric-input>

    <br><br>
    <span>被测select组件</span>
    <jigsaw-select [(value)]="selectedCity" (valueChange)="selectChange($event)" (remove)="onItemRemove($event)" [clearable]="true"
                   placeholder="请选择城市" [data]="cityList" [multipleSelect]="true" [useStatistics]="false"
                   [maxWidth]="enableMaxWidth ? maxWidth : undefined"
                   [maxHeight]="enableMaxHeight ? maxHeight : undefined"
                   [size]="selectedLabel.size">
    </jigsaw-select>
    <p class="message">选择的城市是 <span>{{selectedCityName}}</span></p>
</demo-template>
