<div class="combo-select-demo cmn-box">
    <h3>editable demo</h3>
    <div class="test-btn">
        <jigsaw-button (click)="toggleEditable()">toggle editable</jigsaw-button>
    </div>
    <jigsaw-combo-select
        [(value)]="selectedCity">
        <ng-template>
            <jigsaw-tile-select
                [(selectedItems)]="selectedCity"
                labelField="label"
                [searchable]="true"
                [data]="citys"
                width="400px"
                tileOptionWidth="22.8%"
                style="padding: 8px 0 8px 8px">
            </jigsaw-tile-select>
        </ng-template>
    </jigsaw-combo-select>
</div>

