<demo-template [data]="sizes" [(selectedSize)]="selectedSize" [text]="doc.text.customColor" [codes]="doc.codes.customColor">
    <section class="demo-showcase">
        <span>定制颜色的标签</span>
        <jigsaw-tag color="#008fd4" [size]="selectedSize.size">中兴蓝</jigsaw-tag>
        <jigsaw-tag color="#54acd5" [size]="selectedSize.size">#54acd5</jigsaw-tag>
        <jigsaw-tag color="#f99660" [size]="selectedSize.size">#f99660</jigsaw-tag>
        <jigsaw-tag color="#85c56c" [size]="selectedSize.size">#85c56c</jigsaw-tag>
        <jigsaw-tag color="#ec6d6d" [size]="selectedSize.size">#ec6d6d</jigsaw-tag>
        <jigsaw-tag color="#f7b913" [size]="selectedSize.size">#f7b913</jigsaw-tag>
        <jigsaw-tag color="#8ac9b6" [size]="selectedSize.size">#8ac9b6</jigsaw-tag>
        <jigsaw-tag color="#bea5c8" [size]="selectedSize.size">#bea5c8</jigsaw-tag>
        <jigsaw-tag color="#01c5c2" [size]="selectedSize.size">#01c5c2</jigsaw-tag>
        <jigsaw-tag color="#a17660" [size]="selectedSize.size">#a17660</jigsaw-tag>
    </section>
</demo-template>
