<div class="live-demo-wrap">
    <h2>Table Renderer</h2>
    <div class="demo-1 live-demo">
        <h3>组件渲染器</h3>
        <p class="comment">
            table原生自带的组件渲染器有：<code>DefaultCellRenderer</code> <code>TableCellNum</code> <code>TableCellEditor</code>
            <code>TableHeadCheckbox</code> <code>TableCellCheckbox</code><br>
            自定义组件渲染器要在<code>module</code>的<code>entryComponents</code>和<code>declarations</code>里注册声明一下<br>
            自定义组件渲染器必须继承<code>TableCellRenderer</code>
        </p>
        <j-table #myTable
                 [data]="tableData"
                 [columnDefines]="columns"
                 [additionalColumnDefines]="additionalColumns"
                 (dataChange)="onCellChange($event)"
                 height="400"></j-table>
        <p class="message">table change answer is: <span>{{changeMsg}}</span></p>
        <p class="message">selected row indexes are: <span>{{selectedRows}}</span></p>
    </div>
</div>
