$jigsaw-button: #{$jigsaw-prefix}-button;

.#{$jigsaw-button}-host {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 0 16rem;
    min-width: 80rem;
    height: 32rem;
    border-radius: $border-radius-base;
    background-color: $bg-transparent;
    border-width: 1px;
    border-style: solid;
    border-color: $border-color-disabled;
    color: $brand-default;
    font-size: 12rem;
    user-select: none;
    box-sizing: border-box;
    vertical-align: middle;
    cursor: pointer;

    &:before {
        content: "";
        display: inline-block;
        height: 100%;
        vertical-align: middle;
    }

    &:hover {
        color: $brand-default;
        border-color: $brand-hover;
        @include prefixer(transition, animation 0.3s $ease-in-out);
    }

    &:active {
        color: $brand-active;
        border-color: $brand-active;
    }

    &.#{$jigsaw-button}-clicked:after {
        @include prefixer(animation, buttonEffect 0.36s $ease-out forwards);
        content: "";
        position: absolute;
        top: -1px;
        left: -1px;
        bottom: -1px;
        right: -1px;
        display: block;
        opacity: 0.4;
        border-radius: inherit;
        border: 1px solid $brand-active;
    }

    .#{$jigsaw-button}-content {
        display: inline-flex;
        align-items: center;

        .#{$jigsaw-button}-text {
            display: inline-flex;
            align-items: center;
        }
    }

    &.#{$jigsaw-button}-icon-left {
        .#{$jigsaw-button}-content .iconfont {
            margin-right: 4px;
        }
    }

    &.#{$jigsaw-button}-icon-right {
        .#{$jigsaw-button}-content {
            flex-direction: row-reverse;

            .iconfont {
                margin-left: 4px;
            }
        }
    }

    .#{$jigsaw-button}-content .iconfont {
        font-size: $icon-size-sm;
    }

    &.#{$jigsaw-button}-disabled {
        pointer-events: none;
        color: $font-color-disabled;
        border-color: $border-color-disabled;
    }

    &.#{$jigsaw-button}-color-primary {
        background-color: $primary-default;
        color: $font-color-white;
        border-color: $primary-default;
        &:hover {
            background: $primary-hover;
        }
        &:active {
            background: $primary-active;
        }
        &.#{$jigsaw-button}-clicked:after {
            border-color: $primary-default;
        }
        &.#{$jigsaw-button}-disabled {
            background: $primary-disabled;
            border-color: $primary-disabled;
        }
    }

    &.#{$jigsaw-button}-color-warning {
        background-color: $warning-default;
        color: $font-color-white;
        border-color: $warning-default;
        &:hover {
            background: $warning-hover;
        }
        &:active {
            background: $warning-active;
        }
        &.#{$jigsaw-button}-clicked:after {
            border-color: $warning-default;
        }
        &.#{$jigsaw-button}-disabled {
            background: $warning-disabled;
            border-color: $warning-disabled;
        }
    }

    &.#{$jigsaw-button}-color-error {
        background-color: $error-default;
        color: $font-color-white;
        border-color: $error-default;
        &:hover {
            background: $error-hover;
        }
        &:active {
            background: $error-active;
        }
        &.#{$jigsaw-button}-clicked:after {
            border-color: $error-default;
        }
        &.#{$jigsaw-button}-disabled {
            background: $error-disabled;
            border-color: $error-disabled;
        }
    }

    &.#{$jigsaw-button}-size-small {
        height: 24rem;
        font-size: 10rem;
    }

    &.#{$jigsaw-button}-size-medium {
        height: 28rem;
        font-size: 11rem;
    }

    &.#{$jigsaw-button}-size-large {
        height: 36rem;
        font-size: 14rem;
    }

    &.#{$jigsaw-button}-color-none {
        min-width: 0;
        border: none;
        padding: 0;

        &:hover {
            .#{$jigsaw-button}-text {
                text-decoration: underline;
            }
        }
        &.#{$jigsaw-button}-clicked:after {
            content: none;
        }
    }

    &.#{$jigsaw-button}-icon {
        width: $height-base;
        min-width: 0;
        padding: 0;
        color: $font-color-default;

        .#{$jigsaw-button}-content .iconfont {
            margin-right: 0;
        }

        &.#{$jigsaw-button}-size-small {
            width: $height-sm;
        }

        &.#{$jigsaw-button}-size-medium {
            width: $height-med;
        }

        &.#{$jigsaw-button}-size-large {
            width: $height-lg;
        }

        &.#{$jigsaw-button}-disabled {
            background: $bg-disabled;
            border-color: $border-color-disabled;
            color: $font-color-disabled;

            &.#{$jigsaw-button}-color-none {
                background: none;
                border: none;
            }
        }

        &:hover {
            color: $brand-hover;
        }

        &:active {
            color: $brand-active;
        }
    }
}

a[#{$jigsaw-button}] {
    padding: 0 10rem;
    outline: none;
    text-decoration: none !important;
}

button[#{$jigsaw-button}] {
    padding: 0 10rem;
    outline: none;
    text-decoration: none !important;
}

@include keyframes(buttonEffect) {
    to {
        @include opacity(0);
        top: -6px;
        left: -6px;
        bottom: -6px;
        right: -6px;
        border-width: 6px;
    }
}
