@import "../../assets/scss/core/base";

.jigsaw-menu{
    position: relative;
    width: inherit;
    border: solid 1px $border-color-base;
    border-radius: $border-radius-base;
    font-size: $font-size-lg;
    cursor: pointer;
    box-sizing: content-box;
    background-color: white;
    box-shadow: $box-shadow-base;
    z-index: 999;
    ng-component{
        width: inherit;
    }
}

.jigsaw-menu-content{
    position: relative;
    width: inherit;
    height: $height-base;
    line-height: $height-base;
    .jigsaw-menu-item{
        width: inherit;
        padding: 0 20px 0 5px;
        @include line-ellipsis-style;
        &:hover{
            color: $primary-color;
            background-color: $primary-2;
        }
        i{
            padding-right: 5px;
        }
    }
    .jigsaw-menu-arrow{
        &:after{
            position: absolute;
            right: -3px;
            padding: 0 8px;
            content: ">";
        }
    }
    .jigsaw-menu-child{
        width: inherit;
        position: absolute;
        top: 0;
        left: 100%;
        margin-left: 3px;
    }
}

.jigsaw-menu-hide{
    display: none;
}
