//@import "../../style/themes/default";
//@import "../../style/mixins/index";

@steps-prefix-cls: ~"ant-steps";
@process-icon-color: #108ee9;
@process-title-color: fade(#000, 65%);
@process-description-color: fade(#000, 65%);
@process-tail-color: #e9e9e9;
@process-icon-text-color: #fff;
@wait-icon-color: fade(#000, 25%);
@wait-title-color: fade(#000, 43%);
@wait-description-color: fade(#000, 43%);
@wait-tail-color: #e9e9e9;
@finish-icon-color: @process-icon-color;
@finish-title-color: @wait-title-color;
@finish-description-color: @finish-title-color;
@finish-tail-color: @process-icon-color;
@error-icon-color: #f04134;
@error-title-color: #f04134;
@error-description-color: #f04134;
@error-tail-color: #f04134;
@steps-background: #fff;

@steps-icon-size: 26px;
@steps-small-icon-size: 18px;
@steps-dot-size: 5px;
@steps-current-dot-size: 7px;
@steps-desciption-max-width: 120px;

.ant-steps {
  font-size: 0;
  line-height: 1.428571429;
  .ant-steps-item {
    position: relative;
    display: inline-block;
    vertical-align: top;

    &.ant-steps-status-wait {
      .ant-steps-head-inner {
        border-color: @wait-icon-color;
        background-color: @steps-background;
        > .ant-steps-icon {
          color: @wait-icon-color;
          .ant-steps-icon-dot {
            background: @wait-icon-color;
          }
        }
      }
      .ant-steps-title {
        color: @wait-title-color;
      }
      .ant-steps-description {
        color: @wait-description-color;
      }
      .ant-steps-tail > i {
        background-color: @wait-tail-color;
      }
    }
    &.ant-steps-status-process {
      .ant-steps-head-inner {
        border-color: @process-icon-color;
        background-color: @process-icon-color;
        > .ant-steps-icon {
          color: @process-icon-text-color;
          .ant-steps-icon-dot {
            background: @process-icon-color;
          }
        }
      }
      .ant-steps-title {
        color: @process-title-color;
      }
      .ant-steps-description {
        color: @process-description-color;
      }
      .ant-steps-tail > i {
        background-color: @process-tail-color;
      }
    }
    &.ant-steps-status-finish {
      .ant-steps-head-inner {
        border-color: @finish-icon-color;
        background-color: @steps-background;
        > .ant-steps-icon {
          color: @finish-icon-color;
          .ant-steps-icon-dot {
            background: @finish-icon-color;
          }
        }
      }
      .ant-steps-tail > i:after {
        width: 100%;
        background: @finish-tail-color;
        transition: all .6s;
        opacity: 1;
        box-shadow: 0 0 0 0 #108ee9;
        animation: tailEffect .4s;
      }
      .ant-steps-title {
        color: @finish-title-color;
      }
      .ant-steps-description {
        color: @finish-description-color;
      }
    }

    &.ant-steps-status-error {
      .ant-steps-head-inner {
        border-color: @error-icon-color;
        background-color: @steps-background;
        > .ant-steps-icon {
          color: @error-icon-color;
          .ant-steps-icon-dot {
            background: @error-icon-color;
          }
        }
      }
      .ant-steps-title {
        color: @error-title-color;
      }
      .ant-steps-description {
        color: @error-description-color;
      }
      .ant-steps-tail > i {
        background-color: @process-tail-color;
      }
    }

    &.ant-steps-next-error {
      .ant-steps-tail > i,
      .ant-steps-tail > i:after {
        background-color: @error-tail-color;
      }
    }

    &.ant-steps-custom {
      .ant-steps-head-inner {
        background: none;
        border: 0;
        width: auto;
        height: auto;
        > .ant-steps-icon {
          font-size: @steps-icon-size;
          width: @steps-icon-size;
          height: @steps-icon-size;
        }
      }
      &.ant-steps-status-process {
        .ant-steps-head-inner > .ant-steps-icon {
          color: @process-icon-color;
        }
      }
    }
  }

  .ant-steps-head,
  .ant-steps-main {
    position: relative;
    display: inline-block;
    vertical-align: top;
  }
  .ant-steps-head {
    background: @steps-background;
  }

  .ant-steps-head-inner {
    display: block;
    border: 1px solid @wait-icon-color;
    width: @steps-icon-size;
    height: @steps-icon-size;
    line-height: 23px;
    text-align: center;
    border-radius: @steps-icon-size;
    font-size: 14px;
    margin-right: 8px;
    transition: background-color 0.3s ease, border-color 0.3s ease;

    > .ant-steps-icon {
      line-height: 1;
      color: #108ee9;
      position: relative;
      &.anticon{
        font-size: 12px;
        &-cross,
        &-check {
          font-weight: bold;
        }
      }
    }
  }
  .ant-steps-title {
    font-size: 14px;
    line-height: @steps-icon-size;
    color: fade(#000, 65%);
    font-weight: bold;
    background-color: @steps-background;
    display: inline-block;
    padding-right: 10px;
    > a:first-child:last-child {
      color: fade(#000, 65%);
    }
  }
  .ant-steps-item:last-child {
    .ant-steps-title {
      padding-right: 0;
      width: 100%;
    }
    .ant-steps-tail {
      display: none;
    }
  }
  .ant-steps-description {
    font-size: 12px;
    color: fade(#000, 65%)-secondary;
  }
  .ant-steps-tail {
    position: absolute;
    left: 0;
    width: 100%;
    top: 13px;
    padding: 0 10px;
    > i {
      display: inline-block;
      vertical-align: top;
      background: @wait-tail-color;
      height: 1px;
      border-radius: 1px;
      width: 100%;
      position: relative;
      &:after {
        position: absolute;
        content: '';
        top: 0;
        width: 0;
        background: #e9e9e9;
        height: 100%;
        opacity: 0;
      }
    }
  }

  &.ant-steps-small {
    .ant-steps-head-inner {
      border: 1px solid @wait-icon-color;
      width: @steps-small-icon-size;
      height: @steps-small-icon-size;
      line-height: 15px;
      text-align: center;
      border-radius: @steps-small-icon-size;
      font-size: 12px;
      margin-right: 10px;
      //> .ant-steps-icon.anticon {
      //  .iconfont-size-under-12px(9px);
      //  top: 0;
      //}
    }
    .ant-steps-main {
      margin-top: 0;
    }
    .ant-steps-title {
      font-size: 12px;
      line-height: @steps-small-icon-size;
      color: fade(#000, 65%);
      font-weight: bold;
    }
    .ant-steps-description {
      font-size: 12px;
      color: fade(#000, 65%)-secondary;
    }
    .ant-steps-tail {
      top: 8px;
      padding: 0 8px;
      > i {
        height: 1px;
        border-radius: 1px;
        width: 100%;
      }
    }
    .ant-steps-custom .ant-steps-head-inner > .ant-steps-icon {
      font-size: @steps-small-icon-size;
      width: @steps-small-icon-size;
      height: @steps-small-icon-size;
    }
  }
}

.ant-steps-vertical {
  > .ant-steps-item {
    display: block;
  }

  > .ant-steps-item > .ant-steps-tail {
    position: absolute;
    left: 13px;
    top: 0;
    height: 100%;
    width: 1px;
    padding: 30px 0 4px;
    > i {
      height: 100%;
      width: 1px;
      &:after {
        height: 0;
        width: 100%;
      }
    }
  }

  .ant-steps-status-finish {
    .ant-steps-tail > i:after {
      height: 100%;
    }
  }

  .ant-steps-head {
    float: left;
    &-inner {
      margin-right: 16px;
    }
  }

  .ant-steps-main {
    min-height: 47px;
    overflow: hidden;
    display: block;
    .ant-steps-title {
      line-height: @steps-icon-size;
    }
    .ant-steps-description {
      padding-bottom: 12px;
    }
  }
}

.ant-steps-vertical.ant-steps-small {
  .ant-steps-tail {
    position: absolute;
    left: 9px;
    top: 0;
    padding: 22px 0 4px;
    > i {
      height: 100%;
    }
  }

  .ant-steps-title {
    line-height: @steps-small-icon-size;
  }
}

.ant-steps-horizontal {
  &.ant-steps-hidden {
    visibility: hidden;
  }
  .ant-steps-description {
    max-width: @steps-desciption-max-width;
  }
  .ant-steps-item:not(:first-child) .ant-steps-head {
    padding-left: 10px;
    margin-left: -10px;
  }
}

.ant-steps-dot {
  .ant-steps-item {
    .ant-steps-step {
      display: inline-block;
      text-align: center;
      width: @steps-desciption-max-width;
    }
    &:not(:first-child) .ant-steps-head {
      margin-left: 0;
      padding-left: 0;
    }
  }
  .ant-steps-tail {
    margin: 0 0 0 @steps-desciption-max-width / 2;
    padding: 0;
    width: 100%;
    top: 1px;

    & > i {
      height: 3px;
    }
  }
  .ant-steps-head {
    display: inline-block;
    padding-right: 0;
    &-inner {
      margin: 0 auto;
      width: @steps-dot-size;
      height: @steps-dot-size;
      line-height: @steps-dot-size;
      border: 0;

      .ant-steps-icon-dot {
        float: left;
        width: 100%;
        height: 100%;
        border-radius: @steps-dot-size / 2;
        position: relative;
        &:after {
          content: '';
          background: rgba(255, 255, 255, 0.001);
          width: 40px;
          height: 24px;
          position: absolute;
          top: -8px;
          left: -16px;
        }
        &:hover {
          transform: scale(1.3);
        }
      }
    }
  }
  .ant-steps-main {
    display: block;
    margin-top: 10px;
    .ant-steps-title {
      padding-right: 0;
      background-color: transparent;
    }
  }
  .ant-steps-status-process {
    .ant-steps-head {
      top: -1px;
      &-inner {
        width: @steps-current-dot-size;
        height: @steps-current-dot-size;
        line-height: @steps-current-dot-size;

        .ant-steps-icon-dot {
          border-radius: @steps-current-dot-size / 2;
        }
      }
    }
  }
  &.ant-steps-vertical {
    .ant-steps-tail {
      left: 2px;
      height: 100%;
      padding: 0;
      top: 15px;
      > i {
        height: 100%;
        width: 3px;
      }
    }
    .ant-steps-head {
      top: 12px;
      left: 1px;
    }
    .ant-steps-status-process {
      .ant-steps-head {
        left: 0;
      }
    }
  }
}

@keyframes tailEffect {
  to {
    box-shadow: 0 0 3px 3px transparent;
  }
}



//@import "../../style/themes/default";
//
//@steps-prefix-cls: ~"ant-steps";

.ant-steps-horizontal nz-step:not(:first-child) .ant-steps-head{
  padding-left: 10px;
  margin-left: -10px;
}
nz-step{
  display: block;
}

.ant-steps-dot {
  &.ant-steps-vertical {
    .ant-steps-tail {
      margin-left: 0;
    }
    .ant-steps-step {
      text-align: left;
      width: auto;
    }
    .ant-steps-head-inner {
      margin-right: 16px;
    }
    .ant-steps-main {
      margin-top: 0;
    }
  }
}
