@import "../../assets/scss/core/base";
$steps-prefix-cls: #{$jigsaw-prefix}-steps;
$step-item-prefix-cls: #{$jigsaw-prefix}-step-item;

.#{$steps-prefix-cls} {
    @include inline-block();
    // width: 200px;
    // height: 100px;
    .stepsContainer {
        display: flex;
        width: 100%;
        overflow-x: auto;
        overflow-y: hidden;
        // border: 1px solid $border-color-base;
        // border-radius: $border-radius-base;
        // background: $component-background;
        padding: 0 100px;

        .#{$step-item-prefix-cls} {
            display: flex;
            align-items: center;
            flex-direction: column;
            align-items: flex-start;
            flex: 1;

            .steptitle {
                font-size: $font-size-lg;
                color: $heading-color-dark;
                line-height: $height-lg;
            }

            .subtitle {
                font-size: $font-size-base;
                color: $text-color-secondary;
            }

            .steptitle,
            .subtitle {
                text-align: center;
                margin-left: -50%;
                width: 100%;
                text-indent: 25px;

            }

            .horizontal {
                display: flex;
                align-items: center;

                .stepstatuslogo {
                    width: 25px;
                    height: 25px;
                    border-radius: 25px;
                    background: #123;
                    color: #fff;
                    font-size: $font-size-base;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                .stepline {
                    min-width: 80px;
                    height: 2px;
                    background: #345;
                    margin: 0 20px;
                    flex-grow: 1;
                }
            }

            &:last-child {
                // .steptitle{
                //       margin-left:0;
                // }
                .stepline {
                    visibility: hidden;
                }
            }

            .#{$step-item-prefix-cls}-processing {
                .stepstatuslogo {
                    background-color: #41ADDC;
                }

                .stepline {
                    background-color: #41ADDC;
                }
            }

            .#{$step-item-prefix-cls}-done {
                .stepstatuslogo {
                    background-color: #7ACA6B;
                }

                .stepline {
                    background-color: #7ACA6B;
                }
            }

            .#{$step-item-prefix-cls}-error {
                .stepstatuslogo {
                    background-color: #E67877;
                }

                .stepline {
                    background-color: #E67877;
                }
            }

            .#{$step-item-prefix-cls}-warning {
                .stepstatuslogo {
                    background-color: orange;
                }

                .stepline {
                    background-color: orange;
                }
            }

            .#{$step-item-prefix-cls}-skipped {
                .stepstatuslogo {
                    background-color: green;
                }

                .stepline {
                    background-color: green;
                }
            }

            .#{$step-item-prefix-cls}-waiting {
                .stepstatuslogo {
                    background-color: grey;
                }

                .stepline {
                    background-color: grey;
                }
            }
        }


    }
}

.#{$steps-prefix-cls}-size-large {
    .steptitle {
        font-size: $font-size-lg + 2px!important;
          text-indent: 30px!important;
            line-height: $height-lg + 2!important;
    }

    .subtitle {
        font-size: $font-size-base + 2px!important;
          text-indent: 30px!important;
    }
    .stepstatuslogo{
        font-size: $font-size-base + 2px !important;
        width: 30px !important;
        height: 30px !important;
    }
    min-height: $height-lg;
    line-height: $height-lg - 2px;
    color: blue;
}

.#{$steps-prefix-cls}-size-small {
    .steptitle {
        font-size: $font-size-lg - 2px !important;
          text-indent: 21px!important;
            line-height: $height-lg - 2!important;
    }

    .subtitle {
        font-size: $font-size-base - 2px !important;
          text-indent: 21px!important;
    }
    .stepstatuslogo{
        font-size: $font-size-base - 2px !important;
        width: 21px !important;
        height: 21px !important;
    }
    min-height: $height-sm;
    line-height: $height-sm - 2px;
    color: red;
}
