@import "../../assets/scss/core/base";
$steps-prefix-cls: #{$jigsaw-prefix}-steps;
$step-item-prefix-cls: #{$jigsaw-prefix}-step-item;

.#{$steps-prefix-cls} {
    @include inline-block();
    .stepsContainer {
        display: flex;
        width: 100%;
        overflow-x: auto;
        overflow-y: hidden;
        padding: 0 100px;

        .#{$step-item-prefix-cls} {
            display: flex;
            align-items: center;
            flex-direction: column;
            align-items: flex-start;
            flex: 1;

            .steptitle {
                font-size: $font-size-lg;
                color: $heading-color-dark;
                line-height: $height-lg;
            }

            .subtitle {
                font-size: $font-size-base;
                color: $text-color-secondary;
            }

            .steptitle,
            .subtitle {
                text-align: center;
                margin-left: -50%;
                width: 100%;
                text-indent: 25px;

            }

            .logolineContainer {
                display: flex;
                align-items: center;

                .stepstatuslogo {
                    width: 25px;
                    height: 25px;
                    border-radius: 25px;
                    background: #123;
                    color: #fff;
                    font-size: $font-size-base;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                .stepline {
                    min-width: 80px;
                    height: 2px;
                    background: #345;
                    margin: 0 20px;
                    flex-grow: 1;
                }
                .subtitle-v{
                  display: none;
                }
            }

            &:last-child {
                .stepline {
                    visibility: hidden;
                }
            }
            .stepitemContainer{
              display: flex;
            }
            .#{$step-item-prefix-cls}-processing {
                .stepstatuslogo {
                    background-color: #41ADDC;
                }

                .stepline {
                    background-color: #41ADDC;
                }
            }

            .#{$step-item-prefix-cls}-done {
                .stepstatuslogo {
                    background-color: #7ACA6B;
                }

                .stepline {
                    background-color: #7ACA6B;
                }
            }

            .#{$step-item-prefix-cls}-error {
                .stepstatuslogo {
                    background-color: #E67877;
                }

                .stepline {
                    background-color: #E67877;
                }
            }

            .#{$step-item-prefix-cls}-warning {
                .stepstatuslogo {
                    background-color: orange;
                }

                .stepline {
                    background-color: orange;
                }
            }

            .#{$step-item-prefix-cls}-skipped {
                .stepstatuslogo {
                    background-color: green;
                }

                .stepline {
                    background-color: green;
                }
            }

            .#{$step-item-prefix-cls}-waiting {
                .stepstatuslogo {
                    background-color: $text-color ;
                }

                .stepline {
                    background-color: $text-color ;
                }
            }
        }


    }

}
.#{$steps-prefix-cls}-direction-vertical{
  .stepsContainer{
      overflow-x: hidden;
      overflow-y: auto;
      flex-direction: column;
      display: flex;
      width: auto;
      height: 100%;
      padding: 0 ;
    .#{$step-item-prefix-cls} {
        display: flex;
        align-items: center;

        align-items: flex-start;
        flex: 1;
        height: 100%;
        .stepitemContainer{
          flex-direction: column;
          height: 100%
        }


        .steptitle {
            font-size: $font-size-lg;
            color: $heading-color-dark;
            line-height: $height-lg;
        }

        .subtitle-v {
            font-size: $font-size-base;
            color: $text-color-secondary;
        }

        .steptitle,
        .subtitle-v {
            text-align: center;
            margin-left: 0;

            text-indent: 0;
            margin: 5px 0;
        }

        .logolineContainer {
            display: flex;
            align-items: center;
            flex-direction: column;
              flex-grow: 1;
            .stepstatuslogo {
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .stepline {
                min-height: 80px;
                width: 2px;
                min-width: auto;
                margin: 0 20px;
                flex-grow: 1;
            }
            .subtitle-v{
                display: block;
            }
        }




    }
  }
}
.#{$steps-prefix-cls}-size-large {
    .steptitle {
        font-size: $font-size-lg + 2px!important;
          text-indent: 30px!important;
            line-height: $height-lg + 2!important;
    }

    .subtitle {
        font-size: $font-size-base + 2px!important;
          text-indent: 30px!important;
    }
    .stepstatuslogo{
        font-size: $font-size-base + 2px !important;
        width: 30px !important;
        height: 30px !important;
    }
    min-height: $height-lg;
    line-height: $height-lg - 2px;
    color: blue;
}

.#{$steps-prefix-cls}-size-small {
    .steptitle {
        font-size: $font-size-lg - 2px !important;
          text-indent: 21px!important;
            line-height: $height-lg - 2!important;
    }

    .subtitle {
        font-size: $font-size-base - 2px !important;
          text-indent: 21px!important;
    }
    .stepstatuslogo{
        font-size: $font-size-base - 2px !important;
        width: 21px !important;
        height: 21px !important;
    }
    min-height: $height-sm;
    line-height: $height-sm - 2px;
    color: red;
}
