<ng-container>
  <div [ngClass]="stepStatusClass" class="stepitemContainer">
    <div class="steptitle">
      <ng-content></ng-content>
    </div>
    <div class="logolineContainer">
      <div class="stepstatuslogo" >
        <i class="fa" [ngClass]="stepStatusIconClass"></i>
      </div>
      <div class="subtitle-v">
        <ng-content select="[j-sub-v-title],[jigsaw-sub-v-title]"></ng-content>
      </div>
      <div class="stepline">

      </div>
    </div>
    <div class="subtitle">
      <ng-content select="[j-sub-title],[jigsaw-sub-title]"></ng-content>
    </div>
  </div>

</ng-container>
