.block {
    display: inline-block;
    width: 230px;
    vertical-align: top;
}

.vertical-rule {
    border-right: 2px dashed #aaa;
    height: 490px;
    width: 2px;
    display: inline-block;
    vertical-align: top;
    margin: 0 8px;
}

.content {
    margin: 24px;
}

.menu-item {
    font-weight: normal;
    padding: 2px;
    margin-right: 8px;
    border-radius: 4px;
}

.menu-item:hover {
    background-color: #eee;
    box-shadow: 0 0 1px 1px #aaa;
}

.nav-item {
    font-weight: normal;
    padding: 10px 16px;
    background-color: #459df5;
    color: #fff;
    font-size: 15px;
}

.nav-item:hover {
    background-color: #338ce6;
    box-shadow: 0 0 3px 1px #338ce6;
}

.context-menu {
    width: 230px;
    height: 260px;
    background-color: #ddd;
    border-radius: 4px;
    display: inline-block;
}
