<j-view-layout
    *ngFor="let itemData of data?.nodes; first as isFirst"
    [data]="itemData"
    [(direction)]="itemData.direction"
    [justify]="itemData.justify"
    [align]="itemData.align"
    [order]="itemData.order"
    [(grow)]="itemData.grow"
    [shrink]="itemData.shrink"
    [editable]="editable"
    [blocked]="blocked"
    [isFirst]="isFirst"
    [resizeLineWidth]="resizeLineWidth"
    [parent]="this"
    [parentViewEditor]="parentViewEditor"
    (remove)="_$removeItem($event)">
</j-view-layout>

<div *ngIf="(!data || !data.nodes || !data.nodes.length) && editable"
     class="jigsaw-view-layout-option-box" (click)="_$addContent()"
     [class.jigsaw-view-layout-has-content]="data?.components?.length">
    <i class="fa fa-plus"></i>
</div>

<div *ngIf="(!data || !data.nodes || !data.nodes.length) && editable" class="jigsaw-view-layout-option-bar">
    <span class="fa fa-minus-square-o" (click)="_$addItems('v')"></span>
    <span class="fa fa-columns" (click)="_$addItems('h')"></span>
    <span class="fa fa-trash-o" (click)="_$remove()"></span>
</div>

<div *ngIf="(!data || !data.nodes || !data.nodes.length) && editable && blocked"
     class="jigsaw-view-layout-block"
     [class.jigsaw-view-layout-has-content]="data?.components?.length"></div>

<b #resizeLine
   *ngIf="!isFirst"
   j-resizable
   [parentBox]="element"
   [effectBox]="parent?.element"
   [effectDirection]="parent?.direction"
   [range]="_$resizeRange"
   (resize)="_$handleResize($event, true)"
   (mousedown)="_$handleResizeMouseDown($event)"
   class="jigsaw-view-layout-resize"
   [class.jigsaw-view-layout-resize-column]="parent?.direction == 'column'"
   [style.width]="parent?.direction == 'column' ? '100%' : resizeLineWidth"
   [style.height]="parent?.direction == 'column' ? resizeLineWidth : '100%'"></b>

<ng-template jigsaw-renderer-host></ng-template>
