<j-view-layout
    *ngFor="let itemData of data?.nodes; first as isFirst"
    [data]="itemData"
    [(direction)]="itemData.direction"
    [justify]="itemData.justify"
    [align]="itemData.align"
    [order]="itemData.order"
    [grow]="itemData.grow"
    [shrink]="itemData.shrink"
    [frozen]="frozen"
    [isFirst]="isFirst"
    [parent]="this"
    (remove)="_$removeItem($event)">
</j-view-layout>

<div *ngIf="(!data || !data.nodes || !data.nodes.length) && !frozen" class="jigsaw-view-layout-option-box">
    <i class="fa fa-plus-square-o" (click)="_$addContent()"></i>
    <div class="jigsaw-view-layout-option-bar">
        <span class="fa fa-minus-square-o" (click)="_$addItems('v')"></span>
        <span class="fa fa-columns" (click)="_$addItems('h')"></span>
        <span class="fa fa-trash-o" (click)="_$remove()"></span>
    </div>
</div>

<div *ngIf="(!data || !data.nodes || !data.nodes.length) && !frozen" class="jigsaw-view-layout-block"></div>

<b #resizeLine *ngIf="!isFirst" class="jigsaw-view-layout-resize" j-resizable [parent]="parent"
   [class.jigsaw-view-layout-resize-column]="parent?.direction == 'column'"></b>

<b #resizingLine class="jigsaw-view-layout-resizing" [class.jigsaw-view-layout-resizing-column]="direction == 'column'"></b>

<ng-template jigsaw-renderer-host></ng-template>
