@import "../../assets/scss/core/base";

$layout-prefix-cls: #{$jigsaw-prefix}-view-layout;
$editor-prefix-cls: #{$jigsaw-prefix}-view-editor;

.#{$layout-prefix-cls} {
    position: relative;
    &-block {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        background: #000;
        opacity: 0.4;
        z-index: 100;
    }
    &-option-box {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: 101;
        color: #ffffff;
        i {
            font-size: 30px;
            cursor: pointer;
        }
    }
    &-option-bar {
        display: none;
        position: absolute;
        font-size: 0;
        width: 50px;
        top: -14px;
        left: 50%;
        transform: translateX(-43%);
        span {
            font-size: 14px;
            margin-right: 4px;
            cursor: pointer;
        }
        .#{$layout-prefix-cls}:hover > .#{$layout-prefix-cls}-option-box > & {
            display: block;
        }
    }
    &-resize {
        position: absolute;
        height: 100%;
        width: 2px;
        border: 1px solid blue;
        left: 0;
        top: 0;
        z-index: 101;
        &-column {
            width: 100%;
            height: 2px;
            &:hover{
                cursor: n-resize !important;
            }
        }
        &:hover{
            cursor: e-resize;
        }
    }
    &-resizing {
        position: absolute;
        height: 100%;
        width: 2px;
        border: 1px solid red;
        left: 0;
        top: 0;
        z-index: 101;
        display: none;
        &-column {
            width: 100%;
            height: 2px;
        }
    }
}

.#{$editor-prefix-cls} {
    display: block;
}
