<!-- ignore the following lines, they are not important to this demo -->
<jigsaw-demo-description [summary]="summary" [content]="description">
</jigsaw-demo-description>


<!-- start to learn the demo from here -->
<div class="live-demo-wrap">
    <h2>Time</h2>
    <div class="demo-1 live-demo">
        <h3>基本用法</h3>
        <p class="commend">时间配置支持时间宏 s(秒),m(分钟),h(小时),d(天),M(月),y(年) 并且支持计算 如 now-10d now+10m</p>
        <j-button (click)="setDate()">set date</j-button><br><br>
        <j-time [(date)]="date" gr="second"></j-time>
        <p class="message">Selected Time : {{date}}</p>
    </div>
</div>
