<!-- ignore the following lines, they are not important to this demo -->
<jigsaw-demo-description [summary]="summary" [content]="description"> </jigsaw-demo-description>

<!-- start to learn the demo from here -->
<section>
    <jigsaw-tag [closable]="false">Tag 1</jigsaw-tag>
    <jigsaw-tag [closable]="true" (close)="handleClose($event)" id="jigsaw-tag2">Tag 2</jigsaw-tag>
    <jigsaw-tag [closable]="true" (close)="handleClose($event)">
        A very very very very very very very long tag
    </jigsaw-tag>
    <j-button (click)="resetAllTags()">Reset all tags</j-button>
</section>

<p style="color:#fff; margin-top:24px;">
    <jigsaw-tag color="#008fd4">中兴蓝</jigsaw-tag>
    <jigsaw-tag color="#54acd5">#54acd5</jigsaw-tag>
    <jigsaw-tag color="#f99660">#f99660</jigsaw-tag>
    <jigsaw-tag color="#85c56c">#85c56c</jigsaw-tag>
    <jigsaw-tag color="#ec6d6d">#ec6d6d</jigsaw-tag>
    <jigsaw-tag color="#f7b913">#f7b913</jigsaw-tag>
    <jigsaw-tag color="#8ac9b6">#8ac9b6</jigsaw-tag>
    <jigsaw-tag color="#bea5c8">#bea5c8</jigsaw-tag>
    <jigsaw-tag color="#01c5c2">#01c5c2</jigsaw-tag>
    <jigsaw-tag color="#a17660">#a17660</jigsaw-tag>
</p>
<jigsaw-header>color值非法</jigsaw-header>
<jigsaw-tag [color]="null">非法值1</jigsaw-tag>
<jigsaw-tag [color]="112233">非法值2</jigsaw-tag>
<jigsaw-tag [color]="{}">非法值3</jigsaw-tag>

<jigsaw-header>提示文本</jigsaw-header>
<div>
    <jigsaw-tag color="preset-blue" [(title)]="tagTitle">{{tagText}}</jigsaw-tag>
</div>
<jigsaw-input [(value)]="tagText" placeholder="请输入Tag主文本"></jigsaw-input>
<jigsaw-input [(value)]="tagTitle" placeholder="请输入Tag提示文本"></jigsaw-input>
