<div class="m-api-list">
  <input #searchBox type="text" placeholder="Search" class="form-control" (keyup)="doSearch(searchBox.value)">
  <div  class="api-list-container">
    <div class="api-box f-cb" *ngFor="let apiItem of apiMap">
      <div>
        <p>{{apiItem[0]}}</p>
        <ul>
          <li *ngFor="let apiValue of apiItem[1]">
            <a (click)="showApiDetail(apiValue)">{{apiValue.type}}</a>
          </li>
        </ul>
      </div>
    </div>
    <div *ngIf="!apiMap?.length && firstReqReady">
      <br><h1>没有符合条件的API！</h1>
    </div>
  </div>
</div>
