<!-- <div class="demo-wrapper">
    <jigsaw-markdown [markdown]="description"></jigsaw-markdown>
    <div class="api-list-cntr">
        <ul class="api-list" [perfectScrollbar]="{ wheelSpeed: 0.5, minScrollbarLength: 20 }">
            <li *ngFor="let api of apiList; let index = index">
                <p class="api-category" *ngIf="!apiList[index-1] || api.category !== apiList[index-1].category">
                    {{api.category}}</p>
                <span class="api-link" (click)="showApiDetail(api)">{{ api.type }}</span>
            </li>
        </ul>
        <doc-template [docContent]="apiDetail"></doc-template>

    </div>

    <jigsaw-alphabetical-index class="api-list" width="200px" height="calc(100vh - 60px - 33px)" [data]="apiData">
    </jigsaw-alphabetical-index>
</div> -->
<!-- <div>
    <jigsaw-alphabetical-index width="200px" height="calc(100vh - 60px - 33px)" [data]="apiData">
    </jigsaw-alphabetical-index>
</div> -->

<div class="demo-wrapper">
    <div class="doc-cntr">
        <jigsaw-markdown [markdown]="description"></jigsaw-markdown>
        <doc-template [docContent]="apiDetail"></doc-template>
    </div>
    <div class="index-cntr">
        <jigsaw-search-input width="300px" height="40px" placeholder="请输入API">
        </jigsaw-search-input>
        <jigsaw-alphabetical-index class="api-list" width="300px" [data]="apiData" (valueChange)="showApiDetail($event)">
        </jigsaw-alphabetical-index>
    </div>
</div>