<div class="demo-wrapper">
    <div class="doc-cntr">
        <jigsaw-markdown [markdown]="description"></jigsaw-markdown>
        <ul *ngIf="apiDetail.length === 0" class="api-count-list">
            <li *ngFor="let data of apiCategory">
                <span class="number">{{getLengthByCategory(data.category)}}</span>
                <span class="category">{{data.category}}</span>
                <span class="label">{{data.label}}</span>
            </li>
        </ul>
        <doc-template *ngIf="apiDetail.length > 0" [docContent]="apiDetail"></doc-template>
    </div>
    <div class="index-cntr">
        <jigsaw-search-input width="280px" height="40px" placeholder="请输入API" (search)="searchApi($event)">
        </jigsaw-search-input>
        <jigsaw-alphabetical-index class="api-list" width="300px" [data]="apiData"
            (valueChange)="showApiDetail($event)">
        </jigsaw-alphabetical-index>
    </div>
</div>