<!-- ignore the following lines, they are not important to this demo -->
<jigsaw-demo-description [summary]="summary" [content]="description">
</jigsaw-demo-description>

<!-- start to learn the demo from here -->
<jigsaw-header>在Js中可以使用的变量</jigsaw-header>
<ul class="public-variables-demo-ul">
    <li *ngFor="let prop of properties">
        <div [ngStyle]="{'background': prop.value}"></div>
        <span (click)="copyToClipboard($event)">{{prop.name}}</span>
        <span (click)="copyToClipboard($event)">{{prop.value}}</span>
    </li>
</ul>
