$jigsaw-checkbox: #{$jigsaw-prefix}-checkbox;

.#{$jigsaw-checkbox}-host {
    display: inline-flex;

    &.#{$jigsaw-checkbox}-error .#{$jigsaw-checkbox}-wrapper {
        &:hover {
            > .#{$jigsaw-checkbox} {
                border-color: $error-hover;
            }
        }
        .#{$jigsaw-checkbox} {
            border-color: $error-default;
        }
    }

    .#{$jigsaw-checkbox}-wrapper {
        position: relative;
        left: 0;
        margin: 0;
        display: inline-flex;
        align-items: center;
        outline: none;
        font-size: $font-size-text-base;
        line-height: 1;
        cursor: pointer;
        &:not(:last-child) {
            margin-right: 8px;
        }
    
        &:hover {
            > .#{$jigsaw-checkbox} {
                border-color: $brand-default;
            }
    
            > .#{$jigsaw-checkbox}-disabled {
                border-color: $border-color-disabled;
            }
        }
    
        .#{$jigsaw-checkbox} {
            position: relative;
            display: inline-block;
            vertical-align: middle;
            width: 14px;
            height: 14px;
            overflow: hidden;
            border-width: 1px;
            border-style: solid;
            border-color: $border-color-default;
            border-radius: $border-radius-sm;
            background-color: $bg-transparent;
            transition: all 0.3s;
    
            &::after {
                content: "";
                position: absolute;
                left: 4px;
                top: 1px;
                width: 5px;
                height: 8px;
                border: 2px solid $bg-transparent;
                border-top: 0;
                border-left: 0;
                transform: rotate(45deg) scale(0);
                transition: all 0.2s $ease-in-back;
            }
    
            &::before {
                content: "";
                position: absolute;
                left: 4px;
                top: 1px;
                width: 5px;
                height: 8px;
                border: 2px solid $bg-transparent;
                border-top: 0;
                border-left: 0;
                transform: rotate(45deg) scale(0);
                transition: all 0.2s $ease-in-back;
            }
    
            &-checked {
                background-color: $brand-default;
                border-color: $brand-default;
    
                &.#{$jigsaw-checkbox}-disabled {
                    background: $brand-disabled;
                    border-color: $brand-disabled;
    
                    &:after {
                        border-color: #fff;
                    }
                }
    
                &:after {
                    top: 6.1px;
                    left: 0.5px;
                    width: 5px;
                    height: 2px;
                    border-color: #fff;
                    border-radius: 2px;
                    transform: rotate(45deg) scale(1);
                    transition: all 0.2s $ease-out-back 0.1s;
                }
    
                &::before {
                    top: 1px;
                    left: 6.5px;
                    width: 2px;
                    height: 10px;
                    border-color: #fff;
                    border-radius: 2px;
                    transform: rotate(45deg) scale(1);
                    transition: all 0.2s $ease-out-back 0.1s;
                }
            }
    
            &-indeterminate {
                border-color: $border-color-default;
                background-color: $bg-transparent;
                &.#{$jigsaw-checkbox}-disabled {
                    &.#{$jigsaw-checkbox}-disabled {
                        background: $bg-transparent;
                        border-color: $border-color-disabled;
                        &:after {
                            border-color: $brand-disabled;
                        }
                    }
                }
    
                &::after {
                    top: 2px;
                    left: 2px;
                    width: 0px;
                    height: 0px;
                    border: 4px solid $brand-default;
                    border-radius: 1px;
                    transform: rotate(0) scale(1);
                }
    
                &::before {
                    border-color: $bg-transparent;
                }
            }
    
            &-disabled {
                border-color: $border-color-disabled;
                background-color: $bg-disabled;
                cursor: not-allowed;
    
                & + span {
                    color: #ccc;
                    cursor: not-allowed;
                }
            }
    
            &-disabled:after {
                animation-name: none;
                border-color: #ccc;
            }
        }
    
        .#{$jigsaw-checkbox}-label {
            vertical-align: middle;
            padding-left: 8px;
            padding-right: 8px;
            color: $font-color-default;
            font-weight: normal;
        }
    }
}


