<!-- ignore the following lines, they are not important to this demo -->
<jigsaw-demo-description [summary]="summary" [content]="description">
</jigsaw-demo-description>


<!-- start to learn the demo from here -->
<div class="live-demo-wrap">
    <h2>Time</h2>
    <div class="clearfix">
        <div class="demo-1 live-demo live-demo-block">
            <h3>Limit</h3>
            <div class="toggle up">
                <label>limitStart: </label>
                <j-radios [(value)]="limitStart">
                    <j-radio-option *ngFor="let item of limitStartList" [value]="item">{{item}}</j-radio-option>
                </j-radios>
                <br>
                <label>limitEnd: </label>
                <j-radios [(value)]="limitEnd">
                    <j-radio-option *ngFor="let item of limitEndList" [value]="item">{{item}}</j-radio-option>
                </j-radios>
            </div>
            <j-date-time-picker [(date)]="date1" gr="second" [limitStart]="limitStart" [limitEnd]="limitEnd"></j-date-time-picker>
            <p class="message">Selected Time: <span>{{date1}}</span></p>
        </div>
    </div>
</div>
