@import "../../assets/scss/core/base";

$jigsaw-graph: #{$jigsaw-prefix}-graph;

.#{$jigsaw-graph}-host {
    width: 100%;
    height: 240px; // 默认高度;
    display: inline-block;
    position: relative;

    .#{$jigsaw-graph} {
        height: 100%;
    }

}

.no-data {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}
