.float-pos-reviser-demo-cntr .iconfont-e9d8 {
    margin: 40px;
}

.jigsawFloatArea {
    width: 190px;
    height: 60px;
    background: orange;
    color: #fff;
    text-align: center;
}

.float-pos-reviser-demo-cntr .movable-box {
    background-color: #83cde4;
    color: white;
    display: inline-block;
    border-radius: 4px;
    padding: 12px;
    cursor: move;
}

.float-pos-reviser-demo-cntr .message {
    margin: 10px;
}