.movable-box .iconfont-e9d8 {
    margin: 40px;
}

.jigsawFloatArea {
    width: 190px;
    height: 60px;
    background: orange;
    color: #fff;
    text-align: center;
}

.movable-box {
    background-color: #3a4484;
    display: inline-block;
    border-radius: 4px;
    padding: 12px;
    cursor: move;
}

.jigsawFloatArea .message {
    margin: 20px 10px;
}
