.float-pos-reviser-demo-cntr .iconfont-e9d8 {
    margin: 40px;
}

.jigsawFloatArea {
    width: 190px;
    height: 60px;
    background: #f08316;
    color: #fff;
    text-align: center;
}

.float-pos-reviser-demo-cntr .movable-box {
    display: inline-flex;
    align-items: center;
    height: 48px;
    padding: 12px;
    background-color: #0B5FB3;
    border-radius: 4px;
    color: white;
    cursor: move;
}

.float-pos-reviser-demo-cntr .message {
    margin: 10px;
}