<div #dropDownContainer class="rdk-drop-down"
                       [class.rdk-drop-down-opened]="_hasContent"
                       [class.rdk-drop-down-disabled]="disabled"
                       (mouseover)="_$openDropDownByHover()"
                       >
    <div class="rdk-drop-down-selection" (click)="_$openDropDownByClick()">
        <div class="rdk-drop-down-selection-rendered">
            <div *ngIf="placeholder && (!value || value.length == 0)" class="rdk-drop-down-selection_placeholder">{{placeholder}}</div>
            <rdk-tag [closable]="true" *ngFor="let item of value;">{{item[labelField]}}</rdk-tag>
        </div>
    </div>
    <!-- ?? 可能是个问题. 依赖了fontAwesome -->
    <i class="fa fa-angle-down rdk-drop-down-arrow"></i>
</div>
