<!-- ignore the following lines, they are not important to this demo -->
<jigsaw-demo-description [summary]="summary" [content]="description">
</jigsaw-demo-description>

<!-- start to learn the demo from here -->
<div class="demo-container">
    <jigsaw-header>正常状态：</jigsaw-header>
    <div>
        <jigsaw-switch  [showBorder]="showBorder" [(checked)]="checked" style="margin-right: 5px"></jigsaw-switch>
        <span>result: {{ checked }}</span>
    </div>

    <jigsaw-header>正常状态带文字：</jigsaw-header>
    <jigsaw-switch onLabel="Jigsaw is great!" [showBorder]="showBorder"  offLabel="Jigsaw is perfect!"></jigsaw-switch>

    <jigsaw-header>禁用状态：</jigsaw-header>
    <div>
        <jigsaw-switch [checked]="true" [showBorder]="showBorder"  [disabled]="true"></jigsaw-switch>
        <jigsaw-switch [checked]="false" [showBorder]="showBorder"  [disabled]="true"></jigsaw-switch>
    </div>

    <jigsaw-header>禁用状态带文字：</jigsaw-header>
    <div>
        <jigsaw-switch [checked]="true" [showBorder]="showBorder"  [disabled]="true" onLabel="Jigsaw is great!" offLabel="Jigsaw is perfect!">
        </jigsaw-switch>
        <jigsaw-switch [checked]="false" [showBorder]="showBorder"  [disabled]="true" onLabel="Jigsaw is great!" offLabel="Jigsaw is perfect!">
        </jigsaw-switch>
    </div>

    <jigsaw-header>是否显示边框</jigsaw-header>
    <div>
        <jigsaw-switch [(checked)]="showBorder" [showBorder]="showBorder" onLabel="显示" offLabel="隐藏"></jigsaw-switch>
    </div>
   
</div>
