<demo-template [data]="labelData" [(selectedLabel)]="selectedLabel" [text]="text['text']['mask']">
    <!-- start to learn the demo from here -->
    <div class="live-demo-wrap">
        <div style="display: inline-block">
            <jigsaw-icon width="100" height="100"
                         style="color: #ffffff; background-color:#695f5f;border-radius: 10px;align-items: center; justify-content: center;display: flex;"
                         icon="iconfont iconfont-e8fb" jigsawBadgePosition="rightTop" jigsawBadgeStyle="none"
                         iconSize="100" jigsawBadge jigsawBadgeMask="light" [jigsawBadgeSize]="selectedLabel.size"
                         jigsawBadgeValue="iconfont iconfont-e91d"></jigsaw-icon>
        </div>
        <div style="display: inline-block">
            <jigsaw-icon width="100" height="100"
                         style="color: #ffffff; background-color:#695f5f;border-radius: 10px;align-items: center; justify-content: center;display: flex;"
                         icon="iconfont iconfont-e8fb" jigsawBadgePosition="right" jigsawBadgeStyle="none"
                         iconSize="100" jigsawBadge jigsawBadgeMask="light" [jigsawBadgeSize]="selectedLabel.size"
                         jigsawBadgeValue="iconfont iconfont-e91d"></jigsaw-icon>
        </div>
        <div style="display: inline-block">
            <jigsaw-icon width="100" height="100"
                         style="color: #ffffff; background-color:#695f5f;border-radius: 10px;align-items: center; justify-content: center;display: flex;"
                         icon="iconfont iconfont-e8fb" jigsawBadgePosition="rightBottom" [jigsawBadgeSize]="selectedLabel.size"
                         iconSize="100" jigsawBadge jigsawBadgeMask="light" jigsawBadgeStyle="none"
                         jigsawBadgeValue="iconfont iconfont-e91d"></jigsaw-icon>
        </div>
        <div style="display: inline-block">
            <jigsaw-icon width="100" height="100"
                         style="color: #ffffff; background-color:#695f5f;border-radius: 10px;align-items: center; justify-content: center;display: flex;"
                         icon="iconfont iconfont-e8fb" jigsawBadgePosition="leftTop" [jigsawBadgeSize]="selectedLabel.size"
                         iconSize="100" jigsawBadge jigsawBadgeMask="light" jigsawBadgeStyle="none"
                         jigsawBadgeValue="iconfont iconfont-e91d"></jigsaw-icon>
        </div>
        <div style="display: inline-block">
            <jigsaw-icon width="100" height="100"
                         style="color: #ffffff; background-color:#695f5f;border-radius: 10px;align-items: center; justify-content: center;display: flex;"
                         icon="iconfont iconfont-e8fb" jigsawBadgePosition="left" [jigsawBadgeSize]="selectedLabel.size"
                         iconSize="100" jigsawBadge jigsawBadgeMask="light" jigsawBadgeStyle="none"
                         jigsawBadgeValue="iconfont iconfont-e91d"></jigsaw-icon>
        </div>
        <div style="display: inline-block">
            <jigsaw-icon width="100" height="100"
                         style="color: #ffffff; background-color:#695f5f;border-radius: 10px;align-items: center; justify-content: center;display: flex;"
                         icon="iconfont iconfont-e8fb" jigsawBadgePosition="leftBottom" [jigsawBadgeSize]="selectedLabel.size"
                         iconSize="100" jigsawBadge jigsawBadgeMask="light" jigsawBadgeStyle="none"
                         jigsawBadgeValue="iconfont iconfont-e91d"></jigsaw-icon>
        </div>
        <br>
        <br>
        <br>
        <br>
        <div style="display: inline-block">
            <jigsaw-icon width="100" height="100"
                         style="color: #ffffff; background-color:#ffc04f;border-radius: 10px;align-items: center; justify-content: center;display: flex;"
                         icon="iconfont iconfont-e8fb" jigsawBadgePosition="rightTop" jigsawBadgeStyle="none"
                         iconSize="100" jigsawBadge jigsawBadgeMask="dark" [jigsawBadgeSize]="selectedLabel.size"
                         jigsawBadgeValue="iconfont iconfont-e91d"></jigsaw-icon>
        </div>
        <div style="display: inline-block">
            <jigsaw-icon width="100" height="100"
                         style="color: #ffffff; background-color:#ffc04f;border-radius: 10px;align-items: center; justify-content: center;display: flex;"
                         icon="iconfont iconfont-e8fb" jigsawBadgePosition="right" [jigsawBadgeSize]="selectedLabel.size"
                         iconSize="100" jigsawBadge jigsawBadgeMask="dark" jigsawBadgeStyle="none"
                         jigsawBadgeValue="iconfont iconfont-e91d"></jigsaw-icon>
        </div>
        <div style="display: inline-block">
            <jigsaw-icon width="100" height="100"
                         style="color: #ffffff; background-color:#ffc04f;border-radius: 10px;align-items: center; justify-content: center;display: flex;"
                         icon="iconfont iconfont-e8fb" jigsawBadgePosition="rightBottom" [jigsawBadgeSize]="selectedLabel.size"
                         iconSize="100" jigsawBadge jigsawBadgeMask="dark" jigsawBadgeStyle="none"
                         jigsawBadgeValue="iconfont iconfont-e91d"></jigsaw-icon>
        </div>
        <div style="display: inline-block">
            <jigsaw-icon width="100" height="100"
                         style="color: #ffffff; background-color:#ffc04f;border-radius: 10px;align-items: center; justify-content: center;display: flex;"
                         icon="iconfont iconfont-e8fb" jigsawBadgePosition="leftTop" [jigsawBadgeSize]="selectedLabel.size"
                         iconSize="100" jigsawBadge jigsawBadgeMask="dark" jigsawBadgeStyle="none"
                         jigsawBadgeValue="iconfont iconfont-e91d"></jigsaw-icon>
        </div>
        <div style="display: inline-block">
            <jigsaw-icon width="100" height="100"
                         style="color: #ffffff; background-color:#ffc04f;border-radius: 10px;align-items: center; justify-content: center;display: flex;"
                         icon="iconfont iconfont-e8fb" jigsawBadgePosition="left" [jigsawBadgeSize]="selectedLabel.size"
                         iconSize="100" jigsawBadge jigsawBadgeMask="dark" jigsawBadgeStyle="none"
                         jigsawBadgeValue="iconfont iconfont-e91d"></jigsaw-icon>
        </div>
        <div style="display: inline-block">
            <jigsaw-icon width="100" height="100"
                         style="color: #ffffff; background-color:#ffc04f;border-radius: 10px;align-items: center; justify-content: center;display: flex;"
                         icon="iconfont iconfont-e8fb" jigsawBadgePosition="leftBottom" [jigsawBadgeSize]="selectedLabel.size"
                         iconSize="100" jigsawBadge jigsawBadgeMask="dark" jigsawBadgeStyle="none"
                         jigsawBadgeValue="iconfont iconfont-e91d"></jigsaw-icon>
        </div>
        <br>
        <br>
        <br>
        <br>
        <jigsaw-button jigsaw-badge (jigsawBadgeClick)="select($event)" (click)="_$btn()"
                       jigsawBadgeMask="default"  [jigsawBadgeSize]="selectedLabel.size" jigsawBadgeStatus="error"
                       jigsawBadgeValue="iconfont iconfont-e91d" [jigsawBadgePointerCursor]="true">确定
        </jigsaw-button>
        <jigsaw-button jigsaw-badge (jigsawBadgeClick)="select($event)" (click)="_$btn()"
                       jigsawBadgeMask="default" [jigsawBadgeSize]="selectedLabel.size" jigsawBadgeStatus="normal"
                       jigsawBadgeValue="iconfont iconfont-e91d" [jigsawBadgePointerCursor]="true">确定
        </jigsaw-button>
        <jigsaw-button jigsaw-badge (jigsawBadgeClick)="select($event)" (click)="_$btn()"
                       jigsawBadgeMask="default" [jigsawBadgeSize]="selectedLabel.size" jigsawBadgeStatus="warn"
                       jigsawBadgeValue="iconfont iconfont-e91d" [jigsawBadgePointerCursor]="true">确定
        </jigsaw-button>
        <jigsaw-button jigsaw-badge jigsawBadgePosition="right" (jigsawBadgeClick)="select($event)" (click)="_$btn()"
                       jigsawBadgeMask="default" [jigsawBadgeSize]="selectedLabel.size" jigsawBadgeStatus="error"
                       jigsawBadgeValue="dot" [jigsawBadgePointerCursor]="true">确定
        </jigsaw-button>
        <jigsaw-button jigsaw-badge jigsawBadgePosition="right" (jigsawBadgeClick)="select($event)" (click)="_$btn()"
                       jigsawBadgeMask="default" [jigsawBadgeSize]="selectedLabel.size" jigsawBadgeStatus="normal"
                       jigsawBadgeValue="dot" [jigsawBadgePointerCursor]="true">确定
        </jigsaw-button>
        <jigsaw-button jigsaw-badge jigsawBadgePosition="right" (jigsawBadgeClick)="select($event)" (click)="_$btn()"
                       jigsawBadgeMask="default" [jigsawBadgeSize]="selectedLabel.size" jigsawBadgeStatus="warn"
                       jigsawBadgeValue="dot" [jigsawBadgePointerCursor]="true">确定
        </jigsaw-button>
    </div>
</demo-template>
