.short-box {
    width: 100%;
    height: 100px;
}

.short-box .jigsaw-table-host {
    height: 100%;
}

.tall-box {
    width: 100%;
    height: 300px;
}

.tall-box .jigsaw-table-host {
    height: 100%;
}