<!-- ignore the following lines, they are not important to this demo -->
<jigsaw-demo-description [summary]="summary" [content]="description">
</jigsaw-demo-description>


<!-- start to learn the demo from here -->
<jigsaw-header>数据合法，data为空</jigsaw-header>
<jigsaw-table [data]="tableData"></jigsaw-table>

<jigsaw-header>数据不合法</jigsaw-header>
<jigsaw-table></jigsaw-table>

<jigsaw-header>在高度充足的情况下，无数据的表现</jigsaw-header>
<div class="tall-box">
    <jigsaw-table [data]="tableData"></jigsaw-table>
</div>

<jigsaw-header>在高度不足的情况下，两种情况的表现</jigsaw-header>
<div class="short-box">
    <jigsaw-table [data]="tableData2"></jigsaw-table>
</div>
<div class="short-box">
    <jigsaw-table [data]="tableData"></jigsaw-table>
</div>