<!-- ignore the following lines, they are not important to this demo -->
<jigsaw-demo-description [summary]="summary" [content]="description">
</jigsaw-demo-description>

<ul class="demo-options">
    <li class="demo-options-item">
        <span>无数据图片：</span>
        <jigsaw-select [data]="imageData" [value]="imageValue" (valueChange)="selectImage($event)"></jigsaw-select>
    </li>
</ul>

<!-- start to learn the demo from here -->
<jigsaw-header>数据合法，data为空</jigsaw-header>
<div class="tall-box">
    <jigsaw-table [data]="tableData" [noDataImageType]="noDataImageType"></jigsaw-table>
</div>

<jigsaw-header>数据不合法</jigsaw-header>
<div class="tall-box">
    <jigsaw-table [noDataImageType]="noDataImageType"></jigsaw-table>
</div>

<jigsaw-header>在高度充足的情况下，无数据的表现</jigsaw-header>
<div class="tall-box">
    <jigsaw-table [data]="tableData" [noDataImageType]="noDataImageType"></jigsaw-table>
</div>

<jigsaw-header>在高度不足的情况下，有数据和无数据的表现</jigsaw-header>
<div class="short-box">
    <jigsaw-table [data]="tableData2" [noDataImageType]="noDataImageType"></jigsaw-table>
</div>
<div class="short-box">
    <jigsaw-table [data]="tableData" [noDataImageType]="noDataImageType"></jigsaw-table>
</div>

<jigsaw-header>在高度不足的情况下，表头数据正常的情况</jigsaw-header>
<div class="short-box">
    <jigsaw-table [data]="tableData3" [noDataImageType]="noDataImageType"></jigsaw-table>
</div>

<jigsaw-header>大量表格列数据</jigsaw-header>
<a class="a-button" (click)="moreColumns()">测试动态多列的情况</a>
<a class="a-button" (click)="moreColumns(true)">测试动态多列有数据的情况</a>
<a class="a-button" (click)="resetData()">重置数据</a>
<div class="tall-box">
    <jigsaw-table [data]="tableData4" [columnDefines]="columnDefines" [noDataImageType]="noDataImageType"></jigsaw-table>
</div>
