<!-- ignore the following lines, they are not important to this demo -->
<jigsaw-demo-description [summary]="summary" [content]="description">
</jigsaw-demo-description>

<h2>通过点击步骤节点进行跳转</h2>
<jigsaw-numeric-steps [data]="steps1" [(current)]="step1" (currentChange)="currentChange1($event)"></jigsaw-numeric-steps>
<br>当前选择节点: {{step1}}

<br><br><br><br>
<h2>通过点击按钮进行跳转，节点禁用</h2>
<div style="margin-top: 30px;">
    <jigsaw-button (click)="pre()" [disabled]="step2 < 0 || step2 == 0">上一步</jigsaw-button>
    <jigsaw-button (click)="next()" [disabled]="step2 < 0 || step2 >= steps2.length - 1">下一步</jigsaw-button>
    <jigsaw-button (click)="step2 = -1">测试无效值</jigsaw-button>
</div>
<jigsaw-numeric-steps [data]="steps2" [(current)]="step2" (currentChange)="currentChange2($event)"></jigsaw-numeric-steps>
<br>当前选择节点: {{step2}}
