<!-- ignore the following lines, they are not important to this demo -->
<jigsaw-demo-description [summary]="summary" [content]="description">
</jigsaw-demo-description>


<!-- start to learn the demo from here -->
<jigsaw-button (click)="_$updateData()" colorType="primary">更新数据</jigsaw-button>
<jigsaw-button (click)="_$noData()" colorType="primary">无数据</jigsaw-button>
<div class="viewport">
    <div class="demo-cntr">
        <jigsaw-header>高度设置为百分比</jigsaw-header>
        <div style="height: 400px;">
            <jigsaw-table [data]="tableData" height="100%"></jigsaw-table>
        </div>
    </div>
    <div class="demo-cntr">
        <jigsaw-header>高度设置为固定值</jigsaw-header>
        <jigsaw-table [data]="tableData" height="400px"></jigsaw-table>
    </div>
    <div class="demo-cntr">
        <jigsaw-header>高度设置为计算值</jigsaw-header>
        <div style="height: 400px;">
            <jigsaw-table [data]="tableData" height="calc(100% - 30px)"></jigsaw-table>
        </div>
    </div>
    <div class="demo-cntr">
        <jigsaw-header>不设置高度</jigsaw-header>
        <jigsaw-table [data]="tableData"></jigsaw-table>
    </div>
</div>