<h4>Gr</h4>

Gr : <jigsaw-tile trackItemBy="label" [(selectedItems)]="gr" [multipleSelect]="false">
    <jigsaw-tile-option *ngFor="let item of datas" [value]="item">{{item.label}}</jigsaw-tile-option>
</jigsaw-tile><br>

<jigsaw-range-time [(beginDate)]="beginDate" [gr]="gr[0].label" [(endDate)]="endDate" ></jigsaw-range-time><br>

<div *ngIf="gr[0].label!='week'">beginDate ： {{beginDate}}   endDate：{{endDate}}</div>
<div *ngIf="gr[0].label=='week'">beginDate ： {{beginDate | json}}   endDate：{{endDate | json}}</div>
