<!-- ignore the following lines, they are not important to this demo -->
<jigsaw-demo-description [summary]="summary" [content]="description">
</jigsaw-demo-description>


<!-- start to learn the demo from here -->
<div class="live-demo-wrap">
    <h2>RangeTime</h2>

    <label>设置周开始：</label>
    <jigsaw-button-bar [data]="['sun', 'mon', 'tue', 'wed', 'thu', 'fri', 'sat']" [(selectedItems)]="weekStart">
    </jigsaw-button-bar><br><br>

    <div class="demo-1 live-demo">
        <h3>week select</h3>
        <jigsaw-range-time [(beginDate)]="beginDate" [(endDate)]="endDate" [weekStart]="weekStart[0]" gr="week">
        </jigsaw-range-time><br>
        <p class="message">beginDate: {{beginDate | json}} ， endDate: {{endDate | json}}</p>
    </div>

    <div class="demo-2 live-demo">
        <h3>with combo</h3>
        <jigsaw-combo-select [(value)]="rangeTimeComboValue">
            <ng-template>
                <jigsaw-range-time [(beginDate)]="beginDate2"
                                   [(endDate)]="endDate2"
                                   [weekStart]="weekStart[0]"
                                   (change)="handleRangeDateChange()" gr="week">
                </jigsaw-range-time>
            </ng-template>
        </jigsaw-combo-select>
        <p class="message">beginDate: {{beginDate2 | json}} ， endDate: {{endDate2 | json}}</p>
    </div>
</div>

