<demo-template [data]="''" [text]="text['text']['basicTab']">
    <div>
        <jigsaw-markdown [markdown]="'#### 独立的tab bar（简单数组）'"></jigsaw-markdown>
        <jigsaw-tabs-bar [(selectedIndex)]="selectedIndex" [data]="tabBarData"></jigsaw-tabs-bar>
    </div>
    <div>
        <jigsaw-markdown [markdown]="'#### 独立的tab bar（对象数组）'"></jigsaw-markdown>
        <jigsaw-tabs-bar [(selectedIndex)]="selectedIndex" [data]="tabBarData2"></jigsaw-tabs-bar>
    </div>


    <div>
        <jigsaw-markdown [markdown]="text['text']['textInBasic']"></jigsaw-markdown>
        <div>
            <span>隐藏tab头</span>
            <jigsaw-switch [(checked)]="headless"></jigsaw-switch>
        </div>
        <div>
            <jigsaw-tabs [headless]="headless" [(selectedIndex)]="selectedIndex">
                <jigsaw-tab-pane title="Tab 1">
                    <ng-template>
                        <jigsaw-graph [data]="lineBarGraphData"></jigsaw-graph>
                    </ng-template>
                </jigsaw-tab-pane>
                <jigsaw-tab-pane title="Tab 2">
                    <ng-template>This is the body of the second tab</ng-template>
                </jigsaw-tab-pane>
                <jigsaw-tab-pane title="Tab 3">
                    <ng-template>This is the body of the third tab</ng-template>
                </jigsaw-tab-pane>
                <jigsaw-tab-pane>
                    <div jigsaw-title><span class="iconfont iconfont-e187"></span>Tab 3</div>
                    <ng-template>
                        <jigsaw-table [data]="fruitList"></jigsaw-table>
                    </ng-template>
                </jigsaw-tab-pane>
            </jigsaw-tabs>
        </div>
    </div>
</demo-template>
