<jigsaw-combo-select #comboSelect width="100%" [theme]="theme" [autoWidth]="!optionWidth" [maxHeight]="maxHeight" [(value)]="_$selectedItems"
                     [clearable]="clearable" [labelField]="labelField" [valid]="valid" [disabled]="disabled"
                     [placeholder]="placeholder" [openTrigger]="openTrigger" [closeTrigger]="closeTrigger"
                     [autoClose]="!multipleSelect" [positionType]="selectListPositionType" (openChange)="_$onComboOpenChange($event)"
                     (clear)="_$handleClearable()" (remove)="_$onTagRemove($event)">
    <ng-template>
        <div [ngStyle]="{'width': optionWidth ? optionWidth : '100%'}"
             [ngClass]="{
                    'jigsaw-select-list-host': true,
                    'jigsaw-select-list-cntr-host': true,
                    'jigsaw-select-show-selected': _$showSelected,
                    'jigsaw-select-multiple-list': multipleSelect,
                    'jigsaw-select-single-list': !multipleSelect}">
            <jigsaw-input *ngIf="searchable" width="100%" (valueChange)="_$handleSearching($event)">
                <span jigsaw-prefix-icon class="iconfont iconfont-ea03"></span>
            </jigsaw-input>
            <div *ngIf="!data || data.length === 0" class="jigsaw-select-no-data">
                <p *ngIf="!data || !data['busy']">{{'select.noData' | translate}}</p>
                <jigsaw-circle-loading *ngIf="data && data['busy']" [size]="'small'"></jigsaw-circle-loading>
                <p *ngIf="data && data['busy']">{{'select.loading' | translate}}</p>
            </div>
            <div *ngIf="multipleSelect && _$viewData?.length > 0" class="jigsaw-select-select-all">
                <jigsaw-checkbox *ngIf="!_$showSelected" [(checked)]="_$selectAllChecked"
                                  (checkedChange)="_$selectAll()">
                    <span>{{'select.selectAll' | translate}}</span>
                </jigsaw-checkbox>
                <div class="jigsaw-select-show-selected" *ngIf="!_$showSelected && _$showNumStatistics()"
                     (click)="_$showSelected = true">
                    <span>{{'select.checkSelected' | translate}}</span>
                </div>
                <div class="jigsaw-select-show-all" *ngIf="_$showSelected" (click)="_$showSelected = false">
                    <i class="iconfont iconfont-e9ac"></i>
                    <span>{{'select.checkAll' | translate}}</span>
                </div>
            </div>
            <jigsaw-collapse #contentList [ngStyle]="{'max-height': _$listHeight}" arrowPosition="right"
                [ngClass]="{'jigsaw-group-select-option-cntr': _$type == 'group',
                            'jigsaw-collapse-select-option-cntr': _$type =='collapse'}"
                [perfectScrollbar]="{suppressScrollX: true, wheelSpeed: 0.5, minScrollbarLength: 20}">
                <jigsaw-collapse-pane *ngFor="let group of _$viewData; let i = index; let last = last"
                    [isActive]="_$showSelected || _$type == 'group' ? true : !_$collapseStatus[i]"
                    (isActiveChange)="!_$showSelected && _$collapseStatus[i] = !$event"
                    [ngClass]="{'jigsaw-collapse-select-option-last': last}"
                    [disabled]="_$getCollapseDisabled(last)">
                    <div j-title class="jigsaw-select-option-title"
                        title="{{ (_$getCollapseDisabled(last) ? 'select.preventCollapse' : '') | translate}}">
                        {{group[0][groupField]}}
                    </div>
                    <div j-body>
                        <span *ngIf="!group || group.length === 0" class="jigsaw-select-option-no-data">
                            {{'select.groupNoData' | translate}}
                        </span>
                        <jigsaw-list *ngIf="group.length > 0" width="100%" [trackItemBy]="trackItemBy"
                            [(selectedItems)]="_$selectedItems" (selectedItemsChange)="_$handleSelectChange($event)"
                            [multipleSelect]="multipleSelect" [autoRemoveInvalidValue]="false">
                            <jigsaw-list-option #listItem *ngFor="let item of group" [value]="item" [disabled]="item.disabled"
                                [height]="optionHeight">
                                <jigsaw-checkbox *ngIf="multipleSelect" [disabled]="item.disabled" [(checked)]="listItem.selected"
                                    mode="minimalist">
                                </jigsaw-checkbox>
                                <span class="select-option-label" title="{{_$getItemLabel(item, labelField)}}">
                                    {{_$getItemLabel(item, labelField)}}
                                </span>
                            </jigsaw-list-option>
                        </jigsaw-list>
                    </div>
                </jigsaw-collapse-pane>
            </jigsaw-collapse>
            <div *ngIf="_$infiniteScroll && data.length > 0 && data['busy']" class="jigsaw-select-infinite-scroll-loading">
                <jigsaw-circle-loading [size]="'small'"></jigsaw-circle-loading>
                <p>{{'select.loading' | translate}}</p>
            </div>
        </div>
    </ng-template>
    <div *ngIf="_$showAllStatistics()" class="jigsaw-select-statistics"
         [ngClass]="{'jigsaw-select-statistics-disabled': disabled}">
        {{'select.allSelected' | translate}}
    </div>
    <div *ngIf="_$showNumStatistics()" class="jigsaw-select-statistics" [ngClass]="{'jigsaw-select-statistics-disabled': disabled}">
        {{'select.selected' | translate:{num: _$selectedItems?.length} }}
    </div>
</jigsaw-combo-select>
