<jigsaw-combo-select
    width="100%"
    [autoWidth]="true"
    [maxHeight]="maxHeight"
    [(value)]="_$selectedItems"
    [clearable]="clearable"
    [labelField]="labelField"
    [valid]="valid"
    [disabled]="disabled"
    [placeholder]="placeholder"
    [showValueBorder]="multipleSelect"
    [openTrigger]="openTrigger"
    [closeTrigger]="closeTrigger"
    [autoClose]="!multipleSelect"
    (openChange)="_$onComboOpenChange($event)"
    (valueChange)="_$handleClearable($event)"
    (remove)="_$onTagRemove($event)"
>
    <ng-template>
        <jigsaw-list
            [ngClass]="{'jigsaw-select-show-selected': _$showSelected,
                        'jigsaw-select-multiple-list': multipleSelect,
                        'jigsaw-select-single-list': !multipleSelect}"
            [data]="data"
            [labelField]="labelField"
            [trackItemBy]="trackItemBy"
            [multipleSelect]="multipleSelect"
            [optionCount]="optionCount"
            [(selectedItems)]="_$selectedItems"
            (selectedItemsChange)="_$handleSelectChange($event)"
        >
            <div *ngIf="multipleSelect" class="jigsaw-select-select-all">
                <jigsaw-checkbox
                    [(checked)]="_$selectAllChecked"
                    *ngIf="!_$showSelected"
                    (checkedChange)="_$selectAll()"
                >
                    <span>{{'select.selectAll' | translate}}</span>
                </jigsaw-checkbox>
                <div class="jigsaw-select-show-selected" *ngIf="!_$showSelected" (click)="_$showSelected = true">
                    <span>{{'select.checkSelected' | translate}}</span>
                </div>
                <div class="jigsaw-select-show-all" *ngIf="_$showSelected" (click)="_$showSelected = false">
                    <i class="iconfont iconfont-e9ac"></i>
                    <span>{{'select.return' | translate}}</span>
                </div>
            </div>
            <jigsaw-collapse
                [ngClass]="{'jigsaw-group-select-option-cntr': _$type == 'group',
                                'jigsaw-collapse-select-option-cntr': _$type =='collapse'}"
            >
                <jigsaw-collapse-pane [isActive]="true" *ngFor="let group of data">
                    <div j-title class="jigsaw-select-option-title">{{group[groupField]}}</div>
                    <div j-body>
                        <jigsaw-list-option
                            #listItem
                            *ngFor="let item of group.data"
                            [value]="item"
                            [disabled]="item.disabled"
                        >
                            <jigsaw-checkbox
                                *ngIf="multipleSelect"
                                [disabled]="item.disabled"
                                [(checked)]="listItem.selected"
                            ></jigsaw-checkbox>
                            <span>{{item && item[labelField] ? item[labelField] : item}}</span>
                        </jigsaw-list-option>
                    </div>
                </jigsaw-collapse-pane>
            </jigsaw-collapse>
        </jigsaw-list>
    </ng-template>
    <div
        *ngIf="multipleSelect && overall && _$selectedItems?.length !== 0 && _$selectedItems?.length === validData?.length"
        class="jigsaw-select-overall"
    >
        {{'select.allSelected' | translate}}
    </div>
    <div
        *ngIf="multipleSelect && overall && _$selectedItems && _$selectedItems?.length !== 0 && _$selectedItems?.length !== validData?.length"
        class="jigsaw-select-overall"
    >
        {{('select.selected' | translate) + _$selectedItems?.length + ('select.itemUnit' | translate) }}
    </div>
</jigsaw-combo-select>
