<jigsaw-combo-select
    width="100%"
    [theme]="theme"
    [autoWidth]="!optionWidth"
    [maxHeight]="maxHeight"
    [(value)]="_$selectedItems"
    [clearable]="clearable"
    [labelField]="labelField"
    [valid]="valid"
    [disabled]="disabled"
    [placeholder]="placeholder"
    [openTrigger]="openTrigger"
    [closeTrigger]="closeTrigger"
    [autoClose]="!multipleSelect"
    [positionType]="selectListPositionType"
    (openChange)="_$onComboOpenChange($event)"
    (clear)="_$handleClearable()"
    (remove)="_$onTagRemove($event)"
>
    <ng-template>
        <!-- 这里用一个div来控制弹出列表的宽度，否则Jigsaw-List自带300px的宽度，只要不设置optionWidth，每次在初始计算position时，获取的宽度都是300px -->
        <div class="jigsaw-select-list-host" [ngStyle]="{'width': optionWidth ? optionWidth : '100%'}">
            <jigsaw-input *ngIf="searchable" class="jigsaw-list-lite-search" width="100%"
                          (valueChange)="_$handleSearching($event)">
                <span jigsaw-prefix-icon class="iconfont iconfont-ea03"></span>
            </jigsaw-input>
            <jigsaw-list #contentList width="100%"
                         [ngClass]="{
                                'jigsaw-select-show-selected': _$showSelected,
                                'jigsaw-select-multiple-list': multipleSelect,
                                'jigsaw-select-single-list': !multipleSelect
                         }"
                         [trackItemBy]="trackItemBy"
                         [(selectedItems)]="_$selectedItems"
                         (selectedItemsChange)="_$handleSelectChange($event)"
                         [perfectScrollbar]="{suppressScrollX: true, wheelSpeed: 0.5, minScrollbarLength: 20}"
                         [ngStyle]="{'max-height': _$listHeight}"
                         [multipleSelect]="multipleSelect"
                         [autoRemoveInvalidValue]="!_$infiniteScroll">
                <div *ngIf="multipleSelect && data?.length > 0" class="jigsaw-select-select-all">
                    <jigsaw-checkbox
                        *ngIf="!_$showSelected"
                        [(checked)]="_$selectAllChecked"
                        (checkedChange)="_$selectAll()"
                        [enableIndeterminate]="true">
                        <span>{{'select.selectAll' | translate}}</span>
                    </jigsaw-checkbox>
                    <div class="jigsaw-select-show-selected" *ngIf="!_$showSelected && _$showNumStatistics()" (click)="_$showSelected = true">
                        <span>{{'select.checkSelected' | translate}}</span>
                    </div>
                    <div class="jigsaw-select-show-all" *ngIf="_$showSelected" (click)="_$showSelected = false">
                        <i class="iconfont iconfont-e9ac"></i>
                        <span>{{'select.checkAll' | translate}}</span>
                    </div>
                </div>
                <jigsaw-list-option #listItem *ngFor="let item of data" [value]="item"
                                    [disabled]="item.disabled" [height]="optionHeight">
                    <jigsaw-checkbox *ngIf="multipleSelect" [disabled]="item.disabled"
                                     [(checked)]="listItem.selected" mode="minimalist">
                    </jigsaw-checkbox>
                    <span class="select-option-label" [title]="_$getItemLabel(item, labelField)">
                        {{_$getItemLabel(item, labelField)}}
                    </span>
                </jigsaw-list-option>
                <div *ngIf="!data || data.length === 0" class="jigsaw-select-no-data">
                    <p *ngIf="!data || !data['busy']">{{'select.noData' | translate}}</p>
                    <jigsaw-circle-loading *ngIf="data && data['busy']" [size]="'small'"></jigsaw-circle-loading>
                    <p *ngIf="data && data['busy']">{{'select.loading' | translate}}</p>
                </div>
            </jigsaw-list>
            <div *ngIf="_$infiniteScroll && data.length > 0 && data['busy']" class="jigsaw-select-infinite-scroll-loading">
                <jigsaw-circle-loading [size]="'small'"></jigsaw-circle-loading>
                <p>{{'select.loading' | translate}}</p>
            </div>
        </div>
    </ng-template>
    <div
        *ngIf="_$showAllStatistics()"
        class="jigsaw-select-statistics" [ngClass]="{'jigsaw-select-statistics-disabled': disabled}"
    >
        {{'select.allSelected' | translate}}
    </div>
    <div
        *ngIf="_$showNumStatistics()"
        class="jigsaw-select-statistics" [ngClass]="{'jigsaw-select-statistics-disabled': disabled}"
    >
        {{'select.selected' | translate:{num: _$selectedItems?.length} }}
    </div>
</jigsaw-combo-select>
