$jigsaw-select: #{$jigsaw-prefix}-select;
$jigsaw-combo-select: #{$jigsaw-prefix}-combo-select;
$jigsaw-collapse-select: #{$jigsaw-prefix}-collapse-select;
$jigsaw-group-select: #{$jigsaw-prefix}-group-select;
$jigsaw-loading: #{$jigsaw-prefix}-circle-loading;
$jigsaw-tag: #{$jigsaw-prefix}-tag;
$jigsaw-checkbox: #{$jigsaw-prefix}-checkbox;
$jigsaw-collapse: #{$jigsaw-prefix}-collapse;
$jigsaw-list: #{$jigsaw-prefix}-list;
$jigsaw-list-option: #{$jigsaw-prefix}-list-option;

.#{$jigsaw-select}-host,
.#{$jigsaw-group-select}-host,
.#{$jigsaw-collapse-select}-host {
    @include inline-block();
    color: $font-color-default;
    border-radius: $border-radius-base;

    &.#{$jigsaw-select}-single-select {
        .#{$jigsaw-combo-select}-host {
            .#{$jigsaw-tag}-host {
                padding: 0;
                max-width: 100%;
                background: none;

                .#{$jigsaw-tag}-close-bar {
                    display: none;
                }
            }
        }
    }

    &.#{$jigsaw-select}-hide-border {
        .#{$jigsaw-combo-select}-host .#{$jigsaw-combo-select}-selection {
            border-color: $bg-transparent;
        }

        .#{$jigsaw-combo-select}-arrow {
            color: $bg-transparent;
        }
        
        &:hover{
            .#{$jigsaw-combo-select}-arrow {
                color: $brand-default;
            }
        } 
    } 

    &.#{$jigsaw-select}-multiple-select {
        .#{$jigsaw-combo-select}-host {
            position: relative;
            .#{$jigsaw-select}-statistics {
                display: flex;
                align-items: center;
                position: absolute;
                top: 0;
                width: 100%;
                height: 100%;
                padding-left: 8px;
                font-size: $font-size-text-base;
                pointer-events: none;

                &.#{$jigsaw-select}-statistics-disabled {
                    color: $font-color-disabled-spec;
                }
            }
        }

        &.#{$jigsaw-select}-with-max-width {
            .#{$jigsaw-combo-select}-host {
                .#{$jigsaw-tag}-host {
                    max-width: 100%;
                }
            }
        }

        &.#{$jigsaw-select}-show-statistics {
            .#{$jigsaw-combo-select} {
                .#{$jigsaw-combo-select}-selection {
                    .#{$jigsaw-combo-select}-selection-rendered {
                        #{$jigsaw-tag} {
                            display: none;
                        }
                    }
                }
            }
        }
    }

    .#{$jigsaw-combo-select}-disabled {
        .#{$jigsaw-tag}-host {
            color: $font-color-disabled-spec !important;
        }
    }

    .#{$jigsaw-combo-select}-invalid {
        outline: 1px solid red;
    }

    &.#{$jigsaw-select}-small {
        .#{$jigsaw-combo-select}-host .#{$jigsaw-combo-select}-selection {
            min-height: $height-sm;

            .#{$jigsaw-combo-select}-selection-rendered {
                min-height: $height-sm - 2;
            }
        }
    }

    &.#{$jigsaw-select}-small.#{$jigsaw-select}-single-select {
        .#{$jigsaw-combo-select}-host .#{$jigsaw-combo-select}-selection-rendered {
            padding: 0;

            .#{$jigsaw-tag}-host {
                margin: 0;
                padding: 0;
            }
        }
    }

    &.#{$jigsaw-select}-medium {
        .#{$jigsaw-combo-select}-host .#{$jigsaw-combo-select}-selection {
            min-height: $height-med;

            .#{$jigsaw-combo-select}-selection-rendered {
                min-height: $height-med - 2;
            }
        }
    }

    &.#{$jigsaw-select}-medium.#{$jigsaw-select}-single-select {
        .#{$jigsaw-combo-select}-host .#{$jigsaw-combo-select}-selection-rendered .#{$jigsaw-tag}-host {
            margin: 0;
            padding: 0;
        }
    }

    &.#{$jigsaw-select}-large {
        .#{$jigsaw-combo-select}-host .#{$jigsaw-combo-select}-selection {
            min-height: $height-base;

            .#{$jigsaw-combo-select}-selection-rendered {
                min-height: $height-base - 2;
            }
        }
    }
}

.#{$jigsaw-select}-list-host {
    &.#{$jigsaw-select}-single-list {
        .#{$jigsaw-collapse-select}-option-cntr,
        .#{$jigsaw-group-select}-option-cntr {
            #{$jigsaw-list-option} {
                padding-left: 16px;
            }
        }
    }

    &.#{$jigsaw-select}-multiple-list {
        .#{$jigsaw-select}-select-all {
            display: flex;
            align-items: center;
            height: 32px;
            border-bottom: 1px solid $splitline-default;

            .#{$jigsaw-checkbox}-host {
                margin: 0 16px 0 8px;
                cursor: pointer;
                .#{$jigsaw-checkbox}-wrapper {
                    display: flex;
                    align-items: center;
                    .#{$jigsaw-checkbox} {
                        margin-right: 6px;
                    }
                    .#{$jigsaw-checkbox}-label {
                        margin: 0;
                        padding: 0;

                        span {
                            overflow: hidden;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                        }
                    }
                }
            }

            .#{$jigsaw-select}-show-selected {
                display: flex;
                align-items: center;
                color: $brand-default;
                user-select: none;
                cursor: pointer;

                &:hover {
                    color: $brand-active;
                }

                span {
                    font-size: $font-size-text-base;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }
            }

            .#{$jigsaw-select}-show-all {
                display: flex;
                align-items: center;
                padding: 0 0 0 8px;
                font-size: $font-size-text-base;
                color: $brand-default;
                cursor: pointer;

                i {
                    margin-right: 4px;
                    font-size: $icon-size-sm;
                }

                &:hover {
                    color: $brand-active;
                }
            }
        }
        .#{$jigsaw-list-option}-host {
            .jigsaw-list-option-wrapper {
                display: flex;
                align-items: center;
                .jigsaw-list-option-title-box {
                    display: none;
                }

                #{$jigsaw-checkbox} {
                    margin-right: 8px;
                }
            }

            &.#{$jigsaw-list-option}-active {
                background: none;
                color: $brand-default;

                &:not(.#{$jigsaw-list-option}-disabled):hover {
                    background: $bg-hover;
                }
            }
        }

        &.#{$jigsaw-select}-show-selected {
            .#{$jigsaw-checkbox}-host .#{$jigsaw-checkbox}-wrapper .#{$jigsaw-checkbox} {
                transition:none;
                
                &::after, &::before {
                    transition: none
                }

                &.#{$jigsaw-checkbox}-checked {
                    &::after, &::before {
                        transition: none;
                    }
                }
            }
        }
    }

    &.#{$jigsaw-select}-single-list,
    &.#{$jigsaw-select}-multiple-list {
        border: 1px solid $border-color-shadow-cntr;

        &.#{$jigsaw-list}-host {
            border: 1px solid $border-color-shadow-cntr;
        }

        .#{$jigsaw-list-option}-host {
            display: flex;
            align-items: center;

            .#{$jigsaw-list-option}-wrapper {
                width: 100%;

                .#{$jigsaw-checkbox}-host {
                    pointer-events: none;
                }

                .select-option-label {
                    display: block;
                    width: 100%;
                    color: inherit;
                    font-size: $font-size-text-base;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }

                &:hover {
                    .#{$jigsaw-checkbox}-host {
                        .#{$jigsaw-checkbox}-wrapper {
                            .#{$jigsaw-checkbox} {
                                border-color: $brand-default;
                            }
                        }
                    }
                }
            }

            &.#{$jigsaw-list-option}-disabled {
                .#{$jigsaw-list-option}-wrapper {
                    color: $font-color-disabled;

                    .select-option-label {
                        color: $font-color-disabled;
                    }

                    &:hover {
                        .#{$jigsaw-checkbox}-host {
                            .#{$jigsaw-checkbox}-wrapper {
                                .#{$jigsaw-checkbox} {
                                    border-color: $border-color-disabled;
                                }
                            }
                        }
                    }
                }
            }
        }

        .#{$jigsaw-collapse-select}-option-cntr,
        .#{$jigsaw-group-select}-option-cntr {
            &.#{$jigsaw-collapse}-host {
                .#{$jigsaw-collapse}-pane {
                    width: 100%;
                    .#{$jigsaw-collapse}-item {
                        width: 100%;
                        .#{$jigsaw-list}-host {
                            border: none;
                        }

                        .#{$jigsaw-collapse}-header {
                            padding-left: 8px;

                            &:hover {
                                .#{$jigsaw-select}-option-title {
                                    color: $brand-default;
                                }

                                .#{$jigsaw-collapse}-arrow {
                                    color: $brand-default;
                                }
                            }

                            .#{$jigsaw-select}-option-title {
                                width: 100%;
                                background: 100%;
                                font-size: $font-title-med;
                                color: $font-color-heading;
                            }
                        }
                        .#{$jigsaw-collapse}-content {
                            .#{$jigsaw-collapse}-padding {
                                padding: 0px;
                            }
                            .#{$jigsaw-select}-option-no-data {
                                display: flex;
                                align-items: center;
                                width: 100%;
                                height: 32px;
                                padding-left: 16px;
                                font-size: $font-size-text-base;
                                user-select: none;
                            }
                        }
                    }
                }
            }
        }

        .#{$jigsaw-group-select}-option-cntr {
            &.#{$jigsaw-collapse}-host {
                .#{$jigsaw-collapse}-pane {
                    .#{$jigsaw-collapse}-item {
                        .#{$jigsaw-collapse}-header {
                            pointer-events: none;

                            .#{$jigsaw-collapse}-arrow {
                                display: none;
                            }

                            .#{$jigsaw-collapse-select}-name {
                                font-size: $font-title-sm;
                                color: $font-color-watermark;
                            }
                        }
                    }
                }
            }
        }

        .#{$jigsaw-collapse-select}-option-cntr {
            &.#{$jigsaw-collapse}-host {
                .#{$jigsaw-collapse}-pane {
                    &.#{$jigsaw-collapse}-select-option-last {
                        .#{$jigsaw-collapse}-item-frozen {
                            .#{$jigsaw-collapse}-header {
                                &:hover {
                                    cursor: not-allowed;

                                    .#{$jigsaw-collapse}-arrow {
                                        color: $icon-color-disabled;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        .#{$jigsaw-select}-no-data {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 32px;

            #{$jigsaw-loading} {
                transform: scale(0.5);
            }
        }
    }
}

.#{$jigsaw-select}-list-cntr-host{
    position: relative;

    .#{$jigsaw-select}-infinite-scroll-loading {
        position: absolute;
        bottom: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 32px;
        backdrop-filter: blur(2px);

        &>p {
            padding-left: 8px;
        }

        #{$jigsaw-loading} {
            transform: scale(0.5);
        }
    }
}
