<div class="demo-wrapper nav">
    <jigsaw-markdown [markdown]="description"></jigsaw-markdown>
    <float-basic></float-basic>
    <float-init-data></float-init-data>
    <float-multi-level></float-multi-level>
    <float-position></float-position>
    <float-target></float-target>
    <float-trigger></float-trigger>
    <float-option></float-option>
    <doc-template [docContent]="docContent"></doc-template>
    <doc-footer-template></doc-footer-template>
    <demo-navigation [navigationData]="navigationData"></demo-navigation>
</div>