<demo-template [data]="''" [text]="text['text']['theme']">
    <!-- start to learn the demo from here -->
    <jigsaw-header>明亮主题</jigsaw-header>
    <j-breadcrumb [data]="data" theme="light" (select)="itemSelect($event)"></j-breadcrumb>

    <jigsaw-header>深色主题</jigsaw-header>
    <j-breadcrumb [data]="data" theme="dark" (select)="itemSelect($event)"></j-breadcrumb>

    <jigsaw-header>内嵌主题</jigsaw-header>
    <j-breadcrumb [data]="data" theme="inner" (select)="itemSelect($event)"></j-breadcrumb>

    <a (click)="resetBreadcrumbItems()">数据重置</a>
</demo-template>
