<!-- ignore the following lines, they are not important to this demo -->
<jigsaw-demo-description [summary]="summary" [content]="description">
</jigsaw-demo-description>

<!-- start to learn the demo from here -->
<div class="live-demo-wrap">
    <jigsaw-icon jigsaw-badge [jigsawBadgeValue]="'dot'" jigsawBadgeSize="small"
                 [icon]="'iconfont iconfont-e8fa'" [iconSize]="100">
    </jigsaw-icon>

    <jigsaw-icon jigsaw-badge [jigsawBadgeValue]="'dot'" jigsawBadgeSize="normal"
                 [icon]="'iconfont iconfont-e8fa'" [iconSize]="100">
    </jigsaw-icon>

    <jigsaw-icon jigsaw-badge [jigsawBadgeValue]="'dot'" jigsawBadgeSize="large"
                 [icon]="'iconfont iconfont-e8fa'" [iconSize]="100">
    </jigsaw-icon>

    <br>

    <jigsaw-icon jigsaw-badge [jigsawBadgeValue]="999" jigsawBadgeSize="small"
                 [icon]="'iconfont iconfont-e8fa'" [iconSize]="100">
    </jigsaw-icon>

    <jigsaw-icon jigsaw-badge [jigsawBadgeValue]="999" jigsawBadgeSize="normal"
                 [icon]="'iconfont iconfont-e8fa'" [iconSize]="100">
    </jigsaw-icon>

    <jigsaw-icon jigsaw-badge [jigsawBadgeValue]="999" jigsawBadgeSize="large"
                 [icon]="'iconfont iconfont-e8fa'" [iconSize]="100">
    </jigsaw-icon>
</div>
