<!-- ignore the following lines, they are not important to this demo -->


<demo-template [data]="[]" [text]="text['text']['line']">
    <div class="live-demo-wrap">
        <div class="live-demo">
            <jigsaw-header [level]="2">LineGraphData静态数据</jigsaw-header>
            <p class="comment">数据的一列为一个系列情形，请使用 LineBarGraphData 作为数据。这个和一般的数据库表的结构非常契合，推荐优先使用。</p>
            <jigsaw-graph id="test-graph1" [data]="lineBarData" height="400"></jigsaw-graph>
        </div>
    </div>
</demo-template>










