@import "../../assets/scss/core/basc";

$primary-color: #fff;
$ball-size: 15px !default;
$margin: 2px !default;
$line-height: 35px !default;
$line-width: 4px !default;

@function delay($interval, $count, $index) {
    @return ($index * $interval) - ($interval * $count);
}

@mixin global-bg() {
    background-color: $primary-color;
}

@keyframes line-scale {
    0% {
        transform: scaley(1.0);
    }
    50% {
        transform: scaley(0.4);
    }
    100% {
        transform: scaley(1.0);
    }
}

@mixin line-scale($n:5) {
    @for $i from 1 through $n {
        > div:nth-child(#{$i}) {
            animation: line-scale 1s delay(0.1s, $n, $i) infinite cubic-bezier(.2, .68, .18, 1.08);
        }
    }
}

@mixin lines() {
    @include global-bg();

    width: $line-width;
    height: $line-height;
    border-radius: 2px;
    margin: $margin;
}

@mixin global-animation() {
    animation-fill-mode: both;
}

:host {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    @include prefixer(transition, opacity 0.3s $ease-in-out);
    @include opacity(0);
    &.in {
        @include opacity(0.6);
    }
}

.rdk-loading-background {
    z-index: 999;
    border: none;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background-color: #ed5565;
    cursor: wait;
    position: absolute;
}

.rdk-loading-content {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 50px;
    width: 70px;
    margin-top: -20px;
    margin-left: -35px;
    @include line-scale();
    > div {
        @include lines();
        @include global-animation();
        display: inline-block;
    }

}
