<div class="demo-wrapper nav">
    <jigsaw-markdown [markdown]="description"></jigsaw-markdown>
    <table-actions-auto-fill-up></table-actions-auto-fill-up>
    <table-actions-auto-page-sizing></table-actions-auto-page-sizing>
    <table-actions-add-column></table-actions-add-column>
    <table-actions-data-change></table-actions-data-change>
    <table-actions-draggable-table></table-actions-draggable-table>
    <table-actions-expand-pageable></table-actions-expand-pageable>
    <table-actions-select-row></table-actions-select-row>
    <table-actions-resize></table-actions-resize>
    <table-actions-with-popup></table-actions-with-popup>
    <table-actions-auto-save></table-actions-auto-save>
    <doc-template [docContent]="docContent"></doc-template>
    <doc-footer-template></doc-footer-template>
    <demo-navigation [navigationData]="navigationData"></demo-navigation>
</div>