<!-- ignore the following lines, they are not important to this demo -->
<jigsaw-demo-description [summary]="summary" [content]="description">
</jigsaw-demo-description>


<!-- start to learn the demo from here -->
<span>alwaysShowEditor</span>
<jigsaw-switch [(checked)]="alwaysShowEditor" (checkedChange)="updateColumnDefines()"></jigsaw-switch>
<p>提示：现在的版本无法很好支持alwaysShowEditor属性的动态化。这里把alwaysShowEditor暂存在localeStorage里，然后刷新浏览器</p>
<jigsaw-button (click)="changeData()">修改数据</jigsaw-button>
<jigsaw-table [data]="tableData" [columnDefines]="columns" [additionalColumnDefines]="additionalColumnDefines"
    [columnResizable]="true" (edit)="onEdit($event)"></jigsaw-table>