@import "../../assets/scss/core/_basc";

$dialog-prefix-cls: #{$jigsaw-prefix}-dialog;

:host {
    @include inline-block;
    width: 100%;
}

.#{$dialog-prefix-cls} {
    position: relative;
    background: $default-color;
    border: 1px solid $border-color-base;
    border-radius: $border-radius-base;
    .#{$dialog-prefix-cls}-head {
        @include clearfix;
        line-height: 20px;
        padding: 14px 16px;
        color: $dialog-head-color;
        font-size: 14px;
        background: $default-color;
        border-bottom: 1px solid $border-color-base;
        cursor: move;
        /deep/ [jigsaw-title]{
            float: left;
        }
        .#{$dialog-prefix-cls}-close {
            float: right;
            font-size: 24px;
            color: $dialog-close-bar-color;
            cursor: pointer;
            margin-top: -3px;
            &:hover{
                color: $dialog-close-bar-hover-color;
            }
        }
    }
    .#{$dialog-prefix-cls}-button-group {
        border-top: 1px solid $border-color-base;
        text-align: center;
        height: 50px;
        line-height: 50px;
        jigsaw-button {
            margin-right: 8px;
        }
    }
}



