@import "../../assets/scss/core/base";

$dialog-prefix-cls: #{$jigsaw-prefix}-dialog;

.#{$dialog-prefix-cls}-host {
    @include inline-block;
    width: 100%;
}

.#{$dialog-prefix-cls} {
    position: relative;
    background: $default-color;
    border: 1px solid $border-color-base;
    border-radius: $border-radius-base;
    &-head {
        @include clearfix;
        line-height: 20px;
        padding: 14px 16px;
        color: $heading-color;
        font-size: 14px;
        background: $default-color;
        border-bottom: 1px solid $border-color-base;
        cursor: move;
        [jigsaw-title] {
            float: left;
        }
    }

    &-head &-close {
        float: right;
        font-size: 24px;
        color: $text-color;
        cursor: pointer;
        &:hover {
            color: $text-color-dark;
        }
    }

    &-button-group {
        border-top: 1px solid $border-color-base;
        text-align: center;
        height: 50px;
        line-height: 50px;
        jigsaw-button {
            margin-right: 8px;
        }
        div {
            display: inline-block;
        }
    }
}



