<div class="jigsaw-dialog">
    <div class="jigsaw-dialog-head jigsaw-dialog-base-head" jigsaw-movable movableAffected="jigsaw-dialog">
        <ng-content select="[jigsaw-title]"></ng-content>
        <span>{{title}}</span>
        <span class="jigsaw-dialog-close jigsaw-popup-close" (click)='dispose()'>&times;</span>
    </div>
    <div class="jigsaw-dialog-content">
        <ng-content></ng-content>
    </div>
    <div class="jigsaw-dialog-button-group" *ngIf="buttons && buttons.length > 0">
        <jigsaw-button
            *ngFor="let bi of buttons"
            type="{{bi.type}}"
            (click)="dispose(bi)"
            class="{{bi.clazz}}">{{bi.label}}
        </jigsaw-button>
    </div>
</div>
