<jigsaw-markdown [markdown]="text['text']['introduction']"></jigsaw-markdown>
<basic-button></basic-button>
<key-button></key-button>
<important-button></important-button>
<common-button></common-button>
<more-button></more-button>
<table-button></table-button>
<danger-button></danger-button>
<icon-button></icon-button>
<icon-word-button></icon-word-button>
<loading-button></loading-button>
<set-color-button></set-color-button>
<width-height-button></width-height-button>
<with-chart-icon-button></with-chart-icon-button>


