.m-component-menu-nav {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #eee;

  .g-menu-nav {
    position: absolute !important;
    width: 280px;
    background-color: #fff;
    top: 0;
    bottom: 0;

    ul.menu-nav-group {
      position: fixed;
      height: calc(100vh - 60px);

      li {
        width: 280px;
        line-height: 30px;
        color: var(--font-color-default);
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      &>li {
        height: auto;

        &>span {
          padding-left: 15px;
        }
      }

      li a {
        color: var(--font-color-default);

        &:hover {
          color: var(--brand-hover);
          font-size: 14px;
          background-color: rgba(0, 171, 255, 0.2);
          transition: font-size .35s;
        }

        &.active {
          border: none;
          border-left: 3px solid var(--brand-active);
          background-color: rgba(0, 171, 255, 0.2);
          color: var(--brand-active);
          font-size: 14px;
        }
      }

      ul.menu-nav-group-child li a {
        display: block;
        padding-left: 40px;
      }
    }
  }
}

.g-component-detail {
  position: absolute;
  left: 280px;
  right: 0;
  top: 0;
  bottom: 0;
  transition: left .25s ease;
}