$menu-left-color: #6f7f8e;
$background-color: #fff;
$active-menu-color: #288bf0;
$active-menu-2-color: #58b0e8;

/* 布局 */
.m-component-menu-nav {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #eee;

  .g-menu-nav {
    position: absolute !important;
    width: 280px;
    background-color: #fff;
    top: 0;
    bottom: 0;

    /* 菜单 */
    ul.menu-nav-group {
      position: fixed;
      height: calc(100vh - 60px);

      li {
        width: 280px;
        line-height: 30px;
        color: #a9a9a9;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      &>li {
        height: auto;

        &>span {
          padding-left: 15px;
        }
      }

      li a {
        color: $menu-left-color;

        &:hover {
          color: $active-menu-color;
          font-size: 14px;
          background-color: rgba(0, 171, 255, 0.2);
          transition: font-size .35s;
        }

        &.active {
          border: none;
          border-left: 2px solid $active-menu-color;
          background-color: rgba(0, 171, 255, 0.2);
          color: $active-menu-color;
          font-size: 14px;
        }
      }

      ul.menu-nav-group-child li a {
        display: block;
        padding-left: 40px;
      }
    }
  }
}

.g-component-detail {
  position: absolute;
  left: 280px;
  right: 0;
  top: 0;
  bottom: 0;
  transition: left .25s ease;
}