<!-- ignore the following lines, they are not important to this demo -->
<jigsaw-demo-description [summary]="summary" [content]="description">
</jigsaw-demo-description>


<!-- start to learn the demo from here -->
<div class="live-demo-wrap">
    <h2>Rate</h2>
    <div class="clearfix">
        <div class="demo-1 live-demo live-demo-block">
            <h3>基本用法</h3>
            <jigsaw-rate [value]="3">普通用法</jigsaw-rate>
        </div>

        <div class="demo-2 live-demo live-demo-block">
            <h3>类型</h3>
            <p class="comment">四种类型：<code>default</code> <code>primary</code> <code>warning</code>
                <code>error|danger</code></p>
        </div>
    </div>
</div>
