<demo-template [data]="''" [text]="text['text']['contentWidth']">
    <!-- start to learn the demo from here -->
    <div>
        <div style="margin-bottom: 20px">
            <jigsaw-header [level]="2">contentWidth默认值为'auto'</jigsaw-header>
            <jigsaw-table [data]="tableData" height="400"></jigsaw-table>
        </div>

        <div style="margin-bottom: 20px">
            <jigsaw-header [level]="2">设置contentWidth数值</jigsaw-header>
            <jigsaw-table [data]="tableData" height="400" contentWidth="1500"></jigsaw-table>
        </div>

        <div>
            <jigsaw-header [level]="2">contentWidth='auto'与columnDefine结合使用</jigsaw-header>
            <p class="comment">限制了table的宽度为1000时，会产生横向滚动条，这时可以通过columnDefines来调节列宽</p>
            <jigsaw-table [data]="tableData" width="1000" height="400" [columnDefines]="columnDefines"></jigsaw-table>
        </div>
    </div>
</demo-template>

