<!-- ignore the following lines, they are not important to this demo -->
<jigsaw-demo-description [summary]="summary" [content]="description"> </jigsaw-demo-description>

<!-- start to learn the demo from here -->
<jigsaw-checkbox [(checked)]="disabled">是否禁止访问</jigsaw-checkbox>

<jigsaw-header>分组下拉（单选）</jigsaw-header>
<jigsaw-group-select [disabled]="disabled" [data]="dataListWithoutDisabled" placeholder="请选择" width="160px"
    (valueChange)="valueChange($event)">
</jigsaw-group-select>
<jigsaw-group-select [disabled]="disabled" [data]="dataList" placeholder="请选择" width="160px"
    (valueChange)="valueChange($event)">
</jigsaw-group-select>
<jigsaw-collapse-select [disabled]="disabled" [data]="dataList" [value]="singleSelectedOption" placeholder="请选择"
    width="160px" (valueChange)="valueChange($event)">
</jigsaw-collapse-select>

<jigsaw-header>分组下拉（多选）</jigsaw-header>
<jigsaw-group-select
    [disabled]="disabled"
    [data]="dataListWithoutDisabled"
    [multipleSelect]="true"
    placeholder="请选择"
    width="160px"
    [useStatistics]="true"
    (valueChange)="valueChange($event)"
></jigsaw-group-select>
<jigsaw-group-select [disabled]="disabled" [data]="dataList" [multipleSelect]="true" placeholder="请选择" width="160px"
    [useStatistics]="true" (valueChange)="valueChange($event)">
</jigsaw-group-select>

<jigsaw-header>分组下拉（多选 & 展开结果）</jigsaw-header>
<jigsaw-group-select
    [disabled]="disabled"
    [data]="dataListWithoutDisabled"
    [multipleSelect]="true"
    [useStatistics]="false"
    placeholder="请选择"
    width="160px"
    (valueChange)="valueChange($event)"
></jigsaw-group-select>
<jigsaw-group-select
    [disabled]="disabled"
    [data]="dataList"
    [multipleSelect]="true"
    [useStatistics]="false"
    placeholder="请选择"
    width="160px"
    maxWidth="100%"
    minWidth="160px"
    (valueChange)="valueChange($event)"
></jigsaw-group-select>

<jigsaw-header>分组下拉（自定义宽度）</jigsaw-header>
<jigsaw-group-select
    [disabled]="disabled"
    [data]="dataList"
    [multipleSelect]="true"
    [useStatistics]="false"
    placeholder="请选择"
    width="160px"
    maxWidth="240px"
    minWidth="160px"
    (valueChange)="valueChange($event)"
></jigsaw-group-select>

<jigsaw-header>初始全选/半选</jigsaw-header>
<jigsaw-group-select
    [disabled]="disabled"
    [data]="dataListWithoutDisabled"
    [value]="fullSelectedOption"
    [multipleSelect]="true"
    placeholder="请选择"
    width="160px"
    [useStatistics]="true"
    (valueChange)="valueChange($event)"
></jigsaw-group-select>
<jigsaw-group-select
    [disabled]="disabled"
    [data]="dataListWithoutDisabled"
    [value]="selectedOption"
    [multipleSelect]="true"
    placeholder="请选择"
    width="160px"
    [useStatistics]="true"
    (valueChange)="valueChange($event)"
></jigsaw-group-select>

<jigsaw-header>无数据</jigsaw-header>
<jigsaw-group-select
    [disabled]="disabled"
    placeholder="无数据"
    width="160px"
    [useStatistics]="true"
></jigsaw-group-select>
<jigsaw-group-select
    [data]="foreverBusyArray"
    [disabled]="disabled"
    placeholder="数据获取中..."
    width="160px"
    [useStatistics]="true"
></jigsaw-group-select>
