<demo-template [data]="''" [text]="doc.text.position" [codes]="doc.codes.position">
    <div class="demo-showcase">
        <j-button
            class="iconfont iconfont-e9d8"
            jigsaw-float
            jigsawFloatOpenTrigger="click"
            jigsawFloatCloseTrigger="click"
            [jigsawFloatPosition]="floatPosition1"
            [jigsawFloatTarget]="jigsawFloatArea"
            [jigsawFloatOptions]="{ useCustomizedBackground: true }"
        >
            左下
        </j-button>
        <j-button
            class="iconfont iconfont-e9d8"
            jigsaw-float
            jigsawFloatOpenTrigger="click"
            jigsawFloatCloseTrigger="click"
            [jigsawFloatPosition]="floatPosition2"
            [jigsawFloatTarget]="jigsawFloatArea"
            [jigsawFloatOptions]="{ useCustomizedBackground: true }"
        >
            右下
        </j-button>
        <j-button
            class="iconfont iconfont-e9d8"
            jigsaw-float
            jigsawFloatOpenTrigger="click"
            jigsawFloatCloseTrigger="click"
            [jigsawFloatPosition]="floatPosition3"
            [jigsawFloatTarget]="jigsawFloatArea"
            [jigsawFloatOptions]="{ useCustomizedBackground: true }"
        >
            左上
        </j-button>
        <j-button
            class="iconfont iconfont-e9d8"
            jigsaw-float
            jigsawFloatOpenTrigger="click"
            jigsawFloatCloseTrigger="click"
            [jigsawFloatPosition]="floatPosition4"
            [jigsawFloatTarget]="jigsawFloatArea"
            [jigsawFloatOptions]="{ useCustomizedBackground: true }"
        >
            右上
        </j-button>
    </div>
    <div class="demo-showcase">
        <j-button
            class="iconfont iconfont-e9d8"
            jigsaw-float
            jigsawFloatOpenTrigger="click"
            jigsawFloatCloseTrigger="click"
            [jigsawFloatPosition]="floatPosition5"
            [jigsawFloatTarget]="jigsawFloatArea"
            [jigsawFloatOptions]="{ useCustomizedBackground: true }"
        >
            左上
        </j-button>
        <j-button
            class="iconfont iconfont-e9d8"
            jigsaw-float
            jigsawFloatOpenTrigger="click"
            jigsawFloatCloseTrigger="click"
            [jigsawFloatPosition]="floatPosition6"
            [jigsawFloatTarget]="jigsawFloatArea"
            [jigsawFloatOptions]="{ useCustomizedBackground: true }"
        >
            左侧
        </j-button>
        <j-button
            class="iconfont iconfont-e9d8"
            jigsaw-float
            jigsawFloatOpenTrigger="click"
            jigsawFloatCloseTrigger="click"
            [jigsawFloatPosition]="floatPosition7"
            [jigsawFloatTarget]="jigsawFloatArea"
            [jigsawFloatOptions]="{ useCustomizedBackground: true }"
        >
            右上
        </j-button>
        <j-button
            class="iconfont iconfont-e9d8"
            jigsaw-float
            jigsawFloatOpenTrigger="click"
            jigsawFloatCloseTrigger="click"
            [jigsawFloatPosition]="floatPosition8"
            [jigsawFloatTarget]="jigsawFloatArea"
            [jigsawFloatOptions]="{ useCustomizedBackground: true }"
        >
            右侧
        </j-button>
    </div>
    <ng-template #jigsawFloatArea>
        <div class="jigsawFloatArea">dropdown placeholder</div>
    </ng-template>
</demo-template>
