/* common start */
/* 容器 */
.demo-wrap {
    padding: 10px;
}

/* 大标题 */
.demo-wrap h2 {
    margin-bottom: 40px;
    color: #333;
    font-size: 24px;
    font-weight: 700;
}

/* demo容器 */
.demo-wrap .demo {
    margin-bottom: 30px;
    padding-left: 10px;
}

/* demo标题 */
.demo h3 {
    margin: 0 0 10px -10px;
    color: #666;
    font-size: 18px;
    border-left: 3px solid #c7254e;
    padding: 2px 14px;

}

/* demo文字描述 */
.demo p {
    margin-bottom: 10px;
    color: #999;
    font-size: 14px;
}

/* demo消息文字 */
.demo p.message {
    margin-top: 10px;
    margin-bottom: 0;
}

/* demo消息高亮字 */
.demo p.message span {
    margin: 0 4px;
    color: #666;
}

/* demo code */
.demo code {
    padding: 2px 4px;
    margin: 0;
    font-size: 85%;
    background-color: rgba(27, 31, 35, 0.05);
    border-radius: 3px;
}
/* common end */

/* private start */
.demo .toggle {
    padding-top: 10px;
    color: #999;
}
.demo .toggle label{
    margin-right: 10px;
    font-weight: normal;
}
/* private end */
