<div class="demo-wrap">
    <h2>jigsaw-checkbox</h2>
    <div class="demo-1 demo">
        <h3>状态</h3>
        <p>三种状态：<code>unchecked</code> <code>checked</code> <code>indeterminate</code></p>
        <jigsaw-checkbox [(checked)]="demo1Checked" [(enableIndeterminate)]="enableIndeterminate">click me</jigsaw-checkbox>
        <div class="toggle">
            <label>启用中间状态:</label>
            <jigsaw-switch [(checked)]="enableIndeterminate"></jigsaw-switch>
        </div>
        <p class="message">The checkbox value is <span>{{demo1Checked}}</span>!</p>
    </div>

    <div class="demo-2 demo">
        <h3>默认中间状态</h3>
        <p>默认中间状态，点击切换其他两个状态</p>
        <jigsaw-checkbox [(checked)]="demo2Checked" [enableIndeterminate]="false">click me</jigsaw-checkbox>
    </div>

    <div class="demo-3 demo">
        <h3>不可点击状态</h3>
        <jigsaw-checkbox [(checked)]="demo3Checked" [(disabled)]="!enabled">a great checkbox!</jigsaw-checkbox>
        <div class="toggle">
            <label>启用中间状态:</label>
            <jigsaw-switch [(checked)]="enabled"></jigsaw-switch>
        </div>
        <p class="message">The checkbox value is <span>{{demo3Checked}}</span>!</p>
    </div>

</div>

