<!-- ignore the following lines, they are not important to this demo -->
<jigsaw-demo-description [summary]="summary" [content]="description">
</jigsaw-demo-description>


<!-- start to learn the demo from here -->
行号：<jigsaw-numeric-input [(value)]="rowIndex"></jigsaw-numeric-input>
<jigsaw-button (click)="selectedRow = rowIndex">仅选择行</jigsaw-button>
<jigsaw-button (click)="table.scrollRowIntoView(rowIndex)">仅跳转</jigsaw-button>
<jigsaw-button (click)="table.scrollRowIntoView(rowIndex, true)">选择并跳转</jigsaw-button>
<jigsaw-button (click)="changeData()" style="margin-left: 24px">换数据</jigsaw-button>
<br>
<br>

<jigsaw-table #Table1 height="400px" [data]="tableData"
              [(selectedRow)]= "selectedRow"
              (selectedRowChange)="getCurrentRow()">
</jigsaw-table>

<p>row index {{selectedRow}} was selected</p>
