<!-- ignore the following lines, they are not important to this demo -->
<jigsaw-demo-description [summary]="summary" [content]="description">
</jigsaw-demo-description>


<!-- start to learn the demo from here -->

<div class="live-demo-wrap">
    <label class="field-label">contentField: </label>
    <j-input #contentField width="180" [value]="'file'"></j-input>
    <br>
    <label class="field-label">fileNameField: </label>
    <j-input #fileNameField width="180" [value]="'filename'"></j-input>
    <br>
    <label class="field-label">fileVerify: </label>
    <j-input #fileVerify width="180" [value]="'$svr/my-verifier.js'"></j-input>
    <br>

    <!-- 其他字段-->
    <div *ngFor="let item of additionalFields; let last = last;" style="margin-bottom: 8px">
        <j-input width="130" [clearable]="false" [(value)]="item.field"></j-input>
        :
        <j-input width="180" [(value)]="item.value"></j-input>
        <a *ngIf="last" (click)="addField()">add field</a>
        <br>
    </div>


    <jigsaw-button style="margin-bottom:16px;" jigsaw-upload-fallback
                   [uploadContentField]="contentField.value"
                   [uploadFileNameField]="fileNameField.value"
                   [uploadFileVerify]="fileVerify.value"
                   [uploadAdditionalFields]="readAdditionalFields">上传
    </jigsaw-button>
    <br>
    <j-upload-fallback [contentField]="contentField.value" [fileNameField]="fileNameField.value"
              [fileVerify]="fileVerify.value" [additionalFields]="readAdditionalFields">
    </j-upload-fallback>
</div>



