<div class="demo-wrapper nav">
    <jigsaw-markdown [markdown]="description"></jigsaw-markdown>
    <time-section-basic></time-section-basic>
    <time-section-time-section-picker></time-section-time-section-picker>
    <time-section-week-section-picker></time-section-week-section-picker>
    <time-section-day-section-picker></time-section-day-section-picker>
    <time-section-horizontal></time-section-horizontal>
    <doc-template [docContent]="docContent"></doc-template>
    <doc-footer-template></doc-footer-template>
    <demo-navigation [navigationData]="navigationData"></demo-navigation>
</div>