@import "../../common/assets/scss/core/base";

$dialog-prefix-cls: #{$jigsaw-prefix}-dialog;

.#{$dialog-prefix-cls}-host {
    @include inline-block;
    width: 100%;

    &.#{$dialog-prefix-cls}-fixed-height {
        .#{$dialog-prefix-cls} {
            display: flex;
            flex-direction: column;
            height: 100%;
            .#{$dialog-prefix-cls}-content {
                display: flex;
                flex-grow: 1;
                overflow: hidden;
                .#{$dialog-prefix-cls}-content-inner {
                    flex-grow: 1;
                    width: 100%;
                }
            }
        }
    }
}

.#{$dialog-prefix-cls} {
    position: relative;
    background: $bg-component;
    border-radius: $border-radius-base;
    box-shadow: $box-shadow-lv3;
    &-head {
        @include clearfix;
        display: flex;
        align-items: center;
        position: relative;
        width: 100%;
        padding: 0 18px;
        height: $height-huge;
        min-height: $height-huge;
        background: $bg-component;
        font-size: 14px;
        color: $font-color-heading-bold;
        line-height: 20px;
        border-bottom: 1px solid $border-color-default;
        cursor: move;

        & > div {
            display: flex;
            align-items: center;
        }
    }

    &-head &-close {
        position: absolute;
        right: 18px;
        font-size: 24px;
        color: $icon-color-default;
        cursor: pointer;
        &:hover {
            color: $brand-hover;
        }
    }

    &-content {
        padding: 18px;
        background: $bg-component;
    }

    &-button-group {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        height: 50px;
        min-height: 50px;
        background: $bg-component;

        & > div {
            display: flex;
            align-items: center;
        }

        jigsaw-button {
            margin-right: 8px;
        }
    }
}
