$jigsaw-dialog: #{$jigsaw-prefix}-dialog;

.#{$jigsaw-dialog}-host {
    @include inline-block;
    width: 100%;
    border-radius: $border-radius-base;

    .#{$jigsaw-dialog} {
        position: relative;
        background: $bg-popup;
        border-radius: $border-radius-base;
        box-shadow: $box-shadow-lv3;

        .#{$jigsaw-dialog}-head {
            @include clearfix;
            display: flex;
            align-items: center;
            position: relative;
            width: 100%;
            padding: 0 16px;
            height: $height-huge;
            min-height: $height-huge;
            background: $bg-transparent;
            font-size: $font-title-lg;
            font-weight: bold;
            color: $font-color-heading-bold;
            line-height: 20px;
            border-bottom: 1px solid $border-color-default;
            cursor: move;

            & > div {
                display: flex;
                align-items: center;

                .iconfont {
                    margin-right: 5px;
                }
            }

            .#{$jigsaw-dialog}-close {
                position: absolute;
                right: 16px;
                font-size: $icon-size-sm;
                color: $icon-color-default;
                cursor: pointer;

                &:hover {
                    color: $brand-hover;
                }
            }
        }

        .#{$jigsaw-dialog}-content {
            padding: 16px;
            background: $bg-transparent;
        }

        .#{$jigsaw-dialog}-button-group {
            display: flex;
            justify-content: center;
            align-items: flex-start;
            padding-top: 16px;
            height: 72px;
            min-height: 56px;
            background: $bg-transparent;

            & > div {
                display: flex;
                align-items: center;
            }

            jigsaw-button {
                margin-right: 8px;
            }
        }
    }

    &.#{$jigsaw-dialog}-fixed-height {
        .#{$jigsaw-dialog} {
            display: flex;
            flex-direction: column;
            height: 100%;
            .#{$jigsaw-dialog}-content {
                display: flex;
                flex-grow: 1;
                overflow: hidden;
                .#{$jigsaw-dialog}-content-inner {
                    flex-grow: 1;
                    width: 100%;
                }
            }
        }
    }
}
