<!-- ignore the following lines, they are not important to this demo -->
<jigsaw-demo-description [summary]="summary" [content]="description">
</jigsaw-demo-description>


<!-- start to learn the demo from here -->
<h4>LimitEnd Time</h4>

LimitEnd : <jigsaw-tile trackItemBy="label" [(selectedItems)]="limitEnd" [multipleSelect]="false">
    <jigsaw-tile-option *ngFor="let item of datas" width="80" [value]="item">{{item.label}}</jigsaw-tile-option>
</jigsaw-tile>
<br>

<jigsaw-range-time [(beginDate)]="beginDate" [limitEnd]="limitEnd[0].label" [(endDate)]="endDate" ></jigsaw-range-time><br>

<p>beginDate : {{beginDate}} ， end ： {{endDate}}</p>
