<!-- ignore the following lines, they are not important to this demo -->
<jigsaw-demo-description [summary]="summary" [content]="description">
</jigsaw-demo-description>


<!-- start to learn the demo from here -->
<p>预设颜色</p>
<div id="type-list">
    <jigsaw-mobile-button>Default</jigsaw-mobile-button>

    <jigsaw-mobile-button colorType="primary">Primary</jigsaw-mobile-button>

    <jigsaw-mobile-button colorType="warning">Warning</jigsaw-mobile-button>

    <jigsaw-mobile-button colorType="error">Error</jigsaw-mobile-button>

    <jigsaw-mobile-button colorType="danger">Danger</jigsaw-mobile-button>
</div>

<br>
<br>
<br>
<p>另一种写法</p>
<a jigsaw-mobile-button >Default</a>

<a jigsaw-mobile-button  colorType="primary">Primary</a>

<a jigsaw-mobile-button  colorType="warning">Warning</a>

<a jigsaw-mobile-button  colorType="error">Error</a>
<br>
<br>
<br>
<p>预设尺寸</p>
<br>
<p>当前尺寸: {{size || "default"}}</p>

<div id="presize-list">
<jigsaw-mobile-button id="test-button" [preSize]="size" colorType="primary" (click)="changeSize('small')">Small</jigsaw-mobile-button>

<jigsaw-mobile-button [preSize]="size" colorType="primary" (click)="changeSize()">Default</jigsaw-mobile-button>

<jigsaw-mobile-button [preSize]="size" colorType="primary" (click)="changeSize('large')">Large</jigsaw-mobile-button>
</div>

<br>
<p>另一种写法</p>
<br>
<p>当前尺寸: {{aSize || "default"}}</p>
<br>
<a jigsaw-mobile-button [preSize]="aSize" colorType="primary" (click)="changeASize('small')">Small</a>

<a jigsaw-mobile-button [preSize]="aSize" colorType="primary" (click)="changeASize()">Default</a>

<a jigsaw-mobile-button [preSize]="aSize" colorType="primary" (click)="changeASize('large')">Large</a>
