<!-- ignore the following lines, they are not important to this demo -->
<jigsaw-demo-description [summary]="summary" [content]="description">
</jigsaw-demo-description>

<div class="demo-container">
    <jigsaw-header [level]="1"> 一级标题 </jigsaw-header>
    <p>用于页面标题。</p>
    <jigsaw-header [level]="2"> 二级标题 </jigsaw-header>
    <p>用于表单或者其他页面内容的分组。</p>
    <jigsaw-header [level]="3"> 三级标题 </jigsaw-header>
    <p>分组标题之内进行再分组时，可使用小标题。</p>
    <jigsaw-header [level]="2" style="color: red"> 自定义字体颜色 </jigsaw-header>
</div>