<!-- ignore the following lines, they are not important to this demo -->
<jigsaw-demo-description [summary]="summary" [content]="description">
</jigsaw-demo-description>


<!-- start to learn the demo from here -->
<h4>pagination</h4>
<button style="margin: 10px 0" (click)="changeCurrentPage(6)">第6页</button><br>
<jigsaw-pagination [data]="pageable"
                   [pageSizeOptions]="[5, 10, 20]"
                   [searchable]="true"
                   [showQuickJumper]="true"
                   (currentChange)="getCurrentPage($event)"
                   (pageSizeChange)="getPageSize($event)"
                   widh="710px">
</jigsaw-pagination>
<p>当前第{{pageable.pagingInfo.currentPage}}页</p>

<jigsaw-pagination [data]="pageable"
                   [pageSizeOptions]="[5, 10, 20]"
                   (currentChange)="getCurrentPage($event)"
                   (pageSizeChange)="getPageSize($event)"
                   size="small">
</jigsaw-pagination>
