<demo-template [data]="data" [(selectedLabel)]="selectedLabel" [text]="doc.text.withSearchBox" [codes]="doc.codes.withSearchBox">
    <!-- start to learn the demo from here -->
    <div class="demo-showcase-v">
        <jigsaw-pagination
            [data]="pageable"
            [pageSizeOptions]="pageSizeOptions"
            [searchable]="true"
            [showQuickJumper]="showQuickJumper"
            mode="complex"
            (currentChange)="getCurrentPage($event)"
            (pageSizeChange)="getPageSize($event)"
            widh="710px"
            [size]="selectedLabel.size"
        >
        </jigsaw-pagination>
    </div>
</demo-template>
