<demo-template [sizeController]="sizes" [(selectedSize)]="selectedSize"
               [description]="description" [demoSources]="demoSources">
    <!-- start to learn the demo from here -->
    <div class="demo-showcase-v">
        <jigsaw-pagination
            [data]="pageable"
            [pageSizeOptions]="pageSizeOptions"
            [searchable]="true"
            [showQuickJumper]="showQuickJumper"
            mode="complex"
            (currentChange)="getCurrentPage($event)"
            (pageSizeChange)="getPageSize($event)"
            widh="710px"
            [size]="selectedSize.size"
        >
        </jigsaw-pagination>
    </div>
</demo-template>
