<demo-template [data]="data" [(selectedLabel)]="selectedLabel" [text]="text['text']['searchable']">
    <div>
        <jigsaw-markdown [markdown]="'#### 搜索功能'"></jigsaw-markdown>
        <j-button style="margin-bottom: 6px" (click)="changeData()">change data</j-button>
        <br>
        <jigsaw-select [(value)]="selectedCityForSelect" (valueChange)="selectChange($event)"
                       placeholder="请选择城市" [data]="cityListForSelect" [searchable]="true" [size]="selectedLabel.size">
        </jigsaw-select>
        <p>选择的城市是 <span>{{selectedCityName}}</span></p>
    </div>

    <div>
        <jigsaw-markdown [markdown]="'#### 本地数据过滤'"></jigsaw-markdown>
        <j-button style="margin-bottom: 6px" (click)="changeData2()">change data</j-button>
        <br>
        <jigsaw-select [optionCount]="4" [data]="lpaCountries" labelField="enName" (valueChange)="selectChange2($event)"
                       [multipleSelect]="true" [searchable]="true" [size]="selectedLabel.size"></jigsaw-select>
        <p>选中的条目是: <span>{{selectedCountries}}</span></p>
    </div>

    <div>
        <jigsaw-markdown [markdown]="'#### 服务端数据过滤'"></jigsaw-markdown>
        <j-button style="margin-bottom: 6px" (click)="changeData3()">change data</j-button>
        <br>
        <jigsaw-select [optionCount]="4" [data]="spaCountries" labelField="enName" (valueChange)="selectChange3($event)"
                       [multipleSelect]="true" [searchable]="true" [size]="selectedLabel.size"></jigsaw-select>
        <p>选中的条目是: <span>{{selectedCountries2}}</span></p>
    </div>
</demo-template>
