<!-- ignore the following lines, they are not important to this demo -->
<jigsaw-demo-description [summary]="summary" [content]="description">
</jigsaw-demo-description>

<!-- start to learn the demo from here -->
<div class="sized-tree" [perfectScrollbar]="{wheelSpeed: 0.5, wheelPropagation: true}" style="width: 200px;">
    <jigsaw-header>Size: default</jigsaw-header>
    <jigsaw-tree-ext [(data)]="data" size="default"></jigsaw-tree-ext>
</div>

<div class="sized-tree" [perfectScrollbar]="{wheelSpeed: 0.5, wheelPropagation: true}" style="width: 200px;">
    <jigsaw-header>Size: medium</jigsaw-header>
    <jigsaw-tree-ext [(data)]="data" size="medium"></jigsaw-tree-ext>
</div>

<div class="sized-tree" [perfectScrollbar]="{wheelSpeed: 0.5, wheelPropagation: true}" style="width: 200px;">
    <jigsaw-header>Size: large</jigsaw-header>
    <jigsaw-tree-ext [(data)]="data" size="large"></jigsaw-tree-ext>
</div>