<!-- ignore the following lines, they are not important to this demo -->
<jigsaw-demo-description [summary]="summary" [content]="description">
</jigsaw-demo-description>


<!-- start to learn the demo from here -->
<div class="live-demo-wrap">
    <jigsaw-header [level]="1">Range Date Time Select</jigsaw-header>
    <div class="demo-1 live-demo">
        <jigsaw-header [level]="2">gr</jigsaw-header>
        <p class="message">如下粒度（Gr）值支持日期和时间同时选择：</p>
        <jigsaw-button-bar [data]="['date','week','month', 'hour', 'minute', 'second']"
                           [(selectedItems)]="gr"></jigsaw-button-bar>
        <br><br>
        <jigsaw-range-date-time-select [(date)]="date" [gr]="gr[0]" width="205" (dateChange)="dateChange($event)"></jigsaw-range-date-time-select>
        <br>
        <p class="message">{{date | json}}</p>
    </div>

    <div class="demo-2 live-demo">
        <jigsaw-header [level]="2">grItem</jigsaw-header>
        <p class="message"></p>
        <jigsaw-range-date-time-select [(date)]="date2" [grItems]="grItems" (dateChange)="dateChange($event)"></jigsaw-range-date-time-select>
        <br>
        <p class="message">{{date2 | json}}</p>
    </div>

    <div class="demo-3 live-demo">
        <jigsaw-header [level]="2">Limit</jigsaw-header>
        <p class="message">limit采用宏的时候，会实时根据宏计算limit时间，并设置5分钟的误差，即宏时间往前5分钟作为limitStart，往后5分钟作为limitEnd</p>
        <div class="toggle up">
            <label>limitStart: </label>
            <j-radios [(value)]="limitStart">
                <j-radio-option *ngFor="let item of limitStartList" [value]="item">{{item}}</j-radio-option>
            </j-radios>
            <br>
            <label>limitEnd: </label>
            <j-radios [(value)]="limitEnd">
                <j-radio-option *ngFor="let item of limitEndList" [value]="item">{{item}}</j-radio-option>
            </j-radios>
        </div>
        <j-range-date-time-select [(date)]="date3" [limitStart]="limitStart" [limitEnd]="limitEnd" (dateChange)="dateChange($event)"
                                  gr="second"></j-range-date-time-select>
        <p class="message">{{date3 | json}}</p>
    </div>

    <div class="demo-4 live-demo">
        <jigsaw-header [level]="2">step</jigsaw-header>
        <p class="message"></p>
        <jigsaw-range-date-time-select [(date)]="date4" gr="second" [step]="5" (dateChange)="dateChange($event)"></jigsaw-range-date-time-select>
        <br>
        <p class="message">{{date4 | json}}</p>
    </div>

    <div class="demo-5 live-demo">
        <jigsaw-header [level]="2">First Day of Week and First Week of Year</jigsaw-header>

        <p class="message">First Day of Week: </p>
        <jigsaw-button-bar [data]="['sun', 'mon', 'tue', 'wed', 'thu', 'fri', 'sat']" [(selectedItems)]="weekStart">
        </jigsaw-button-bar>
        <br><br>
        <p class="message">First Week of Year: </p>
        <jigsaw-button-bar [data]="[1, 2, 3, 4, 5, 6]" [(selectedItems)]="janX">
        </jigsaw-button-bar>
        <br><br>
        <jigsaw-range-date-time-select [(date)]="date5" [weekStart]="weekStart[0]" [firstWeekMustContains]="janX[0]" gr="week" (dateChange)="dateChange($event)"></jigsaw-range-date-time-select>
        <br>
        <p class="message">{{date5 | json}}</p>
    </div>

    <div class="demo-6 live-demo">
        <jigsaw-header [level]="2">同时修改多个属性</jigsaw-header>
        <j-select [data]="['date', 'week', 'month']" (valueChange)="changeProp($event)"></j-select>
        <jigsaw-range-date-time-select [(date)]="date6" [gr]="gr6" [limitEnd]="limitEnd6" (dateChange)="dateChange($event)"></jigsaw-range-date-time-select>
        <br>
        <p class="message">{{date6 | json}}</p>
    </div>

    <div class="demo-7 live-demo">
        <jigsaw-header [level]="2">下拉时间框宽度设置较长</jigsaw-header>
        <jigsaw-range-date-time-select [(date)]="date7" (dateChange)="dateChange($event)" width="500"></jigsaw-range-date-time-select>
        <br>
        <p class="message">{{date7 | json}}</p>
    </div>

    <div class="demo-8 live-demo">
        <jigsaw-header [level]="2">可清除（没有初始值）</jigsaw-header>
        <ul>
            <li class="demo-options">
                <div class="demo-options-item">
                    <span>是否可清空：</span>
                    <jigsaw-switch [(checked)]="clearable"></jigsaw-switch>
                </div>
                <div class="demo-options-item">
                    <span>API：</span>
                    <jigsaw-button (click)="showDate(rangeDateTimeSelect8)">打印当前组件值</jigsaw-button>
                    <jigsaw-button (click)="clearDate(rangeDateTimeSelect8)">清空数据</jigsaw-button>
                </div>
            </li>
        </ul>
        <jigsaw-range-date-time-select #select8 [(date)]="date8" [clearable]="clearable" (dateChange)="dateChange($event)"></jigsaw-range-date-time-select>
        <br>
        <p class="message">{{date8 | json}}</p>
    </div>

    <div class="demo-9 live-demo">
        <jigsaw-header [level]="2">可清除（有初始值）</jigsaw-header>
        <ul>
            <li class="demo-options">
                <div class="demo-options-item">
                    <span>是否可清空：</span>
                    <jigsaw-switch [(checked)]="clearable"></jigsaw-switch>
                </div>
                <div class="demo-options-item">
                    <span>API：</span>
                    <jigsaw-button (click)="showDate(rangeDateTimeSelect9)">打印当前组件值</jigsaw-button>
                    <jigsaw-button (click)="clearDate(rangeDateTimeSelect9)">清空数据</jigsaw-button>
                </div>
            </li>
        </ul>
        <jigsaw-range-date-time-select #select9 [(date)]="date9" [clearable]="clearable" (dateChange)="dateChange($event)"></jigsaw-range-date-time-select>
        <br>
        <p class="message">{{date9 | json}}</p>
    </div>

    <div class="demo-10 live-demo">
        <jigsaw-header [level]="2">初始化时设置默认值</jigsaw-header>
        <jigsaw-range-date-time-select [(date)]="date10" (dateChange)="dateChange($event)"></jigsaw-range-date-time-select>
        <br>
        <p class="message">{{date10 | json}}</p>
    </div>

    <div class="demo-11 live-demo">
        <jigsaw-header [level]="2">limitRange(value = 3)</jigsaw-header>
        <jigsaw-range-date-time-select limitRange="3" (dateChange)="dateChange($event)"></jigsaw-range-date-time-select>
    </div>
    
    <div class="demo-12 live-demo">
        <jigsaw-header [level]="2">limitRange(value = 5d)</jigsaw-header>
        <jigsaw-range-date-time-select limitRange="5d" (dateChange)="dateChange($event)"></jigsaw-range-date-time-select>
    </div>
    
    <div class="demo-12 live-demo">
        <jigsaw-header [level]="2">limitRange(value = 3 && 配合 limit now+-10d)</jigsaw-header>
        <jigsaw-range-date-time-select limitRange="5d" limitStart="now-10d" limitEnd="now+10d"
            (dateChange)="dateChange($event)"></jigsaw-range-date-time-select>
    </div>
</div>

