<!-- ignore the following lines, they are not important to this demo -->
<jigsaw-demo-description [summary]="summary" [content]="description">
</jigsaw-demo-description>

<jigsaw-header level="1">CSS 动画</jigsaw-header>
<div class="knowledge-cntr">
    <qa [data]="animationQA[0]"></qa>
    <jigsaw-header>animation 属性</jigsaw-header>
    <points [points]="animationPoints"></points>
    <tips [data]="animationTips[0]"></tips>

    <jigsaw-header>@keyframes规则的语法和特性</jigsaw-header>
    <qa [data]="animationQA[1]"></qa>
    <points [points]="keyframePoints"></points>

    <jigsaw-header>动画命名 animation-name</jigsaw-header>
    <points [points]="namePoint"></points>

    <jigsaw-header>动画延时 animation-delay</jigsaw-header>
    <points [points]="delayPoint" [showIndex]="false"></points>
    <tips [data]="animationTips[1]"></tips>
    <points [points]="delayPoint2" [showIndex]="false"></points>
    <qa [data]="animationQA[2]"></qa>

    <jigsaw-header>动画方向 animation-direction</jigsaw-header>
    <points [points]="directionPoint"></points>

    <jigsaw-header>动画反复 animation-iteration-count</jigsaw-header>
    <points [points]="iterationPoint"></points>
    <tips [data]="animationTips[2]"></tips>

    <jigsaw-header>动画填充模式 animation-fill-mode</jigsaw-header>
    <points [points]="fillPoint"></points>

    <jigsaw-header>动画播放状态 animation-play-state</jigsaw-header>
    <points [points]="playPoint"></points>

    <jigsaw-header>动画时间函数 animation-timing-function</jigsaw-header>
    <points [points]="bezierPoint" [showIndex]="false"></points>
    <tips [data]="animationTips[3]"></tips>
    <points [points]="stepPoint" [showIndex]="false"></points>
    <tips [data]="animationTips[4]"></tips>

    <jigsaw-header>动画渲染原理</jigsaw-header>
    <jigsaw-header>动画性能</jigsaw-header>
</div>
<br><br><br><br><br><br>
<div id="example-0">box-0</div>
<div id="example-2">box-1</div>
<div id="example-3">box-2</div>
<div id="example-1">
    <i></i><i></i><i></i><i></i>
</div>