<!-- ignore the following lines, they are not important to this demo -->
<jigsaw-demo-description [summary]="summary" [content]="description">
</jigsaw-demo-description>

<jigsaw-header level="1">CSS 动画</jigsaw-header>
<div class="knowledge-cntr">
    <div id="example-0">box-0</div>
    <qa index="0"></qa>
    <jigsaw-header>animation 属性</jigsaw-header>
    <points [points]="animationPoints"></points>
    <div id="example-1">box-1</div>
    <tips index="0"></tips>

    <jigsaw-header>@keyframes规则的语法和特性</jigsaw-header>
    <qa index="1"></qa>
    <points [points]="keyframePoints"></points>

    <jigsaw-header>动画命名</jigsaw-header>

    <jigsaw-header>负延时与即时播放</jigsaw-header>
    <jigsaw-header>reverse 和 alternate</jigsaw-header>

    <jigsaw-header>播放次数</jigsaw-header>
    <jigsaw-header>forwards 和 backwards</jigsaw-header>
    <jigsaw-header>暂停 和 重启</jigsaw-header>
    <jigsaw-header>steps()函数</jigsaw-header>
</div>