.knowledge-tips {
    background: cyan;
}

.knowledge-qa {
    background: cadetblue;
}

.example-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 40px;
    border-radius: 2px;
    font-size: 16px;
    color: #fff;
    background: var(--brand-default);
}

.example-1 {
    animation: fadeIn 3s;
}

.example-2 {
    animation: fadeIn 3s, slideInRight 3s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes slideInRight {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(0%);
    }
}