.knowledge-cntr {}

.knowledge-cntr .jigsaw-header-host .jigsaw-header-content {
    font-size: 18px;
}

.knowledge-tools {
    width: fit-content;
    margin: 4px;
    padding: 4px 8px;
    font-size: 16px;
    border-radius: 5px;
}

.knowledge-tools .iconfont {
    font-weight: bold;
    cursor: pointer;
}

.knowledge-tools .flex {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.knowledge-tips {
    background: var(--process-disabled);
}

.knowledge-qa {
    background: var(--primary-disabled);
}

.knowledge-qa .answer {
    opacity: 0;
}

.knowledge-qa .answer.show {
    opacity: 1;
    transition: all 1s;
}

.knowledge-points {
    background: var(--success-disabled);
}

#example-0 {
    position: fixed;
    top: 10vh;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 160px;
    height: 100px;
    margin: 4px;
    background: var(--brand-default);
    border-radius: 2px;
    font-size: 20px;
    color: #fff;
}

#example-1 {
    position: fixed;
    top: 40vh;
    right: 0;
}

#example-1 i {
    display: inline-flex;
    border-left: 30px solid var(--brand-default);
    height: 100px;
    margin: 0 6px;
}

.example-1 {
    animation: fadeIn 3s;
}

.example-2 {
    animation: fadeIn 3s, slideInRight 3s;
}

.example-3 {
    animation: fadeInBy 3s;
}

.example-4 {
    animation: blink 3s;
}

.example-5 {
    animation: fadeIn2 3s;
}

.example-6 {
    animation: fadeIn3 3s;
}

.example-7 {
    animation: blink2 3s;
}

.example-8 {
    animation: blink3 3s;
}

.example-9 {
    animation: ☺ 3s;
}

.example-10 {
    animation: spin 2s;
    animation-delay: 2s;
}

.example-11 {
    animation: spin 2s infinite;
    animation-delay: 2s;
}

.example-12 i {
    animation: scaleUp 4s linear infinite alternate;
}

.example-12 i:nth-child(2) {
    animation-delay: 1s;
}

.example-12 i:nth-child(3) {
    animation-delay: 2s;
}

.example-12 i:nth-child(4) {
    animation-delay: 3s;
}

.example-13 i {
    animation: scaleUp 4s linear infinite alternate;
}

.example-13 i:nth-child(2) {
    animation-delay: -1s;
}

.example-13 i:nth-child(3) {
    animation-delay: -2s;
}

.example-13 i:nth-child(4) {
    animation-delay: -3s;
}

.example-14 {
    animation: fadeIn 1s linear -.25s
}

.example-15 {
    animation: spin 2s 2;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes slideInRight {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(0%);
    }
}

@keyframes fadeInBy {
    100% {
        opacity: 0.5;
    }
}

@keyframes blink {

    0%,
    50%,
    100% {
        opacity: 0;
    }

    25%,
    75% {
        opacity: 1;
    }
}

@keyframes blink2 {

    0% {
        opacity: 0;
        top: 10vh;
    }

    25% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }


    75% {
        opacity: 1;
        top: 20vh;
    }

    100% {
        opacity: 0;
    }
}

@keyframes blink3 {

    0% {
        opacity: 0;
        top: 10vh !important;
    }

    25% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }


    75% {
        opacity: 1;
        top: 20vh;
    }

    100% {
        opacity: 0;
    }
}

@keyframes \263a {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeIn2 {
    100% {
        opacity: 1;
    }

    0% {
        opacity: 0;
    }
}

@keyframes fadeIn3 {
    100% {
        top: 50vh;
        opacity: 0.5;
    }

    100% {
        top: 20vh;
    }
}

@keyframes scaleUp {
    to {
        transform: scaleY(2);
    }
}