<ul class="knowledge-tools knowledge-points">
    <li *ngFor="let item of points; index as i ">
        <div class="flex">
            <span *ngIf="showIndex" style="margin-right: 8px;">{{i+1}}.</span>
            <span [innerHtml]="item.point"></span>
            <i *ngIf="item.action" class="iconfont iconfont-e6ba" style="margin-left: 8px;"
                (click)="handleAnimation(item.action.exampleIndex,item.action.classList)">
            </i>
            <a *ngIf="item.link" style="margin-left: 8px;" [href]="item.link.address" target="_blank" rel="noopener noreferrer">{{item.link.label}}</a>
        </div>
        <div *ngIf="item.subpoint">
            <ul>
                <li *ngFor="let subItem of item.subpoint">
                    <span [innerHtml]="subItem"></span>
                </li>
            </ul>
        </div>
    </li>
</ul>