@import "../../assets/scss/core/base";

$tag-prefix-cls: #{$jigsaw-prefix}-tag;

.#{$tag-prefix-cls}-host{
    @include inline-block;
    position: relative;
    max-width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0 8px;
    height: 22px;
    line-height: 20px;
    font-size: $font-size-base;
    border: 1px solid $border-color-base;
    border-radius: $border-radius-base;
    background: $background-color-base;
    cursor: pointer;
    &.#{$tag-prefix-cls}-closable{
        padding-right: 20px;
    }
    &.#{$tag-prefix-cls}-color{
        color: $text-color-of-bg;
    }
    .#{$tag-prefix-cls}-close-bar{
        position: absolute;
        right: 6px;
        line-height: 18px;
        font-size: 16px;
        &:hover{
            color: $text-color-dark;
        }
    }
}
