<div class="combo-select-demo cmn-box">
    <h3>open demo</h3>
    <div class="test-btn">
        <jigsaw-button width="120px" (click)="toggleOpen()">toggle open</jigsaw-button>
        <jigsaw-button width="150px" (click)="toggleAutoClose()">toggle auto close</jigsaw-button>
    </div>
    <jigsaw-combo-select
        [(value)]="selectedCity"
        [(open)]="open"
        [autoClose]="autoClose"
        maxWidth="500"
        [clearable]="true">
        <ng-template>
            <jigsaw-tile
                [(selectedItems)]="selectedCity"
                trackItemBy="label"
                [searchable]="true"
                width="400px">
                <jigsaw-tile-option *ngFor="let city of citys" [value]="city" width="22.8%">
                    {{city.label}}
                </jigsaw-tile-option>
            </jigsaw-tile>
        </ng-template>
    </jigsaw-combo-select>
</div>

