<!-- ignore the following lines, they are not important to this demo -->
<jigsaw-demo-description [summary]="summary" [content]="description">
</jigsaw-demo-description>


<!-- start to learn the demo from here -->
<h4>粒度 Gr</h4>

<p>如下粒度（Gr）值支持日期和时间同时选择：</p>
<jigsaw-button-bar [data]="['date','week','month']" [(selectedItems)]="gr">
</jigsaw-button-bar>
<br><br>

<jigsaw-date-picker [(date)]="date" [gr]="gr[0]" (dateChange)="dateChange($event)"></jigsaw-date-picker><br>

<p>{{date | json}}</p>
