<demo-template [data]="''" [text]="text['text']['buttons']">
    <!-- start to learn the demo from here -->
    <jigsaw-button style="color: red;" width="300px" (click)="popupDialog1(dialog1)">点击我</jigsaw-button>

    {{message}}
    <ng-template #dialog1>
        <jigsaw-dialog class="dialog-container" width="40%" caption="dialog title" icon="iconfont iconfont-e3f0"
                       (close)="showInfo()">
            <ul class="dialog-content">
                <li>Dialog content...</li>
                <li>Dialog content...</li>
                <li>Dialog content...</li>
            </ul>

            <div jigsaw-button-bar>
                <jigsaw-button colorType="primary" (click)="showInfo('OK')">OK</jigsaw-button>
                <jigsaw-button (click)="showInfo('Cancel')">Cancel</jigsaw-button>
                <a class="button-bar-link" (click)="showInfo('Help')">需要帮助？</a>
            </div>
        </jigsaw-dialog>
    </ng-template>
</demo-template>
