<!-- ignore the following lines, they are not important to this demo -->
<jigsaw-demo-description [summary]="summary" [content]="description">
</jigsaw-demo-description>

<!-- start to learn the demo from here -->
<div class="live-demo-wrap">
    <div class="live-demo">
        <jigsaw-header [level]="2">title-renderer的基本用法</jigsaw-header>
        <jigsaw-tabs (titleChange)="titleChanged($event)" [(selectedIndex)]="selectedIndex">
            <jigsaw-tab-pane>
                <div jigsaw-title>Tab11</div>
                <ng-template>This is the body of the first tab 1</ng-template>
            </jigsaw-tab-pane>
            <jigsaw-tab-pane [titleRenderer]="editorTitleRenderer" [title]="'自定义title'">
                <ng-template>This is the body of the first tab 2</ng-template>
            </jigsaw-tab-pane>
            <jigsaw-tab-pane [titleRenderer]="editorTitleRenderer">
                <ng-template>This is the body of the first tab 3</ng-template>
            </jigsaw-tab-pane>
        </jigsaw-tabs>
    </div>
    <div class="live-demo">
        <jigsaw-header [level]="2">在通过data属性初始化的tabs中，使用可编辑的title-renderer</jigsaw-header>

        <jigsaw-tabs (titleChange)="titleChanged($event)" [(selectedIndex)]="selectedIndex">
            <ng-container *ngFor="let tabData of tabData">
                <jigsaw-tab-pane [titleRenderer]="tabData.renderer" [title]="tabData.label">
                    <ng-template>This is the body of the first tab {{selectedIndex + 1}}</ng-template>
                </jigsaw-tab-pane>
            </ng-container>
        </jigsaw-tabs>
    </div>

    <div class="live-demo">
        <jigsaw-header [level]="2">在TabBar中，使用可编辑的title-renderer</jigsaw-header>
        <jigsaw-tabs-bar [data]="tabData" (titleChange)="titleChanged($event)" [(selectedIndex)]="selectedIndex"></jigsaw-tabs-bar>
    </div>
</div>
