<div class="demo-wrapper nav">
    <jigsaw-markdown [markdown]="description"></jigsaw-markdown>
    <icon-basic></icon-basic>
    <icon-icon-text></icon-icon-text>
    <icon-similar-hyperlink></icon-similar-hyperlink>
    <icon-position></icon-position>
    <icon-status></icon-status>
    <icon-customize-status></icon-customize-status>
    <doc-template [docContent]="docContent"></doc-template>
    <doc-footer-template></doc-footer-template>
    <demo-navigation [navigationData]="navigationData"></demo-navigation>
</div>
