<!-- ignore the following lines, they are not important to this demo -->
<jigsaw-demo-description [summary]="summary" [content]="description">
</jigsaw-demo-description>

<!-- start to learn the demo from here -->
<ul class="demo-options">
    <li class="demo-options-item">
        <span>分页：</span>
    </li>
    <li class="demo-options-item">
        <span>数据：</span>
        <jigsaw-button (click)="_$changeData()">修改</jigsaw-button>
        <jigsaw-button (click)="_$resetData()">重置</jigsaw-button>
    </li>
    <li class="demo-options-item">
        <span>保存节点打开状态</span>
        <jigsaw-switch [(checked)]="saveOpenStatus"></jigsaw-switch>
    </li>
</ul>
<jigsaw-tree-ext [(data)]="data">
</jigsaw-tree-ext>