<!-- ignore the following lines, they are not important to this demo -->
<jigsaw-demo-description [summary]="summary" [content]="description">
</jigsaw-demo-description>

<!-- start to learn the demo from here -->
<section class="section-container">
    <jigsaw-header>多选效果</jigsaw-header>
    <section class="align-center">
        <jigsaw-tag *ngFor="let item of tags; let idx = index;" color="preset-blue"
                    selectedColor="preset-red" disabledColor="preset-gray"
                    [disabled]="idx > 4" (selectChange)="onSelect(item, $event)">
            {{item}}
        </jigsaw-tag>
    </section>

    <jigsaw-header>单选效果</jigsaw-header>
    <section class="align-center">
        <jigsaw-tag *ngFor="let item of tags1; let idx = index;" color="preset-blue"
                    selectedColor="preset-red" disabledColor="preset-gray" toggleSelect='true'
                    [select]="item.selected" [disabled]="idx > 4" (selectChange)="onSelect1(item)">
            {{item.label}}
        </jigsaw-tag>
    </section>

    <jigsaw-header>使用普通色值作为选中色</jigsaw-header>
    <section class="align-center">
        <jigsaw-tag *ngFor="let item of tags1; let idx = index;" color="preset-blue"
                    selectedColor="red" disabledColor="preset-gray" toggleSelect='true'
                    [select]="item.selected" [disabled]="idx > 4" (selectChange)="onSelect1(item)">
            {{item.label}}
        </jigsaw-tag>
    </section>
</section>
