<demo-template [data]="''" [text]="text['text']['complexScene']">
    <j-radios [(value)]="selectedGoods" trackItemBy="name"
              (valueChange)="radioChange($event)">
        <j-radio-option *ngFor="let goods of goodsList" [value]="goods" [disabled]="!!goods.disabled">
            <div class="goods-box">
                <span class="logo iconfont iconfont-{{goods.logo}}"></span>
                <p>{{goods.desc}}</p>
            </div>
        </j-radio-option>
    </j-radios>
    <p class="message">选择的商品是: <span>{{selectedGoods.name}}</span></p>
</demo-template>
