<demo-template [data]="[]" [text]="text['text']['popupOption']">
    <div class="popup-option-demo">
        <div class="show-box">
            <div #left class="left box"></div>
            <div #middle class="middle box"></div>
            <div #right class="right box"></div>
        </div>
  <div class="demo-showcase">
      <div><jigsaw-button colorType="primary" width="200px" (click)="popupDialog1(dialog1)">红色弹出对话框</jigsaw-button></div>
      <div><jigsaw-button colorType="primary" width="200px" (click)="popupDialog2(dialog1)">蓝色弹出对话框</jigsaw-button></div>
      <div> <jigsaw-button colorType="primary" width="200px" (click)="popupDialog3(dialog1)">绿色弹出对话框</jigsaw-button></div>
  </div>
        <ng-template #dialog1>
            <jigsaw-dialog width="400px" icon="iconfont iconfont-e3f0" caption="对话框标题" (close)="close()">
                <ul class="dialog-content">
                    <li>对话框内容...</li>
                    <li>对话框内容...</li>
                    <li>对话框内容...</li>
                    <li>对话框内容...</li>
                </ul>
            </jigsaw-dialog>
        </ng-template>
    </div>
</demo-template>
