<demo-template [sizeController]="null" [description]="description" [demoSources]="demoSources">
    <!-- start to learn the demo from here -->
    <div class="custom-container">
        <j-drawer
            container=".custom-container"
            position="left"
            width="auto"
            offsetLeft="0"
            offsetTop="28"
            offsetRight="0"
            offsetBottom="0"
            [height]="height"
        >
            <div class="drawer-content">这是一个展示内容的box</div>
        </j-drawer>
    </div>
</demo-template>
