
<p>预设颜色</p>
<div id="type-list">
    <jigsaw-button  type="danger">Danger</jigsaw-button>

    <jigsaw-button>Default</jigsaw-button>

    <jigsaw-button  type="primary">Primary</jigsaw-button>
</div>

<br>
<br>
<br>
<p>另一种写法</p>

<a jigsaw-button  type="danger">Danger</a>

<a jigsaw-button >Default</a>

<a jigsaw-button  type="primary">Primary</a>

<br>
<br>
<br>
<p>预设尺寸</p>
<br>
<p>当前尺寸: {{size || "default"}}</p>

<div id="presize-list">
<jigsaw-button id="test-button"  [presize]="size" type="primary" (click)="changeSize('small')">Small</jigsaw-button>

<jigsaw-button  [presize]="size" type="primary" (click)="changeSize()">Default</jigsaw-button>

<jigsaw-button [presize]="size" type="primary" (click)="changeSize('large')">Large</jigsaw-button>
</div>

<br>
<p>另一种写法</p>
<br>
<p>当前尺寸: {{aSize || "default"}}</p>
<br>
<a jigsaw-button  [presize]="aSize" type="primary" (click)="changeASize('small')">Small</a>

<a jigsaw-button  [presize]="aSize" type="primary" (click)="changeASize()">Default</a>

<a jigsaw-button  [presize]="aSize" type="primary" (click)="changeASize('large')">Large</a>
