<!-- ignore the following lines, they are not important to this demo -->
<jigsaw-demo-description [summary]="summary" [content]="description">
</jigsaw-demo-description>


<!-- start to learn the demo from here -->
<div class="live-demo-wrap">
    <h2>Box</h2>
    <div class="demo-1 live-demo">
        <h3>滚动条</h3>
        <j-box height="400">
            <j-box direction="v">
                <j-box>
                    <p class="inner-content">
                        <span *ngFor="let i of arr1">content...<br></span>
                    </p>
                </j-box>
                <j-box [perfectScrollbar]="{wheelSpeed: 0.5, wheelPropagation: true}">
                    <p class="inner-content not-break-line">
                        <span *ngFor="let i of arr1">content1...content2...content3...content4...content5...content6...content7...content8...content9...content10...content11...content12...content13...content14...<br></span>
                    </p>
                </j-box>
            </j-box>
            <j-box direction="v" >
                <j-box [perfectScrollbar]="{suppressScrollY: true, wheelSpeed: 0.5, wheelPropagation: true}">
                    <p class="inner-content not-break-line">
                        <span *ngFor="let i of arr2">content1...content2...content3...content4...content5...content6...content7...content8...content9...content10...content11...content12...content13...content14...<br></span>
                    </p>
                </j-box>
                <j-box [perfectScrollbar]="{suppressScrollX: true, wheelSpeed: 0.5, wheelPropagation: true}">
                    <p class="inner-content">
                        <span *ngFor="let i of arr1">content...<br></span>
                    </p>
                </j-box>
            </j-box>
        </j-box>
    </div>
</div>


