<jigsaw-select labelField="label"
               [(value)]="selectedScene"
               [data]="sceneData"
               (valueChange)="changeData($event)">
</jigsaw-select>
<button (click)="parseData(data)">parse data</button>
<j-view-editor [data]="data" (fill)="handleFill($event)" height="400"></j-view-editor>
<br>
<br>
<button (click)="consoleData()">console data</button>
<button (click)="parseData(data2)">parse data</button>
<j-view-editor [data]="data2" height="200" (fill)="handleFill($event)"></j-view-editor>
<br>
<br>
Parse Area:
<j-view-editor [data]="data3" height="400" (fill)="handleFill($event)"></j-view-editor>

<ng-template #dialog>
    <jigsaw-dialog width="40%" (close)="onAnswer()">
        <div jigsaw-title>
            <span class="fa fa-thumbs-up"></span>Please choose scene
        </div>
        <div jigsaw-body class="dialog-body">
            <jigsaw-radios [(value)]="selectedComponent"
                           (valueChange)="radioChange($event)"
                           trackItemBy="label">
                <jigsaw-radio-option *ngFor="let item of components" [value]="item">
                    {{item.label}}
                </jigsaw-radio-option>
            </jigsaw-radios>
        </div>
    </jigsaw-dialog>
</ng-template>
