<jigsaw-select labelField="label"
               [(value)]="selectedScene"
               [data]="sceneData"
               (valueChange)="changeData($event)">
</jigsaw-select>
<button (click)="parseData(data)">parse data</button>
<j-layout [data]="data" [(direction)]="data.direction" [grow]="data.grow" height="400"></j-layout>
<br>
<br>
<button (click)="consoleData()">console data</button>
<button (click)="parseData(data2)">parse data</button>
<j-layout [data]="data2" [(direction)]="data2.direction" height="200"></j-layout>
<br>
<br>
<j-layout [data]="data3" [(direction)]="data3.direction" height="400"></j-layout>
