<!-- ignore the following lines, they are not important to this demo -->
<jigsaw-demo-description [summary]="summary" [content]="description">
</jigsaw-demo-description>

<!-- start to learn the demo from here -->
<jigsaw-select labelField="label"
               [(value)]="selectedScene"
               [data]="sceneData"
               (valueChange)="changeData($event)">
</jigsaw-select>

<j-layout [data]="data" [(direction)]="data.direction" [grow]="data.grow" height="400"></j-layout>
<br>
<br>
<button (click)="consoleData()">console data</button>
<j-layout [(data)]="data2" height="200"></j-layout>
