<demo-template [data]="''" [text]="doc.text.middleResizeLine">
    <!-- start to learn the demo from here -->
    <j-box direction="v" [resizable]="true" height="400" width="800">
        <j-box>
            <div class="box-content">
                <div class="border-content"></div>
            </div>
        </j-box>
        <j-box [resizable]="true" grow="4">
            <j-box>
                <div class="box-content">
                    <div class="border-content"></div>
                </div>
            </j-box>
            <j-box grow="4">
                <div class="box-content">
                    <div class="border-content"></div>
                </div>
            </j-box>
        </j-box>
        <j-box>
            <div class="box-content">
                <div class="border-content"></div>
            </div>
        </j-box>
    </j-box>
</demo-template>


