<demo-template [sizeController]="null" [description]="description" [demoSources]="demoSources">
    <!-- start to learn the demo from here -->
    <div class="demo-showcase">
        <jigsaw-button
            jigsawCascadingMenu
            [jigsawCascadingMenuData]="dropdownData"
            jigsawCascadingMenuWidth="230"
            jigsawCascadingMenuTheme="dark"
            (jigsawCascadingMenuSelect)="menuSelect($event)"
        >
            点击弹出菜单
        </jigsaw-button>
    </div>
</demo-template>
