<!-- ignore the following lines, they are not important to this demo -->
<jigsaw-demo-description [summary]="summary" [content]="description">
</jigsaw-demo-description>


<!-- start to learn the demo from here -->
<demo-template [data]="[]" [text]="text['text']['bar']">
    <div class="live-demo-wrap">
        <div class="live-demo">
            <jigsaw-header [level]="2">BarGraphData静态数据</jigsaw-header>
            <jigsaw-graph [data]="barData" height="400"></jigsaw-graph>
        </div>
    </div>
</demo-template>










