<jigsaw-markdown [markdown]="description"></jigsaw-markdown>
<table-basic-basic></table-basic-basic>
<table-basic-no-data></table-basic-no-data>
<table-basic-fixed-header></table-basic-fixed-header>
<table-basic-hide-header></table-basic-hide-header>
<table-basic-sortable></table-basic-sortable>
<table-basic-index-column></table-basic-index-column>
<table-basic-index-column-with-paging></table-basic-index-column-with-paging>
<table-basic-pageable></table-basic-pageable>
<table-basic-pageable-ready></table-basic-pageable-ready>
<table-basic-local-paging-data></table-basic-local-paging-data>
<table-basic-chart-icon></table-basic-chart-icon>
<table-basic-progress></table-basic-progress>
<table-basic-tree-table></table-basic-tree-table>
<table-basic-content-width></table-basic-content-width>
<doc-template [docContent]="docContent"></doc-template>