<div class="m-home">
  <img src="../assets/img/home-bg.jpg" alt="">
  <div class="text-wrap">
    <div class="home-text">
      <h1>聚合三大实力</h1><h1>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;提升赋能价值</h1>
      <br/>
      <p> 大数据UED网站是融合设计、组件、开发等综合能力的门户网站。
        通过探索设计的创新形式，挖掘大数据开发的无限可能；
        打造组件化的设计开发模式，敏捷快速的工作流程；为数据产品
        注入柔性活力，使产品呈现多元化特征；主张全链路的设计模式
        和协同开发的部署，提升大数据产品的赋能价值。</p>
    </div>
  </div>
  <div class="ued-animate-wrap">

    <div class='box box-ued'>
      <div class="ring-1"></div>
      <div class="ring-2"></div>
      <div class='title'><p>大数据</p><span>UED</span></div>
    </div>

    <div class='box box-develop'>
      <div class="ring-1"></div>
      <div class="ring-2"></div>
      <div class='title'><span>开发</span></div>
    </div>

    <div class='box box-link'>
      <div class="ring-1"></div>
      <div class="ring-2"></div>
      <div class='title'><span>全链路</span></div>
    </div>

    <div class='box box-component'>
      <div class="ring-1"></div>
      <div class="ring-2"></div>
      <div class='title'><span>组件</span></div>
    </div>

    <div class='box box-empty1'>
      <div class="ring-1"></div>
      <div class="ring-2"></div>
    </div>

    <div class='box box-coordination'>
      <div class="ring-1"></div>
      <div class="ring-2"></div>
      <div class='title'><span>协同</span></div>
    </div>

    <div class='box box-empty2'>
      <div class="ring-1"></div>
      <div class="ring-2"></div>
    </div>

    <div class='box box-design'>
      <div class="ring-1"></div>
      <div class="ring-2"></div>
      <div class='title'><span>设计</span></div>
    </div>

    <div class='box box-empowerment'>
      <div class="ring-1"></div>
      <div class="ring-2"></div>
      <div class='title'><span>赋能</span></div>
    </div>
  </div>
</div>
