<!-- ignore the following lines, they are not important to this demo -->
<jigsaw-demo-description [summary]="summary" [content]="description">
</jigsaw-demo-description>


<!-- start to learn the demo from here -->
<div class="live-demo-wrap">
    <h2>List lite</h2>

    <div class="clearfix">
        <div class="demo-1 live-demo live-demo-block">
            <h3>单选</h3>
            <jm-list-lite width="200" [data]="goodsList" labelField="name"
                         (selectedItemsChange)="handleSelect($event)"></jm-list-lite>
            <p class="message">选中的条目是: <span>{{selectedItems1}}</span></p>
        </div>
        <div class="demo-2 live-demo live-demo-block">
            <h3>多选</h3>
            <jm-list-lite width="200" [data]="goodsList" labelField="name"
                         (selectedItemsChange)="handleSelect2($event)" [multipleSelect]="true"></jm-list-lite>
            <p class="message">选中的条目是: <span>{{selectedItems2}}</span></p>
        </div>
    </div>

    <div class="clearfix">
        <div class="demo-3 live-demo live-demo-block">
            <h3>预设选中值</h3>
            <jm-list-lite width="200" [data]="goodsList" labelField="name" [selectedItems]="selectedItems3"
                         (selectedItemsChange)="handleSelect3($event)" [multipleSelect]="true"></jm-list-lite>
            <p class="message">选中的条目是: <span>{{selectedItemsStr3}}</span></p>
        </div>
        <div class="demo-4 live-demo live-demo-block">
            <h3>搜索功能</h3>
            <jm-list-lite width="200" [data]="goodsList" labelField="name"
                         (selectedItemsChange)="handleSelect4($event)" [multipleSelect]="true"
                         [searchable]="true"></jm-list-lite>
            <p class="message">选中的条目是: <span>{{selectedItems4}}</span></p>
        </div>
    </div>


    <div class="clearfix">
        <div class="demo-7 live-demo live-demo-block">
            <h3>字符串数组搜索</h3>
            <jm-list-lite width="200" [data]="goodsStrList" [multipleSelect]="true" [searchable]="true"></jm-list-lite>
            <p class="message">选中的条目是: <span></span></p>
        </div>
    </div>
</div>

