$jigsaw-transfer: #{$jigsaw-prefix}-transfer;
$jigsaw-list: #{$jigsaw-prefix}-list;
$jigsaw-list-option: #{$jigsaw-prefix}-list-option;

.#{$jigsaw-transfer}-host {
    $cntr-padding-top: 4px;
    $header-padding-bottom: 8px;

    position: relative;
    display: inline-flex;
    width: 400px;
    height: 200px;

    &.#{$jigsaw-transfer}-error {
        .#{$jigsaw-transfer}-cntr {
            outline: 1px solid $error-default;
        }
    }

    .#{$jigsaw-transfer}-loading {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        background: #000;
        z-index: $zindex-level-2;
        opacity: 0.6;
    }

    .#{$jigsaw-transfer}-cntr {
        display: flex;
        flex: 1 1 0;
        width: 100%;
        height: 100%;
        background-color: $bg-component;
    }

    .#{$jigsaw-transfer}-disabled {
        position: absolute;
        border-color: $border-color-disabled;
        background-color: $bg-disabled;
        width: 100%;
        height: 100%;
        opacity: 0.6;
        cursor: not-allowed;
        z-index: $zindex-level-3;
    }

    .#{$jigsaw-transfer}-item-cntr {
        position: relative;
        flex: 1 1 0;
        display: flex;
        flex-direction: column;
        height: 100%;
        padding: $cntr-padding-top 8px;
        border: 1px solid $border-color-default;
        border-radius: $border-radius-base;
        background-color: $bg-component;
        overflow: hidden;

        .#{$jigsaw-transfer}-header {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-bottom: 8px;

            .#{$jigsaw-transfer}-select-all {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                width: 100%;
                height: 32px;
            }

            .#{$jigsaw-transfer}-search-cntr {
                width: 100%;
            }
        }

        .#{$jigsaw-transfer}-body {
            height: calc(100% - 64px - #{$cntr-padding-top} - #{$cntr-padding-top} - #{$header-padding-bottom});

            &.#{$jigsaw-transfer}-body-short {
                height: calc(
                    100% - 64px - 18px - #{$cntr-padding-top} - #{$cntr-padding-top} - #{$header-padding-bottom}
                );
            }
        }

        .#{$jigsaw-transfer}-footer {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 24px;
        }
    }

    .#{$jigsaw-transfer}-option-cntr {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .jigsaw-transfer-option {
            margin: 0 8px 4px;
            padding: 2px 12px;
            font-size: $font-size-base;
            border-radius: $border-radius-base;
            border: 1px solid $brand-default;
            background: $brand-default;
            color: $font-color-white;

            &:hover {
                background: $brand-hover;
                color: $font-color-white;
            }

            &:active {
                background: $brand-active;
                color: $font-color-white;
            }

            &.jigsaw-transfer-option-disabled {
                border: 1px solid $border-color-default;
                background: $bg-disabled;
                color: $icon-color-stress;
                cursor: not-allowed;

                &:hover,
                &:active {
                    background: $bg-disabled;
                    color: $icon-color-stress;
                }
            }
        }
    }
}
