$jigsaw-transfer: #{$jigsaw-prefix}-transfer;
$jigsaw-list: #{$jigsaw-prefix}-list;
$transfer-renderer: #{$jigsaw-prefix}-transfer-renderer;
$list-renderer: #{$jigsaw-prefix}-transfer-list-renderer;
$tree-renderer: #{$jigsaw-prefix}-transfer-tree-renderer;
$table-renderer: #{$jigsaw-prefix}-transfer-table-renderer;

.#{$jigsaw-transfer}-renderer {
    height: 100%;
}

.#{$list-renderer} {
    .#{$jigsaw-list}-host {
        border: none !important;

        .#{$jigsaw-list}-option-host.#{$jigsaw-list}-option-active {
            background: unset;

            .jigsaw-list-option-title,
            .jigsaw-list-option-sub-title {
                color: $font-color-default;
            }

            &:hover {
                background: var(--bg-hover);
            }
        }
    }
}