$jigsaw-transfer: #{$jigsaw-prefix}-transfer;
$jigsaw-list: #{$jigsaw-prefix}-list;
$jigsaw-list-option: #{$jigsaw-prefix}-list-option;

.#{$jigsaw-transfer}-host {
    $cntr-padding-top: 4px;
    $header-padding-bottom: 8px;

    position: relative;
    display: inline-flex;
    width: 400px;
    height: 200px;

    .#{$jigsaw-transfer}-cntr {
        display: flex;
        flex: 1 1 0;
        width: 100%;
        height: 100%;
        background-color: $bg-component;
    }

    .#{$jigsaw-transfer}-disabled {
        position: absolute;
        border-color: $border-color-disabled;
        background-color: $bg-disabled;
        width: 100%;
        height: 100%;
        opacity: 0.6;
        cursor: not-allowed;
        z-index: $zindex-level-3;
    }

    .#{$jigsaw-transfer}-item-cntr {
        position: relative;
        flex: 1 1 0;
        display: flex;
        flex-direction: column;
        height: 100%;
        padding: $cntr-padding-top 8px;
        border: 1px solid $border-color-default;
        border-radius: $border-radius-base;
        background-color: $bg-component;
        overflow: hidden;

        .#{$jigsaw-transfer}-header {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-bottom: 8px;

            .#{$jigsaw-transfer}-select-all {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                width: 100%;
                height: 32px;
            }

            .#{$jigsaw-transfer}-search-cntr {
                width: 100%;
            }
        }

        .#{$jigsaw-transfer}-body {
            height: calc(100% - 64px - #{$cntr-padding-top} - #{$cntr-padding-top} - #{$header-padding-bottom});
        }

        .#{$jigsaw-transfer}-footer {
        }
    }

    .#{$jigsaw-transfer}-option-cntr {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .jigsaw-transfer-option {
            margin: 0 8px 4px;
            padding: 2px 12px;
            font-size: $font-size-base;
            border-radius: $border-radius-base;
            border: 1px solid $brand-default;
            background: $brand-default;
            color: $font-color-white;

            &:hover {
                background: $brand-hover;
                color: $font-color-white;
            }

            &:active {
                background: $brand-active;
                color: $font-color-white;
            }

            &.jigsaw-transfer-option-disabled {
                border: 1px solid $border-color-default;
                background: $bg-disabled;
                color: $icon-color-stress;
                cursor: not-allowed;

                &:hover,
                &:active {
                    background: $bg-disabled;
                    color: $icon-color-stress;
                }
            }
        }
    }
}

.#{$jigsaw-transfer}-shift {
    display: inline-block;
    width: 400px;
    height: 200px;
    position: relative;
    &-loading {
        position: absolute;
        width: 100%;
        height: 100%;
        background: #000;
        z-index: $zindex-level-2;
        opacity: 0.6;
        span {
            position: absolute;
            width: 20px;
            height: 20px;
            line-height: 20px;
            font-size: 20px;
            color: #fff;
            left: 50%;
            top: 50%;
            margin-left: -10px;
            margin-top: -10px;
        }
    }
    & > div {
        transition-duration: 300ms;
    }
    &.#{$jigsaw-transfer}-error > div {
        transition-duration: 300ms;
        border: 1px solid $error-default;
    }
    &-wrapper {
        display: flex;
        flex: 1 1 0;
        width: 100%;
        height: 100%;
        background-color: $bg-component;
    }
    &-disabled {
        cursor: not-allowed;
        border-color: $border-color-disabled !important;
        background-color: $bg-disabled;
        width: 100%;
        height: 100%;
        opacity: 0.6;
        position: absolute;
        z-index: $zindex-level-3;
    }
    &-box {
        border: 1px solid $border-color-default;
        border-radius: $border-radius-base;
        flex: 1 1 0;
        position: relative;
        background-color: $bg-component;
        overflow: hidden;
    }
    &-option-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    &-option-bar {
        border: 1px solid $brand-default;
        background: $brand-default;
        color: $font-color-white;
        border-radius: $border-radius-base;
        margin: 0 8px 4px;
        padding: 2px 12px;
        font-size: $font-size-base;
        &:hover {
            background: $brand-hover;
            color: $font-color-white;
        }
        &:active {
            background: $brand-active;
            color: $font-color-white;
        }
    }
    &-option-disabled {
        cursor: not-allowed;
        border: 1px solid $border-color-default;
        background: $bg-disabled;
        color: $icon-color-stress;
        &:hover,
        &:active {
            background: $bg-disabled;
            color: $icon-color-stress;
        }
    }
    &-head {
        position: relative;
        display: flex;
        align-items: center;
        height: 32px;
        padding: 0 4px;
        border-bottom: 1px solid $border-color-default;
        &:before {
            content: "";
            display: inline-block;
            vertical-align: middle;
            height: 100%;
        }
    }
    &-list-wrapper {
        max-height: 100%;
        &.#{$jigsaw-transfer}-list-searchable {
            max-height: calc(100% - #{$height-base + 16px});
        }
        .#{$jigsaw-list}-host {
            border: none;
        }
        .#{$jigsaw-list-option}-host {
            &-title {
                min-width: 50%;
                span.#{$jigsaw-transfer}-middle-title {
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;
                }
            }

            &-sub-title {
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
                span.#{$jigsaw-transfer}-sub-title {
                    white-space: nowrap;
                }
            }
        }
    }
    &-search-wrapper {
        padding: 8px;
    }
    &-middle-title {
        vertical-align: middle;
        margin-left: 4px;
    }
    &-right-title {
        position: absolute;
        top: 8px;
        right: 8px;
    }
    &-list-frame {
        display: block;
        height: 100%;
    }
    &-foot {
        height: 28px;
        text-align: center;
        &:before {
            content: "";
            display: inline-block;
            height: 100%;
            vertical-align: middle;
        }
    }
}
