<demo-template [data]="''" [text]="doc.text.emphasisHandler">
    <!-- start to learn the demo from here -->
    <div class="custom-container">
        <j-drawer container=".custom-container" position="left" width="30%" [height]="height"
                  offsetLeft="0" offsetTop="0" offsetRight="0" offsetBottom="0" [emphasisHandler]="false">
            <div class="drawer-content">
                这是一个展示内容的box
            </div>
        </j-drawer>

        <j-drawer container=".custom-container" position="right" width="30%" [height]="height"
                  offsetLeft="0" offsetTop="0" offsetRight="0" offsetBottom="0" [emphasisHandler]="true">
            <div class="drawer-content">
                这是一个展示内容的box
            </div>
        </j-drawer>
    </div>
</demo-template>



