<!-- ignore the following lines, they are not important to this demo -->
<jigsaw-demo-description [summary]="summary" [content]="description">
</jigsaw-demo-description>


<!-- start to learn the demo from here -->
<jigsaw-header>特殊场景</jigsaw-header>

<jigsaw-button jigsawTooltipPosition="top" [jigsawTooltip]="'这是一个长长长长长长长长长长长长文字的ToolTip'"
    [jigsawTooltipTheme]="'light'">
    长文字Tooltip（鼠标Hover看效果）
</jigsaw-button>

<jigsaw-button jigsawTooltipPosition="top" [jigsawTooltip]="'这是一个长长长长长长长长长长长长长长长长长长长长长长长长长长长长文字的ToolTip'"
    [jigsawTooltipTheme]="'light'">
    超长文字Tooltip（鼠标Hover看效果）
</jigsaw-button>

<jigsaw-button jigsawTooltipPosition="top"
    [jigsawTooltip]="'这是一个长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长文字的ToolTip'"
    [jigsawTooltipTheme]="'light'">
    特长文字Tooltip（鼠标Hover看效果）
</jigsaw-button>

<br>
<br>

<jigsaw-button jigsawTooltipPosition="top"
    [jigsawTooltip]="'Harry Potter is a series of seven fantasy novels written by British author J. K. Rowling. The novels chronicle the lives of a young wizard, Harry Potter, and his friends Hermione Granger and Ron Weasley, all of whom are students at Hogwarts School of Witchcraft and Wizardry. The main story arc concerns Harry\'s struggle against Lord Voldemort, a dark wizard who intends to become immortal, overthrow the wizard governing body known as the Ministry of Magic and subjugate all wizards and Muggles (non-magical people).'"
    [jigsawTooltipTheme]="'light'">
    英文长文字Tooltip（鼠标Hover看效果）
</jigsaw-button>

<jigsaw-button jigsawTooltipPosition="top" [jigsawTooltip]="''" [jigsawTooltipTheme]="'light'">
    无文字Tooltip（鼠标Hover看效果）
</jigsaw-button>

<jigsaw-button width="300px" (click)="popupDialog(dialog)">弹框内使用</jigsaw-button>

<ng-template #dialog>
    <jigsaw-dialog width="400px" (close)="closeDialog()" icon="iconfont iconfont-e3f0" caption="一个对话框">
        <div jigsaw-body>
            <p class="dialog-content">
                <span [jigsawTooltip]="'这是一个文字的ToolTip'">这是一段文本，悬浮可见tooltip</span>
                <jigsaw-icon [icon]="'iconfont iconfont-e9ef'" [iconSize]="16" [jigsawTooltip]="'这是一个文字的ToolTip'"></jigsaw-icon>
            </p>
        </div>
        <div jigsaw-button-bar>
            <jigsaw-button colorType="primary" (click)="closeDialog()">OK</jigsaw-button>
            <jigsaw-button (click)="closeDialog()">Cancel</jigsaw-button>
        </div>
    </jigsaw-dialog>
</ng-template>
