<demo-template [data]="''" [text]="doc.text.indexColumnWithPaging" [codes]="doc.codes.indexColumnWithPaging">
    <!-- start to learn the demo from here -->
    <jigsaw-table style="margin-bottom: 10px;"
                  maxHeight="400px" [data]="pageable" [columnDefines]="columns"
                  [additionalColumnDefines]="additionalColumns">
    </jigsaw-table>
    <jigsaw-pagination
        [data]="pageable"
        [pageSizeOptions]="[5, 10, 20]"
        [searchable]="true"
        [showQuickJumper]="true"
    ></jigsaw-pagination>
</demo-template>
