<!-- ignore the following lines, they are not important to this demo -->
<jigsaw-demo-description [summary]="summary" [content]="description">
</jigsaw-demo-description>


<!-- start to learn the demo from here -->
<span class="fa fa-bars" jigsaw-float jigsawFloatPosition="leftTop" [jigsawFloatTarget]="jigsawFloatArea">
    原生算法
</span>
<span class="fa fa-bars" jigsaw-float jigsawFloatPosition="leftTop" [jigsawFloatTarget]="jigsawFloatArea">
    原生算法
</span>
<div>
    <span class="fa fa-bars" jigsaw-float jigsawFloatPosition="leftTop" [jigsawFloatTarget]="jigsawFloatArea" [jigsawFloatOptions]="options">
       自定义算法
    </span>
</div>
<ng-template #jigsawFloatArea>
    <div class="jigsawFloatArea">
        jigsawFloatArea
    </div>
</ng-template>
