<!-- ignore the following lines, they are not important to this demo -->
<jigsaw-demo-description [summary]="summary" [content]="description">
</jigsaw-demo-description>


<!-- start to learn the demo from here -->
<span class="fa fa-bars" jigsaw-float jigsawFloatPosition="leftTop"
      [jigsawFloatTarget]="jigsawFloatArea1">
    内置位置修正算法
    <ng-template #jigsawFloatArea1>
        <div class="jigsawFloatArea">
            <p>本该在左侧弹出，但位置不够，自动调整到右侧了</p>
        </div>
    </ng-template>
</span>
<span class="fa fa-bars" jigsaw-float jigsawFloatPosition="leftTop"
      [jigsawFloatTarget]="jigsawFloatArea2">
    无需修正位置
    <ng-template #jigsawFloatArea2>
        <div class="jigsawFloatArea">
            <p>左侧位置足够，无需修正位置</p>
        </div>
    </ng-template>
</span>

<br><br>

<span class="fa fa-bars" jigsaw-float jigsawFloatPosition="leftTop"
      [jigsawFloatTarget]="jigsawFloatArea3" [jigsawFloatOptions]="options">
   自定义位置修正算法
    <ng-template #jigsawFloatArea3>
        <div class="jigsawFloatArea">
            <p>本该在左侧弹出，但位置不够，自动往右挤</p>
        </div>
    </ng-template>
</span>
<span class="fa fa-bars" jigsaw-float jigsawFloatPosition="leftTop"
      [jigsawFloatTarget]="jigsawFloatArea4" [jigsawFloatOptions]="options">
   无需修正位置
    <ng-template #jigsawFloatArea4>
        <div class="jigsawFloatArea">
            <p>左侧位置足够，无需修正位置</p>
        </div>
    </ng-template>
</span>

<br><br>

<div j-movable style="position: fixed" class="movable-box">
    <span class="fa fa-bars" jigsaw-float jigsawFloatPosition="leftTop"
          [jigsawFloatTarget]="jigsawFloatArea5" [jigsawFloatPosition]="position"
          style="margin: 40px 16px 40px 0">
       鼠标挪过来
        <ng-template #jigsawFloatArea5>
            <div class="jigsawFloatArea" style="width: 300px; height: 150px;">
                <p>
                    请注意：<br>
                    如果选中的弹出位置超出了当前的可视区域，<br>
                    float指令会采用内置算法调整成其他最佳弹出位置。<br>
                    请试试把这个块拖到屏幕的4个角落，<br>
                    再触发下拉，查看位置调整的效果
                </p>
            </div>
        </ng-template>
    </span>
    <span>切换位置</span>
    <jigsaw-select [(value)]="position"
                   [data]="['bottomLeft', 'bottomRight', 'topLeft', 'topRight',
                            'leftTop', 'leftBottom', 'rightTop', 'rightBottom']">
    </jigsaw-select>
</div>

