<!-- ignore the following lines, they are not important to this demo -->
<jigsaw-demo-description [summary]="summary" [content]="description"></jigsaw-demo-description>

<!-- start to learn the demo from here -->
<a (click)="clearSelection()">清除选中</a>

<jigsaw-header>多选下拉选择</jigsaw-header>
<jigsaw-select [data]="dataList" [(value)]="selectedArrayData" [multipleSelect]="true" placeholder="请选择" width="160px"
    (valueChange)="valueChange($event)">
</jigsaw-select>

<jigsaw-header>多选下拉选择(初始已选项禁用)</jigsaw-header>
<jigsaw-select [data]="dataList" [(value)]="selectedArrayData3" [multipleSelect]="true" placeholder="请选择" width="160px"
    (valueChange)="valueChange($event)">
</jigsaw-select>

<jigsaw-header>结果展开</jigsaw-header>
<jigsaw-select
    [data]="dataList"
    [(value)]="selectedArrayData1"
    [multipleSelect]="true"
    placeholder="请选择"
    width="160px"
    [useStatistics]="false"
    (valueChange)="valueChange($event)"
></jigsaw-select>

<jigsaw-header>初始全选</jigsaw-header>
<jigsaw-select
    [data]="dataListWithoutDisabled"
    [(value)]="fullSelectedOption"
    [multipleSelect]="true"
    placeholder="请选择"
    width="160px"
    [useStatistics]="true"
    (valueChange)="valueChange($event)"
></jigsaw-select>

<jigsaw-header>初始半选</jigsaw-header>
<jigsaw-select
    [data]="dataListWithoutDisabled"
    [(value)]="selectedOption"
    [multipleSelect]="true"
    placeholder="请选择"
    width="160px"
    [useStatistics]="true"
    (valueChange)="valueChange($event)"
></jigsaw-select>

<jigsaw-header>普通数组</jigsaw-header>
<jigsaw-select
    [data]="arrayDataList"
    [(value)]="selectedArrayData2"
    (valueChange)="valueChange($event)"
    [multipleSelect]="true"
    placeholder="请选择"
    width="160px"
    [useStatistics]="false"
></jigsaw-select>
