<!-- ignore the following lines, they are not important to this demo -->
<jigsaw-demo-description [summary]="summary" [content]="description"></jigsaw-demo-description>

<!-- start to learn the demo from here -->
<a (click)="clearSelection()">清除选中</a>
<a (click)="toggleDisabled()" style="margin-left: 24px;">切换所有条目disabled</a>

<jigsaw-header>基本用法</jigsaw-header>
<jigsaw-select [data]="dataList" [multipleSelect]="true" placeholder="请选择" width="160px"
    (valueChange)="valueChange($event)">
</jigsaw-select>

<jigsaw-header>初始已选</jigsaw-header>
<jigsaw-select [data]="dataList" [(value)]="selectedArrayData" [multipleSelect]="true" placeholder="请选择" width="160px"
    (valueChange)="valueChange($event)">
</jigsaw-select>

<jigsaw-header>初始已选（有选项禁用）</jigsaw-header>
<jigsaw-select [data]="dataList" [(value)]="selectedArrayData3" [multipleSelect]="true" placeholder="请选择" width="160px"
    (valueChange)="valueChange($event)">
</jigsaw-select>

<jigsaw-header>结果展开</jigsaw-header>
<jigsaw-select
    [data]="dataList"
    [(value)]="selectedArrayData1"
    [multipleSelect]="true"
    placeholder="请选择"
    width="160px"
    [useStatistics]="false"
    (valueChange)="valueChange($event)"
></jigsaw-select>

<jigsaw-header>初始全选</jigsaw-header>
<jigsaw-select
    [data]="dataListWithoutDisabled"
    [(value)]="fullSelectedOption"
    [multipleSelect]="true"
    placeholder="请选择"
    width="160px"
    [useStatistics]="true"
    (valueChange)="valueChange($event)"
></jigsaw-select>

<jigsaw-header>初始半选</jigsaw-header>
<jigsaw-select
    [data]="dataListWithoutDisabled"
    [(value)]="selectedOption"
    [multipleSelect]="true"
    placeholder="请选择"
    width="160px"
    [useStatistics]="true"
    (valueChange)="valueChange($event)"
></jigsaw-select>

<jigsaw-header>普通数组</jigsaw-header>
<jigsaw-select
    [data]="arrayDataList"
    [(value)]="selectedArrayData2"
    (valueChange)="valueChange($event)"
    [multipleSelect]="true"
    placeholder="请选择"
    width="160px"
    [useStatistics]="false"
></jigsaw-select>

<jigsaw-header>初始全选（文本数组）</jigsaw-header>
<jigsaw-select
    [data]="textDataList"
    [(value)]="textValueList"
    (valueChange)="valueChange($event)"
    [multipleSelect]="true"
    placeholder="请选择"
    width="330px"
    [useStatistics]="false"
></jigsaw-select>
