$header-prefix-cls: #{$jigsaw-prefix}-header;

.#{$header-prefix-cls}-host {
    display: flex;
    color: $font-color-heading;

    &.#{$header-prefix-cls}-level-1 {
        .#{$header-prefix-cls}-content {
            display: flex;
            align-items: center;
            font-size: $font-title-lg;
            font-weight: bold;
            color: inherit;
            line-height: 32px;
        }
    }

    &.#{$header-prefix-cls}-level-2 {
        .#{$header-prefix-cls}-content {
            position: relative;
            display: flex;
            align-items: center;
            font-size: $font-title-med;
            font-weight: bold;
            color: inherit;
            line-height: 22px;

            &::before {
                content: "";
                margin-right: 3px;
                width: 3px;
                height: $font-title-med;
                vertical-align: sub;
                background: $brand-default;
            }
        }
    }

    &.#{$header-prefix-cls}-level-3 {
        .#{$header-prefix-cls}-content {
            display: flex;
            align-items: center;
            font-size: $font-title-sm;
            font-weight: bold;
            color: inherit;
            line-height: 18px;
        }
    }
}
