<!-- ignore the following lines, they are not important to this demo -->
<jigsaw-demo-description [summary]="summary" [content]="description">
</jigsaw-demo-description>


<!-- start to learn the demo from here -->
<jigsaw-header>明、暗两种主题的Tooltip</jigsaw-header>
<p style="margin: 16px 0">提示可以切换总体色系来查看这两种主题在不同色系下的效果</p>

<jigsaw-button jigsawTooltipPosition="top" [jigsawTooltip]="'这是一个浅色的的Tooltip'"
               [jigsawTooltipTheme]="'light'">
    浅色Tooltip（鼠标Hover看效果）
</jigsaw-button>
<jigsaw-button jigsawTooltipPosition="top" [jigsawTooltip]="'这是一个深色的的Tooltip'"
               [jigsawTooltipTheme]="'dark'">
    深色Tooltip（鼠标Hover看效果）
</jigsaw-button>
