<!-- ignore the following lines, they are not important to this demo -->
<jigsaw-demo-description [summary]="summary" [content]="description">
</jigsaw-demo-description>


<!-- start to learn the demo from here -->
<h4>1. 基本滑动条,滑动事件变化. </h4>
<jigsaw-switch [(checked)]="disabled" size="small"></jigsaw-switch>
<jigsaw-slider [(value)]="value1" [disabled]="disabled" (change)="sliderChange($event)" min="10" width="200"></jigsaw-slider>
<span> 取值: {{value1}}</span>
<hr>
<br>
<h4>2. 设置了min和max的滑动条</h4>
<jigsaw-slider style="margin: 20px 0; " [value]="value" [min]="min" [max]="max"
               (change)="sliderChange2($event)"></jigsaw-slider> <span>取值: {{value2}}</span>
<hr>
<br>
<h4>3. 改变step</h4>
<jigsaw-slider [value]="valueStep" min="0" max="2" step="0.01" (change)="sliderChange3($event)"></jigsaw-slider>
<span>取值: {{value3}}</span>

<hr>
<br>
<h4>4. 双触点滑动条</h4>
<jigsaw-slider [(value)]="rangeValue" (change)="handleValueChange($event)"></jigsaw-slider>

<hr>
<br>
<h4>5. mark 节点.</h4>
<jigsaw-slider [marks]="marks" [value]="50"></jigsaw-slider>

<hr>
<br>
<h4>6. 垂直滑动条.</h4>
<jigsaw-slider [value]="rangeValue2" [vertical]="vertical" class="vertical"
               style="height: 240px; width: 60px;"></jigsaw-slider>

<jigsaw-slider #slider [value]="120" [marks]="marks2" min="20" [vertical]="vertical"
               class="vertical3"></jigsaw-slider>
