$green: #8fbc8f;

$blue: #108ee9;
$blue-light: lighten($blue, 10%);
$blue-shadow: lighten($blue, 40%);
$blue-hover: lighten($blue, 46%);

$orange: #FFA500;
$orange-light: lighten($orange, 10%);
$orange-shadow: lighten($orange, 40%);
$orange-hover: lighten($orange, 46%);

$gray: #d9d9d9;
$gray-light: lighten($gray, 11%);
$gray-dark: darken($gray, 30%);
$gray-dark-20: darken($gray, 20%);

$font-default: rgba(0, 0, 0, 0.65);
$font-light: rgba(0, 0, 0, 0.25);

$white: #FFF;