.demo-container .jigsaw-header-host:not(:first-of-type) {
    margin-top: 20px;
}

.demo-container {
    width: calc(100vw - 360px);
    position: relative;
    height: 400px;
    padding: 0 16px;
    background: var(--bg-container);
    box-shadow: 0 1px 2px hsla(0, 0%, 0%, 0.2);
}

.tab-content {
    height: 120px;
    margin: 0 16px;
}
