<jigsaw-combo-select [(value)]="singleTimeComboValue" width="100px">
    <ng-template>
        <jigsaw-time
            [(date)]="date"
            (dateChange)="handleDateChange($event)">
        </jigsaw-time>
    </ng-template>
</jigsaw-combo-select>
Selected Time : {{date}}<br><br>


<jigsaw-combo-select [(value)]="rangeTimeComboValue">
    <ng-template>
        <jigsaw-range-time
            [(beginDate)]="beginDate"
            [(endDate)]="endDate"
            (change)="handleRangeDateChange()">
        </jigsaw-range-time>
    </ng-template>
</jigsaw-combo-select>
Selected Time : {{beginDate}} - {{endDate}}
