<a *ngIf="isLinkButton"
    [ngClass]="{'icon-position-left':iconPosition=='left',
                'icon-position-top':iconPosition=='top',
                'icon-position-right':iconPosition=='right',
                'icon-position-bottom':iconPosition=='bottom'}"
    [href]="_$secureUrl" [target]="target" [title]="title">
    <i [ngClass]="icon" [ngStyle]="{'font-size.px':iconSize, 'color':iconColor}"></i>
    <span *ngIf="!!text"
        [ngClass]="{'text-padding-left':iconPosition=='left',
                    'text-padding-top':iconPosition=='top',
                    'text-padding-right':iconPosition=='right',
                    'text-padding-bottom':iconPosition=='bottom'}"
        [ngStyle]="{'font-size.px':textSize, 'color':textColor}">{{text | translate}}</span>
</a>
<div *ngIf="!isLinkButton"
    [ngClass]="{'icon-position-left':iconPosition=='left',
                'icon-position-top':iconPosition=='top',
                'icon-position-right':iconPosition=='right',
                'icon-position-bottom':iconPosition=='bottom'}"
    [title]="title">
    <i [ngClass]="icon" [ngStyle]="{'font-size.px':iconSize, 'color':iconColor}"></i>
    <span *ngIf="!!text"
        [ngClass]="{'text-padding-left':iconPosition=='left',
                    'text-padding-top':iconPosition=='top',
                    'text-padding-right':iconPosition=='right',
                    'text-padding-bottom':iconPosition=='bottom'}"
        [ngStyle]="{'font-size.px':textSize, 'color':textColor}">{{text | translate}}</span>
</div>
