$icon-prefix-cls: #{$jigsaw-prefix}-icon;
$jigsaw-status: #{$jigsaw-prefix}-status;

.#{$icon-prefix-cls}-host {
    @include inline-block();
    color: $font-color-default;
    line-height: 1;
    overflow: hidden;
    a:link,
    a:visited,
    a:hover,
    a:active {
        text-decoration: none;
        color: $font-color-brand;
    }

    &.#{$icon-prefix-cls}-disabled {
        pointer-events: none;
        a:link,
        a:visited,
        a:hover,
        a:active,
        div {
            text-decoration: none;
            i, span {
                color: $font-color-disabled !important;
            }
        }
    }
}

.icon-position-left {
    display: flex;
    align-items: center;
    flex-direction: row;
    align-content: flex-start;
}

.icon-position-right {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    align-content: flex-start;
}

.icon-position-top {
    display: flex;
    align-items: center;
    flex-direction: column;
    align-content: flex-start;

    >i {
        margin-bottom: 4px;
    }
}

.icon-position-bottom {
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    align-content: flex-start;

    >i {
        margin-top: 4px;
    }
}

.text-padding-left {
    padding-left: 2px;
    margin-left: 0;
}

.text-padding-right {
    padding-right: 2px;
    margin-right: 0;
}

.text-padding-top {
    padding-top: 0;
    margin-top: 0;
    line-height: 1;
}

.text-padding-top {
    padding-bottom: 0;
    margin-bottom: 0;
    line-height: 1;
}

.#{$jigsaw-status}-success,
.#{$jigsaw-status}-warning,
.#{$jigsaw-status}-error,
.#{$jigsaw-status}-finish,
.#{$jigsaw-status}-disabled,
.#{$jigsaw-status}-process,
.#{$jigsaw-status}-custom {
    i {
        margin: 0 4px;
    }
}

.#{$jigsaw-status}-process {
    i::before {
        border-radius: 50%;
        animation: jigsaw-status-process-animation 1.2s 0.6s cubic-bezier(0.25, 0.1, 0.25, 1) infinite;
    }
}

@keyframes jigsaw-status-process-animation {
    0% {
        box-shadow: 0px 0px 0px 0px #6e7feb80;
    }

    100% {
        box-shadow: 0px 0px 0px 5px #6e7feb00;
    }
}
