@import "../../assets/scss/core/base";

$box-prefix-cls: #{$jigsaw-prefix}-box;
$flex-prefix-cls: #{$jigsaw-prefix}-flex;

.#{$box-prefix-cls} {
    @include clearfix();
    display: block;
    flex: 1 0 0;
    overflow: auto;
    &-relative {
        position: relative;
        display: block;
        width: 0;
        height: 0;
    }
    &-resize-line {
        position: absolute;
        width: 0;
        height: 100%;
        left: 0;
        top: 0;
        border: {
            left: 2px dashed transparent;
            top: none;
        }
        &:hover, &.#{$box-prefix-cls}-resizing {
            cursor: e-resize;
            border-left-color: $text-color;
        }
        &-column {
            width: 100%;
            height: 0;
            border: {
                left: none;
                top: 2px dashed transparent;
            }
            &:hover, &.#{$box-prefix-cls}-resizing {
                cursor: n-resize !important;
                border-top-color: $text-color;
            }
        }
    }
}

.#{$flex-prefix-cls} {
    display: flex;
    &:after {
        content: normal;
    }
}
