@import "../../assets/scss/core/base";

$box-prefix-cls: #{$jigsaw-prefix}-box;
$flex-prefix-cls: #{$jigsaw-prefix}-flex;

.#{$box-prefix-cls} {
    @include clearfix();
    display: block;
    flex: 1 0 0;
    &-fixed {
        overflow: hidden;
    }
}

.#{$flex-prefix-cls} {
    display: flex;
    &:after {
        content: normal;
    }
}
