@import "../../assets/scss/core/base";

$box-prefix-cls: #{$jigsaw-prefix}-box;
$flex-prefix-cls: #{$jigsaw-prefix}-flex;

.#{$box-prefix-cls} {
    @include clearfix();
    display: block;
    flex: 1 0 0;
    overflow: auto;
    &-relative {
        position: relative;
        display: block;
        width: 0;
        height: 0;
    }
    &-resize-line {
        position: absolute;
        width: 2px;
        height:100%;
        left: 0;
        top: 0;
        background: red;
        &:hover {
            cursor: e-resize;
        }
        &-column {
            width: 100%;
            height: 2px;
            &:hover {
                cursor: n-resize !important;
            }
        }
    }
    &-resizing-line{
        background: blue;
    }
}

.#{$flex-prefix-cls} {
    display: flex;
    &:after {
        content: normal;
    }
}
