<demo-template [data]="''" [text]="text['text']['type']">
    <jigsaw-header [level]="2">标签式</jigsaw-header>
    <jigsaw-tabs-bar [data]="tabBarData" style="margin-bottom: 20px"></jigsaw-tabs-bar>
    <jigsaw-tabs-bar [data]="tabBarData2" style="margin-bottom: 20px"></jigsaw-tabs-bar>
    <br>

    <jigsaw-header [level]="2">页签式</jigsaw-header>
    <jigsaw-tabs-bar [data]="tabBarData" [tabType]="'page'" style="margin-bottom: 20px"></jigsaw-tabs-bar>
    <jigsaw-tabs-bar [data]="tabBarData2" [tabType]="'page'"></jigsaw-tabs-bar>
</demo-template>
