<demo-template sizeController="small小,medium中,large大" [(selectedSize)]="selectedSize"
               [description]="description" [demoSources]="demoSources">
    <div class="demo-showcase-v">
        <span>默认模式</span>
        <jigsaw-pagination
            widh="710px"
            [data]="pageable"
            [pageSizeOptions]="pageSizeOptions"
            [searchable]="searchable"
            [showQuickJumper]="showQuickJumper"
            [pageSizeOptions]="[2, 5, 10]"
            [size]="selectedSize.size"
            (currentChange)="getCurrentPage($event)"
            (pageSizeChange)="getPageSize($event)"
        >
        </jigsaw-pagination>
    </div>

    <div class="demo-showcase-v">
        <span>简约模式</span>
        <jigsaw-pagination
            mode="simple"
            [data]="pageableForSimple"
            [searchable]="searchable"
            [pageSizeOptions]="pageSizeOptions"
            [size]="selectedSize.size"
            (currentChange)="getCurrentPage($event)"
        >
        </jigsaw-pagination>
    </div>
</demo-template>
