<demo-template [data]="data" [(selectedLabel)]="selectedLabel" [text]="doc.text.bigData" [codes]="doc.codes.bigData">
    <!-- start to learn the demo from here -->
    <div class="demo-showcase-v">
        <span>默认模式</span>
        <jigsaw-pagination
            [data]="pageable"
            [pageSizeOptions]="pageSizeOptions"
            [searchable]="searchable"
            [showQuickJumper]="showQuickJumper"
            [pageSizeOptions]="[2, 5, 10]"
            (currentChange)="getCurrentPage($event)"
            (pageSizeChange)="getPageSize($event)"
            widh="710px"
            [size]="selectedLabel.size"
        >
        </jigsaw-pagination>
    </div>

    <div class="demo-showcase-v">
        <span>简约模式</span>
        <jigsaw-pagination
            [data]="pageableForSimple"
            (currentChange)="getCurrentPage($event)"
            mode="simple"
            [searchable]="searchable"
            [pageSizeOptions]="pageSizeOptions"
            [size]="selectedLabel.size"
        >
        </jigsaw-pagination>
    </div>
</demo-template>
