<div class="m-component-menu-nav">
  <div class="g-menu-nav">
    <ul class="menu-nav-group" [perfectScrollbar]="{wheelSpeed: 0.5, minScrollbarLength: 20}">
      <li *ngFor="let group of routerGroup">
        <span>{{group.groupName}}</span>
        <ul class="menu-nav-group-child">
          <li *ngFor="let router of group.routers">
            <a class="text-overflow" routerLink="{{getUrl(router)}}" [class.active]="isSelected(router)" [title]="getRouterLabel(router)">
              {{getRouterLabel(router)}}
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
  <div class="g-component-detail">
    <router-outlet></router-outlet>
  </div>
</div>