<div class="jigsaw-transfer-wrapper">
    <div class="jigsaw-transfer-left-box jigsaw-transfer-box">
        <j-transfer-list [data]="data" [trackItemBy]="trackItemBy" [labelField]="labelField"
                         [subLabelField]="subLabelField" [searchable]="searchable"></j-transfer-list>
    </div>
    <div class="jigsaw-transfer-option-box">
        <a class="jigsaw-transfer-to-right-bar jigsaw-transfer-option-bar">
            <i class="fa fa-angle-right"></i>
        </a>
        <a class="jigsaw-transfer-to-left-bar jigsaw-transfer-option-bar">
            <i class="fa fa-angle-left"></i>
        </a>
    </div>
    <div class="jigsaw-transfer-right-box jigsaw-transfer-box">
        <j-transfer-list [data]="data" [trackItemBy]="trackItemBy" [labelField]="labelField"
                         [subLabelField]="subLabelField" [searchable]="searchable"></j-transfer-list>
    </div>
</div>

