<div class="demo-wrapper nav">
    <jigsaw-markdown [markdown]="description"></jigsaw-markdown>
    <button-bar-objects-array></button-bar-objects-array>
    <button-bar-string-array></button-bar-string-array>
    <button-bar-color-type></button-bar-color-type>
    <button-bar-icons></button-bar-icons>
    <button-bar-multiple></button-bar-multiple>
    <button-bar-set-height></button-bar-set-height>
    <button-bar-title></button-bar-title>
    <doc-template [docContent]="docContent"></doc-template>
    <doc-footer-template></doc-footer-template>
    <demo-navigation [navigationData]="navigationData"></demo-navigation>
</div>
