<div class="live-demo-wrap">
    <h2>Notification</h2>
    <div class="clearfix">
        <div class="demo-1 live-demo live-demo-block live-demo-menu">
            <h3>基本</h3>
            <p class="comment">基本用法</p>
            <jigsaw-button width="175" (click)="commonNotification()">
                打开通知提示框
            </jigsaw-button>
            <j-notification [message]="'this is content this is content this is content this is content this is content this is content'" [caption]="'This is title'" [icon]="'fa fa-star'" [buttons]="[{label: 'notification.button.yes'}, {label: 'notification.button.no'}]"></j-notification>
        </div>
    </div>
</div>
