<demo-template [description]="description" [demoSources]="demoSources">
    <div class="demo-showcase-v">
        <jigsaw-navigation-bar [title]="title" [navigationButton]="navigationButton" [logoSrc]="logoSrc"
            [logoAlt]="logoAlt" background="preset-dark">
        </jigsaw-navigation-bar>
        <jigsaw-navigation-bar [title]="title" [navigationButton]="navigationButton" [logoSrc]="logoSrc"
            [logoAlt]="logoAlt" background="preset-zte-blue">
        </jigsaw-navigation-bar>
        <jigsaw-navigation-bar [title]="title" [navigationButton]="navigationButton" [logoSrc]="logoSrc"
            [logoAlt]="logoAlt" background="green">
        </jigsaw-navigation-bar>
        <jigsaw-navigation-bar [title]="title" [navigationButton]="navigationButton" [logoSrc]="logoSrc"
            [logoAlt]="logoAlt" background="linear-gradient(90deg, #e66465, #9198e5)">
        </jigsaw-navigation-bar>
    </div>
</demo-template>