@import "../../common/assets/scss/core/base";

$icon-prefix-cls: #{$jigsaw-prefix}-icon;

.#{$icon-prefix-cls} {
    @include inline-block();
    a:link, a:visited, a:hover, a:active {
        text-decoration: none;
        color: #008fd4;
    }
}

.icon-position-left {
    display: flex;
    align-items: center;
    flex-direction: row;
    align-content: flex-start;
}

.icon-position-top {
    display: flex;
    align-items: center;
    flex-direction: column;
    align-content: flex-start;
}

.text-padding-left {
    padding-left: 2px;
    margin-left:0;
}

.text-padding-top {
    padding-top: 0;
    margin-top: 0;
    line-height: 1;
}
