<div class="demo-wrapper nav">
    <jigsaw-markdown [markdown]="description"></jigsaw-markdown>
    <table-renderer-cell-render></table-renderer-cell-render>
    <table-renderer-cell-select-renderer></table-renderer-cell-select-renderer>
    <table-renderer-html-renderer></table-renderer-html-renderer>
    <table-renderer-renderer></table-renderer-renderer>
    <table-renderer-header-render></table-renderer-header-render>
    <table-renderer-template-ref-renderer></table-renderer-template-ref-renderer>
    <table-renderer-switch-renderer></table-renderer-switch-renderer>
    <table-renderer-checkbox-column></table-renderer-checkbox-column>
    <table-renderer-checkbox-column-object-cell></table-renderer-checkbox-column-object-cell>
    <table-renderer-checkbox-column-pageable></table-renderer-checkbox-column-pageable>
    <table-renderer-cell-editable></table-renderer-cell-editable>
    <table-renderer-cell-editable-property></table-renderer-cell-editable-property>
    <table-renderer-mixin-table></table-renderer-mixin-table>
    <table-renderer-calendar></table-renderer-calendar>
    <table-renderer-sudoku></table-renderer-sudoku>
    <table-renderer-swim-lane-diagram></table-renderer-swim-lane-diagram>
    <doc-template [docContent]="docContent"></doc-template>
    <doc-footer-template></doc-footer-template>
    <demo-navigation [navigationData]="navigationData"></demo-navigation>
</div>