<demo-template [data]="''" [text]="doc.text.basic" [codes]="doc.codes.basic">
    <!-- start to learn the demo from here -->
    <div class="demo-showcase-v">
        <span>正常</span>
        <jigsaw-textarea #myTextarea width="400px" height="100px" [(value)]="textareaValue" placeholder="basic demo">
        </jigsaw-textarea>
        <p class="notes">
            输入值是：<span id="bind-property">{{ textareaValue }}</span>
        </p>
    </div>

    <div class="demo-showcase-v">
        <span>禁用</span>
        <jigsaw-textarea [disabled]="true"></jigsaw-textarea>
    </div>

    <div class="demo-showcase-v">
        <span>校验</span>
        <jigsaw-textarea #textarea [valid]="textarea.value.length > 2" placeholder="输入至少3个字符"> </jigsaw-textarea>
    </div>
</demo-template>
