<!-- ignore the following lines, they are not important to this demo -->
<jigsaw-demo-description [summary]="summary" [content]="description">
</jigsaw-demo-description>


<!-- start to learn the demo from here -->
<div class="live-demo-wrap">
    <h2>Input</h2>

    <div class="clearfix">
        <div class="demo-1 live-demo live-demo-block">
            <h3>属性设置</h3>
            <p class="comment">使用控件的输入输出属性，设定图标并监听点击事件</p>
            <jigsaw-input width="100%" [preIcon]="preIcons" [icon]="backIcon" (preIconSelect)="iconClick($event, 'pre')"
                          (iconSelect)="iconClick($event, 'back')"></jigsaw-input>
            Click info: {{message}}
        </div>

        <div class="demo-2 live-demo live-demo-block">
            <h3>模板设置</h3>
            <p class="comment">通过设置一段HTML模板来设定图标</p>
            <jigsaw-input #myInput1 width="100%" placeholder="请输入姓名~">
                <a jigsaw-prefix-icon (click)="click()"><span class="fa fa-search"></span></a>
                <a jigsaw-prefix-icon (click)="click()"><span class="fa fa-save" style="margin-left: 10px;"></span></a>
                <a jigsaw-icon (click)="click()"><span class="fa fa-question"></span></a>
            </jigsaw-input>
        </div>
    </div>
</div>










