<!-- ignore the following lines, they are not important to this demo -->
<jigsaw-demo-description [summary]="summary" [content]="description">
</jigsaw-demo-description>


<!-- start to learn the demo from here -->
<div class="wrap">
    <jm-button (click)="popupBlockLoading()">popupBlockLoading</jm-button>
    <jm-button (click)="closeBlockLoading()">closeBlockLoading</jm-button>
    <div #block class="block">
        <div>
            <p>这里需要一段文字，虽然我认真写了，但是估计没多少人会仔细看。</p>
            <p>这里需要一段文字，虽然我认真写了，但是估计没多少人会仔细看。</p>
            <p>这里需要一段文字，虽然我认真写了，但是估计没多少人会仔细看。</p>
            <p>这里需要一段文字，虽然我认真写了，但是估计没多少人会仔细看。</p>
            <p>这里需要一段文字，虽然我认真写了，但是估计没多少人会仔细看。</p>
            <p>这里需要一段文字，虽然我认真写了，但是估计没多少人会仔细看。</p>
            <p>这里需要一段文字，虽然我认真写了，但是估计没多少人会仔细看。</p>
            <p>这里需要一段文字，虽然我认真写了，但是估计没多少人会仔细看。</p>
            <p>这里需要一段文字，虽然我认真写了，但是估计没多少人会仔细看。</p>
            <p>这里需要一段文字，虽然我认真写了，但是估计没多少人会仔细看。</p>
            <p>这里需要一段文字，虽然我认真写了，但是估计没多少人会仔细看。</p>
            <p>这里需要一段文字，虽然我认真写了，但是估计没多少人会仔细看。</p>
            <p>这里需要一段文字，虽然我认真写了，但是估计没多少人会仔细看。</p>
        </div>
    </div>

    <jm-button (click)="popupGlobalLoading()">popupGlobalLoading</jm-button><br><br>

    <jigsaw-mobile-button (click)="startToLoad()" height="32px">
        <jigsaw-bubble-loading *ngIf="isLoading" width="16px" height="16px" color="blue"></jigsaw-bubble-loading>
        <span style="padding-left: 5px">{{label}} </span>
    </jigsaw-mobile-button>
</div>
