<div class="rdk-select-box">
    <div class="rdk-select" [class.rdk-select-opened]="!_optionListHidden">
        <span [hidden]="_selectedLabel">{{placeholder}}</span>{{_selectedLabel}}
        <span class="rdk-select-icon-down fa fa-angle-down"></span>
    </div>
    <div class="rdk-option-list rdk-option-hidden" rdk-scroll-bar scrollBarAxis="y" [width]="optionWidth"
         [height]="optionHeight" [class.rdk-option-hidden]="_optionListHidden">
        <ng-content></ng-content>
        <rdk-select-option *ngFor="let optionItem of data" [optionItem]="optionItem"></rdk-select-option>
    </div>
</div>
