<!-- ignore the following lines, they are not important to this demo -->
<jigsaw-demo-description [summary]="summary" [content]="description">
</jigsaw-demo-description>


<!-- start to learn the demo from here -->
<div class="live-demo-wrap">
    <jigsaw-mobile-header [level]="1">热力图</jigsaw-mobile-header>

    <div class="live-demo">
        <jigsaw-mobile-header [level]="2">HeatGraphData静态数据</jigsaw-mobile-header>
        <jigsaw-mobile-graph [data]="heatData" height="400" (click)="handleClick($event)"></jigsaw-mobile-graph>
    </div>

    <div class="live-demo">
        <jigsaw-mobile-header [level]="2">HeatGraphData异步数据</jigsaw-mobile-header>
        <jigsaw-mobile-graph [data]="heatFromAjax" height="400" (click)="handleClick($event)"></jigsaw-mobile-graph>
    </div>
</div>









