
.demo-container .demo-container >* {
    margin-bottom: 5px;
}

.demo-container .ribbon-content {
    width: 387px;
    height: 109px;
    border:1px solid var(--border-color-default);
    background-color: var(--bg-container);
    border-radius: 4px;
    margin: auto;
    text-align: center;
    line-height: 109px;
}

.demo-container .ribbon-wrapper {
    width: 450px;
    height: 160px;
    background-color: var(--bg-component-darken);
    display:flex;
    align-items:center;
    justify-content:center;
}
