<!-- ignore the following lines, they are not important to this demo -->
<jigsaw-demo-description [summary]="summary" [content]="description"> </jigsaw-demo-description>

<div class="demo-container">
    <label>勋带内容:</label>
    <jigsaw-input id="test-input" [(value)]="inputValue" placeholder="勋带内容">
    </jigsaw-input><br>
    <label>勋带偏移量:</label>
    <j-numeric-input [(value)]="offset"  max="15" placeholder="勋带长度"></j-numeric-input><br>
    <label>颜色：</label>
    <jigsaw-color-select [enableOpacity]="false" [(color)]="color"  width="40"></jigsaw-color-select><br>
    <label>勋带位置:</label>
    <jigsaw-button-bar [data]="['rightTop','rightBottom','leftTop','leftBottom','top', 'bottom', 'center']" [(selectedItems)]="selectedPosition">
    </jigsaw-button-bar><br>
    <label>勋带大小：</label>
    <jigsaw-button-bar [data]="['small','normal','large']" [(selectedItems)]="selectedSize">
    </jigsaw-button-bar><br><br>
    <label>悬浮手指：</label>
    <jigsaw-switch id="set-middle-state" [(checked)]="enablePointerCursor"></jigsaw-switch><br>
    <div jigsaw-ribbon [jigsawRibbonValue]="inputValue" [jigsawPositionOffset]="offset"  [jigsawRibbonPosition]="selectedPosition[0]"
        [jigsawRibbonSize]="selectedSize[0]"  [jigsawRibbonPointerCursor]="enablePointerCursor" [jigsawRibbonColor]="color">xxxxxxxxxxxxxxxxxxxx</div>
</div>
