<div
    class="jigsaw-textarea-container"
    [ngClass]="{'jigsaw-textarea-focused': focused}"
>
    <textarea
        #textarea
        [placeholder]="placeholder"
        [(ngModel)]="value"
        [disabled]="disabled"
        (focus)="_$handleFocus($event)"
        (blur)="_$handleBlur($event)"
    >
    </textarea>
    <div class="jigsaw-textarea-icon-end">
        <span *ngIf="clearable && !disabled && !!value" (click)="_$clearValue()" class="jigsaw-textarea-clear-bar">
            &times;
        </span>
    </div>
    <div class="jigsaw-textarea-statistics" *ngIf="maxLength">
        <span class="jigsaw-textarea-content">{{_$currentLength}}/{{maxLength}}</span>
    </div>
</div>
