$jigsaw-textarea: #{$jigsaw-prefix}-textarea;

.#{$jigsaw-textarea}-host {
    @include inline-block();
    position: relative;
    line-height: 1.2;
    font-size: $font-size-base;
    border-radius: $border-radius-base;

    &.#{$jigsaw-textarea}-hide-border {
        .#{$jigsaw-textarea}-container {
            border-color: $bg-transparent;
        }
    }


    .#{$jigsaw-textarea}-icon-end {
        position: absolute;
        left: 2px;
        top: 0;
        line-height: 1;
    }

    textarea {
        resize: none;
        box-shadow: none;
        outline: none;
        border: none;
        width: 100%;
        height: 100%;
        min-width: 120px;
        min-height: 40px;
        padding: 10px;
        color: $font-color-default;
        background: $bg-transparent;
        border-radius: $border-radius-base;
    }

    &.#{$jigsaw-textarea}-resize-vertical {
        height: auto !important;
        textarea {
            resize: vertical;
        }
    }

    &.#{$jigsaw-textarea}-resize-horizontal {
        width: auto !important;
        textarea {
            resize: horizontal;
        }
    }

    &.#{$jigsaw-textarea}-resize-both {
        width: auto !important;
        height: auto !important;
        textarea {
            resize: both;
        }
    }

    .#{$jigsaw-textarea}-container {
        width: 100%;
        height: 100%;
        background: $bg-transparent;
        border: 1px solid $border-color-default;
        border-radius: $border-radius-base;
        @include prefixer(transition, border 0.3s $ease-in-out);

        &:hover {
            border-color: $brand-default;
        }

        &.#{$jigsaw-textarea}-focused {
            border-color: $brand-default;
        }
    }

    &.#{$jigsaw-textarea}-error .#{$jigsaw-textarea}-container {
        border: 1px solid $error-default;

        &:hover {
            border: 1px solid $error-default;
        }
    }

    &.#{$jigsaw-textarea}-disabled .#{$jigsaw-textarea}-container {
        color: $font-color-disabled-spec;
        background-color: $bg-disabled;
        border-color: $border-color-disabled;

        &:hover {
            border-color: $border-color-disabled;
        }

        textarea {
            background-color: $bg-disabled;
        }
    }

    textarea::-webkit-textarea-placeholder {
        color: $font-color-hint;
    }

    textarea:-ms-textarea-placeholder {
        color: $font-color-hint;
    }

    textarea:-moz-placeholder {
        color: $font-color-hint;
    }

    .#{$jigsaw-textarea}-clear-bar {
        color: $icon-color-stress;
        font-size: 13px;
        line-height: 1;
        cursor: pointer;

        &:hover {
            color: $brand-default;
        }

        &[hidden] {
            display: none !important;
        }
    }

    .#{$jigsaw-textarea}-statistics {
        display: flex;
        justify-content: flex-end;

        .#{$jigsaw-textarea}-content {
            color: $font-color-hint;
            font-size: $font-size-base;
            font-weight: normal;
            margin: 0 3px 3px 0;
        }
    }
}
