<!-- ignore the following lines, they are not important to this demo -->
<jigsaw-demo-description [summary]="summary" [content]="description">
</jigsaw-demo-description>


<!-- start to learn the demo from here -->
<jigsaw-tag [closable]="false">111111</jigsaw-tag>
<jigsaw-tag [closable]="true" (close)="handleClose($event)" id="jigsaw-tag2">222222</jigsaw-tag>
<jigsaw-tag [closable]="true" (close)="handleClose($event)">wdffrrghhttt3dd2222222fffffff55ffferrrrr</jigsaw-tag>
<j-button (click)="showAllTags()">show all tags</j-button>
<br><br>
<jigsaw-tag color="#008fd4">中兴蓝</jigsaw-tag>
<jigsaw-tag color="#54acd5">#54acd5</jigsaw-tag>
<jigsaw-tag color="#f99660">#f99660</jigsaw-tag>
<jigsaw-tag color="#85c56c">#85c56c</jigsaw-tag>
<jigsaw-tag color="#ec6d6d">#ec6d6d</jigsaw-tag>
<jigsaw-tag color="#f7b913">#f7b913</jigsaw-tag>
<jigsaw-tag color="#8ac9b6">#8ac9b6</jigsaw-tag>
<jigsaw-tag color="#bea5c8">#bea5c8</jigsaw-tag>
<jigsaw-tag color="#01c5c2">#01c5c2</jigsaw-tag>
<jigsaw-tag color="#a17660">#a17660</jigsaw-tag>


