<demo-template [data]="data" [(selectedLabel)]="selectedLabel" [text]="text['text']['basic']">
    <section>
        <jigsaw-tag [closable]="false" [size]="selectedLabel.size">Tag 1</jigsaw-tag>
        <jigsaw-tag [closable]="true" (close)="handleClose($event)" id="jigsaw-tag2" [size]="selectedLabel.size">Tag 2</jigsaw-tag>
        <jigsaw-tag [closable]="true" (close)="handleClose($event)" [size]="selectedLabel.size">
            A very very very very very very very long tag
        </jigsaw-tag>
        <j-button (click)="resetAllTags()">Reset all tags</j-button>
    </section>

    <p style="color:#fff; margin-top:20px;">
        <jigsaw-tag color="#008fd4" [size]="selectedLabel.size">中兴蓝</jigsaw-tag>
        <jigsaw-tag color="#54acd5" [size]="selectedLabel.size">#54acd5</jigsaw-tag>
        <jigsaw-tag color="#f99660" [size]="selectedLabel.size">#f99660</jigsaw-tag>
        <jigsaw-tag color="#85c56c" [size]="selectedLabel.size">#85c56c</jigsaw-tag>
        <jigsaw-tag color="#ec6d6d" [size]="selectedLabel.size">#ec6d6d</jigsaw-tag>
        <jigsaw-tag color="#f7b913" [size]="selectedLabel.size">#f7b913</jigsaw-tag>
        <jigsaw-tag color="#8ac9b6" [size]="selectedLabel.size">#8ac9b6</jigsaw-tag>
        <jigsaw-tag color="#bea5c8" [size]="selectedLabel.size">#bea5c8</jigsaw-tag>
        <jigsaw-tag color="#01c5c2" [size]="selectedLabel.size">#01c5c2</jigsaw-tag>
        <jigsaw-tag color="#a17660" [size]="selectedLabel.size">#a17660</jigsaw-tag>
    </p>
    <p style="color:#fff; margin-top:20px;">
        <jigsaw-tag [color]="null" [size]="selectedLabel.size">非法值1</jigsaw-tag>
        <jigsaw-tag [color]="112233" [size]="selectedLabel.size">非法值2</jigsaw-tag>
        <jigsaw-tag [color]="{}" [size]="selectedLabel.size">非法值3</jigsaw-tag>
    </p>
</demo-template>
