$jigsaw-fish-bone: #{$jigsaw-prefix}-fish-bone;

/* jigsaw-fish-bone 鱼骨host class*/
.#{$jigsaw-fish-bone}-host {
    @include inline-block();
    width: 100%;
    height: 400px;
    background: $bg-body;
    color: $font-color-default;

    .#{$jigsaw-fish-bone}-head p:before,
    .#{$jigsaw-fish-bone}-main {
        background: $font-color-white-darken;
    }

    /* jigsaw-fish-bone-main 鱼骨中轴横线*/
    .#{$jigsaw-fish-bone}-main {
        position: absolute;
        left: 146px;
        top: 200px;
        height: 4px;
        background: $font-color-white-darken;
    }

    .#{$jigsaw-fish-bone}-framework {
        width: 100%;
        height: 100%;
    }

    .#{$jigsaw-fish-bone}-range {
        position: relative;
        overflow: hidden;
    }

    /* jigsaw-fish-bone-up jigsaw-fish-bone-down 一个鱼骨树在上面还是在下面，放在最外层的节点上 */
    .#{$jigsaw-fish-bone}-up > .#{$jigsaw-fish-bone}-item-content {
        top: -16px;
    }

    .#{$jigsaw-fish-bone}-down > .#{$jigsaw-fish-bone}-item-content {
        top: 6px;
    }

    .#{$jigsaw-fish-bone}-head,
    .#{$jigsaw-fish-bone}-foot {
        position: absolute;
    }

    .#{$jigsaw-fish-bone}-head {
        left: 0;
        transform: translate(-104%, -50%) rotateY(180deg) translate3d(0, 0, 0);
        p {
            position: absolute;
            width: 75%;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%) rotateY(180deg) translate3d(0, 0, 0);
            max-height: 44px;
            line-height: 1.2;
            text-align: center;
            &:before {
                position: absolute;
                left: 30%;
                top: -16px;
                width: 15px;
                height: 15px;
                border-radius: 50%;
                content: "";
            }
        }
    }

    .#{$jigsaw-fish-bone}-foot {
        right: 0;
        transform: translate(104%, -46%) rotateY(180deg) translate3d(0, 0, 0);
    }

    /* jigsaw-fish-bone-left jigsaw-fish-bone-left 鱼骨方向标识，放在host上*/
    &.#{$jigsaw-fish-bone}-left {
    }

    &.#{$jigsaw-fish-bone}-right {
        .#{$jigsaw-fish-bone}-head {
            p {
                transform: translate(-50%, -50%) rotateY(0deg) translate3d(0, 0, 0);
            }
        }
        .#{$jigsaw-fish-bone}-range {
            transform: rotateY(180deg) translate3d(0, 0, 0);
            .#{$jigsaw-fish-bone}-item-content {
                transform: rotateY(180deg) translate3d(0, 0, 0);
            }
            .#{$jigsaw-fish-bone}-item-description {
                transform: translateX(-50%) rotateY(180deg) translate3d(0, 0, 0);
            }
        }
    }

    .#{$jigsaw-fish-bone}-item {
        background: $font-color-white-darken;
    }
}
