<demo-template [sizeController]="null" [description]="description" [demoSources]="demoSources">
    <!-- start to learn the demo from here -->
    <div class="demo-showcase-v">
        <span>StripGraphData静态数据</span>
        <jigsaw-graph [data]="stripData" height="300" (click)="handleClick($event)"></jigsaw-graph>
    </div>
    <div class="demo-showcase-v">
        <span>StripSequenceGraphData静态数据</span>
        <jigsaw-graph [data]="stripSequenceData" height="300" (click)="handleClick($event)"></jigsaw-graph>
    </div>
    <div class="demo-showcase-v">
        <span>StripSequenceGraphData静态数据</span>
        <jigsaw-graph [data]="stripColorData" (click)="handleClick($event)"></jigsaw-graph>
    </div>
</demo-template>
