.box-cntr {
    background: #eeeeee;
}

.box-child {
    border: 1px dashed var(--border-color-default);
    font-size: 20px;
    font-weight: bold;
}

.box-parent:nth-of-type(1) .box-child:nth-of-type(1),
.box-parent:nth-of-type(3) .box-child:nth-of-type(3),
.box-parent:nth-of-type(3) .box-child:nth-of-type(4) {
    background: #7fe3de;
}

.box-parent:nth-of-type(1) .box-child:nth-of-type(2),
.box-parent:nth-of-type(3) .box-child:nth-of-type(2) {
    background: #94d2ff;
}

.box-parent:nth-of-type(1) .box-child:nth-of-type(3),
.box-parent:nth-of-type(3) .box-child:nth-of-type(1) {
    background: #ffaaa6;
}

.box-parent:nth-of-type(2) .box-child:nth-of-type(1) {
    background: #acb9fa;
}

.box-parent:nth-of-type(2) .box-child:nth-of-type(2) {
    background: #faee87;
}