<!-- ignore the following lines, they are not important to this demo -->
<jigsaw-demo-description [summary]="summary" [content]="description">
</jigsaw-demo-description>

<!-- start to learn the demo from here -->
<ul class="demo-options">
    <li class="demo-options-item">
        <span>是否显示：</span>
        <jigsaw-switch [(checked)]="showBox1" onLabel="Box1" offLabel="Box1"></jigsaw-switch>
        <jigsaw-switch [(checked)]="showBox2" onLabel="Box2" offLabel="Box2"></jigsaw-switch>
        <jigsaw-switch [(checked)]="showBox3" onLabel="Box3" offLabel="Box3"></jigsaw-switch>
    </li>
    <li class="demo-options-item">
        <span>是否锁定grow：</span>
        <jigsaw-switch [(checked)]="disableGrow1" onLabel="Box1" offLabel="Box1"></jigsaw-switch>
        <jigsaw-switch [(checked)]="disableGrow2" onLabel="Box2" offLabel="Box2"></jigsaw-switch>
        <jigsaw-switch [(checked)]="disableGrow3" onLabel="Box3" offLabel="Box3"></jigsaw-switch>
    </li>
</ul>

<jigsaw-box [resizable]="true" class="box-parent" height="40vh" width="80vw" gap="8">
    <jigsaw-box class="box-child" [hidden]="!showBox1" [disableGrow]="disableGrow1">
        <div>Box1</div>
    </jigsaw-box>
    <jigsaw-box class="box-child" [hidden]="!showBox2" [disableGrow]="disableGrow2" grow="4">
        <div>Box2</div>
    </jigsaw-box>
    <jigsaw-box class="box-child" [hidden]="!showBox3" [disableGrow]="disableGrow3">
        <div>Box3</div>
    </jigsaw-box>
</jigsaw-box>