<demo-template [data]="data" [(selectedLabel)]="selectedLabel" [text]="text['text']['primary']">
    <div class="demo-showcase">
        <span>正常 </span>
        <jigsaw-button colorType="primary" [preSize]="selectedLabel.size">
            确定
        </jigsaw-button>
    </div>

    <div class="demo-showcase">
        <span>禁用 </span>
        <jigsaw-button colorType="primary" [disabled]="true" [preSize]="selectedLabel.size">
            重点操作
        </jigsaw-button>
    </div>

    <div class="demo-showcase">
        <span>表单、模态框中 </span>
        <jigsaw-button colorType="primary" [preSize]="selectedLabel.size">
            确定
        </jigsaw-button>
        <jigsaw-button [preSize]="selectedLabel.size">
            取消
        </jigsaw-button>
    </div>

    <div class="demo-showcase">
        <span>步骤条 </span>
        <jigsaw-button [preSize]="selectedLabel.size">
            上一步
        </jigsaw-button>
        <jigsaw-button colorType="primary" [preSize]="selectedLabel.size">
            下一步
        </jigsaw-button>
        <jigsaw-button [preSize]="selectedLabel.size">
            取消
        </jigsaw-button>
    </div>
</demo-template>

