<!-- ignore the following lines, they are not important to this demo -->
<jigsaw-demo-description [summary]="summary" [content]="description">
</jigsaw-demo-description>


<!-- start to learn the demo from here -->
<h2>Default</h2>
<br><br><br>
<span jigsaw-cascading-menu [jigsawCascadingMenuData]="data" class="menu"
      jigsawCascadingMenuWidth="150" (jigsawCascadingMenuSelect)="menuSelect($event)">
菜单弹出
</span>

<br><br><br><br><br><br><br><br>

<h2>With Settings</h2>
<br>
皮肤
<jigsaw-auto-complete-input [(value)]="theme" placeholder="切换皮肤颜色" width="250"
                            [data]="['default', 'dark']">
</jigsaw-auto-complete-input>
<br>
<br>
<span jigsaw-cascading-menu [jigsawCascadingMenuData]="data" class="menu"
      jigsawCascadingMenuHeight="100"
      jigsawCascadingMenuMaxHeight="120"
      jigsawCascadingMenuWidth="150"
      [jigsawCascadingMenuTheme]='theme'
      (jigsawCascadingMenuSelect)="menuSelect($event)"
      (jigsawCascadingMenuOpenChange)="openChange($event)">
菜单弹出
</span>
