<div class="combo-select-demo cmn-box">
    <h3>multiple demo</h3>
    <div class="test-btn">
        <jigsaw-button width="120px" (click)="toggleMultiple()">toggle multiple</jigsaw-button>
    </div>
    <jigsaw-combo-select
        [(value)]="selectedCity"
        (valueChange)="valueChange($event)"
        [autoClose]="!multiple">
        <jigsaw-tile-select
            [(selectedItems)]="selectedCity"
            labelField="label"
            [multipleSelect]="multiple"
            [searchable]="true"
            [data]="citys"
            width="400px"
            tileOptionWidth="100px">
        </jigsaw-tile-select>
    </jigsaw-combo-select>
</div>

