<div class="jigsaw-timeline">
    <ul>
        <li *ngFor="let node of data; index as index; last as isLast" class="jigsaw-timeline-node">
            <div class="jigsaw-timeline-icon">
                <i class="iconfont iconfont-e2e3"></i>
            </div>
            <div class="jigsaw-timeline-content">
                <div *ngIf="node.title" class="jigsaw-timeline-title">{{node.title}}</div>
                <div *ngFor="let item of node.context" class="jigsaw-timeline-context">{{item}}</div>
            </div>
            <div class="jigsaw-timeline-time">
                {{node.time}}
            </div>
        </li>
    </ul>
</div>