<!-- ignore the following lines, they are not important to this demo -->
<jigsaw-demo-description [summary]="summary" [content]="description">
</jigsaw-demo-description>


<!-- start to learn the demo from here -->
<div class="live-demo-wrap">
    <jigsaw-mobile-header [level]="1">柱状图</jigsaw-mobile-header>

    <div class="live-demo">
        <jigsaw-mobile-header [level]="2">BarGraphData静态数据</jigsaw-mobile-header>
        <jigsaw-mobile-graph [data]="barData" height="400"></jigsaw-mobile-graph>
    </div>

    <div class="live-demo">
        <jigsaw-mobile-header [level]="2">BarGraphData异步数据</jigsaw-mobile-header>
        <jigsaw-mobile-graph [data]="barFromAjax" height="400"></jigsaw-mobile-graph>
    </div>

    <div class="live-demo">
        <jigsaw-mobile-header [level]="2">BarGraphDataByRow静态数据</jigsaw-mobile-header>
        <jigsaw-mobile-graph [data]="barByRow" height="400"></jigsaw-mobile-graph>
    </div>

    <div class="live-demo">
        <jigsaw-mobile-header [level]="2">BarGraphDataByRow异步数据</jigsaw-mobile-header>
        <jigsaw-mobile-graph [data]="barByRowFromAjax" height="400"></jigsaw-mobile-graph>
    </div>
</div>










