<!-- ignore the following lines, they are not important to this demo -->
<jigsaw-demo-description [summary]="summary" [content]="description">
</jigsaw-demo-description>

<h2>这是 numeric-steps 的最基础用法</h2>
<jigsaw-numeric-steps class="steps-horizontal" [data]="data" [(current)]="current"
                      (currentChange)="currentChange($event)"></jigsaw-numeric-steps>
<br>
<jigsaw-numeric-steps class="steps-vertical" [data]="data" [(current)]="current" (currentChange)="currentChange($event)"
                      direction="vertical"></jigsaw-numeric-steps>

<div>
    <span style="margin-right: 20px;">当前步骤：{{current}}</span>
    <jigsaw-button (click)="changeData()">换一批数据瞅瞅</jigsaw-button>
</div>
