$process-status-prefix-cls: #{$jigsaw-prefix}-process-status;
$process-status-multiline-prefix-cls: #{$jigsaw-prefix}-process-status-multiline;
$process-status-item-prefix-cls: #{$jigsaw-prefix}-process-status-item;

.#{$process-status-multiline-prefix-cls} {
    &-odd {
        .#{$process-status-prefix-cls}-container {
            flex-direction: row-reverse !important;

            .#{$process-status-item-prefix-cls} {
                .#{$jigsaw-prefix}-logo-line-container {
                    flex-direction: row-reverse !important;
                    .#{$jigsaw-prefix}-step-status-logo {
                        cursor: pointer;
                    }
                }

                &:nth-last-child(3) {
                    padding-right: 0px !important;
                    padding-left: 26px !important;
                    .#{$jigsaw-prefix}-step-title,
                    .#{$jigsaw-prefix}-sub-title {
                        text-align: center;
                        padding-right: 26px !important;
                        margin-right: 50% !important;
                        margin-left: 0 !important;
                    }
                }

                .#{$jigsaw-prefix}-step-title,
                .#{$jigsaw-prefix}-sub-title {
                    text-align: center;
                    margin-left: 50% !important;
                    width: 100%;
                    padding-right: 26px !important;
                    padding-left: 0px !important;
                }
            }

            .#{$process-status-item-prefix-cls}-overflow {
                visibility: hidden;
            }

            .#{$process-status-item-prefix-cls}-last {
                .#{$jigsaw-prefix}-step-line {
                    display: none;
                }
            }
        }
    }
    &-even {
        .#{$jigsaw-prefix}-logo-line-container {
            .#{$jigsaw-prefix}-step-status-logo {
                cursor: pointer;
            }
        }
        .#{$process-status-prefix-cls}-container {
            .#{$process-status-item-prefix-cls}-overflow {
                visibility: hidden;
            }

            .#{$process-status-item-prefix-cls}-last {
                .#{$jigsaw-prefix}-step-line {
                    display: none;
                }
            }
        }
    }

    &-odd.#{$process-status-prefix-cls}-size-large {
        .#{$process-status-prefix-cls}-container {
            .#{$process-status-item-prefix-cls} {
                &:nth-last-child(3) {
                    padding-left: 30px !important;
                    .#{$jigsaw-prefix}-step-title,
                    .#{$jigsaw-prefix}-sub-title {
                        padding-right: 30px !important;
                    }
                }

                .#{$jigsaw-prefix}-step-title,
                .#{$jigsaw-prefix}-sub-title {
                    padding-right: 30px !important;
                }
            }
        }
    }

    &-odd.#{$process-status-prefix-cls}-size-small {
        .#{$process-status-prefix-cls}-container {
            flex-direction: row-reverse !important;

            .#{$process-status-item-prefix-cls} {
                &:nth-last-child(3) {
                    padding-left: 20px !important;
                    .#{$jigsaw-prefix}-step-title,
                    .#{$jigsaw-prefix}-sub-title {
                        padding-right: 20px !important;
                    }
                }

                .#{$jigsaw-prefix}-step-title,
                .#{$jigsaw-prefix}-sub-title {
                    padding-right: 20px !important;
                }
            }
        }
    }

    &-title {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }
}
