@import "../../assets/scss/core/basc";

:host{
    @include inline-block;
    position: relative;
    max-width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0 20px 0 8px;
    height: 22px;
    line-height: 22px;
    border: 1px solid $border-color-base;
    border-radius: $border-radius-base;
    background: $gray-light;
    cursor: pointer;
    //transform-origin: 0 0;
    .fa{
        vertical-align: 1px;
        position: absolute;
        right: 6px;
        line-height: 22px;
    }
}
