.ne-list {
    position: relative;
    height: 76px;
    margin-bottom: 20px;
    li {
        position: absolute;
        width: 150px;
        height: 76px;
        line-height: 1.5;
        text-align: center;
        padding: 10px 0;
        background: #ffbf00;
        div {
            position: absolute;
            z-index: 9999999;
            margin: 12px 0px 0px 125px;
            overflow: visible;
            white-space: nowrap;
            background-color: #ffbf00;
        }
        &.li-0 {
            left: 125px;
        }
        &.li-1 {
            left: 325px;
        }
        &.li-2 {
            left: 525px;
        }
        &:after {
            position: absolute;
            display: block;
            content: ' ';
            height: 20px;
            border-left: 1px dashed #666;
            left: 50%;
            bottom: -20px;
        }
    }
}
