.green-text{
    color: #87d068;
}

.tool-bar {
    margin: 12px 0 12px 0;
}

hr {
    margin: 12px 0 12px 0;
}

.doc-content {
    margin-bottom: 8px;
    max-width: 800px;
}

.doc-content .list {
    list-style: circle;
    margin-left: 26px;
}
