<!-- ignore the following lines, they are not important to this demo -->
<jigsaw-demo-description [summary]="summary" [content]="description">
</jigsaw-demo-description>


<!-- start to learn the demo from here -->
<div class="live-demo-wrap">
    <h2>Time</h2>

    <div class="demo-1 live-demo">
        <h3>WeekDayStart</h3>
        <p class="commend">配置weekDayStart请参考(https://momentjs.com/docs/#/customization/dow-doy/)，请结合weekStart配置</p>
        WeekStart:
        <jigsaw-tile trackItemBy="label" [(selectedItems)]="weekStart" [multipleSelect]="false">
            <jigsaw-tile-option *ngFor="let item of weekStartList" [value]="item">{{item.label}}</jigsaw-tile-option>
        </jigsaw-tile><br><br>
        WeekDayStart:
        <jigsaw-tile trackItemBy="label" [(selectedItems)]="weekDayStart" [multipleSelect]="false">
            <jigsaw-tile-option *ngFor="let item of weekDayStartList" [value]="item">{{item.label}}</jigsaw-tile-option>
        </jigsaw-tile><br><br>

        <jigsaw-time [(date)]="date" gr="week" [weekDayStart]="weekDayStart[0].label" [weekStart]="weekStart[0].label">
        </jigsaw-time><br>

        <p class="message">Selected Time : {{date | json}}</p>
    </div>

    <div class="demo-2 live-demo">
        <h3>withCombo</h3>

        <jigsaw-combo-select [(value)]="singleTimeComboValue" width="150px">
            <ng-template>
                <jigsaw-time [(date)]="date2" (dateChange)="handleDateChange()" gr="week">
                </jigsaw-time>
            </ng-template>
        </jigsaw-combo-select>

        <p class="message">Selected Time : {{date2 | json}}</p>
    </div>
</div>

