<!-- ignore the following lines, they are not important to this demo -->
<jigsaw-demo-description [summary]="summary" [content]="description">
</jigsaw-demo-description>


<!-- start to learn the demo from here -->
<div class="live-demo-wrap">
    <h2>Box</h2>
    <div class="demo-1 live-demo">
        <h3>对齐</h3>
        <p class="comment">
            <code>direction</code>可以使用简写：<code>horizontal</code> --> <code>h</code>&nbsp;&nbsp;
            <code>horizontal-reverse</code> --> <code>hr</code>&nbsp;&nbsp;
            <code>vertical</code> --> <code>v</code>&nbsp;&nbsp;
            <code>vertical-reverse</code> --> <code>vr</code>
        </p>
        <div class="line-box">
            <label>direction(布局方向): </label>
            <j-radios [(value)]="direction">
                <j-radio-option *ngFor="let item of directionArr" [value]="item">
                    {{item}}
                </j-radio-option>
            </j-radios>
        </div>
        <div class="line-box">
            <label>justify(主轴对齐): </label>
            <j-radios [(value)]="justify">
                <j-radio-option *ngFor="let item of justifyArr" [value]="item">
                    {{item}}
                </j-radio-option>
            </j-radios>
        </div>
        <div class="line-box">
            <label>align(垂直主轴对齐): </label>
            <j-radios [(value)]="align">
                <j-radio-option *ngFor="let item of alignArr" [value]="item">
                    {{item}}
                </j-radio-option>
            </j-radios>
        </div>

        <j-box [direction]="direction" [justify]="justify" [align]="align" height="400">
            <div class="item">
                <p class="inner-content h50">box1</p>
            </div>
            <div class="item">
                <p class="inner-content h30">box2</p>
            </div>
            <div class="item">
                <p class="inner-content h80">box3</p>
            </div>
            <div class="item">
                <p class="inner-content h40">box4</p>
            </div>
        </j-box>
    </div>

    <div class="demo-2 live-demo">
        <h3>布局</h3>
        <p class="comment">
            1、关于j-box的<code>direction</code>属性：它用于设置其子级j-box是按照水平排列还是垂直排列，默认值是水平排列，
            如果需要子级垂直排列，则可以设置<code>direction="vertical"</code>。
            注意<code>vertical</code>可以简写为<code>v</code>；<br>
            2、关于j-box的<code>grow</code>属性：它用于设置其子级j-box的宽/高（取决于<code>direction</code>属性的值）占比，
            默认<code>grow</code>是1，即默认每个子级j-box会1:1均分宽/高，如需控制子级j-box的宽/高比例，比如1:2，
            需要将第一个子j-box的grow设置为1，第二个设置为2。
        </p>
        <j-box height="400">
            <j-box direction="v">
                <j-box>
                    <j-box></j-box>
                    <j-box direction="v">
                        <j-box>
                            <p class="inner-content">
                                content...<br>
                                content...<br>
                            </p>
                        </j-box>
                        <j-box></j-box>
                    </j-box>
                </j-box>
                <j-box grow="2">
                    <j-box>
                        <p class="inner-content">
                            content...<br>
                            content...<br>
                            content...<br>
                            content...<br>
                        </p>
                    </j-box>
                    <j-box></j-box>
                    <j-box></j-box>
                </j-box>
            </j-box>
            <j-box grow="3">
                <p class="inner-content">
                    content...<br>
                    content...<br>
                    content...<br>
                    content...<br>
                </p>
            </j-box>
        </j-box>
    </div>
</div>


