<!-- ignore the following lines, they are not important to this demo -->
<jigsaw-demo-description [summary]="summary" [content]="description">
</jigsaw-demo-description>


<!-- start to learn the demo from here -->
<div class="live-demo-wrap">
    <h2>Box</h2>
    <div class="demo-1 live-demo">
        <h3>对齐</h3>
        <p class="comment">
            <code>direction</code>可以使用简写：<code>horizontal</code> --> <code>h</code>&nbsp;&nbsp;
            <code>horizontal-reverse</code> --> <code>hr</code>&nbsp;&nbsp;
            <code>vertical</code> --> <code>v</code>&nbsp;&nbsp;
            <code>vertical-reverse</code> --> <code>vr</code>
        </p>
        <div class="line-box">
            <label>direction(布局方向): </label>
            <j-radios [(value)]="direction">
                <j-radio-option *ngFor="let item of directionArr" [value]="item">
                    {{item}}
                </j-radio-option>
            </j-radios>
        </div>
        <div class="line-box">
            <label>justify(主轴对齐): </label>
            <j-radios [(value)]="justify">
                <j-radio-option *ngFor="let item of justifyArr" [value]="item">
                    {{item}}
                </j-radio-option>
            </j-radios>
        </div>
        <div class="line-box">
            <label>align(垂直主轴对齐): </label>
            <j-radios [(value)]="align">
                <j-radio-option *ngFor="let item of alignArr" [value]="item">
                    {{item}}
                </j-radio-option>
            </j-radios>
        </div>

        <j-box [direction]="direction" [justify]="justify" [align]="align" height="400">
            <div class="item">
                <p class="inner-content h50">box1</p>
            </div>
            <div class="item">
                <p class="inner-content h30">box2</p>
            </div>
            <div class="item">
                <p class="inner-content h80">box3</p>
            </div>
            <div class="item">
                <p class="inner-content h40">box4</p>
            </div>
        </j-box>
    </div>

    <div class="demo-2 live-demo">
        <h3>布局</h3>
        <p class="comment">
            1、<code>direction</code>是设置在父元素上的，比如设置了<code>direction="v"</code>，则它的子元素垂直排列；<br>
            2、j-box默认<code>grow</code>都是1，即会随父box伸展，如有多个子box，默认会平均分，如需按比例伸展，比如1:2，
            需要在比例2的box上加<code>grow="2"</code>即可。
        </p>
        <j-box height="400">
            <j-box direction="v">
                <j-box>
                    <j-box></j-box>
                    <j-box direction="v">
                        <j-box>
                            <p class="inner-content">
                                content...<br>
                                content...<br>
                            </p>
                        </j-box>
                        <j-box></j-box>
                    </j-box>
                </j-box>
                <j-box grow="2">
                    <j-box>
                        <p class="inner-content">
                            content...<br>
                            content...<br>
                            content...<br>
                            content...<br>
                        </p>
                    </j-box>
                    <j-box></j-box>
                    <j-box></j-box>
                </j-box>
            </j-box>
            <j-box grow="3">
                <p class="inner-content">
                    content...<br>
                    content...<br>
                    content...<br>
                    content...<br>
                </p>
            </j-box>
        </j-box>
    </div>
</div>


