.inner-content {
    line-height: 30px;
    text-align: center;
    color: #666;
}

.line-box{
    margin-bottom: 8px;
}

j-box {
    border: 1px solid #bbb;
}

j-column {
    border: 1px solid #bbb;
    background: #b3def1;
}

.h50{
    height: 50px;
    line-height: 50px;
}
.h30{
    height: 30px;
    line-height: 30px;
}
.h80{
    height: 80px;
    line-height: 80px;
}
.h40{
    height: 40px;
    line-height: 40px;
}

.fl{
    float: left;
}
