@import "../../assets/scss/core/basc";

$time-prefix-cls: #{$jigsaw-prefix}-time;

#{$time-prefix-cls} {
    @include inline-block();
    width: 250px;
    border: 1px solid $border-color-base ;
    border-radius: $border-radius-base;
    padding: 5px;
    .#{$time-prefix-cls}-box {
        width: 100%;
        /deep/ {
            .bootstrap-datetimepicker-widget table{
                th, .year, .day,.month{
                    font-weight: 400;
                }
                tr{
                    td{
                        &.disabled,span.disabled{
                            color: #dedede;
                        }
                        &.today:before{
                            display: none;
                        }
                    }
                    td, td span{
                        &.expect-day{
                            border-radius: 0;
                            &.border-left{
                                border-top-left-radius: 4px;
                                border-bottom-left-radius: 4px;
                            }
                            &.border-right{
                                border-top-right-radius: 4px;
                                border-bottom-right-radius: 4px;
                            }
                            &:last-child{
                                border-top-right-radius: 4px;
                                border-bottom-right-radius: 4px;
                            }
                            &:first-child{
                                border-top-left-radius: 4px;
                                border-bottom-left-radius: 4px;
                            }
                            &:not(.active){
                                background-color: lighten($primary-color, 30%);
                                color: #666;
                                &:hover{
                                    background: $primary-color;
                                    color: #fff;
                                }
                            }
                        }
                    }
                  &.active{
                      background-color: transparent;
                      td {
                          background-color: $primary-color !important;
                          border-radius: 0 !important;
                          color: #fff;
                          &:first-child {
                              border-top-left-radius: 4px !important;
                              border-bottom-left-radius: 4px !important;
                          }
                          &:last-child {
                              border-top-right-radius: 4px !important;
                              border-bottom-right-radius: 4px !important;
                          }
                          &.today:before{
                              display: none;
                          }
                          &.expect-day{
                              background:#3ab1ea;
                              color: #fff;
                          }
                      }
                  }
                }
            }
        }
    }
    .#{$time-prefix-cls}-granularity {
        display: flex;
        justify-content: center;
        &>span {
            font-size: 12px;
            display: inline-block;
            height: 26px;
            line-height: 26px;
            padding: 0 10px;
            border: 1px solid $primary-color;
            border-right: 0;
            color: $primary-color;
            cursor: pointer;
            &:first-child {
                border-top-left-radius: 5px;
                border-bottom-left-radius: 5px;
            }
            &:last-child {
                border-top-right-radius: 5px;
                border-bottom-right-radius: 5px;
                border-right: 1px solid $primary-color;
            }
            &.active {
                background-color: $primary-color;
                color: #fff;
            }
        }
    }
}

