<!-- ignore the following lines, they are not important to this demo -->
<jigsaw-demo-description [summary]="summary" [content]="description">
</jigsaw-demo-description>

<!-- start to learn the demo from here -->
<div class="live-demo-wrap">
    <div class="demo-1 live-demo">
        <h3>分页数据存储</h3>
        选中的所有行： <j-tag *ngFor="let row of allSelectedRows" [closable]="true" (close)="removeRow(row)">{{row.name}}</j-tag>
        <jigsaw-table [data]="pageable"
                      [additionalColumnDefines]="additionalColumns"
                      [(additionalData)]="additionalData"
                      (additionalDataChange)="additionalDataChange($event)">
        </jigsaw-table>
        <jigsaw-pagination
            [total]="pageable.pagingInfo.totalRecord"
            [(pageSize)]="pageable.pagingInfo.pageSize"
            [(current)]="pageable.pagingInfo.currentPage"
            [pageSizeOptions]="[5, 10, 20]"
            [searchable]="true"
            [showQuickJumper]="true"
            (currentChange)="pageable.changePage(pageable.pagingInfo)"
            (pageSizeChange)="pageable.changePage(pageable.pagingInfo);"
        ></jigsaw-pagination>
        <p class="message">当前选中的行: <span>{{selectedRows}}</span></p>
    </div>
</div>

