$radio-prefix-cls: #{$jigsaw-prefix}-radios;
$radio-option-prefix-cls: #{$jigsaw-prefix}-radio-option;

.#{$radio-prefix-cls},
.#{$radio-prefix-cls}-lite {
    @include inline-block();
    &.#{$radio-prefix-cls}-error {
        border: 1px solid $error-default;
    }
}

.#{$radio-option-prefix-cls} {
    display: inline-flex;
    align-items: center;
    font-size: $font-size-text-base;
    margin-right: 16px;
    cursor: pointer;
    &.#{$radio-option-prefix-cls}-disabled {
        cursor: not-allowed;
        .#{$radio-option-prefix-cls}-inner {
            background: $bg-disabled;
            border-color: $border-color-disabled;
            &.#{$radio-option-prefix-cls}-checked {
                border-color: $brand-disabled;
                background: $bg-component;
                &:hover {
                    border-color: $brand-disabled;
                }
            }
            &:hover {
                border-color: $border-color-disabled;
            }
        }
        .#{$radio-option-prefix-cls}-content {
            color: $font-color-disabled;
        }
    }

    .#{$radio-option-prefix-cls}-inner {
        @include inline-block();
        position: relative;
        top: 0;
        left: 0;
        width: 14px;
        height: 14px;
        border-width: 1px;
        border-style: solid;
        border-color: $border-color-default;
        border-radius: 50%;
        background-color: $bg-component;
        margin-right: 8px;
        -webkit-transition: border-color 0.15s linear, border-width 0.3s ease;
        -moz-transition: border-color 0.15s linear, border-width 0.3s ease;
        -ms-transition: border-color 0.15s linear, border-width 0.3s ease;
        -o-transition: border-color 0.15s linear, border-width 0.3s ease;
        transition: border-color 0.15s linear, border-width 0.3s ease;

        &.#{$radio-option-prefix-cls}-checked {
            border-width: 4px;
            border-color: $brand-default;
        }
        &:hover {
            border-color: $primary-default;
        }
    }

    .#{$radio-option-prefix-cls}-content {
        @include inline-block();
    }
}
