<!-- ignore the following lines, they are not important to this demo -->
<jigsaw-demo-description [summary]="summary" [content]="description">
</jigsaw-demo-description>

<!-- start to learn the demo from here -->
<ul class="demo-options">
    <li class="demo-options-item">
        <span>数据：</span>
        <jigsaw-button (click)="changeData()">修改为字符串数组</jigsaw-button>
        <jigsaw-button (click)="resetData()">重置</jigsaw-button>
    </li>
    <li class="demo-options-item">
        <span>已选项：</span>
        <jigsaw-button (click)="setValue()">设置已选项（5个）</jigsaw-button>
        <jigsaw-button (click)="clearValue()">清空已选</jigsaw-button>
    </li>
    <li class="demo-options-item">
        <span>禁用：</span>
        <jigsaw-switch [(checked)]="disabled"></jigsaw-switch>
        <span>多选：</span>
        <jigsaw-switch [(checked)]="multipleSelect" (checkedChange)="clearValue()"></jigsaw-switch>
        <span>有效性：</span>
        <jigsaw-switch [(checked)]="valid"></jigsaw-switch>
    </li>
    <li class="demo-options-item">
        <span>最大可选条数(0为非法值)：</span>
        <j-numeric-input [(value)]="maxSelectedItemsLimit" min="0" max="200" placeholder="请输入最大可选条数">
        </j-numeric-input>
        {{maxOptionsReached}}
    </li>
</ul>
<jigsaw-header>基本用法</jigsaw-header>
<j-list width="200" height="400" [multipleSelect]="multipleSelect" [disabled]="disabled" [valid]="valid"
    [perfectScrollbar]="{suppressScrollX: true, wheelSpeed: 0.5, minScrollbarLength: 20, wheelPropagation: false}"
    [maxSelectedItemsLimit]="maxSelectedItemsLimit" [selectedItems]="selectedItems" (selectedItemsChange)="selectedItemsChange($event)"
    [(maxOptionsReached)]="maxOptionsReached">
    <j-list-option *ngFor="let item of data" [value]="item" [maxOptionsReached]="maxOptionsReached">
        {{item.label}}
    </j-list-option>
</j-list>