h3 {
    padding-bottom: 12px;
}

p {
    padding-bottom: 12px;
}

hr {
    padding-bottom: 12px;
}

.boxes {
    display: flex;
}

.box {
    display: inline-block;
    width: 200px;
    height: 160px;
    border: 1px solid #eeeeee;
    padding: 6px;
    margin:12px;
}
