<demo-template [data]="labelData" [(selectedLabel)]="selectedLabel" [text]="text['text']['icon']">
    <!-- start to learn the demo from here -->
    <div class="demo-cntr">
        <div>
            <jigsaw-header [level]="2">使用对象作为数据源</jigsaw-header>
            <jigsaw-tree-ext [(data)]="data" (onClick)="onClick($event)" [iconSuit]="iconSuit1" [size]="selectedLabel.size">
            </jigsaw-tree-ext>
        </div>
        <div>
            <jigsaw-header [level]="2">使用XML作为数据源（推荐）</jigsaw-header>
            <jigsaw-tree-ext [(data)]="xml" (onClick)="onClick($event)" [iconSuit]="iconSuit2" [size]="selectedLabel.size">
            </jigsaw-tree-ext>
        </div>
        <div>
            <jigsaw-header [level]="2">在iconSuit中配置svg图片</jigsaw-header>
            <jigsaw-tree-ext [(data)]="data" (onClick)="onClick($event)" [iconSuit]="iconSuit3" [size]="selectedLabel.size">
            </jigsaw-tree-ext>
        </div>
        <div>
            <jigsaw-header [level]="2">在数据源中配置svg图片</jigsaw-header>
            <jigsaw-tree-ext [(data)]="xml2" (onClick)="onClick($event)" [iconSuit]="iconSuit2" [size]="selectedLabel.size">
            </jigsaw-tree-ext>
        </div>
    </div>
</demo-template>
