$jigsaw-tile: #{$jigsaw-prefix}-tile;
$jigsaw-tile-option: #{$jigsaw-tile}-option;
$jigsaw-button-bar: #{$jigsaw-prefix}-button-bar;

.#{$jigsaw-button-bar}-host {
    @include inline-block;
    height: $height-base;
    border-radius: $border-radius-base;

    .#{$jigsaw-tile}-host {
        padding: 0 0;
        border: none;

        &.#{$jigsaw-tile}-error {
            border-color: $error-default;
        }

        .#{$jigsaw-tile-option} {
            display: inline-flex;
            justify-content: center;
            align-items: center;
            width: auto;
            min-width: 60px;
            max-width: 120px;
            margin: 0;
            padding: 0 8px;
            border-radius: 0;
            font-size: $font-size-base;

            &:first-child {
                border-radius: $border-radius-base 0 0 $border-radius-base;
            }

            &:last-child {
                border-radius: 0 $border-radius-base $border-radius-base 0;
            }

            &:not(:first-child) {
                margin-left: -1px;
            }

            &.#{$jigsaw-tile-option}-active {
                position: relative;
            }

            & > p {
                height: $height-sm;
                line-height: $height-sm;
                text-align: center;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
            }

            &.#{jigsaw-button-bar}-no-min-width {
                min-width: unset;
                max-width: unset;
            }

            .iconfont {
                margin-right: 3px;

                &.jigsaw-button-bar-icon-only {
                    margin-left: 3px;
                    font-size: $font-size-lg;
                }
            }
        }
    }

    &.#{$jigsaw-button-bar}-default .#{$jigsaw-tile-option}:not(.#{$jigsaw-tile-option}-disabled):hover,
    &.#{$jigsaw-button-bar}-primary .#{$jigsaw-tile-option}:not(.#{$jigsaw-tile-option}-disabled):hover {
        position: relative;
        border-color: $primary-default;
    }

    &.#{$jigsaw-button-bar}-warning .#{$jigsaw-tile-option}:not(.#{$jigsaw-tile-option}-disabled):hover {
        position: relative;
        border-color: $warning-default;
        color: $warning-default;
    }

    &.#{$jigsaw-button-bar}-error .#{$jigsaw-tile-option}:not(.#{$jigsaw-tile-option}-disabled):hover {
        position: relative;
        border-color: $error-default;
        color: $error-default;
    }

    &.#{$jigsaw-button-bar}-primary .#{$jigsaw-tile-option}.#{$jigsaw-tile-option}-active {
        border-color: $primary-default;
        background-color: $primary-default;
        color: $font-color-white;
    }

    &.#{$jigsaw-button-bar}-warning .#{$jigsaw-tile-option}.#{$jigsaw-tile-option}-active {
        border-color: $warning-default;
        background-color: $warning-default;
        color: $font-color-white !important;
    }

    &.#{$jigsaw-button-bar}-error .#{$jigsaw-tile-option}.#{$jigsaw-tile-option}-active {
        border-color: $error-default;
        background-color: $error-default;
        color: $font-color-white !important;
    }

    &.#{$jigsaw-button-bar}-one-option {
        border-radius: 4px !important;
    }

    &.#{$jigsaw-button-bar}-size-small {
        height: $height-sm;
        font-size: $font-size-sm;
    }
}
