$list-option-prefix-cls: #{$jigsaw-prefix}-list-option;

.#{$list-option-prefix-cls} {
    display: block;
    position: relative;
    width: 100%;
    min-height: $height-base;
    padding: 5px 8px;
    cursor: pointer;
    box-sizing: border-box;

    &:hover {
        background: $brand-light;
    }
    &.#{$list-option-prefix-cls}-active {
        background: $item-active-bg;
        background: $brand-active-light;
    }
    &.#{$list-option-prefix-cls}-disabled {
        background: $bg-disabled;
        color: $font-color-disabled;
        cursor: not-allowed;
    }
    &-title-box {
        @include clearfix();
    }
    &-title {
        float: left;
        color: $font-color-heading;
        width: 100%;
        p {
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }
    }
    &-sub-title {
        float: right;
        color: $font-color-hint;
        width: 100%;
        p {
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }
    }
    &-block {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: $zindex-level-1;
    }
    &.#{$list-option-prefix-cls}-separator {
        display: block;
        width: 100%;
        height: 1px;
        padding: 0 8px;
        min-height: 0;
    }
    &-separator-line {
        display: block;
        width: 100%;
        height: 0;
        border-top: 1px dotted $splitline-default;
    }
}
