$list-option-prefix-cls: #{$jigsaw-prefix}-list-option;

.#{$list-option-prefix-cls} {
    display: block;
    position: relative;
    width: 100%;
    min-height: $height-base;
    padding: 7px 8px;
    cursor: pointer;
    box-sizing: border-box;
    background: $bg-body;

    &:hover {
        background: $brand-light;

        .#{$list-option-prefix-cls}-title-box .#{$list-option-prefix-cls}-title {
            color: $brand-default;
        }
    }

    &.#{$list-option-prefix-cls}-active {
        background: $brand-active-light;
    }

    &.#{$list-option-prefix-cls}-disabled {
        background: $bg-disabled;
        color: $font-color-disabled;
        cursor: not-allowed;
    }

    &-title-box {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    &-title {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        color: $font-color-heading;
        overflow: hidden;
    }

    &-sub-title {
        font-size: $font-size-base;
        color: $font-color-hint;
    }

    &-block {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: $zindex-level-1;
    }
    &.#{$list-option-prefix-cls}-separator {
        display: block;
        width: 100%;
        height: 1px;
        padding: 0 8px;
        min-height: 0;
    }
    &-separator-line {
        display: block;
        width: 100%;
        height: 0;
        border-top: 1px dotted $splitline-default;
    }
}
