$jigsaw-list-lite: #{$jigsaw-prefix}-list-lite;
$jigsaw-list: #{$jigsaw-prefix}-list;
$jigsaw-list-option: #{$jigsaw-prefix}-list-option;

.#{$jigsaw-list-lite}-host {
    @include inline-block();

    .#{$jigsaw-list-lite}-search {
        display: block;
    }

    .#{$jigsaw-list-lite}-wrapper {
        border-width: 1px;
        border-style: solid;
        border-color: $border-color-default;
        border-radius: $border-radius-base;
        background: $bg-transparent;
        
        .#{$jigsaw-list}-host {
            border: none;
        }
    }

    .#{$jigsaw-list-lite}-wrapper-no-border {
        border-width: 1px;
        border-style: solid;
        border-color: transparent;
        border-radius: $border-radius-base;
        background: $bg-transparent;
        
        .#{$jigsaw-list}-host {
            border: none;
        }
    }

    .#{$jigsaw-list-option}-wrapper {
        font-size: 0;
    }
    .#{$jigsaw-list-option}-block {
        display: none;
    }

    .#{$jigsaw-list-lite}-text {
        display: flex;
        align-items: center;
        font-size: $font-size-base;
        width: 100%;

        .#{$jigsaw-list-lite}-text-content {
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }

        .iconfont {
            display: inline-flex;
            justify-self: center;
            align-items: center;
        }
    }

    .#{$jigsaw-list-lite}-error {
        border-color: $error-default;
    }
}
