$jigsaw-list-option: #{$jigsaw-prefix}-list-option;

.#{$jigsaw-list-option}-host {
    display: block;
    position: relative;
    width: 100%;
    min-height: $height-base;
    padding: 7px 8px;
    cursor: pointer;
    box-sizing: border-box;
    background: $bg-component;
    color: $font-color-default;

    &:not(.#{$jigsaw-list-option}-disabled):hover {
        background: $bg-hover;

        .#{$jigsaw-list-option}-title-box .#{$jigsaw-list-option}-title {
            color: $brand-default;
        }
    }

    &.#{$jigsaw-list-option}-active {
        background: $bg-active;
        color: $brand-default;

        .#{$jigsaw-list-option}-title,
        .#{$jigsaw-list-option}-sub-title{
            color: $brand-default;
        }
    }

    &.#{$jigsaw-list-option}-disabled {
        color: $font-color-disabled;
        cursor: not-allowed;

        .#{$jigsaw-list-option}-title,
        .#{$jigsaw-list-option}-sub-title{
            color: $font-color-disabled;
        }
    }

    .#{$jigsaw-list-option}-title-box {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    .#{$jigsaw-list-option}-title {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        color: $font-color-heading;
        overflow: hidden;
    }

    .#{$jigsaw-list-option}-sub-title {
        font-size: $font-size-base;
        color: $font-color-hint;
    }

    .#{$jigsaw-list-option}-block {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: $zindex-level-1;
    }
    &.#{$jigsaw-list-option}-separator {
        display: block;
        width: 100%;
        height: 1px;
        padding: 0 8px;
        min-height: 0;
    }
    .#{$jigsaw-list-option}-separator-line {
        display: block;
        width: 100%;
        height: 0;
        border-top: 1px dotted $splitline-default;
    }
}
