$list-prefix-cls: #{$jigsaw-prefix}-list;

.#{$list-prefix-cls}-host {
    @include inline-block();
    width: 300px;
    border: 1px solid $border-color-default;
    border-radius: $border-radius-base;
    background: $bg-transparent;
    position: relative;

    &.#{$list-prefix-cls}-error {
        border-color: $error-default;
    }

    &.#{$list-prefix-cls}-disabled {
        &::after {
            content: "";
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: $bg-disabled;
            border-color: $border-color-default !important;
            opacity: 0.6;
            z-index: $zindex-level-2;
            cursor: not-allowed;
        }
    }
}