$list-lite-prefix-cls: #{$jigsaw-prefix}-list-lite;
$list-prefix-cls: #{$jigsaw-prefix}-list;
$list-option-prefix-cls: #{$jigsaw-prefix}-list-option;

.#{$list-lite-prefix-cls} {
    @include inline-block();
    &-search {
        display: block;
    }
    &-wrapper {
        border-width: 1px;
        border-style: solid;
        border-color: $border-color-default;
        border-radius: $border-radius-base;
        background: $bg-component;
        .#{$list-prefix-cls} {
            border: none;
        }
    }

    .#{$list-option-prefix-cls}-wrapper {
        font-size: 0;
    }
    .#{$list-option-prefix-cls}-block {
        display: none;
    }

    &-text {
        display: flex;
        align-items: center;
        font-size: $font-size-base;

        .jigsaw-list-lite-text-content {
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }

        .iconfont {
            display: inline-flex;
            justify-self: center;
            align-items: center;
        }
    }

    &-error {
        border-color: $error-default;
    }
}
