<div class="demo-wrapper nav">
    <jigsaw-markdown [markdown]="description"></jigsaw-markdown>
    <navigation-menu-menu></navigation-menu-menu>
    <navigation-menu-submenu></navigation-menu-submenu>
    <navigation-menu-fold></navigation-menu-fold>
    <navigation-menu-with-badge></navigation-menu-with-badge>
    <doc-template [docContent]="docContent"></doc-template>
    <doc-footer-template></doc-footer-template>
    <demo-navigation [navigationData]="navigationData"></demo-navigation>
</div>