<div class="jigsaw-notification" (mouseenter)="_$onEnter()" (mouseleave)="_$onLeave()">
    <span class="jigsaw-notification-close" (click)='dispose()'>&times;</span>
    <div class="jigsaw-notification-caption" *ngIf="!!caption">
        <i class="jigsaw-notification-icon {{icon}}"></i>{{caption}}
    </div>
    <div class="jigsaw-notification-content" [trustedHtml]="message" [trustedHtmlContext]="innerHtmlContext"></div>
    <div class="jigsaw-notification-button" *ngIf="buttons && buttons.length > 0">
        <jigsaw-button *ngFor="let button of buttons"
            [colorType]="button.type"
            [disabled]="button.disabled"
            [preSize]="button.preSize ? button.preSize : 'default'"
            (click)="answer.emit(button)"
            class="{{button.clazz}}">{{button.label}}
        </jigsaw-button>
    </div>
</div>
