@import "../../assets/scss/core/base";

.jigsaw-notification-host {
    width: 350px;
    margin: 5px;
    position: unset !important;
    box-shadow: none !important;
    pointer-events: auto;
}

.jigsaw-notification {
    height: inherit;
    overflow: auto;
    padding: 10px;
    border-radius: 3px;
    background: white;
    box-shadow: rgba(0, 0, 0, 0.3) 1px 1px 6px;

    .jigsaw-notification-caption {
        @include line-ellipsis-style;
        font-size: $font-size-lg;
        color: $heading-color-dark;
        i {
            font-size: $font-size-lg+2px;
            padding-right: 3px;
        }
    }
    .jigsaw-notification-content {
        word-wrap: break-word;
        font-size: $font-size-base;
        color: $text-color;
    }
    .jigsaw-notification-button{
        text-align: right;
        padding: 5px 0;
    }
    .jigsaw-notification-close {
        float: right;
        cursor: pointer;
        padding: 0 5px;
        font-size: $font-size-lg;
    }

    jigsaw-button {
        margin-left: 6px;
    }
}
