<!-- ignore the following lines, they are not important to this demo -->
<jigsaw-demo-description [summary]="summary" [content]="description">
</jigsaw-demo-description>

<!-- start to learn the demo from here -->
<jigsaw-header [level]="1">Transfer</jigsaw-header>

<jigsaw-header [level]="2">普通数据</jigsaw-header>
<ul>
    <li class="demo-item">
        <jigsaw-button (click)="addItem(normalData)">左侧添加一个元素</jigsaw-button>
        <jigsaw-button (click)="addItem(normalSelectedData)">右侧添加一个元素</jigsaw-button>
        <jigsaw-button (click)="removeItem()">删除最后一个元素</jigsaw-button>
        <jigsaw-button (click)="resetInputData()">重置输入数据</jigsaw-button>
    </li>
    <li class="demo-item">
        <j-transfer width="100%" height="500" [data]="normalData" [selectedItems]="normalSelectedData"
            [sourceRenderer]="sourceRenderer" [targetRenderer]="targetRenderer"></j-transfer>
    </li>
</ul>
