<!-- ignore the following lines, they are not important to this demo -->
<jigsaw-demo-description [summary]="summary" [content]="description">
</jigsaw-demo-description>


<!-- start to learn the demo from here -->
<div j-layout-box>
    <div j-layout width="50%" height="400">
        <div j-layout>
            <div j-layout></div>
            <div j-layout></div>
        </div>
        <div j-layout [layoutType]="1">
            <div j-layout></div>
            <div j-layout></div>
        </div>
    </div>
</div>



