<!-- ignore the following lines, they are not important to this demo -->
<jigsaw-demo-description [summary]="summary" [content]="description">
</jigsaw-demo-description>

<jigsaw-header level="1">jigsaw-alphabetical-index-select</jigsaw-header>
<jigsaw-header>基本用法</jigsaw-header>
<jigsaw-alphabetical-index-select width="200px" [data]="mixCountries">
</jigsaw-alphabetical-index-select>

<jigsaw-header>配置拼音字典</jigsaw-header>
<jigsaw-alphabetical-index-select width="200px" [data]="mixCountries">
</jigsaw-alphabetical-index-select>

<jigsaw-header>disabled</jigsaw-header>
<jigsaw-alphabetical-index-select width="200px" [data]="mixCountries" [disabled]="true">
</jigsaw-alphabetical-index-select>

<jigsaw-header>valid</jigsaw-header>
<jigsaw-alphabetical-index-select width="200px" [data]="mixCountries" [valid]="false">
</jigsaw-alphabetical-index-select>

<jigsaw-header>placeholder</jigsaw-header>
<jigsaw-alphabetical-index-select width="200px" [data]="mixCountries" placeholder="请选择">
</jigsaw-alphabetical-index-select>

<jigsaw-header>openTrigger & closeTrigger</jigsaw-header>
<jigsaw-alphabetical-index-select width="200px" [data]="mixCountries" openTrigger="click" closeTrigger="click">
</jigsaw-alphabetical-index-select>

<jigsaw-header>valueChange</jigsaw-header>
<jigsaw-alphabetical-index-select width="200px" [data]="mixCountries" (valueChange)="valueChange($event)">
</jigsaw-alphabetical-index-select>
<p>所选条目：{{selected}}</p>
