<div class="live-demo-wrap">
    <h2>Steps</h2>
    <div class="clearfix">
        <div class="demo-1 live-demo live-demo-block" style="width: 100%">
            <h3>基本</h3>
            <p class="comment">基本用法</p>
            <jigsaw-steps>
                <jigsaw-step-item jigsawTitle="步骤一" jigsawDescription="waiting" [nzStatus]="'waiting'"></jigsaw-step-item>
                <jigsaw-step-item jigsawTitle="步骤二" jigsawDescription="processing" [nzStatus]="'processing'"></jigsaw-step-item>
                <jigsaw-step-item jigsawTitle="步骤三" jigsawDescription="done" [nzStatus]="'done'"></jigsaw-step-item>
                <jigsaw-step-item jigsawTitle="步骤四" jigsawDescription="error" [nzStatus]="'error'"></jigsaw-step-item>
                <jigsaw-step-item jigsawTitle="步骤五" jigsawDescription="warning" [nzStatus]="'warning'"></jigsaw-step-item>
                <jigsaw-step-item jigsawTitle="步骤六" jigsawDescription="skipped" [nzStatus]="'skipped'"></jigsaw-step-item>
            </jigsaw-steps>
        </div>
        <div class="demo-2 live-demo live-demo-block" style="width: 100%">
            <h3>小尺寸</h3>
            <p class="comment">小尺寸</p>
            <jigsaw-steps [preSize]="'small'">
                <jigsaw-step-item jigsawTitle="步骤一" jigsawDescription="waiting" [nzStatus]="'waiting'"></jigsaw-step-item>
                <jigsaw-step-item jigsawTitle="步骤二" jigsawDescription="processing" [nzStatus]="'processing'"></jigsaw-step-item>
                <jigsaw-step-item jigsawTitle="步骤三" jigsawDescription="done" [nzStatus]="'processing'"></jigsaw-step-item>
                <jigsaw-step-item jigsawTitle="步骤四" jigsawDescription="error" [nzStatus]="'processing'"></jigsaw-step-item>
                <jigsaw-step-item jigsawTitle="步骤五" jigsawDescription="warning" [nzStatus]="'waiting'"></jigsaw-step-item>
                <jigsaw-step-item jigsawTitle="步骤六" jigsawDescription="skipped" [nzStatus]="'skipped'"></jigsaw-step-item>
            </jigsaw-steps>
        </div>
        <div class="demo-3 live-demo live-demo-block" style="width: 100%">
            <h3>大尺寸</h3>
            <p class="comment">大尺寸</p>
            <jigsaw-steps [preSize]="'large'">
                <jigsaw-step-item jigsawTitle="步骤一" jigsawDescription="waiting" [nzStatus]="'waiting'"></jigsaw-step-item>
                <jigsaw-step-item jigsawTitle="步骤二" jigsawDescription="processing" [nzStatus]="'done'"></jigsaw-step-item>
                <jigsaw-step-item jigsawTitle="步骤三" jigsawDescription="done" [nzStatus]="'done'"></jigsaw-step-item>
                <jigsaw-step-item jigsawTitle="步骤四" jigsawDescription="error" [nzStatus]="'done'"></jigsaw-step-item>
                <jigsaw-step-item jigsawTitle="步骤五" jigsawDescription="warning" [nzStatus]="'done'"></jigsaw-step-item>
                <jigsaw-step-item jigsawTitle="步骤六" jigsawDescription="skipped" [nzStatus]="'error'"></jigsaw-step-item>
            </jigsaw-steps>
        </div>
    </div>
</div>

