<div class="live-demo-wrap">
    <h2>Steps</h2>
    <div class="clearfix">
        <div class="demo-1 live-demo live-demo-block">
            <h3>基本</h3>
            <p class="comment">基本用法</p>
            <jigsaw-steps [(nzCurrent)]="current" [nzStatus]="'finish'">
                <jigsaw-step-item [nzTitle]="'步骤一'" [nzDescription]="'This is a description'"></jigsaw-step-item>
                <jigsaw-step-item [nzTitle]="'步骤二'" [nzDescription]="'This is a description'"></jigsaw-step-item>
                <jigsaw-step-item [nzTitle]="'步骤三'" [nzDescription]="'This is a description'"></jigsaw-step-item>
            </jigsaw-steps>
        </div>


        <!--<div class="demo-2 live-demo live-demo-block">-->
            <!--<h3>半星</h3>-->
            <!--<p class="comment">支持选中半星</p>-->
            <!--<jigsaw-numeric-input class="rate-font-size" max="5" allowHalf [(value)]="selectedHalfValue" (valueChange)="selectChange($event)"></jigsaw-numeric-input>-->
        <!--</div>-->

        <!--<div class="demo-2 live-demo live-demo-block">-->
            <!--<h3>只读</h3>-->
            <!--<p class="comment">支持标签和属性两种写法</p>-->
            <!--<jigsaw-numeric-input class="rate-font-size" max="5" [disabled]="true" [(value)]="selectedValue"></jigsaw-numeric-input>-->
        <!--</div>-->
    </div>
</div>

