$tooltip-prefix-cls: #{$jigsaw-prefix}-tooltip;

.#{$tooltip-prefix-cls} {
    $maxLineNum: 10;
    min-height: $height-sm;
    padding: 3px 8px;
    max-width: 320px;
    border-radius: $border-radius-sm;
    color: $font-color-default-light;

    &.#{$tooltip-prefix-cls}-light {
        background: $bg-body-light;
    }

    &.#{$tooltip-prefix-cls}-dark {
        background: #4d4d4d;
        color: $font-color-white;
    }

    > div {
        display: -webkit-box;
        font-size: $font-size-base;
        line-height: $height-sm - 8px;
        text-align: left;
        word-break: break-all;
        white-space: pre-wrap;
        text-overflow: ellipsis;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: $maxLineNum;
        overflow: hidden;
    }
}
