$tooltip-prefix-cls: #{$jigsaw-prefix}-tooltip;

.#{$tooltip-prefix-cls} {
    min-height: $height-sm;
    padding: 3px 8px;
    max-width: 320px;
    
    border-radius: $border-radius-sm;
    color: #4d4d4d;

    &.#{$tooltip-prefix-cls}-light {
        background: #FFFFFF;
    }

    &.#{$tooltip-prefix-cls}-dark {
        background: #4d4d4d;
        color: $font-color-white;
    }

    > div {
        max-height: 180px;
        display: -webkit-box;
        font-size: $font-size-base;
        line-height: $height-sm - 8px;
        text-align: left;
        word-break: normal;
        white-space: pre-wrap;
        overflow: hidden;
    }
}
