<!-- ignore the following lines, they are not important to this demo -->
<jigsaw-demo-description [summary]="summary" [content]="description">
</jigsaw-demo-description>

<!-- start to learn the demo from here -->
<section>
    <jigsaw-tag *ngFor="let item of tags" [closable]="true" color="preset-blue"
                (close)="removeTag(item)">{{item}}</jigsaw-tag>
    <jigsaw-tag *ngIf="!adding" isAdd="true" size="medium" [disabled]="tags.length >= 5"
                (add)="showInput()"></jigsaw-tag>
    <jigsaw-input *ngIf="adding" #input width="120" icon="iconfont iconfont-e142" value="New Tag"
                  (iconSelect)="addTag(input.value)" (blur)="addTag(input.value)" [blurOnClear]="false">
    </jigsaw-input>
</section>
{{message}}
