<demo-template [data]="data" [(selectedLabel)]="selectedLabel" [text]="text['text']['presetColor']">
    <section class="demo-showcase-v">
        <span>内置颜色的标签</span>
        <jigsaw-tag color="preset-blue" [size]="selectedLabel.size">蓝色标签</jigsaw-tag>
        <jigsaw-tag color="preset-cyan" [size]="selectedLabel.size">青色标签</jigsaw-tag>
        <jigsaw-tag color="preset-green" [size]="selectedLabel.size">绿色标签</jigsaw-tag>
        <jigsaw-tag color="preset-magenta" [size]="selectedLabel.size">洋红标签</jigsaw-tag>
        <jigsaw-tag color="preset-orange" [size]="selectedLabel.size">橘色标签</jigsaw-tag>
        <jigsaw-tag color="preset-red" [size]="selectedLabel.size">红色标签</jigsaw-tag>
        <jigsaw-tag color="preset-purple" [size]="selectedLabel.size">紫色标签</jigsaw-tag>
        <jigsaw-tag color="preset-gray" [size]="selectedLabel.size">灰色标签</jigsaw-tag>
    </section>
</demo-template>
