<div class="jigsaw-combo-select"
     [class.jigsaw-combo-select-opened]="_$opened"
     [class.jigsaw-combo-select-disabled]="disabled"
     (mouseenter)="_$openByHover($event)"
     (mouseleave)="_$closeByHover($event)"
     (click)="_$openAndCloseByClick($event)">
    <div class="jigsaw-combo-select-selection">
        <div class="jigsaw-combo-select-selection-rendered">
            <div *ngIf="placeholder && (!value || value.length == 0)" class="jigsaw-combo-select-selection_placeholder">
                {{placeholder}}
            </div>
            <ng-template ngFor let-tagItem [ngForOf]="value" let-i="index" let-isLast="last">
                <jigsaw-tag
                    [closable]='tagItem.closable'
                    (select)="_$tagClick(tagItem)"
                    (close)="_$removeTag(tagItem)">
                    {{tagItem[labelField]}}
                </jigsaw-tag>
                <span *ngIf="separator && !isLast">{{separator}}</span>
            </ng-template>
        </div>
    </div>
    <i class="fa fa-times-circle jigsaw-combo-select-clear"
       *ngIf="clearable && value && value.length != 0" (click)="_$clearValue()"></i>
    <i class="fa fa-angle-down jigsaw-combo-select-arrow"></i>
</div>
<ng-content></ng-content>
