@import "../../assets/scss/core/basc";

$jigsaw-combo-select: #{$jigsaw-prefix}-combo-select;

.#{$jigsaw-combo-select}-host {
    @include inline-block;
}

.#{$jigsaw-combo-select} {
    min-width: 240px;
    width: auto;
    display: inline-block;
    outline: none;
    position: relative;
    color: $text-color;
    font-size: $font-size-base;
    cursor: pointer;

    &-selection {
        display: block;
        user-select: none;
        background-color: $default-color;
        border-radius: $border-radius-base;
        border: $border-width-base $border-style-base $border-color-base;
        transition: all .3s $ease-in-out;
        white-space:nowrap;

        &:hover {
            border-color: $primary-color;
        }
    }

    &-selection &-selection-rendered {
        display: block;
        margin: 0 20px 0 7px;
        position: relative;
        line-height: 30px;
        height: 30px;
        jigsaw-tag{
            vertical-align: -6px;
            margin-right: 4px;
        }
    }

    &-disabled {
        color: $disabled-color;
        pointer-events: none;
    }

    &-disabled &-selection {
        background-color: $disabled-bg;
        cursor: not-allowed;

        &:hover, &:active, &:focus {
            border-color: $disabled-bg;
            box-shadow: none;
        }
    }

    &-content {
        position: absolute;
        width: 100%;
        z-index: $zindex-dropdown;
        overflow: hidden;

        margin-top: 3px;
        padding: 5px;

        border: $border-width-base $border-style-base $border-color-base;
        background: $default-color;
        box-shadow: $box-shadow-base;
        border-radius: $border-radius-base;

        @include opacity(0);
        @include prefixer(transition, all 0.3s $ease-in-out);
    }

    &-opened {
        .#{$jigsaw-combo-select}-arrow {
            @include prefixer(transform, rotate(180deg));
        }

    }

    &-arrow {
        position: absolute;
        top: 50%;
        right: 8px;
        line-height: 1px;
        @include prefixer(transition, transform 0.3s ease);
    }
}
