<demo-template [data]="data" [(selectedLabel)]="selectedLabel" [text]="text['text']['withIcon']">
    <div class="div-container">

        <jigsaw-header [level]="2">图标+文字的状态（包含两种不同尺寸）</jigsaw-header>
        <p>
            <jigsaw-tag [size]="selectedLabel.size">
                <i class="iconfont iconfont-e0a0"></i>
                Icon Tag
            </jigsaw-tag>

            <jigsaw-tag [closable]="true" icon="iconfont iconfont-e0a4" [size]="selectedLabel.size">
                Closable Tag
            </jigsaw-tag>

            <jigsaw-tag [closable]="true" icon="iconfont iconfont-e0d4" [size]="selectedLabel.size">
                Small Size Tag
            </jigsaw-tag>

            <jigsaw-tag [closable]="true" icon="iconfont iconfont-ea1b" [size]="selectedLabel.size">
                A very very very very very very very long tag
            </jigsaw-tag>
        </p>
        <br>

        <jigsaw-header [level]="2">仅图标的状态（包含两种不同尺寸）</jigsaw-header>
        <p>
            <jigsaw-tag [size]="selectedLabel.size">
                <i class="iconfont iconfont-e0a0"></i>
            </jigsaw-tag>
            <jigsaw-tag [size]="selectedLabel.size">
                <span class="iconfont iconfont-e0d4"></span>
            </jigsaw-tag>
            <jigsaw-tag icon="iconfont iconfont-ea1b">
            </jigsaw-tag>

            <jigsaw-tag [closable]="true" [size]="selectedLabel.size">
                <i class="iconfont iconfont-e0a0"></i>
            </jigsaw-tag>
            <jigsaw-tag [closable]="true" [size]="selectedLabel.size">
                <span class="iconfont iconfont-e0d4"></span>
            </jigsaw-tag>
            <jigsaw-tag [closable]="true" icon="iconfont iconfont-ea1b" [size]="selectedLabel.size">
            </jigsaw-tag>
        </p>
        <j-button (click)="resetAllTags()">Reset all tags</j-button>
    </div>

</demo-template>
