<!-- ignore the following lines, they are not important to this demo -->
<jigsaw-demo-description [summary]="summary" [content]="description">
</jigsaw-demo-description>


<!-- start to learn the demo from here -->
<jigsaw-header [level]="1">Table</jigsaw-header>
<jigsaw-header [level]="2">expand</jigsaw-header>
<jigsaw-button (click)="refreshData()">更新数据</jigsaw-button>
<jigsaw-button (click)="resetData()">重置数据</jigsaw-button>
<jigsaw-table #tableCmp [data]="tableData" [columnDefines]="columns" (rowClick)="rowClick($event)"></jigsaw-table>