<!-- ignore the following lines, they are not important to this demo -->
<jigsaw-demo-description [summary]="summary" [content]="description">
</jigsaw-demo-description>


<!-- start to learn the demo from here -->
<jigsaw-header [level]="1">Table</jigsaw-header>
<jigsaw-header [level]="2">expand</jigsaw-header>
<div class="demo-buttons">
    <jigsaw-button (click)="refreshData()">更新数据</jigsaw-button>
    <jigsaw-button (click)="resetData()">重置数据</jigsaw-button>
    <jigsaw-button (click)="expandRow(2)">展开/关闭第三行</jigsaw-button>
</div>
<jigsaw-table #tableCmp width="600px" [data]="tableData" [columnDefines]="columns"
              (rowExpand)="rowClick($event)">
</jigsaw-table>
