<demo-template [data]="data" [(selectedLabel)]="selectedLabel" [text]="text['text']['icons']">
    <div class="demo-showcase">
        <span>Icon + Label</span>
        <jigsaw-button-bar [data]="types" [(selectedItems)]="selectedTypes" [multipleSelect]="multiple" trackItemBy="id"
                           [preSize]="selectedLabel.size">
        </jigsaw-button-bar>
    </div>

    <div class="demo-showcase">
        <span>Icon Only</span>
        <jigsaw-button-bar [data]="unlabeledTypes" [multipleSelect]="multiple" trackItemBy="id"
                           [preSize]="selectedLabel.size">
        </jigsaw-button-bar>
    </div>
</demo-template>
