$jigsaw-tag: #{$jigsaw-prefix}-tag;

.#{$jigsaw-tag}-host {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: relative;
    min-width: 0;
    max-width: 200px;
    padding: 2px 8px;
    height: 22px;
    font-size: $font-size-base;
    border-radius: $border-radius-base;
    color: inherit;
    background: $bg-gray;
    box-sizing: border-box;
    cursor: pointer;

    &.#{$jigsaw-tag}-preset {
        &-blue {
            color: $blue-7;
            background: $blue-1;
            border-color: $blue-1;
        }

        &-cyan {
            color: $cyan-7;
            background: $cyan-1;
            border-color: $cyan-1;
        }

        &-green {
            color: $green-7;
            background: $green-1;
            border-color: $green-1;
        }

        &-magenta {
            color: $magenta-7;
            background: $magenta-1;
            border-color: $magenta-1;
        }

        &-orange {
            color: $orange-7;
            background: $orange-1;
            border-color: $orange-1;
        }

        &-red {
            color: $red-7;
            background: $red-1;
            border-color: $red-1;
        }

        &-purple {
            color: $purple-7;
            background: $purple-1;
            border-color: $purple-1;
        }

        &-gray {
            color: $gray-9;
            background: $gray-3;
            border-color: $gray-3;
        }
    }

    &.#{$jigsaw-tag}-size {
        &-med {
            height: 22px;
            padding: 0 8px;
        }

        &-sm {
            height: 18px;
            padding: 0 4px;
        }
    }

    &.#{$jigsaw-tag}-closable {
        padding-right: 20px;
    }

    &.#{$jigsaw-tag}-add {
        background: $bg-transparent;
        color: $font-color-tag;
        border-width: 1px;
        border-style: dashed;
        border-color: $border-color-default;

        &:hover {
            color: $brand-hover;
            border-color: $brand-hover;
        }

        &.#{$jigsaw-tag}-disabled {
            color: $font-color-disabled;
            border-color: $border-color-default;
            cursor: not-allowed;

            &:hover {
                color: $font-color-disabled;
                border-color: $border-color-default;
            }
        }

        i {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        &.#{$jigsaw-tag}-size-med {
            width: 84px;
            font-size: 12px;
        }

        &.#{$jigsaw-tag}-size-sm {
            width: 56px;
            font-size: 12px;
        }
    }

    &.#{$jigsaw-tag}-disabled {
        cursor: not-allowed;
        color: $font-color-disabled;

        .#{$jigsaw-tag}-close-bar {
            color: $font-color-disabled;

            &:hover {
                color: $font-color-disabled;
            }
        }
    }

    .#{$jigsaw-tag}-close-bar {
        display: inline-flex;
        align-items: center;
        position: absolute;
        left: calc(100% - 18px);
        font-size: 16px;
        width: auto;
        height: 100%;

        &:hover {
            color: $brand-default;
        }
    }

    .#{$jigsaw-tag}-content {
        display: flex;
        align-items: center;
        min-width: 0;

        i {
            margin-right: 3px;
        }

        .#{$jigsaw-tag}-text {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            width: 100%;

            i {
                margin-right: 0;
            }
        }
    }
}
