@import "../../common/assets/scss/core/base";

$tag-prefix-cls: #{$jigsaw-prefix}-tag;

.#{$tag-prefix-cls}-host {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: relative;
    max-width: 200px;
    padding: 2px 8px;
    height: 22px;
    font-size: $font-size-base;
    border-radius: $border-radius-base;
    color: inherit;
    background: $bg-gray;
    box-sizing: border-box;
    user-select: none;
    cursor: pointer;

    &.#{$tag-prefix-cls}-color {
        color: $font-color-white;
    }

    &.#{$tag-prefix-cls}-preset {
        &-blue {
            color: $blue-7;
            background: $blue-1;
            border-color: $blue-1;
        }

        &-cyan {
            color: $cyan-7;
            background: $cyan-1;
            border-color: $cyan-1;
        }

        &-green {
            color: $green-7;
            background: $green-1;
            border-color: $green-1;
        }

        &-magenta {
            color: $magenta-7;
            background: $magenta-1;
            border-color: $magenta-1;
        }

        &-orange {
            color: $orange-7;
            background: $orange-1;
            border-color: $orange-1;
        }

        &-red {
            color: $red-7;
            background: $red-1;
            border-color: $red-1;
        }

        &-purple {
            color: $purple-7;
            background: $purple-1;
            border-color: $purple-1;
        }

        &-gray {
            color: $gray-9;
            background: $gray-3;
            border-color: $gray-3;
        }
    }

    &.#{$tag-prefix-cls}-size {
        &-med {
            height: 22px;
            padding: 0 8px;
        }

        &-sm {
            height: 18px;
            padding: 0 4px;
        }
    }

    &.#{$tag-prefix-cls}-closable {
        padding-right: 20px;
    }

    &.#{$tag-prefix-cls}-add {
        background: $bg-component;
        color: $font-color-tag;
        border-width: 1px;
        border-style: dashed;
        border-color: $border-color-default;

        &:hover {
            color: $brand-hover;
            border-color: $brand-hover;
        }

        &.#{$tag-prefix-cls}-disabled {
            color: $font-color-disabled;
            border-color: $border-color-default;
            user-select: none;
            cursor: not-allowed;

            &:hover {
                color: $font-color-disabled;
                border-color: $border-color-default;
            }
        }

        i {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        &.#{$tag-prefix-cls}-size-med {
            width: 84px;
            font-size: 12px;
        }

        &.#{$tag-prefix-cls}-size-sm {
            width: 56px;
            font-size: 12px;
        }
    }

    &.#{$tag-prefix-cls}-disabled {
        cursor: not-allowed;
        color: $font-color-disabled;

        .#{$tag-prefix-cls}-close-bar {
            color: $font-color-disabled;

            &:hover {
                color: $font-color-disabled;
            }
        }
    }

    .#{$tag-prefix-cls}-close-bar {
        display: inline-flex;
        align-items: center;
        position: absolute;
        left: calc(100% - 18px);
        font-size: 16px;
        width: auto;
        height: 100%;

        &:hover {
            color: $brand-default;
        }
    }

    .#{$tag-prefix-cls}-content {
        display: flex;
        align-items: center;
        min-width: 0;

        i {
            margin-right: 3px;
        }

        .#{$tag-prefix-cls}-text {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            width: 100%;

            i {
                margin-right: 0px;
            }
        }
    }
}
