<demo-template [data]="''" [text]="text['text']['valid']">
    <!-- start to learn the demo from here -->

    <jigsaw-header [level]="1">Valid属性</jigsaw-header>

    <jigsaw-header [level]="2">从左边列表至少选择一个条目到右边列表中</jigsaw-header>
    <j-transfer width="100%" height="500" [data]="data" [selectedItems]="selectedData" [sourceRenderer]="sourceRenderer"
                [destRenderer]="targetRenderer" [labelField]="labelField" [subLabelField]="subLabelField"
                [trackItemBy]="trackItemBy" [valid]="selectedData.length > 0"></j-transfer>
</demo-template>
