<!-- ignore the following lines, they are not important to this demo -->
<jigsaw-demo-description [summary]="summary" [content]="description">
</jigsaw-demo-description>


<!-- start to learn the demo from here -->
<div class="cmn-box">
    单击已选中的城市试试 -->
    <jigsaw-combo-select [showBorder]="true"
                         [(value)]="selectedCity"
                         (select)="onTagSelect($event)"
                         (remove)="onTagRemove($event)"
                         maxWidth="500" placeholder="选择一个城市">
        <ng-template>
            <div class="drop-down-container">
                <jigsaw-button *ngFor="let city of cities;" [colorType]="city.type"
                               (click)="onCityClick(city)">{{city.label}}
                </jigsaw-button>
            </div>
        </ng-template>
    </jigsaw-combo-select>
</div>

