@import "../../assets/scss/core/basc";

$page-prefix-cls: #{$jigsaw-prefix}-page;

:host{
    @include inline-block();
    margin-right: 8px;
    vertical-align: top;
    span {
        @include inline-block();
        width: 28px;
        height: $height-base;
        line-height: $height-base;
        font-size: $font-size-base;
        text-align: center;
        border: 1px solid $border-color-base;
        border-radius: 4px;
        cursor: pointer;
        vertical-align: top;
        @include prefixer(transition, all .3s ease);
        &:hover{
            border: 1px solid $primary-color;
            color: $primary-color;
        }
    }
    &.#{$page-prefix-cls}-current span{
        background: $primary-color;
        border: 1px solid $primary-color;
        color: $font-color-white;
    }
    &.#{$page-prefix-cls}-hidden{
        display: none;
    }
    i{
        @include inline-block();
        width: 28px;
        height: 28px;
        cursor: pointer;
        &:after{
            display: block;
            content: '. . .';
            font-weight: 700;
            font-size: 14px;
            color: #bbbbbb;
            line-height: 21px;
            text-align: center;
        }
        &.#{$page-prefix-cls}-prevs{
            margin-left: 8px;
        }
        &.#{$page-prefix-cls}-nexts{
            margin-right: 8px;
        }
        &:hover{
            &.#{$page-prefix-cls}-prevs:after{
                content: '<<';
                line-height: 28px;
            }
            &.#{$page-prefix-cls}-nexts:after{
                content: '>>';
                line-height: 28px;
            }
        }
    }

}



