@import "../../assets/scss/core/base";

$paging-prefix-cls: #{$jigsaw-prefix}-paging;

.#{$paging-prefix-cls} {
    @include inline-block();
    font-size: $font-size-base;
    user-select: none;
    &-page{
        position: relative;
        @include inline-block;
        width: 28px;
        height: $height-base;
        line-height: $height-base;
        text-align: center;
        border: 1px solid $border-color-base;
        border-radius: 4px;
        margin-right: 8px;
        cursor: pointer;
        vertical-align: top;
        @include prefixer(transition, all .3s ease);
        &.#{$paging-prefix-cls}-disabled{
            cursor: not-allowed;
            border: 1px solid $border-color-base;
            color: $disabled-color;
            &:hover{
                border: 1px solid $border-color-base;
                color: $disabled-color;
            }
        }
        &:hover{
            border: 1px solid $primary-color;
            color: $primary-color;
        }
    }
    jigsaw-select{
        margin-right: 8px;
    }
    &-goto{
        @include inline-block;
        height: 28px;
        line-height: 28px;
        vertical-align: top;
        span{
            margin-right: 8px;
        }
    }
    jigsaw-input{
        vertical-align: top;
        margin-right: 8px;
    }

}
