<!-- ignore the following lines, they are not important to this demo -->
<jigsaw-demo-description [summary]="summary" [content]="description">
</jigsaw-demo-description>


<!-- start to learn the demo from here -->
<jigsaw-button width="300px" (click)="popupDialog1(dialog1)">点击弹出表单</jigsaw-button>

<ng-template #dialog1>
    <jigsaw-dialog class="dialog-container" width="40%" caption="测试表单" (close)="cancelClick()" >
        <jigsaw-table [data]="tableData" [columnDefines]="columns" (edit)="onCellChange($event)"></jigsaw-table>

        <div jigsaw-button-bar>
            <jigsaw-button colorType="primary" (click)="editConfirm()">修改</jigsaw-button>
        </div>
    </jigsaw-dialog>
</ng-template>

<div>表格当前修改行的数据： {{changeMsg}}</div>
