$badge-prefix-cls: #{$jigsaw-prefix}-badge;

.#{$badge-prefix-cls} {
    text-align: center;
    position: absolute;
    width: auto;
    display: inline-block;
    top: 0;
    padding-left: 4px;
    padding-right: 4px;
    z-index: 999;
}

.#{$badge-prefix-cls}-host {
    position: absolute;
    border-radius: inherit;
}

.#{$badge-prefix-cls}-cursor {
    cursor: pointer;
}

.#{$badge-prefix-cls}-cursor-default {
    cursor: default;
}


.#{$badge-prefix-cls}-size-large {
    height: 24px;
    min-width: 24px;
    align-items: center;
    border-radius: 24px;
    border-width: 2px !important;
    font-size: 16px;
}

.#{$badge-prefix-cls}-size-normal {
    height: 20px;
    min-width: 20px;
    align-items: center;
    border-radius: 20px;
    border-width: 2px !important;
    font-size: 14px;
}

.#{$badge-prefix-cls}-size-small {
    height: 16px;
    min-width: 16px;
    align-items: center;
    border-radius: 16px;
    border-width: 1px !important;
}

.#{$badge-prefix-cls}-normal {
    background: transparent;
    color: $primary-color;
}

.#{$badge-prefix-cls}-warn {
    color: $warning-color;
}

.#{$badge-prefix-cls}-success {
    color: $success-color;
}

.#{$badge-prefix-cls}-error {
    color: $error-color;
}

.#{$badge-prefix-cls}-dot-normal {
    background-color: $primary-color;
}

.#{$badge-prefix-cls}-dot-warn {
    background-color: $warning-color;
}

.#{$badge-prefix-cls}-dot-error {
    background-color: $error-color;
}

.#{$badge-prefix-cls}-dot-success {
    background-color: $success-color;
}

.#{$badge-prefix-cls}-solid-normal {
    color: $default-color;
    background-color: $primary-color;
}

.#{$badge-prefix-cls}-solid-warn {
    color: $default-color;
    background-color: $warning-color;
}

.#{$badge-prefix-cls}-solid-error {
    color: $default-color;
    background-color: $error-color;
}

.#{$badge-prefix-cls}-solid-success {
    color: $default-color;
    background-color: $success-color;
}

.#{$badge-prefix-cls}-border-normal {
    background: transparent;
    color: $primary-color;
    border: 1px solid $primary-color;
}

.#{$badge-prefix-cls}-border-warn {
    background: transparent;
    color: $warning-color;
    border: 1px solid $warning-color;
}

.#{$badge-prefix-cls}-border-success {
    background: transparent;
    color: $success-color;
    border: 1px solid $success-color;
}

.#{$badge-prefix-cls}-border-error {
    background: transparent;
    color: $error-color;
    border: 1px solid $error-color;;
}

.#{$badge-prefix-cls}-dot {
    position: absolute;
    width: auto;
    display: inline-block;
    z-index: 999;
}

.#{$badge-prefix-cls}-dot-size-large {
    height: 16px;
    width: 16px;
    border-radius: 16px;
}

.#{$badge-prefix-cls}-dot-size-normal {
    height: 12px;
    width: 12px;
    border-radius: 12px;
}

.#{$badge-prefix-cls}-dot-size-small {
    height: 8px;
    width: 8px;
    border-radius: 8px;
}

.#{$badge-prefix-cls}-mask {
    position: absolute;
    width: 0px;
    height: 0px;
    border-style: solid;
}

.#{$badge-prefix-cls}-mask-light {
    border-color: rgba(255, 255, 255, 0.6);
}

.#{$badge-prefix-cls}-mask-background-light {
    background-color: rgba(255, 255, 255, 0.6);
}

.#{$badge-prefix-cls}-mask-dark {
    border-color: $shadow-color;
}

.#{$badge-prefix-cls}-mask-background-dark {
    background-color: $shadow-color;
}

.#{$badge-prefix-cls}-mask-dot-small {
    border-width: 12px;
}

.#{$badge-prefix-cls}-mask-dot-normal {
    border-width: 16px;
}

.#{$badge-prefix-cls}-mask-dot-large {
    border-width: 20px;
}

.#{$badge-prefix-cls}-mask-small {
    border-width: 20px;
}

.#{$badge-prefix-cls}-mask-normal {
    border-width: 24px;
}

.#{$badge-prefix-cls}-mask-large {
    border-width: 28px;
}

.#{$badge-prefix-cls}-mask-right-top {
    right: 0;
    top: 0;
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-top-right-radius: inherit;
}

.#{$badge-prefix-cls}-mask-right {
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border: none;
    border-top-right-radius: inherit;
    border-bottom-right-radius: inherit;
}

.#{$badge-prefix-cls}-mask-right-bottom {
    right: 0;
    bottom: 0;
    border-top-color: transparent;
    border-left-color: transparent;
    border-bottom-right-radius: inherit;
}

.#{$badge-prefix-cls}-mask-left-top {
    left: 0;
    top: 0;
    border-bottom-color: transparent;
    border-right-color: transparent;
    border-top-left-radius: inherit;
}

.#{$badge-prefix-cls}-mask-left {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border: none;
    border-top-left-radius: inherit;
    border-bottom-left-radius: inherit;
}

.#{$badge-prefix-cls}-mask-left-bottom {
    left: 0;
    bottom: 0;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-left-radius: inherit;
}
