<demo-template [data]="[]" [text]="text['text']['advanced']">
    <div class="wrapper demo-showcase-v">
        <span>常见用法：</span>
        <jigsaw-button width="166px" (click)="showNormal()">最简洁的用法</jigsaw-button>
        <jigsaw-button width="167px" (click)="showCaption()">带标题的简洁用法</jigsaw-button>
        <jigsaw-button width="166px" (click)="showButtons()">带交互按钮用法</jigsaw-button>
        <jigsaw-button width="167px" (click)="customizeInteractive()">自定义交互用法</jigsaw-button>
    </div>
</demo-template>
