<!-- ignore the following lines, they are not important to this demo -->
<jigsaw-demo-description [summary]="summary" [content]="description">
</jigsaw-demo-description>

<!-- start to learn the demo from here -->
<div class="live-demo-wrap">
    <div class="demo-1 live-demo">
        <jigsaw-header [level]="2">基本用法</jigsaw-header>

        <jigsaw-table maxHeight="400"
                      [data]="tableData"
                      [columnDefines]="columnDefines"
                      [additionalColumnDefines]="additionalColumns"
                      [(additionalData)]="additionalData">
        </jigsaw-table>
    </div>
</div>

