<div class="live-demo-wrap">
    <h2>Menu</h2>
    <div class="clearfix">
        <div class="demo-1 live-demo live-demo-block live-demo-menu">
            <h3>基本</h3>
            <p class="comment">基本用法</p>
            <j-menu [data]="titles" [width]="'160'" (select)="selectChange($event)" root></j-menu>
            <p class="message">
                选中的菜单是:
                <span *ngFor="let item of selectedItem">{{item}} </span>
            </p>
        </div>

        <div class="demo-2 live-demo live-demo-block live-demo-menu">
            <h3></h3>
            <p class="comment"></p>
            <j-menu #jMenu [width]="'300'" root></j-menu>
        </div>

        <div class="demo-2 live-demo live-demo-block live-demo-menu">
            <h3></h3>
            <p class="comment"></p>
        </div>
    </div>
</div>
