<!-- ignore the following lines, they are not important to this demo -->
<jigsaw-demo-description [summary]="summary" [content]="description">
</jigsaw-demo-description>


<!-- start to learn the demo from here -->
<jigsaw-mobile-info-alert message="this is a great info alert!" caption="this is the title"></jigsaw-mobile-info-alert>
<jigsaw-mobile-warning-alert message="this is a great warn alert!" caption="this is the title"></jigsaw-mobile-warning-alert>
<br><br>
<jigsaw-mobile-error-alert message="this is a great error alert!" caption="this is the title"></jigsaw-mobile-error-alert>
<jigsaw-mobile-confirm-alert message="this is a great confirm alert!" caption="this is the title"></jigsaw-mobile-confirm-alert>

