<demo-template [sizeController]="null" [description]="description" [demoSources]="demoSources">
    <!-- start to learn the demo from here -->
    <j-transfer
        width="100%"
        height="500"
        [data]="data"
        [selectedItems]="selectedItems"
        [sourceRenderer]="sourceRenderer"
        [destRenderer]="targetRenderer"
        [labelField]="labelField"
        [trackItemBy]="trackItemBy"
        (selectedItemsChange)="selectedItemsChange($event)"
    ></j-transfer>
</demo-template>
