<!-- ignore the following lines, they are not important to this demo -->
<jigsaw-demo-description [summary]="summary" [content]="description">
</jigsaw-demo-description>


<!-- start to learn the demo from here -->
<p jigsaw-cascading-menu [jigsawCascadingMenuData]="data" class="menu"
      [jigsawCascadingMenuHeight]="height"
      [jigsawCascadingMenuWidth]="width"
      [jigsawCascadingMenuTheme]='theme[0]'
      (jigsawCascadingMenuSelect)="menuSelect($event)">
菜单弹出
</p>
<div (contextmenu)="contextMenu($event)" class="context-menu">
    <p class="message">右击这里</p>
</div>
<br><br>

<h3 style="margin-bottom:8px;">可用配置项</h3>
<p class="message">
    皮肤
    <jigsaw-button-bar [(selectedItems)]="theme" [multipleSelect]="false"
                       [data]="['light', 'dark', 'navigation']">
    </jigsaw-button-bar>
</p>
<p class="message">
    宽度
    <jigsaw-numeric-input [(value)]="width" [step]="10"></jigsaw-numeric-input>
    </p>
<p class="message">
    高度
    <jigsaw-numeric-input [(value)]="height" [step]="10"></jigsaw-numeric-input>
</p>
<p class="message">
    数据
    <jigsaw-button-bar [(selectedItems)]="dataType" [multipleSelect]="false"
                       [data]="['normal', 'long']" (selectedItemsChange)="changeData($event)">
    </jigsaw-button-bar>
</p>

<p class="message" style="width: 500px;">
    关于高度说明：<br>
    菜单高度默认是由菜单项自动撑出来的，一个层级下有多少菜单项，该级菜单就有多高。
    当给定某个菜单高度值时，则所有菜单均保持此高度，菜单项少于此高度，则给出背景色填充，如果菜单项多于此高度，则给出滚动条
</p>
