<!-- ignore the following lines, they are not important to this demo -->
<jigsaw-demo-description [summary]="summary" [content]="description">
</jigsaw-demo-description>

<!-- start to learn the demo from here -->
<jigsaw-header>可用配置项</jigsaw-header>
<ul class="demo-options">
    <li class="demo-options-item">
        <span>主题：</span>
        <jigsaw-button-bar [(selectedItems)]="theme" [multipleSelect]="false" [data]="['light', 'dark', 'navigation']">
        </jigsaw-button-bar>
    </li>
    <li class="demo-options-item">
        <span>宽度：</span>
        <jigsaw-numeric-input [(value)]="width" [step]="10" [suffix]="units" (suffixChange)="unitChange($event)"></jigsaw-numeric-input>
    </li>
    <li class="demo-options-item">
        <span>高度：</span>
        <jigsaw-numeric-input [(value)]="height" [step]="10"></jigsaw-numeric-input>
    </li>
    <li class="demo-options-item">
        <span>数据：</span>
        <jigsaw-button-bar [(selectedItems)]="dataType" [multipleSelect]="false" [data]="['normal', 'long']"
            (selectedItemsChange)="changeData($event)">
        </jigsaw-button-bar>
    </li>
    <li class="demo-options-item">
        <span>打开方式：</span>
        <jigsaw-button-bar [(selectedItems)]="openTrigger" [data]="openTriggers">
        </jigsaw-button-bar>
    </li>
    <li class="demo-options-item">
        <span>关闭方式：</span>
        <jigsaw-button-bar [(selectedItems)]="closeTrigger" [data]="closeTriggers">
        </jigsaw-button-bar>
    </li>
    <li class="demo-options-item">
        <span>设置options</span>
        <jigsaw-switch [(checked)]="setMenuOptions" (checkedChange)="setMenuOptionsChange()">
        </jigsaw-switch>
        <jigsaw-icon></jigsaw-icon>
        <jigsaw-icon [icon]="'iconfont iconfont-e23f'" [iconSize]="20" title="用于测试能否正确手动修改jigsawCascadingMenuOptions"></jigsaw-icon>
    </li>
    <li class="demo-desc">
        关于高度说明：<br>
        菜单高度默认是由菜单项自动撑出来的，一个层级下有多少菜单项，该级菜单就有多高。
        当给定某个菜单高度值时，则所有菜单均保持此高度，菜单项少于此高度，则给出背景色填充，如果菜单项多于此高度，则给出滚动条
    </li>
</ul>

<jigsaw-header>Menu菜单</jigsaw-header>
<div class="target-cntr flex">
    <p class="target-button flex normal" jigsaw-cascading-menu [jigsawCascadingMenuData]="data"
        [jigsawCascadingMenuHeight]="height" [jigsawCascadingMenuWidth]="width + unit" [jigsawCascadingMenuTheme]='theme[0]'
        [jigsawCascadingMenuOptions]="options" [jigsawCascadingMenuOpenTrigger]="openTrigger[0]"
        [jigsawCascadingMenuCloseTrigger]="closeTrigger[0]" (jigsawCascadingMenuSelect)="menuSelect($event)">
        菜单弹出
    </p>
    <p class="target-button flex long" jigsaw-cascading-menu [jigsawCascadingMenuData]="data"
        [jigsawCascadingMenuHeight]="height" [jigsawCascadingMenuWidth]="width + unit" [jigsawCascadingMenuTheme]='theme[0]'
        [jigsawCascadingMenuOptions]="options" [jigsawCascadingMenuOpenTrigger]="openTrigger[0]"
        [jigsawCascadingMenuCloseTrigger]="closeTrigger[0]"  (jigsawCascadingMenuSelect)="menuSelect($event)">
        菜单弹出
    </p>
</div>
<div class="target-box flex" (contextmenu)="contextMenu($event)">
    <p>右击这里</p>
</div>