<demo-template [data]="''" [text]="text['text']['renderer']">
<!-- start to learn the demo from here -->
    <div class="demo-showcase">
        <span>正常</span>
        <jigsaw-icon [isLinkButton]="true" [icon]="'iconfont iconfont-e1a0'" [iconSize]="16" text="这是超链"
                     [href]="'http://rdk.zte.com.cn/home'" [target]="'_blank'" title="这是超链">
        </jigsaw-icon>
    </div>

    <div class="demo-showcase">
        <span>禁用</span>
        <jigsaw-icon [isLinkButton]="true" [icon]="'iconfont iconfont-e1a0'" [iconSize]="16" text="这是超链"
                     [disabled]="true"
                     [href]="'http://rdk.zte.com.cn/home'" [target]="'_blank'" title="这是超链">
        </jigsaw-icon>
    </div>
</demo-template>
