<demo-template [data]="''" [text]="text['text']['doughnut']">
    <div class="demo-showcase-v">
        <span>DoughnutGraphData静态数据</span>
        <jigsaw-graph [data]="doughnut" (click)="handleClick($event)"></jigsaw-graph>
    </div>

    <div class="demo-showcase-v">
        <span>DoughnutRateGraphData静态数据</span>
        <jigsaw-graph [data]="doughnutRate" (click)="handleClick($event)"></jigsaw-graph>
    </div>

    <div class="demo-showcase-v">
        <span>DoughnutScoreGraphData静态数据</span>
        <jigsaw-graph [data]="doughnutScore" (click)="handleClick($event)"></jigsaw-graph>
    </div>
</demo-template>









