@import "../../assets/scss/core/basc";

$option-prefix-cls: #{$rdk-prefix}-tile-option;

:host{
  @include inline-block();
}

:host-context(.theme-blue) .#{$option-prefix-cls}{
  &:hover, &.#{$option-prefix-cls}-on{
    color: $primary-color;
  }
  &.#{$option-prefix-cls}-on{
    border: 1px solid $primary-color;
  }
}

:host-context(.theme-orange) .#{$option-prefix-cls}{
  &:hover, &.#{$option-prefix-cls}-on{
    color: $orange;
  }
  &.#{$option-prefix-cls}-on{
    border: 1px solid $orange;
  }
}

.#{$option-prefix-cls} {
  vertical-align: top;
  margin-right: 8px;
  cursor: pointer;
  width: 50px;
  height: 30px;
  border: 1px solid $border-color-base;
  line-height: 30px;
  text-align: center;
  border-radius: 4px;
  @include prefixer(transition, all .3s $ease-in-out);
  &:hover, &.#{$option-prefix-cls}-on{
    color: $primary-color;
  }
  &.#{$option-prefix-cls}-on{
    border: 1px solid $primary-color;
  }
}
