.jigsaw-loading-circle {
    position: absolute;
    left: 50%;
    top: 50%;
    background: none;
    border: 0;
    width: 5em;
    height: 5em;
    margin-left: -2.5em;
    margin-top: -2.5em;
    font-size: inherit;
    font-weight: 700;
    outline: none;
    padding: 0;
    color: $font-color-heading-bold;
    box-sizing: border-box;
    box-shadow: none;

    &::after {
        box-sizing: inherit;
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        border-radius: 50%;
        border: 0.2em solid $bg-disabled;
        border-top-color: $brand-default;
        animation: infiniteRotate 1s infinite;
        transition: transform ease-in 0.1s;
    }
}

@include keyframes(infiniteRotate) {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@mixin keyframes($name) {
    @-webkit-keyframes #{$name} {
        @content;
    }
    @-moz-keyframes #{$name} {
        @content;
    }
    @-ms-keyframes #{$name} {
        @content;
    }
    @keyframes #{$name} {
        @content;
    }
}
