$circle-loading-prefix-cls: #{$jigsaw-prefix}-circle-loading;

.#{$circle-loading-prefix-cls}-host {
    position: absolute;
    top: 50%;
    left: 50%;

    .#{$circle-loading-prefix-cls}-svg {
        position: relative;
        width: 72px;
        height: 72px;
        box-sizing: border-box;

        svg {
            height: 100%;
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            transform-origin: center center;
        }
    }

    .#{$circle-loading-prefix-cls}-svg-bar,
    .#{$circle-loading-prefix-cls}-svg-back {
        stroke-width: 6px;
        fill: none;
        stroke-miterlimit: 10;
    }

    .#{$circle-loading-prefix-cls}-svg-bar {
        stroke: #1993ff;
        stroke-linecap: round;
    }

    .#{$circle-loading-prefix-cls}-svg-back {
        stroke: $bg-disabled;
    }
}
