<demo-template [data]="[]" [text]="text['text']['basic']">
    <div>
        <jigsaw-radios id="test-radio" [(value)]="selectedCity"
                       (valueChange)="radioChange($event)"
                       trackItemBy="id">
            <jigsaw-radio-option *ngFor="let item of cities" [value]="item">
                {{item.label}}
            </jigsaw-radio-option>
        </jigsaw-radios>
        <p id="select-message" class="message">{{selectedCity?.label}}</p>
        <jigsaw-button (click)="clearSelectedCity()" style="margin-top: 20px">取消单选</jigsaw-button>
    </div>
</demo-template>
