$jigsaw-rate: #{$jigsaw-prefix}-rate;

.#{$jigsaw-rate}-host {
    .#{$jigsaw-rate} {
        margin: 0;
        padding: 0;
        list-style: none;
        display: inline-block;
        vertical-align: middle;

        &.#{$jigsaw-rate}-disabled {
            .#{$jigsaw-rate}-star {
                cursor: not-allowed;

                &:hover {
                    transform: scale(1);
                }

                &.#{$jigsaw-rate}-star-half {
                    .#{$jigsaw-rate}-star-first {
                        color: $danger-disabled;
                    }

                    &:hover {
                        .#{$jigsaw-rate}-star-first {
                            color: $danger-disabled;
                        }
                    }
                }

                &.#{$jigsaw-rate}-star-full {
                    .#{$jigsaw-rate}-star-second {
                        color: $danger-disabled;
                    }

                    &:hover {
                        .#{$jigsaw-rate}-star-second {
                            color: $danger-disabled;
                        }
                    }
                }
            }
        }

        .#{$jigsaw-rate}-star {
            padding: 0;
            display: inline-block;
            margin: 0 4px 0 0;
            position: relative;
            transition: all 0.3s;
            color: $icon-color-disabled;
            cursor: pointer;

            .#{$jigsaw-rate}-star-first,
            .#{$jigsaw-rate}-star-second {
                user-select: none;
                transition: all 0.3s;
            }

            &:hover {
                transform: scale(1.1);
            }

            .#{$jigsaw-rate}-star-first {
                position: absolute;
                left: 0;
                top: 0;
                width: 50%;
                height: 100%;
                overflow: hidden;
                opacity: 0;
            }

            &.#{$jigsaw-rate}-star-half .#{$jigsaw-rate}-star-first,
            &.#{$jigsaw-rate}-star-half .#{$jigsaw-rate}-star-second {
                opacity: 1;
            }

            &.#{$jigsaw-rate}-star-half .#{$jigsaw-rate}-star-first,
            &.#{$jigsaw-rate}-star-full .#{$jigsaw-rate}-star-second {
                color: $danger-default;
            }

            &.#{$jigsaw-rate}-star-half:hover .#{$jigsaw-rate}-star-first,
            &.#{$jigsaw-rate}-star-full:hover .#{$jigsaw-rate}-star-second {
                color: $danger-default;
            }
        }
    }
}
