$jigsaw-alphabetical-index: #{$jigsaw-prefix}-alphabetical-index;
$jigsaw-list: #{$jigsaw-prefix}-list;

.#{$jigsaw-alphabetical-index}-host {
    position: relative;
    display: flex;
    width: 200px;
    height: 448px;
    padding: 8px 0;

    .#{$jigsaw-alphabetical-index}-title {
        padding-left: 8px;
        font-size: $icon-size-med;
        font-weight: bold;
    }

    .#{$jigsaw-list}-host {
        width: 180px;
        height: 100%;
        border: none;
    }

    .#{$jigsaw-alphabetical-index}-panel {
        position: absolute;
        top: 0;
        right: 0;
        display: flex;
        flex-direction: column;

        li {
            display: flex;
            justify-content: center;
            height: 16px;
            font-size: $font-size-base;
            color: $brand-default;
            cursor: pointer;

            &:hover {
                font-weight: bold;
            }
        }
    }
}
