<demo-template [data]="''" [text]="text['text']['contentField']">
    <!-- start to learn the demo from here -->

    <div class="live-demo-wrap">
        <jigsaw-header>预设字段名(key)修改</jigsaw-header>
        <label class="field-label">contentField: </label>
        <j-input #contentField width="180" [value]="'file'"></j-input>
        <br/>
        <label class="field-label">fileNameField: </label>
        <j-input #fileNameField width="180" [value]="'filename'"></j-input>
        <br/>
        <label class="field-label">fileVerify: </label>
        <j-input #fileVerify width="180" [value]="'$svr/my-verifier.js'"></j-input>
        <br/>

        <!-- 其他字段-->
        <jigsaw-header>其他字段(key:value)</jigsaw-header>
        <div *ngFor="let item of additionalFields; let last = last" style="margin-bottom: 8px">
            <j-input width="130" [clearable]="false" [(value)]="item.field"></j-input>
            :
            <j-input width="180" [(value)]="item.value"></j-input>
            <a *ngIf="last" (click)="addField()">add field</a>
            <br/>
        </div>

        <jigsaw-button jigsaw-upload [uploadAdditionalFields]="readAdditionalFields"
                       [uploadContentField]="contentField.value"
                       [uploadFileNameField]="fileNameField.value" [uploadFileVerify]="fileVerify.value"
                       (uploadStart)="onComplete($event)" style="margin-bottom: 16px">
            上传
        </jigsaw-button>
        <br/>
    </div>
</demo-template>
