<demo-template [data]="''" [text]="text['text']['basic']">
    <!-- start to learn the demo from here -->
    <div class="demo-showcase">
        <span>正常</span>
        <jigsaw-auto-complete-input [(value)]="inputValue" placeholder="auto complete input demo" width="280"
                                    (valueChange)="valueChanged($event)" [data]="_$dropdownData"
                                    [filterOnFocus]="filterOnFocus" [closeDropDownOnSelect]="closeDropDownOnSelect"
                                    [preIcon]="preIcons" [icon]="backIcon" (preIconSelect)="iconClick($event, 'pre')"
                                    (iconSelect)="iconClick($event, 'back')">
        </jigsaw-auto-complete-input>
        <p>Click info: {{message}}</p>
    </div>

    <div class="demo-showcase">
        <span>禁用</span>
        <jigsaw-auto-complete-input [(value)]="inputValue" placeholder="auto complete input demo" width="280"
                                    (valueChange)="valueChanged($event)" [data]="_$dropdownData"
                                    [filterOnFocus]="filterOnFocus" [closeDropDownOnSelect]="closeDropDownOnSelect"
                                    [preIcon]="preIcons" [icon]="backIcon" (preIconSelect)="iconClick($event, 'pre')"
                                    (iconSelect)="iconClick($event, 'back')"
                                    [disabled]="true">
        </jigsaw-auto-complete-input>
    </div>
</demo-template>
