<!-- ignore the following lines, they are not important to this demo -->
<jigsaw-demo-description [summary]="summary" [content]="description">
</jigsaw-demo-description>


<!-- start to learn the demo from here -->
<jigsaw-collapse width="200px">

    <j-collapse-pane [isActive]="true">
        <div j-title>
            <span class="fa fa-user"></span> 功能组1
        </div>
        <div j-body>
            <jigsaw-menu [data]="data" (select)="menuSelect($event)" width="100%">
            </jigsaw-menu>
        </div>
    </j-collapse-pane>
    <j-collapse-pane [isActive]="false">
        <div j-title>
            <span class="fa fa-user"></span> 功能组2
        </div>
        <div j-body>
            <jigsaw-menu [data]="data" (select)="menuSelect($event)" width="100%">
            </jigsaw-menu>
        </div>
    </j-collapse-pane>
    <j-collapse-pane [isActive]="false">
        <div j-title>
            <span class="fa fa-user"></span> 功能组3
        </div>
        <div j-body>
            <jigsaw-menu [data]="data" (select)="menuSelect($event)" width="100%">
            </jigsaw-menu>
        </div>
    </j-collapse-pane>
</jigsaw-collapse>

