<!-- ignore the following lines, they are not important to this demo -->
<jigsaw-demo-description [summary]="summary" [content]="description">
</jigsaw-demo-description>


<!-- start to learn the demo from here -->
<h2>Default</h2>
<br><br><br>
<jigsaw-menu [data]="data"
             (select)="menuSelect($event)">
</jigsaw-menu>

<br><br><br><br><br><br><br><br>

<h2>With Settings</h2>
<br><br><br>

<jigsaw-menu [data]="data"
             height="100"
             maxHeight="120"
             width="200"
             backgroundColor="orange"
             selectedColor="red"
             (select)="menuSelect($event)">
</jigsaw-menu>


