<!-- ignore the following lines, they are not important to this demo -->
<jigsaw-demo-description [summary]="summary" [content]="description">
</jigsaw-demo-description>

<!-- start to learn the demo from here -->


<div class="live-demo-wrap">
    <jigsaw-header [level]="1">Slider</jigsaw-header>
    <div class="demo-4 live-demo">
        <jigsaw-header [level]="2">更新value</jigsaw-header>
        <j-button (click)="updateValue()">update value</j-button><br>
        <jigsaw-slider width="80%" [(value)]="rangeValue" [max]="rangeMax"></jigsaw-slider>
        <p class="message">原始取值范围：{{rangeValue.join('-')}}；提示：可对多个值排序再使用，排序后的值是{{sortedValue}}</p>
    </div>
</div>
