<!-- ignore the following lines, they are not important to this demo -->
<jigsaw-demo-description [summary]="summary" [content]="description">
</jigsaw-demo-description>


<!-- start to learn the demo from here -->
<jigsaw-button (click)="changeTitle()">change title</jigsaw-button>
<jigsaw-button (click)="changeLang()">
    toggle change language
</jigsaw-button>
<jigsaw-tabs>
    <jigsaw-tab-pane>
        <div jigsaw-title>{{title}}</div>
        <ng-template>tab content 1</ng-template>
    </jigsaw-tab-pane>
    <jigsaw-tab-pane title="{{'title2' | translate}}">
        <ng-template>tab content 2</ng-template>
    </jigsaw-tab-pane>
</jigsaw-tabs>
