<!-- ignore the following lines, they are not important to this demo -->
<jigsaw-demo-description [summary]="summary" [content]="description">
</jigsaw-demo-description>


<!-- start to learn the demo from here -->
<button (click)="changeTitle(tabs)">change title</button>
<jigsaw-tabs #tabs>
    <jigsaw-tab-pane>
        <div jigsaw-title>{{title1}}</div>
        <ng-template>tab content 1</ng-template>
    </jigsaw-tab-pane>
    <jigsaw-tab-pane title="tab 2">
        <ng-template>tab content 2</ng-template>
    </jigsaw-tab-pane>
</jigsaw-tabs>
