<div class="jigsaw-tabs-bar">
    <div class="jigsaw-tabs-nav-container" [style.background]="styleOptions?.barStyles?.backgroundFill">
        <div #tabsInkBar class="jigsaw-tabs-ink-bar" [ngStyle]="_$inkBarStyle"></div>
        <div #tabsNavWrap class="jigsaw-tabs-nav-wrap">
            <div #tabsNav class="jigsaw-tabs-nav" [ngStyle]="_$selectTabStyle" (mouseout)="_$hoveredTab = null">
                <jigsaw-tab-label class="jigsaw-tabs-tab"
                                  *ngFor="let tab of _$tabPanes; let i = index"
                                  [key]="i"
                                  [tabItem]="tab.renderer ? tab.renderer : (tab.label ? tab.label : (tab.html ? tab.html : tab))"
                                  [title]="tab.renderer ? tab.label : tab.title"
                                  [editable]="editable"
                                  [icon]="tab.icon"
                                  [htmlContext]="tab.htmlContext"
                                  [initData]="tab.initData"
                                  [class.jigsaw-tabs-tab-active]="_$selectedIndex === i"
                                  [class.jigsaw-tabs-tab-disabled]="tab.disabled"
                                  [class.jigsaw-tabs-tab-hidden]="tab.hidden"
                                  [class.jigsaw-tabs-tab-editable]="editable"
                                  (click)="!tab.disabled && _$tabClick(i)"
                                  (remove)="_$handleRemove($event)"
                                  (labelChange)="titleChange.emit($event)"
                                  [ngStyle]="_$getTabLabelStyle(tab, i)"
                                  (mouseover)="_$hoveredTab = i">
                </jigsaw-tab-label>
                <span class="iconfont iconfont-ea1d jigsaw-tabs-add-bar" *ngIf="editable"
                      (click)="_$handleAdd()"></span>
            </div>
        </div>
        <div *ngIf="_$showOverflowButton" class="jigsaw-tabs-overflow-button"
             jigsaw-float jigsawFloatPosition="bottomRight" [jigsawFloatTarget]="tabsList"
             [jigsawFloatOptions]="{useCustomizedBackground: true}">
            <span class="iconfont iconfont-e9c7"></span>
        </div>
    </div>
</div>

<ng-template #tabsList>
    <j-list class="jigsaw-tabs-list" [theme]="theme" [perfectScrollbar]="{suppressScrollX: true, wheelSpeed: 0.5, wheelPropagation: true, minScrollbarLength: 20}">
        <jigsaw-list-option *ngFor="let tab of _$tabPanes; let i = index;" [value]="tab" (click)="_$listOptionClick(i)"
                            [ngStyle]="{'display': tab.hidden ? 'none' : 'block'}" [disabled]="tab.disabled"
                            [class.jigsaw-list-option-selected]="_$selectedIndex === i">
            <div class="jigsaw-tabs-bar-list-option">
                <span *ngIf="tab.icon" [ngClass]="tab.icon"></span>
                <span class="jigsaw-tabs-bar-list-content" [trustedHtml]="_$tabList[i]"></span>
            </div>
        </jigsaw-list-option>
        <ng-container *ngIf="editable">
            <jigsaw-list-option></jigsaw-list-option>
            <jigsaw-list-option [value]="true" (click)="_$handleAdd()">
                <p class="jigsaw-tabs-bar-add-option">
                    <span class="iconfont iconfont-ea1d"></span>
                    {{'tabs.add' | translate}}
                </p>
            </jigsaw-list-option>
        </ng-container>
    </j-list>
</ng-template>
