@import "../../common/assets/scss/core/base";

$tab-prefix: #{$jigsaw-prefix}-tabs;

.#{$tab-prefix}-host {
    display: block;
    height: auto;
}

.#{$tab-prefix} {
    display: block;
    position: relative;
    overflow: hidden;
    @include clearfix;
    color: $font-color-default;
    background: $bg-component;

    &.#{$tab-prefix}-vertical-response {
        display: flex;
        flex-direction: column;
        height: 100%;

        .#{$tab-prefix}-content {
            flex: 1;
            overflow: hidden;
        }
    }

    &-bar {
        border-bottom-width: 1px;
        border-bottom-style: solid;
        border-bottom-color: $splitline-default;
        margin-bottom: 6px;
        outline: none;
    }

    &-remove-bar {
        display: flex;
        align-items: center;
        position: absolute;
        right: 0;
        top: 0;
        height: 100%;
        font-size: 18px;
        color: $icon-color-default;

        &:hover {
            color: $brand-default;
        }
    }

    &-add-bar {
        font-size: 18px;
        vertical-align: middle;
        color: $icon-color-default;
        cursor: pointer;

        &:hover {
            color: $brand-default;
        }
    }

    &-overflow-button {
        position: absolute;
        top: 0;
        right: 0;
        width: 40px;
        height: 100%;
        font-size: 24px;
        color: $icon-color-default;
        text-align: center;
        cursor: pointer;

        &:hover {
            background-color: $brand-default;
            color: $font-color-white;
        }
    }

    &-list {
        box-shadow: none !important;
        border-radius: 0;
        border: none;
        width: 200px !important;
        max-height: 300px;

        .#{$tab-prefix}-bar-list-option {
            display: flex;

            .#{$tab-prefix}-bar-list-content {
                display: inline-block;
            }
        }

        .jigsaw-list-option {
            .span-margin {
                margin: 0 4px;
                width: 10px;
                height: 9px;
            }

            &-selected {
                display: flex;
                align-items: center;
                color: $brand-default;

                .check-icon {
                    margin-right: 5px;
                }
            }

            &-hidden {
                display: none;
            }
        }
    }

    &-nav-container {
        position: relative;
        font-size: $font-size-lg;
        line-height: 1.5;
        white-space: nowrap;
        box-sizing: border-box;

        .#{$tab-prefix}-ink-bar {
            position: absolute;
            display: block;
            z-index: $zindex-level-1;
            left: 0;
            bottom: -1px;
            height: 2px;
            background-color: $brand-default;
            transition: transform 0.3s $ease-in-out;
            transform-origin: 0 0;

            &:after {
                position: absolute;
                top: 2px;
                left: 50%;
                margin-left: -4px;
                width: 0;
                height: 0;
                border: {
                    width: 4px 4px;
                    style: solid;
                    color: $brand-default transparent transparent transparent;
                }
                content: "";
                display: none;
            }
        }

        .#{$tab-prefix}-nav-wrap {
            @include clearfix();
            width: calc(100% - 40px);
            overflow: hidden;

            .#{$tab-prefix}-nav {
                position: relative;
                float: left; /*用于width为auto，并能撑开tab nav*/
                transition: transform 0.5s $ease-in-out, left 0.5s $ease-in-out;

                .#{$tab-prefix}-tab-disabled {
                    pointer-events: none;
                    cursor: default;
                    color: $font-color-disabled;
                }

                jigsaw-tab-label {
                    a:hover {
                        text-decoration: none;
                        color: $brand-default;
                    }

                    * {
                        outline: 0;
                    }
                }

                .#{$tab-prefix}-tab {
                    display: inline-flex;
                    align-items: center;
                    height: 100%;
                    margin-right: 24px;
                    position: relative;

                    padding: 8px 20px;
                    transition: color 0.3s $ease-in-out;
                    cursor: pointer;
                    text-decoration: none;

                    &:hover {
                        color: $brand-hover;
                    }

                    &:active {
                        color: $brand-active;
                    }

                    &-hidden {
                        display: none;
                    }

                    span.iconfont {
                        margin-right: 6px;
                    }

                    a:hover {
                        text-decoration: none;
                        color: $brand-default;
                    }

                    * {
                        outline: 0;
                    }
                }

                .#{$tab-prefix}-tab-active {
                    color: $brand-default;
                }
            }
        }
    }

    &-content {
        width: 100%;

        .#{$tab-prefix}-tabpane {
            display: block;
            flex-shrink: 0;
            width: 100%;
            height: 100%;
            opacity: 1;

            &-inactive {
                opacity: 0;
                height: 0;
                overflow: hidden;
            }

            &-hidden {
                display: none;
            }
        }
    }
}

.#{$tab-prefix}-page {
    .#{$tab-prefix}-bar {
        position: relative;
        border: none;

        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            height: 1px;
            width: 100%;
            background: $border-color-default;
            z-index: -1;
        }
    }

    .#{$tab-prefix}-nav-container {
        .#{$tab-prefix}-ink-bar {
            visibility: hidden;
        }

        .#{$tab-prefix}-nav-wrap {
            .#{$tab-prefix}-nav {
                .#{$tab-prefix}-tab {
                    border-width: 1px;
                    border-style: solid;
                    border-color: $border-color-default;
                    border-radius: $border-radius-base;
                    margin-right: 2px;
                    padding: 0 16px;
                    line-height: 32px;

                    &-active {
                        border-top-width: 2px;
                        border-top-color: $brand-default;
                        border-bottom-color: $bg-body;
                    }
                }

                .#{$tab-prefix}-tab-disabled {
                    background: $bg-disabled;
                }
            }
        }
    }

    &.#{$tab-prefix}-editable {
        .#{$tab-prefix}-remove-bar {
            right: 4px;
        }

        .#{$tab-prefix}-nav-container {
            .#{$tab-prefix}-nav-wrap {
                .#{$tab-prefix}-nav {
                    .#{$tab-prefix}-tab {
                        padding-right: 20px;
                    }
                }
            }
        }
    }
}
