<demo-template [(selectedLabel)]="selectedLabel" [text]="doc.text.basic" [codes]="doc.codes.basic">
    <!-- start to learn the demo from here -->

    <div class="demo-showcase">
        <span>正常</span>
        <j-numeric-input
            [(value)]="value"
            min="10"
            max="110"
            placeholder="请输入数字"
            (valueChange)="valueChange($event)"
            [size]="selectedLabel.size"
        ></j-numeric-input>
    </div>

    <div class="demo-showcase">
        <span>禁用</span>
        <j-numeric-input
            [(value)]="value"
            [disabled]="true"
            min="10"
            max="110"
            placeholder="请输入数字"
            [size]="selectedLabel.size"
            (valueChange)="valueChange($event)"
        ></j-numeric-input>
    </div>

    <div class="demo-showcase">
        <span>是否合法</span>
        <j-numeric-input
            [(value)]="value"
            [valid]="false"
            [disabled]="true"
            min="10"
            max="110"
            placeholder="请输入数字"
            [size]="selectedLabel.size"
            (valueChange)="valueChange($event)"
        ></j-numeric-input>
    </div>
</demo-template>
