<!-- ignore the following lines, they are not important to this demo -->
<jigsaw-demo-description [summary]="summary" [content]="description">
</jigsaw-demo-description>


<!-- start to learn the demo from here -->
<j-time-section-picker [(value)]="timeSection" (valueChange)="timeValueChange($event)"></j-time-section-picker><br>

<j-week-section-picker [(value)]="weekSection" (valueChange)="weekValueChange($event)"></j-week-section-picker><br>
<button (click)="showLastDay = !showLastDay">click</button>
<j-day-section-picker [value]="daySection" [showLastDay]="showLastDay" (valueChange)="dayValueChange($event)" width="50%"></j-day-section-picker>

