.inner-content{
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: #666;
}

.inner-content.double{
    height: 62px;
    line-height: 62px;
}

j-row{
    margin-bottom: 8px;
}

.no-bottom{
    margin-bottom: 0;
}

j-column{
    border: 1px solid #bbb;
    background: #b3def1;
}
