<!-- ignore the following lines, they are not important to this demo -->
<jigsaw-demo-description [summary]="summary" [content]="description">
</jigsaw-demo-description>

<!-- start to learn the demo from here -->
<jigsaw-header>通过icon属性设置图标</jigsaw-header>
<j-button icon="iconfont iconfont-e247">通过icon属性</j-button>

<jigsaw-header>通过iconPosition属性设置图标位置</jigsaw-header>
<j-button icon="iconfont iconfont-e247" iconPosition="left">图标在左侧</j-button>
<j-button icon="iconfont iconfont-e247" iconPosition="right">图标在右侧</j-button>

<jigsaw-header>内嵌图标</jigsaw-header>
<j-button>
    <span class="iconfont iconfont-e9ff"></span>
    <span>内嵌图标</span>
</j-button>

<j-button icon="iconfont iconfont-e247" colorType="primary">通过icon属性</j-button>
<jigsaw-header>内嵌方式设置图标图标位置</jigsaw-header>
<j-button>
    <span class="iconfont iconfont-e9ff"></span>
    <span>图标在左侧</span>
</j-button>
<j-button>
    <span>图标在右侧</span>
    <span class="iconfont iconfont-e9ff"></span>
</j-button>
