<div class="combo-select-demo cmn-box">
    <jigsaw-combo-select>
        <jigsaw-collapse mode="accordion">
            <jigsaw-collapse-pane [isActive]="true">
                <div jigsaw-title>
                    <i class="fa fa-arrow-circle-right"></i>
                    <span style="color: blue;">测试自定义Title</span>
                    <i class="fa fa-arrow-circle-left"></i>
                </div>
                <div jigsaw-body>
                    <input type="text" placeholder="请输入姓名~">
                </div>
            </jigsaw-collapse-pane>

            <jigsaw-collapse-pane title="afdafd">
                密码: <input type="text" placeholder="请输入姓名~">
            </jigsaw-collapse-pane>
        </jigsaw-collapse>
    </jigsaw-combo-select>
</div>


