<!-- ignore the following lines, they are not important to this demo -->
<jigsaw-demo-description [summary]="summary" [content]="description">
</jigsaw-demo-description>

<!-- start to learn the demo from here -->
<ul class="demo-options">
    <li class="demo-options-item">
        <span>冻结左侧列数：</span>
        <j-numeric-input [(value)]="freezeLeftColumns" (valueChange)="valueChange()">
        </j-numeric-input>
        <span style="margin-left:24px">冻结右侧侧列数：</span>
        <j-numeric-input [(value)]="freezeRightColumns" (valueChange)="valueChange()">
        </j-numeric-input>
        <a style="margin-left:24px" (click)="freezeLeftColumns = null; freezeRightColumns = null;">测试无效值</a>
    </li>
    <li class="demo-options-item">
        <span>contentWidth：</span>
        <j-button-bar [(selectedItems)]="selectedContentWidth" [data]="contentWidthData"
            (selectedItemsChange)="valueChange()">
        </j-button-bar>
        <j-numeric-input *ngIf="selectedContentWidth[0].id == 3" [(value)]="contentWidthNum" min="100" max="5000"
            step="100" (valueChange)="valueChange()">
        </j-numeric-input>
    </li>
    <li class="demo-options-item">
        <span>可变列宽：</span>
        <jigsaw-switch [(checked)]="columnResizable"></jigsaw-switch>
    </li>
</ul>

<jigsaw-table #tableCmp maxHeight="400" [data]="tableData" [columnDefines]="columnDefines"
              [additionalColumnDefines]="additionalColumns" [contentWidth]="contentWidth"
              [frozenLeftColumns]="freezeLeftColumns" [frozenRightColumns]="freezeRightColumns"
              [columnResizable]="columnResizable">
</jigsaw-table>
