<!-- ignore the following lines, they are not important to this demo -->
<jigsaw-demo-description [summary]="summary" [content]="description">
</jigsaw-demo-description>

<!-- start to learn the demo from here -->
<jigsaw-header>正常状态：</jigsaw-header>
<div>
    <jigsaw-switch [(checked)]="checked" style="margin-right: 5px"></jigsaw-switch>
    <span>result: {{ checked }}</span>
</div>

<jigsaw-header>正常状态带文字：</jigsaw-header>
<jigsaw-switch onLabel="Jigsaw is great!" offLabel="Jigsaw is perfect!"></jigsaw-switch>

<jigsaw-header>禁用状态：</jigsaw-header>
<div>
    <jigsaw-switch [checked]="true" [disabled]="true"></jigsaw-switch>
    <jigsaw-switch [checked]="false" [disabled]="true"></jigsaw-switch>
</div>

<jigsaw-header>禁用状态带文字：</jigsaw-header>
<div>
    <jigsaw-switch [checked]="true" [disabled]="true" onLabel="Jigsaw is great!" offLabel="Jigsaw is perfect!">
    </jigsaw-switch>
    <jigsaw-switch [checked]="false" [disabled]="true" onLabel="Jigsaw is great!" offLabel="Jigsaw is perfect!">
    </jigsaw-switch>
</div>