<demo-template [data]="''" [text]="doc.text.ball" [codes]="doc.codes.ball">
    <div class="wrap">
        <div #block class="block">
            <div>
                <p>这里需要一段文字，虽然我认真写了，但是估计没多少人会仔细看。</p>
                <p>这里需要一段文字，虽然我认真写了，但是估计没多少人会仔细看。</p>
                <p>这里需要一段文字，虽然我认真写了，但是估计没多少人会仔细看。</p>
                <p>这里需要一段文字，虽然我认真写了，但是估计没多少人会仔细看。</p>
                <p>这里需要一段文字，虽然我认真写了，但是估计没多少人会仔细看。</p>
                <p>这里需要一段文字，虽然我认真写了，但是估计没多少人会仔细看。</p>
                <p>这里需要一段文字，虽然我认真写了，但是估计没多少人会仔细看。</p>
                <p>这里需要一段文字，虽然我认真写了，但是估计没多少人会仔细看。</p>
                <p>这里需要一段文字，虽然我认真写了，但是估计没多少人会仔细看。</p>
                <p>这里需要一段文字，虽然我认真写了，但是估计没多少人会仔细看。</p>
                <p>这里需要一段文字，虽然我认真写了，但是估计没多少人会仔细看。</p>
                <p>这里需要一段文字，虽然我认真写了，但是估计没多少人会仔细看。</p>
                <p>这里需要一段文字，虽然我认真写了，但是估计没多少人会仔细看。</p>
            </div>
        </div>
    </div>
</demo-template>
