<demo-template [data]="''" [text]="text['text']['limit']">
    <!-- start to learn the demo from here -->
    <div class="toggle up">
        <label>limitStart: </label>
        <j-radios [(value)]="limitStart">
            <j-radio-option *ngFor="let item of limitStartList" [value]="item">{{item}}</j-radio-option>
        </j-radios>
        <br>
        <label>limitEnd: </label>
        <j-radios [(value)]="limitEnd">
            <j-radio-option *ngFor="let item of limitEndList" [value]="item">{{item}}</j-radio-option>
        </j-radios>
    </div>
    <j-date-picker [(date)]="date1" gr="date" [limitStart]="limitStart"
                   [limitEnd]="limitEnd"></j-date-picker>
    <p class="message">Selected Time: <span>{{date1}}</span></p>
</demo-template>
