.demo-control-bar {
    position: fixed;
    right: 8px;
    top: 0;
    background-color: var(--bg-body);
    text-align: right;
}

.demo-control-bar jigsaw-button-bar {
    margin-top: 8px;
}
