<jigsaw-root>
    <div class="app-wrap">
        <header>
            <h4 [innerHTML]="jigsawTitle | translate"></h4>
            <p style="padding-top: 6px;font-size: 11px;">
                如果你发现了故障或者有任何疑问，那请<a href="https://github.com/rdkmaster/jigsaw/issues/new">提交一个issue</a>；
                如果你觉得Jigsaw还不错，那请<a href="https://github.com/rdkmaster/jigsaw">赏个星星</a>给我们作为鼓励；
                大数据UED正式网站正在建设中，值得你期待；
            </p>
            <jigsaw-button
                [colorType]="'primary'"
                (click)="gotoPlunker()">查看/编辑此demo的源码
            </jigsaw-button>
        </header>
        <router-outlet></router-outlet>
    </div>
</jigsaw-root>
