<!-- ignore the following lines, they are not important to this demo -->
<jigsaw-demo-description [summary]="summary" [content]="description">
</jigsaw-demo-description>


<!-- start to learn the demo from here -->
<jigsaw-table style="margin-bottom: 10px;" maxHeight="400px" [data]="pageable" [columnDefines]="columnDefines"></jigsaw-table>
<jigsaw-pagination
    [data]="pageable"
    [pageSizeOptions]="[5, 10, 20]"
    [searchable]="true"
    [showQuickJumper]="true"
    (search)="onSearch($event)"
></jigsaw-pagination>
<span>共{{pageable.pagingInfo.totalRecord}}条记录</span>
