<p>selected: {{selected}}</p>
<p>removed: {{removed}}</p>
<hr>

<jigsaw-combo-select
    placeholder="请输入姓名~"
    [(value)]="selectedCity"
    (valueChange)="valueChange($event)"
    (select)="select($event)"
    (remove)="remove($event)"
    maxWidth="500"
    [clearable]="true">
    <ng-template>
        <jigsaw-tile-select
            [(selectedItems)]="selectedCity"
            labelField="label"
            [searchable]="true"
            [data]="citys"
            width="400px"
            tileOptionWidth="22.8%"
            style="padding: 8px 0 8px 8px">
        </jigsaw-tile-select>
    </ng-template>
</jigsaw-combo-select>


