<demo-template [data]="''" [text]="text['text']['basic']">
    <div class="demo-showcase">
        <span>正常</span>
        <jigsaw-slider [(value)]="value" [disabled]="disabled" (change)="sliderChange($event)" min="10"
                       width="600"></jigsaw-slider>
    </div>
    <div class="demo-showcase">
        <span>禁用</span>
        <jigsaw-slider [(value)]="value1" [disabled]="disabled1"  min="10"
                       width="600"></jigsaw-slider>
    </div>
</demo-template>
