<!-- ignore the following lines, they are not important to this demo -->
<jigsaw-demo-description [summary]="summary" [content]="description">
</jigsaw-demo-description>


<!-- start to learn the demo from here -->
<jigsaw-tooltip-dialog>
    <div class="tooltip-content">
        <h3><span class="fa fa-thumbs-up"></span>This is a message!</h3>
        <p>
            This is some extra messages!<br>
            This is some extra messages!<br>
            This is some extra messages!<br>
        </p>
        <div style="margin: 12px 0 6px 126px">
            <a (click)="show()">I got it</a>
        </div>
    </div>
</jigsaw-tooltip-dialog>
