<!-- ignore the following lines, they are not important to this demo -->
<jigsaw-demo-description [summary]="summary" [content]="description">
</jigsaw-demo-description>


<!-- start to learn the demo from here -->
<div class="live-demo-wrap">
    <jigsaw-header [level]="1">Numeric Input</jigsaw-header>

    <div class="live-demo">
        <jigsaw-header [level]="2">基本用法</jigsaw-header>
        <p class="comment">试试获取input焦点后，敲击键盘的上下键</p>
        <j-numeric-input [(value)]="value" min="0" max="110" placeholder="请输入数字" (valueChange)="valueChange($event)"></j-numeric-input>
        <p class="message">输入值是：<span>{{value}}</span></p>
        <div>
            <jigsaw-button (click)="changeValue1()">设置为undefined</jigsaw-button>
            <jigsaw-button (click)="changeValue2()">设置为null</jigsaw-button>
        </div>
    </div>
</div>

