<jigsaw-collapse mode="accordion" class="jigsaw-upload-panel-collapse" [perfectScrollbar]="{wheelSpeed: 0.5, wheelPropagation: true}">
    <jigsaw-collapse-pane
        *ngFor="let file of _$fileData"
        arrowPosition="left"
        class="jigsaw-upload-panel-log"
        [class.jigsaw-upload-panel-error]="file.state === 'error'"
    >
        <div jigsaw-title class="jigsaw-upload-panel-log-header">
            <i class="iconfont iconfont-e9d5 file-icon"></i>
            <span class="file-name">{{file.name}}</span>
            <i
                *ngIf="file.state === 'error'"
                class="iconfont iconfont-ea4f error-icon"
            ></i>
            <i class="iconfont iconfont-e9b8 delete-icon" (click)="this.uploader._$removeFile(file)"></i>
        </div>
        <div jigsaw-body class="jigsaw-upload-panel-log-detail">
            <jigsaw-progress
                class="jigsaw-upload-panel-log-progress"
                [value]="file.progress ? file.progress : 0"
                preSize="small"
                status="processing"
            ></jigsaw-progress>
            <span class="jigsaw-upload-panel-re-upload" *ngIf="file.state === 'error'" (click)="this.uploader._$reUpload(file)">重新上传</span>
            <ul>
                <li *ngFor="let log of file.log">
                    <span class="detail-time">{{log.time}}</span>
                    <span class="detail-content">{{log.content}}</span>
                </li>
            </ul>
        </div>
    </jigsaw-collapse-pane>
</jigsaw-collapse>
