<div class="jigsaw-upload-drop-area" jigsaw-droppable (jigsawDragEnter)="_$fileDragEnterHandle()"
    (jigsawDragOver)="_$fileDragOverHandle()" (jigsawDragLeave)="_$fileDragLeaveHandle($event)"
    (jigsawDrop)="_$fileDropHandle($event)">
    <div class="jigsaw-upload-hints">
        <div class="jigsaw-upload-drop-icon">
            <i class="iconfont iconfont-e153"></i>
        </div>
        <div class="jigsaw-upload-drop-text">
            <p class="drop-text-hint">
                <a j-upload #uploadEle [uploadTargetUrl]="targetUrl" [uploadFileType]="fileType"
                    [uploadMultiple]="multiple" [uploadContentField]="contentField"
                    [uploadFileNameField]="fileNameField" [uploadFileVerify]="fileVerify" [uploadOffline]="offline"
                    [uploadAdditionalFields]="additionalFields" [uploadMinSize]="minSize" [uploadMaxSize]="maxSize"
                    [uploadImmediately]="uploadImmediately" (uploadProgress)="progress.emit($event)" [uploadBatchMode]="batchMode"
                    (uploadDataSendProgress)="dataSendProgress.emit($event)" (uploadComplete)="complete.emit($event)"
                    (uploadStart)="start.emit($event)" (uploadChange)="change.emit($event)">{{'upload.select' |
                    translate}}</a>
                <span *ngIf="!multiple">{{'upload.singleFile' | translate }}</span>
                <span *ngIf="multiple">{{'upload.multipleFiles' | translate }}</span>
            </p>
            <p class="drop-text-type">
                <span *ngIf="!fileType">{{'upload.acceptAllTypes' | translate}}</span>
                <span *ngIf="!!fileType">{{'upload.acceptSpecificTypes' | translate:{file: fileType} }}</span>
            </p>
        </div>
    </div>
    <div class="jigsaw-upload-results"
        [perfectScrollbar]="{suppressScrollX: true, wheelSpeed: 0.5, minScrollbarLength: 20}">
        <jigsaw-upload-result #uploadResultEle *ngIf="showResult" [theme]="theme" [uploader]="_$uploader" width="90%"
                              (remove)="remove.emit($event); change.emit(_$uploader.files)" (retry)="retry.emit($event)">
        </jigsaw-upload-result>
    </div>
</div>
