@import "../../assets/scss/core/base";

$table-prefix-cls: #{$jigsaw-prefix}-table;

#{$table-prefix-cls}{
    @include inline-block;
    position: relative;
    width: 100%;
    overflow: hidden;
    vertical-align: top;
    table{
        width: 100%;
        text-align: center;
        td{
            border: 1px solid $border-color-base;
        }
        thead{
            color: $heading-color;
            tr{
                height: 40px;
                td{
                    background: $background-color-base;
                }
            }
        }
        tbody{
            &.#{$table-prefix-cls}-line-ellipsis{
                td .#{$table-prefix-cls}-cell-content{
                    @include line-ellipsis-style();
                }
            }
            tr{
                height: 30px;
                &:nth-child(2n){
                    background: $default-color;
                }
                &:nth-child(2n-1){
                    background: $default-color;
                }
                &:hover{
                    td:not([rowspan]){
                        background: $item-hover-bg;
                    }
                }
                &.#{$table-prefix-cls}-row-selected{
                    td:not([rowspan]){
                        background: $item-active-bg;
                    }
                }
                td[rowspan]{
                    background: $default-color;
                }
            }
        }
        &.#{$table-prefix-cls}-fixed-head{
            position: absolute;
            z-index: $zindex-affix;
        }
    }
}

.#{$table-prefix-cls}-box{
    width: 100%;
    height: 100%;
    > .mCSB_vertical_horizontal > .mCSB_scrollTools_vertical{
        margin: 40px 0 0 !important;
    }
    &.#{$table-prefix-cls}-hide-head{
        table{
            margin-top: -40px;
        }
        > .mCSB_vertical_horizontal > .mCSB_scrollTools_vertical{
            margin: 0 0 !important;
        }
    }
}

.#{$table-prefix-cls}-hide{
    display: none !important;
}



