<table [style.display]="hideHead ? 'none' : 'table'" class="jigsaw-table-fixed-head jigsaw-table-hide">
    <thead>
    <tr>
        <td *ngFor="let head of _$headerSettings; index as colIndex"
            width="{{head.width}}" class="{{head.clazz}}">
            <jigsaw-table-header [tableData]="data"
                                 [cellData]="head.cellData"
                                 [column]="colIndex"
                                 [row]="0"
                                 [field]="head.field"
                                 [renderer]="head.renderer"
                                 [sortable]="head.sortable"
                                 [sortAs]="head.sortAs"
                                 [defaultSortOrder]="head.defaultSortOrder"
                                 (sort)="sort.emit($event)">
            </jigsaw-table-header>
        </td>
    </tr>
    </thead>
</table>

<div class="jigsaw-table-box" [class.jigsaw-table-hide-head]="hideHead" jigsaw-scroll-bar [scrollBarOptions]="_$scrollBarOptions">
    <table class="jigsaw-table">
        <thead>
        <tr>
            <td *ngFor="let head of _$headerSettings; index as colIndex"
                width="{{head.width}}" class="{{head.clazz}}">
                <jigsaw-table-header [tableData]="data"
                                     [cellData]="head.cellData"
                                     [column]="colIndex"
                                     [row]="0"
                                     [field]="head.field"
                                     [renderer]="head.renderer"
                                     [sortable]="head.sortable"
                                     [sortAs]="head.sortAs"
                                     [defaultSortOrder]="head.defaultSortOrder"
                                     (sort)="sort.emit($event)">
                </jigsaw-table-header>
            </td>
        </tr>
        </thead>
        <tbody>
        <tr #tableRow *ngFor="let row of _$cellSettings; index as rowIndex"
            (click)="_$selectRow(rowIndex)" (dblclick)="_$handleRowDoubleClick(rowIndex)">
            <td *ngFor="let cell of row; index as colIndex"
                [attr.rowspan]="cell.rowSpan > 1 ? cell.rowSpan : null"
                [style.display]="cell.rowSpan ? 'table-cell' : 'none'"
                class="{{cell.clazz}}">

                <div class="jigsaw-table-cell-content"
                     *ngIf="!cell.renderer; else rendererCell">
                    <span class="jigsaw-table-cell-text">{{cell.cellData}}</span>
                </div>
                <ng-template #rendererCell>
                    <jigsaw-table-cell
                        class="jigsaw-table-cell-text"
                        [tableData]="data"
                        [cellData]="cell.cellData"
                        [row]="rowIndex"
                        [column]="colIndex"
                        [field]="cell.field"
                        [renderer]="cell.renderer"
                        [editable]="cell.editable"
                        [editorRenderer]="cell.editorRenderer"
                        [group]="cell.group"
                        [rowSpan]="cell.rowSpan"
                        (edit)="dataChange.emit($event)">
                    </jigsaw-table-cell>
                </ng-template>
            </td>
        </tr>
        </tbody>
    </table>
</div>
