<div class="live-demo-wrap">
    <h2>Menu</h2>
    <div class="clearfix">
        <div class="demo-1 live-demo">
            <h3>menu-vertical</h3>
            <menu-vertical [data]="data"></menu-vertical>
        </div>
        <div class="demo-1 live-demo">
            <h3>contextmenu(只做了一层菜单)</h3>
            <context-menu [data]="data"></context-menu>
        </div>
        <div class="demo-1 live-demo">
            <div class="clearfix">
                <h3>menu-horizon</h3>
                <menu-horizon [data]="data"></menu-horizon>
            </div>
        </div>
    </div>

</div>