.drop-list-wrap{
    float: left;
    width: 15%;
    max-height: 600px;
    padding: 10px;
    border: 1px solid #dddddd;
    margin-right: 1%;
}
.drag-wrap{
    cursor: move;
    margin-bottom: 10px;
    &:last-child{
        margin-bottom: 0;
    }
}
.com-box{
    width: 100%;
    height: 100px;
    line-height: 100px;
    text-align: center;
    background: #42A5F5;
}

.drop-wrap{
    float: left;
    width: 84%;
    jigsaw-table{
        transition: all .3s ease-in-out;
        border: 2px solid #d9d9d9;
        &.over{
            border-color: #108ee9;
            box-shadow: 4px 4px 6px #d9d9d9;
        }
    }
    .trash-box{
        margin-top: 10px;
        border: 2px solid #d9d9d9;
        height: 100px;
        line-height: 92px;
        text-align: center;
        font-size: 24px;
        transition: all .3s ease-in-out;
        &.over{
            border-color: #108ee9;
            box-shadow: 4px 4px 6px #d9d9d9;
        }
    }
}
