<!-- ignore the following lines, they are not important to this demo -->
<jigsaw-demo-description [summary]="summary" [content]="description">
</jigsaw-demo-description>


<!-- start to learn the demo from here -->
<div class="live-demo-wrap">
    <h2>Steps</h2>


    <div class="clearfix">
      <div class="demo-1 live-demo">
          <h3>提供交互的例子</h3>
       <!-- 配合trustedHtml对用户提供交互的例子 -->
          <jigsaw-steps preSize="default" direction="horizontal" width="1500px">
              <jigsaw-step-item *ngFor="let step of steps; index as idx"  [status]="step.status">
                  <div jigsaw-title>{{step.title}}</div>
                  <div jigsaw-sub-title trustedHtml="单击<a (click)='skipStep({{idx}})'>这里</a>跳过此步骤"  [trustedHtmlContext]="this"></div>
              </jigsaw-step-item>
          </jigsaw-steps>
      </div>

    </div>

</div>
