<jigsaw-markdown [markdown]="text['text']['introduction']"></jigsaw-markdown>
<table-align-content></table-align-content>
<table-column-group></table-column-group>
<table-culumn-visible></table-culumn-visible>
<table-update-additional-column-defines></table-update-additional-column-defines>
<table-updata-column-define></table-updata-column-define>
<table-update-column-defines></table-update-column-defines>
<table-header-class></table-header-class>
<table-set-cell-class></table-set-cell-class>
