<div class="demo-wrapper nav">
    <jigsaw-markdown [markdown]="description"></jigsaw-markdown>
    <table-column-defines-align-content></table-column-defines-align-content>
    <table-column-defines-column-group></table-column-defines-column-group>
    <table-column-defines-column-visible></table-column-defines-column-visible>
    <table-column-defines-update-additional-column-defines></table-column-defines-update-additional-column-defines>
    <table-column-defines-update-column-define></table-column-defines-update-column-define>
    <table-column-defines-update-column-defines></table-column-defines-update-column-defines>
    <table-column-defines-header-class></table-column-defines-header-class>
    <table-column-defines-set-cell-class></table-column-defines-set-cell-class>
    <doc-template [docContent]="docContent"></doc-template>
    <doc-footer-template></doc-footer-template>
    <demo-navigation [navigationData]="navigationData"></demo-navigation>
</div>