<div class="live-demo-wrap">
    <h2>View Editor</h2>
    <div class="demo-1 live-demo">
        <h3>设置是否可编辑，是否有蒙层</h3>
        <p class="comment">editable、blocked默认为true，即默认可编辑且有蒙层</p>
        <div class="mgb">
            <j-button (click)="editable = !editable">toggle editable</j-button>
            <j-button (click)="blocked = !blocked">toggle blocked</j-button>
        </div>
        <j-view-editor [data]="data" [editable]="editable" [blocked]="blocked" height="400"></j-view-editor>
    </div>
</div>


