@import "../../assets/scss/core/_basc";

$alert-prefix-cls: #{$jigsaw-prefix}-alert;

:host{
    @include inline-block;
    width: 100%;
    .#{$alert-prefix-cls} {
        background: #FFF;
        border: 1px solid #ddd;
        border-radius: 4px;
        position: relative;
        padding: 16px;
        .#{$alert-prefix-cls}-head{
            @include clearfix;
            margin: 0 -16px;
            cursor: move;
            .#{$alert-prefix-cls}-icon {
                @include inline-block;
                vertical-align: middle;
                font-size: 36px;
                margin: 0 16px 0 20px;
            }
            .#{$alert-prefix-cls}-title {
                font-size: 20px;
                display: inline-block;
                vertical-align: middle;
            }
            .#{$alert-prefix-cls}-close {
                float: right;
                font-size: 20px;
                color: #999;
                cursor: pointer;
                @include inline-block;
                vertical-align: middle;
                margin-right: 16px;
            }
        }
        .#{$alert-prefix-cls}-content {
            padding: 16px 0 0 56px;
        }

        &-info {
            border: 1px solid #d2eafb;
            background-color: #ecf6fd;

            .#{$alert-prefix-cls}-icon {
                color: #108ee9;
            }
            .#{$alert-prefix-cls}-title {
                color: #108ee9;
            }
        }

        &-warning {
            border: 1px solid #fff3cf;
            background-color: #fffaeb;
            .#{$alert-prefix-cls}-icon {
                color: #ffbf00;
            }
            .#{$alert-prefix-cls}-title {
                color: #ffbf00;
            }
        }
        &-error {
            border: 1px solid #fcdbd9;
            background-color: #fef0ef;
            .#{$alert-prefix-cls}-icon {
                color: #f04134;
            }
            .#{$alert-prefix-cls}-title {
                color: #f04134;
            }

        }

        .#{$alert-prefix-cls}-button-group {
            text-align: center;
            height: 50px;
            line-height: 50px;
            jigsaw-button {
                margin-right: 8px;
                &:last-child{
                    margin-right: 0;
                }
            }
        }
    }
}




