@import "../../assets/scss/core/_basc";

$alert-prefix-cls: #{$jigsaw-prefix}-alert;

#{$alert-prefix-cls}{
    @include inline-block;
    width: 100%;
    .#{$alert-prefix-cls} {
        background: $default-color;
        border-radius: 4px;
        position: relative;
        padding: 0 10px 10px;
        border: 1px solid $border-color-base;
        .#{$alert-prefix-cls}-head{
            @include clearfix;
            margin: 0 -10px;
            padding-top: 10px;
            cursor: move;
            line-height: 36px;
            .#{$alert-prefix-cls}-icon {
                vertical-align: middle;
                font-size: 36px;
                margin: 0 16px 0 20px;
            }
            .#{$alert-prefix-cls}-title {
                font-size: 20px;
                vertical-align: middle;
            }
            .#{$alert-prefix-cls}-close {
                float: right;
                font-size: 24px;
                color: $alert-close-bar-color;
                cursor: pointer;
                margin-right: 20px;
                &:hover{
                    color: $alert-close-bar-hover-color;
                }
            }
        }
        .#{$alert-prefix-cls}-content {
            padding: 16px 0 0 56px;
        }

        &-info {
            .#{$alert-prefix-cls}-icon, .#{$alert-prefix-cls}-title {
                color: $primary-color;
            }
        }

        &-warning {
            .#{$alert-prefix-cls}-icon, .#{$alert-prefix-cls}-title {
                color: $warning-color;
            }
        }
        &-error {
            .#{$alert-prefix-cls}-icon, .#{$alert-prefix-cls}-title {
                color: $error-color;
            }
        }

        .#{$alert-prefix-cls}-button-group {
            text-align: center;
            height: 50px;
            line-height: 50px;
            jigsaw-button {
                margin-right: 8px;
                &:last-child{
                    margin-right: 0;
                }
            }
        }
    }
}




