<div class="notFoundPage">
  <div class="notFoundPageContainer clearfix">
    <div class="notFoundPageVideoContainer pull-left">
      <video class="notFoundPageVideo" loop autoplay muted>404:
        该页面未找到
        <source src="app/for-external/assets/mp4/404.mp4" type="video/mp4">
      </video>
    </div>
    <div class="pull-left notFoundHint">
      <div class="hintText">
        <strong>404</strong><span>页面未找到</span>
        <p>你似乎来到了一片知识的荒原</p>
      </div>
      <div class="hintSubText">
        不妨试试:&nbsp;
        <jigsaw-button class="jg-btn-white-b" routerLink="/home">
          前往首页
        </jigsaw-button>
      </div>
    </div>
  </div>
</div>