<!-- ignore the following lines, they are not important to this demo -->
<jigsaw-demo-description [summary]="summary" [content]="description">
</jigsaw-demo-description>


<!-- start to learn the demo from here -->
<jigsaw-header>特殊场景</jigsaw-header>

<jigsaw-button jigsawTooltipPosition="top"
[jigsawTooltip]="'这是一个长长长长长长长长长长长长文字的ToolTip'"
[jigsawTooltipTheme]="'light'">
长文字Tooltip（鼠标Hover看效果）
</jigsaw-button>

<jigsaw-button jigsawTooltipPosition="top"
    [jigsawTooltip]="'这是一个长长长长长长长长长长长长长长长长长长长长长长长长长长长长文字的ToolTip'"
    [jigsawTooltipTheme]="'light'">
    超长文字Tooltip（鼠标Hover看效果）
</jigsaw-button>

<jigsaw-button jigsawTooltipPosition="top"
    [jigsawTooltip]="'这是一个长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长文字的ToolTip'"
    [jigsawTooltipTheme]="'light'">
    特长文字Tooltip（鼠标Hover看效果）
</jigsaw-button>