@import "../../assets/scss/core/_basc";

$block-prefix-cls: #{$rdk-prefix}-block;

.#{$block-prefix-cls}{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: #000;
    opacity: 0.4;
}



