@import "../../assets/scss/core/_basc";

$block-prefix-cls: #{$rdk-prefix}-block;

:host{
    @include inline-block;
    position: relative;
    width: 100%;
    height: 100%;
}

.#{$block-prefix-cls}{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.4;
}



