<!-- ignore the following lines, they are not important to this demo -->
<jigsaw-demo-description [summary]="summary" [content]="description">
</jigsaw-demo-description>


<!-- start to learn the demo from here -->
Left:
<jigsaw-slider (valueChange)="updateStyle('left', $event + 'px')"
               width="250px" value="30" max="600" min="10">
</jigsaw-slider>
Top:
<jigsaw-slider (valueChange)="updateStyle('top', $event + 'px')"
               width="250px" value="100" max="600" min="80">
</jigsaw-slider>
Opacity:
<jigsaw-slider (valueChange)="updateStyle('opacity', $event)"
               width="250px" value="1" max="1" min="0" step="0.1">
</jigsaw-slider>

<button #target j-movable class="movable">
    <p class="label" jigsaw-badge [jigsawBadgeValue]="'dot'" jigsawBadgePosition="rightTop">
        a movable button
    </p>
</button>
