<!-- ignore the following lines, they are not important to this demo -->
<jigsaw-demo-description [summary]="summary" [content]="description">
</jigsaw-demo-description>


<!-- start to learn the demo from here -->
<div class="live-demo-wrap">
    <h2>Numeric Input</h2>

    <div class="demo-1 live-demo">
        <h3>设置尺寸</h3>
        <div class="one-line mgb">
            <label>小尺寸：</label>
            <j-numeric-input size="small" value="1" ></j-numeric-input>
        </div>
        <div class="one-line mgb">
            <label>默认尺寸：</label>
            <j-numeric-input size="default" value="2"></j-numeric-input>
        </div>
        <div class="one-line mgb">
            <label>大尺寸：</label>
            <j-numeric-input size="large" value="3"></j-numeric-input>
        </div>
    </div>

    <div class="demo-2 live-demo">
        <h3>设置宽高</h3>
        <j-numeric-input value="4" width="400" height="50"></j-numeric-input>
    </div>
</div>

