<!-- ignore the following lines, they are not important to this demo -->
<jigsaw-demo-description [summary]="summary" [content]="description">
</jigsaw-demo-description>

<!-- start to learn the demo from here -->
<div class="upload-auto-upload-demo-cntr">
    <jigsaw-header [level]="1">修改目标URL</jigsaw-header>
    <div>
        <a (click)="clear()">清空所有已上传的文件</a>
    </div>

    <jigsaw-header>手动上传时，修改URL</jigsaw-header>
    <div>
        <span>当前url地址为:</span>
        <span class="urlAdd">{{toBeChangedUrl}}</span>
    </div>
    <div>
        <a j-upload #first [uploadImmediately]="false" [uploadTargetUrl]="toBeChangedUr2">选择文件</a>
        <a style="margin-left: 12px;" (click)="uploadConfirm()">开始上传</a>
    </div>
    <jigsaw-upload-result [uploader]="uploader1" (change)="onChange('change', $event)"
        (progress)="onChange('progress', $event)" (remove)="onChange('remove', $event)">
    </jigsaw-upload-result>

    <jigsaw-header>自动上传前，修改URL</jigsaw-header>
    <div>
        <a (click)="editTargetUrl()">修改url</a>
        <div>
            <span>当前url地址为:</span>
            <span class="urlAdd">{{toBeChangedUrl2}}</span>
        </div>
    </div>
    <div>
        <a j-upload #second [uploadImmediately]="true" [uploadTargetUrl]="toBeChangedUrl2">选择文件</a>
    </div>
    <jigsaw-upload-result [uploader]="uploader2" (change)="onChange('change', $event)"
        (progress)="onChange('progress', $event)" (remove)="onChange('remove', $event)">
    </jigsaw-upload-result>


    <p class="hints">
        提示：这里上传的所有结果都是模拟出来的，包括上传失败和失败的原因都是随机模拟出来的。
    </p>
</div>
