.viewport {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: calc(100vh - 134px);
    margin-top: 22px;
}

.viewport .demo-cntr {
    position: relative;
    width: 23%;
    height: 100%;
}

.viewport .demo-cntr .demo-header {
    position: absolute;
    top: -22px;
}
