<demo-template [data]="''" [text]="text['text']['withCombo']">

    <div>
        <jigsaw-markdown [markdown]="'#### 单选'"></jigsaw-markdown>
        <j-combo-select [value]="comboValue1">
            <ng-template>
                <j-cascade style="min-height: 335px" [(selectedItems)]="selectedItems1" [dataGenerator]="generator"
                           [generatorContext]="this" labelField="name"
                           (selectedItemsChange)="parseMessage($event)" width="418">
                </j-cascade>
            </ng-template>
        </j-combo-select>
    </div>

    <div>
        <jigsaw-markdown [markdown]="'#### 多选'"></jigsaw-markdown>
        <j-combo-select [value]="comboValue2">
            <ng-template>
                <j-cascade style="min-height: 335px" [(selectedItems)]="selectedItems2" [dataGenerator]="generator"
                           [generatorContext]="this" labelField="name" [multipleSelect]="true"
                           (selectedItemsChange)="parseMultipleMessage($event)" width="418">
                </j-cascade>
            </ng-template>
        </j-combo-select>
    </div>
</demo-template>
