<!-- ignore the following lines, they are not important to this demo -->
<jigsaw-demo-description [summary]="summary" [content]="description">
</jigsaw-demo-description>


<!-- start to learn the demo from here -->
<j-breadcrumb [routesConfig]="routes" separator=">" [generatorContext]="this"></j-breadcrumb>
<j-breadcrumb [routesConfig]="routes" separator=">" [generatorContext]="this" theme="dark"></j-breadcrumb>
<j-breadcrumb [routesConfig]="routes" separator=">" [generatorContext]="this" theme="white"></j-breadcrumb>

<a routerLink="fruits">Fruits</a> |
<a routerLink="digital">Digital</a>
<hr>
<router-outlet></router-outlet>
