<!-- ignore the following lines, they are not important to this demo -->
<jigsaw-demo-description [summary]="summary" [content]="description">
</jigsaw-demo-description>

<!-- start to learn the demo from here -->


<div class="live-demo-wrap">
    <jigsaw-header [level]="1">Slider</jigsaw-header>
    <div class="demo-4 live-demo">
        <jigsaw-header [level]="2">更新value</jigsaw-header>
        <jigsaw-mobile-button (click)="updateValue()">update value</jigsaw-mobile-button><br>
        <jigsaw-mobile-slider [(value)]="rangeValue" [max]="rangeMax" (change)="handleChange($event)"></jigsaw-mobile-slider>
        <p class="message">取值范围：{{rangeValueStr}}</p>
    </div>
</div>
