<demo-template [description]="description" [demoSources]="demoSources">
    <div class="demo-showcase-v">
        <span>单选/多选</span>
        <j-tile
            [multipleSelect]="multipleSelect"
            trackItemBy="label"
            [showBorder]="false"
            [selectedItems]="selectedItems1"
            (selectedItemsChange)="handleSelect($event)"
        >
            <j-tile-option *ngFor="let city of cities" [value]="city">
                {{ city.label }}
            </j-tile-option>
        </j-tile>
    </div>

    <div class="demo-showcase-v">
        <span>有初始选中值</span>
        <j-tile
            [multipleSelect]="true"
            [showBorder]="false"
            trackItemBy="label"
            [selectedItems]="selectedItems2"
            (selectedItemsChange)="handleSelect2($event)"
        >
            <j-tile-option *ngFor="let city of cities" [value]="city">
                {{ city.label }}
            </j-tile-option>
        </j-tile>
    </div>

    <div class="demo-showcase-v">
        <span>不可点击</span>
        <j-tile
            [multipleSelect]="true"
            [showBorder]="false"
            trackItemBy="label"
            [selectedItems]="selectedItems3"
            (selectedItemsChange)="handleSelect3($event)"
        >
            <j-tile-option *ngFor="let city of cities" [value]="city" [disabled]="city.disabled">
                {{ city.label }}
            </j-tile-option>
        </j-tile>
    </div>
</demo-template>
