<!-- ignore the following lines, they are not important to this demo -->
<jigsaw-demo-description [summary]="summary" [content]="description">
</jigsaw-demo-description>

<!-- start to learn the demo from here -->
<div class="live-demo-wrap">
    <jigsaw-header [level]="1">Select</jigsaw-header>
    <div class="live-demo">
        <jigsaw-header [level]="2">多选</jigsaw-header>
        <p>可试试 maxWidth / maxHeight 对组件尺寸的影响</p>
        <jigsaw-checkbox [(checked)]="enableMaxWidth">maxWidth</jigsaw-checkbox>
        <jigsaw-numeric-input min="120" [(value)]="maxWidth" [disabled]="!enableMaxWidth"></jigsaw-numeric-input>

        <br><br>
        <jigsaw-checkbox [(checked)]="enableMaxHeight">maxHeight</jigsaw-checkbox>
        <jigsaw-numeric-input min="32" [(value)]="maxHeight" [disabled]="!enableMaxHeight"></jigsaw-numeric-input>

        <br><br>
        <span>被测select组件</span>
        <jigsaw-select [(value)]="selectedCity" (valueChange)="selectChange($event)" (remove)="onItemRemove($event)" [clearable]="true"
                       placeholder="请选择城市" [data]="cityList" [multipleSelect]="true" [useStatistics]="false"
                       [maxWidth]="enableMaxWidth ? maxWidth : undefined"
                       [maxHeight]="enableMaxHeight ? maxHeight : undefined">
        </jigsaw-select>
        <p class="message">选择的城市是 <span>{{selectedCityName}}</span></p><br>

        <span>配置多选并隐藏全选</span>
        <jigsaw-select [(value)]="selectedCity1" (valueChange)="selectChange1($event)" (remove)="onItemRemove($event)" [clearable]="true"
                       placeholder="请选择城市" [data]="cityList1" [useStatistics]="false" [multipleSelect]="true" [showSelectAll]="false">
        </jigsaw-select>
        <p class="message">选择的城市是 <span>{{selectedCityName1}}</span></p>
    </div>
</div>
