<demo-template [data]="labelData" [(selectedLabel)]="selectedLabel" [text]="doc.text.style" [codes]="doc.codes.style">
    <!-- start to learn the demo from here -->
    <div class="live-demo-wrap">
        无样式（none）：
        <jigsaw-icon jigsaw-badge [jigsawBadgeValue]="999" jigsawBadgePosition="right" jigsawBadgeMaxValue="50"
                     [jigsawBadgeStyle]="'none'" jigsawBadgeSize="small"
                     [icon]="'iconfont iconfont-e64b'" [iconSize]="100" [jigsawBadgeSize]="selectedLabel.size">
        </jigsaw-icon>
        边框（border）：
        <jigsaw-icon jigsaw-badge [jigsawBadgeValue]="999" jigsawBadgePosition="right" jigsawBadgeMaxValue="50"
                     [jigsawBadgeStyle]="'border'" jigsawBadgeSize="small"
                     [icon]="'iconfont iconfont-e64b'" [iconSize]="100" [jigsawBadgeSize]="selectedLabel.size">
        </jigsaw-icon>
        底色（solid）：
        <jigsaw-icon jigsaw-badge [jigsawBadgeValue]="999" jigsawBadgePosition="right" jigsawBadgeMaxValue="50"
                     [jigsawBadgeStyle]="'solid'" jigsawBadgeSize="small"
                     [icon]="'iconfont iconfont-e64b'" [iconSize]="100" [jigsawBadgeSize]="selectedLabel.size">
        </jigsaw-icon>
    </div>
</demo-template>
