<!-- ignore the following lines, they are not important to this demo -->
<jigsaw-demo-description [summary]="summary" [content]="description">
</jigsaw-demo-description>


<!-- start to learn the demo from here -->
<div class="live-demo-wrap">
    <h2>散点图</h2>
    <div class="clearfix">
        <div class="live-demo live-demo-block">
            <h3>ScatterGraphData静态数据</h3>
            <jigsaw-mobile-graph [data]="scatterData" height="400" (click)="handleClick($event)"></jigsaw-mobile-graph>
        </div>

        <div class="live-demo live-demo-block">
            <h3>ScatterGraphData异步数据</h3>
            <jigsaw-mobile-graph [data]="scatterFromAjax" height="400" (click)="handleClick($event)"></jigsaw-mobile-graph>
        </div>
    </div>

</div>









