<!-- ignore the following lines, they are not important to this demo -->
<jigsaw-demo-description [summary]="summary" [content]="description">
</jigsaw-demo-description>


<!-- start to learn the demo from here -->
<div class="wrapper">
    <h4>默认消息框：</h4>
    <jigsaw-button width="340" (click)="showWithOptions()">弹出默认消息框</jigsaw-button>

    <hr><br>

    <h4>快捷用法：</h4>

    <jigsaw-button width="350px" (click)="showSuccess()">弹出成功消息框</jigsaw-button>
    <jigsaw-button width="350px" (click)="showError()">弹出错误消息框</jigsaw-button>
    <jigsaw-button width="350px" (click)="showWarn()">弹出警告消息框</jigsaw-button>
    <jigsaw-button width="350px" (click)="showInfo()">弹出消息提示框</jigsaw-button>
    <jigsaw-button width="350px" (click)="showInfo2()">弹出带有自定标题的消息提示框</jigsaw-button>
    <jigsaw-button width="350px" (click)="showInfo3()">message为undefined的消息框</jigsaw-button>
</div>
