<demo-template [data]="sizes" [(selectedSize)]="selectedSize" [text]="doc.text.fold" [codes]="doc.codes.fold">
    <!-- start to learn the demo from here -->
    <div class="demo-showcase-v">
        <jigsaw-pagination
            widh="710px"
            mode="folding"
            [data]="pageable"
            [pageSizeOptions]="pageSizeOptions"
            [searchable]="false"
            [showQuickJumper]="true"
            [size]="selectedSize.size"
            (currentChange)="getCurrentPage($event)"
            (pageSizeChange)="getPageSize($event)"
        >
        </jigsaw-pagination>
    </div>
</demo-template>
