@import "../../common/assets/scss/core/base";

$date-time-prefix-cls: #{$jigsaw-prefix}-date-time-picker;

.#{$date-time-prefix-cls} {
    @include inline-block();
    border-radius: 4px;
    border: 1px solid $border-color-base;
    overflow: hidden;
    user-select: none;
    font-size: $font-size-base;

    jigsaw-date-picker {
        border: none;
    }

    &-bottom {
        padding: 0 8px 8px;

    }

    &-gr-switch {
        padding: 8px 8px 0;
        display: flex;
        justify-content: center;
        text-align: center;
        background: $background-color-base;

        & > span {
            display: inline-block;
            flex: 1;
            height: 24px;
            line-height: 22px;
            background: $component-background;
            border: 1px solid $border-color-base;
            border-right: none;
            cursor: pointer;

            &:first-child {
                border-top-left-radius: $border-radius-base;
                border-bottom-left-radius: $border-radius-base;
            }

            &:last-child {
                border-top-right-radius: $border-radius-base;
                border-bottom-right-radius: $border-radius-base;
                border-right: 1px solid $border-color-base;
            }

            &.active {
                background-color: $primary-color;
                color: $text-color-of-bg;
                border-color: $primary-color;
            }
        }
    }

    &-error {
        border-color: $error-color;
    }
}
