$jigsaw-date-picker: #{$jigsaw-prefix}-date-picker;

.#{$jigsaw-date-picker}-host {
    @include inline-block();
    width: 210px;
    height: 100%;
    border-radius: $border-radius-sm;
    background: $bg-transparent;
    border-width: 1px;
    border-style: solid;
    border-color: $border-color-default;
    border-radius: $border-radius-base;
    color: $font-color-default;
    overflow: hidden;
    user-select: none;
    outline: none;

    .#{$jigsaw-date-picker}-header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        min-height: $height-huge;
        background: $bg-component-darken;
    }

    .#{$jigsaw-date-picker}-gr-switch {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
        padding: 8px 8px 0;

        & > span {
            display: inline-block;
            flex: 1;
            height: 24px;
            line-height: 22px;
            background: $bg-component;
            border: 1px solid $border-color-default;
            cursor: pointer;

            &:first-child {
                border-top-left-radius: $border-radius-base;
                border-bottom-left-radius: $border-radius-base;
            }

            &:last-child {
                border-top-right-radius: $border-radius-base;
                border-bottom-right-radius: $border-radius-base;
            }

            &.active {
                background-color: $brand-lighten;
                color: $brand-default;
                border-color: $brand-default;
            }
        }
    }

    .#{$jigsaw-date-picker}-control {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: $height-huge;
        line-height: $height-huge;
        font-size: $font-size-base;

        .#{$jigsaw-date-picker}-control-bar {
            display: inline-flex;
            align-items: center;
            width: 56px;
            font-size: 20px;
            color: $icon-color-stress;
            cursor: pointer;

            &.jigsaw-date-picker-previous-bar {
                justify-content: flex-start;
                padding-left: 16px;
            }

            &.jigsaw-date-picker-next-bar {
                justify-content: flex-end;
                padding-right: 16px;
            }

            i:hover {
                color: $brand-default;
            }
        }

        &-month,
        &-year {
            cursor: pointer;

            &:hover {
                color: $brand-default;
            }
        }

        &-month {
            margin-right: 6px;
        }
    }

    .#{$jigsaw-date-picker}-content {
        text-align: center;

        &-day {
            width: 100%;

            thead,
            tbody {
                display: block;
                width: 100%;
            }

            thead tr,
            tbody tr {
                display: inline-block;
                width: 100%;
            }

            th,
            td {
                width: 14.28571%;
                height: 100%;
                display: block;
                float: left;
            }

            thead {
                padding: 0 8px;
                height: $height-med;
                border-bottom: 1px solid $border-color-disabled;
                line-height: $height-med;
                background: $bg-component-darken;
                vertical-align: initial;

                th {
                    text-align: center;
                    font-weight: normal;
                    color: $font-color-tag;
                }
            }

            tbody {
                height: 100%;
                padding: 8px 8px;

                tr {
                    height: $height-med;
                    line-height: $height-med;
                }
            }
        }

        &-day-cell {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;

            span {
                display: inline-flex;
                justify-content: center;
                align-items: center;
                position: relative;
                width: 24px;
                height: 24px;
                border-radius: $border-radius-sm;
                font-size: $font-size-base;
                color: $font-color-default;
                box-sizing: border-box;
                cursor: pointer;
            }

            & span:hover {
                background: $bg-hover;
            }

            &-today span:before {
                content: "";
                position: absolute;
                top: -2px;
                left: -2px;
                width: 28px;
                height: 28px;
                border-width: 1px;
                border-style: solid;
                border-color: $brand-default;
                border-radius: $border-radius-sm;
                box-sizing: border-box;
                z-index: 1;
            }

            &-prev-next span {
                color: $font-color-disabled;
            }

            &-selected {
                span,
                span:hover {
                    background: $brand-default;
                    color: $font-color-white;
                }
            }

            &-disabled {
                span,
                span:hover {
                    color: $font-color-disabled;
                    background: none !important;
                    cursor: not-allowed;
                }
            }

            &-recommend:after,
            &-warn:after,
            &-error:after {
                content: "";
                position: absolute;
                right: 4px;
                top: 4px;
                width: 4px;
                height: 4px;
                border-radius: 50%;
            }

            &-recommend:after {
                background: $success-default;
            }

            &-warn:after {
                background: $warning-default;
            }

            &-error:after {
                background: $error-default;
            }

            &-inRange {
                background: $brand-lighten;
                &.#{$jigsaw-date-picker}-content-day-cell-selected {
                    background: none;
                }
            }
        }

        &-month,
        &-year {
            display: block;
            height: 188px;
            padding: 8px;

            tbody {
                width: 100%;
                display: block;

                tr {
                    width: 100%;
                    display: block;
                    height: 42px;

                    td {
                        display: inline-flex;
                        justify-content: center;
                        align-items: center;
                        width: 33.33%;
                        height: 42px;
                    }
                }
            }
        }

        &-month-cell,
        &-year-cell {
            span {
                display: inline-flex;
                justify-content: center;
                align-items: center;
                width: 48px;
                height: 26px;
                line-height: 36px;
                border-radius: $border-radius-sm;
                cursor: pointer;

                &:hover {
                    background: $bg-hover;
                }
            }

            &-selected {
                span,
                span:hover {
                    background: $brand-default;
                    color: $font-color-white;
                }
            }

            &-disabled {
                span,
                span:hover {
                    background: none;
                    color: $font-color-disabled;
                    cursor: not-allowed;
                }
            }

            &-prev-next {
                color: $font-color-hint;
            }
        }
    }

    .#{$jigsaw-date-picker}-error {
        border-color: $error-default;
    }

    .#{$jigsaw-date-picker}-disabled {
        position: relative;
        &:before {
            content: " ";
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background: $bg-disabled;
            opacity: 0.7;
            z-index: $zindex-level-1;
            cursor: not-allowed;
        }
    }
}
