<div class="jigsaw-date-time-picker-gr-switch" *ngIf="grItems && grItems.length">
    <span *ngFor="let item of grItems" (click)="_$changeGr(item)" [class.active]="item.value==gr">
        {{item.label}}
    </span>
</div>
<jigsaw-date-picker #datePicker [theme]="theme" [(date)]="_$date" (dateChange)="_$handleDateChange()" [gr]="_$dateGr"
    [markDates]="markDates" [firstWeekMustContains]="firstWeekMustContains" [limitStart]="_$dateLimitStart"
    [limitEnd]="_$dateLimitEnd" [rangeDate]="rangeDate" [weekStart]="weekStart" [clearOnReClick]="clearOnReClick"
    (dateSelect)="dateTimeSelect.emit($event)"></jigsaw-date-picker>
<div class="jigsaw-date-time-picker-bottom" *ngIf="!!_$timeGr">
    <j-time-picker #timePicker height="24" [theme]="theme" [(value)]="_$time" (valueChange)="_$handleTimeChange()"
        [gr]="_$timeGr" popDirection="up" [limitStart]="_$timeLimitStartCur" [limitEnd]="_$timeLimitEndCur"
        [step]="step">
    </j-time-picker>
    <jigsaw-button *ngIf="showConfirmButton" [theme]="theme" class="jigsaw-date-time-picker-confirm" preSize="small"
        colorType="primary" (click)="_$confirm()">{{'dateTimePicker.confirm' | translate}}</jigsaw-button>
</div>
