$jigsaw-date-time-select: #{$jigsaw-prefix}-date-time-select;
$jigsaw-combo-select: #{$jigsaw-prefix}-combo-select;
$jigsaw-tag: #{$jigsaw-prefix}-tag;

.#{$jigsaw-date-time-select}-host {
    @include inline-block();
    border-radius: $border-radius-base;

    .#{$jigsaw-combo-select}-selection-rendered .#{$jigsaw-tag}-host {
        border: none;
        max-width: none;
    }

    &.#{$jigsaw-date-time-select}-clearable {
        background-color: red;
    }
}
