<div class="jigsaw-range-date-time-picker">
    <jigsaw-date-time-picker #timeStart [theme]="theme" [date]="beginDate" [(gr)]="_$gr" [limitStart]="_$beginDateLimitStart"
                             [limitEnd]="_$beginDateLimitEnd" [grItems]="grItems" [markDates]="markDates" [showConfirmButton]="showConfirmButton"
                             (dateChange)="_$dateChange('beginDate',$event)" (grChange)="_$grChange($event)" [rangeDate]="endDate"
                             [step]="step" [weekStart]="weekStart" [firstWeekMustContains]="firstWeekMustContains" class="jigsaw-range-date-time-picker-startTime">
    </jigsaw-date-time-picker>
    <jigsaw-date-time-picker #timeEnd [theme]="theme" [date]="endDate" [(gr)]="_$gr" [limitStart]="_$endDateLimitStart"
                             [showConfirmButton]="showConfirmButton" (confirm)="_$updateBeginDate()"
                             [limitEnd]="_$endDateLimitEnd" [markDates]="markDates" [grItems]="grItems" [rangeDate]="beginDate"
                             (dateChange)="_$dateChange('endDate',$event)" [step]="step" [weekStart]="weekStart" [firstWeekMustContains]="firstWeekMustContains"
                             class="jigsaw-range-date-time-picker-endTime">
    </jigsaw-date-time-picker>
    <div *ngIf="_$shortcuts && _$shortcuts.length" class="jigsaw-range-date-time-picker-shortcuts">
        <span *ngFor="let item of _$shortcuts" (click)="_changeShortcut(item)" [class.active]="item.label == _$selectedShortcutLabel">
            {{item.label}}
        </span>
    </div>
</div>
