@import "../../common/assets/scss/core/base";

$range-date-time-prefix-cls: #{$jigsaw-prefix}-range-date-time-picker;

.#{$range-date-time-prefix-cls} {
    &-host {
        @include inline-block();
        position: relative;
        background: $component-background;
        font-size: 0;
    }

    &-error {
        border: 1px solid $error-color;
    }

    &-endTime {
        .jigsaw-date-time-picker-gr-switch span {
            visibility: hidden;
        }
    }

    &-shortcuts {
        position: absolute;
        width: 210px;
        right: 1px;
        top: 1px;
        text-align: center;
        border-radius: 4px 4px 0 0;
        display: flex;
        justify-content: center;
        padding: 8px 8px 0;
        background: $background-color-base;
        font-size: $font-size-base;

        & > span {
            display: inline-block;
            flex: 1;
            height: 24px;
            line-height: 22px;
            background: $component-background;
            border: 1px solid $border-color-base;
            border-right: none;
            cursor: pointer;

            &:first-child {
                border-top-left-radius: $border-radius-base;
                border-bottom-left-radius: $border-radius-base;
            }

            &:last-child {
                border-top-right-radius: $border-radius-base;
                border-bottom-right-radius: $border-radius-base;
                border-right: 1px solid $border-color-base;
            }

            &.active {
                background-color: $primary-color;
                color: $text-color-of-bg;
                border-color: $primary-color;
            }
        }
    }
}

