$range-date-time-prefix-cls: #{$jigsaw-prefix}-range-date-time-picker;

.#{$range-date-time-prefix-cls} {
    &-host {
        @include inline-block();
        position: relative;
        background: $bg-component;
        font-size: 0;
        border-width: 1px;
        border-style: solid;
        border-color: $border-color-default;
        border-radius: $border-radius-base;
    }

    &-error {
        border: 1px solid $error-default;
    }

    &-disabled {
        position: relative;
        &:before {
            content: " ";
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background: $bg-disabled;
            opacity: 0.7;
            z-index: $zindex-level-1;
            cursor: not-allowed;
        }
    }

    &-startTime {
        border: none;
        .jigsaw-date-time-picker-bottom jigsaw-button {
            display: none;
        }
    }

    &-endTime {
        border: none;
        .jigsaw-date-time-picker-gr-switch span {
            visibility: hidden;
        }
    }

    &-shortcuts {
        position: absolute;
        width: 210px;
        right: 1px;
        top: 1px;
        text-align: center;
        border-radius: 4px 4px 0 0;
        display: flex;
        justify-content: center;
        padding: 8px 8px 0;
        font-size: $font-size-base;
        background: $bg-container;

        & > span {
            display: inline-block;
            flex: 1;
            height: 24px;
            line-height: 22px;
            background: $bg-body;
            border: 1px solid $border-color-default;
            cursor: pointer;

            &:first-child {
                border-top-left-radius: $border-radius-base;
                border-bottom-left-radius: $border-radius-base;
            }

            &:last-child {
                border-top-right-radius: $border-radius-base;
                border-bottom-right-radius: $border-radius-base;
            }

            &.active {
                background-color: $brand-lighten;
                color: $brand-default;
                border-color: $brand-default;
            }
        }
    }
}
