@import "../../common/assets/scss/core/base";

$time-section-prefix-cls: #{$jigsaw-prefix}-time-section;
$time-section-picker-prefix-cls: #{$jigsaw-prefix}-time-section-picker;
$week-section-picker-prefix-cls: #{$jigsaw-prefix}-week-section-picker;
$day-section-picker-prefix-cls: #{$jigsaw-prefix}-day-section-picker;
$tile-prefix-cls: #{$jigsaw-prefix}-tile;

.#{$time-section-picker-prefix-cls} {
    @include inline-block();
    &-line {
        margin-bottom: 6px;
        ul {
            @include inline-block();
            @include clearfix();
            margin-left: 24px;
            li {
                float: left;
                width: 40px;
                height: 12px;
                margin-right: -1px;
                border: 1px solid $border-color-base;
                position: relative;
                cursor: pointer;
                &:hover {
                    background: $primary-2;
                }
                &.#{$time-section-picker-prefix-cls}-selected {
                    border: 1px solid $primary-color;
                    background: $primary-2;
                    z-index: $zindex-level-1;
                }
            }
        }
    }
    &-hour{
        margin: -2px 0 0 26px;
        span{
            margin-right: 8px;
        }
    }
}

.#{$week-section-picker-prefix-cls} {
    @include inline-block();
    ul {
        @include inline-block();
        @include clearfix();
        margin-left: 6px;
        li {
            float: left;
            width: 42px;
            height: 24px;
            line-height: 22px;
            margin-right: 4px;
            border: 1px solid $border-color-base;
            cursor: pointer;
            text-align: center;

            &:hover {
                background: $primary-2;
            }
            &.#{$week-section-picker-prefix-cls}-selected {
                border: 1px solid $primary-color;
                background: $primary-2;
            }
        }
    }
}

.#{$day-section-picker-prefix-cls} {
    @include inline-block();
    &-wrapper {
        display: flex;
        width: 100%;
    }
    &-checkbox {
        width: 60px;
        padding-top: 12px;
    }
    &-tile {
        flex: 1;
    }
}

.#{$week-section-picker-prefix-cls}, .#{$day-section-picker-prefix-cls} {
    .#{$tile-prefix-cls} {
        border: none;
    }
}
