@import "../../common/assets/scss/core/base";

$time-prefix-cls: #{$jigsaw-prefix}-time-picker;

.#{$time-prefix-cls} {
    @include inline-block();
    position: relative;
    width: 135px;
    height: $height-base;
    background: $bg-component;
    border-width: 1px;
    border-style: solid;
    border-color: $border-color-default;
    border-radius: $border-radius-sm;
    font-size: $font-size-base;
    overflow: hidden;
    padding: 4px 34px 4px 8px;

    &:hover,
    &-active {
        @include prefixer(transition, (border 0.3s $ease-in-out, box-shadow 0.3s $ease-in-out));
        border-color: $primary-default;
    }

    &-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;

        input {
            @include inline-block();
            flex: 1;
            padding: 3px 0;
            margin: 0;
            width: 22px;
            height: 100%;
            border: 0;
            border-radius: $border-radius-sm;
            text-align: center;
            outline: none;
            background: $bg-component;

            &:hover {
                background: $bg-hover;
            }

            &.#{$time-prefix-cls}-input-selected {
                background: $brand-default;
                color: $font-color-white;
            }
        }

        .#{$time-prefix-cls}-colon {
            margin: 0 4px;
        }
    }

    &-ctrl {
        position: absolute;
        right: 0;
        top: 0;
        width: 34px;
        height: 100%;
        font-size: 14px;
        color: $font-color-default;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &-bar {
            position: absolute;
            right: 0;
            top: 0;
            width: 20px;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border-left: 1px solid $border-color-default;

            span {
                display: flex;
                flex: 1;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 50%;
                font-size: $icon-size-sm;
                border-bottom: 1px solid $border-color-default;
                cursor: pointer;
                text-align: center;
                overflow: hidden;

                &:last-child {
                    border-bottom: none;
                }

                &:hover {
                    color: $brand-hover;
                }

                &:active {
                    color: $brand-active;
                }
            }
        }
    }

    &-error {
        border-color: $error-default;
    }

    &-disabled {
        position: relative;
        &:before {
            content: " ";
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background: $bg-disabled;
            opacity: 0.7;
            z-index: $zindex-level-1;
            cursor: not-allowed;
        }
    }
}
