<div class="jigsaw-time-picker-wrapper" jigsawFloat jigsawFloatOpenTrigger="none"
     jigsawFloatCloseTrigger="none" [jigsawFloatTarget]="_$floatTarget" [jigsawFloatInitData]="_$floatInitData"
     [jigsawFloatOptions]="{borderType: 'pointer'}" [(jigsawFloatOpen)]='_$floatOpen'
     [jigsawFloatArrowElement]="_$floatArrowElement" [jigsawFloatPosition]="popDirection == 'up' ? 'topLeft' : 'bottomLeft'"
     (jigsawFloatAnswer)="_$popupSelect($event)">
    <input #hour *ngIf="gr == 6 || gr == 7 || gr == 9" [class.jigsaw-time-picker-input-selected]="_$selectMode == 'hour'"
           [(ngModel)]="_$hour" (blur)="_$cancelSelect('hour')" (focus)="_$handleSelectMode('hour')">
    <span *ngIf="gr == 6 || gr == 7" class="jigsaw-time-picker-colon">:</span>
    <input #minute *ngIf="gr == 6 || gr == 7 || gr == 8" [class.jigsaw-time-picker-input-selected]="_$selectMode == 'minute'"
           [(ngModel)]="_$minute" (blur)="_$cancelSelect('minute')" (focus)="_$handleSelectMode('minute')">
    <span *ngIf="gr == 6 || gr == 8" class="jigsaw-time-picker-colon">:</span>
    <input #second *ngIf="gr == 6 || gr == 8" [class.jigsaw-time-picker-input-selected]="_$selectMode == 'second'"
           [(ngModel)]="_$second" (blur)="_$cancelSelect('second')" (focus)="_$handleSelectMode('second')">
    <div class="jigsaw-time-picker-ctrl">
        <div *ngIf="_$selectMode != 'none'; else clock" class="jigsaw-time-picker-ctrl-bar">
            <span class="iconfont iconfont-e24f" (mousedown)="_$handleCtrlBarClick($event, 1)"></span>
            <span class="iconfont iconfont-e24c" (mousedown)="_$handleCtrlBarClick($event, -1)"></span>
        </div>
        <ng-template #clock>
            <i class="iconfont iconfont-e450" ></i>
        </ng-template>
    </div>
</div>


