@import "../../common/assets/scss/core/base";

$time-select-prefix-cls: #{$jigsaw-prefix}-time-popup;

.#{$time-select-prefix-cls} {
    @include inline-block();
    padding: 10px 6px;
    position: relative;
    border-radius: $border-radius-base;

    &-content {
        &-hour,
        &-minute,
        &-second {
            @include clearfix();
            width: 314px;

            li {
                float: left;
                width: 26px;
                height: 26px;
                margin-right: 8px;
                border-radius: $border-radius-base;
                line-height: 26px;
                text-align: center;
                cursor: pointer;

                &:hover {
                    background: $brand-light;
                }

                &.#{$time-select-prefix-cls}-isSelected {
                    background: $brand-default;
                    color: $font-color-white;
                }

                &.#{$time-select-prefix-cls}-disabled {
                    &,
                    &:hover {
                        background: none;
                        @include compatible(
                            color,
                            $disabled-color,
                            $disabled-color-ie11
                        );
                        cursor: not-allowed;
                    }
                }
            }
        }
    }

    &-control {
        @include clearfix();
        position: absolute;
        bottom: 12px;
        right: 12px;

        span {
            float: right;
            color: $primary-default;
            cursor: pointer;

            &:hover {
                color: $primary-click;
            }
        }
    }
}
