$jigsaw-time-popup: #{$jigsaw-prefix}-time-popup;

.#{$jigsaw-time-popup}-host {
    @include inline-block();
    padding: 10px 6px;
    position: relative;
    border-radius: $border-radius-base;
    background: $bg-component !important;

    .#{$jigsaw-time-popup}-content {
        &-hour,
        &-minute,
        &-second {
            width: 314px;
            display: inline-flex;
            flex-wrap: wrap;
            justify-content: flex-start;

            li {
                float: left;
                width: 26px;
                height: 26px;
                margin: 0 4px;
                border-radius: $border-radius-base;
                color: $font-color-default;
                line-height: 26px;
                text-align: center;
                cursor: pointer;

                &:hover {
                    background: $bg-hover;
                }

                &.#{$jigsaw-time-popup}-isSelected {
                    background: $brand-default;
                    color: $font-color-white;
                }

                &.#{$jigsaw-time-popup}-disabled {
                    &,
                    &:hover {
                        background: none;
                        color: $font-color-disabled;
                        cursor: not-allowed;
                    }
                }
            }
        }
    }

    .#{$jigsaw-time-popup}-control {
        @include clearfix();
        position: absolute;
        bottom: 12px;
        right: 20px;

        span {
            float: right;
            color: $primary-default;
            cursor: pointer;

            &:hover {
                color: $primary-active;
            }
        }
    }
}
