<!-- ignore the following lines, they are not important to this demo -->
<jigsaw-demo-description [summary]="summary" [content]="description">
</jigsaw-demo-description>


<!-- start to learn the demo from here -->
<jigsaw-button (click)="changeData()">change data</jigsaw-button>
<br>
<br>
<jigsaw-table [data]="pageable" [columnDefines]="columns" maxHeight="400px"></jigsaw-table>
<jigsaw-pagination style="margin-top: 8px"
    [data]="pageable"
    [pageSizeOptions]="[5, 10, 20]"
    [searchable]="true"
    [showQuickJumper]="true"
    (search)="_$search($event)"
></jigsaw-pagination>
<span style="margin-top:8px; display:inline-block; vertical-align:middle;">
    共{{pageable.pagingInfo.totalRecord}}条记录
</span>
