<demo-template [data]="''" [text]="doc.text.layout">
    <!-- start to learn the demo from here -->
    <div>
        <j-box height="400" width="800">
            <span>复杂布局demo</span>
            <j-box width="50px" class="border-box">
                <div class="nav" *ngFor="let i of [1,2,3,4]"><p class="iconfont iconfont-e243"></p><br>导航{{i}}</div>
            </j-box>
            <j-box direction="v">
                <j-box height="50px" class="border-box">
                    <h4>这里是header</h4>
                </j-box>
                <j-box [resizable]="true">
                    <j-box class="border-box"
                           (resizeStart)="handleResizeStart($event)"
                           (resize)="handleResize($event)">
                        <div class="nav-2" *ngFor="let i of [1,2,3,4]">
                            <p>二级导航条目{{i}} 标题部分</p><span>二级导航条目{{i}}  详情部分....</span>
                        </div>
                    </j-box>
                    <j-box class="border-box" grow="2"></j-box>
                </j-box>
                <j-box height="30px" class="border-box">
                    <h5>这里是footer</h5>
                </j-box>
            </j-box>
        </j-box>
        <p>{{resizeInfo}}</p>
    </div>

    <div>
        <span>resize</span>
        <p>设置尺寸的box不能resize</p>
        <j-box [resizable]="true" height="400" class="border-box">
            <j-box width="50" class="border-box">fixed size</j-box>
            <j-box class="border-box"></j-box>
            <j-box class="border-box" grow="2"></j-box>
            <j-box width="50" class="border-box">fixed size</j-box>
            <j-box class="border-box" grow="2"></j-box>
            <j-box class="border-box" grow="2"></j-box>
        </j-box>
    </div>
</demo-template>


