<!-- ignore the following lines, they are not important to this demo -->
<jigsaw-demo-description [summary]="summary" [content]="description">
</jigsaw-demo-description>


<!-- start to learn the demo from here -->
<jigsaw-header>文本目标</jigsaw-header>
<span class="iconfont iconfont-e9d8 target-text" jigsaw-float [jigsawFloatTarget]="jigsawFloatArea"
    [jigsawFloatOptions]="{useCustomizedBackground: true}"> Hover Me!
</span>

<jigsaw-header>容器目标</jigsaw-header>
<div class="target-box" jigsaw-float [jigsawFloatTarget]="jigsawFloatArea"
    [jigsawFloatOptions]="{useCustomizedBackground: true}">Hover Me!</div>

<ng-template #jigsawFloatArea>
    <div class="jigsawFloatArea">
        dropdown placeholder
    </div>
</ng-template>