.iconfont-e9d8 {
    margin: 20px 100px;
}

.jigsawFloatArea {
    width: 150px;
    height: 60px;
    background: orange;
    color: #fff;
    text-align: center;
    line-height: 60px;
}

.target-cntr{
    width: 100px;
}