<demo-template [data]="''" [text]="text['text']['updateAdditionalColumnDefines']">
    <!-- start to learn the demo from here -->
    <div class="control-cntr">
        <div>
            <span>第一列：</span>
            <jigsaw-input [(value)]="inputValue"></jigsaw-input>
            <jigsaw-button (click)="updateAdditionalColumnDefine()">修改表头</jigsaw-button>
        </div>
        <div>
            <span>第二列：</span>
            <jigsaw-button (click)="updateHeaderCheckboxValue(1)">全选</jigsaw-button>
            <jigsaw-button (click)="updateHeaderCheckboxValue(0)">取消全选</jigsaw-button>
        </div>
    </div>
    <jigsaw-table #table [data]="tableData" [additionalColumnDefines]="additionalColumns"></jigsaw-table>
</demo-template>
