$jigsaw-switch: #{$jigsaw-prefix}-switch;

.#{$jigsaw-switch}-show-border {
    .#{$jigsaw-switch}{
        border-color: $bg-transparent !important;
    }
}

.#{$jigsaw-switch}-host {
    display: inline-flex;

    &.#{$jigsaw-switch}-error .#{$jigsaw-switch} {
        border-color: $error-default;
    }

    .#{$jigsaw-switch} {
        --switch-height: 20px;
        @include inline-block;
        position: relative;
        height: var(--switch-height);
        min-width: calc(var(--switch-height) * 2);
        line-height: calc(var(--switch-height) - 2px);
        border-radius: calc(var(--switch-height) - 2px);
        border: 1px solid $border-color-default;
        background-color: $bg-component;
        cursor: pointer;
        transition: all $animation-duration-slow;
        -ms-transition: none;
        user-select: none;
        overflow: hidden;

        .#{$jigsaw-switch}-inner {
            color: $font-color-default;
            font-size: $font-size-lg;
            margin-left: calc(var(--switch-height) + 4px);
            margin-right: calc(var(--switch-height) / 4);
            display: block;
        }

        &:after {
            position: absolute;
            width: calc(var(--switch-height) - 4px);
            height: calc(var(--switch-height) - 4px);
            left: 1px;
            top: 1px;
            border-radius: 50%;
            background-color: $bg-gray-spec;
            box-shadow: 1px 1px 3px hsla(0, 0%, 0%, 0.2);
            content: " ";
            cursor: pointer;
            transition: all $animation-duration-slow, width $animation-duration-slow;
        }

        &:active:after {
            width: calc((var(--switch-height) - 4px) * 1.3);
        }

        &:focus {
            outline: 0;
        }

        &:focus:hover {
            box-shadow: none;
        }

        &-checked {
            border-color: $primary-default;
            background-color: $primary-default;

            .#{$jigsaw-switch}-inner {
                color: $font-color-white;
                margin-left: calc(var(--switch-height) / 4);
                margin-right: calc(var(--switch-height) + 4px);
            }

            &:after {
                left: 100%;
                margin-left: calc(3px - var(--switch-height));
            }

            &:active:after {
                margin-left: calc((3px - var(--switch-height)) * 1.3);
            }
        }

        &-checked-disabled {
            cursor: not-allowed;
            opacity: 0.3;

            &:after {
                cursor: not-allowed;
            }
        }

        &-disabled {
            cursor: not-allowed;
            background-color: $bg-disabled;
            border-color: $border-color-disabled;

            &:after {
                cursor: not-allowed;
            }

            .#{$jigsaw-switch}-inner {
                color: $font-color-disabled-spec;
            }
        }

        &-readonly {
            cursor: not-allowed;
            &:after {
                cursor: not-allowed;
            }
        }
    }

    .#{$jigsaw-switch}-medium {
        --switch-height: 16px;
        .#{$jigsaw-switch}-inner {
            font-size: $font-size-sm;
        }
    }

    .#{$jigsaw-switch}-small {
        --switch-height: 12px;
        .#{$jigsaw-switch}-inner {
            font-size: $font-size-sm;
        }
    }
}
