@import "../../assets/scss/core/base";

$viewport-prefix-cls: #{$jigsaw-prefix}-viewport;

.#{$viewport-prefix-cls} {
    @include inline-block;
    position: relative;
    &-vertical-scrollbar, &-horizontal-scrollbar-box {
        position: absolute;
        z-index: $zindex-scrollbar;
    }
    &-vertical-scrollbar {
        bottom: 0;
        right: 0;
    }
    &-horizontal-scrollbar-box {
        left: 0;
        bottom: 0;
        width: 100%;
        height: 15px;

        .#{$viewport-prefix-cls}-horizontal-scrollbar {
            vertical-align: top;
        }
    }
    &-horizontal-scrollbar-padding{
        padding-right: 15px;
    }
}
