行数：
<j-slider width="300px" min="5" max="30" [(value)]="data.viewPort.rows">
</j-slider>
（{{data.viewPort.rows}}）

列数：
<j-slider width="300px" min="2" max="15" [(value)]="data.viewPort.columns">
</j-slider>
（{{data.viewPort.columns}}）

<br>

当前行：
<j-scrollbar class="jigsaw-viewport-vertical-scrollbar" [(value)]="data.viewPort.verticalTo"
             [height]="_$tableBodyHeight" [max]="data.origin.data.length" [vertical]="true">
</j-scrollbar>
（{{data.viewPort.verticalTo}}）

当前列：
<j-scrollbar class="jigsaw-viewport-horizontal-scrollbar" [(value)]="data.viewPort.horizontalTo"
             [max]="data.origin.field.length">
</j-scrollbar>
（{{data.viewPort.horizontalTo}}）

<br>
鼠标滚动方向：{{wheelDelta}}
<ng-content></ng-content>

