<!-- ignore the following lines, they are not important to this demo -->
<jigsaw-demo-description [summary]="summary" [content]="description">
</jigsaw-demo-description>

<!-- start to learn the demo from here -->
<div class="demo-cntr">
    <jigsaw-header [level]="2">TableData</jigsaw-header>
    <j-button width="120" (click)="changeTableData()">改变数据</j-button>
    <jigsaw-table [data]="tableData" [columnDefines]="tableDataColumnDefines"
        (headerFilterChange)="onTableDataHeaderFilterChange($event)"></jigsaw-table>
</div>

<div class="demo-cntr">
    <jigsaw-header [level]="2">LocalPageableTableData</jigsaw-header>
    <j-button width="120" (click)="changeLocalPageable()">改变数据</j-button>
    <jigsaw-table [data]="localPageable" [columnDefines]="localPageableColumnDefines"
        (headerFilterChange)="onLocalPageableHeaderFilterChange($event)"></jigsaw-table>
    <jigsaw-pagination [data]="localPageable" [searchable]="true" [pageSizeOptions]="[5, 10, 20]"
        [showQuickJumper]="true" (search)="onLocalPageableSearch($event)">
    </jigsaw-pagination>
</div>

<div class="demo-cntr">
    <jigsaw-header [level]="2">PageableTableData</jigsaw-header>
    <jigsaw-table maxHeight="400px" [data]="pageable" [columnDefines]="pageableColumnDefines"
        (headerFilterChange)="onPageableHeaderFilterChange($event)">
    </jigsaw-table>
    <jigsaw-pagination [data]="pageable" [pageSizeOptions]="[5, 10, 20]" [searchable]="true" [showQuickJumper]="true"
        (search)="onPageableSearch($event)" searchDebounce="1000"></jigsaw-pagination>
</div>

<div class="demo-cntr">
    <jigsaw-header [level]="2">DirectPageableTableData</jigsaw-header>
    <jigsaw-table maxHeight="400px" [data]="directPageable" [columnDefines]="directPageableColumnDefines"
        (headerFilterChange)="onDirectPageableHeaderFilterChange($event)">
    </jigsaw-table>
    <jigsaw-pagination [data]="directPageable" [pageSizeOptions]="[5, 10, 20]" [searchable]="true" [showQuickJumper]="true"
        (search)="onDirectPageableSearch($event)" searchDebounce="1000"></jigsaw-pagination>
</div>