<!-- ignore the following lines, they are not important to this demo -->
<jigsaw-demo-description [summary]="summary" [content]="description">
</jigsaw-demo-description>

<!-- start to learn the demo from here -->
<div>
    <jigsaw-header [level]="2">LocalPageableTableData</jigsaw-header>
    <j-button (click)="changeLocalPageable()" colorType="primary">改变数据</j-button>
    <jigsaw-table [data]="localPageable" [columnDefines]="localPageableColumnDefines"
        (headerFilterChange)="onHeaderFilterChange($event)"></jigsaw-table>
    <jigsaw-pagination [data]="localPageable" [pageSizeOptions]="[5, 10, 20]" [showQuickJumper]="true">
    </jigsaw-pagination>
</div>