<!-- ignore the following lines, they are not important to this demo -->
<jigsaw-demo-description [summary]="summary" [content]="description">
</jigsaw-demo-description>

<!-- start to learn the demo from here -->
<ul class="demo-options">
    <li>
        <span>自动过滤</span>
        <jigsaw-switch [(checked)]="autoFilter"></jigsaw-switch>
    </li>
</ul>

<div class="demo-cntr">
    <jigsaw-header [level]="2">LocalPageableTableData</jigsaw-header>
    <j-button width="120" (click)="changeLocalPageable()">改变数据</j-button>
    <jigsaw-table [data]="localPageable" [columnDefines]="localPageableColumnDefines"
        (headerFilterChange)="onHeaderFilterChange($event)" [autoFilter]="autoFilter"></jigsaw-table>
    <jigsaw-pagination [data]="localPageable" [searchable]="true" [pageSizeOptions]="[5, 10, 20]"
        [showQuickJumper]="true" (search)="onSearch($event)">
    </jigsaw-pagination>
</div>