<!-- ignore the following lines, they are not important to this demo -->
<jigsaw-demo-description [summary]="summary" [content]="description">
</jigsaw-demo-description>

<ul class="demo-options">
    <li class="demo-options-item">
        <span>disabled</span>
        <jigsaw-switch [(checked)]="disabled"></jigsaw-switch>
    </li>
    <li class="demo-options-item">
        <span>searching</span>
        <jigsaw-switch [(checked)]="searching"></jigsaw-switch>
    </li>
    <li class="demo-options-item">
        <span>searchKeyword</span>
        <jigsaw-input [(value)]="searchKeyword"></jigsaw-input>
    </li>
    <li class="demo-options-item">
        <span>打开方式：</span>
        <jigsaw-button-bar [(selectedItems)]="openTrigger" [data]="openTriggers">
        </jigsaw-button-bar>
    </li>
    <li class="demo-options-item">
        <span>关闭方式：</span>
        <jigsaw-button-bar [(selectedItems)]="closeTrigger" [data]="closeTriggers">
        </jigsaw-button-bar>
    </li>
</ul>

<!-- start to learn the demo from here -->
<div class="live-demo-wrap">
    <div class="demo-1 live-demo">
        <jigsaw-header [level]="2">本地数据过滤</jigsaw-header>
        <j-combo-select maxWidth="500"
                        [(value)]="selectedCountries"
                        [clearable]="true"
                        labelField="enName"
                        [searchable]="true"
                        [disabled]="disabled"
                        [searching]="searching"
                        [searchKeyword]="searchKeyword"
                        [openTrigger]="openTrigger[0]"
                        [closeTrigger]="closeTrigger[0]"
                        placeholder="search a country..."
                        (openChange)="onLocalSearchOpen($event)"
                        (searchKeywordChange)="handleSearching($event, lpaCountries)">
            <ng-template>
                <div class="dropdown">
                    <j-tile [(selectedItems)]="selectedCountries" [autoRemoveInvalidValue]="false" trackItemBy="enName" width="550px">
                        <j-tile-option *ngFor="let country of lpaCountries" [value]="country" width="100px">
                            {{country.enName}}
                        </j-tile-option>
                    </j-tile>
                </div>
            </ng-template>
        </j-combo-select>
        <p>selected countries: {{toCountriesString(selectedCountries)}}</p>
    </div>

    <div class="demo-2 live-demo">
        <jigsaw-header [level]="2">服务端数据过滤</jigsaw-header>
        <j-combo-select maxWidth="500"
                        [(value)]="selectedCountries2"
                        [clearable]="true"
                        labelField="enName"
                        [searchable]="true"
                        [searching]="spaCountries.busy"
                        [disabled]="disabled"
                        [searchKeyword]="searchKeyword"
                        [openTrigger]="openTrigger[0]"
                        [closeTrigger]="closeTrigger[0]"
                        placeholder="输入中文也行"
                        (openChange)="onServerSearchOpen($event)"
                        (searchKeywordChange)="handleSearching($event, spaCountries)">
            <ng-template>
                <div class="dropdown">
                    <j-tile [(selectedItems)]="selectedCountries2" [autoRemoveInvalidValue]="false" trackItemBy="enName" width="550px">
                        <j-tile-option *ngFor="let country of spaCountries" [value]="country" width="100px">
                            {{country.enName}}
                        </j-tile-option>
                    </j-tile>
                </div>
            </ng-template>
        </j-combo-select>
        <p>selected countries: {{toCountriesString(selectedCountries2)}}</p>
    </div>

    <div class="demo-3 live-demo">
        <jigsaw-header [level]="2">自定义过滤器</jigsaw-header>
        <j-combo-select maxWidth="500"
                        [(value)]="selectedCountries3"
                        [clearable]="true"
                        [disabled]="disabled"
                        [searching]="searching"
                        [openTrigger]="openTrigger[0]"
                        [closeTrigger]="closeTrigger[0]"
                        labelField="enName"
                        placeholder="search a country..."
                        (openChange)="onLocalSearchOpen($event)">
            <ng-template>
                <div class="dropdown-wrap">
                    <j-input width="100%" (valueChange)="handleSearching($event, lpaCountries)">
                        <span jigsaw-prefix-icon class="iconfont iconfont-ea03"></span>
                    </j-input>
                    <div class="dropdown">
                        <j-tile [(selectedItems)]="selectedCountries3" [autoRemoveInvalidValue]="false" trackItemBy="enName" width="550px">
                            <j-tile-option *ngFor="let country of lpaCountries" [value]="country" width="100px">
                                {{country.enName}}
                            </j-tile-option>
                        </j-tile>
                    </div>
                </div>
            </ng-template>
        </j-combo-select>
        <p>selected countries: {{toCountriesString(selectedCountries3)}}</p>
    </div>
</div>

