@import "../../common/assets/scss/core/base";

.jigsaw-notification-host {
    z-index: $zindex-popover-level-1;
}

.jigsaw-notification {
    border-radius: $border-radius-base;
    background: $bg-popup;
    box-shadow: $box-shadow-lv3;
    padding: 18px 22px 18px 18px;
    height: 100%;
    overflow: hidden;

    .jigsaw-notification-content {
        display: flex;

        .jigsaw-notification-icon {
            display: flex;
            align-items: flex-start;
            flex-grow: 0;
            font-size: 20px;
            margin-right: 11px;
            line-height: 22px;

            .jigsaw-notification-icon-success {
                color: $success-default;
                font-size: 20px;
            }

            .jigsaw-notification-icon-error {
                color: $error-default;
                font-size: 20px;
            }

            .jigsaw-notification-icon-warning {
                color: $warning-default;
                font-size: 20px;
            }

            .jigsaw-notification-icon-info {
                color: $primary-default;
                font-size: 20px;
            }
        }

        .jigsaw-notification-text {
            flex-grow: 1;
            width: calc(100% - 94px);
            height: 100%;

            // 标题
            .jigsaw-notification-caption {
                @include line-ellipsis-style();
                font-size: $font-size-lg;
                color: $font-color-default;
                font-weight: bold;
                margin-bottom: 6px;
                padding-right: 8px;
            }

            .jigsaw-notification-message {
                padding-right: 8px;
                word-wrap: break-word;
                font-size: $font-size-base;
                color: $font-color-default;
                height: 100%;
                max-height: 300px;
            }
        }
    }

    .jigsaw-notification-close {
        position: absolute;
        right: 18px;
        top: 10px;
        span {
            cursor: pointer;
            font-size: 20px;
            color: $icon-color-default;
            &:hover {
                color: $brand-hover;
            }
        }
    }

    .jigsaw-notification-button-bar {
        text-align: right;
        flex: none;
        margin: 18px -8px -6px 0;

        jigsaw-button {
            margin-left: 6px;
        }
    }

    &.jigsaw-notification-success {
        border-left: 3px solid $success-default;
    }

    &.jigsaw-notification-error {
        border-left: 3px solid $error-default;
    }

    &.jigsaw-notification-warning {
        border-left: 3px solid $warning-default;
    }

    &.jigsaw-notification-info {
        border-left: 3px solid $primary-default;
    }
}
