<demo-template [data]="''" [text]="text['text']['dataIsObejct']">
    <div style="margin-bottom: 20px">
        <j-radios [(value)]="selectedCity" trackItemBy="name"
                  (valueChange)="radioChange($event)">
            <j-radio-option *ngFor="let item of cities" [value]="item">
                {{item.name}}
            </j-radio-option>
        </j-radios>
        <p>选择的城市是: <span>{{selectedCity.name}}</span></p>
    </div>

    <div>
        <jigsaw-radios [(value)]="selectedProduct"
                       (valueChange)="radioChange2($event)"
                       trackItemBy="pro_name,pro_type">
            <jigsaw-radio-option *ngFor="let item of products" [value]="item">
                {{item.pro_name}}
            </jigsaw-radio-option>
        </jigsaw-radios>

        <p>选择的城市的ID号是 : {{selectedProduct.pro_name}}</p>
    </div>
</demo-template>
