.mark .label {
    position: relative;
    display: inline-flex;
    margin-right: 10px;
    padding-left: 10px;

    &::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 0;
        width: 4px;
        height: 4px;
        transform: translateY(-50%);
        border-radius: 50%;
        background: hsl(30, 88%, 51%);
    }
}

.mark .label:first-of-type::after {
    background: hsl(128, 59%, 44%);
}

.mark .label:last-of-type::after {
    background: hsl(0, 85%, 61%);
}
