.app-wrap {
    padding: 6px;
    font-family: "Helevetica Neue", "PingFang SC", "Tahoma", "Microsoft Yahei";

    .demo-showcase {

        display: flex;
        align-items: center;
        margin-bottom: 16px;

        >* {
            margin-right: 8px;
        }

        >span {
            margin-right: 24px;
            font-weight: bold;
        }


    }

    .demo-showcase-v {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 16px;

        >* {
            margin-bottom: 8px;
        }

        >span {
            margin-bottom: 8px;
            font-weight: bold;
        }
    }
}