<!-- ignore the following lines, they are not important to this demo -->
<jigsaw-demo-description [summary]="summary" [content]="description">
</jigsaw-demo-description>

<!-- start to learn the demo from here -->
<jigsaw-header>设置jigsawCascadingMenuMaxHeight</jigsaw-header>
<p style="padding: 16px">
    <a style="margin-right: 16px" jigsawCascadingMenu [jigsawCascadingMenuData]="menuData"
        jigsawCascadingMenuWidth="220" jigsawCascadingMenuTheme="light"
        (jigsawCascadingMenuSelect)="menuSelect($event)">
        弹出菜单（未设最大高度）
    </a>
    <a style="margin-right: 16px" jigsawCascadingMenu [jigsawCascadingMenuData]="menuData" jigsawCascadingMenuWidth="220"
        jigsawCascadingMenuMaxHeight="250" jigsawCascadingMenuTheme="light"
        (jigsawCascadingMenuSelect)="menuSelect($event)">
        弹出菜单（设置最大高度）
    </a>
    <a (click)="useApi($event)">
        弹出菜单（API & 设置最大高度）
    </a>
</p>
