<!-- ignore the following lines, they are not important to this demo -->
<jigsaw-demo-description [summary]="summary" [content]="description">
</jigsaw-demo-description>

<!-- start to learn the demo from here -->
<jigsaw-header>设置jigsawCascadingMenuMaxHeight</jigsaw-header>
<a jigsawCascadingMenu [jigsawCascadingMenuData]="menuData" jigsawCascadingMenuWidth="220"
   jigsawCascadingMenuMaxHeight="250" jigsawCascadingMenuTheme="light" (jigsawCascadingMenuSelect)="menuSelect($event)">
    弹出菜单
</a>
