<demo-template [(selectedLabel)]="selectedLabel" [text]="text['text']['iconWord']">
    <div>
        <p class="comment">正常</p>
        <j-button [(preSize)]="selectedLabel.size">
            <span class="iconfont iconfont-e9ff"></span>
            <span>内嵌图标</span>
        </j-button>
        <j-button icon="iconfont iconfont-e247" [(preSize)]="selectedLabel.size">通过icon属性设置图标</j-button>
    </div>

    <div>
        <p class="comment">禁用</p>
        <j-button [disabled]="true" [(preSize)]="selectedLabel.size">
            <span class="iconfont iconfont-e9ff"></span>
            <span>内嵌图标</span>
        </j-button>
        <j-button icon="iconfont iconfont-e247" [disabled]="true" [(preSize)]="selectedLabel.size">通过icon属性设置图标</j-button>
    </div>
</demo-template>

