@import './softBank-common';

.softBank-alert-content{
    padding: 28px 60px;
    ul {
        @include clearfix();
        li{
            float: left;
            height: 36px;
            &:nth-child(1){
                margin-right: 12px;
                span{
                    font-size: 36px;
                    color: $info-color;
                }
            }
            &:nth-child(2){
                margin-right: 50px;

            }
        }
    }
}


