@import "../../assets/scss/core/base";

$fish-bone-prefix-cls: #{$jigsaw-prefix}-fish-bone;

/* jigsaw-fish-bone 鱼骨host class*/
.#{$fish-bone-prefix-cls} {
    @include inline-block();
    width: 100%;
    height: 400px;

    /* jigsaw-fish-bone-white jigsaw-fish-bone-dark 鱼骨主题标识 放在host上*/
    &-white {
        background: #FFF;
        .#{$fish-bone-prefix-cls}-head p:before, .#{$fish-bone-prefix-cls}-main {
            background: #BABABA;
        }
    }
    &-dark {
        background: #313333;
        .#{$fish-bone-prefix-cls}-head p:before, .#{$fish-bone-prefix-cls}-main {
            background: #6B6B6B;
        }
    }

    /* jigsaw-fish-bone-main 鱼骨中轴横线*/
    &-main {
        position: absolute;
        left: 146px;
        top: 200px;
        height: 4px;
        background: #BABABA;
    }

    &-framework {
        width: 100%;
        height: 100%;
    }
    &-range {
        position: relative;
        overflow: hidden;
    }

    /* jigsaw-fish-bone-up jigsaw-fish-bone-down 一个鱼骨树在上面还是在下面，放在最外层的节点上 */
    &-up > .#{$fish-bone-prefix-cls}-item-content {
        top: -16px;
    }
    &-down > .#{$fish-bone-prefix-cls}-item-content {
        top: 6px;
    }

    &-head, &-foot {
        position: absolute;
    }
    &-head {
        left: 0;
        transform: translate(-104%, -50%) rotateY(180deg) translate3d(0, 0, 0);
        p {
            position: absolute;
            width: 75%;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%) rotateY(180deg) translate3d(0, 0, 0);
            max-height: 44px;
            line-height: 1.2;
            text-align: center;
            &:before {
                position: absolute;
                left: 30%;
                top: -16px;
                width: 15px;
                height: 15px;
                border-radius: 50%;
                content: '';
            }
        }
    }
    &-foot {
        right: 0;
        transform: translate(104%, -46%) rotateY(180deg) translate3d(0, 0, 0);
    }

    /* jigsaw-fish-bone-left jigsaw-fish-bone-left 鱼骨方向标识，放在host上*/
    &-left {

    }

    &-right {
        .#{$fish-bone-prefix-cls}-head {
            p {
                transform: translate(-50%, -50%) rotateY(0deg) translate3d(0, 0, 0);
            }
        }
        .#{$fish-bone-prefix-cls}-range {
            transform: rotateY(180deg) translate3d(0, 0, 0);
            .#{$fish-bone-prefix-cls}-item-content {
                transform: rotateY(180deg) translate3d(0, 0, 0);
            }
            .#{$fish-bone-prefix-cls}-item-description {
                transform: translateX(-50%) rotateY(180deg) translate3d(0, 0, 0);
            }
        }
    }
}



