@import "../../assets/scss/core/base";

.jigsaw-fish-bone{
    @include inline-block();
    width: 100%;
    height: 4px;
    background: #FFF;
    padding: 400px 0;
    position: relative;
}
.jigsaw-fish-bone-main{
    position: relative;
    height: 4px;
    background: #ddd;
}


.jigsaw-fish-bone-up > p{top: -16px;}
.jigsaw-fish-bone-down > p{top: 6px;}
