<!-- ignore the following lines, they are not important to this demo -->
<jigsaw-demo-description [summary]="summary" [content]="description">
</jigsaw-demo-description>


<!-- start to learn the demo from here -->
<p>绝对值宽度</p>
<jigsaw-combo-select
    placeholder="请输入城市~"
    dropDownWidth="400px"
    maxWidth="500"
    [clearable]="true">
    <ng-template>
        <jigsaw-tile
            class="drop-down-child"
            trackItemBy="label"
            width="400px">
            <jigsaw-tile-option *ngFor="let city of cities" [value]="city" width="22.8%">
                {{city.label}}
            </jigsaw-tile-option>
        </jigsaw-tile>
    </ng-template>
</jigsaw-combo-select>
<p>百分比宽度</p>
<jigsaw-combo-select
    placeholder="请输入城市~"
    dropDownWidth="120%">
    <ng-template>
        <jigsaw-tile
            class="drop-down-child"
            trackItemBy="label"
            width="400px">
            <jigsaw-tile-option *ngFor="let city of cities" [value]="city" width="22.8%">
                {{city.label}}
            </jigsaw-tile-option>
        </jigsaw-tile>
    </ng-template>
</jigsaw-combo-select>

