$jigsaw-toast: #{$jigsaw-prefix}-toast;

.#{$jigsaw-toast}-host {
    .#{$jigsaw-toast} {
        display: flex;
        align-items: center;
        width: 100%;
        min-width: 256px;
        min-height: $height-huge;
        background: $bg-popup;
        border-radius: $border-radius-base;

        .#{$jigsaw-toast}-icon {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 48px;
            height: 100%;
            font-size: $icon-size-status-sm;
        }

        .#{$jigsaw-toast}-message {
            display: -webkit-box;
            -webkit-line-clamp: 4;
            -webkit-box-orient: vertical;
            width: calc(100% - 80px);
            padding: 8px 0;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: normal;
        }

        .#{$jigsaw-toast}-close {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 32px;
            height: 100%;
            font-size: $icon-size-med;

            i {
                cursor: pointer;
            }
        }

        &.#{$jigsaw-toast}-success {
            .#{$jigsaw-toast}-icon {
                color: $success-default;
            }
        }

        &.#{$jigsaw-toast}-error {
            .#{$jigsaw-toast}-icon {
                color: $error-default;
            }
        }

        &.#{$jigsaw-toast}-warning {
            .#{$jigsaw-toast}-icon {
                color: $warning-default;
            }
        }

        &.#{$jigsaw-toast}-info {
            .#{$jigsaw-toast}-icon {
                color: $primary-default;
            }
        }
    }
}