label{
    padding:16px 0px 0px 0px;
}
.button-ok{
    background-color: darkcyan;
    color: #ffaa00;
    margin-left: -12px;
}
.button-cancel{
    background-color:darkcyan;
    color: #ffaa00;
    margin-left: 50px;
}
