<demo-template [sizeController]="null" [description]="description" [demoSources]="demoSources">
    <!-- start to learn the demo from here -->
    <div class="demo-showcase-v">
        <span>极简模式1</span>
        <p class="hints-text">给上传组件添加Loading（符合规范的Loading信息请参考本页Upload指令面板这个demo）</p>
        <div>
            <j-button
                j-upload
                (uploadStart)="isButtonUploadWaiting = true"
                (uploadProgress)="getUploadFile($event)"
                (uploadComplete)="getAllUploadFiles($event, 'button')"
                [uploadMultiple]="multiple"
                [uploadMinSize]="minSize"
                [uploadMaxSize]="maxSize"
                [uploadFileType]="fileType"
            >
                <j-font-loading *ngIf="isButtonUploadWaiting" width="16px" height="16px" color="#41addc">
                </j-font-loading>
                Upload
            </j-button>
        </div>
    </div>

    <div class="demo-showcase-v">
        <span>极简模式2</span>
        <p class="hints-text">指令可以自由赋予普通组件上传功能</p>
        <a
            j-upload
            (uploadStart)="isLinkUploadWaiting = true"
            [uploadMinSize]="minSize"
            [uploadMaxSize]="maxSize"
            [uploadFileType]="fileType"
            [uploadMultiple]="multiple"
            (uploadProgress)="getUploadFile($event)"
            (uploadComplete)="getAllUploadFiles($event, 'link')"
            class="link-upload"
            >上传文件
        </a>
        <j-font-loading *ngIf="isLinkUploadWaiting" width="16px" height="16px" color="#41addc"></j-font-loading>
    </div>

    <div class="demo-showcase-v">
        <span>极简模式3</span>
        <p class="hints-text">展示结果（符合规范的结果展示请参考本页Upload指令面板这个demo）</p>
        <a
            j-upload
            (uploadStart)="showUploadFileName()"
            (uploadComplete)="showUploadFileName($event)"
            [uploadMinSize]="minSize"
            [uploadMaxSize]="maxSize"
            [uploadFileType]="fileType"
            [uploadMultiple]="multiple"
            class="link-upload"
            >上传文件
        </a>
        <span>{{ uploadedFile }}</span>
    </div>
</demo-template>
