<div class="jigsaw-time-popup-content">
    <ul class="jigsaw-time-popup-content-hour"  *ngIf="initData?.mode == 'hour'">
        <li *ngFor="let hour of _$hourList" [class.jigsaw-time-popup-isSelected]="hour.isSelected" (click)="_$select(hour.value)">{{hour.value}}</li>
    </ul>
    <ul class="jigsaw-time-popup-content-minute" *ngIf="initData?.mode == 'minute'">
        <li *ngFor="let minute of _$minuteList" [class.jigsaw-time-popup-isSelected]="minute.isSelected" (click)="_$select(minute.value)">{{minute.value}}</li>
    </ul>
    <ul class="jigsaw-time-popup-content-second" *ngIf="initData?.mode == 'second'">
        <li *ngFor="let second of _$secondList" [class.jigsaw-time-popup-isSelected]="second.isSelected" (click)="_$select(second.value)">{{second.value}}</li>
    </ul>
</div>
<div class="jigsaw-time-popup-control" *ngIf="initData?.mode == 'hour'">
    <span (click)="_$select('now')">{{'timePicker.now' | translate}}</span>
</div>
