@import "../../common/assets/scss/core/base";

$jigsaw-combo-select: #{$jigsaw-prefix}-combo-select;

.#{$jigsaw-combo-select}-host {
    @include inline-block;
    min-width: 240px;
    max-width: 100%;
}

.#{$jigsaw-combo-select} {
    position: relative;
    color: $icon-color-default;
    font-size: $font-size-base;
    cursor: pointer;

    &[ng-reflect-jigsaw-float-open="true"] &-selection {
        border-color: $brand-default;
    }

    &[ng-reflect-jigsaw-float-open="true"] {
        .#{$jigsaw-combo-select}-arrow {
            @include prefixer(transform, translateY(-50%) rotate(180deg));
        }
    }

    &-selection {
        min-height: $height-base;
        padding: 0 30px 0 7px;
        background: $bg-component;
        border-width: 1px;
        border-style: solid;
        border-color: $border-color-default;
        border-radius: $border-radius-base;
        transition: all 0.3s $ease-in-out;
        user-select: none;

        &:hover {
            border-color: $brand-default;
        }

        &:active {
            border-color: $brand-active;
        }

        .#{$jigsaw-combo-select}-error & {
            border-color: $error-default;
            &:hover {
                border-color: $error-default;
            }
        }
    }

    &-selection-rendered {
        min-height: $height-base - 2;
        padding: 3px 0 0;
        overflow: hidden;
        font-size: 0;
        .jigsaw-tag-host {
            vertical-align: middle;
            margin-right: 4px;
            margin-bottom: 2px;
        }
        .jigsaw-input {
            height: $height-base - 8;
            line-height: $height-base - 8;
            border: none;
            &.jigsaw-input-focused,
            &:hover {
                box-shadow: none;
                border: none;
            }
            input {
                padding: 0 !important;
                font-size: $font-size-base;
            }
        }
    }

    &-placeholder {
        @include inline-block();
        font-size: $font-size-base;
        color: $font-color-hint;
        padding-bottom: 3px;
        height: $height-base - 6;
        line-height: $height-base - 9;
    }

    &-disabled {
        color: $font-color-disabled;
        pointer-events: none;

        .#{$jigsaw-combo-select}-selection
            .#{$jigsaw-combo-select}-selection-rendered {
            .jigsaw-tag-host {
                color: $font-color-disabled;
            }
        }
    }

    &-disabled &-placeholder {
        color: $font-color-disabled;
    }

    &-disabled &-selection {
        background-color: $bg-disabled;
        cursor: not-allowed;

        &:hover,
        &:active,
        &:focus {
            border-color: $bg-disabled;
            box-shadow: none;
        }
    }

    &-arrow {
        position: absolute;
        top: 50%;
        right: 5px;
        font-size: $icon-size-med;
        color: $icon-color-default;
        transform: translateY(-50%);
        &:hover {
            color: $brand-default;
        }
    }

    &-clear {
        position: absolute;
        top: 50%;
        right: 20px;
        transform: translateY(-50%);
        font-size: $icon-size-sm;
        color: $icon-color-default;
        &:hover {
            color: $brand-default;
        }
    }

    &-disabled &-clear {
        color: $icon-color-disabled;
        &:hover {
            color: $icon-color-disabled;
        }
    }
}
