<div class="jigsaw-combo-select"
     (click)="_$onClick($event)"
     jigsaw-float
     [jigsawFloatOpenTrigger]="openTrigger"
     [jigsawFloatCloseTrigger]="closeTrigger"
     [jigsawFloatTarget]="_$contentTemplateRef"
     [(jigsawFloatOpen)]="_$opened"
     (jigsawFloatOpenChange)="_$comboOpenChange($event)"
     [jigsawFloatOptions]="_$options">
    <div class="jigsaw-combo-select-selection"
         [perfectScrollbar]="{suppressScrollX: true, wheelPropagation: true, wheelSpeed: 0.1, minScrollbarLength: 20}"
         [style.max-height]="maxHeight">
        <div class="jigsaw-combo-select-selection-rendered">
            <jigsaw-tag [theme]="theme" *ngFor="let tagItem of value; trackBy: _$trackByFn"
                        [closable]='textTag && tagItem?.closable'
                        [selectedColor]="textTag && tagItem.selectedColor"
                        [select]="textTag && tagItem.selectedColor"
                        (selectChange)="_$tagClick(tagItem)"
                        (close)="_$removeTag(tagItem)">
                {{_$getItemLabel(tagItem, labelField)}}
            </jigsaw-tag>
            <jigsaw-input #editor [theme]="theme" *ngIf="searchable" [(value)]="searchKeyword" [disabled]="disabled || searching"
                          width="100%" (valueChange)="_$handleSearchBoxChange()"
                          [clearable]="false" [placeholder]="value.length == 0 ? placeholder : ''">
            </jigsaw-input>
            <div class="jigsaw-combo-select-placeholder" *ngIf="placeholder && value.length == 0 && !searchable">
                {{placeholder}}
            </div>
        </div>
    </div>
    <i class="iconfont iconfont-e14b jigsaw-combo-select-clear" [ngStyle]="{right: this.selectIcon ? '20px' : '7px'}"
       *ngIf="clearable && value && value.length != 0" (click)="_$clearValue()">
    </i>
    <i class="jigsaw-combo-select-arrow jigsaw-combo-select-down" [ngClass]="selectArrowClass"></i>
</div>
<ng-content></ng-content>
