@import "../../assets/scss/core/base";

$select-prefix-cls: #{$jigsaw-prefix}-tile;

.#{$select-prefix-cls} {
    @include inline-block();
    .#{$select-prefix-cls}-search {
        margin-bottom: 8px;
        margin-right: 8px;
    }
}


