$jigsaw-cascade: #{$jigsaw-prefix}-cascade;
$jigsaw-tile: #{$jigsaw-prefix}-tile;

.#{$jigsaw-cascade}-host {
    display: inline-block;
    border: 1px solid $border-color-default;
    border-radius: $border-radius-base;
    color: $font-color-default;

    .#{$jigsaw-tile}-host {
        border: none;

        .#{$jigsaw-tile}-option {
            width: 70px;
            border: none;
            color: $font-color-default;

            &:hover {
                color: $font-color-default;
                background: $bg-hover;
            }

            &-active {
                background: $brand-default;
                color: $font-color-white;

                &:hover {
                    background: $brand-default;
                    color: $font-color-white;
                }
            }
        }
    }

    .#{$jigsaw-cascade}-show-all {
        @include inline-block();
        width: 60px;
        height: $height-base;
        line-height: $height-base;
        font-size: $font-size-base;
        text-align: center;
        margin: {
            right: 8px;
            bottom: 8px;
        }
        cursor: pointer;
        color: $brand-default;
        font-weight: 700;
        &:hover {
            color: $brand-hover;
        }
        &:active {
            color: $brand-active;
        }
    }

    .#{$jigsaw-cascade}-loading {
        position: relative;
        width: 100%;
        height: 100px;
        background: #000;
        opacity: 0.4;
        span {
            position: absolute;
            width: 20px;
            height: 20px;
            line-height: 20px;
            font-size: 20px;
            color: #fff;
            left: 50%;
            top: 50%;
            margin-left: -10px;
            margin-top: -10px;
        }
    }

    .#{$jigsaw-cascade}-search-wrapper {
        padding: 0 8px;
    }

    .#{$jigsaw-cascade}-footer{
        display: flex;
        justify-content: flex-start;
        padding: 4px 8px;

        .#{$jigsaw-cascade}-confirm-button-wrapper{
            margin-left: auto;
        }
    }
}
