@import "core/base";

* {
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0); //  remove tap highlight color for mobile safari
}

*:before,
*:after {
    box-sizing: border-box;
}

body {
    font-family: $font-family !important;
    font-size: $font-size-base;
    line-height: 1.5;
    color: $font-color-default;
    background-color: $bg-body;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

/*unify the setting of elements's margin and padding for browsers*/
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, hr, button, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    margin: 0;
    padding: 0;
}

/*Reset fonts for relevant elements*/
button, input, select, textarea, span, optgroup {
    color: inherit;
    font: inherit;
    margin: 0;
    line-height: inherit;
}

button {
    overflow: visible;
}

button,
select {
    text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}

button[disabled],
html input[disabled] {
    cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

input {
    line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box; // 1
    padding: 0; // 2
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

input[type="search"] {
    -webkit-appearance: textfield; // 1
    box-sizing: content-box; //2
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

/*Remove the clear button of a text input control in IE10+*/
input::-ms-clear, input::-ms-reveal {
    display: none;
}

::selection {
    background: $brand-default;
    color: #fff;
}

fieldset {
    min-width: 0;
    border: 0;
}

legend {
    border: 0;
    padding: 0;
}

textarea {
    overflow: auto;
}

optgroup {
    font-weight: bold;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

td,
th {
    padding: 0;
}

/*Links*/
a {
    color: $font-color-brand;
    background: transparent;
    text-decoration: none;
    outline: none;
    cursor: pointer;
    transition: color .3s ease;

    &:hover {
        color: $brand-hover;
    }

    &:active {
        color: $brand-active;
    }

    &:active,
    &:hover {
        outline: 0;
        text-decoration: none;
    }

    &[disabled] {
        color: #ccc;
        cursor: not-allowed;
        pointer-events: none;
    }
}

code,
kbd,
pre,
samp {
    font-family: $code-family;
    font-size: 1em;
}
code {
    font-size: 90%;
    color: #c7254e;
    background-color: #f9f2f4;
    border-radius: 4px;
}
kbd {
    padding: 2px 4px;
    font-size: 90%;
    color: #fff;
    background-color: #333;
    border-radius: 3px;
    -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.25);
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.25);
}
kbd kbd {
    padding: 0;
    font-size: 100%;
    font-weight: 700;
    -webkit-box-shadow: none;
    box-shadow: none;
}
pre {
    display: block;
    font-size: 13px;
    line-height: 1.42857143;
    color: #333333;
    word-break: break-all;
    word-wrap: break-word;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 4px;
}
pre code {
    padding: 0;
    font-size: inherit;
    color: inherit;
    white-space: pre-wrap;
    background-color: transparent;
    border-radius: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
    display: block;
}

audio,
canvas,
progress,
video {
    display: inline-block; // 1
    vertical-align: baseline; // 2
}

audio:not([controls]) {
    display: none;
    height: 0;
}

[hidden],
template {
    display: none;
}

abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    text-decoration: underline dotted;
}

abbr[title],
abbr[data-original-title] {
    cursor: help;
}

b,
strong {
    font-weight: bold;
}

dfn {
    font-style: italic;
}

mark {
    background: #ff0;
    color: #000;
}

small {
    font-size: 80%;
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

img {
    border: 0;
    vertical-align: middle;
}

svg:not(:root) {
    overflow: hidden;
}

hr {
    box-sizing: content-box;
    height: 0;
    border: 0;
    border-top: 1px solid $border-color-default;
}

pre {
    overflow: auto;
}

h1, h2, h3, h4, h5, h6{
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}

h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
    font-weight: 400;
    line-height: 1;
    color: #777777;
}

h1 small, h2 small, h3 small{
    font-size: 65%;
}

h4 small, h5 small, h6 small {
    font-size: 75%;
}
h1 {
    font-size: 36px;
}
h2 {
    font-size: 30px;
}
h3 {
    font-size: 24px;
}
h4 {
    font-size: 18px;
}
h5 {
    font-size: 14px;
}
h6 {
    font-size: 12px;
}

small {
    font-size: 85%;
}

mark {
    padding: 0.2em;
    background-color: #fcf8e3;
}

ul, ol {
    list-style: none;
}

dt, dd {
    line-height: 1.42857143;
}
dt {
    font-weight: 700;
}

blockquote {
    font-size: 17.5px;
    border-left: 5px solid #eeeeee;
}
blockquote footer,
blockquote small {
    display: block;
    font-size: 80%;
    line-height: 1.42857143;
    color: #777777;
}
blockquote footer:before,
blockquote small:before {
    content: "\2014 \00A0";
}

address {
    font-style: normal;
    line-height: 1.42857143;
}

label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
}

/* 滚动条 */
.ps .ps__rail-x:hover,
.ps .ps__rail-y:hover,
.ps .ps__rail-x:focus,
.ps .ps__rail-y:focus,
.ps .ps__rail-x.ps--clicking,
.ps .ps__rail-y.ps--clicking {
    background-color: $bg-scrollbar;
}

.ps__rail-y:hover > .ps__thumb-y,
.ps__rail-y:focus > .ps__thumb-y,
.ps__rail-y.ps--clicking .ps__thumb-y {
    background-color: $bg-scrollbar-lighten;
}

.ps__rail-x:hover > .ps__thumb-x,
.ps__rail-x:focus > .ps__thumb-x,
.ps__rail-x.ps--clicking .ps__thumb-x {
    background-color: $bg-scrollbar-lighten;
}