<demo-template [data]="''" [text]="text['text']['position']">
<div class="demo-showcase">
    <j-button class="iconfont iconfont-e9d8" jigsaw-float
              jigsawFloatOpenTrigger="click"
              jigsawFloatCloseTrigger="click"
              [jigsawFloatPosition]="floatPosition1"
              [jigsawFloatTarget]="jigsawFloatArea" [jigsawFloatOptions]="{useCustomizedBackground: true}">bottomLeft
    </j-button>
    <j-button class="iconfont iconfont-e9d8" jigsaw-float
              jigsawFloatOpenTrigger="click"
              jigsawFloatCloseTrigger="click"
              [jigsawFloatPosition]="floatPosition2"
              [jigsawFloatTarget]="jigsawFloatArea" [jigsawFloatOptions]="{useCustomizedBackground: true}"> bottomRight
    </j-button>
    <j-button class="iconfont iconfont-e9d8" jigsaw-float
              jigsawFloatOpenTrigger="click"
              jigsawFloatCloseTrigger="click"
              [jigsawFloatPosition]="floatPosition3"
              [jigsawFloatTarget]="jigsawFloatArea" [jigsawFloatOptions]="{useCustomizedBackground: true}"> TopLeft
    </j-button>
    <j-button class="iconfont iconfont-e9d8" jigsaw-float
              jigsawFloatOpenTrigger="click"
              jigsawFloatCloseTrigger="click"
              [jigsawFloatPosition]="floatPosition4"
              [jigsawFloatTarget]="jigsawFloatArea" [jigsawFloatOptions]="{useCustomizedBackground: true}"> TopRight
    </j-button>
</div>
    <div class="demo-showcase">
        <j-button class="iconfont iconfont-e9d8" jigsaw-float
                  jigsawFloatOpenTrigger="click"
                  jigsawFloatCloseTrigger="click"
                  [jigsawFloatPosition]="floatPosition5"
                  [jigsawFloatTarget]="jigsawFloatArea" [jigsawFloatOptions]="{useCustomizedBackground: true}"> LeftTop
        </j-button>
        <j-button class="iconfont iconfont-e9d8" jigsaw-float
                  jigsawFloatOpenTrigger="click"
                  jigsawFloatCloseTrigger="click"
                  [jigsawFloatPosition]="floatPosition6"
                  [jigsawFloatTarget]="jigsawFloatArea" [jigsawFloatOptions]="{useCustomizedBackground: true}"> LeftButton
        </j-button>
        <j-button class="iconfont iconfont-e9d8" jigsaw-float
                  jigsawFloatOpenTrigger="click"
                  jigsawFloatCloseTrigger="click"
                  [jigsawFloatPosition]="floatPosition7"
                  [jigsawFloatTarget]="jigsawFloatArea" [jigsawFloatOptions]="{useCustomizedBackground: true}"> RightTop
        </j-button>
        <j-button class="iconfont iconfont-e9d8" jigsaw-float
                  jigsawFloatOpenTrigger="click"
                  jigsawFloatCloseTrigger="click"
                  [jigsawFloatPosition]="floatPosition8"
                  [jigsawFloatTarget]="jigsawFloatArea" [jigsawFloatOptions]="{useCustomizedBackground: true}"> RightButton
        </j-button>
    </div>
    <ng-template #jigsawFloatArea>
        <div class="jigsawFloatArea">
            dropdown placeholder
        </div>
    </ng-template>
</demo-template>

