<!-- ignore the following lines, they are not important to this demo -->
<jigsaw-demo-description [summary]="summary" [content]="description">
</jigsaw-demo-description>


<!-- start to learn the demo from here -->

<jigsaw-button (click)="changeLang('en')">
    change language to English
</jigsaw-button>
<jigsaw-button (click)="changeLang('zh')">
    change language to Chinese
</jigsaw-button><br>


<div class="live-demo-wrap">
    <h2>Transfer</h2>
    <div class="demo-1 live-demo">
        <h3>普通数据</h3>
        <j-transfer width="100%" height="500" [data]="data" labelField="zhName" subLabelField="shortName"
                    [searchable]="true" (selectedItemsChange)="handleSelectChange($event)"
                    [selectedItems]="selectedCountries" [lang]="lang"></j-transfer>
        <p class="message">选择的地区：{{selectedCountriesStr}}</p>
    </div>
</div>


<div class="live-demo-wrap">
    <h2>Transfer</h2>
    <div class="demo-1 live-demo">
        <h3>本地分页数据</h3>
        <j-transfer width="100%" height="500" [data]="data_page" labelField="zhName" subLabelField="shortName"
                    [searchable]="true" (selectedItemsChange)="handleSelectChange($event)"
                    [selectedItems]="selectedCountries"></j-transfer>
        <p class="message">选择的地区：{{selectedCountriesStr}}</p>
    </div>
</div>



