<div class="drag-wrap" jigsaw-draggable jigsaw-droppable>
    <div class="com-box box1">
        <span>111</span>
    </div>
</div>
<div class="drag-wrap" jigsaw-draggable jigsaw-droppable>
    <div class="com-box box2">
        <span>222</span>
    </div>
</div>
<div class="drag-wrap" jigsaw-draggable jigsaw-droppable>
    <div class="com-box box3">
        <span>333</span>
    </div>
</div>
<div class="drag-wrap" jigsaw-draggable jigsaw-droppable>
    <div class="com-box box4">
        <span>444</span>
    </div>
</div>
