<div class="drag-wrap"
     jigsaw-draggable jigsaw-droppable
     (dragStart)="dragStartHandle($event)"
     (dragEnd)="dragEndHandle($event)"
     (dragEnter)="dragEnterHandle($event)"
     (dragOver)="dragOverHandle($event)"
     (dropped)="droppedHandle($event)">
    <div class="com-box box1">
        <span>111</span>
    </div>
</div>
<div class="drag-wrap"
     jigsaw-draggable jigsaw-droppable
     (dragStart)="dragStartHandle($event)"
     (dragEnd)="dragEndHandle($event)"
     (dragEnter)="dragEnterHandle($event)"
     (dragOver)="dragOverHandle($event)"
     (dropped)="droppedHandle($event)">
    <div class="com-box box2">
        <span>222</span>
    </div>
</div>
<div class="drag-wrap"
     jigsaw-draggable jigsaw-droppable
     (dragStart)="dragStartHandle($event)"
     (dragEnd)="dragEndHandle($event)"
     (dragEnter)="dragEnterHandle($event)"
     (dragOver)="dragOverHandle($event)"
     (dropped)="droppedHandle($event)">
    <div class="com-box box3">
        <span>333</span>
    </div>
</div>
<div class="drag-wrap"
     jigsaw-draggable jigsaw-droppable
     (dragStart)="dragStartHandle($event)"
     (dragEnd)="dragEndHandle($event)"
     (dragEnter)="dragEnterHandle($event)"
     (dragOver)="dragOverHandle($event)"
     (dropped)="droppedHandle($event)">
    <div class="com-box box4">
        <span>444</span>
    </div>
</div>
