.demo-cntr {
    position: relative;
    border: 1px solid #D9D9D9;
    border-radius: 4px;
    margin-top: 34px;
}

.demo-cntr .demo-handler {
    position: relative;
    top: -13px;
    left: 30px;
    background: #fff;
}

.demo-cntr.no-handler {
    margin-top: 15px;
}

.demo-cntr .demo-content {
    margin: 12px 32px 55px 32px;
}

.demo-cntr .demo-content.no-content {
    margin: 20px 30px 55px 30px;
}

.demo-cntr::before {
    position: absolute;
    bottom: 32px;
    width: 100%;
    height: 1px;
    border-top: 1px dashed #D9D9D9;
    content: "";
}

a {
    width: 100px;
    position: absolute;
    bottom: 8px;
    left: 50%;
    margin-left: -50px;
    text-align: center;
}

:host ::ng-deep .jigsaw-button-bar-host .jigsaw-tile-host .jigsaw-tile-option {
    min-width: 36px;
}