<jigsaw-markdown [markdown]="text"></jigsaw-markdown>
<div class="demo-cntr" [ngClass]="{'no-handler': !data}">
    <jigsaw-button-bar *ngIf="!!data" class="demo-handler" [(selectedItems)]="selectedLabel" [data]="data"
        [multipleSelect]="false" (selectedItemsChange)="onClick($event[0])" colorType="default" height="28">
    </jigsaw-button-bar>

    <div class="demo-content" [ngClass]="{'no-content': !data}">
        <ng-content></ng-content>
    </div>

    <div #code class="demo-code">
        <div>设置closable属性可以定义一个标签是否可移除。
            默认的标签移除时会附带渐变动画，如果不想使用，可以设置disable-transitions属性，它接受一个Boolean，true 为关闭。
        </div>
    </div>

    <div class="demo-button">
        <i *ngIf="!expand" class="iconfont iconfont-e8b6" (click)="showCode()">查看源码</i>
        <i *ngIf="expand" class="iconfont iconfont-e8b5" (click)="hideCode()">隐藏源码</i>
    </div>
</div>