<jigsaw-markdown [markdown]="description"></jigsaw-markdown>
<div class="demo-cntr" [ngClass]="{'no-handler': !sizeController}">
    <jigsaw-button-bar
        *ngIf="!!sizeController"
        class="demo-handler"
        trackItemBy="size"
        [(selectedItems)]="selectedSize"
        [data]="_$sizeController"
        [multipleSelect]="false"
        (selectedItemsChange)="selectedSizeChange.emit($event[0])"
        colorType="default"
        height="28">
    </jigsaw-button-bar>

    <div #demoContent class="demo-content">
        <ng-content></ng-content>
    </div>

    <div #codeContainer *ngIf="expand" class="demo-code">
        <jigsaw-tabs (selectChange)="rerunPrism()">
            <jigsaw-tab-pane *ngFor="let source of demoSources">
                <div jigsaw-title>{{source.label}}</div>
                <ng-template>
                    <pre class="line-numbers">
                        <code class="language-{{source.language}}">{{source.content | async}}</code>
                    </pre>
                </ng-template>
            </jigsaw-tab-pane>
        </jigsaw-tabs>
    </div>

    <div class="demo-button">
        <i *ngIf="!expand" class="iconfont iconfont-e8b6" (click)="expand = true; rerunPrism()">查看源码</i>
        <i *ngIf="expand" class="iconfont iconfont-e8b5" (click)="expand = false">隐藏源码</i>
    </div>
</div>
