<!-- ignore the following lines, they are not important to this demo -->
<jigsaw-demo-description [summary]="summary" [content]="description">
</jigsaw-demo-description>

<div style="display: flex;">
    <div class="wrapper">
        <h4>所有可用选项：</h4>

        <div class="row">
            <label>内容为数字</label>
            <j-numeric-input [(value)]="value" [showOption]="false" placeholder="请输入数字"></j-numeric-input>
            <jigsaw-button (click)="_$changeValue()">value值变大</jigsaw-button>
            <jigsaw-button (click)="_$changeValue1()">value值变小</jigsaw-button>
        </div>

        <div class="row">
            <label>前置单位</label>
            <jigsaw-input [(value)]="leadingUnit" placeholder="输入前置单位"></jigsaw-input>
        </div>

        <div class="row">
            <label>后缀单位</label>
            <jigsaw-input [(value)]="unit" placeholder="输入后缀单位"></jigsaw-input>
        </div>

        <div class="row">
            <label>useRawValue</label>
            <jigsaw-button (click)="useRawValue=!useRawValue">对内容{{useRawValue?'不做':'进行'}}处理</jigsaw-button>
            <span style="margin-left: 8px;">注意：此属性默认为false，设置为true时将不对value不作处理</span>
        </div>

        <div class="row">
            <label>数字精度</label>
            <j-numeric-input [(value)]="fractionDigits" [showOption]="false" min="0" placeholder="请输入数字精度"></j-numeric-input>
        </div>

        <div class="row">
            <label>动画时间</label>
            <j-numeric-input [(value)]="animationDuration" [showOption]="false" min="0" [suffix]="'ms'" placeholder="请输入动画时间"></j-numeric-input>
            <jigsaw-button (click)="enableAnimation=!enableAnimation">是否启用动画</jigsaw-button>
        </div>

        <div class="row">
            <label>内容为图标</label>
            <jigsaw-input [(value)]="iconValue" placeholder="输入图标（可选）"
                          title="图标的class字符串，支持Jigsaw自带图标库 @rdkmaster/icon-font">
            </jigsaw-input>
            <span style="margin-left: 8px;">例如：iconfont iconfont-e23e <a href="/#/pc/icon/icons">所有可用图标</a></span>
        </div>
    </div>
    <div class="wrapper">
        <div class="row">
            <label>前置单位字体样式</label>
            <j-numeric-input [(value)]="leadingFontSize" (valueChange)="setStyle()" [showOption]="false"
                             min="6" [suffix]="'px'" placeholder="请输入前置单位字体大小"></j-numeric-input>
            <jigsaw-color-select [enableOpacity]="true" [(color)]="leadingFontColor" (colorChange)="setStyle()" width="40"></jigsaw-color-select>
            <jigsaw-button (click)="setTop()">前置单位置顶</jigsaw-button>
            <jigsaw-button (click)="setCenter()">前置单位居中</jigsaw-button>
            <jigsaw-button (click)="setBottom()">前置单位沉底</jigsaw-button>
        </div>

        <div class="row">
            <label>中间内容字体样式</label>
            <j-numeric-input [(value)]="valueFontSize" (valueChange)="setStyle2()" [showOption]="false"
                             min="6" [suffix]="'px'" placeholder="请输入中间内容字体大小"></j-numeric-input>
            <jigsaw-color-select [enableOpacity]="true" [(color)]="valueFontColor" (colorChange)="setStyle2()"  width="40"></jigsaw-color-select>
        </div>
        <div class="row">
            <label>后缀单位字体样式</label>
            <j-numeric-input [(value)]="unitFontSize" (valueChange)="setStyle1()" [showOption]="false"
                             min="6" [suffix]="'px'" placeholder="请输入后缀单位字体大小"></j-numeric-input>
            <jigsaw-color-select [enableOpacity]="true" [(color)]="unitFontColor" (colorChange)="setStyle1()" width="40"></jigsaw-color-select>
            <jigsaw-button (click)="setTop1()">后缀单位置顶</jigsaw-button>
            <jigsaw-button (click)="setCenter1()">后缀单位居中</jigsaw-button>
            <jigsaw-button (click)="setBottom1()">后缀单位沉底</jigsaw-button>
        </div>
        <div class="row">
            <label>趋势图标基础样式（大小，位置）</label>
            <j-numeric-input [(value)]="trendFontSize" (valueChange)="setStyle3()" [showOption]="false"
                             min="6" [suffix]="'px'" placeholder="请输入后缀单位字体大小"></j-numeric-input>
            <jigsaw-button (click)="setTop2()">趋势整体置顶</jigsaw-button>
            <jigsaw-button (click)="setCenter2()">趋势整体居中</jigsaw-button>
            <jigsaw-button (click)="setBottom2()">趋势整体沉底</jigsaw-button>
        </div>
        <div class="row">
            <label>上升图标设置（图标，图标颜色）</label>
            <jigsaw-input [(value)]="ascendingTrendIcon" placeholder="输入图标（可选）" (valueChange)="setStyle4()"
                          title="图标的class字符串，支持Jigsaw自带图标库 @rdkmaster/icon-font">
            </jigsaw-input>
            <jigsaw-color-select [enableOpacity]="true" [(color)]="ascendingTrendColor" (colorChange)="setStyle4()"  width="40"></jigsaw-color-select>
        </div>
        <div class="row">
            <label>下降图标设置（图标，图标颜色）</label>
            <jigsaw-input [(value)]="descendingTrendIcon" placeholder="输入图标（可选）" (valueChange)="setStyle5()"
                          title="图标的class字符串，支持Jigsaw自带图标库 @rdkmaster/icon-font">
            </jigsaw-input>
            <jigsaw-color-select [enableOpacity]="true" [(color)]="descendingTrendColor" (colorChange)="setStyle5()"  width="40"></jigsaw-color-select>
        </div>

        <div class="row">
            <label>变化趋势字体样式</label>
            <j-numeric-input [(value)]="trendValueFontSize" (valueChange)="setStyle6()" [showOption]="false"
                             min="6" [suffix]="'px'" placeholder="请输入变化趋势字体大小"></j-numeric-input>
            <jigsaw-color-select [enableOpacity]="true" [(color)]="trendValueFontColor" (colorChange)="setStyle6()"  width="40"></jigsaw-color-select>
        </div>
    </div>
</div>


<div class="boxes">
    <div class="box">
        <p>精度{{fractionDigits}}，动画时间{{animationDuration}}ms</p>
        <hr>
        <jigsaw-large-text [value]="value" [fractionDigits]="fractionDigits" [leadingUnit]="leadingUnit"
                           [unit]="unit" [enableAnimation]="enableAnimation" [animationDuration]="animationDuration"
                           [useRawValue]="useRawValue" [trend]="'percentage'" [leadingUnitStyle]="leadingStyle"
                           [unitStyle]="unitStyle" [valueStyle]="valueStyle" [basicTrendStyle]="basicTrendStyle"
                           [ascendingTrendStyle]="ascendingTrendStyle" [descendingTrendStyle]="descendingTrendStyle"
                           [trendValueStyle]="trendValueStyle"></jigsaw-large-text>
    </div>
    <div class="box" style="margin-left: 100px">
        <p>组件内容为图标</p>
        <hr>
        <jigsaw-large-text [value]="iconValue" [leadingUnit]="leadingUnit"
                           [unit]="unit" [useRawValue]="useRawValue"></jigsaw-large-text>
    </div>
</div>
