<!-- ignore the following lines, they are not important to this demo -->
<jigsaw-demo-description [summary]="summary" [content]="description">
</jigsaw-demo-description>
<jigsaw-button (click)="_$changeValue0()">是否开启动画</jigsaw-button>
<jigsaw-button (click)="_$changeValue5()">设置valueMap（字符串情况下观察趋势需要）</jigsaw-button>
<jigsaw-button (click)="_$changeValue4()">清空valueMap</jigsaw-button>
<jigsaw-button (click)="_$changeValue()">value值变大</jigsaw-button>
<jigsaw-button (click)="_$changeValue1()">value值变小</jigsaw-button>
<jigsaw-button (click)="_$changeValue2()">value值不变</jigsaw-button>
<jigsaw-button (click)="_$changeValue3()">天气状况的值（string）改变</jigsaw-button>
<jigsaw-button (click)="_$changeValue6()">天气状况的值为差，检测百分比为Infinity</jigsaw-button>
<jigsaw-button (click)="_$changeValue7()">天气状况的值为中，检测百分比大于9999.9</jigsaw-button>




<div class="boxes">
    <div class="box">
        <p>精度3，有动画时间默认：5000ms</p>
        <hr>
        <jigsaw-large-text [value]="value" [fractionDigits]="fractionDigits" height="50px" [enableAnimation]="enableAnimation"
                           [useRawValue]="useRawValue"></jigsaw-large-text>
    </div>

    <div class="box">
        <p>精度2，有动画: 500ms</p>
        <hr>
        <jigsaw-large-text [value]="value" [fractionDigits]="2" [useRawValue]="useRawValue" [enableAnimation]="enableAnimation"
                           [animationDuration]="500"></jigsaw-large-text>
    </div>

    <div class="box">
        <p>精度1，有动画时间500ms</p>
        <hr>
        <jigsaw-large-text [value]="value" [fractionDigits]="1" [useRawValue]="useRawValue" [enableAnimation]="enableAnimation"
                           [animationDuration]="500"></jigsaw-large-text>
    </div>

    <div class="box">
        <p>精度0，没动画</p>
        <hr>
        <jigsaw-large-text [value]="value" [fractionDigits]="0" [useRawValue]="useRawValue"
                           [enableAnimation]="enableAnimation"></jigsaw-large-text>
    </div>

    <div class="box">
        <p>精度{{fractionDigits}}，有动画，有前后置单位</p>
        <hr>
        <jigsaw-large-text
            [value]="value" [fractionDigits]="fractionDigits" [enableAnimation]="enableAnimation"
            [useRawValue]="useRawValue" [unit]="unit" [leadingUnit]="leadingUnit"></jigsaw-large-text>
    </div>

    <div class="box">
        <p>值为图标</p>
        <hr>
        <jigsaw-large-text
            [value]="'iconfont iconfont-ea39'" [fractionDigits]="fractionDigits" [enableAnimation]="enableAnimation"
            [useRawValue]="useRawValue" [unit]="unit" [leadingUnit]="leadingUnit"></jigsaw-large-text>
    </div>

    <div class="box">
        <p>{{valueMap?'有':'无'}}valueMap，通过改变value值控制</p>
        <hr>
        <jigsaw-large-text
            [value]="value" [fractionDigits]="fractionDigits" [leadingUnit]="'天气状况：'" [enableAnimation]="enableAnimation"
            [useRawValue]="false" [valueMap]="valueMap"></jigsaw-large-text>
    </div>

    <div class="box">
        <p>{{valueMap1?'有':'无'}}valueMap情况且为图标</p>
        <hr>
        <jigsaw-large-text
            [value]="value" [fractionDigits]="fractionDigits" [leadingUnit]="'状态'"
            [useRawValue]="false" [valueMap]="valueMap1" [enableAnimation]="enableAnimation"></jigsaw-large-text>
    </div>

    <div class="box">
        <p>精度2，有动画: 500ms， 有趋势</p>
        <hr>
        <jigsaw-large-text [value]="value" [fractionDigits]="2" [useRawValue]="useRawValue" [enableAnimation]="enableAnimation"
                           [animationDuration]="500" [trend]="'normal'"></jigsaw-large-text>
    </div>

    <div class="box">
        <p>精度3，有动画: 500ms， 有趋势, 有变化百分比</p>
        <hr>
        <jigsaw-large-text #largeText [value]="value" [fractionDigits]="3" [useRawValue]="useRawValue" [enableAnimation]="enableAnimation"
                           [animationDuration]="500" [unit]="unit" [trend]="'percentage'"></jigsaw-large-text>
    </div>

    <div class="box">
        <p>{{valueMap?'有':'无'}}对应的valueMap，值为字符串，改变时有显示趋势, 有变化百分比</p>
        <hr>
        <jigsaw-large-text #largeText1 [value]="value1" [useRawValue]="useRawValue" [valueMap]="valueMap" [enableAnimation]="enableAnimation"
                           [leadingUnit]="'天气状况：'" [trend]="'percentage'"></jigsaw-large-text>
    </div>
<!--    <div class="box">-->
<!--        <p>有valueMap情况且为图片</p>-->
<!--        <hr>-->
<!--        <jigsaw-large-text-->
<!--            [value]="value" [leadingUnit]="'天气：'" [useRawValue]="false" [valueMap]="valueMap2"></jigsaw-large-text>-->
<!--    </div>-->
</div>
<div *ngIf="valueMap">
    天气状况：<div *ngFor="let item of valueMapEntries">
        <span>{{ item[0] }}： </span>
        <span>[{{ item[1][0] }} ~ {{ item[1][1] }}]</span>
    </div>

    图标：<div *ngFor="let item of valueMapEntries1">
        <jigsaw-icon [icon]="item[0]"></jigsaw-icon>
        <span>：[{{ item[1][0] }} ~ {{ item[1][1] }}]</span>
    </div>
</div>
