// Prefix
$jigsaw-prefix           : jigsaw;

// LINK
$link-color             : #008fd4;
$link-hover-color       : mix(#fff, $link-color, 20%);
$link-active-color      : mix(#000, $link-color, 5%);
$link-hover-decoration  : none;

// Animation
$ease-out            : cubic-bezier(0.215, 0.61, 0.355, 1);
$ease-in             : cubic-bezier(0.55, 0.055, 0.675, 0.19);
$ease-in-out         : cubic-bezier(0.645, 0.045, 0.355, 1);
$ease-out-back       : cubic-bezier(0.12, 0.4, 0.29, 1.46);
$ease-in-back        : cubic-bezier(0.71, -0.46, 0.88, 0.6);
$ease-in-out-back    : cubic-bezier(0.71, -0.46, 0.29, 1.46);
$ease-out-circ       : cubic-bezier(0.08, 0.82, 0.17, 1);
$ease-in-circ        : cubic-bezier(0.6, 0.04, 0.98, 0.34);
$ease-in-out-circ    : cubic-bezier(0.78, 0.14, 0.15, 0.86);
$ease-out-quint      : cubic-bezier(0.23, 1, 0.32, 1);
$ease-in-quint       : cubic-bezier(0.755, 0.05, 0.855, 0.06);
$ease-in-out-quint   : cubic-bezier(0.86, 0, 0.07, 1);

// Animation duration
$animation-duration-slow: .3s; // Modal
$animation-duration-base: .2s;
$animation-duration-fast: .1s; // Tooltip

// Outline
$outline-blur-size      : 0;
$outline-width          : 2px;
$outline-color          : $primary-color;

// Media queries breakpoints
// Extra small screen / phone
$screen-xs              : 480px;
$screen-xs-min          : $screen-xs;
$screen-xs-max          : ($screen-xs-min - 1);

// Small screen / tablet
$screen-sm              : 768px;
$screen-sm-min          : $screen-sm;
$screen-sm-max          : ($screen-sm-min - 1);

// Medium screen / desktop
$screen-md              : 992px;
$screen-md-min          : $screen-md;
$screen-md-max          : ($screen-md-min - 1);

// Large screen / wide desktop
$screen-lg              : 1200px;
$screen-lg-min          : $screen-lg;
$screen-lg-max          : ($screen-lg-min - 1);

// Layout and Grid system
$grid-columns           : 24;
$grid-gutter-width      : 0;

// z-index list
// 地面部分分成4层：null,1,2,3
$zindex-level-1         : 1;
$zindex-level-2         : 2;
$zindex-level-3         : 3;
// 空中部分采用后来居上的策略，所以高度设成1000
$zindex-popover         : 1000;
// ui设计器box部分
$zindex-ui-level-0      : 100;
$zindex-ui-level-1      : 101;
$zindex-ui-level-2      : 102;
$zindex-ui-level-3      : 103;

// Form
// ---
$label-required-color        : $highlight-color;
$label-color                 : $text-color;
$form-item-margin-bottom     : 24px;

// perfect scrollbar
// see issue https://github.com/zefoy/ngx-perfect-scrollbar/issues/121
.ps{
    position: relative;
}
