/*Color*/
$primary-color          : #029af2;
$info-color             : #41addc;
$success-color          : #07bb75;
$error-color            : #e94f4f;
$highlight-color        : #e94f4f;
$warning-color          : #ea9715;
$normal-color           : #dcdcdc;
$default-color          : #fff;

/*Palette*/
$primary-1              : mix(#fff, $primary-color, 90%);
$primary-2              : mix(#fff, $primary-color, 80%);
$primary-3              : mix(#fff, $primary-color, 60%);
$primary-4              : mix(#fff, $primary-color, 40%);
$primary-5              : mix(#fff, $primary-color, 20%);
$primary-6              : $primary-color;
$primary-7              : mix(#000, $primary-color, 10%);
$primary-8              : mix(#000, $primary-color, 20%);
$primary-9              : mix(#000, $primary-color, 30%);
$primary-10             : mix(#000, $primary-color, 40%);

/*主色填充*/
/*点击填充*/
$fill-color-1: #015c91;
/*悬停填充*/
$fill-color-2: #027bc2;
/*主按钮填充/灌边，icon悬停，操作中状态描边，文本链接，组件选中*/
$fill-color-3: $primary-color;
/*表头，特殊文字*/
$fill-color-4: #ccebfc;

/*灰度*/
/*标题*/
$gray-1: #ffffff;
/*页内正文*/
$gray-2: #cccccc;
/*提示文字*/
$gray-3: #999999;
/*icon默认填充*/
$gray-4: #777777;
/*输入框描边，文字禁用*/
$gray-5: #666666;

/*Background color*/
$background-color-base  : #f7f7f7;
$background-color-dark  : mix(#000, $background-color-base, 80%);

/*导航背景*/
/*导航上层*/
$nav-bg-1: #2a3642;
/*导航背景*/
$nav-bg-2: #32404e;
/*导航下层*/
$nav-bg-3: #516273;

/*浅色大面积背景*/
/*浅色大面积背景*/
$light-bg-1: #19191e;
/*浅色大面积背景，页内卡片填充*/
$light-bg-2: #232429;
/*页内卡片灌边*/
$light-bg-3: #45464c;

/*透明背景*/
/*表格间隔填充*/
$opacity-bg-1: rgba(#fff, .02);
/*表格表头填充*/
$opacity-bg-2: rgba(#fff, .08);
/*分割线，表格线，弹框头部填充*/
$opacity-bg-3: rgba(#fff, .15);
/*滑动条，标签*/
$opacity-bg-4: rgba(#fff, .2);
/*图形无数据填充*/
$opacity-bg-5: rgba(#fff, .25);


// ------ Base & Require ------
$body-background        : $light-bg-1;
$component-background   : transparent;
$font-family            : "Microsoft YaHei", Arial;
$code-family            : Consolas, Menlo, Courier, monospace;
$heading-color          : $gray-1;
$heading-color-dark     : #eeeeee;
$text-color             : $gray-2;
$text-color-secondary   : $gray-3;
$text-color-dark        : $gray-4;
$text-color-secondary-dark: $gray-5;
$text-color-of-bg       : #fff;
$font-size-base         : 12px;
$font-size-sm           : $font-size-base - 2px;
$font-size-lg           : $font-size-base + 2px;
$line-height-base       : 1.5;
$border-radius-base     : 4px;
$border-radius-sm       : 2px;
$height-base            : 32px;
$height-sm              : $height-base - 8px;
$height-lg              : $height-base + 4px;

// Border color
$border-color-base      : $gray-5;
$border-color-split     : #e9e9e9;
$border-width-base      : 1px;
$border-style-base      : solid;

// Shadow
$shadow-color           : rgba(#000, .2);
$shadow-1-down          : 0 1px 6px $shadow-color;
$shadow-1-up            : 0 -1px 6px $shadow-color;
$shadow-1-left          : -1px 0 6px $shadow-color;
$shadow-1-right         : 1px 0 6px $shadow-color;
$shadow-2               : 0 2px 8px $shadow-color;
$box-shadow-base        : $shadow-1-down;
$box-focus-shadow       : 0 0 0 2px fade-out($primary-color, .8);

// Disabled
$disabled-color         : $gray-3;
$disabled-color-ie11    : $gray-3; // 兼容IE11
$disabled-bg            : $opacity-bg-2;
$disabled-bg-dark       : $opacity-bg-3; // switch组件disabled bg

// The background colors for active and hover states for things like
// list items or table cells.
$item-hover-bg          : $fill-color-1;
$item-active-bg         : $fill-color-2;

// Buttons
$btn-box-shadow         : none;
$btn-font-weight        : 500;

// Scroll bar
$scroll-field-bg        : $border-color-base;
$scroll-bar-bg          : fade-out(#008fd4, .7);
$scroll-bar-active-bg   : fade-out(#008fd4, .5);

@import "common";
