$jigsaw-auto-display: #{$jigsaw-prefix}-auto-display;

.#{$jigsaw-auto-display}-host {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;

    .#{$jigsaw-auto-display}-row {
        flex: 1;
        display: flex;
        overflow: hidden;

        .#{$jigsaw-auto-display}-content-host {
            flex: 1;
            overflow: hidden;
        }
    }
}