@import "../../assets/scss/core/base";

$tab-prefix: #{$jigsaw-prefix}-tabs;

.#{$tab-prefix} {
    display: block;
    position: relative;
    overflow: hidden;
    @include clearfix;
    color: $text-color;

    &-bar {
        border-bottom: $border-width-base $border-style-base $border-color-base;
        margin-bottom: 16px;
        outline: none;
    }

    &-nav-container {
        font-size: $font-size-lg;
        line-height: $line-height-base;
        box-sizing: border-box;
        position: relative;
        white-space: nowrap;
        @include clearfix;

        .#{$tab-prefix}-nav-wrap {
            @include clearfix();
            .#{$tab-prefix}-nav {
                position: relative;
                list-style: none;
                float: left;
                transition: transform 0.5s $ease-in-out;
                @include clearfix;

                .#{$tab-prefix}-ink-bar {
                    position: absolute;
                    z-index: 1;
                    left: 0;
                    bottom: -1px;
                    height: 2px;
                    background-color: $primary-color;
                    transition: transform 0.3s $ease-in-out;
                    transform-origin: 0 0;
                    &:after {
                        position: absolute;
                        top: 2px;
                        left: 50%;
                        margin-left: -4px;
                        width: 0;
                        height: 0;
                        border: {
                            width: 4px 4px;
                            style: solid;
                            color: $primary-color transparent transparent transparent;
                        }
                    ;
                        content: '';
                        display: none;
                    }
                }

                .#{$tab-prefix}-tab-disabled {
                    pointer-events: none;
                    cursor: default;
                    color: $disabled-color;
                    @include ie11Hack() {
                        color: $disabled-color-ie11;
                    }
                }

                jigsaw-tab-label {
                    a:hover {
                        text-decoration: none;
                        color: $primary-color;
                    }
                    * {
                        outline: 0;
                    }
                }

                .#{$tab-prefix}-tab {
                    display: inline-block;
                    height: 100%;
                    margin-right: 24px;
                    position: relative;

                    padding: 8px 20px;
                    transition: color 0.3s $ease-in-out;
                    cursor: pointer;
                    text-decoration: none;

                    &:hover {
                        color: $primary-5;
                    }

                    &:active {
                        color: $primary-7;
                    }

                    &-hidden {
                        display: none;
                    }

                    span.fa {
                        margin-right: 6px;
                    }

                    a:hover {
                        text-decoration: none;
                        color: $primary-color;
                    }
                    * {
                        outline: 0;
                    }
                }

                .#{$tab-prefix}-tab-active {
                    color: $primary-color;
                }
            }
        }
    }

    &-content {
        width: 100%;

        .#{$tab-prefix}-tabpane {
            display: block;
            flex-shrink: 0;
            width: 100%;
            transition: transform 0.5s;
            opacity: 1;

            &-inactive {
                opacity: 0;
                height: 0;
                overflow: hidden;
            }

            &-hidden {
                display: none;
            }
        }
    }
}
