<!-- ignore the following lines, they are not important to this demo -->
<jigsaw-demo-description [summary]="summary" [content]="description">
</jigsaw-demo-description>


<!-- start to learn the demo from here -->
<jigsaw-mobile-switch [checked]="true" [disabled]="false"></jigsaw-mobile-switch><br><br>
<jigsaw-mobile-switch id="test-switch1" [(checked)]="checked"></jigsaw-mobile-switch><span id="result-message">result: {{checked}}</span><br><br>
<jigsaw-mobile-switch id="test-switch2" [checked]="true" [disabled]="true"></jigsaw-mobile-switch><br><br>
<jigsaw-mobile-switch id="test-switch3" onLabel="Jigsaw is great!" offLabel="Jigsaw is perfect!"></jigsaw-mobile-switch>

