<!-- ignore the following lines, they are not important to this demo -->
<jigsaw-demo-description [summary]="summary" [content]="description">
</jigsaw-demo-description>


<!-- start to learn the demo from here -->
<jigsaw-button (click)="click()">获取当前展开的网元对象</jigsaw-button>
<jigsaw-button (click)="add()">增加一个</jigsaw-button>

<br>
<jigsaw-collapse width="80%" mode="accordion" #coll_ne>
    <jigsaw-collapse-pane *ngFor="let ne of nes" [header]="ne.name">
        <div class="collapse-content">{{ne.content}}</div>
    </jigsaw-collapse-pane>
</jigsaw-collapse>
