@import "./core/basc";

/*滚动条样式start*/
.mCSB_scrollTools{
    width: 10px;
}
.mCSB_container_wrapper{
    margin-right: 0;
    & > .mCSB_container {
        padding-right: 0;
    }
}
.mCSB_inside > .mCSB_container {
    margin-right: 0;
}
/*滚动条样式end*/

/*时间组件样式start*/
rdk-time{
    color: $text-color;
    .bootstrap-datetimepicker-widget table td.old, .bootstrap-datetimepicker-widget table td.new {
        color: $text-color-secondary;
    }

    .glyphicon-chevron-left:before, .glyphicon-chevron-right:before {
        color: $text-color-secondary;
    }
}
/*时间组件样式end*/

/*rdk-dropdown弹出动画start*/
@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    45% {
        opacity: 0.4;
    }
    80% {
        opacity: 0.8;
    }
    100% {
        opacity: 1;
    }
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    45% {
        opacity: 0.4;
    }
    80% {
        opacity: 0.8;
    }
    100% {
        opacity: 1;
    }
 }
.rdk-drop-down-animations{
    animation: fadeIn;
    animation-duration: 0.25s;
    -webkit-animation:fadeIn 0.25s;
}
/*rdk-dropdown弹出动画end*/

