<div class="combo-select-demo cmn-box">
    <h3>multiple demo</h3>
    <div class="test-btn">
        <jigsaw-button (click)="toggleMultiple()">toggle multiple</jigsaw-button>
    </div>
    <jigsaw-combo-select
        [(value)]="selectedCity"
        (valueChange)="valueChange($event)"
        [autoClose]="!multiple"
        [clearable]="true"
        maxWidth="500">
        <ng-template>
            <jigsaw-tile
                [(selectedItems)]="selectedCity"
                trackItemBy="label"
                [multipleSelect]="multiple"
                [searchable]="true"
                width="400px"
                style="padding: 8px 0 8px 8px">
                <jigsaw-tile-option *ngFor="let city of citys" [value]="city" width="22.8%">
                    {{city.label}}
                </jigsaw-tile-option>
            </jigsaw-tile>
        </ng-template>
    </jigsaw-combo-select>
</div>
