.inner-content {
    line-height: 30px;
    text-align: center;
    color: #666;
}
.inner-content.self-line-height{
    line-height: 1;
}
.inner-content.not-break-line{
    white-space: nowrap;
}

j-box {
    border: 1px solid #bbb;
}
