<!-- ignore the following lines, they are not important to this demo -->
<jigsaw-demo-description [summary]="summary" [content]="description">
</jigsaw-demo-description>


<!-- start to learn the demo from here -->
<div class="live-demo-wrap">
    <h2>Box</h2>
    <div class="demo-1 live-demo">
        <h3>布局</h3>
        <j-box height="400">
            <j-box direction="v">
                <j-box grow="1">
                    <j-box></j-box>
                    <j-box direction="v">
                        <j-box [fixable]="true">
                            <p class="inner-content line1">
                                content...<br>
                                content...<br>
                                content...<br>
                                content...<br>
                                content...<br>
                                content...<br>
                                content...<br>
                            </p>
                        </j-box>
                        <j-box></j-box>
                    </j-box>
                </j-box>
                <j-box grow="2">
                    <j-box>
                        <p class="inner-content">
                            content...<br>
                            content...<br>
                            content...<br>
                            content...<br>
                        </p>
                    </j-box>
                    <j-box></j-box>
                    <j-box></j-box>
                </j-box>
            </j-box>
            <j-box grow="3">
                <p class="inner-content">
                    content...<br>
                    content...<br>
                    content...<br>
                    content...<br>
                </p>
            </j-box>
        </j-box>
    </div>
</div>


