<div class="form-display-total" *ngFor="let form of data; let i = index">
    <jigsaw-header *ngIf="form.title" class="form-display-title" [level]="styleOptions[i].titleStyle?.level || 2"
                   [ngStyle]="{'margin-bottom': styleOptions[i].titleStyle?.marginBottom || '4px','margin-top': styleOptions[i].titleStyle?.marginTop || '20px'}">
        {{form.title}}
    </jigsaw-header>
    <table class="form-display-table">
        <colgroup>
            <ng-container *ngFor="let _ of _$tablesColumnLengths[i]; let j = index">
                <col [attr.width]="_$tablesColumns[i][j] ? _$tablesColumns[i][j] + 'px': 'auto'">
            </ng-container>
        </colgroup>
        <tr [ngStyle]="styleOptions[i].trStyle" *ngFor="let row of form.data">
            <ng-container *ngFor="let cell of row">
                <ng-container *ngIf="_$isString(cell); else cellTemplate">
                    <td [ngClass]="{'tooltip':_$toolTipConfig[i].enableTooltip}"
                        [ngStyle]="styleOptions[i].tdStyle" [jigsawTooltip]="_$toolTipConfig[i].enableTooltip?cell:''"
                        [jigsawTooltipPosition]="_$toolTipConfig[i].position" [jigsawTooltipOverflowOnly]="_$toolTipConfig[i].overflowOnly" >{{ cell }}</td>
                </ng-container>
                <ng-template #cellTemplate>
                    <td [ngClass]="{'table-header': cell.isHeader, 'tooltip':_$toolTipConfig[i].enableTooltip}"
                        [ngStyle]="cell.style" [jigsawTooltip]="_$toolTipConfig[i].enableTooltip?cell.value:''"
                        [jigsawTooltipPosition]="_$toolTipConfig[i].position" [jigsawTooltipOverflowOnly]="_$toolTipConfig[i].overflowOnly"
                        [colSpan]="cell.colSpan || 1" [rowSpan]="cell.rowSpan || 1" [style]="styleOptions[i].tdStyle">
                        {{ cell.value }}
                        <span *ngIf="cell.isRequired" class="required">*</span>
                    </td>
                </ng-template>
            </ng-container>
        </tr>
    </table>
</div>
