$jigsaw-form-display: #{$jigsaw-prefix}-form-display;

.#{$jigsaw-form-display}-host {
    display: block;

    .form-display-total {

        .form-display-table {
            width: 100%;
            text-align: center;
            table-layout: fixed;
            font-size: $font-size-text-base;

            tr {
                border-color: $border-color-default;

                .table-header {
                    background: $bg-gray;
                }

                td {
                    border-width: 0;
                    border-style: solid;
                    border-color: $border-color-default;
                    font-size: $font-size-text-base;
                    color: $font-color-default;
                    line-height: $line-height-base;
                    vertical-align: middle;
                    background: unset;
                    height: 32px;
                    padding-left: 8px;
                    padding-right: 8px;

                    .required {
                        color: #F04646;
                    }
                }
            }
        }
    }
}
