<!-- ignore the following lines, they are not important to this demo -->
<jigsaw-demo-description [summary]="summary" [content]="description">
</jigsaw-demo-description>


<!-- start to learn the demo from here -->
<h4 class="header">粒度 Gr</h4>

<p class="message">如下粒度（Gr）值支持日期和时间同时选择：</p>
<jigsaw-button-bar [data]="['date','week','month', 'hour', 'minute', 'second']" [(selectedItems)]="gr">
</jigsaw-button-bar>
<br><br>

<jigsaw-date-time-picker [(date)]="date" [gr]="gr[0]" (dateChange)="dateChange($event)"></jigsaw-date-time-picker><br>

<p class="message">{{date | json}}</p>
