<!-- ignore the following lines, they are not important to this demo -->



<!-- start to learn the demo from here -->
<div class="live-demo-wrap">
    <jigsaw-header [level]="1">Numeric Input</jigsaw-header>

    <div class="demo-1 live-demo">
        <jigsaw-header [level]="2">设置尺寸</jigsaw-header>
        <div class="one-line mgb">
            <label>小尺寸：</label>
            <j-numeric-input size="small" value="1" ></j-numeric-input>
        </div>
        <div class="one-line mgb">
            <label>默认尺寸：</label>
            <j-numeric-input size="default" value="2"></j-numeric-input>
        </div>
        <div class="one-line mgb">
            <label>大尺寸：</label>
            <j-numeric-input size="large" value="3"></j-numeric-input>
        </div>
    </div>

    <div class="demo-2 live-demo">
        <jigsaw-header [level]="2">设置宽高</jigsaw-header>
        <j-numeric-input value="4" width="400" height="50"></j-numeric-input>
    </div>
</div>

