<!-- ignore the following lines, they are not important to this demo -->
<jigsaw-demo-description [summary]="summary" [content]="description">
</jigsaw-demo-description>

<div style="margin: 20px;">
    <label>单位组合：</label><br>
    <jigsaw-input placeholder="unit demo" prefix="https://"></jigsaw-input>
    <br>
    <jigsaw-input placeholder="unit demo" unit="单位"></jigsaw-input>
    <br>
    <jigsaw-input placeholder="unit demo" unit="单位" prefix="https://"></jigsaw-input>
    <br>
    <jigsaw-input placeholder="unit demo" unit="单位" prefix="https://" [disabled]="true"></jigsaw-input>
    <br>
    <jigsaw-input placeholder="unit demo" unit="单位" prefix="https://" width="300"></jigsaw-input>

    <br><br>
    <label>单位可选：</label><br>
    <jigsaw-input placeholder="unit demo" [unit]="_$units" unitWidth="100" (unitChange)="_$unitChange($event)"
                  width="300"></jigsaw-input>
    <br>
    <jigsaw-input placeholder="unit demo" [unit]="_$units" unitWidth="100" [disabled]="true" width="300"></jigsaw-input>
    <br>
    <jigsaw-input placeholder="unit demo" [prefix]="_$prefix" prefixWidth="80" (prefixChange)="_$unitChange($event)"
                  width="300"></jigsaw-input>
    <br>
    <jigsaw-input placeholder="unit demo" [prefix]="_$prefix" prefixWidth="80" [disabled]="true" width="300"></jigsaw-input>

    <br><br>
    <label>更多内容：</label><br>
    <jigsaw-input placeholder="unit demo" width="400"
                  [prefix]="_$prefixIcons" prefixWidth="100" (prefixChange)="_$unitChange($event)" [prefixLabelField]="'name'"
                  [unit]="_$icons" unitWidth="120" (unitChange)="_$unitChange($event)" [unitLabelField]="'name'"></jigsaw-input>
    <br>
    <jigsaw-input #input1 placeholder="unit demo" width="400" [valid]="input1.value.length >= 3"></jigsaw-input>
    <br>
    <jigsaw-input #input2 placeholder="unit demo" width="400" [valid]="input2.value.length >= 3"
                  (prefixChange)="_$unitChange($event)" [prefix]="_$prefix" prefixWidth="100"></jigsaw-input>
    <br>
    <jigsaw-input #input3 placeholder="unit demo" width="400" [valid]="input3.value.length >= 3"
                  (unitChange)="_$unitChange($event)" [unit]="_$units" unitWidth="120"></jigsaw-input>
    <br>
    <jigsaw-input #input4 placeholder="unit demo" width="400" [valid]="input4.value.length >= 3"
                  (unitChange)="_$unitChange($event)" (prefixChange)="_$unitChange($event)"
                  [prefix]="_$prefix" prefixWidth="100" [unit]="_$units" unitWidth="120"></jigsaw-input>
    <br>
</div>


