@import "../../common/assets/scss/core/base";

$title-prefix-cls: #{$jigsaw-prefix}-title;

.#{$title-prefix-cls}-host {
    &.#{$title-prefix-cls}-level-1 {
        .#{$title-prefix-cls}-content {
            display: flex;
            align-items: center;
            font-size: $font-title-lg;
            font-weight: bold;
            color: $font-color-heading;
            line-height: 32px;
        }
    }

    &.#{$title-prefix-cls}-level-2 {
        .#{$title-prefix-cls}-content {
            position: relative;
            display: flex;
            align-items: center;
            font-size: $font-title-med;
            font-weight: bold;
            color: $font-color-heading;
            line-height: 22px;

            &::before {
                content: "";
                margin-right: 3px;
                width: 3px;
                height: $font-title-med;
                vertical-align: sub;
                background: $brand-default;
            }
        }
    }

    &.#{$title-prefix-cls}-level-3 {
        .#{$title-prefix-cls}-content {
            display: flex;
            align-items: center;
            font-size: $font-title-sm;
            font-weight: bold;
            color: $font-color-heading;
            line-height: 18px;
        }
    }
}
