<!-- ignore the following lines, they are not important to this demo -->
<jigsaw-demo-description [summary]="summary" [content]="description">
</jigsaw-demo-description>


<!-- start to learn the demo from here -->
<j-button (click)="changeData()" colorType="primary">改变数据</j-button> <span>chartType类型只能设置一次，后面修改会是图形渲染不出来</span><br><br>

<jigsaw-chart-icon [data]="data" chartType="pie" [options]="options1"></jigsaw-chart-icon>
<jigsaw-chart-icon [data]="data" chartType="donut" [options]="options2"></jigsaw-chart-icon>
<jigsaw-chart-icon [data]="data" chartType="line" [options]="options3"></jigsaw-chart-icon>
<jigsaw-chart-icon [data]="data" chartType="bar" [options]="options4"></jigsaw-chart-icon>
<jigsaw-chart-icon [data]="data" chartType="customPie" [options]="options5"></jigsaw-chart-icon>


