<!-- ignore the following lines, they are not important to this demo -->
<jigsaw-demo-description [summary]="summary" [content]="description">
</jigsaw-demo-description>


<!-- start to learn the demo from here -->
<jigsaw-pie-chart-icon [data]="data" radius="32" style="margin-right: 20px">
</jigsaw-pie-chart-icon>
<jigsaw-donut-chart-icon [data]="data" radius="32" style="margin-right: 20px">
</jigsaw-donut-chart-icon>
<jigsaw-line-chart-icon [data]="data" height="64" style="margin-right: 20px">
</jigsaw-line-chart-icon>
<jigsaw-bar-chart-icon [data]="data" height="64" style="margin-right: 20px">
</jigsaw-bar-chart-icon>
