<!-- ignore the following lines, they are not important to this demo -->
<jigsaw-demo-description [summary]="summary" [content]="description">
</jigsaw-demo-description>


<!-- start to learn the demo from here -->
<jigsaw-chart-icon [data]="data" chartType="pie" [options]="options1" style="margin-right: 20px">
</jigsaw-chart-icon>
<jigsaw-chart-icon [data]="data" chartType="donut" [options]="options2" style="margin-right: 20px">
</jigsaw-chart-icon>
<jigsaw-chart-icon [data]="data" chartType="line" [options]="options3" style="margin-right: 20px">
</jigsaw-chart-icon>
<jigsaw-chart-icon [data]="data" chartType="bar" [options]="options4" style="margin-right: 20px">
</jigsaw-chart-icon>
<jigsaw-chart-icon [data]="data" chartType="customPie" [options]="options5" style="margin-right: 20px">
</jigsaw-chart-icon>


