<div class="jigsaw-color-select-area" [ngStyle]="{'background-color': color}" jigsaw-float
     [jigsawFloatTarget]="mode == 'free' ? colorPickerElem : limitedElem" jigsawFloatOpenTrigger="click"
         jigsawFloatCloseTrigger="click" [(jigsawFloatOpen)]="_$colorSelectOpen"
         [jigsawFloatOptions]="mode == 'free' ? _$options : {}"
         (jigsawFloatOpenChange)="_$colorSelectOpenChange($event)">
    <span class="jigsaw-color-select-area-arrow" *ngIf="mode == 'limited'"></span>
</div>

<ng-template #colorPickerElem>
    <div class="jigsaw-color-select-popup-host" style="height: auto;max-width: 238px" [style.maxWidth]="'238px'">
        <input style="display: none;"
               [(colorPicker)]="color"
               (colorPickerChange)="_$colorSelect($event)"
               [cpToggle]="true"
               [cpDialogDisplay]="'inline'"
               [cpAlphaChannel]="enableOpacity ? 'enabled' : 'disabled'"
        />
        <div *ngIf="enableConfirm" class="jigsaw-color-select-confirm-buttons">
            <j-button colorType="primary" preSize="small"
                      (click)="_$confirm()">{{'color.confirm' | translate}}
            </j-button>
            <j-button preSize="small" (click)="_$cancel()">{{'color.cancel' | translate}}</j-button>
        </div>
    </div>
</ng-template>

<ng-template #limitedElem>
    <div class="jigsaw-color-select-host jigsaw-color-select-host-limited"
         [ngClass]="{'jigsaw-color-select-host-large':preSize=='large','jigsaw-color-select-host-normal':preSize=='normal' || preSize=='small'}"
         [perfectScrollbar]="{suppressScrollX: true, wheelSpeed: 0.5, minScrollbarLength: 20}"
         [style.maxHeight]="_$dropdownHeight">
        <div class="jigsaw-color-select-area" *ngFor="let item of limitedColors"
             [ngStyle]="{'background-color': item}"
             [ngClass]="{'jigsaw-color-select-area-large':preSize=='large',
                     'jigsaw-color-select-area-normal':preSize=='normal',
                     'jigsaw-color-select-area-small': preSize=='small'}"
             (click)="_$colorSelect(item)">
        </div>
    </div>
</ng-template>
