<demo-template [data]="''" [text]="text['text']['disabled']">
    <!-- start to learn the demo from here -->
    <jigsaw-switch [(checked)]="disabled"></jigsaw-switch>
    <br><br>

    <jigsaw-time-picker [disabled]="disabled"></jigsaw-time-picker>
    <br><br>
    <jigsaw-date-picker [disabled]="disabled"></jigsaw-date-picker>
    <jigsaw-date-time-picker gr="second" [disabled]="disabled"></jigsaw-date-time-picker>
    <br><br>
    <jigsaw-range-date-time-picker [disabled]="disabled"></jigsaw-range-date-time-picker>
</demo-template>
