@import "../../assets/scss/core/basc";

$table-prefix-cls: #{$rdk-prefix}-table;

.#{$table-prefix-cls}-sort-box{
    @include inline-block;
    position: absolute;
    right: 6px;
    top: 8px;
    width: 12px;
}

.#{$table-prefix-cls}-sort-btn{
    cursor: pointer;
}
.#{$table-prefix-cls}-sort-up{
    display: block;
    width: 0;
    height: 0;
    border: 6px solid;
    border-color: transparent transparent $gray transparent;
    margin-bottom: 2px;
    &:hover{
        border-bottom-color: $primary-color;
    }
}
.#{$table-prefix-cls}-sort-down{
    display: block;
    width: 0;
    height: 0;
    border: 6px solid;
    border-color: $gray transparent transparent transparent;
    &:hover{
        border-top-color: $primary-color;
    }
}

.#{$table-prefix-cls}-asc{
    .#{$table-prefix-cls}-sort-up{
        border-bottom-color: $primary-color;
    }
}

.#{$table-prefix-cls}-des{
    .#{$table-prefix-cls}-sort-down{
        border-top-color: $primary-color;
    }
}
