<table class="rdk-table-fixed-head">
    <thead>
    <tr>
        <td #fixedHeader rdk-table-header *ngFor="let head of _headSettings; index as colIndex"
            [tableData]="data"
            [cellData]="head.cellData"
            [column]="colIndex"
            [row]="0"
            [field]="head.field"
            [renderer]="head.renderer"
            [sortable]="head.sortable"
            [sortAs]="head.sortAs"
            [defaultSortOrder]="head.defaultSortOrder"
            width="{{head.width}}"
            class="{{head.class}}">
        </td>
    </tr>
    </thead>
</table>

<div class="rdk-table-box" rdk-scroll-bar scrollBarTheme="minimal-dark" [scrollBarOptions]="_scrollBarOptions">
    <table class="rdk-table">
        <thead>
        <tr>
            <td #header rdk-table-header *ngFor="let head of _headSettings; index as colIndex"
                [tableData]="data"
                [cellData]="head.cellData"
                [column]="colIndex"
                [row]="0"
                [field]="head.field"
                [renderer]="head.renderer"
                [sortable]="head.sortable"
                [sortAs]="head.sortAs"
                [defaultSortOrder]="head.defaultSortOrder"
                width="{{head.width}}"
                class="{{head.class}}">
            </td>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let row of _cellSettings; index as rowIndex;">
            <td *ngFor="let cell of row; index as colIndex" [attr.rowspan]="cell.rowSpan > 1 ? cell.rowSpan : null" [style.display]="cell.rowSpan ? 'table-cell' : 'none'" class="{{cell.class}}">
                <div *ngIf="cell.renderer" rdk-table-cell
                     [tableData]="data"
                     [cellData]="cell.cellData"
                     [row]="rowIndex"
                     [column]="colIndex"
                     [field]="cell.field"
                     [renderer]="cell.renderer"
                     [editable]="cell.editable"
                     [editorRenderer]="cell.editorRenderer"
                     [group]="cell.group"></div>
                <span *ngIf="!cell.renderer">{{cell.cellData}}</span>
            </td>
        </tr>
        </tbody>
    </table>
</div>


