<table class="rdk-table-fixed-head">
    <thead>
    <tr>
        <td rdk-table-header *ngFor="let head of _headSettings; let colIndex = index"
            [tableData]="data"
            [cellData]="head.cellData"
            [column]="colIndex"
            [row]="0"
            [renderer]="head.renderer"
            [sortable]="head.sortable"
            [sortAs]="head.sortAs"
            [defaultSortOrder]="head.defaultSortOrder"
            width="{{head.width}}"
            class="{{head.class}}">
        </td>
    </tr>
    </thead>
</table>

<div class="rdk-table-box" rdk-scroll-bar theme="minimal-dark">
    <table class="rdk-table">
        <thead>
        <tr>
            <td rdk-table-header *ngFor="let head of _headSettings; let colIndex = index"
                [tableData]="data"
                [cellData]="head.cellData"
                [column]="colIndex"
                [row]="0"
                [renderer]="head.renderer"
                [sortable]="head.sortable"
                [sortAs]="head.sortAs"
                [defaultSortOrder]="head.defaultSortOrder"
                width="{{head.width}}"
                class="{{head.class}}">
            </td>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let row of data.data; let rowIndex = index;">
            <td rdk-table-cell *ngFor="let cell of row; let colIndex = index"
                [tableData]="data" [cellData]="cell" [row]="rowIndex" [column]="colIndex">
            </td>
        </tr>
        </tbody>
    </table>
</div>


