@import "../../assets/scss/core/basc";

$table-prefix-cls: #{$rdk-prefix}-table;

:host{
    @include inline-block;
    position: relative;
    width: 100%;
    height: 200px;
    overflow: hidden;
}

.#{$table-prefix-cls}-box{
    width: 100%;
    height: 100%;
}

table{
    width: 100%;
    text-align: center;
    td{
        position: relative;
        border: 1px solid $border-color-base;
    }
    thead{
        background: $gray-light;
        color: #333;
        tr{
            height: 40px;
        }
    }
    tbody tr{
        height: 30px;
        &:nth-child(2n){
            background: $component-background;
        }
        &:nth-child(2n-1){
            background: lighten($primary-color, 50%);
        }
        &:hover{
            background: $primary-color-hover;
        }
    }
    &.#{$table-prefix-cls}-fixed-head{
        position: absolute;
        z-index: 10;
    }
}





