<!-- ignore the following lines, they are not important to this demo -->
<jigsaw-demo-description [summary]="summary" [content]="description">
</jigsaw-demo-description>


<!-- start to learn the demo from here -->
<div class="container">
    <h3>tab没有设置高度</h3>
    <jigsaw-switch [(checked)]="checkWithoutHeight"></jigsaw-switch>
    <span>headless属性为：{{checkWithoutHeight}}</span>
    <jigsaw-tabs [headless]="checkWithoutHeight">
        <jigsaw-tab-pane title="Tab 1">
            <ng-template>This is the body of the first tab</ng-template>
        </jigsaw-tab-pane>
        <jigsaw-tab-pane title="Tab 2">
            <ng-template>This is the body of the second tab</ng-template>
        </jigsaw-tab-pane>
    </jigsaw-tabs>
</div>
<div class="container">
    <h3>tab高度为200px</h3>
    <jigsaw-switch [(checked)]="checkWithHeight"></jigsaw-switch>
    <span>headless属性为：{{checkWithHeight}}</span>
    <jigsaw-tabs [headless]="checkWithHeight" height="200px">
        <jigsaw-tab-pane title="Tab 1">
            <ng-template>This is the body of the first tab</ng-template>
        </jigsaw-tab-pane>
        <jigsaw-tab-pane title="Tab 2">
            <ng-template>This is the body of the second tab</ng-template>
        </jigsaw-tab-pane>
    </jigsaw-tabs>
</div>
<div class="container">
    <h3>tab高度为200px，没有设置headless属性</h3>
    <jigsaw-tabs height="200px">
        <jigsaw-tab-pane title="Tab 1">
            <ng-template>This is the body of the first tab</ng-template>
        </jigsaw-tab-pane>
        <jigsaw-tab-pane title="Tab 2">
            <ng-template>This is the body of the second tab</ng-template>
        </jigsaw-tab-pane>
    </jigsaw-tabs>
</div>


