$jigsaw-large-text: #{$jigsaw-prefix}-large-text;

.#{$jigsaw-large-text}-host {
    display: inline-flex;
    color: $font-color-default;
    line-height: 1;
    overflow: hidden;

    .prefix-leadingUnit, .suffix-unit, .large-text, .trend-container{
        display: flex;
        align-items: center;
        margin: 4px;
    }

    .large-text {
        .data-updatable {
            display: flex;
            height: inherit;
            flex-direction: row;
            justify-content: flex-end;
            .data-wrapper {
                display: flex;
                align-items: center;
                height: 100%;
                .dot {
                    display: inline-block;
                    height: 100%;
                    line-height: 100%;
                    vertical-align: top;
                    transform: translateY(25%);
                    user-select: none;
                }
                .number-item {
                    position: relative;
                    display: inline-block;
                    height: 100%;
                    overflow: hidden;
                    .number-slider {
                        position: absolute;
                        writing-mode: vertical-rl;
                        text-orientation: upright;
                        user-select: none;
                        left: 50%;
                        transform: translate(-50%, 0);
                        transition: transform 2s ease-in-out;
                    }
                }
            }
        }
    }
}
