.demo-list {
    width: 200px;
    height: 160px;
    border: 1px solid var(--border-color-default);
}

.demo-list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 32px;
}