<demo-template [sizeController]="labelData" [(selectedSize)]="selectedSize"
               [description]="description" [demoSources]="demoSources">
    <!-- start to learn the demo from here -->
    <div>
        <div style="display: inline-block;margin-right: 30px">
            <jigsaw-icon width="100" height="100" icon="iconfont iconfont-e8fb" iconSize="100"
                         style="color: #ffffff; background-color:#695f5f;align-items: center; justify-content: center;display: flex;"
                         jigsawBadge jigsawBadgePosition="rightTop" jigsawBadgeValue="dot"
                         [jigsawBadgeHorizontalOffset]="hOffset1" [jigsawBadgeSize]="selectedSize.size">
            </jigsaw-icon>
        </div>
        <div style="display: inline-block;margin-right: 30px">
            <jigsaw-icon width="100" height="100" icon="iconfont iconfont-e8fb" iconSize="100"
                         style="color: #ffffff; background-color:#695f5f;align-items: center; justify-content: center;display: flex;"
                         jigsawBadge jigsawBadgePosition="right" jigsawBadgeValue="dot"
                         [jigsawBadgeHorizontalOffset]="hOffset1" [jigsawBadgeSize]="selectedSize.size">
            </jigsaw-icon>
        </div>
        <div style="display: inline-block;margin-right: 30px">
            <jigsaw-icon width="100" height="100" icon="iconfont iconfont-e8fb" iconSize="100"
                         style="color: #ffffff; background-color:#695f5f;align-items: center; justify-content: center;display: flex;"
                         jigsawBadge jigsawBadgePosition="rightBottom" jigsawBadgeValue="dot"
                         [jigsawBadgeHorizontalOffset]="hOffset1" [jigsawBadgeSize]="selectedSize.size">
            </jigsaw-icon>
        </div>
        <div style="display: inline-block;margin-right: 30px">
            <jigsaw-icon width="100" height="100" icon="iconfont iconfont-e8fb" iconSize="100"
                         style="color: #ffffff; background-color:#695f5f;align-items: center; justify-content: center;display: flex;"
                         jigsawBadge jigsawBadgePosition="leftTop" jigsawBadgeValue="dot"
                         [jigsawBadgeHorizontalOffset]="hOffset1" [jigsawBadgeSize]="selectedSize.size">
            </jigsaw-icon>
        </div>
        <div style="display: inline-block;margin-right: 30px">
            <jigsaw-icon width="100" height="100" icon="iconfont iconfont-e8fb" iconSize="100"
                         style="color: #ffffff; background-color:#695f5f;align-items: center; justify-content: center;display: flex;"
                         jigsawBadge jigsawBadgePosition="left" jigsawBadgeValue="dot"
                         [jigsawBadgeHorizontalOffset]="hOffset1" [jigsawBadgeSize]="selectedSize.size">
            </jigsaw-icon>
        </div>
        <div style="display: inline-block;margin-right: 30px">
            <jigsaw-icon width="100" height="100" icon="iconfont iconfont-e8fb" iconSize="100"
                         style="color: #ffffff; background-color:#695f5f;align-items: center; justify-content: center;display: flex;"
                         jigsawBadge jigsawBadgePosition="leftBottom" jigsawBadgeValue="dot"
                         [jigsawBadgeHorizontalOffset]="hOffset1" [jigsawBadgeSize]="selectedSize.size">
            </jigsaw-icon>
        </div>
    </div>

    <div>
        <br><br>
        <jigsaw-list width="250">
            <j-list-option *ngFor="let item of list" [value]="item">
                <div style="width: 140px" jigsawBadge [jigsawBadgeValue]="item" jigsawBadgePosition="right"
                     [jigsawBadgeHorizontalOffset]="-hOffset2" [jigsawBadgeStyle]="'border'"
                     [jigsawBadgeSize]="selectedSize.size">{{item}}</div>
            </j-list-option>
        </jigsaw-list>
    </div>
</demo-template>
