<demo-template [data]="''" [text]="doc.text.tabBar" [codes]="doc.codes.tabBar">
    <div class="demo-showcase-v">
        <span>独立的tab bar（简单数组）</span>
        <jigsaw-tabs-bar [(selectedIndex)]="selectedIndex" [data]="tabBarData"></jigsaw-tabs-bar>
    </div>

    <div class="demo-showcase-v">
        <span>独立的tab bar（对象数组）</span>
        <jigsaw-tabs-bar [(selectedIndex)]="selectedIndex" [data]="tabBarData2"></jigsaw-tabs-bar>
    </div>

    <div class="demo-showcase-v">
        <span>标签式</span>
        <jigsaw-tabs-bar [data]="tabBarData" style="margin-bottom: 20px"></jigsaw-tabs-bar>
        <jigsaw-tabs-bar [data]="tabBarData2" style="margin-bottom: 20px"></jigsaw-tabs-bar>
    </div>

    <div class="demo-showcase-v">
        <span>页签式</span>
        <jigsaw-tabs-bar [data]="tabBarData" [tabType]="'page'" style="margin-bottom: 20px"></jigsaw-tabs-bar>
        <jigsaw-tabs-bar [data]="tabBarData2" [tabType]="'page'"></jigsaw-tabs-bar>
    </div>
</demo-template>
