<!-- ignore the following lines, they are not important to this demo -->
<jigsaw-demo-description [summary]="summary" [content]="description"> </jigsaw-demo-description>

<!-- start to learn the demo from here -->
<section>
    <h3>size:medium</h3>
    <jigsaw-tag color="preset-blue" size="medium">蓝色标签</jigsaw-tag>
    <jigsaw-tag color="preset-cyan" size="medium">青色标签</jigsaw-tag>
    <jigsaw-tag color="preset-green" size="medium">绿色标签</jigsaw-tag>
    <jigsaw-tag color="preset-magenta" size="medium">洋红标签</jigsaw-tag>
    <jigsaw-tag color="preset-orange" size="medium">橘色标签</jigsaw-tag>
    <jigsaw-tag color="preset-red" size="medium">红色标签</jigsaw-tag>
    <jigsaw-tag color="preset-purple" size="medium">紫色标签</jigsaw-tag>
    <jigsaw-tag color="preset-gray" size="medium">灰色标签</jigsaw-tag>
</section>
<section>
    <h3>size:small</h3>
    <jigsaw-tag color="preset-blue" size="small">蓝色标签</jigsaw-tag>
    <jigsaw-tag color="preset-cyan" size="small">青色标签</jigsaw-tag>
    <jigsaw-tag color="preset-green" size="small">绿色标签</jigsaw-tag>
    <jigsaw-tag color="preset-magenta" size="small">洋红标签</jigsaw-tag>
    <jigsaw-tag color="preset-orange" size="small">橘色标签</jigsaw-tag>
    <jigsaw-tag color="preset-red" size="small">红色标签</jigsaw-tag>
    <jigsaw-tag color="preset-purple" size="small">紫色标签</jigsaw-tag>
    <jigsaw-tag color="preset-gray" size="small">灰色标签</jigsaw-tag>
</section>
<section>
    <h3>size:medium closable</h3>
    <jigsaw-tag color="preset-blue" size="medium" [closable]="true">蓝色标签</jigsaw-tag>
    <jigsaw-tag color="preset-cyan" size="medium" [closable]="true">青色标签</jigsaw-tag>
    <jigsaw-tag color="preset-green" size="medium" [closable]="true">绿色标签</jigsaw-tag>
    <jigsaw-tag color="preset-magenta" size="medium" [closable]="true">洋红标签</jigsaw-tag>
    <jigsaw-tag color="preset-orange" size="medium" [closable]="true">橘色标签</jigsaw-tag>
    <jigsaw-tag color="preset-red" size="medium" [closable]="true">红色标签</jigsaw-tag>
    <jigsaw-tag color="preset-purple" size="medium" [closable]="true">紫色标签</jigsaw-tag>
    <jigsaw-tag color="preset-gray" size="medium" [closable]="true">灰色标签</jigsaw-tag>
</section>
<section>
    <h3>size:small closable</h3>
    <jigsaw-tag color="preset-blue" size="small" [closable]="true">蓝色标签</jigsaw-tag>
    <jigsaw-tag color="preset-cyan" size="small" [closable]="true">青色标签</jigsaw-tag>
    <jigsaw-tag color="preset-green" size="small" [closable]="true">绿色标签</jigsaw-tag>
    <jigsaw-tag color="preset-magenta" size="small" [closable]="true">洋红标签</jigsaw-tag>
    <jigsaw-tag color="preset-orange" size="small" [closable]="true">橘色标签</jigsaw-tag>
    <jigsaw-tag color="preset-red" size="small" [closable]="true">红色标签</jigsaw-tag>
    <jigsaw-tag color="preset-purple" size="small" [closable]="true">紫色标签</jigsaw-tag>
    <jigsaw-tag color="preset-gray" size="small" [closable]="true">灰色标签</jigsaw-tag>
</section>
