<!-- ignore the following lines, they are not important to this demo -->
<jigsaw-demo-description [summary]="summary" [content]="description"> </jigsaw-demo-description>

<!-- start to learn the demo from here -->
<section>
    <h3>size:med</h3>
    <jigsaw-tag [preset]="blue" class="size-med">蓝色标签</jigsaw-tag>
    <jigsaw-tag class="size-med color-cyan">青色标签</jigsaw-tag>
    <jigsaw-tag class="size-med color-green">绿色标签</jigsaw-tag>
    <jigsaw-tag class="size-med color-magenta">洋红标签</jigsaw-tag>
    <jigsaw-tag class="size-med color-orange">橘色标签</jigsaw-tag>
    <jigsaw-tag class="size-med color-red">红色标签</jigsaw-tag>
    <jigsaw-tag class="size-med color-purple">紫色标签</jigsaw-tag>
    <jigsaw-tag class="size-med color-gray">灰色标签</jigsaw-tag>
</section>
<section>
    <h3>size:sm</h3>
    <jigsaw-tag [preset]="blue" class="size-sm">蓝色标签</jigsaw-tag>
    <jigsaw-tag class="size-sm color-cyan">青色标签</jigsaw-tag>
    <jigsaw-tag class="size-sm color-green">绿色标签</jigsaw-tag>
    <jigsaw-tag class="size-sm color-magenta">洋红标签</jigsaw-tag>
    <jigsaw-tag class="size-sm color-orange">橘色标签</jigsaw-tag>
    <jigsaw-tag class="size-sm color-red">红色标签</jigsaw-tag>
    <jigsaw-tag class="size-sm color-purple">紫色标签</jigsaw-tag>
    <jigsaw-tag class="size-sm color-gray">灰色标签</jigsaw-tag>
</section>
<section>
    <h3>size:med closable</h3>
    <jigsaw-tag class="size-med color-blue" [closable]="true">蓝色标签</jigsaw-tag>
    <jigsaw-tag class="size-med color-cyan" [closable]="true">青色标签</jigsaw-tag>
    <jigsaw-tag class="size-med color-green" [closable]="true">绿色标签</jigsaw-tag>
    <jigsaw-tag class="size-med color-magenta" [closable]="true">洋红标签</jigsaw-tag>
    <jigsaw-tag class="size-med color-orange" [closable]="true">橘色标签</jigsaw-tag>
    <jigsaw-tag class="size-med color-red" [closable]="true">红色标签</jigsaw-tag>
    <jigsaw-tag class="size-med color-purple" [closable]="true">紫色标签</jigsaw-tag>
    <jigsaw-tag class="size-med color-gray" [closable]="true">灰色标签</jigsaw-tag>
</section>
<section>
    <h3>size:sm closable</h3>
    <jigsaw-tag class="size-sm color-blue" [closable]="true">蓝色标签</jigsaw-tag>
    <jigsaw-tag class="size-sm color-cyan" [closable]="true">青色标签</jigsaw-tag>
    <jigsaw-tag class="size-sm color-green" [closable]="true">绿色标签</jigsaw-tag>
    <jigsaw-tag class="size-sm color-magenta" [closable]="true">洋红标签</jigsaw-tag>
    <jigsaw-tag class="size-sm color-orange" [closable]="true">橘色标签</jigsaw-tag>
    <jigsaw-tag class="size-sm color-red" [closable]="true">红色标签</jigsaw-tag>
    <jigsaw-tag class="size-sm color-purple" [closable]="true">紫色标签</jigsaw-tag>
    <jigsaw-tag class="size-sm color-gray" [closable]="true">灰色标签</jigsaw-tag>
</section>
