<demo-template [data]="''" [text]="doc.text.renderer">
    <!-- start to learn the demo from here -->
    <div class="demo-showcase-v">
        <jigsaw-table #tableComponent [data]="pageable"
                      [additionalColumnDefines]="additionalColumns"
                      [(additionalData)]="additionalData"
                      (additionalDataChange)="additionalDataChange($event)">
        </jigsaw-table>

        <jigsaw-pagination
            [data]="pageable"
            [pageSizeOptions]="[5, 10, 20]"
            [searchable]="true"
            [showQuickJumper]="true"
            (search)="onSearch($event)"
        ></jigsaw-pagination>

        <p>
            当页前选中的行索引：{{selectedRows}}
        </p>

        <p>
            所有选中的行信息：
            <j-tag *ngFor="let row of allSelectedRows" [closable]="true" (close)="removeRow(row)">
                {{row.name}}
            </j-tag>
        </p>
    </div>
</demo-template>
