<!-- ignore the following lines, they are not important to this demo -->
<jigsaw-demo-description [summary]="summary" [content]="description">
</jigsaw-demo-description>

<!-- start to learn the demo from here -->
<jigsaw-header>基础用法</jigsaw-header>
<jigsaw-table [data]="tableData" [columnDefines]="columnDefines" [additionalColumnDefines]="additionalColumns">
</jigsaw-table>

<jigsaw-header>树表</jigsaw-header>
<jigsaw-table [data]="treeTableData" [columnDefines]="treeColumnDefines">
</jigsaw-table>