<demo-template [data]="''" [text]="text['text']['popup']">
    <!-- start to learn the demo from here -->
    <div class="demo-showcase">
        <jigsaw-button width="165" (click)="commonInfoAlert()">
            通用信息提示框
        </jigsaw-button>

        <jigsaw-button width="165" (click)="commonWarningAlert()">
            通用警告提示框
        </jigsaw-button>

        <jigsaw-button width="165" (click)="commonErrorAlert()">
            通用错误提示框
        </jigsaw-button>

        <jigsaw-button width="165" (click)="commonConfirmAlert()">
            通用确认提示框
        </jigsaw-button>
    </div>
</demo-template>
