<div class="live-demo-wrap">
    <div (contextmenu)="onContextMenu($event)" class="contextMenu">
        <div [ngStyle]="locationCss" #menu>
            <j-list width="200" trackItemBy="label" (selectedItemsChange)="handleSelect($event,1)" *ngIf="visible[0][0]">
                <j-list-option *ngFor="let label of labels" [value]="label">
                    <span j-title>
                            <span *ngIf="label.icon" class="fa fa-{{label.icon}}"></span>{{label.label}}</span>
                    <div j-sub-title>
                        <span *ngIf="label.children" class="fa fa-angle-right"></span>
                        <!-- <div *ngIf="label.children && visible[1][label.label]">
                            <ng-container *ngTemplateOutlet="greet; context: {children:label.children,count:1,main:label.label}"></ng-container>
                        </div> -->
                    </div>
                </j-list-option>
            </j-list>
        </div>
    </div>
</div>

<!-- <ng-template #greet let-labels="children" let-counts="count" let-main="main">
    <j-list width="200" class="vertical" trackItemBy="label" (selectedItemsChange)="handleSelect($event,counts+1,main)">
        <j-list-option *ngFor="let label of labels" [value]="label">
            <span j-title>
                <span *ngIf="label.icon" class="fa fa-{{label.icon}}"></span> {{label.label}}
            </span>
            <div j-sub-title>
                <span *ngIf="label.children" class="fa fa-angle-right"></span>
                <div *ngIf="label.children && visible[counts+1][label.label]">
                    <ng-container *ngTemplateOutlet="greet; context: {children:label.children,count:count,main:label.label}"></ng-container>
                </div>
            </div>
        </j-list-option>
    </j-list>
</ng-template> -->