$menu-prefix-cls: #{$jigsaw-prefix}-menu;

.#{$menu-prefix-cls}-dark {
    background: none !important;

    .#{$jigsaw-prefix}-list {
        border: 1px solid $border-color-default;
        font-size: 14px;
        background: $bg-component;

        .#{$list-option-prefix-cls} {
            line-height: 32px;
            padding: 0px 8px;
            min-height: 1px;
            background: $bg-body;

            &:hover {
                background: $brand-light;
            }

            &.#{$list-option-prefix-cls}-active {
                background: $brand-active-light;
            }

            hr {
                border-top: 1px solid #ffffff;
                margin: 1px 0;
                opacity: 85%;
            }

            &.#{$list-option-prefix-cls}-disabled {
                background: $bg-disabled;

                .#{$menu-prefix-cls}-list-title, .#{$menu-prefix-cls}-list-sub-title {
                    color: $font-color-disabled;
                }
                color: $font-color-disabled;
                cursor: not-allowed;
            }

            .#{$jigsaw-prefix}-list-option-title-box {
                display: none;
            }

            .#{$jigsaw-prefix}-list-option-sub-title {
                display: none;
            }

            .#{$menu-prefix-cls}-list-title {
                float: left;
                line-height: 32px;
                color: $font-color-heading;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                display: flex;
                align-items: center;
                flex-direction: row;
                align-content: flex-start;

                i {
                    margin-right: 4px;
                }

                span {
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }
            }

            .#{$menu-prefix-cls}-list-sub-title {
                float: right;
                line-height: 32px;
                color: $font-color-hint;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                display: flex;
                align-items: center;
                flex-direction: row;
                align-content: flex-start;
                min-height: 32px;

                .#{$menu-prefix-cls}-subIcon {
                    overflow: hidden;
                    margin: 0px 4px;
                }

                span {
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }
            }
        }
    }
}

.#{$menu-prefix-cls}-black {
    background: none !important;

    .#{$jigsaw-prefix}-list {
        background: #151518;
        border: #2e2e33 1px solid;
        font-size: 14px;

        .#{$list-option-prefix-cls} {
            line-height: 32px;
            color: #eee;
            padding: 0px 8px;
            min-height: 1px;
            background: none;

            &:hover {
                background: #015c91;
            }

            &.#{$list-option-prefix-cls}-active {
                background: #027bc2;
            }

            hr {
                border-top: 1px solid #ffffff;
                margin: 1px 0;
                opacity: 85%;
            }

            &.#{$list-option-prefix-cls}-disabled {
                background: #151518;

                .#{$menu-prefix-cls}-list-title {
                    float: left;
                    line-height: 32px;
                    color: #666666;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }

                @include compatible(color, #102331, #bfbfbf);
                cursor: not-allowed;
            }

            .#{$jigsaw-prefix}-list-option-title-box {
                display: none;
            }

            .#{$jigsaw-prefix}-list-option-sub-title {
                display: none;
            }

            .#{$menu-prefix-cls}-list-title {
                float: left;
                line-height: 32px;
                color: #eee;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                display: flex;
                align-items: center;
                flex-direction: row;
                align-content: flex-start;

                i {
                    margin-right: 4px;
                }

                span {
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }
            }

            .#{$menu-prefix-cls}-list-sub-title {
                float: right;
                line-height: 32px;
                color: #999;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                display: flex;
                align-items: center;
                flex-direction: row;
                align-content: flex-start;
                min-height: 32px;

                .#{$menu-prefix-cls}-subIcon {
                    overflow: hidden;
                    margin: 0px 4px;
                }

                span {
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }
            }
        }
    }
}

.#{$menu-prefix-cls}-light {
    background: none !important;

    .#{$jigsaw-prefix}-list {
        background: #ffffff;
        border: #cccccc 1px solid;
        font-size: 14px;

        .#{$list-option-prefix-cls} {
            color: #666666;
            line-height: 32px;
            padding: 0px 8px;
            min-height: 1px;
            background: none;

            &:hover {
                background: #e6f5fe;
            }

            &.#{$list-option-prefix-cls}-active {
                background: #ccebfc;
            }

            hr {
                border-top: 1px solid #dddddd;
                margin: 1px 0;
                opacity: 85%;
            }

            &.#{$list-option-prefix-cls}-disabled {
                background: #ffffff;

                .#{$menu-prefix-cls}-list-title {
                    float: left;
                    line-height: 32px;
                    color: #bbbbbb;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }

                @include compatible(color, #bbbbbb, #bfbfbf);
                cursor: not-allowed;
            }

            .#{$jigsaw-prefix}-list-option-title-box {
                display: none;
            }

            .#{$jigsaw-prefix}-list-option-sub-title {
                display: none;
            }

            .#{$menu-prefix-cls}-list-title {
                float: left;
                line-height: 32px;
                color: #666666;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                display: flex;
                align-items: center;
                flex-direction: row;
                align-content: flex-start;

                i {
                    color: #888888;
                    margin-right: 4px;
                }

                span {
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }
            }

            .#{$menu-prefix-cls}-list-sub-title {
                float: right;
                line-height: 32px;
                color: #cccccc;
                display: flex;
                align-items: center;
                flex-direction: row;
                align-content: flex-start;
                min-height: 32px;

                .#{$menu-prefix-cls}-subIcon {
                    overflow: hidden;
                    margin: 0px 4px;
                }

                span {
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }
            }
        }
    }
}

.#{$menu-prefix-cls}-navigation {
    background: none !important;

    .#{$jigsaw-prefix}-list {
        background: #32404e;
        border: none;
        font-size: 14px;

        .#{$list-option-prefix-cls} {
            color: #ffffff;
            padding: 0px 8px;
            min-height: 1px;
            background: none;

            &:hover {
                background: #015c91;
            }

            &.#{$list-option-prefix-cls}-active {
                background: #027bc2;
            }

            hr {
                border-top: 1px solid #ffffff;
                margin: 1px 0;
                opacity: 85%;
            }

            &.#{$list-option-prefix-cls}-disabled {
                background: #32404e;

                .#{$menu-prefix-cls}-navigation-title {
                    color: #bbbbbb;
                    line-height: 40px;
                    text-align: center;
                    vertical-align: center;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }

                @include compatible(color, #bbbbbb, #bfbfbf);
                cursor: not-allowed;
            }

            .#{$menu-prefix-cls}-navigation-title {
                color: #ffffff;
                line-height: 40px;
                text-align: center;
                vertical-align: center;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;

                i {
                    color: #cccccc;
                }
            }
        }
    }
}
