$menu-prefix-cls: #{$jigsaw-prefix}-menu;

.#{$menu-prefix-cls}-dark {
    background: none !important;

    .#{$jigsaw-prefix}-list {
        background: $bg-body-dark;
        border: $border-color-default-dark 1px solid;
        font-size: $font-size-base;

        .#{$list-option-prefix-cls} {
            line-height: 32px;
            padding: 0px 8px;
            min-height: 1px;
            background: none;

            &:hover {
                background: $brand-hover-dark;
            }

            &.#{$list-option-prefix-cls}-active {
                background: $brand-active-dark;
            }

            hr {
                border-top: 1px solid $font-color-white;
                margin: 1px 0;
                opacity: 85%;
            }

            &.#{$list-option-prefix-cls}-disabled {
                background: transparent;

                .#{$menu-prefix-cls}-list-title {
                    float: left;
                    line-height: 32px;
                    color: $font-color-disabled-dark;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }

                cursor: not-allowed;
            }

            .#{$jigsaw-prefix}-list-option-title-box {
                display: none;
            }

            .#{$jigsaw-prefix}-list-option-sub-title {
                display: none;
            }

            .#{$menu-prefix-cls}-list-title {
                float: left;
                line-height: 32px;
                color: $font-color-white;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                display: flex;
                align-items: center;
                flex-direction: row;
                align-content: flex-start;

                i {
                    margin-right: 4px;
                }

                span {
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }
            }

            .#{$menu-prefix-cls}-list-sub-title {
                float: right;
                line-height: 32px;
                color: $font-color-white;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                display: flex;
                align-items: center;
                flex-direction: row;
                align-content: flex-start;
                min-height: 32px;

                .#{$menu-prefix-cls}-subIcon {
                    overflow: hidden;
                    margin: 0px 4px;
                }

                span {
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }
            }
        }
    }
}

.#{$menu-prefix-cls}-light {
    background: none !important;

    .#{$jigsaw-prefix}-list {
        background: $bg-body-light;
        border: #D9D9D9 1px solid;
        font-size: $font-size-base;

        .#{$list-option-prefix-cls} {
            color: #4D4D4D;
            line-height: 32px;
            padding: 0px 8px;
            min-height: 1px;
            background: none;

            &:hover {
                background: $brand-lighten-light;
            }

            &.#{$list-option-prefix-cls}-active {
                background: $brand-active-lighten-light;
            }

            hr {
                border-top: 1px solid #dddddd;
                margin: 1px 0;
                opacity: 85%;
            }

            &.#{$list-option-prefix-cls}-disabled {
                background: $bg-body-light;

                .#{$menu-prefix-cls}-list-title {
                    float: left;
                    line-height: 32px;
                    color: $font-color-disabled-light;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }

                cursor: not-allowed;
            }

            .#{$jigsaw-prefix}-list-option-title-box {
                display: none;
            }

            .#{$jigsaw-prefix}-list-option-sub-title {
                display: none;
            }

            .#{$menu-prefix-cls}-list-title {
                float: left;
                line-height: 32px;
                color: $font-color-default-light;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                display: flex;
                align-items: center;
                flex-direction: row;
                align-content: flex-start;

                i {
                    color: $font-color-default-light;
                    margin-right: 4px;
                }

                span {
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }
            }

            .#{$menu-prefix-cls}-list-sub-title {
                float: right;
                line-height: 32px;
                color: $font-color-default-light;
                display: flex;
                align-items: center;
                flex-direction: row;
                align-content: flex-start;
                min-height: 32px;

                .#{$menu-prefix-cls}-subIcon {
                    overflow: hidden;
                    margin: 0px 4px;
                }

                span {
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }
            }
        }
    }
}

.#{$menu-prefix-cls}-navigation {
    background: none !important;

    .#{$jigsaw-prefix}-list {
        background: $bg-body-dark;
        border: none;
        font-size: $font-size-base;

        .#{$list-option-prefix-cls} {
            color: $font-color-white;
            padding: 0px 8px;
            min-height: 1px;
            background: none;

            &:hover {
                background: $brand-hover-dark;
            }

            &.#{$list-option-prefix-cls}-active {
                background: $brand-active-dark;
            }

            hr {
                border-top: 1px solid #ffffff;
                margin: 1px 0;
                opacity: 85%;
            }

            &.#{$list-option-prefix-cls}-disabled {
                background: transparent;

                .#{$menu-prefix-cls}-navigation-title {
                    color: $font-color-disabled-dark;
                    line-height: 40px;
                    text-align: center;
                    vertical-align: center;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }

                cursor: not-allowed;
            }

            .#{$menu-prefix-cls}-navigation-title {
                color: $font-color-white;
                line-height: 40px;
                text-align: center;
                vertical-align: center;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;

                i {
                    color: $font-color-white;
                }
            }
        }
    }
}
