$jigsaw-menu: #{$jigsaw-prefix}-menu;
$jigsaw-list: #{$jigsaw-prefix}-list;
$jigsaw-list-option: #{$jigsaw-prefix}-list-option;

.#{$jigsaw-menu}-host {
    background: $bg-component !important;

    .#{$jigsaw-list}-host {
        border: $border-color-default 1px solid;

        .#{$jigsaw-list-option}-host {
            padding: 0px 8px;

            &.#{$jigsaw-list-option}-disabled {
                .#{$jigsaw-list-option}-wrapper .#{$jigsaw-menu}-list-title {
                    color: $font-color-disabled;
                }

                cursor: not-allowed;
            }

            &.#{$jigsaw-menu}-list-separator {
                position: relative;
                height: 1px;
                min-height: 0;

                &::before {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 8px;
                    width: calc(100% - 16px);
                    height: 1px;
                    background: $splitline-default;
                }
            }

            .#{$jigsaw-list-option}-title-box {
                display: none;
            }

            .#{$jigsaw-list-option}-sub-title {
                display: none;
            }

            .#{$jigsaw-list-option}-wrapper {
                display: flex;
                width: 100%;

                .#{$jigsaw-menu}-list-title {
                    display: flex;
                    flex-direction: row;
                    align-content: flex-start;
                    align-items: center;
                    color: $font-color-default;
                    overflow: hidden;

                    i {
                        color: inherit;
                        margin-right: 4px;
                    }

                    span {
                        color: inherit;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                    }
                }

                .#{$jigsaw-menu}-list-sub-title {
                    flex-shrink: 0;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    max-width: 50%;
                    min-height: 32px;
                    margin-left: auto;
                    color: $font-color-default;
                    overflow: hidden;

                    .#{$jigsaw-menu}-subIcon {
                        overflow: hidden;
                        margin: 0px 4px;
                    }

                    span {
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                    }
                }


            }
        }
    }

    &.#{$jigsaw-menu}-navigation {
        background: $nav-navigation;

        .#{$jigsaw-list}-host {
            border: none;

            .#{$jigsaw-list-option}-host {
                background: $nav-navigation;
                color: $font-color-white;

                &:hover {
                    background: $nav-hover;
                }

                &.#{$jigsaw-list-option}-disabled {
                    background: $nav-navigation;

                    .#{$jigsaw-menu}-navigation-title {
                        color: $nav-color-disabled;
                    }

                    cursor: not-allowed;
                }

                &.#{$jigsaw-menu}-list-separator {
                    &::before {
                        background: $nav-navigation-darken;
                    }
                }

                .#{$jigsaw-menu}-navigation-title {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    height: 40px;
                    padding-right: 8px;
                    color: $nav-color;
                    overflow: hidden;

                    >span {
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                    }
                }
            }
        }
    }
}