@import "../../common/assets/scss/core/base";

$nav-menu-prefix-cls: #{$jigsaw-prefix}-nav-menu;

.#{$nav-menu-prefix-cls} {
    @include inline-block();

    &-container {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &-items {
        flex: 1;
        background: $bg-container;

        .#{$nav-menu-prefix-cls}-item {
            width: 100%;
            min-width: 40px;
            color: $font-color-default;

            .#{$nav-menu-prefix-cls}-item-top {
                display: flex;
                align-items: center;
                position: relative;
                font-size: $font-size-lg;
                font-weight: 400;
                height: $height-huge;
                cursor: pointer;

                i:not(.#{$nav-menu-prefix-cls}-item-arrow) {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 40px;
                    height: 100%;
                    margin-right: 10px;
                    text-align: center;
                }

                &:hover {
                    background: $bg-hover;
                }

                .#{$nav-menu-prefix-cls}-item-arrow {
                    position: absolute;
                    right: 16px;
                    @include prefixer(transition, all 0.3s ease);
                }
            }

            .#{$nav-menu-prefix-cls}-submenus {
                border: none;
                background: $bg-gray;
                overflow: hidden;

                &-actived {
                    .#{$nav-menu-prefix-cls}-sub-item:first-child {
                        border-top-width: 1px;
                        border-top-style: solid;
                        border-top-color: $border-color-default;
                    }

                    .#{$nav-menu-prefix-cls}-sub-item:last-child {
                        border-bottom-width: 1px;
                        border-bottom-style: solid;
                        border-bottom-color: $border-color-default;
                    }
                }

                .#{$nav-menu-prefix-cls}-sub-item {
                    position: relative;
                    height: 40px;
                    display: flex;
                    align-items: center;
                    padding-left: 35px;
                    font-size: 14px;
                    font-weight: 400;
                    cursor: pointer;

                    i {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 14px;
                        height: 100%;
                        margin-right: 10px;
                        text-align: center;
                    }

                    &:hover {
                        background: $bg-hover;
                    }

                    &.#{$nav-menu-prefix-cls}-sub-item-selected {
                        background-color: $bg-body;
                        color: $brand-default;
                    }

                    &.#{$nav-menu-prefix-cls}-sub-item-collapsed {
                        width: 40px !important;
                        padding-left: 0;

                        i {
                            width: 40px;
                            margin-right: 0;
                        }

                        span {
                            display: none;
                        }
                    }
                }
            }

            .#{$nav-menu-prefix-cls}-item-selected-top {
                background-color: $bg-body;
                color: $brand-default;
            }
        }

        .#{$nav-menu-prefix-cls}-item-collapsed {
            width: 40px !important;

            span {
                display: none;
            }

            .#{$nav-menu-prefix-cls}-item-selected {
                background-color: $bg-body !important;
            }

            .#{$nav-menu-prefix-cls}-item-top {
                i:not(.#{$nav-menu-prefix-cls}-item-arrow) {
                    margin-right: 0;
                }
            }
        }
    }

    &-items-inline {
        flex: 1;
        background: $bg-component;

        .#{$nav-menu-prefix-cls}-item {
            width: 100%;
            min-width: 40px;
            color: $font-color-default;

            .#{$nav-menu-prefix-cls}-item-top {
                position: relative;
                font-size: 12px;
                display: flex;
                align-items: center;
                height: 32px;
                line-height: 32px;
                cursor: pointer;
                padding-left: 16px;

                i {
                    margin-right: 8px;
                    width: 12px;
                    text-align: center;
                }

                &:hover {
                    background: $bg-hover;
                }

                &.#{$nav-menu-prefix-cls}-item-selected-top {
                    color: $brand-default;
                }

                .#{$nav-menu-prefix-cls}-item-arrow {
                    position: absolute;
                    right: 16px;
                    @include prefixer(transition, all 0.3s ease);
                }
            }

            .#{$nav-menu-prefix-cls}-submenus {
                overflow: hidden;

                .#{$nav-menu-prefix-cls}-sub-item {
                    position: relative;
                    height: 32px;
                    display: flex;
                    align-items: center;
                    padding-left: 35px;
                    font-size: 12px;
                    font-weight: 400;
                    cursor: pointer;

                    &:hover {
                        background: $bg-hover;
                    }
                }
            }

            .#{$nav-menu-prefix-cls}-item-selected {
                color: $brand-default;
            }

            .#{$nav-menu-prefix-cls}-item-selected-top {
                background: $bg-body;
            }

            .#{$nav-menu-prefix-cls}-sub-item-selected {
                color: $brand-default;
                background: $bg-body;
            }
        }
    }

    &-items &-item-inactive,
    &-items-inline &-item-inactive {
        > .#{$nav-menu-prefix-cls}-item-top {
            .#{$nav-menu-prefix-cls}-item-arrow {
                @include prefixer(transform, rotate(180deg));
            }
        }
    }

    &-items &-item &-item-selected-top:before,
    &-items &-item &-sub-item-selected:before,
    &-detail &-item-selected-before:before,
    &-detail &-sub-item-selected:before {
        height: 100%;
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 4px;
        background-color: $brand-default;
    }

    &-toggle-button {
        cursor: pointer;
        width: 100%;
        min-width: 40px;
        height: 40px;
        background: $bg-container;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        border-top: 1px solid $border-color-default;
        &:hover {
            color: $brand-default;
        }

        span {
            margin: 0 8px;
        }
    }

    &-toggle-button &-toggle-button-arrow {
        font-size: 16px;
        @include prefixer(transition, all 0.3s ease);
    }

    &-toggle-button-collapsed {
        justify-content: center;
        width: 40px;

        .#{$nav-menu-prefix-cls}-toggle-button-arrow {
            @include prefixer(transform, rotate(180deg));
        }
    }

    &.#{$nav-menu-prefix-cls}-default {
        .#{$nav-menu-prefix-cls}-items {
            background: $bg-container;

            .#{$nav-menu-prefix-cls}-item {
                color: $font-color-default;

                .#{$nav-menu-prefix-cls}-item-top {
                    &:hover {
                        background: $bg-hover;
                    }
                }

                .#{$nav-menu-prefix-cls}-submenus {
                    background: $bg-gray;

                    &-actived {
                        .#{$nav-menu-prefix-cls}-sub-item:first-child {
                            border-top-color: $border-color-default;
                        }

                        .#{$nav-menu-prefix-cls}-sub-item:last-child {
                            border-bottom-color: $border-color-default;
                        }
                    }

                    .#{$nav-menu-prefix-cls}-sub-item {
                        &:hover {
                            background: $bg-hover;
                        }

                        &.#{$nav-menu-prefix-cls}-sub-item-selected {
                            background-color: $bg-body;
                            color: $brand-default;
                        }
                    }
                }

                .#{$nav-menu-prefix-cls}-item-selected-top {
                    background-color: $bg-body;
                    color: $brand-default;
                }
            }

            .#{$nav-menu-prefix-cls}-item-collapsed {
                .#{$nav-menu-prefix-cls}-item-selected {
                    background-color: $bg-body !important;
                }
            }
        }

        .#{$nav-menu-prefix-cls}-items-inline {
            background: $bg-component;

            .#{$nav-menu-prefix-cls}-item {
                color: $font-color-default;

                .#{$nav-menu-prefix-cls}-item-top {
                    &:hover {
                        background: $bg-hover;
                    }

                    &.#{$nav-menu-prefix-cls}-item-selected-top {
                        color: $brand-default;
                    }
                }

                .#{$nav-menu-prefix-cls}-submenus {
                    .#{$nav-menu-prefix-cls}-sub-item {
                        &:hover {
                            background: $bg-hover;
                        }
                    }
                }

                .#{$nav-menu-prefix-cls}-item-selected {
                    color: $brand-default;
                }

                .#{$nav-menu-prefix-cls}-item-selected-top {
                    background: $bg-body;
                }

                .#{$nav-menu-prefix-cls}-sub-item-selected {
                    color: $brand-default;
                    background: $bg-body;
                }
            }
        }

        .#{$nav-menu-prefix-cls}-items .#{$nav-menu-prefix-cls}-item .#{$nav-menu-prefix-cls}-item-selected-top:before,
        .#{$nav-menu-prefix-cls}-items .#{$nav-menu-prefix-cls}-item .#{$nav-menu-prefix-cls}-sub-item-selected:before,
        .#{$nav-menu-prefix-cls}-detail .#{$nav-menu-prefix-cls}-item-selected-before:before,
        .#{$nav-menu-prefix-cls}-detail .#{$nav-menu-prefix-cls}-sub-item-selected:before {
            background-color: $brand-default;
        }

        .#{$nav-menu-prefix-cls}-toggle-button {
            background: $bg-container;
            border-top: 1px solid $border-color-default;
            &:hover {
                color: $brand-default;
            }
        }
    }

    &.#{$nav-menu-prefix-cls}-light {
        .#{$nav-menu-prefix-cls}-items {
            background: $bg-container-light;

            .#{$nav-menu-prefix-cls}-item {
                color: $font-color-default-light;

                .#{$nav-menu-prefix-cls}-item-top {
                    &:hover {
                        background: $bg-hover-light;
                    }
                }

                .#{$nav-menu-prefix-cls}-submenus {
                    background: $bg-gray-light;

                    &-actived {
                        .#{$nav-menu-prefix-cls}-sub-item:first-child {
                            border-top-color: $border-color-default-light;
                        }

                        .#{$nav-menu-prefix-cls}-sub-item:last-child {
                            border-bottom-color: $border-color-default-light;
                        }
                    }

                    .#{$nav-menu-prefix-cls}-sub-item {
                        &:hover {
                            background: $bg-hover-light;
                        }

                        &.#{$nav-menu-prefix-cls}-sub-item-selected {
                            background-color: $bg-body-light;
                            color: $brand-default-light;
                        }
                    }
                }

                .#{$nav-menu-prefix-cls}-item-selected-top {
                    background-color: $bg-body-light;
                    color: $brand-default-light;
                }
            }

            .#{$nav-menu-prefix-cls}-item-collapsed {
                .#{$nav-menu-prefix-cls}-item-selected {
                    background-color: $bg-body-light !important;
                }
            }
        }

        .#{$nav-menu-prefix-cls}-items-inline {
            .#{$nav-menu-prefix-cls}-item {
                color: $font-color-default-light;

                .#{$nav-menu-prefix-cls}-item-top {
                    &:hover {
                        background: $bg-hover-light;
                    }

                    &.#{$nav-menu-prefix-cls}-item-selected-top {
                        color: $brand-default-light;
                    }
                }

                .#{$nav-menu-prefix-cls}-submenus {
                    .#{$nav-menu-prefix-cls}-sub-item {
                        &:hover {
                            background: $bg-hover-light;
                        }
                    }
                }

                .#{$nav-menu-prefix-cls}-item-selected {
                    color: $brand-default-light;
                }

                .#{$nav-menu-prefix-cls}-item-selected-top {
                    background: $bg-body-light;
                }

                .#{$nav-menu-prefix-cls}-sub-item-selected {
                    color: $brand-default-light;
                    background: $bg-body-light;
                }
            }
        }

        .#{$nav-menu-prefix-cls}-items .#{$nav-menu-prefix-cls}-item .#{$nav-menu-prefix-cls}-item-selected-top:before,
        .#{$nav-menu-prefix-cls}-items .#{$nav-menu-prefix-cls}-item .#{$nav-menu-prefix-cls}-sub-item-selected:before,
        .#{$nav-menu-prefix-cls}-detail .#{$nav-menu-prefix-cls}-item-selected-before:before,
        .#{$nav-menu-prefix-cls}-detail .#{$nav-menu-prefix-cls}-sub-item-selected:before {
            background-color: $brand-default-light;
        }

        .#{$nav-menu-prefix-cls}-toggle-button {
            background: $bg-container-light;
            border-top: 1px solid $border-color-default-light;
            &:hover {
                color: $brand-default-light;
            }
        }
    }

    &.#{$nav-menu-prefix-cls}-dark {
        .#{$nav-menu-prefix-cls}-items {
            background: $bg-container-dark;

            .#{$nav-menu-prefix-cls}-item {
                color: $font-color-default-dark;

                .#{$nav-menu-prefix-cls}-item-top {
                    &:hover {
                        background: $bg-hover-dark;
                    }
                }

                .#{$nav-menu-prefix-cls}-submenus {
                    background: $bg-gray-dark;

                    &-actived {
                        .#{$nav-menu-prefix-cls}-sub-item:first-child {
                            border-top-color: $border-color-default-dark;
                        }

                        .#{$nav-menu-prefix-cls}-sub-item:last-child {
                            border-bottom-color: $border-color-default-dark;
                        }
                    }

                    .#{$nav-menu-prefix-cls}-sub-item {
                        &:hover {
                            background: $bg-hover-dark;
                        }

                        &.#{$nav-menu-prefix-cls}-sub-item-selected {
                            background-color: $bg-hover-dark;
                            color: $brand-default-dark;
                        }
                    }
                }

                .#{$nav-menu-prefix-cls}-item-selected-top {
                    background-color: $bg-body-dark;
                    color: $brand-default-dark;
                }
            }

            .#{$nav-menu-prefix-cls}-item-collapsed {
                .#{$nav-menu-prefix-cls}-item-selected {
                    background-color: $bg-body-dark !important;
                }
            }
        }

        .#{$nav-menu-prefix-cls}-items-inline {
            .#{$nav-menu-prefix-cls}-item {
                color: $font-color-default-dark;

                .#{$nav-menu-prefix-cls}-item-top {
                    &:hover {
                        background: $bg-hover-dark;
                    }

                    &.#{$nav-menu-prefix-cls}-item-selected-top {
                        color: $brand-default-dark;
                    }
                }

                .#{$nav-menu-prefix-cls}-submenus {
                    .#{$nav-menu-prefix-cls}-sub-item {
                        &:hover {
                            background: $bg-hover-dark;
                        }
                    }
                }

                .#{$nav-menu-prefix-cls}-item-selected {
                    color: $brand-default-dark;
                }

                .#{$nav-menu-prefix-cls}-item-selected-top {
                    background: $bg-body-dark;
                }

                .#{$nav-menu-prefix-cls}-sub-item-selected {
                    color: $brand-default-dark;
                    background: $bg-body-dark;
                }
            }
        }

        .#{$nav-menu-prefix-cls}-items .#{$nav-menu-prefix-cls}-item .#{$nav-menu-prefix-cls}-item-selected-top:before,
        .#{$nav-menu-prefix-cls}-items .#{$nav-menu-prefix-cls}-item .#{$nav-menu-prefix-cls}-sub-item-selected:before,
        .#{$nav-menu-prefix-cls}-detail .#{$nav-menu-prefix-cls}-item-selected-before:before,
        .#{$nav-menu-prefix-cls}-detail .#{$nav-menu-prefix-cls}-sub-item-selected:before {
            background-color: $brand-default-dark;
        }

        .#{$nav-menu-prefix-cls}-toggle-button {
            background: $bg-container-dark;
            border-top: 1px solid $border-color-default-dark;
            color: $font-color-default-dark;

            &:hover {
                color: $brand-default;
            }
        }
    }

    &.#{$nav-menu-prefix-cls}-gray {
        .#{$nav-menu-prefix-cls}-items {
            background: #516273;

            .#{$nav-menu-prefix-cls}-item {
                color: $font-color-default-dark;

                .#{$nav-menu-prefix-cls}-item-top {
                    &:hover {
                        background: #212a33;
                    }
                }

                .#{$nav-menu-prefix-cls}-submenus {
                    background: #3c4c5a;

                    &-actived {
                        .#{$nav-menu-prefix-cls}-sub-item:first-child,
                        .#{$nav-menu-prefix-cls}-sub-item:last-child {
                            border: none;
                        }
                    }

                    .#{$nav-menu-prefix-cls}-sub-item {
                        &:hover {
                            background: #212a33;
                        }

                        &.#{$nav-menu-prefix-cls}-sub-item-selected {
                            background-color: #212a33;
                            color: $font-color-default-dark;
                        }
                    }
                }

                .#{$nav-menu-prefix-cls}-item-selected-top {
                    background-color: #212a33;
                    color: $font-color-default-dark;
                }
            }

            .#{$nav-menu-prefix-cls}-item-collapsed {
                .#{$nav-menu-prefix-cls}-item-selected {
                    background-color: #516273 !important;
                }
            }
        }

        .#{$nav-menu-prefix-cls}-items .#{$nav-menu-prefix-cls}-item .#{$nav-menu-prefix-cls}-item-selected-top:before,
        .#{$nav-menu-prefix-cls}-items .#{$nav-menu-prefix-cls}-item .#{$nav-menu-prefix-cls}-sub-item-selected:before,
        .#{$nav-menu-prefix-cls}-detail .#{$nav-menu-prefix-cls}-item-selected-before:before,
        .#{$nav-menu-prefix-cls}-detail .#{$nav-menu-prefix-cls}-sub-item-selected:before {
            background-color: $brand-default-dark;
        }

        .#{$nav-menu-prefix-cls}-toggle-button {
            background: #516273;
            border-top: 1px solid rgba(221, 221, 221, 0.5);
            color: $font-color-default-dark;
        }
    }
}
