@import "../../common/assets/scss/core/base";

$nav-menu-prefix-cls: #{$jigsaw-prefix}-nav-menu;

.#{$nav-menu-prefix-cls} {
    @include inline-block();

    &-container {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &-items {
        flex: 1;
        background: $bg-container;

        .#{$nav-menu-prefix-cls}-item {
            width: 100%;
            min-width: 40px;
            color: $font-color-default;

            .#{$nav-menu-prefix-cls}-item-top {
                display: flex;
                align-items: center;
                position: relative;
                padding-left: 16px;
                font-size: $font-size-lg;
                font-weight: 400;
                height: $height-huge;
                cursor: pointer;

                i {
                    margin-right: 8px;
                    width: 14px;
                    text-align: center;
                }

                &:hover {
                    background: $brand-light;
                }

                .#{$nav-menu-prefix-cls}-item-arrow {
                    position: absolute;
                    right: 16px;
                    @include prefixer(transition, all 0.3s ease);
                }
            }

            .#{$nav-menu-prefix-cls}-submenus {
                overflow: hidden;

                .#{$nav-menu-prefix-cls}-sub-item {
                    position: relative;
                    height: 40px;
                    display: flex;
                    align-items: center;
                    padding-left: 35px;
                    font-size: 14px;
                    font-weight: 400;
                    cursor: pointer;

                    i {
                        margin-right: 8px;
                        width: 14px;
                        text-align: center;
                    }

                    &:hover {
                        background: $brand-light;
                    }
                }
            }

            .#{$nav-menu-prefix-cls}-item-selected-top {
                background-color: $bg-body;
                color: $brand-default;
            }

            .#{$nav-menu-prefix-cls}-sub-item-selected {
                background-color: $bg-body;
                color: $brand-default;
            }
        }

        .#{$nav-menu-prefix-cls}-item-collapsed {
            width: 40px !important;

            span {
                display: none;
            }

            .#{$nav-menu-prefix-cls}-item-selected {
                background-color: $bg-body !important;
            }
        }
    }

    &-items-inline {
        flex: 1;
        background: $bg-component;

        .#{$nav-menu-prefix-cls}-item {
            width: 100%;
            min-width: 40px;
            color: $font-color-default;

            .#{$nav-menu-prefix-cls}-item-top {
                position: relative;
                font-size: 12px;
                display: flex;
                align-items: center;
                height: 32px;
                line-height: 32px;
                cursor: pointer;
                padding-left: 16px;

                i {
                    margin-right: 8px;
                    width: 12px;
                    text-align: center;
                }

                &:hover {
                    background: $brand-light;
                }

                .#{$nav-menu-prefix-cls}-item-arrow {
                    position: absolute;
                    right: 16px;
                    @include prefixer(transition, all 0.3s ease);
                }
            }

            .#{$nav-menu-prefix-cls}-submenus {
                overflow: hidden;

                .#{$nav-menu-prefix-cls}-sub-item {
                    position: relative;
                    height: 32px;
                    display: flex;
                    align-items: center;
                    padding-left: 35px;
                    font-size: 12px;
                    font-weight: 400;
                    cursor: pointer;

                    &:hover {
                        background: $brand-light;
                    }
                }
            }

            .#{$nav-menu-prefix-cls}-item-selected {
                color: $brand-default;
            }

            .#{$nav-menu-prefix-cls}-item-selected-top {
                background: $bg-body;
            }

            .#{$nav-menu-prefix-cls}-sub-item-selected {
                background: $bg-body;
            }
        }
    }

    &-items &-item-inactive,
    &-items-inline &-item-inactive {
        > .#{$nav-menu-prefix-cls}-item-top {
            .#{$nav-menu-prefix-cls}-item-arrow {
                @include prefixer(transform, rotate(180deg));
            }
        }
    }

    &-items &-item &-item-selected-top:before,
    &-items &-item &-sub-item-selected:before,
    &-detail &-item-selected-before:before,
    &-detail &-sub-item-selected:before {
        height: 100%;
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 4px;
        background-color: $brand-default;
    }

    &-toggle-button {
        cursor: pointer;
        width: 100%;
        min-width: 40px;
        height: 40px;
        background: $bg-container;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        border-top: 1px solid $border-color-default;
        &:hover {
            color: $brand-default;
        }

        span {
            margin: 0 8px;
        }
    }

    &-toggle-button &-toggle-button-arrow {
        font-size: 16px;
        @include prefixer(transition, all 0.3s ease);
    }

    &-toggle-button-collapsed {
        justify-content: center;
        width: 40px;

        .#{$nav-menu-prefix-cls}-toggle-button-arrow {
            @include prefixer(transform, rotate(180deg));
        }
    }

    &-detail {
        .#{$nav-menu-prefix-cls}-item {
            position: relative;
            width: 240px;
            min-height: 40px;
            display: flex;
            align-items: center;
            padding-left: 14px;
            font-size: 14px;
            background: $bg-container;
            cursor: pointer;
            border: 1px solid $border-color-default;

            i {
                margin-right: 16px;
            }
        }

        .#{$nav-menu-prefix-cls}-submenus {
            overflow: hidden;
            position: absolute;
            left: 40px;
            width: calc(100% - 40px);
            min-width: 40px;
            background: $bg-container;
            font-size: 14px;
            border: 1px solid $border-color-default;
            border-top: none;

            .#{$nav-menu-prefix-cls}-sub-item {
                position: relative;
                height: 40px;
                display: flex;
                align-items: center;
                padding-left: 35px;
                font-size: 14px;
                font-weight: 400;
                cursor: pointer;

                &:hover {
                    background: $brand-light;
                }
            }

            .#{$nav-menu-prefix-cls}-sub-item-selected {
                background-color: $bg-body;
            }
        }
    }
}
