$jigsaw-nav-menu: #{$jigsaw-prefix}-nav-menu;

.#{$jigsaw-nav-menu}-host {
    @include inline-block();

    .#{$jigsaw-nav-menu}-container {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .#{$jigsaw-nav-menu}-items {
        flex: 1;
        background: $nav-navigation;

        .#{$jigsaw-nav-menu}-item {
            width: 100%;
            min-width: 40px;
            color: $nav-color;

            .#{$jigsaw-nav-menu}-item-top {
                display: flex;
                align-items: center;
                position: relative;
                font-size: $font-size-lg;
                font-weight: 400;
                height: $height-huge;
                cursor: pointer;

                i:not(.#{$jigsaw-nav-menu}-item-arrow) {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 40px;
                    height: 100%;
                    font-size: 18px;
                    text-align: center;
                }

                &:not(.#{$jigsaw-nav-menu}-item-disabled):hover {
                    background: $nav-hover;
                }

                &.#{$jigsaw-nav-menu}-item-disabled {
                    color: $font-color-disabled;
                    cursor: not-allowed;
                }

                .#{$jigsaw-nav-menu}-item-arrow {
                    position: absolute;
                    right: 16px;
                    @include prefixer(transition, all 0.3s ease);
                }

                &>div {
                    max-width: calc(100% - 70px);
                }
            }

            .#{$jigsaw-nav-menu}-submenus {
                border: none;
                background: $nav-navigation-darken;
                overflow: hidden;

                .#{$jigsaw-nav-menu}-sub-item {
                    position: relative;
                    height: 40px;
                    display: flex;
                    align-items: center;
                    padding-left: 35px;
                    font-size: 14px;
                    font-weight: 400;
                    cursor: pointer;

                    i {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 14px;
                        height: 100%;
                        margin-right: 10px;
                        font-size: 18px;
                        text-align: center;
                    }

                    &:not(.#{$jigsaw-nav-menu}-sub-item-disabled):hover {
                        background: $nav-hover;
                    }

                    &.#{$jigsaw-nav-menu}-sub-item-selected {
                        background-color: $nav-active;
                    }

                    &.#{$jigsaw-nav-menu}-sub-item-disabled {
                        color: $font-color-disabled;
                        cursor: not-allowed;
                    }

                    &.#{$jigsaw-nav-menu}-sub-item-collapsed {
                        width: 40px !important;
                        padding-left: 0;

                        i {
                            width: 40px;
                            margin-right: 0;
                        }

                        span {
                            display: none;
                        }
                    }

                    &>div {
                        max-width: calc(100% - 48px);
                    }
                }
            }

            .#{$jigsaw-nav-menu}-item-selected-top {
                background-color: $nav-active;
            }

            span.#{$jigsaw-nav-menu}-item-text {
                display: block;
                width: 100%;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
            }
        }

        .#{$jigsaw-nav-menu}-item-collapsed {
            width: 40px !important;

            span {
                display: none;
            }

            .#{$jigsaw-nav-menu}-item-top {
                i:not(.#{$jigsaw-nav-menu}-item-arrow) {
                    margin-right: 0;
                }
            }
        }
    }

    .#{$jigsaw-nav-menu}-items-inline {
        flex: 1;
        background: $bg-transparent;

        .#{$jigsaw-nav-menu}-item {
            width: 100%;
            min-width: 40px;
            color: $font-color-default;

            .#{$jigsaw-nav-menu}-item-top {
                position: relative;
                font-size: 12px;
                display: flex;
                align-items: center;
                height: 32px;
                line-height: 32px;
                cursor: pointer;
                padding-left: 16px;

                i {
                    margin-right: 8px;
                    width: 12px;
                    text-align: center;
                }

                &:not(.#{$jigsaw-nav-menu}-item-disabled):hover {
                    background: $bg-hover;
                }

                &.#{$jigsaw-nav-menu}-item-disabled {
                    color: $font-color-disabled;
                    cursor: not-allowed;
                }

                .#{$jigsaw-nav-menu}-item-arrow {
                    position: absolute;
                    right: 16px;
                    @include prefixer(transition, all 0.3s ease);
                }
            }

            .#{$jigsaw-nav-menu}-submenus {
                overflow: hidden;

                .#{$jigsaw-nav-menu}-sub-item {
                    position: relative;
                    height: 32px;
                    display: flex;
                    align-items: center;
                    padding-left: 35px;
                    font-size: 12px;
                    font-weight: 400;
                    cursor: pointer;

                    &:not(.#{$jigsaw-nav-menu}-sub-item-disabled):hover {
                        background: $bg-hover;
                    }

                    &.#{$jigsaw-nav-menu}-sub-item-disabled {
                        color: $font-color-disabled;
                        cursor: not-allowed;
                    }
                }
            }

            .#{$jigsaw-nav-menu}-item-selected-top {
                background: $bg-component;
            }

            .#{$jigsaw-nav-menu}-sub-item-selected {
                background: $bg-component;
            }
        }
    }

    .#{$jigsaw-nav-menu}-items .#{$jigsaw-nav-menu}-item-inactive,
    .#{$jigsaw-nav-menu}-items-inline .#{$jigsaw-nav-menu}-item-inactive {
        >.#{$jigsaw-nav-menu}-item-top {
            .#{$jigsaw-nav-menu}-item-arrow {
                @include prefixer(transform, rotate(180deg));
            }
        }
    }

    .#{$jigsaw-nav-menu}-items .#{$jigsaw-nav-menu}-item .#{$jigsaw-nav-menu}-item-selected-top:before,
    .#{$jigsaw-nav-menu}-items .#{$jigsaw-nav-menu}-item .#{$jigsaw-nav-menu}-sub-item-selected:before,
    .#{$jigsaw-nav-menu}-detail .#{$jigsaw-nav-menu}-item-selected-before:before,
    .#{$jigsaw-nav-menu}-detail .#{$jigsaw-nav-menu}-sub-item-selected:before {
        height: 100%;
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 4px;
        background-color: $brand-default;
    }

    .#{$jigsaw-nav-menu}-toggle-button {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 100%;
        min-width: 40px;
        height: 40px;
        background: $nav-navigation;
        border-top: 1px solid $nav-border;
        color: $nav-color;
        cursor: pointer;

        &:hover {
            color: $nav-color-active;
        }

        span {
            margin: 0 8px;
        }
    }

    .#{$jigsaw-nav-menu}-toggle-button .#{$jigsaw-nav-menu}-toggle-button-arrow {
        font-size: 16px;
        @include prefixer(transition, transform 0.3s ease);
    }

    .#{$jigsaw-nav-menu}-toggle-button-collapsed {
        justify-content: center;
        width: 40px;

        .#{$jigsaw-nav-menu}-toggle-button-arrow {
            @include prefixer(transform, rotate(180deg));
        }
    }

    &.#{$jigsaw-nav-menu}-gray {
        .#{$jigsaw-nav-menu}-items {
            background: #516273;

            .#{$jigsaw-nav-menu}-item {
                color: $font-color-white;

                .#{$jigsaw-nav-menu}-item-top {
                    &:hover {
                        background: #212a33;
                    }
                }

                .#{$jigsaw-nav-menu}-submenus {
                    background: #3c4c5a;

                    &-activated {

                        .#{$jigsaw-nav-menu}-sub-item:first-child,
                        .#{$jigsaw-nav-menu}-sub-item:last-child {
                            border: none;
                        }
                    }

                    .#{$jigsaw-nav-menu}-sub-item {
                        &:hover {
                            background: #212a33;
                        }

                        &.#{$jigsaw-nav-menu}-sub-item-selected {
                            background-color: #212a33;
                            color: $font-color-white;
                        }
                    }
                }

                .#{$jigsaw-nav-menu}-item-selected-top {
                    background-color: #212a33;
                    color: $font-color-white;
                }
            }

            .#{$jigsaw-nav-menu}-item-collapsed {
                .#{$jigsaw-nav-menu}-item-selected {
                    background-color: #516273 !important;
                }
            }
        }

        .#{$jigsaw-nav-menu}-items .#{$jigsaw-nav-menu}-item .#{$jigsaw-nav-menu}-item-selected-top:before,
        .#{$jigsaw-nav-menu}-items .#{$jigsaw-nav-menu}-item .#{$jigsaw-nav-menu}-sub-item-selected:before,
        .#{$jigsaw-nav-menu}-detail .#{$jigsaw-nav-menu}-item-selected-before:before,
        .#{$jigsaw-nav-menu}-detail .#{$jigsaw-nav-menu}-sub-item-selected:before {
            background-color: #029af2;
        }

        .#{$jigsaw-nav-menu}-toggle-button {
            background: #516273;
            border-top: 1px solid rgba(221, 221, 221, 0.5);
            color: $font-color-white;
        }
    }
}