<ng-container [ngSwitch]="_$uploadMode">
    <j-box *ngSwitchCase="'select'" type="flex" direction="v" justify="center" align="center" width="100%" height="100%"
           jigsaw-droppable (jigsawDragEnter)="_$fileDragEnterHandle($event)"
           (jigsawDragOver)="_$fileDragOverHandle($event)"
           (jigsawDragLeave)="_$fileDragLeaveHandle($event)" (jigsawDrop)="_$fileDropHandle($event)">
        <span class="jigsaw-upload-icon fa fa-upload"></span>
        <span class="jigsaw-upload-prompt">将文件拖拽到此处上传</span>
        <j-button (click)="_$selectFile($event)">选择文件</j-button>
        <input #fileInput class="jigsaw-upload-file-input" type='file' [accept]="fileType"
               [multiple]="multiple" (change)="_$selectedFileChange()">
    </j-box>

    <j-box *ngSwitchCase="'single'" type="flex" direction="v" justify="center" align="center" width="100%"
           height="100%">
        <span class="jigsaw-upload-icon fa fa-file"></span>
        <span class="jigsaw-upload-prompt">{{_$fileInfoList[0]?.name}}</span>
        <ng-container [ngSwitch]="_$fileInfoList[0]?.state">
            <span *ngSwitchCase="'pause'" class="jigsaw-upload-pause fa fa-pause-circle"></span>
            <span *ngSwitchCase="'loading'"
                  class="jigsaw-upload-loading iconfont iconfont-e8dd jigsaw-am-rotation"></span>
            <span *ngSwitchCase="'success'" class="jigsaw-upload-success fa fa-check-circle"></span>
            <span *ngSwitchCase="'error'" class="jigsaw-upload-error fa fa-times-circle"></span>
        </ng-container>
    </j-box>
    <j-box *ngSwitchCase="'multiple'" direction="v" justify="start" align="center" width="100%" height="100%"
           class="jigsaw-upload-file-list" [perfectScrollbar]="{wheelSpeed: 0.5, minScrollbarLength: 20}">
        <j-box *ngFor="let file of _$fileInfoList" type="flex" justify="between" align="center"
               width="100%" height="80px" class="jigsaw-upload-file">
            <div class="jigsaw-upload-file-left">
                <span class="jigsaw-upload-icon-small fa fa-file"></span>
                <span class="jigsaw-upload-file-name" title="{{file.name}}">{{file.name}}</span>
            </div>
            <div [ngSwitch]="file.state" class="jigsaw-upload-file-right">
                <ng-container *ngSwitchCase="'pause'">
                    <span>等待中</span>
                    <span class="jigsaw-upload-pause fa fa-pause-circle"></span>
                </ng-container>
                <ng-container *ngSwitchCase="'loading'">
                    <span>上传中</span>
                    <span class="jigsaw-upload-loading iconfont iconfont-e8dd jigsaw-am-rotation"></span>
                </ng-container>
                <ng-container *ngSwitchCase="'success'">
                    <span>上传成功</span>
                    <span class="jigsaw-upload-success fa fa-check-circle"></span>
                </ng-container>
                <ng-container *ngSwitchCase="'error'">
                    <span>上传失败</span>
                    <span class="jigsaw-upload-error fa fa-times-circle"></span>
                </ng-container>
            </div>
        </j-box>
    </j-box>
</ng-container>


