@import "../../assets/scss/core/base";

$upload-prefix-cls: #{$jigsaw-prefix}-upload;

.#{$upload-prefix-cls} {
    display: inline-block;
    border: 1px dashed $border-color-base;
    border-radius: 4px;
    width: 400px;
    height: 400px;
    &-icon {
        display: inline-block;
        font-size: 60px;
        margin-bottom: 18px;
        color: #999;
    }
    &-icon-small {
        font-size: 30px;
        margin-right: 8px;
    }
    &-prompt {
        font-size: 14px;
        color: #999;
        margin-bottom: 12px;
    }
    &-file-list {
        padding: 0 20px;
    }
    &-file {
        padding: 20px 0;
        border-bottom: 1px solid $border-color-base;
        &:last-child {
            border-bottom: none;
        }
    }


}
