<!--<ng-content></ng-content>-->

<j-input [placeholder]="placeholder" [(value)]="value" [width]="width" [height]="height" [blurOnClear]="blurOnClear"
         [clearable]="clearable" [disabled]="disabled" [valid]="valid"
         (valueChange)="_$handleSearching($event)" (focus)="_$handleFocus($event)" (blur)="_$handleBlur($event)">
    <span *ngIf="showSearchIcon" jigsaw-prefix-icon class="fa fa-search" style="font-size: 14px;"></span>
</j-input>

<ng-template #dropdownTemp>
    <div class="jigsaw-autocomplete-input-list-box" [style.max-height]="_$dropDownMaxHeight"
         [perfectScrollbar]="{suppressScrollX: true, wheelSpeed: 0.5, wheelPropagation: true, minScrollbarLength: 20}">
        <div *ngFor="let category of _$data;">
            <label *ngIf="category.category" class="jigsaw-autocomplete-input-item-title">{{category.category}}</label>
            <ul>
                <li class="jigsaw-autocomplete-input-item" (click)="_$add(item)" *ngFor="let item of category.items;">
                    <label>{{item}}</label>
                </li>
            </ul>
        </div>
    </div>
</ng-template>
