<!-- ignore the following lines, they are not important to this demo -->
<jigsaw-demo-description [summary]="summary" [content]="description">
</jigsaw-demo-description>

<!-- start to learn the demo from here -->
<jigsaw-header>size:default</jigsaw-header>
<jigsaw-tree-ext [(data)]="data" size="default"></jigsaw-tree-ext>

<jigsaw-header>size:medium</jigsaw-header>
<jigsaw-tree-ext [(data)]="data" size="medium"></jigsaw-tree-ext>

<jigsaw-header>size:large</jigsaw-header>
<jigsaw-tree-ext [(data)]="data" size="large"></jigsaw-tree-ext>