<div class="demo-wrapper">
    <jigsaw-markdown [markdown]="description"></jigsaw-markdown>
    <combo-select-basic></combo-select-basic>
    <combo-select-auto-width></combo-select-auto-width>
    <combo-select-drop-down-status></combo-select-drop-down-status>
    <combo-select-events></combo-select-events>
    <combo-select-max-height></combo-select-max-height>
    <combo-select-single></combo-select-single>
    <combo-select-open></combo-select-open>
    <combo-select-searchable></combo-select-searchable>
    <combo-select-set-width></combo-select-set-width>
    <combo-select-text-tag></combo-select-text-tag>
    <combo-select-trigger></combo-select-trigger>
    <doc-template [docContent]="docContent"></doc-template>
    <doc-footer-template></doc-footer-template>
    <demo-navigation [navigationData]="navigationData"></demo-navigation>
</div>