.container {
    border: 1px solid #e9e9e9;
    border-radius: 4px;
    display: inline-block;
    width: 100%;
    position: relative;
    margin: 0 0 16px;
    -webkit-transition: all .2s;
    transition: all .2s;
    padding-bottom: 10px;
    /*width: 360px;*/
}
