<demo-template [(selectedLabel)]="selectedLabel" [text]="text['text']['key']">
    <div>
        <p class="comment">正常 </p>
        <jigsaw-button icon="iconfont iconfont-e0a1" colorType="primary"
                       [disabled]="false" [preSize]="selectedLabel.size">
            关键按钮
        </jigsaw-button>
    </div>

    <div>
        <p class="comment">禁用 </p>
        <jigsaw-button icon="iconfont iconfont-e0a1" colorType="primary"
                       [disabled]="true" [preSize]="selectedLabel.size">
            关键按钮
        </jigsaw-button>
    </div>
</demo-template>

