<!-- ignore the following lines, they are not important to this demo -->
<jigsaw-demo-description [summary]="summary" [content]="description">
</jigsaw-demo-description>


<!-- start to learn the demo from here -->
<h2>没有数据测试~</h2>
<jigsaw-graph width="100%"></jigsaw-graph>

<jigsaw-header>配置noDataImgSrc 与 noDataDarkImgSrc</jigsaw-header>
<jigsaw-graph width="100%" [noDataImgSrc]="noDataImgSrc" [noDataDarkImgSrc]="noDataDarkImgSrc"></jigsaw-graph>

<jigsaw-header>仅配置noDataImgSrc</jigsaw-header>
<jigsaw-graph width="100%" [noDataImgSrc]="noDataImgSrc"></jigsaw-graph>

<jigsaw-header>仅配置noDataDarkImgSrc</jigsaw-header>
<jigsaw-graph width="100%" [noDataDarkImgSrc]="noDataDarkImgSrc"></jigsaw-graph>