<demo-template [data]="''" [text]="doc.text.autoSearch" [codes]="doc.codes.autoSearch">
    <!-- start to learn the demo from here -->
    <div class="demo-showcase">
        <span>自动搜索</span>
        <jigsaw-search-input width="200px" (search)="value = $event" [searchDebounce]="1000"> </jigsaw-search-input>
    </div>

    <div class="demo-showcase">
        <span>禁用</span>
        <jigsaw-search-input width="200px" (search)="value = $event" [searchDebounce]="1000" [disabled]="true">
        </jigsaw-search-input>
    </div>
</demo-template>
