<demo-template [data]="data" [(selectedLabel)]="selectedLabel" [text]="doc.text.simple">
    <!-- start to learn the demo from here -->
    <div class="demo-showcase-v">
        <jigsaw-pagination
            [data]="pageableForSimple"
            (currentChange)="getCurrentPage($event)"
            mode="simple"
            [searchable]="false"
            [pageSizeOptions]="pageSizeOptions"
            [size]="selectedLabel.size"
        >
        </jigsaw-pagination>
    </div>
</demo-template>
