<demo-template [data]="sizes" [(selectedSize)]="selectedSize" [text]="doc.text.simple" [codes]="doc.codes.simple">
    <!-- start to learn the demo from here -->
    <div class="demo-showcase-v">
        <jigsaw-pagination
            [data]="pageableForSimple"
            (currentChange)="getCurrentPage($event)"
            mode="simple"
            [searchable]="false"
            [pageSizeOptions]="pageSizeOptions"
            [size]="selectedSize.size"
        >
        </jigsaw-pagination>
    </div>
</demo-template>
