<demo-template [data]="data" [(selectedLabel)]="selectedLabel" [text]="text['text']['estimation']">

    <!-- start to learn the demo from here -->
    <span>进度值</span>
    <j-numeric-input min="0" max="110" [(value)]="progressValue">
    </j-numeric-input>

    <div style="margin-top: 20px">
        <j-progress [value]="progressValue" status="processing" (estimationStopped)="onEstimationStopped($event)" [preSize]="selectedLabel.size"></j-progress>
        <j-progress [value]="progressValue" status="block" [preSize]="selectedLabel.size"></j-progress>
        <j-progress [value]="progressValue" status="error" [preSize]="selectedLabel.size"></j-progress>
        <j-progress [value]="progressValue" status="success" [preSize]="selectedLabel.size"></j-progress>
    </div>

    <div style="margin-top: 20px">
        <j-circle-progress [status]="'processing'" [value]="progressValue">
        </j-circle-progress>
        <j-circle-progress [status]="'block'" [value]="progressValue">
        </j-circle-progress>
        <j-circle-progress [status]="'error'" [value]="progressValue">
        </j-circle-progress>
        <j-circle-progress [status]="'success'" [value]="progressValue">
        </j-circle-progress>
    </div>

    <div style="margin-top: 20px">
        <p class="comment">
            <a (click)="startEstimation()" style="margin-right:12px">估计进度</a>
            <span>估计时长</span>
            <j-numeric-input min="5000" max="20000" step="1000" width="80px" [(value)]="duration"></j-numeric-input>
            <span>最大进度</span>
            <j-numeric-input min="50" max="80" step="5" width="80px" [(value)]="maxProgress"></j-numeric-input>
            <span *ngIf="!!estimationInfo">{{estimationInfo}} <a (click)="reset()">重置</a></span>
        </p>
    </div>
</demo-template>
