<!-- ignore the following lines, they are not important to this demo -->
<jigsaw-demo-description [summary]="summary" [content]="description"> </jigsaw-demo-description>

<!-- start to learn the demo from here -->
<div class="demo-container">
    <jigsaw-header>标签式</jigsaw-header>
    <jigsaw-tabs-bar [data]="tabBarData" [editable]="false"></jigsaw-tabs-bar>
    <jigsaw-tabs-bar [data]="tabBarData" [editable]="true"></jigsaw-tabs-bar>

    <jigsaw-header>页签式</jigsaw-header>
    <jigsaw-tabs-bar [data]="tabBarData" [editable]="false" tabType='page'></jigsaw-tabs-bar>
    <jigsaw-tabs-bar [data]="tabBarData" [editable]="true" tabType='page'></jigsaw-tabs-bar>
</div>