$table-prefix-cls: #{$jigsaw-prefix}-table;
$table-drag-active-height: 30%;

.#{$table-prefix-cls}-host {
    &.#{$jigsaw-table}-dragging {
        table tr {
            position: relative;
        }

        .#{$table-prefix-cls}-option-box {
            position: unset;

            .drop-top.active,
            .drop-mid.active,
            .drop-bottom.active {
                background: $brand-default;
            }
        }
    }

    .#{$table-prefix-cls}-option-box {
        position: relative;
    }
}

.#{$table-prefix-cls}-option-box {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 32px;
    color: $brand-default;
    box-sizing: border-box;
    cursor: move;

    .drop-top {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: $table-drag-active-height;
    }

    .drop-mid {
        position: absolute;
        top: 30%;
        left: 0;
        width: 100%;
        height: (100% - $table-drag-active-height - $table-drag-active-height);
    }

    .drop-bottom {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: $table-drag-active-height;
    }

    .drag-label {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}