@import "../../common/assets/scss/core/base";

$table-prefix-cls: #{$jigsaw-prefix}-table;
$table-drag-active-height: 30%;

.#{$table-prefix-cls}-host {
    table tbody tr {
        // draggable tr bg
        &.drop-active-top {
            background: linear-gradient(to bottom, #bde4ff $table-drag-active-height, transparent $table-drag-active-height, transparent) !important;
        }
        &.drop-active-mid {
            background: linear-gradient(to bottom, transparent $table-drag-active-height, #bde4ff $table-drag-active-height, #bde4ff (100% - $table-drag-active-height), transparent (100% - $table-drag-active-height), transparent) !important;
        }
        &.drop-active-bottom {
            background: linear-gradient(to top, #bde4ff $table-drag-active-height, transparent $table-drag-active-height, transparent) !important;
        }
    }
}

.#{$table-prefix-cls}-option-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 30px;
    color: #108ee9;
    box-sizing: border-box;
    cursor: move;

    .drop-mid {
        height: (100% - $table-drag-active-height - $table-drag-active-height);
        padding: 0px 8px;
    }

    .drop-top,
    .drop-bottom {
        height: $table-drag-active-height;
    }
}
