$jigsaw-table: #{$jigsaw-prefix}-table;

.#{$jigsaw-table}-host {
    @include inline-block;
    position: relative;
    width: 100%;

    table {
        width: 100%;
        text-align: center;
        table-layout: fixed;
        font-size: $font-size-text-base;
        /* 不可设置overflow: hidden, 会影响冻结列的功能 */

        tr {
            td {
                border-width: 1px;
                border-style: solid;
                border-color: $border-color-default;
                line-height: $line-height-base;
                vertical-align: middle;

                .#{$jigsaw-table}-cell-content,
                .#{$jigsaw-table}-header-cell {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    width: 100%;
                    height: 100%;
                    padding: 0 8px;
                    text-align: left;
                    line-height: inherit;

                    &.#{$jigsaw-table}-header-cell-sortable,
                    &.#{$jigsaw-table}-header-cell-filterable {
                        padding: 0 12px 0 8px;

                        .iconfont {
                            margin-right: 0px;
                        }
                    }

                    &.#{$jigsaw-table}-header-cell-sortable.#{$jigsaw-table}-header-cell-filterable {
                        padding: 0 28px 0 8px;
                    }

                    ng-component {
                        display: inline-flex;
                        justify-content: flex-start;
                        align-items: center;
                        width: 100%;
                        height: 100%;
                        line-height: inherit;
                    }
                }

                .#{$jigsaw-table}-cell-content.#{$jigsaw-table}-cell-html-renderer {
                    display: block;
                }
                
                &.jigsaw-cell-align-default {

                    .#{$jigsaw-table}-cell-content,
                    .#{$jigsaw-table}-header-cell {
                        justify-content: flex-start;
                        text-align: left;

                        ng-component {
                            justify-content: flex-start;
                        }
                    }
                }

                &.jigsaw-cell-align-left {

                    .#{$jigsaw-table}-cell-content,
                    .#{$jigsaw-table}-header-cell {
                        justify-content: flex-start;
                        text-align: left;

                        ng-component {
                            justify-content: flex-start;
                        }
                    }
                }

                &.jigsaw-cell-align-center {

                    .#{$jigsaw-table}-cell-content,
                    .#{$jigsaw-table}-header-cell {
                        justify-content: center;
                        text-align: center;

                        ng-component {
                            justify-content: center;
                        }
                    }
                }

                &.jigsaw-cell-align-right {

                    .#{$jigsaw-table}-cell-content,
                    .#{$jigsaw-table}-header-cell {
                        justify-content: flex-end;
                        text-align: right;

                        ng-component {
                            justify-content: flex-end;
                        }
                    }
                }

                &.jigsaw-cell-no-padding {

                    .#{$jigsaw-table}-cell-content,
                    .#{$jigsaw-table}-header-cell {
                        padding: 0;
                    }
                }

                &.jigsaw-cell-freeze {
                    position: sticky !important;
                    background: inherit;
                    z-index: 1;

                    &::before {
                        content: "";
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        background: inherit;
                        border-right: 1px solid $border-color-default;
                        z-index: -1;
                    }

                    &::after {
                        content: "";
                        position: absolute;
                        top: 0;
                        left: -1px;
                        width: 100%;
                        height: 100%;
                        background: $bg-body;
                        border-left: 1px solid $border-color-default;
                        z-index: -2;
                    }
                }
            }
        }

        thead {
            tr {
                height: 32px;
                background: $bg-gray;

                td {
                    .#{$jigsaw-table}-header-cell {
                        .iconfont {
                            margin-right: 2px;
                        }
                    }

                    &.jigsaw-cell-freeze {
                        &::after {
                            background: $bg-gray;
                        }
                    }
                }
            }
        }

        tbody {
            .#{$jigsaw-table}-line-ellipsis {
                .#{$jigsaw-table}-cell-content {
                    min-width: 0;

                    .#{$jigsaw-table}-cell-text {
                        @include line-ellipsis-style();
                    }
                }
            }

            tr {
                height: 32px;
                background: var(--jigsaw-table-row, 'unset');

                &:nth-child(2n) {
                    background: var(--jigsaw-table-row-even, $bg-transparent);
                }
                
                &:nth-child(2n-1) {
                    background: var(--jigsaw-table-row-odd, $bg-transparent);
                }

                &:hover {
                    background: var(--jigsaw-table-row-hover, var(--bg-hover));
                }

                &.jigsaw-table-row-selected {
                    background: var(--jigsaw-table-row-selected, var(--brand-active-lighten));
                }

                td[rowspan] {
                    background: $bg-transparent;
                }

                &.jigsaw-table-row-expansion {
                    border-left: 1px solid $border-color-default;
                    border-right: 1px solid $border-color-default;
                }

                &:last-of-type.jigsaw-table-row-expansion {
                    border-bottom: 1px solid $border-color-default;
                }
            }
        }
    }

    .#{$jigsaw-table}-hide {
        display: none !important;
    }

    .#{$jigsaw-table}-header {
        position: absolute;
        top: 0;
        color: $font-color-default;
        font-weight: bold;
        z-index: $zindex-level-2;
    }

    .#{$jigsaw-table}-range {
        height: 100%;
        padding-top: 32px;

        &.#{$jigsaw-table}-hide-head {
            padding-top: 0 !important;
        }
    }

    .#{$jigsaw-table}-header-range {
        position: absolute;
        top: 0;
        width: 100%;
        height: inherit;
        overflow: hidden; /* 不可删除，配合冻结列功能，在设置contentWidth生效 */
    }

    .#{$jigsaw-table}-body-range {
        height: 100%;

        .ps__rail-x,
        .ps__rail-y {
            z-index: 2;
        }
    }

    &.#{$jigsaw-table}-ff .#{$jigsaw-table}-body-range::after{
        content: '';
        position: absolute;
        top: 0px;
        width: 1px;
        height: 100%;
        background: $border-color-default;
    }
    
    &.#{$jigsaw-table}-ff .#{$jigsaw-table}-body-range.#{$jigsaw-table}-no-data {        
        .#{$jigsaw-table}-body {
            min-height: 1px;
        }

        .ps__rail-y{
            display: none;
        }
    }

    .#{$jigsaw-table}-auto-width {

        .#{$jigsaw-table}-cell-content,
        jigsaw-table-header {
            white-space: nowrap;
        }
    }

    .#{$jigsaw-table}-no-data-img {
        position: sticky;
        left: 0;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        border: 1px solid $border-color-default;

        .#{$jigsaw-table}-no-data-text {
            color: $font-color-hint;
            font-size: $font-size-text-base;
        }
    }

    .#{$jigsaw-table}-body {
        >thead {
            tr {
                height: 0 !important;
            }

            td {
                height: 0 !important;
                border: none;
            }
        }
    }

    .#{$jigsaw-table} {
        &-tree-cell {
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: left;
        }

        &-tree-bar {
            display: inline-flex;
            justify-content: center;
            align-items: center;
            margin-right: 2px;
            font-size: $icon-size-sm;
            color: $icon-color-stress;
            cursor: pointer;
        }
    }

    .#{$jigsaw-table}-column-resize-line {
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        display: none;
        width: 0;
        z-index: 10;
    }

    &.#{$jigsaw-table}-column-resizable {
        table thead tr td {
            position: relative;

            .column-resize-handler {
                position: absolute;
                top: 0;
                right: -2px;
                width: 4px;
                height: 100%;
                cursor: col-resize;
                z-index: 1;
            }
        }
    }

    &.#{$jigsaw-table}-resizing {
        user-select: none;

        .#{$jigsaw-table}-column-resize-line {
            display: block;
            border-left: 2px dashed $brand-default;
        }
    }

    &.#{$jigsaw-table}-hide-column-dividers {

        table tbody tr td,
        table tbody tr.jigsaw-table-row-expansion,
        .jigsaw-table-body-range.jigsaw-table-no-data,
        &.#{$jigsaw-table}-ff .#{$jigsaw-table}-body-range {
            border-right: none;
            border-left: none;
        }

        table thead tr td:first-of-type {
            border-left: none;
        }

        table thead tr td:last-of-type {
            border-right: none;
        }
    }
}

@-moz-document url-prefix() {
    .#{$jigsaw-table}-host .jigsaw-table-range colgroup {
        display: block;
        width: 100%;
    }
}
