<div #tableRange class="jigsaw-table-range" [class.jigsaw-table-hide-head]="hideHeader || !_$headerSettings.length">
    <div #headerScrollbar class="jigsaw-table-header-range">
        <table class="jigsaw-table-header" [hidden]="hideHeader || !_$headerSettings.length"
            [style.color]="styleOptions?.headerStyles?.textColor" [style.fontStyle]="styleOptions?.headerStyles?.textStyle"
            [style.fontSize]="styleOptions?.headerStyles?.textSize" [style.borderCollapse]="_$getTableBorderCollapse()"
            [style.fontWeight]="styleOptions?.headerStyles?.textWeight">
            <colgroup>
                <col #tableHeaderColgroup *ngFor="let head of _$headerSettings;" width="{{head.width || '0*'}}">
            </colgroup>
            <thead>
                <tr #headerRow [style.background]="styleOptions?.headerStyles?.backgroundFill"
                    [style.boxShadow]="styleOptions?.rowStyles?.boxShadow"
                    [style.opacity]="styleOptions?.rowStyles?.opacity"
                    [style.height]="styleOptions?.headerStyles?.height">
                    <td #tableHeaderCell *ngFor="let head of _$headerSettings; last as last; index as index; first as first"
                        class="{{head.clazz}}" [ngClass]="_$getHeaderClass(head)"
                        [style.borderTop]="_$getTableHeaderBorder('top', first, last)"
                        [style.borderBottom]="_$getTableHeaderBorder('bottom', first, last)"
                        [style.borderLeft]="_$getTableHeaderBorder('left', first, last)"
                        [style.borderRight]="_$getTableHeaderBorder('right', first, last)"
                        [style.borderRadius]="_$getTableRowRadius(first, last)">
                        <jigsaw-table-header [tableData]="data" [theme]="theme" [additionalData]="additionalData"
                            [cellData]="head.cellData" [field]="head.field" [row]="0" [renderer]="head.renderer"
                            [rendererInitData]="head.rendererInitData" [sortable]="head.sortable" [sortAs]="head.sortAs"
                            [defaultSortOrder]="head.defaultSortOrder" (sort)="_$onSort($event)" [headerTrustedHtml]="head.cellData"
                            [filterable]="head.filterable" [filterHistoryStorageSize]="head.filterHistoryStorageSize" 
                            [headerTrustedHtmlContext]="head.innerHtmlContext" [hostInstance]="this">
                        </jigsaw-table-header>
                        <div *ngIf="columnResizable && !last" class="column-resize-handler"
                            (mousedown)="_$resizeColumn($event, index)"></div>
                    </td>
                </tr>
            </thead>
        </table>
    </div>
    <div #contentScrollbar class="jigsaw-table-body-range" style="width:100%"
        [class.jigsaw-table-no-data]="!_$cellSettings.length"
        [perfectScrollbar]="{wheelSpeed: 0.5, wheelPropagation: true, minScrollbarLength: 20}">
        <div [style.display]="!!_$cellSettings.length ? 'none' : 'flex'" class="jigsaw-table-no-data-img">
            <div *ngIf="!_$hideImg" jigsaw-no-data [jigsawNoDataType]="noDataImage"></div>
            <span class="jigsaw-table-no-data-text">{{'table.noData' | translate}}</span>
        </div>
        <table #tableBody class="jigsaw-table-body" [style.borderCollapse]="_$getTableBorderCollapse()"
            [style.borderSpacing]="_$getTableBorderSpacing()" [style.color]="styleOptions?.cellStyles?.textColor"
            [style.fontSize]="styleOptions?.cellStyles?.textSize" [style.fontStyle]="styleOptions?.cellStyles?.textStyle"
            [style.fontWeight]="styleOptions?.cellStyles?.textWeight">
            <colgroup>
                <col #tableBodyHeaderColgroup *ngFor="let head of _$headerSettings;" width="{{head.width || '0*'}}">
            </colgroup>
            <thead *ngIf="_$isFFBrowser">
                <tr>
                    <td *ngFor="let head of _$headerSettings;" class="{{head.clazz}}"
                        [ngClass]="_$getHeaderClass(head)">
                    </td>
                </tr>
            </thead>
            <tbody>
                <tr #tableRow *ngFor="let row of _$cellSettings; index as rowIndex" (click)="_$clickRow(rowIndex)"
                    (dblclick)="_$handleRowDoubleClick(rowIndex)"
                    [style.height]="styleOptions?.rowStyles?.height"
                    [style.boxShadow]="styleOptions?.rowStyles?.boxShadow"
                    [style.opacity]="styleOptions?.rowStyles?.opacity"
                    [class.jigsaw-table-row-selected]="selectedRow == rowIndex">
                    <td *ngFor="let cell of row; index as tdIndex; first as first; last as last"
                        [attr.rowspan]="cell.rowSpan > 1 ? cell.rowSpan : null"
                        [style.display]="cell.rowSpan ? 'table-cell' : 'none'"
                        class="{{cell.clazz}} {{cell.tooltip ? 'jigsaw-table-line-ellipsis': ''}}"
                        [ngClass]="_$getBodyClass(cell)"
                        [style.borderTop]="_$getTableRowBorder('top', first, last)"
                        [style.borderBottom]="_$getTableRowBorder( 'bottom', first, last)"
                        [style.borderLeft]="_$getTableRowBorder('left', first, last)"
                        [style.borderRight]="_$getTableRowBorder('right', first, last)"
                        [style.borderRadius]="_$getTableRowRadius(first, last)">
                        <ng-container [ngSwitch]="cell.renderer">
                            <div *ngSwitchCase="undefined" class="jigsaw-table-cell-content">
                                <span class="jigsaw-table-cell-text"
                                    title="{{cell.tooltip ? cell.tooltip : ''}}">{{cell.cellData}}</span>
                            </div>
                            <div *ngSwitchCase="'html'"
                                class="jigsaw-table-cell-content jigsaw-table-cell-html-renderer"
                                title="{{cell.tooltip ? cell.tooltip : ''}}" [trustedHtml]="cell.cellData"
                                [trustedHtmlContext]="cell.innerHtmlContext">
                            </div>
                            <jigsaw-table-cell *ngSwitchDefault class="jigsaw-table-cell-content"
                                title="{{cell.tooltip ? cell.tooltip : ''}}" [theme]="theme" [tableData]="data"
                                [additionalData]="additionalData" [(cellData)]="cell.cellData" [row]="rowIndex"
                                [field]="cell.field" [renderer]="cell.renderer"
                                [rendererInitData]="cell.rendererInitData" [editable]="cell.editable"
                                [alwaysShowEditor]="cell.alwaysShowEditor" [editorRenderer]="cell.editorRenderer"
                                [editorRendererInitData]="cell.editorRendererInitData" [group]="cell.group"
                                [rowSpan]="cell.rowSpan" [hostInstance]="this" (edit)="edit.emit($event)"
                                (cellStatusChange)="cellStatusChange.emit($event)">
                            </jigsaw-table-cell>
                        </ng-container>
                    </td>
                </tr>
                <tr #tableRow *ngFor="let row of this._$blankRow">
                    <td *ngFor="let cell of this._$headerSettings;" attr.rowspan="1" style="display: table-cell;">
                        <ng-container>
                            <div class="jigsaw-table-cell-content">
                                <span class="jigsaw-table-cell-text"></span>
                            </div>
                        </ng-container>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div #columnResizeLine class="jigsaw-table-column-resize-line"></div>
</div>