$jigsaw-table: #{$jigsaw-prefix}-table;

.#{$jigsaw-table}-header-cell {
    position: relative;
}

.#{$jigsaw-table}-header-option-box {
    display: inline-flex;
    position: absolute;
    right: 0;
    height: 100%;

    .#{$jigsaw-table}-sort-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;

        &.#{$jigsaw-table}-asc {
            .#{$jigsaw-table}-sort-up {
                color: $brand-default;
            }
        }

        &.#{$jigsaw-table}-des {
            .#{$jigsaw-table}-sort-down {
                color: $brand-default;
            }
        }

        >i {
            &.jigsaw-table-sort-up {
                margin-bottom: -5px;
            }

            &:hover {
                color: $brand-default;
            }
        }
    }

    .#{$jigsaw-table}-filter-box {
        display: flex;
        align-items: center;
        height: 100%;
    }

    i {
        line-height: 1;
        cursor: pointer;
    }
}

.#{$jigsaw-table}-header-filter-list{
    &.jigsaw-list-host {
        max-height: 400px;
        border: none !important;
    }

    .jigsaw-list-option-host{
        .item-box{
            display: flex;
            align-items: center;
        }
    }
}