.popup-option-demo{
    padding: 5px 0;
    .show-box{
        clear: both;
        overflow: hidden;
        margin-bottom: 20px;
        .box{
            width:20%;
            height:300px;
            line-height: 300px;
            text-align: center;
            color:#fff;
            float:left;
            margin-right: 10%;
            &:last-child{
                margin-right: 0;
            }
            &.left{
                background-color: #ec6d6d;
            }
            &.middle{
                background-color: #41addc;
            }
            &.right{
                background-color: #8ac9b6;
            }
        }
    }

    label{
        display: inline-block;
        vertical-align: middle;
        width: 100px;
    }
    .line-box{
        margin-bottom: 10px;
    }
    jigsaw-button{
        margin-left: 103px;
    }
}
.dialog-content{
    padding: 20px;
    li{
        font-size: 12px;
        color: #999;
    }
}
.padding {
    height: 2000px;
    width: 2000px;
}
