<demo-template [data]="data" [(selectedLabel)]="selectedLabel" [text]="text['text']['basic']">
    <jigsaw-switch [(checked)]="multiple" onLabel="多选" offLabel="单选" (change)="resetSelection()">
    </jigsaw-switch>
    <div>
        <jigsaw-markdown [markdown]="'#### 对象数组'"></jigsaw-markdown>
        <jigsaw-button-bar [(selectedItems)]="selectedCity" [data]="cities" [multipleSelect]="multiple" [preSize]="selectedLabel.size"
                           (selectedItemsChange)="basicSelectChange($event)" optionWidth=80>
        </jigsaw-button-bar>
        <p>选择的城市是：{{selectedCityStr}}</p>
    </div>

    <div>
        <jigsaw-markdown [markdown]="'#### 字符串数组'"></jigsaw-markdown>
        <jigsaw-button-bar [(selectedItems)]="selectedCity2" [data]="cities2" [multipleSelect]="multiple" [preSize]="selectedLabel.size"
                           (selectedItemsChange)="basicSelectChange2($event)">
        </jigsaw-button-bar>
        <p>选择的城市是：{{selectedCityStr2}}</p>
    </div>

    <div>
        <jigsaw-markdown [markdown]="'#### colorType'"></jigsaw-markdown>
        <jigsaw-radios-lite [data]="colorTypeList" [(value)]="colorType">
        </jigsaw-radios-lite><br>
        <jigsaw-button-bar [data]="cities2" [(selectedItems)]="selectedCity3" [colorType]="colorType"
                           [multipleSelect]="multiple" [preSize]="selectedLabel.size">
        </jigsaw-button-bar>
    </div>

    <div>
        <jigsaw-markdown [markdown]="'#### Icons'"></jigsaw-markdown>
        <jigsaw-markdown [markdown]="'##### Icon + Label'"></jigsaw-markdown>
        <jigsaw-button-bar [data]="types" [(selectedItems)]="selectedTypes" [multipleSelect]="multiple" trackItemBy="id" [preSize]="selectedLabel.size">
        </jigsaw-button-bar>
        <jigsaw-markdown [markdown]="'##### Icon Only'"></jigsaw-markdown>
        <jigsaw-button-bar [data]="unlabeledTypes" [multipleSelect]="multiple" trackItemBy="id" [preSize]="selectedLabel.size">
        </jigsaw-button-bar>
    </div>

    <div>
        <jigsaw-markdown [markdown]="'#### 更新数据'"></jigsaw-markdown>
        <jigsaw-button-bar [data]="types5" [(selectedItems)]="selectedTypes5" [multipleSelect]="multiple" trackItemBy="id" [preSize]="selectedLabel.size"></jigsaw-button-bar>
        <jigsaw-button (click)="update()">更新</jigsaw-button>
    </div>
</demo-template>
