@import "../../assets/scss/core/basc";

$time-prefix-cls: #{$rdk-prefix}-time;

:host {
    @include inline-block();
    width: 300px;
    .time-box {
        width: 100%;
    }
}

.#{$time-prefix-cls}-hidden {
    display: none !important;
}

