<demo-template [data]="''" [text]="doc.text.basic" [codes]="doc.codes.basic">
    <div style="position: relative; height: 200px">
        <jigsaw-button
            style="position: absolute; left: 190px; top: 10px"
            width="105px"
            jigsawTooltipPosition="topLeft"
            [jigsawTooltip]="tooltipMessage"
        >
            顶部左侧
        </jigsaw-button>
        <jigsaw-button
            style="position: absolute; left: 300px; top: 10px"
            width="105px"
            jigsawTooltipPosition="top"
            [jigsawTooltip]="tooltipMessage"
        >
            顶部
        </jigsaw-button>
        <jigsaw-button
            style="position: absolute; left: 410px; top: 10px"
            width="105px"
            jigsawTooltipPosition="topRight"
            [jigsawTooltip]="tooltipMessage"
        >
            顶部右侧
        </jigsaw-button>

        <jigsaw-button
            style="position: absolute; left: 80px; top: 50px"
            width="105px"
            jigsawTooltipPosition="leftTop"
            [jigsawTooltip]="tooltipMessage"
        >
            左侧顶部
        </jigsaw-button>
        <jigsaw-button
            style="position: absolute; left: 520px; top: 50px"
            width="105px"
            jigsawTooltipPosition="rightTop"
            [jigsawTooltip]="tooltipMessage"
        >
            右侧顶部
        </jigsaw-button>

        <jigsaw-button
            style="position: absolute; left: 80px; top: 90px"
            width="105px"
            jigsawTooltipPosition="left"
            [jigsawTooltip]="tooltipMessage"
        >
            左侧
        </jigsaw-button>
        <jigsaw-button
            style="position: absolute; left: 520px; top: 90px"
            width="105px"
            jigsawTooltipPosition="right"
            [jigsawTooltip]="tooltipMessage"
        >
            右侧
        </jigsaw-button>

        <jigsaw-button
            style="position: absolute; left: 80px; top: 130px"
            width="105px"
            jigsawTooltipPosition="leftBottom"
            [jigsawTooltip]="tooltipMessage"
        >
            左侧底部
        </jigsaw-button>
        <jigsaw-button
            style="position: absolute; left: 520px; top: 130px"
            width="105px"
            jigsawTooltipPosition="rightBottom"
            [jigsawTooltip]="tooltipMessage"
        >
            右侧底部
        </jigsaw-button>

        <jigsaw-button
            style="position: absolute; left: 190px; top: 170px"
            width="105px"
            jigsawTooltipPosition="bottomLeft"
            [jigsawTooltip]="tooltipMessage"
        >
            底部左侧
        </jigsaw-button>
        <jigsaw-button
            style="position: absolute; left: 300px; top: 170px"
            width="105px"
            jigsawTooltipPosition="bottom"
            [jigsawTooltip]="tooltipMessage"
        >
            底部
        </jigsaw-button>
        <jigsaw-button
            style="position: absolute; left: 410px; top: 170px"
            width="105px"
            jigsawTooltipPosition="bottomRight"
            [jigsawTooltip]="tooltipMessage"
        >
            底部右侧
        </jigsaw-button>
    </div>
</demo-template>
