<!-- ignore the following lines, they are not important to this demo -->
<jigsaw-demo-description [summary]="summary" [content]="description"> </jigsaw-demo-description>

<!-- start to learn the demo from here -->
<jigsaw-tag>
    <i class="iconfont iconfont-e0a0"></i>
    Icon Tag
</jigsaw-tag>

<jigsaw-tag [closable]="true" [size]="'medium'">
    <i class="iconfont iconfont-e0a4"></i>
    Closable Tag
</jigsaw-tag>

<jigsaw-tag [closable]="true" [size]="'small'">
    <i class="iconfont iconfont-e0d4"></i>
    Small Size Tag
</jigsaw-tag>
