<!-- ignore the following lines, they are not important to this demo -->
<jigsaw-demo-description [summary]="summary" [content]="description"> </jigsaw-demo-description>

<!-- start to learn the demo from here -->
<div class="demo-container">
    <jigsaw-header [level]="2">图标+文字的状态</jigsaw-header>
    <p>
        <jigsaw-tag>
            <i class="iconfont iconfont-e0a0"></i>
            Icon Tag
        </jigsaw-tag>

        <jigsaw-tag [closable]="true" [size]="'medium'" icon="iconfont iconfont-e0a4">
            Closable Tag
        </jigsaw-tag>

        <jigsaw-tag [closable]="true" [size]="'small'" icon="iconfont iconfont-e0d4">
            Small Size Tag
        </jigsaw-tag>

        <jigsaw-tag [closable]="true" icon="iconfont iconfont-ea1b">
            A very very very very very very very long tag
        </jigsaw-tag>
    </p>
    <jigsaw-header [level]="2">仅图标的状态</jigsaw-header>
    <p>
        <jigsaw-tag>
            <i class="iconfont iconfont-e0a0"></i>
        </jigsaw-tag>
        <jigsaw-tag>
            <span class="iconfont iconfont-e0d4"></span>
        </jigsaw-tag>
        <jigsaw-tag icon="iconfont iconfont-ea1b">
        </jigsaw-tag>

        <jigsaw-tag [closable]="true">
            <i class="iconfont iconfont-e0a0"></i>
        </jigsaw-tag>
        <jigsaw-tag [closable]="true">
            <span class="iconfont iconfont-e0d4"></span>
        </jigsaw-tag>
        <jigsaw-tag [closable]="true" icon="iconfont iconfont-ea1b">
        </jigsaw-tag>
    </p>
</div>
