<!-- ignore the following lines, they are not important to this demo -->
<jigsaw-demo-description [summary]="summary" [content]="description"> </jigsaw-demo-description>

<!-- start to learn the demo from here -->
<div class="demo-container">
    <jigsaw-tag>
        <i class="iconfont iconfont-e0a0"></i>
        Icon Tag
    </jigsaw-tag>

    <jigsaw-tag [closable]="true" [size]="'medium'" icon="iconfont iconfont-e0a4">
        Closable Tag
    </jigsaw-tag>

    <jigsaw-tag [closable]="true" [size]="'small'" icon="iconfont iconfont-e0d4">
        Small Size Tag
    </jigsaw-tag>

    <jigsaw-tag [closable]="true" icon="iconfont iconfont-ea1b">
        A very very very very very very very long tag
    </jigsaw-tag>
</div>
