<!-- ignore the following lines, they are not important to this demo -->
<jigsaw-demo-description [summary]="summary" [content]="description">
</jigsaw-demo-description>

<div class="container">
    <div class="items">
        <span>tab bar 简单数组</span>
    </div>
    <jigsaw-tabs-bar [(selectedIndex)]="selectedIndex" [data]="tabBarData"></jigsaw-tabs-bar>
</div>
<div class="container">
    <div class="items">
        <span>tab bar 对象数组</span>
    </div>
    <jigsaw-tabs-bar [(selectedIndex)]="selectedIndex" [data]="tabBarData2"></jigsaw-tabs-bar>
</div>

<div class="container">
    <div class="items">
        <span>隐藏tab头</span>
        <jigsaw-switch [(checked)]="headless"></jigsaw-switch>
    </div>
    <div class="tabs-box">
        <jigsaw-tabs [headless]="headless" [(selectedIndex)]="selectedIndex">
            <jigsaw-tab-pane title="Tab 1">
                <ng-template>
                    <jigsaw-graph [data]="lineBarGraphData"></jigsaw-graph>
                </ng-template>
            </jigsaw-tab-pane>
            <jigsaw-tab-pane title="Tab 2">
                <ng-template>This is the body of the second tab</ng-template>
            </jigsaw-tab-pane>
            <jigsaw-tab-pane title="Tab 3">
                <ng-template>This is the body of the third tab</ng-template>
            </jigsaw-tab-pane>
            <jigsaw-tab-pane>
                <div jigsaw-title><span class="fa fa-bicycle"></span>Tab 3</div>
                <ng-template>
                    <jigsaw-table [data]="fruitList"></jigsaw-table>
                </ng-template>
            </jigsaw-tab-pane>
        </jigsaw-tabs>
    </div>
</div>
