<demo-template [data]="sizes" [(selectedSize)]="selectedSize" [text]="doc.text.objectsArray" [codes]="doc.codes.objectsArray">
    <div class="demo-showcase">
        <jigsaw-button-bar
            [(selectedItems)]="selectedCity"
            [data]="cities"
            [multipleSelect]="multiple"
            [preSize]="selectedSize.size"
            (selectedItemsChange)="selectChange($event)"
            colorType="default"
            optionWidth="80"
        >
        </jigsaw-button-bar>
    </div>
</demo-template>
