.demo-options .demo-options-item {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.demo-options .demo-options-item>span:not(:first-of-type),
.demo-options .demo-options-item>jigsaw-button:not(:first-of-type) {
    margin-left: 5px;
}