<!-- ignore the following lines, they are not important to this demo -->
<jigsaw-demo-description [summary]="summary" [content]="description">
</jigsaw-demo-description>

<!-- start to learn the demo from here -->
<jigsaw-header [level]="1">range-date-time-picker</jigsaw-header>

<jigsaw-header [level]="2">相关配置</jigsaw-header>
<ul class="demo-options">
    <li class="demo-options-item">
        <span>beginDate:</span>
        <jigsaw-date-time-select [(date)]="beginDatePicker" [gr]="gr[0]" [clearable]="true"
            (dateChange)="beginDate = beginDatePicker"></jigsaw-date-time-select>
        <jigsaw-icon [icon]="'iconfont iconfont-e23f'" [iconSize]="20" title="这里均为修改操作，没有做绑定"></jigsaw-icon>
    </li>
    <li class="demo-options-item">
        <span>endDate:</span>
        <jigsaw-date-time-select [(date)]="endDatePicker" [gr]="gr[0]" [clearable]="true"
            (dateChange)="beginDate = endDatePicker"></jigsaw-date-time-select>
        <jigsaw-icon [icon]="'iconfont iconfont-e23f'" [iconSize]="20" title="这里均为修改操作，没有做绑定"></jigsaw-icon>
    </li>
    <li class="demo-options-item">
        <span>gr：</span>
        <jigsaw-button-bar [data]="grList" [(selectedItems)]="gr">
        </jigsaw-button-bar>
    </li>
    <li class="demo-options-item">
        <span>grItems：</span>
        <jigsaw-switch [(checked)]="showGrItems"></jigsaw-switch>
    </li>
    <li class="demo-options-item">
        <span>limitStart：</span>
        <jigsaw-date-time-select [(date)]="limitStartPicker" [clearable]="true"
            (dateChange)="limitStart = limitStartPicker"></jigsaw-date-time-select>
        <jigsaw-button colorType="none" (click)="limitStart = 'now'">now</jigsaw-button>
        <jigsaw-button colorType="none" (click)="limitStart = 'now-5d'">now-5d</jigsaw-button>
        <jigsaw-button colorType="none" (click)="limitStart = 'now-10d'">now-10d</jigsaw-button>
        <jigsaw-button colorType="none" (click)="limitStart = ''">清空</jigsaw-button>
        <jigsaw-icon [icon]="'iconfont iconfont-e23f'" [iconSize]="20" title="这里均为修改操作，没有做绑定"></jigsaw-icon>
    </li>
    <li class="demo-options-item">
        <span>limitEnd：</span>
        <jigsaw-date-time-select [(date)]="limitEndPicker" [clearable]="true"
            (dateChange)="limitEnd = limitEndPicker"></jigsaw-date-time-select>
        <jigsaw-button colorType="none" (click)="limitEnd = 'now'">now</jigsaw-button>
        <jigsaw-button colorType="none" (click)="limitEnd = 'now+5d'">now+5d</jigsaw-button>
        <jigsaw-button colorType="none" (click)="limitEnd = 'now+10d'">now+10d</jigsaw-button>
        <jigsaw-button colorType="none" (click)="limitEnd = ''">清空</jigsaw-button>
        <jigsaw-icon [icon]="'iconfont iconfont-e23f'" [iconSize]="20" title="这里均为修改操作，没有做绑定"></jigsaw-icon>
    </li>
    <li class="demo-options-item">
        <span>limitSpan：</span>
        <jigsaw-numeric-input [(value)]="limitSpanInput" [suffix]="units" min="-1" suffixWidth="60"
            (suffixChange)="unitChange($event)" (valueChange)="limitSpanInputChange($event)"></jigsaw-numeric-input>
        <jigsaw-button [disabled]="limitSpanInput < 0" colorType="none" (click)="limitSpanInput = limitSpanInput * 24">x
            24</jigsaw-button>
        <jigsaw-button [disabled]="limitSpanInput < 0" colorType="none" (click)="limitSpanInput = limitSpanInput * 60">x
            60</jigsaw-button>
        <jigsaw-button [disabled]="limitSpanInput < 0" colorType="none" (click)="limitSpanInput = limitSpanInput / 24">÷
            60</jigsaw-button>
        <jigsaw-button [disabled]="limitSpanInput < 0" colorType="none" (click)="limitSpanInput = limitSpanInput / 60">÷
            60</jigsaw-button>
        <jigsaw-button colorType="none" (click)="clearLimitSpanInput()">清空</jigsaw-button>
        <jigsaw-icon [icon]="'iconfont iconfont-e23f'" [iconSize]="20" title="这里均为修改操作，没有做绑定"></jigsaw-icon>
    </li>
    <li class="demo-options-item">
        <span>动作：</span>
        <jigsaw-button (click)="clear()">手动清空</jigsaw-button>
        <jigsaw-button (click)="console()">打印当前date</jigsaw-button>
    </li>
</ul>
<jigsaw-range-date-time-picker #rangeDateTimePicker [(beginDate)]="beginDate" [(endDate)]="endDate" [gr]="gr[0]"
    [limitStart]="limitStart" [limitEnd]="limitEnd" [limitSpan]="limitSpan"
    [grItems]="showGrItems ? grItems : undefined" (change)="change($event)" (grChange)="grChange($event)">
</jigsaw-range-date-time-picker>
<div>
    <span>起始时间是：{{ gr[0] != 'week' ? beginDate : (beginDate?.week + "周") }}</span>
    <span>结束时间是：{{ gr[0] != 'week' ? endDate : (endDate?.week + "周") }}</span>
</div>
