$jigsaw-progress: #{$jigsaw-prefix}-progress;

.#{$jigsaw-progress}-host {
    @include inline-block();
    width: 200px;
    color: $font-color-default;

    .#{$jigsaw-progress}-bar {
        display: flex;
        line-height: 1;
        align-items: center;

        .#{$jigsaw-progress}-bar-track {
            flex: 1;
            height: 6px;
            border-radius: 2px;
            background: $splitline-default;
            overflow: hidden;

            .#{$jigsaw-progress}-bar-track-value {
                height: 100%;
                background: $brand-default;
                position: relative;
                transition: width 0.3s linear;

                i {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    background: $brand-hover;
                    z-index: $zindex-level-1;
                    left: 0;
                }

                .#{$jigsaw-progress}-bar-track-label-wrapper {
                    position: absolute;
                    top: 50%;
                    right: 0;
                    transform: translateY(-50%);
                    font-size: 24px;
                    padding: 0 8px;
                    z-index: $zindex-level-2;

                    .#{$jigsaw-progress}-bar-icon {
                        font-size: inherit;
                    }

                    &.#{$jigsaw-progress}-bar-track-label-left {
                        color: $font-color-white;

                        .#{$jigsaw-progress}-bar-icon {
                            color: inherit !important;
                        }
                    }

                    &.#{$jigsaw-progress}-bar-track-label-right {
                        transform: translate(100%, -50%);
                        color: $primary-default;
                    }
                }
            }
        }

        .#{$jigsaw-progress}-bar-label-wrapper {
            width: 40px;
            text-align: center;

            .#{$jigsaw-progress}-bar-label {
                padding: 2px 0;
                color: $font-color-default;
            }

            .#{$jigsaw-progress}-bar-icon {
                font-size: $icon-size-sm;
            }
        }
    }

    .#{$jigsaw-progress}-top-label-wrapper {
        text-align: center;
        padding-bottom: 4px;

        .#{$jigsaw-progress}-top-label {
            font-size: 14px;
        }

        .#{$jigsaw-progress}-top-icon {
            font-size: 16px;
            margin-bottom: -4px;
        }
    }

    .#{$jigsaw-progress}-mark {
        padding-top: 4px;
        display: flex;
        justify-content: space-between;
        color: $font-color-hint;
    }

    &.#{$jigsaw-progress}-default {
        .#{$jigsaw-progress}-bar {
            .#{$jigsaw-progress}-bar-track {
                height: 6px;
                border-radius: 2px;
            }
        }
    }

    &.#{$jigsaw-progress}-small {
        .#{$jigsaw-progress}-bar {
            .#{$jigsaw-progress}-bar-track {
                height: 2px;
                border-radius: 1px;
            }
        }
    }

    &.#{$jigsaw-progress}-large {
        .#{$jigsaw-progress}-bar {
            .#{$jigsaw-progress}-bar-track {
                height: 64px;
                border-radius: 4px;
            }
        }
    }

    &.#{$jigsaw-progress}-processing {
        .#{$jigsaw-progress}-bar {
            .#{$jigsaw-progress}-bar-track {
                .#{$jigsaw-progress}-bar-track-value {
                    background: $primary-default;

                    .#{$jigsaw-progress}-bar-track-label-wrapper {
                        &.#{$jigsaw-progress}-bar-track-label-right {
                            color: $primary-default;
                        }
                    }
                }
            }

            .#{$jigsaw-progress}-bar-label-wrapper {
                .#{$jigsaw-progress}-bar-icon {
                    color: $primary-default;
                }
            }
        }

        .#{$jigsaw-progress}-top-label-wrapper {
            color: $primary-default;
        }
    }

    &.#{$jigsaw-progress}-block {
        .#{$jigsaw-progress}-bar {
            .#{$jigsaw-progress}-bar-track {
                .#{$jigsaw-progress}-bar-track-value {
                    background: $warning-default;

                    .#{$jigsaw-progress}-bar-track-label-wrapper {
                        &.#{$jigsaw-progress}-bar-track-label-right {
                            color: $warning-default;
                        }
                    }
                }
            }

            .#{$jigsaw-progress}-bar-label-wrapper {
                .#{$jigsaw-progress}-bar-icon {
                    color: $warning-default;
                }
            }
        }

        .#{$jigsaw-progress}-top-label-wrapper {
            color: $warning-default;
        }
    }

    &.#{$jigsaw-progress}-error {
        .#{$jigsaw-progress}-bar {
            .#{$jigsaw-progress}-bar-track {
                .#{$jigsaw-progress}-bar-track-value {
                    background: $error-default;

                    .#{$jigsaw-progress}-bar-track-label-wrapper {
                        &.#{$jigsaw-progress}-bar-track-label-right {
                            color: $error-default;
                        }
                    }
                }
            }

            .#{$jigsaw-progress}-bar-label-wrapper {
                .#{$jigsaw-progress}-bar-icon {
                    color: $error-default;
                }
            }
        }

        .#{$jigsaw-progress}-top-label-wrapper {
            color: $error-default;
        }
    }

    &.#{$jigsaw-progress}-success {
        .#{$jigsaw-progress}-bar {
            .#{$jigsaw-progress}-bar-track {
                .#{$jigsaw-progress}-bar-track-value {
                    background: $success-default;

                    .#{$jigsaw-progress}-bar-track-label-wrapper {
                        &.#{$jigsaw-progress}-bar-track-label-right {
                            color: $success-default;
                        }
                    }
                }
            }

            .#{$jigsaw-progress}-bar-label-wrapper {
                .#{$jigsaw-progress}-bar-icon {
                    color: $success-default;
                }
            }
        }

        .#{$jigsaw-progress}-top-label-wrapper {
            color: $success-default;
        }
    }
}
