@import "../../common/assets/scss/core/base";

$progress-prefix-cls: #{$jigsaw-prefix}-progress;

.#{$progress-prefix-cls} {
    @include inline-block();
    width: 200px;

    &-bar {
        display: flex;
        line-height: 1;
        align-items: center;

        &-track {
            flex: 1;
            height: 6px;
            border-radius: 2px;
            background: $border-color-split;
            overflow: hidden;

            .#{$progress-prefix-cls}-default & {
                height: 6px;
                border-radius: 2px;
            }

            .#{$progress-prefix-cls}-small & {
                height: 2px;
                border-radius: 1px;
            }

            .#{$progress-prefix-cls}-large & {
                height: 64px;
                border-radius: 4px;
            }

            &-value {
                height: 100%;
                background: $primary-color;
                position: relative;

                i {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    background: $primary-7;
                }

                .#{$progress-prefix-cls}-processing & {
                    background: $primary-color;
                }

                .#{$progress-prefix-cls}-block & {
                    background: $warning-color;
                }

                .#{$progress-prefix-cls}-error & {
                    background: $error-color;
                }

                .#{$progress-prefix-cls}-success & {
                    background: $success-color;
                }

            }

            &-label {
                position: absolute;
                top: 50%;
                right: 0;
                transform: translateY(-50%);
                font-size: 24px;
                padding: 0 8px;
            }

            &-label-left {
                color: $text-color-of-bg;
            }

            &-label-right {
                transform: translate(100%, -50%);
                color: $primary-color;

                .#{$progress-prefix-cls}-processing & {
                    color: $primary-color;
                }

                .#{$progress-prefix-cls}-block & {
                    color: $warning-color;
                }

                .#{$progress-prefix-cls}-error & {
                    color: $error-color;
                }

                .#{$progress-prefix-cls}-success & {
                    color: $success-color;
                }
            }
        }

        &-label {
            width: 40px;
            text-align: center;
            color: $text-color-dark;
        }

        &-icon {
            width: 40px;
            text-align: center;
            font-size: 16px;

            .#{$progress-prefix-cls}-processing & {
                color: $primary-color;
            }

            .#{$progress-prefix-cls}-block & {
                color: $warning-color;
            }

            .#{$progress-prefix-cls}-error & {
                color: $error-color;
            }

            .#{$progress-prefix-cls}-success & {
                color: $success-color;
            }
        }
    }

    &-label-top {
        text-align: center;
        color: $primary-color;
        font-size: 14px;
        padding-bottom: 4px;

        .#{$progress-prefix-cls}-processing & {
            color: $primary-color;
        }

        .#{$progress-prefix-cls}-block & {
            color: $warning-color;
        }

        .#{$progress-prefix-cls}-error & {
            color: $error-color;
        }

        .#{$progress-prefix-cls}-success & {
            color: $success-color;
        }
    }

    &-split {
        padding-top: 4px;
        display: flex;
        justify-content: space-between;
        color: $text-color-secondary;
    }
}
