$jigsaw-alert: #{$jigsaw-prefix}-alert;

.#{$jigsaw-alert}-host {
    display: inline-flex;
    width: 100%;

    .#{$jigsaw-alert} {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: relative;
        width: 480px;
        min-height: 200px;
        background: $bg-component;
        border-width: 1px;
        border-style: solid;
        border-color: $border-color-default;
        border-radius: $border-radius-base;

        .#{$jigsaw-alert}-head {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: $height-huge;
            padding: 0 16px;
            border-bottom-width: 1px;
            border-bottom-style: solid;
            border-bottom-color: $splitline-default;
            cursor: move;

            .#{$jigsaw-alert}-title {
                font-size: $font-title-lg;
                font-weight: bold;
                color: $font-color-heading-bold;
            }

            .#{$jigsaw-alert}-close {
                text-align: right;
                font-size: $icon-size-med;
                color: $icon-color-default;
                cursor: pointer;
                &:hover {
                    color: $brand-hover;
                }
            }
        }

        .#{$jigsaw-alert}-content {
            display: flex;
            justify-content: center;
            align-items: flex-start;
            padding: 18px 32px 10px 32px;
            max-height: 80vh;
            overflow: hidden;

            .content-icon {
                margin-right: 8px;
                font-size: $icon-size-status-lg;
                line-height: 1;

                &.center {
                    align-self: center;
                }
            }

            .content-text {
                display: flex;
                flex-direction: column;

                &.center {
                    align-self: center;
                }

                .content-main {
                    p {
                        font-size: $font-size-lg;
                        font-weight: bold;
                        line-height: $height-sm;
                        color: $font-color-heading-bold;
                    }
                }

                .content-sub {
                    width: 100%;
                    flex-grow: 0;

                    span {
                        font-size: $font-size-base;
                        color: $font-color-hint;
                        line-height: 18px;
                        word-break: break-word;
                        max-height: 60vh;
                    }
                }
            }
        }

        .#{$jigsaw-alert}-button-group {
            display: flex;
            justify-content: center;
            height: $height-base + 24px;

            jigsaw-button {
                margin-right: 8px;

                &:last-child {
                    margin-right: 0;
                }
            }

            div {
                display: inline-block;
            }
        }

        &.#{$jigsaw-alert}-info .#{$jigsaw-alert}-icon {
            color: $primary-default;
        }

        &.#{$jigsaw-alert}-warning .#{$jigsaw-alert}-icon {
            color: $warning-default;
        }

        &.#{$jigsaw-alert}-error .#{$jigsaw-alert}-icon {
            color: $error-default;
        }

        &.#{$jigsaw-alert}-confirm .#{$jigsaw-alert}-icon {
            color: $primary-default;
        }
    }
}
