@import "../../common/assets/scss/core/base";

$alert-prefix-cls: #{$jigsaw-prefix}-alert;

.#{$alert-prefix-cls}-host {
    // outline: 1px solid red;
    @include inline-block;
    width: 100%;
}

.#{$alert-prefix-cls} {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    min-width: 480px;
    min-height: 240px;
    background: $bg-component;
    border-radius: $border-radius-base;
    box-shadow: $box-shadow-alert;

    &-head {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: $height-huge;
        padding: 0 16px;
        border-bottom: 1px solid $splitline-color;
        cursor: move;
    }

    &-head &-icon {
        display: none;
        vertical-align: middle;
        font-size: 36px;
        margin: 0 16px 0 20px;
    }

    &-head &-title {
        @extend %title-bold-lv1;
    }

    &-head &-close {
        text-align: right;
        font-size: $icon-size-med;
        color: $icon-color-default;
        cursor: pointer;
        &:hover {
            color: $brand-hover;
        }
    }

    &-content {
        padding: 16px 0 0 56px;
    }

    &-info &-icon,
    &-info &-title {
        color: $primary-color;
    }

    &-warning &-icon,
    &-warning &-title {
        color: $warning-color;
    }

    &-error &-icon,
    &-error &-title {
        color: $error-color;
    }

    &-confirm &-icon,
    &-confirm &-title {
        color: $primary-color;
    }

    &-button-group {
        display: flex;
        justify-content: center;
        height: $height-base + 24px;
        jigsaw-button {
            // outline: 1px solid red;
            margin-right: 8px;
            &:last-child {
                margin-right: 0;
            }
        }
        div {
            display: inline-block;
        }
    }
}
