@import "./core/basc";

/*滚动条样式start*/
.mCSB_scrollTools{
    width: 10px;
}
.mCSB_container_wrapper{
    margin-right: 0;
    & > .mCSB_container {
        padding-right: 0;
    }
}
.mCSB_inside > .mCSB_container {
    margin-right: 0;
}
.mCS-minimal-dark.mCSB_scrollTools .mCSB_dragger_bar{
    background-color: lighten($primary-color, 40%) !important;
}
.mCS-minimal-dark.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
.mCS-minimal-dark.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar{
    background-color: lighten($primary-color, 30%) !important;
}
/*滚动条样式end*/

/*时间组件样式start*/
jigsaw-time{
    color: $text-color;
    .bootstrap-datetimepicker-widget table td.old, .bootstrap-datetimepicker-widget table td.new {
        color: $text-color-secondary;
    }

    .bootstrap-datetimepicker-widget table td.day{
        height: 14px;
        line-height: 14px;
    }

    .bootstrap-datetimepicker-widget .datepicker-decades tbody td span{
        display: none;
        &.decade {
            display: inline-block;
            line-height: 24px !important;
            width: 72px;
        }
    }

    .bootstrap-datetimepicker-widget table td span.active,
    .bootstrap-datetimepicker-widget table td.active,
    .bootstrap-datetimepicker-widget table td.active:hover,
    .jigsaw-time-box .bootstrap-datetimepicker-widget table tr.active td{
        background-color: $primary-color;
    }

    .bootstrap-datetimepicker-widget table th.picker-switch{
        font-weight: 700 !important;
    }
    .bootstrap-datetimepicker-widget table thead tr:first-child th{
        &:hover{
            background: none;
            color: $primary-color;
        }
        span.glyphicon{
            @include font-awesone();
            font-size: 16px;
            &.glyphicon-chevron-left:before{
                content: "\f104";
            }
            &.glyphicon-chevron-right:before{
                content: "\f105";
            }
        }

    }

    .bootstrap-datetimepicker-widget .picker-switch a[data-action]{
        color: $primary-color;
        &:hover{
            color: $primary-color-light;
        }
    }
    .bootstrap-datetimepicker-widget a[data-action]{
        color: #666;
        &:hover{
            color: $primary-color;
        }
    }

    .bootstrap-datetimepicker-widget .picker-switch td span{
        height: 24px;
        line-height: 24px;
        &.glyphicon{
            @include font-awesone();
            font-size: 14px;
            line-height: 24px;
            &.glyphicon-time:before{
                content: "\f017";
            }
            &.glyphicon-calendar:before{
                content: "\f073";
            }
        }
    }

    .bootstrap-datetimepicker-widget table td span{
        height: 24px;
        line-height: 24px;
    }

    .bootstrap-datetimepicker-widget table td a.btn span{
        &.glyphicon{
            @include font-awesone();
            font-size: 16px;
            line-height: 24px;
            &.glyphicon-chevron-up:before{
                content: "\f106";
            }
            &.glyphicon-chevron-down:before{
                content: "\f107";
            }
        }
    }

    .bootstrap-datetimepicker-widget .timepicker-hour,
    .bootstrap-datetimepicker-widget .timepicker-minute,
    .bootstrap-datetimepicker-widget .timepicker-second{
        font-weight: 400;
    }
}
/*时间组件样式end*/

/*zTree组件样式start*/
.ztree li span.button{
    @include font-awesone();
    background: none;
    font-size: 14px;
    color: $primary-color-light;
    &.ico_open{
        &:before{
            content: "\f07c";
        }
    }
    &.ico_close{
        &:before{
            content: "\f07b";
        }
    }
    &.ico_docu{
        &:before{
            content: "\f15c";
        }
    }
    &.chk{
        border: 1px solid $primary-color-light;
        border-radius: 2px;
        font-size: 12px;
        &.checkbox_true_full:before, &.checkbox_true_full_focus:before{
            content: "\f00c";
        }
    }
    &.edit{
        &:before{
            content: "\f044";
        }
    }
    &.remove{
        &:before{
            content: "\f014";
        }
    }
    &.noline_open, &.center_open, &.bottom_open, &.roots_open{
        &:before{
            content: "\f106";
        }
    }
    &.noline_close, &.center_close, &.bottom_close, &.roots_close{
        &:before{
            content: "\f107";
        }
    }
}
/*zTree组件样式end*/


