@import "./core/basc";

* {
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0); //  remove tap highlight color for mobile safari
}

*:before,
*:after {
    box-sizing: border-box;
}

body {
    font-family: $font-family !important;
    font-size: $font-size-base;
    line-height: $line-height-base;
    color: $text-color-lv2;
    background-color: $body-background;
}

// unify the setting of elements's margin and padding for browsers
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, hr, button, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    margin: 0;
    padding: 0;
}

// Reset fonts for relevant elements
button, input, select, textarea, span {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

ul,
ol {
    list-style: none;
}

// Remove the clear button of a text input control in IE10+
input::-ms-clear, input::-ms-reveal {
    display: none;
}

::selection {
    background: $primary-color;
    color: #fff;
}

// Links
a {
    color: $link-color;
    background: transparent;
    text-decoration: none;
    outline: none;
    cursor: pointer;
    transition: color .3s ease;

    &:hover {
        color: $link-hover-color;
    }

    &:active {
        color: $link-active-color;
    }

    &:active,
    &:hover {
        outline: 0;
        text-decoration: none;
    }

    &[disabled] {
        color: #ccc;
        cursor: not-allowed;
        pointer-events: none;
    }
}

code,
kbd,
pre,
samp {
    font-family: $code-family;
}
