<div class="live-demo-wrap">
    <h2>Radio</h2>
    <div class="demo-1 live-demo live-demo-block">
        <h3>数据是对象数组</h3>
        <p class="comment">数据是对象数组时必须输入<code>trackItemBy</code></p>
        <jigsaw-radios [(value)]="selectedCity" trackItemBy="name"
                       (valueChange)="radioChange($event)">
            <jigsaw-radio-option *ngFor="let item of citys" [value]="item">
                {{item.name}}
            </jigsaw-radio-option>
        </jigsaw-radios>
        <p class="message">选择的城市的ID号是: <span>{{selectedCity.name}}</span></p>
    </div>
    <div class="demo-2 live-demo live-demo-block">
        <h3>数据是字符串数组</h3>
        <p class="comment">数据是对象数组时不需要输入<code>trackItemBy</code></p>
        <jigsaw-radios [(value)]="selectedCity2">
            <jigsaw-radio-option *ngFor="let item of citys2" [value]="item">
                {{item}}
            </jigsaw-radio-option>
        </jigsaw-radios>
        <p class="message">选择的城市是: <span>{{selectedCity2}}</span></p>
    </div>

    <div class="demo-3 live-demo live-demo-block">
        <h3>复杂的场景</h3>
        <jigsaw-radios [(value)]="selectedGoods" trackItemBy="name"
                       (valueChange)="radioChange($event)">
            <jigsaw-radio-option *ngFor="let goods of goodsList" [value]="goods" [disabled]="!!goods.disabled">
                <div class="goods-box">
                    <span class="logo fa fa-{{goods.logo}}"></span>
                    <p>{{goods.desc}}</p>
                </div>
            </jigsaw-radio-option>


        </jigsaw-radios>
        <p class="message">选择的城市的ID号是: <span>{{selectedGoods.name}}</span></p>
    </div>
</div>

<style>
    .goods-box {
        height: 40px;
        cursor: pointer;
    }

    .goods-box .logo {
        display: inline-block;
        width: 40px;
        height: 40px;
        vertical-align: middle;
        margin: 0 4px;
        line-height: 40px;
        text-align: center;
        font-size: 26px;
    }

    .goods-box p {
        display: inline-block;
        vertical-align: middle;
        width: 200px;
        height: 40px;
        overflow: hidden;
        line-height: 1.5;
        padding: 3px 0 4px;
    }

</style>

