<style>
    label {
        width: 80px;
        text-align: right;
    }
    fieldset div {
        padding-bottom: 6px;
    }
</style>
<form #form="ngForm" (ngSubmit)="submit(form.value)">
    <fieldset ngModelGroup="name">
        <div>
            <label>First Nname:</label>
            <jigsaw-input [ngModel]="firstName" width="200px" name="firstname" ></jigsaw-input>
        </div>

        <div>
            <label>Last Name:</label>
            <jigsaw-input width="200px" name="lastname" ngModel></jigsaw-input>
        </div>
    </fieldset>
    <div>
        <label></label>
        <jigsaw-checkbox [ngModel]="remember" name="remember" >Remember me</jigsaw-checkbox>
    </div>

    <div style="padding-top: 12px;">
        <label></label>
        <button jigsaw-button type="submit" colorType="primary">Submit</button>

        <jigsaw-button colorType="primary">submit</jigsaw-button>
    </div>
</form>

<p style="padding-top: 12px;">Click submit, and the form value should be shown here:</p>
<p>{{formValue|json}}</p>
