<form>
    <label>Name</label>
    <jigsaw-input required name="name" [(value)]="nameValue"></jigsaw-input>
    <div *ngIf="name.invalid && (name.dirty || name.touched)"
         class="alert alert-danger">

        <div *ngIf="name.errors.required">
            Name is required.
        </div>
        <div *ngIf="name.errors.minlength">
            Name must be at least 4 characters long.
        </div>
        <div *ngIf="name.errors.forbiddenName">
            Name cannot be Bob.
        </div>

    </div>
</form>
