<!-- ignore the following lines, they are not important to this demo -->
<jigsaw-demo-description [summary]="summary" [content]="description">
</jigsaw-demo-description>


<!-- start to learn the demo from here -->
<div class="demo-basic">
    <jigsaw-header class="main-header" [level]="1">Upload</jigsaw-header>
    <section>
        <jigsaw-header [level]="2">注意！</jigsaw-header>
        <p>
            为了便于便于应用在更多的场合实现文件上传功能，<b>文件上传功能</b>与<b>文件上传结果显示功能</b>两部分可以单独使用，
            其中执行上传功能的部分以 <code>j-upload</code> / <code>jigsaw-upload</code> 指令的形式存在，详情请 <a
                href="/#/pc/upload/directive">参考这个demo</a>。
        </p>
        <p>
            结果展示的功能，则以<code>j-upload-result</code> / <code>jigsaw-upload-result</code> 组件的形式存在，
            详情请 <a href="/#/pc/upload/upload-result">参考这个demo</a>。
        </p>
    </section>
    <section class="demo-cntr">
        <div class="demo-1">
            <jigsaw-header>上传组件</jigsaw-header>
            <jigsaw-upload width="300px" (start)="uploadStart($event)"
                (dataSendProgress)="uploadDataSendProgress($event)" (progress)="uploadProgress($event)"
                (complete)="uploadComplete($event)" (change)="uploadChange($event)" (remove)="uploadRemove($event)">
            </jigsaw-upload>
        </div>

        <div class="demo-2">
            <jigsaw-header>仅支持单个文件</jigsaw-header>
            <jigsaw-upload width="300px" [uploadMultiple]="false"></jigsaw-upload>
        </div>

        <div class="demo-3">
            <jigsaw-header>不显示结果</jigsaw-header>
            <jigsaw-upload width="300px" [showResult]="false"></jigsaw-upload>
        </div>

        <div class="demo-4">
            <jigsaw-header>配置文件类型</jigsaw-header>
            <jigsaw-radios-lite [(value)]="fileType" [data]="['.png', '.docx', '.json', '.png, .jpg', '.txt']">
            </jigsaw-radios-lite>
            <jigsaw-upload width="300px" [uploadFileType]="fileType"></jigsaw-upload>
        </div>

        <div class="demo-6">
            <jigsaw-header>手动上传</jigsaw-header>
            <a (click)="uploader6.upload()">点击上传</a>
            <span>批量模式</span>
            <jigsaw-switch [(checked)]="_$batchMode"></jigsaw-switch>
            <jigsaw-upload width="300px" #demo6 [uploadImmediately]="false" [uploadBatchMode] = "_$batchMode"></jigsaw-upload>
        </div>

        <div class="demo-7">
            <jigsaw-header>手动清空</jigsaw-header>
            <a (click)="uploader7.clear()">点击清空</a>
            <jigsaw-upload width="300px" #demo7 [uploadImmediately]="false"></jigsaw-upload>
        </div>

        <div class="demo-5">
            <jigsaw-header>自定义宽高</jigsaw-header>
            <jigsaw-upload width="100%" height="400px"></jigsaw-upload>
        </div>
    </section>
</div>