<!-- ignore the following lines, they are not important to this demo -->
<jigsaw-demo-description [summary]="summary" [content]="description">
</jigsaw-demo-description>


<!-- start to learn the demo from here -->
<div class="live-demo-wrap">
    <jigsaw-header [level]="1">Box</jigsaw-header>
    <div class="demo-1 live-demo">
        <jigsaw-header [level]="2">性能</jigsaw-header>
        <j-box height="calc(100vh - 170px)" width="100%" direction="v" [resizable]="true">
            <j-box direction="h" [resizable]="true">
                <j-box direction="v" [resizable]="true">
                    <j-box grow="1">
                        <jigsaw-graph [data]="pieGraphData" height="400"></jigsaw-graph>
                    </j-box>
                    <j-box direction="h" grow="2" [resizable]="true">
                        <j-box grow="1">
                            <jigsaw-graph [data]="pieGraphData" height="400"></jigsaw-graph>
                        </j-box>
                        <j-box direction="v" grow="2" [resizable]="true">
                            <j-box grow="1">
                                <jigsaw-graph [data]="pieGraphData" height="400"></jigsaw-graph>
                            </j-box>
                            <j-box direction="h" grow="2" [resizable]="true">
                                <j-box grow="1">
                                    <jigsaw-graph [data]="pieGraphData" height="400"></jigsaw-graph>
                                </j-box>
                                <j-box direction="v" grow="2" [resizable]="true">
                                    <j-box grow="1">
                                        <jigsaw-graph [data]="pieGraphData" height="400"></jigsaw-graph>
                                    </j-box>
                                    <j-box direction="h" grow="2" [resizable]="true">
                                        <j-box grow="1">
                                            <jigsaw-graph [data]="pieGraphData" height="400"></jigsaw-graph>
                                        </j-box>
                                        <j-box direction="h" grow="2" [resizable]="true">
                                            <jigsaw-graph [data]="pieGraphData" height="400"></jigsaw-graph>
                                        </j-box>
                                        <j-box grow="1">
                                            <jigsaw-graph [data]="pieGraphData" height="400"></jigsaw-graph>
                                        </j-box>
                                    </j-box>
                                    <j-box grow="1">
                                        <jigsaw-graph [data]="pieGraphData" height="400"></jigsaw-graph>
                                    </j-box>
                                </j-box>
                                <j-box grow="1">
                                    <jigsaw-graph [data]="pieGraphData" height="400"></jigsaw-graph>
                                </j-box>
                            </j-box>
                            <j-box grow="1">
                                <jigsaw-graph [data]="pieGraphData" height="400"></jigsaw-graph>
                            </j-box>
                        </j-box>
                        <j-box grow="1">
                            <jigsaw-graph [data]="pieGraphData" height="400"></jigsaw-graph>
                        </j-box>
                    </j-box>
                    <j-box grow="1">
                        <jigsaw-graph [data]="pieGraphData" height="400"></jigsaw-graph>
                    </j-box>
                </j-box>
                <j-box direction="v" [resizable]="true">
                    <j-box grow="1">
                        <jigsaw-graph [data]="pieGraphData" height="400"></jigsaw-graph>
                    </j-box>
                    <j-box direction="h" grow="2" [resizable]="true">
                        <j-box grow="1">
                            <jigsaw-graph [data]="pieGraphData" height="400"></jigsaw-graph>
                        </j-box>
                        <j-box direction="v" grow="2" [resizable]="true">
                            <j-box grow="1">
                                <jigsaw-graph [data]="pieGraphData" height="400"></jigsaw-graph>
                            </j-box>
                            <j-box direction="h" grow="2" [resizable]="true">
                                <j-box grow="1">
                                    <jigsaw-graph [data]="pieGraphData" height="400"></jigsaw-graph>
                                </j-box>
                                <j-box direction="v" grow="2" [resizable]="true">
                                    <j-box grow="1">
                                        <jigsaw-graph [data]="pieGraphData" height="400"></jigsaw-graph>
                                    </j-box>
                                    <j-box direction="h" grow="2" [resizable]="true">
                                        <j-box grow="1">
                                            <jigsaw-graph [data]="pieGraphData" height="400"></jigsaw-graph>
                                        </j-box>
                                        <j-box direction="h" grow="2" [resizable]="true">
                                            <jigsaw-graph [data]="pieGraphData" height="400"></jigsaw-graph>
                                        </j-box>
                                        <j-box grow="1">
                                            <jigsaw-graph [data]="pieGraphData" height="400"></jigsaw-graph>
                                        </j-box>
                                    </j-box>
                                    <j-box grow="1">
                                        <jigsaw-graph [data]="pieGraphData" height="400"></jigsaw-graph>
                                    </j-box>
                                </j-box>
                                <j-box grow="1">
                                    <jigsaw-graph [data]="pieGraphData" height="400"></jigsaw-graph>
                                </j-box>
                            </j-box>
                            <j-box grow="1">
                                <jigsaw-graph [data]="pieGraphData" height="400"></jigsaw-graph>
                            </j-box>
                        </j-box>
                        <j-box grow="1">
                            <jigsaw-graph [data]="pieGraphData" height="400"></jigsaw-graph>
                        </j-box>
                    </j-box>
                    <j-box grow="1">
                        <jigsaw-graph [data]="pieGraphData" height="400"></jigsaw-graph>
                    </j-box>
                </j-box>
                <j-box direction="v" [resizable]="true">
                    <j-box grow="1">
                        <jigsaw-graph [data]="pieGraphData" height="400"></jigsaw-graph>
                    </j-box>
                    <j-box direction="h" grow="2" [resizable]="true">
                        <j-box grow="1">
                            <jigsaw-graph [data]="pieGraphData" height="400"></jigsaw-graph>
                        </j-box>
                        <j-box direction="v" grow="2" [resizable]="true">
                            <j-box grow="1">
                                <jigsaw-graph [data]="pieGraphData" height="400"></jigsaw-graph>
                            </j-box>
                            <j-box direction="h" grow="2" [resizable]="true">
                                <j-box grow="1">
                                    <jigsaw-graph [data]="pieGraphData" height="400"></jigsaw-graph>
                                </j-box>
                                <j-box direction="v" grow="2" [resizable]="true">
                                    <j-box grow="1">
                                        <jigsaw-graph [data]="pieGraphData" height="400"></jigsaw-graph>
                                    </j-box>
                                    <j-box direction="h" grow="2" [resizable]="true">
                                        <j-box grow="1">
                                            <jigsaw-graph [data]="pieGraphData" height="400"></jigsaw-graph>
                                        </j-box>
                                        <j-box direction="h" grow="2" [resizable]="true">
                                            <jigsaw-graph [data]="pieGraphData" height="400"></jigsaw-graph>
                                        </j-box>
                                        <j-box grow="1">
                                            <jigsaw-graph [data]="pieGraphData" height="400"></jigsaw-graph>
                                        </j-box>
                                    </j-box>
                                    <j-box grow="1">
                                        <jigsaw-graph [data]="pieGraphData" height="400"></jigsaw-graph>
                                    </j-box>
                                </j-box>
                                <j-box grow="1">
                                    <jigsaw-graph [data]="pieGraphData" height="400"></jigsaw-graph>
                                </j-box>
                            </j-box>
                            <j-box grow="1">
                                <jigsaw-graph [data]="pieGraphData" height="400"></jigsaw-graph>
                            </j-box>
                        </j-box>
                        <j-box grow="1">
                            <jigsaw-graph [data]="pieGraphData" height="400"></jigsaw-graph>
                        </j-box>
                    </j-box>
                    <j-box grow="1">
                        <jigsaw-graph [data]="pieGraphData" height="400"></jigsaw-graph>
                    </j-box>
                </j-box>
            </j-box>
            <j-box direction="h" [resizable]="true">
                <j-box direction="v" [resizable]="true">
                    <j-box grow="1">
                        <jigsaw-graph [data]="pieGraphData" height="400"></jigsaw-graph>
                    </j-box>
                    <j-box direction="h" grow="2" [resizable]="true">
                        <j-box grow="1">
                            <jigsaw-graph [data]="pieGraphData" height="400"></jigsaw-graph>
                        </j-box>
                        <j-box direction="v" grow="2" [resizable]="true">
                            <j-box grow="1">
                                <jigsaw-graph [data]="pieGraphData" height="400"></jigsaw-graph>
                            </j-box>
                            <j-box direction="h" grow="2" [resizable]="true">
                                <j-box grow="1">
                                    <jigsaw-graph [data]="pieGraphData" height="400"></jigsaw-graph>
                                </j-box>
                                <j-box direction="v" grow="2" [resizable]="true">
                                    <j-box grow="1">
                                        <jigsaw-graph [data]="pieGraphData" height="400"></jigsaw-graph>
                                    </j-box>
                                    <j-box direction="h" grow="2" [resizable]="true">
                                        <j-box grow="1">
                                            <jigsaw-graph [data]="pieGraphData" height="400"></jigsaw-graph>
                                        </j-box>
                                        <j-box direction="h" grow="2" [resizable]="true">
                                            <jigsaw-graph [data]="pieGraphData" height="400"></jigsaw-graph>
                                        </j-box>
                                        <j-box grow="1">
                                            <jigsaw-graph [data]="pieGraphData" height="400"></jigsaw-graph>
                                        </j-box>
                                    </j-box>
                                    <j-box grow="1">
                                        <jigsaw-graph [data]="pieGraphData" height="400"></jigsaw-graph>
                                    </j-box>
                                </j-box>
                                <j-box grow="1">
                                    <jigsaw-graph [data]="pieGraphData" height="400"></jigsaw-graph>
                                </j-box>
                            </j-box>
                            <j-box grow="1">
                                <jigsaw-graph [data]="pieGraphData" height="400"></jigsaw-graph>
                            </j-box>
                        </j-box>
                        <j-box grow="1">
                            <jigsaw-graph [data]="pieGraphData" height="400"></jigsaw-graph>
                        </j-box>
                    </j-box>
                    <j-box grow="1">
                        <jigsaw-graph [data]="pieGraphData" height="400"></jigsaw-graph>
                    </j-box>
                </j-box>
                <j-box direction="v" [resizable]="true">
                    <j-box grow="1">
                        <jigsaw-graph [data]="pieGraphData" height="400"></jigsaw-graph>
                    </j-box>
                    <j-box direction="h" grow="2" [resizable]="true">
                        <j-box grow="1">
                            <jigsaw-graph [data]="pieGraphData" height="400"></jigsaw-graph>
                        </j-box>
                        <j-box direction="v" grow="2" [resizable]="true">
                            <j-box grow="1">
                                <jigsaw-graph [data]="pieGraphData" height="400"></jigsaw-graph>
                            </j-box>
                            <j-box direction="h" grow="2" [resizable]="true">
                                <j-box grow="1">
                                    <jigsaw-graph [data]="pieGraphData" height="400"></jigsaw-graph>
                                </j-box>
                                <j-box direction="v" grow="2" [resizable]="true">
                                    <j-box grow="1">
                                        <jigsaw-graph [data]="pieGraphData" height="400"></jigsaw-graph>
                                    </j-box>
                                    <j-box direction="h" grow="2" [resizable]="true">
                                        <j-box grow="1">
                                            <jigsaw-graph [data]="pieGraphData" height="400"></jigsaw-graph>
                                        </j-box>
                                        <j-box direction="h" grow="2" [resizable]="true">
                                            <jigsaw-graph [data]="pieGraphData" height="400"></jigsaw-graph>
                                        </j-box>
                                        <j-box grow="1">
                                            <jigsaw-graph [data]="pieGraphData" height="400"></jigsaw-graph>
                                        </j-box>
                                    </j-box>
                                    <j-box grow="1">
                                        <jigsaw-graph [data]="pieGraphData" height="400"></jigsaw-graph>
                                    </j-box>
                                </j-box>
                                <j-box grow="1">
                                    <jigsaw-graph [data]="pieGraphData" height="400"></jigsaw-graph>
                                </j-box>
                            </j-box>
                            <j-box grow="1">
                                <jigsaw-graph [data]="pieGraphData" height="400"></jigsaw-graph>
                            </j-box>
                        </j-box>
                        <j-box grow="1">
                            <jigsaw-graph [data]="pieGraphData" height="400"></jigsaw-graph>
                        </j-box>
                    </j-box>
                    <j-box grow="1">
                        <jigsaw-graph [data]="pieGraphData" height="400"></jigsaw-graph>
                    </j-box>
                </j-box>
                <j-box direction="v" [resizable]="true">
                    <j-box grow="1">
                        <jigsaw-graph [data]="pieGraphData" height="400"></jigsaw-graph>
                    </j-box>
                    <j-box direction="h" grow="2" [resizable]="true">
                        <j-box grow="1">
                            <jigsaw-graph [data]="pieGraphData" height="400"></jigsaw-graph>
                        </j-box>
                        <j-box direction="v" grow="2" [resizable]="true">
                            <j-box grow="1">
                                <jigsaw-graph [data]="pieGraphData" height="400"></jigsaw-graph>
                            </j-box>
                            <j-box direction="h" grow="2" [resizable]="true">
                                <j-box grow="1">
                                    <jigsaw-graph [data]="pieGraphData" height="400"></jigsaw-graph>
                                </j-box>
                                <j-box direction="v" grow="2" [resizable]="true">
                                    <j-box grow="1">
                                        <jigsaw-graph [data]="pieGraphData" height="400"></jigsaw-graph>
                                    </j-box>
                                    <j-box direction="h" grow="2" [resizable]="true">
                                        <j-box grow="1">
                                            <jigsaw-graph [data]="pieGraphData" height="400"></jigsaw-graph>
                                        </j-box>
                                        <j-box direction="h" grow="2" [resizable]="true">
                                            <jigsaw-graph [data]="pieGraphData" height="400"></jigsaw-graph>
                                        </j-box>
                                        <j-box grow="1">
                                            <jigsaw-graph [data]="pieGraphData" height="400"></jigsaw-graph>
                                        </j-box>
                                    </j-box>
                                    <j-box grow="1">
                                        <jigsaw-graph [data]="pieGraphData" height="400"></jigsaw-graph>
                                    </j-box>
                                </j-box>
                                <j-box grow="1">
                                    <jigsaw-graph [data]="pieGraphData" height="400"></jigsaw-graph>
                                </j-box>
                            </j-box>
                            <j-box grow="1">
                                <jigsaw-graph [data]="pieGraphData" height="400"></jigsaw-graph>
                            </j-box>
                        </j-box>
                        <j-box grow="1">
                            <jigsaw-graph [data]="pieGraphData" height="400"></jigsaw-graph>
                        </j-box>
                    </j-box>
                    <j-box grow="1">
                        <jigsaw-graph [data]="pieGraphData" height="400"></jigsaw-graph>
                    </j-box>
                </j-box>
            </j-box>
            <j-box direction="h" [resizable]="true">
                <j-box direction="v" [resizable]="true">
                    <j-box grow="1">
                        <jigsaw-graph [data]="pieGraphData" height="400"></jigsaw-graph>
                    </j-box>
                    <j-box direction="h" grow="2" [resizable]="true">
                        <j-box grow="1">
                            <jigsaw-graph [data]="pieGraphData" height="400"></jigsaw-graph>
                        </j-box>
                        <j-box direction="v" grow="2" [resizable]="true">
                            <j-box grow="1">
                                <jigsaw-graph [data]="pieGraphData" height="400"></jigsaw-graph>
                            </j-box>
                            <j-box direction="h" grow="2" [resizable]="true">
                                <j-box grow="1">
                                    <jigsaw-graph [data]="pieGraphData" height="400"></jigsaw-graph>
                                </j-box>
                                <j-box direction="v" grow="2" [resizable]="true">
                                    <j-box grow="1">
                                        <jigsaw-graph [data]="pieGraphData" height="400"></jigsaw-graph>
                                    </j-box>
                                    <j-box direction="h" grow="2" [resizable]="true">
                                        <j-box grow="1">
                                            <jigsaw-graph [data]="pieGraphData" height="400"></jigsaw-graph>
                                        </j-box>
                                        <j-box direction="h" grow="2" [resizable]="true">
                                            <jigsaw-graph [data]="pieGraphData" height="400"></jigsaw-graph>
                                        </j-box>
                                        <j-box grow="1">
                                            <jigsaw-graph [data]="pieGraphData" height="400"></jigsaw-graph>
                                        </j-box>
                                    </j-box>
                                    <j-box grow="1">
                                        <jigsaw-graph [data]="pieGraphData" height="400"></jigsaw-graph>
                                    </j-box>
                                </j-box>
                                <j-box grow="1">
                                    <jigsaw-graph [data]="pieGraphData" height="400"></jigsaw-graph>
                                </j-box>
                            </j-box>
                            <j-box grow="1">
                                <jigsaw-graph [data]="pieGraphData" height="400"></jigsaw-graph>
                            </j-box>
                        </j-box>
                        <j-box grow="1">
                            <jigsaw-graph [data]="pieGraphData" height="400"></jigsaw-graph>
                        </j-box>
                    </j-box>
                    <j-box grow="1">
                        <jigsaw-graph [data]="pieGraphData" height="400"></jigsaw-graph>
                    </j-box>
                </j-box>
                <j-box direction="v" [resizable]="true">
                    <j-box grow="1">
                        <jigsaw-graph [data]="pieGraphData" height="400"></jigsaw-graph>
                    </j-box>
                    <j-box direction="h" grow="2" [resizable]="true">
                        <j-box grow="1">
                            <jigsaw-graph [data]="pieGraphData" height="400"></jigsaw-graph>
                        </j-box>
                        <j-box direction="v" grow="2" [resizable]="true">
                            <j-box grow="1">
                                <jigsaw-graph [data]="pieGraphData" height="400"></jigsaw-graph>
                            </j-box>
                            <j-box direction="h" grow="2" [resizable]="true">
                                <j-box grow="1">
                                    <jigsaw-graph [data]="pieGraphData" height="400"></jigsaw-graph>
                                </j-box>
                                <j-box direction="v" grow="2" [resizable]="true">
                                    <j-box grow="1">
                                        <jigsaw-graph [data]="pieGraphData" height="400"></jigsaw-graph>
                                    </j-box>
                                    <j-box direction="h" grow="2" [resizable]="true">
                                        <j-box grow="1">
                                            <jigsaw-graph [data]="pieGraphData" height="400"></jigsaw-graph>
                                        </j-box>
                                        <j-box direction="h" grow="2" [resizable]="true">
                                            <jigsaw-graph [data]="pieGraphData" height="400"></jigsaw-graph>
                                        </j-box>
                                        <j-box grow="1">
                                            <jigsaw-graph [data]="pieGraphData" height="400"></jigsaw-graph>
                                        </j-box>
                                    </j-box>
                                    <j-box grow="1">
                                        <jigsaw-graph [data]="pieGraphData" height="400"></jigsaw-graph>
                                    </j-box>
                                </j-box>
                                <j-box grow="1">
                                    <jigsaw-graph [data]="pieGraphData" height="400"></jigsaw-graph>
                                </j-box>
                            </j-box>
                            <j-box grow="1">
                                <jigsaw-graph [data]="pieGraphData" height="400"></jigsaw-graph>
                            </j-box>
                        </j-box>
                        <j-box grow="1">
                            <jigsaw-graph [data]="pieGraphData" height="400"></jigsaw-graph>
                        </j-box>
                    </j-box>
                    <j-box grow="1">
                        <jigsaw-graph [data]="pieGraphData" height="400"></jigsaw-graph>
                    </j-box>
                </j-box>
                <j-box direction="v" [resizable]="true">
                    <j-box grow="1">
                        <jigsaw-graph [data]="pieGraphData" height="400"></jigsaw-graph>
                    </j-box>
                    <j-box direction="h" grow="2" [resizable]="true">
                        <j-box grow="1">
                            <jigsaw-graph [data]="pieGraphData" height="400"></jigsaw-graph>
                        </j-box>
                        <j-box direction="v" grow="2" [resizable]="true">
                            <j-box grow="1">
                                <jigsaw-graph [data]="pieGraphData" height="400"></jigsaw-graph>
                            </j-box>
                            <j-box direction="h" grow="2" [resizable]="true">
                                <j-box grow="1">
                                    <jigsaw-graph [data]="pieGraphData" height="400"></jigsaw-graph>
                                </j-box>
                                <j-box direction="v" grow="2" [resizable]="true">
                                    <j-box grow="1">
                                        <jigsaw-graph [data]="pieGraphData" height="400"></jigsaw-graph>
                                    </j-box>
                                    <j-box direction="h" grow="2" [resizable]="true">
                                        <j-box grow="1">
                                            <jigsaw-graph [data]="pieGraphData" height="400"></jigsaw-graph>
                                        </j-box>
                                        <j-box direction="h" grow="2" [resizable]="true">
                                            <jigsaw-graph [data]="pieGraphData" height="400"></jigsaw-graph>
                                        </j-box>
                                        <j-box grow="1">
                                            <jigsaw-graph [data]="pieGraphData" height="400"></jigsaw-graph>
                                        </j-box>
                                    </j-box>
                                    <j-box grow="1">
                                        <jigsaw-graph [data]="pieGraphData" height="400"></jigsaw-graph>
                                    </j-box>
                                </j-box>
                                <j-box grow="1">
                                    <jigsaw-graph [data]="pieGraphData" height="400"></jigsaw-graph>
                                </j-box>
                            </j-box>
                            <j-box grow="1">
                                <jigsaw-graph [data]="pieGraphData" height="400"></jigsaw-graph>
                            </j-box>
                        </j-box>
                        <j-box grow="1">
                            <jigsaw-graph [data]="pieGraphData" height="400"></jigsaw-graph>
                        </j-box>
                    </j-box>
                    <j-box grow="1">
                        <jigsaw-graph [data]="pieGraphData" height="400"></jigsaw-graph>
                    </j-box>
                </j-box>
            </j-box>
            <j-box direction="h" [resizable]="true">
                <j-box direction="v" [resizable]="true">
                    <j-box grow="1">
                        <jigsaw-graph [data]="pieGraphData" height="400"></jigsaw-graph>
                    </j-box>
                    <j-box direction="h" grow="2" [resizable]="true">
                        <j-box grow="1">
                            <jigsaw-graph [data]="pieGraphData" height="400"></jigsaw-graph>
                        </j-box>
                        <j-box direction="v" grow="2" [resizable]="true">
                            <j-box grow="1">
                                <jigsaw-graph [data]="pieGraphData" height="400"></jigsaw-graph>
                            </j-box>
                            <j-box direction="h" grow="2" [resizable]="true">
                                <j-box grow="1">
                                    <jigsaw-graph [data]="pieGraphData" height="400"></jigsaw-graph>
                                </j-box>
                                <j-box direction="v" grow="2" [resizable]="true">
                                    <j-box grow="1">
                                        <jigsaw-graph [data]="pieGraphData" height="400"></jigsaw-graph>
                                    </j-box>
                                    <j-box direction="h" grow="2" [resizable]="true">
                                        <j-box grow="1">
                                            <jigsaw-graph [data]="pieGraphData" height="400"></jigsaw-graph>
                                        </j-box>
                                        <j-box direction="h" grow="2" [resizable]="true">
                                            <jigsaw-graph [data]="pieGraphData" height="400"></jigsaw-graph>
                                        </j-box>
                                        <j-box grow="1">
                                            <jigsaw-graph [data]="pieGraphData" height="400"></jigsaw-graph>
                                        </j-box>
                                    </j-box>
                                    <j-box grow="1">
                                        <jigsaw-graph [data]="pieGraphData" height="400"></jigsaw-graph>
                                    </j-box>
                                </j-box>
                                <j-box grow="1">
                                    <jigsaw-graph [data]="pieGraphData" height="400"></jigsaw-graph>
                                </j-box>
                            </j-box>
                            <j-box grow="1">
                                <jigsaw-graph [data]="pieGraphData" height="400"></jigsaw-graph>
                            </j-box>
                        </j-box>
                        <j-box grow="1">
                            <jigsaw-graph [data]="pieGraphData" height="400"></jigsaw-graph>
                        </j-box>
                    </j-box>
                    <j-box grow="1">
                        <jigsaw-graph [data]="pieGraphData" height="400"></jigsaw-graph>
                    </j-box>
                </j-box>
                <j-box direction="v" [resizable]="true">
                    <j-box grow="1">
                        <jigsaw-graph [data]="pieGraphData" height="400"></jigsaw-graph>
                    </j-box>
                    <j-box direction="h" grow="2" [resizable]="true">
                        <j-box grow="1">
                            <jigsaw-graph [data]="pieGraphData" height="400"></jigsaw-graph>
                        </j-box>
                        <j-box direction="v" grow="2" [resizable]="true">
                            <j-box grow="1">
                                <jigsaw-graph [data]="pieGraphData" height="400"></jigsaw-graph>
                            </j-box>
                            <j-box direction="h" grow="2" [resizable]="true">
                                <j-box grow="1">
                                    <jigsaw-graph [data]="pieGraphData" height="400"></jigsaw-graph>
                                </j-box>
                                <j-box direction="v" grow="2" [resizable]="true">
                                    <j-box grow="1">
                                        <jigsaw-graph [data]="pieGraphData" height="400"></jigsaw-graph>
                                    </j-box>
                                    <j-box direction="h" grow="2" [resizable]="true">
                                        <j-box grow="1">
                                            <jigsaw-graph [data]="pieGraphData" height="400"></jigsaw-graph>
                                        </j-box>
                                        <j-box direction="h" grow="2" [resizable]="true">
                                            <jigsaw-graph [data]="pieGraphData" height="400"></jigsaw-graph>
                                        </j-box>
                                        <j-box grow="1">
                                            <jigsaw-graph [data]="pieGraphData" height="400"></jigsaw-graph>
                                        </j-box>
                                    </j-box>
                                    <j-box grow="1">
                                        <jigsaw-graph [data]="pieGraphData" height="400"></jigsaw-graph>
                                    </j-box>
                                </j-box>
                                <j-box grow="1">
                                    <jigsaw-graph [data]="pieGraphData" height="400"></jigsaw-graph>
                                </j-box>
                            </j-box>
                            <j-box grow="1">
                                <jigsaw-graph [data]="pieGraphData" height="400"></jigsaw-graph>
                            </j-box>
                        </j-box>
                        <j-box grow="1">
                            <jigsaw-graph [data]="pieGraphData" height="400"></jigsaw-graph>
                        </j-box>
                    </j-box>
                    <j-box grow="1">
                        <jigsaw-graph [data]="pieGraphData" height="400"></jigsaw-graph>
                    </j-box>
                </j-box>
                <j-box direction="v" [resizable]="true">
                    <j-box grow="1">
                        <jigsaw-graph [data]="pieGraphData" height="400"></jigsaw-graph>
                    </j-box>
                    <j-box direction="h" grow="2" [resizable]="true">
                        <j-box grow="1">
                            <jigsaw-graph [data]="pieGraphData" height="400"></jigsaw-graph>
                        </j-box>
                        <j-box direction="v" grow="2" [resizable]="true">
                            <j-box grow="1">
                                <jigsaw-graph [data]="pieGraphData" height="400"></jigsaw-graph>
                            </j-box>
                            <j-box direction="h" grow="2" [resizable]="true">
                                <j-box grow="1">
                                    <jigsaw-graph [data]="pieGraphData" height="400"></jigsaw-graph>
                                </j-box>
                                <j-box direction="v" grow="2" [resizable]="true">
                                    <j-box grow="1">
                                        <jigsaw-graph [data]="pieGraphData" height="400"></jigsaw-graph>
                                    </j-box>
                                    <j-box direction="h" grow="2" [resizable]="true">
                                        <j-box grow="1">
                                            <jigsaw-graph [data]="pieGraphData" height="400"></jigsaw-graph>
                                        </j-box>
                                        <j-box direction="h" grow="2" [resizable]="true">
                                            <jigsaw-graph [data]="pieGraphData" height="400"></jigsaw-graph>
                                        </j-box>
                                        <j-box grow="1">
                                            <jigsaw-graph [data]="pieGraphData" height="400"></jigsaw-graph>
                                        </j-box>
                                    </j-box>
                                    <j-box grow="1">
                                        <jigsaw-graph [data]="pieGraphData" height="400"></jigsaw-graph>
                                    </j-box>
                                </j-box>
                                <j-box grow="1">
                                    <jigsaw-graph [data]="pieGraphData" height="400"></jigsaw-graph>
                                </j-box>
                            </j-box>
                            <j-box grow="1">
                                <jigsaw-graph [data]="pieGraphData" height="400"></jigsaw-graph>
                            </j-box>
                        </j-box>
                        <j-box grow="1">
                            <jigsaw-graph [data]="pieGraphData" height="400"></jigsaw-graph>
                        </j-box>
                    </j-box>
                    <j-box grow="1">
                        <jigsaw-graph [data]="pieGraphData" height="400"></jigsaw-graph>
                    </j-box>
                </j-box>
            </j-box>
            <j-box direction="h" [resizable]="true">
                <j-box direction="v" [resizable]="true">
                    <j-box grow="1">
                        <jigsaw-graph [data]="pieGraphData" height="400"></jigsaw-graph>
                    </j-box>
                    <j-box direction="h" grow="2" [resizable]="true">
                        <j-box grow="1">
                            <jigsaw-graph [data]="pieGraphData" height="400"></jigsaw-graph>
                        </j-box>
                        <j-box direction="v" grow="2" [resizable]="true">
                            <j-box grow="1">
                                <jigsaw-graph [data]="pieGraphData" height="400"></jigsaw-graph>
                            </j-box>
                            <j-box direction="h" grow="2" [resizable]="true">
                                <j-box grow="1">
                                    <jigsaw-graph [data]="pieGraphData" height="400"></jigsaw-graph>
                                </j-box>
                                <j-box direction="v" grow="2" [resizable]="true">
                                    <j-box grow="1">
                                        <jigsaw-graph [data]="pieGraphData" height="400"></jigsaw-graph>
                                    </j-box>
                                    <j-box direction="h" grow="2" [resizable]="true">
                                        <j-box grow="1">
                                            <jigsaw-graph [data]="pieGraphData" height="400"></jigsaw-graph>
                                        </j-box>
                                        <j-box direction="h" grow="2" [resizable]="true">
                                            <jigsaw-graph [data]="pieGraphData" height="400"></jigsaw-graph>
                                        </j-box>
                                        <j-box grow="1">
                                            <jigsaw-graph [data]="pieGraphData" height="400"></jigsaw-graph>
                                        </j-box>
                                    </j-box>
                                    <j-box grow="1">
                                        <jigsaw-graph [data]="pieGraphData" height="400"></jigsaw-graph>
                                    </j-box>
                                </j-box>
                                <j-box grow="1">
                                    <jigsaw-graph [data]="pieGraphData" height="400"></jigsaw-graph>
                                </j-box>
                            </j-box>
                            <j-box grow="1">
                                <jigsaw-graph [data]="pieGraphData" height="400"></jigsaw-graph>
                            </j-box>
                        </j-box>
                        <j-box grow="1">
                            <jigsaw-graph [data]="pieGraphData" height="400"></jigsaw-graph>
                        </j-box>
                    </j-box>
                    <j-box grow="1">
                        <jigsaw-graph [data]="pieGraphData" height="400"></jigsaw-graph>
                    </j-box>
                </j-box>
                <j-box direction="v" [resizable]="true">
                    <j-box grow="1">
                        <jigsaw-graph [data]="pieGraphData" height="400"></jigsaw-graph>
                    </j-box>
                    <j-box direction="h" grow="2" [resizable]="true">
                        <j-box grow="1">
                            <jigsaw-graph [data]="pieGraphData" height="400"></jigsaw-graph>
                        </j-box>
                        <j-box direction="v" grow="2" [resizable]="true">
                            <j-box grow="1">
                                <jigsaw-graph [data]="pieGraphData" height="400"></jigsaw-graph>
                            </j-box>
                            <j-box direction="h" grow="2" [resizable]="true">
                                <j-box grow="1">
                                    <jigsaw-graph [data]="pieGraphData" height="400"></jigsaw-graph>
                                </j-box>
                                <j-box direction="v" grow="2" [resizable]="true">
                                    <j-box grow="1">
                                        <jigsaw-graph [data]="pieGraphData" height="400"></jigsaw-graph>
                                    </j-box>
                                    <j-box direction="h" grow="2" [resizable]="true">
                                        <j-box grow="1">
                                            <jigsaw-graph [data]="pieGraphData" height="400"></jigsaw-graph>
                                        </j-box>
                                        <j-box direction="h" grow="2" [resizable]="true">
                                            <jigsaw-graph [data]="pieGraphData" height="400"></jigsaw-graph>
                                        </j-box>
                                        <j-box grow="1">
                                            <jigsaw-graph [data]="pieGraphData" height="400"></jigsaw-graph>
                                        </j-box>
                                    </j-box>
                                    <j-box grow="1">
                                        <jigsaw-graph [data]="pieGraphData" height="400"></jigsaw-graph>
                                    </j-box>
                                </j-box>
                                <j-box grow="1">
                                    <jigsaw-graph [data]="pieGraphData" height="400"></jigsaw-graph>
                                </j-box>
                            </j-box>
                            <j-box grow="1">
                                <jigsaw-graph [data]="pieGraphData" height="400"></jigsaw-graph>
                            </j-box>
                        </j-box>
                        <j-box grow="1">
                            <jigsaw-graph [data]="pieGraphData" height="400"></jigsaw-graph>
                        </j-box>
                    </j-box>
                    <j-box grow="1">
                        <jigsaw-graph [data]="pieGraphData" height="400"></jigsaw-graph>
                    </j-box>
                </j-box>
                <j-box direction="v" [resizable]="true">
                    <j-box grow="1">
                        <jigsaw-graph [data]="pieGraphData" height="400"></jigsaw-graph>
                    </j-box>
                    <j-box direction="h" grow="2" [resizable]="true">
                        <j-box grow="1">
                            <jigsaw-graph [data]="pieGraphData" height="400"></jigsaw-graph>
                        </j-box>
                        <j-box direction="v" grow="2" [resizable]="true">
                            <j-box grow="1">
                                <jigsaw-graph [data]="pieGraphData" height="400"></jigsaw-graph>
                            </j-box>
                            <j-box direction="h" grow="2" [resizable]="true">
                                <j-box grow="1">
                                    <jigsaw-graph [data]="pieGraphData" height="400"></jigsaw-graph>
                                </j-box>
                                <j-box direction="v" grow="2" [resizable]="true">
                                    <j-box grow="1">
                                        <jigsaw-graph [data]="pieGraphData" height="400"></jigsaw-graph>
                                    </j-box>
                                    <j-box direction="h" grow="2" [resizable]="true">
                                        <j-box grow="1">
                                            <jigsaw-graph [data]="pieGraphData" height="400"></jigsaw-graph>
                                        </j-box>
                                        <j-box direction="h" grow="2" [resizable]="true">
                                            <jigsaw-graph [data]="pieGraphData" height="400"></jigsaw-graph>
                                        </j-box>
                                        <j-box grow="1">
                                            <jigsaw-graph [data]="pieGraphData" height="400"></jigsaw-graph>
                                        </j-box>
                                    </j-box>
                                    <j-box grow="1">
                                        <jigsaw-graph [data]="pieGraphData" height="400"></jigsaw-graph>
                                    </j-box>
                                </j-box>
                                <j-box grow="1">
                                    <jigsaw-graph [data]="pieGraphData" height="400"></jigsaw-graph>
                                </j-box>
                            </j-box>
                            <j-box grow="1">
                                <jigsaw-graph [data]="pieGraphData" height="400"></jigsaw-graph>
                            </j-box>
                        </j-box>
                        <j-box grow="1">
                            <jigsaw-graph [data]="pieGraphData" height="400"></jigsaw-graph>
                        </j-box>
                    </j-box>
                    <j-box grow="1">
                        <jigsaw-graph [data]="pieGraphData" height="400"></jigsaw-graph>
                    </j-box>
                </j-box>
            </j-box>
            <j-box direction="h" [resizable]="true">
                <j-box direction="v" [resizable]="true">
                    <j-box grow="1">
                        <jigsaw-graph [data]="pieGraphData" height="400"></jigsaw-graph>
                    </j-box>
                    <j-box direction="h" grow="2" [resizable]="true">
                        <j-box grow="1">
                            <jigsaw-graph [data]="pieGraphData" height="400"></jigsaw-graph>
                        </j-box>
                        <j-box direction="v" grow="2" [resizable]="true">
                            <j-box grow="1">
                                <jigsaw-graph [data]="pieGraphData" height="400"></jigsaw-graph>
                            </j-box>
                            <j-box direction="h" grow="2" [resizable]="true">
                                <j-box grow="1">
                                    <jigsaw-graph [data]="pieGraphData" height="400"></jigsaw-graph>
                                </j-box>
                                <j-box direction="v" grow="2" [resizable]="true">
                                    <j-box grow="1">
                                        <jigsaw-graph [data]="pieGraphData" height="400"></jigsaw-graph>
                                    </j-box>
                                    <j-box direction="h" grow="2" [resizable]="true">
                                        <j-box grow="1">
                                            <jigsaw-graph [data]="pieGraphData" height="400"></jigsaw-graph>
                                        </j-box>
                                        <j-box direction="h" grow="2" [resizable]="true">
                                            <jigsaw-graph [data]="pieGraphData" height="400"></jigsaw-graph>
                                        </j-box>
                                        <j-box grow="1">
                                            <jigsaw-graph [data]="pieGraphData" height="400"></jigsaw-graph>
                                        </j-box>
                                    </j-box>
                                    <j-box grow="1">
                                        <jigsaw-graph [data]="pieGraphData" height="400"></jigsaw-graph>
                                    </j-box>
                                </j-box>
                                <j-box grow="1">
                                    <jigsaw-graph [data]="pieGraphData" height="400"></jigsaw-graph>
                                </j-box>
                            </j-box>
                            <j-box grow="1">
                                <jigsaw-graph [data]="pieGraphData" height="400"></jigsaw-graph>
                            </j-box>
                        </j-box>
                        <j-box grow="1">
                            <jigsaw-graph [data]="pieGraphData" height="400"></jigsaw-graph>
                        </j-box>
                    </j-box>
                    <j-box grow="1">
                        <jigsaw-graph [data]="pieGraphData" height="400"></jigsaw-graph>
                    </j-box>
                </j-box>
                <j-box direction="v" [resizable]="true">
                    <j-box grow="1">
                        <jigsaw-graph [data]="pieGraphData" height="400"></jigsaw-graph>
                    </j-box>
                    <j-box direction="h" grow="2" [resizable]="true">
                        <j-box grow="1">
                            <jigsaw-graph [data]="pieGraphData" height="400"></jigsaw-graph>
                        </j-box>
                        <j-box direction="v" grow="2" [resizable]="true">
                            <j-box grow="1">
                                <jigsaw-graph [data]="pieGraphData" height="400"></jigsaw-graph>
                            </j-box>
                            <j-box direction="h" grow="2" [resizable]="true">
                                <j-box grow="1">
                                    <jigsaw-graph [data]="pieGraphData" height="400"></jigsaw-graph>
                                </j-box>
                                <j-box direction="v" grow="2" [resizable]="true">
                                    <j-box grow="1">
                                        <jigsaw-graph [data]="pieGraphData" height="400"></jigsaw-graph>
                                    </j-box>
                                    <j-box direction="h" grow="2" [resizable]="true">
                                        <j-box grow="1">
                                            <jigsaw-graph [data]="pieGraphData" height="400"></jigsaw-graph>
                                        </j-box>
                                        <j-box direction="h" grow="2" [resizable]="true">
                                            <jigsaw-graph [data]="pieGraphData" height="400"></jigsaw-graph>
                                        </j-box>
                                        <j-box grow="1">
                                            <jigsaw-graph [data]="pieGraphData" height="400"></jigsaw-graph>
                                        </j-box>
                                    </j-box>
                                    <j-box grow="1">
                                        <jigsaw-graph [data]="pieGraphData" height="400"></jigsaw-graph>
                                    </j-box>
                                </j-box>
                                <j-box grow="1">
                                    <jigsaw-graph [data]="pieGraphData" height="400"></jigsaw-graph>
                                </j-box>
                            </j-box>
                            <j-box grow="1">
                                <jigsaw-graph [data]="pieGraphData" height="400"></jigsaw-graph>
                            </j-box>
                        </j-box>
                        <j-box grow="1">
                            <jigsaw-graph [data]="pieGraphData" height="400"></jigsaw-graph>
                        </j-box>
                    </j-box>
                    <j-box grow="1">
                        <jigsaw-graph [data]="pieGraphData" height="400"></jigsaw-graph>
                    </j-box>
                </j-box>
                <j-box direction="v" [resizable]="true">
                    <j-box grow="1">
                        <jigsaw-graph [data]="pieGraphData" height="400"></jigsaw-graph>
                    </j-box>
                    <j-box direction="h" grow="2" [resizable]="true">
                        <j-box grow="1">
                            <jigsaw-graph [data]="pieGraphData" height="400"></jigsaw-graph>
                        </j-box>
                        <j-box direction="v" grow="2" [resizable]="true">
                            <j-box grow="1">
                                <jigsaw-graph [data]="pieGraphData" height="400"></jigsaw-graph>
                            </j-box>
                            <j-box direction="h" grow="2" [resizable]="true">
                                <j-box grow="1">
                                    <jigsaw-graph [data]="pieGraphData" height="400"></jigsaw-graph>
                                </j-box>
                                <j-box direction="v" grow="2" [resizable]="true">
                                    <j-box grow="1">
                                        <jigsaw-graph [data]="pieGraphData" height="400"></jigsaw-graph>
                                    </j-box>
                                    <j-box direction="h" grow="2" [resizable]="true">
                                        <j-box grow="1">
                                            <jigsaw-graph [data]="pieGraphData" height="400"></jigsaw-graph>
                                        </j-box>
                                        <j-box direction="h" grow="2" [resizable]="true">
                                            <jigsaw-graph [data]="pieGraphData" height="400"></jigsaw-graph>
                                        </j-box>
                                        <j-box grow="1">
                                            <jigsaw-graph [data]="pieGraphData" height="400"></jigsaw-graph>
                                        </j-box>
                                    </j-box>
                                    <j-box grow="1">
                                        <jigsaw-graph [data]="pieGraphData" height="400"></jigsaw-graph>
                                    </j-box>
                                </j-box>
                                <j-box grow="1">
                                    <jigsaw-graph [data]="pieGraphData" height="400"></jigsaw-graph>
                                </j-box>
                            </j-box>
                            <j-box grow="1">
                                <jigsaw-graph [data]="pieGraphData" height="400"></jigsaw-graph>
                            </j-box>
                        </j-box>
                        <j-box grow="1">
                            <jigsaw-graph [data]="pieGraphData" height="400"></jigsaw-graph>
                        </j-box>
                    </j-box>
                    <j-box grow="1">
                        <jigsaw-graph [data]="pieGraphData" height="400"></jigsaw-graph>
                    </j-box>
                </j-box>
            </j-box>

        </j-box>
    </div>
</div>


