<demo-template [data]="''" [text]="doc.text.prefixSuffix" [codes]="doc.codes.prefixSuffix">
    <div class="demo-showcase-v">
        <span>前后额外信息组合</span>

        <jigsaw-auto-complete-input [filterOnFocus]="false" [data]="hosts" prefix="https://" width="350">
        </jigsaw-auto-complete-input>

        <jigsaw-auto-complete-input [filterOnFocus]="false" [data]="hosts" suffix="/jigsaw/index.html" width="350">
        </jigsaw-auto-complete-input>

        <jigsaw-auto-complete-input
            [filterOnFocus]="false"
            [data]="hosts"
            suffix="/jigsaw/index.html"
            prefix="https://"
            width="350"
        >
        </jigsaw-auto-complete-input>

        <jigsaw-auto-complete-input
            [filterOnFocus]="false"
            [data]="hosts"
            suffix="/jigsaw/index.html"
            prefix="https://"
            [disabled]="true"
            width="350"
        >
        </jigsaw-auto-complete-input>
    </div>

    <div class="demo-showcase-v">
        <span>额外信息可选</span>
        <jigsaw-auto-complete-input
            [filterOnFocus]="false"
            [data]="hosts"
            [suffix]="pages"
            suffixWidth="140"
            (suffixChange)="onChange($event)"
            width="400"
        >
        </jigsaw-auto-complete-input>

        <jigsaw-auto-complete-input
            [filterOnFocus]="false"
            [data]="hosts"
            [suffix]="pages"
            suffixWidth="140"
            [disabled]="true"
            width="400"
        >
        </jigsaw-auto-complete-input>

        <jigsaw-auto-complete-input
            [filterOnFocus]="false"
            [data]="hosts"
            [prefix]="protocols"
            prefixWidth="80"
            (prefixChange)="onChange($event)"
            width="400"
        >
        </jigsaw-auto-complete-input>

        <jigsaw-auto-complete-input
            [filterOnFocus]="false"
            [data]="hosts"
            [prefix]="protocols"
            prefixWidth="80"
            [disabled]="true"
            width="400"
        >
        </jigsaw-auto-complete-input>
    </div>

    <div class="demo-showcase-v">
        <span>更多内容</span>
        <jigsaw-auto-complete-input
            [filterOnFocus]="false"
            [data]="hosts"
            width="400"
            [prefix]="_$prefixIcons"
            prefixWidth="100"
            (prefixChange)="onChange($event)"
            [prefixLabelField]="'name'"
            [suffix]="_$icons"
            suffixWidth="120"
            (suffixChange)="onChange($event)"
            [suffixLabelField]="'name'"
        >
        </jigsaw-auto-complete-input>
    </div>
</demo-template>
