<demo-template [data]="''" [text]="doc.text.iconText" [codes]="doc.codes.iconText">
    <!-- start to learn the demo from here -->
    <div class="demo-showcase">
        <span>正常</span>
        <jigsaw-icon [icon]="'iconfont iconfont-e1a0'" [iconSize]="16" [text]="'编辑'" title="编辑"> </jigsaw-icon>
    </div>

    <div class="demo-showcase">
        <span>禁用</span>
        <jigsaw-icon [icon]="'iconfont iconfont-e1a0'" [iconSize]="16" [text]="'编辑'" title="编辑" [disabled]="true">
        </jigsaw-icon>
    </div>
</demo-template>
