.wrap {
    padding-bottom: 800px;
    .block {
        width: 500px;
        line-height: 20px;
        font-weight: bold;
        margin-bottom: 10px;
    }

    span.iconfont.icon-e8dd{
        display: inline-block;
        vertical-align: middle;
        margin-left: 5px;
        color: #41addc;
    }
}

.jigsaw-am-rotation {
    animation: rotation .8s linear infinite;
}

@keyframes rotation {
    100% {
        transform: rotate(360deg);
    }
}
