<jigsaw-markdown [markdown]="description"></jigsaw-markdown>
<graph-basic></graph-basic>
<graph-bar-chart></graph-bar-chart>
<graph-box-plot></graph-box-plot>
<graph-doughnut></graph-doughnut>
<graph-funnel-plot></graph-funnel-plot>
<graph-gauge></graph-gauge>
<graph-heat></graph-heat>
<graph-k-line></graph-k-line>
<graph-line></graph-line>
<graph-map></graph-map>
<graph-no-data></graph-no-data>
<graph-pie></graph-pie>
<graph-province-map></graph-province-map>
<graph-radar></graph-radar>
<graph-scatter></graph-scatter>
<graph-stack-area></graph-stack-area>
<graph-strip></graph-strip>
<doc-template [docContent]="docContent"></doc-template>
<doc-footer-template></doc-footer-template>