<!-- ignore the following lines, they are not important to this demo -->
<jigsaw-demo-description [summary]="summary" [content]="description">
</jigsaw-demo-description>


<!-- start to learn the demo from here -->
<div class="live-demo-wrap">
    <h2>柱状折线图</h2>

    <div class="live-demo">
        <h3>LineBarGraphData静态数据</h3>
        <jigsaw-graph [data]="lineBarData" height="400" (click)="handleClick($event)"></jigsaw-graph>
    </div>

    <div class="live-demo">
        <h3>LineBarGraphData异步数据</h3>
        <jigsaw-graph [data]="lineBarFromAjax" height="400" (click)="handleClick($event)"></jigsaw-graph>
    </div>
</div>









