/* You can add global styles to this file, and also import other style files */
// @import "jigsaw/pc-components/theming/prebuilt/zte.scss";
// @import "jigsaw/mobile-components/theming/prebuilt/zte.scss";
/*@import "jigsaw/pc-components/theming/prebuilt/zte-dark"; */
/*@import "jigsaw/pc-components/theming/prebuilt/zte-gray";*/
/*@import "jigsaw/pc-components/theming/prebuilt/zte-black";*/
/*@import "jigsaw/pc-components/theming/prebuilt/zte-purple";*/
/*@import "jigsaw/pc-components/theming/prebuilt/zte-blue";*/
/*@import "jigsaw/pc-components/theming/prebuilt/zte-red";*/
// @import "jigsaw/pc-components/theming/prebuilt/zte-paletx";
@import "jigsaw/pc-components/theming/prebuilt/paletx-pro-dark.scss";
// @import "jigsaw/pc-components/theming/prebuilt/paletx-pro-light.scss";
@import "jigsaw/common/core/theming/theming-api";

//@include setTableBody(#333, 12px , red, blue );

body {
    background: #000;
}
