/* You can add global styles to this file, and also import other style files */
@import "jigsaw/core/theming/prebuilt/zte.scss";
/*@import "jigsaw/core/theming/prebuilt/zte-dark";*/
//@import "jigsaw/core/theming/prebuilt/zte-gray";
/*@import "jigsaw/core/theming/prebuilt/zte-black";*/
/*@import "jigsaw/core/theming/prebuilt/zte-purple";*/
/*@import "jigsaw/core/theming/prebuilt/zte-blue";*/
@import "jigsaw/core/theming/theming-api";

//@include setTableBody(#333, 12px , red, blue );


