<demo-template [data]="data" [(selectedLabel)]="selectedLabel" [text]="text['text']['basic']">
    <div>
        <jigsaw-markdown [markdown]="'#### 基本用法'"></jigsaw-markdown>

        <jigsaw-select id="test-select" [(value)]="selectedCityForSelect"
                       (valueChange)="selectChange($event)"
                       placeholder="请选择城市"
                       [data]="cityList"
                       [size]="selectedLabel.size">
        </jigsaw-select>
        <p>选择的城市是 <span>{{selectedCityName}}</span></p>
    </div>

    <div>
        <jigsaw-markdown [markdown]="'#### 字符串数组'"></jigsaw-markdown>

        <jigsaw-select [(value)]="selectedCityForSelect2"
                       (valueChange)="selectChange2($event)"
                       placeholder="请选择城市"
                       [data]="cityArrayList"
                       [size]="selectedLabel.size">
        </jigsaw-select>
        <p class="message">选择的城市是 <span>{{selectedCityForSelect2}}</span></p>
    </div>

    <div>
        <jigsaw-markdown [markdown]="'#### 动态labelField'"></jigsaw-markdown>
        <p><a (click)="changeLabelField()">修改labelField</a></p>

        <jigsaw-select [data]="cityList3" [(value)]="selectedCityForSelect3" placeholder="请选择城市"
                       [labelField]="labelField" (valueChange)="selectChange3($event)" [size]="selectedLabel.size">
        </jigsaw-select>
        <p class="message">选择的城市是 <span>{{selectedCityName3}}</span></p>
    </div>
</demo-template>
