<demo-template [data]="''" [text]="doc.text.searchAndPaging" [codes]="doc.codes.searchAndPaging">
    <div class="demo-showcase">
        <j-cascade
            [data]="generator"
            [generatorContext]="this"
            [selectedItems]="lazyLoadSelectedItems"
            labelField="name"
            [multipleSelect]="true"
            (selectedItemsChange)="parseMessage($event)"
            [searchable]="true"
            [pageSize]="5"
            width="400"
        >
        </j-cascade>
    </div>
</demo-template>
