<demo-template [data]="''" [text]="doc.text.transferTableLocalPageable" [codes]="doc.codes.transferTableLocalPageable">
    <!-- start to learn the demo from here -->
    <j-transfer
        width="100%"
        height="500"
        [data]="data"
        [selectedItems]="selectedData"
        [sourceRenderer]="sourceRenderer"
        [destRenderer]="targetRenderer"
        [labelField]="labelField"
        [trackItemBy]="trackItemBy"
        (selectedItemsChange)="selectedItemsChange($event)"
    ></j-transfer>
</demo-template>
