<!-- ignore the following lines, they are not important to this demo -->
<jigsaw-demo-description [summary]="summary" [content]="description">
</jigsaw-demo-description>

<!-- start to learn the demo from here -->
<div>
    <span>搜索：</span>
    <jigsaw-input width="300" (valueChange)="_$handleSearching($event)" placeholder="请输入关键字搜索"></jigsaw-input>
    <span>是否搜索分组：</span>
    <jigsaw-switch [(checked)]="searchGroup"></jigsaw-switch>
</div>

<jigsaw-header>无限滚动</jigsaw-header>
<ul class="demo-list" #contentScrollbar
    [perfectScrollbar]="{suppressScrollX: true, wheelSpeed: 0.5, minScrollbarLength: 20}">
    <li *ngFor="let item of lpsa" class="demo-list-item">
        <span>{{item.label}}</span>
        <span>{{item.groupName}}</span>
    </li>
</ul>