<demo-template [data]="''" [text]="doc.text.searchable" [codes]="doc.codes.searchable">
    <!-- start to learn the demo from here -->
    <div class="demo-showcase-v">
        <j-list-lite
            width="200"
            [(data)]="goodsList"
            labelField="name"
            placeholder="输入关键字对列表进行过滤"
            (selectedItemsChange)="handleSelect($event, 'selectedItems', 'name')"
            [multipleSelect]="true"
            [searchable]="true"
        ></j-list-lite>
    </div>
</demo-template>
