<demo-template sizeController="small小,default大" [(selectedSize)]="selectedSize"
               [description]="description" [demoSources]="demoSources">
    <div class="demo-showcase">
        <span>四种状态</span>
        <j-progress [value]="progressValue" status="processing" [preSize]="selectedSize.size"></j-progress>
        <j-progress [value]="progressValue" status="block" [preSize]="selectedSize.size"></j-progress>
        <j-progress [value]="progressValue" status="error" [preSize]="selectedSize.size"></j-progress>
        <j-progress [value]="progressValue" status="success" [preSize]="selectedSize.size"></j-progress>
    </div>
</demo-template>
