<demo-template [data]="data" [(selectedLabel)]="selectedLabel" [text]="doc.text.functional">
    <div class="demo-showcase">
        <span>进度值</span>
        <j-numeric-input min="0" max="110" [(value)]="progressValue">
        </j-numeric-input>
    </div>
    <div class="demo-showcase">
        <span>四种状态</span>
        <j-progress [value]="progressValue" status="processing" [preSize]="selectedLabel.size"></j-progress>
        <j-progress [value]="progressValue" status="block" [preSize]="selectedLabel.size"></j-progress>
        <j-progress [value]="progressValue" status="error" [preSize]="selectedLabel.size"></j-progress>
        <j-progress [value]="progressValue" status="success" [preSize]="selectedLabel.size"></j-progress>
    </div>
</demo-template>
