<!-- ignore the following lines, they are not important to this demo -->
<jigsaw-demo-description [summary]="summary" [content]="description">
</jigsaw-demo-description>


<!-- start to learn the demo from here -->
<!--<div jigsawLayout="root" layoutType="row" span="24" height="400">
    <div jigsawLayout layoutType="row">
        <div jigsawLayout></div>
        <div jigsawLayout>
            <div jigsawLayout span="6"></div>
            <div jigsawLayout span="12"></div>
            <div jigsawLayout span="6"></div>
        </div>
    </div>
    <div jigsawLayout>
        <div jigsawLayout span="2"></div>
        <div jigsawLayout span="3"></div>
        <div jigsawLayout span="9"></div>
        <div jigsawLayout span="10"></div>
    </div>
    <div jigsawLayout>
        <div jigsawLayout span="15">
            <one-layout></one-layout>
        </div>
        <div jigsawLayout span="9"></div>
    </div>
</div>
<br>
<br>
<div jigsawLayout="root" span="24" height="40">
    <div jigsawLayout span="6">6</div>
    <div jigsawLayout span="6" offset="12">6</div>
</div>
<br>
<br>
<div jigsawLayout="root" span="24" height="40">
    <div jigsawLayout span="3" push="21">3</div>
    <div jigsawLayout span="5" pull="3">5</div>
</div>
<br>
<br>-->
<div class="live-demo-wrap">
    <h2>Grid</h2>
    <div class="demo-1 live-demo">
        <h3>列组合</h3>
        <j-row>
            <j-column span="1" *ngFor="let i of arr">
                <p class="inner-content">1</p>
            </j-column>
        </j-row>
        <j-row>
            <j-column span="16">
                <p class="inner-content">span=16</p>
            </j-column>
            <j-column span="8">
                <p class="inner-content">span=8</p>
            </j-column>
        </j-row>
        <j-row>
            <j-column span="8">
                <p class="inner-content">span=8</p>
            </j-column>
            <j-column span="8">
                <p class="inner-content">span=8</p>
            </j-column>
            <j-column span="8">
                <p class="inner-content">span=8</p>
            </j-column>
        </j-row>
        <j-row>
            <j-column span="12">
                <p class="inner-content">span=12</p>
            </j-column>
            <j-column span="12">
                <p class="inner-content">span=12</p>
            </j-column>
        </j-row>
    </div>

    <div class="demo-2 live-demo">
        <h3>列偏移</h3>
        <j-row>
            <j-column span="8">
                <p class="inner-content">span=8</p>
            </j-column>
            <j-column span="8" offset="8">
                <p class="inner-content">span=8,offset=8</p>
            </j-column>
        </j-row>
        <j-row>
            <j-column span="6" offset="6">
                <p class="inner-content">span=6,offset=6</p>
            </j-column>
            <j-column span="6" offset="6">
                <p class="inner-content">span=6,offset=6</p>
            </j-column>
        </j-row>
        <j-row>
            <j-column span="12" offset="6">
                <p class="inner-content">span=6,offset=6</p>
            </j-column>
        </j-row>
    </div>

    <div class="demo-2 live-demo">
        <h3>列嵌套</h3>
        <j-row>
            <j-column span="18">
                <p class="inner-content">Level1: span=18</p>
                <j-row class="no-bottom">
                    <j-column span="12">
                        <p class="inner-content">Level2: span=12</p>
                    </j-column>
                    <j-column span="12">
                        <p class="inner-content">Level2: span=12</p>
                    </j-column>
                </j-row>
            </j-column>
            <j-column span="6">
                <p class="inner-content double">Level1: span=6</p>
            </j-column>
        </j-row>
    </div>

    <div class="demo-3 live-demo">
        <h3>列排序</h3>
        <j-row>
            <j-column span="18">
                <p class="inner-content">span=18</p>
            </j-column>
            <j-column span="6">
                <p class="inner-content">span=6</p>
            </j-column>
        </j-row>
        <j-row>
            <j-column span="18" push="6">
                <p class="inner-content">span=18,push=6</p>
            </j-column>
        </j-row>
        <j-row>
            <j-column span="6">
                <p class="inner-content">span=6</p>
            </j-column>
        </j-row>
        <j-row>
            <j-column span="18" push="6">
                <p class="inner-content">span=18,push=6</p>
            </j-column>
            <j-column span="6" pull="18">
                <p class="inner-content">span=6,pull=18</p>
            </j-column>
        </j-row>

        <j-row>
            <j-column span="8">
                <div ></div>
                <p class="inner-content">span=18,push=6</p>
            </j-column>
            <j-column span="16">
                <p class="inner-content">span=6,pull=18</p>
            </j-column>
        </j-row>
    </div>
</div>


