@import "../../common/assets/scss/core/base";

$jigsaw-status: #{$jigsaw-prefix}-status;

.#{$jigsaw-status}-host {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: $font-color-default;

    i {
        margin-right: 4px;
        font-size: 10px;
    }

    .#{$jigsaw-status}-text {
        display: inline-flex;
        align-items: center;
        font-size: $font-title-med;
    }

    &.#{$jigsaw-status}-success {
        i {
            color: $success-default;
        }
    }

    &.#{$jigsaw-status}-warning {
        i {
            color: $danger-default;
        }
    }

    &.#{$jigsaw-status}-error {
        i {
            color: $error-default;
        }
    }

    &.#{$jigsaw-status}-finish {
        i {
            color: $primary-default;
        }
    }

    &.#{$jigsaw-status}-disabled {
        i {
            color: $font-color-disabled;
        }
    }

    &.#{$jigsaw-status}-process {
        i {
            color: $process-default;
        }

        ::before {
            border-radius: 50%;
            animation: jigsaw-status-process-animation 1.2s 0.6s cubic-bezier(0.25, 0.1, 0.25, 1) infinite;
        }
    }
}

@keyframes jigsaw-status-process-animation {
    0% {
        box-shadow: 0px 0px 0px 0px #6e7feb80;
    }

    100% {
        box-shadow: 0px 0px 0px 5px #6e7feb00;
    }
}
