.demo-navigation {
    position: fixed;
    top: 60px;
    right: 0;
    width: 200px;
    background: cyan;

    li {
        height: 20px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}
