<!-- ignore the following lines, they are not important to this demo -->
<jigsaw-demo-description [summary]="summary" [content]="description">
</jigsaw-demo-description>


<!-- start to learn the demo from here -->

<!--
行数：
<jigsaw-slider width="300px" min="5" max="30" [(value)]="tableData.viewPort.rows">
</jigsaw-slider>
（{{tableData.viewPort.rows}}）

列数：
<jigsaw-slider width="300px" min="2" max="15" [(value)]="tableData.viewPort.columns">
</jigsaw-slider>
（{{tableData.viewPort.columns}}）

<br>

当前行：
<jigsaw-slider [value]="0" (change)="this.tableData.viewPort.verticalTo = $event"
               width="300px" min="0" [max]="tableData.cache.data.length">
</jigsaw-slider>
（{{tableData.viewPort.verticalTo}}）

当前列：
<jigsaw-slider [value]="0" (change)="tableData.viewPort.horizontalTo = $event"
               width="300px" min="0" [max]="tableData.cache.field.length">
</jigsaw-slider>
（{{tableData.viewPort.horizontalTo}}）

<br>
-->
<label>请选择每次滚动的行数：</label>
<j-radios [(value)]="selectedStep">
    <j-radio-option *ngFor="let item of steps" [value]="item">
        {{item}}
    </j-radio-option>
</j-radios>

<j-viewport [data]="tableData" [step]="selectedStep">
    <j-table [data]="tableData" [columnDefines]="columnDefines" trackRowBy="name"
                  [additionalColumnDefines]="additionalColumnDefines">
    </j-table>
</j-viewport>
<div style="height: 2000px"></div>
