<!-- ignore the following lines, they are not important to this demo -->
<jigsaw-demo-description [summary]="summary" [content]="description">
</jigsaw-demo-description>


<!-- start to learn the demo from here -->

行数：
<jigsaw-slider width="300px" [value]="10" (change)="tableData.viewPort.rows = $event" min="5" max="30">
</jigsaw-slider>
（{{tableData.viewPort.rows}}）

列数：
<jigsaw-slider width="300px" [value]="5" (change)="tableData.viewPort.columns = $event" min="2" max="7">
</jigsaw-slider>
（{{tableData.viewPort.columns}}）

<br>

当前行：
<jigsaw-slider width="300px" [value]="0" (change)="this.tableData.viewPort.fromRow = $event" min="0" max="200">
</jigsaw-slider>
（{{tableData.viewPort.fromRow}}）

当前列：
<jigsaw-slider width="300px" [value]="0" (change)="tableData.viewPort.fromColumn = $event" min="0" max="4">
</jigsaw-slider>
（{{tableData.viewPort.fromColumn}}）

<br>

<jigsaw-table [data]="tableData" [columnDefines]="columnDefines" trackRowBy="name"
              [additionalColumnDefines]="additionalColumnDefines">
</jigsaw-table>
