<demo-template [data]="''" [text]="text['text']['basic']">
    <div class="demo-showcase">
        <span>正常</span>
        <jigsaw-input [(value)]="inputValue" placeholder="请输入文本" width="300px">
        </jigsaw-input>
        <p>输入值是：<span>{{inputValue}}</span></p>
    </div>

    <div class="demo-showcase">
        <span>禁用</span>
        <jigsaw-input placeholder="请输入文本" width="300px" [disabled]="true">
        </jigsaw-input>
    </div>

    <div class="demo-showcase">
        <span>是否合法</span>
        <jigsaw-input placeholder="请输入文本" width="300px" [valid]="false">
        </jigsaw-input>
    </div>
</demo-template>
