<!-- ignore the following lines, they are not important to this demo -->
<jigsaw-demo-description [summary]="summary" [content]="description">
</jigsaw-demo-description>


<!-- start to learn the demo from here -->
<div class="live-demo-wrap">
    <jigsaw-header [level]="1">Select</jigsaw-header>
    <div class="live-demo">
        <jigsaw-header [level]="2">单选设置尺寸</jigsaw-header>
        <p class="comment">单选用width</p>
        <jigsaw-select width="150" [data]="cityListForSelect" [multipleSelect]="false">
        </jigsaw-select>
    </div>
    <div class="live-demo">
        <jigsaw-header [level]="2">多选设置尺寸</jigsaw-header>
        <p class="comment">多选用minWidth和maxWidth</p>
        <jigsaw-select minWidth="120" maxWidth="250" [data]="cityListForSelect" [multipleSelect]="true"
            [useStatistics]="false">
        </jigsaw-select>
    </div>
    <div class="live-demo">
        <jigsaw-header [level]="2">多选设置width</jigsaw-header>
        <p class="comment">多选设置width，则minWidth和maxWidth都为width值</p>
        <jigsaw-select width="150" [data]="cityListForSelect" [multipleSelect]="true" [useStatistics]="false">
        </jigsaw-select>
    </div>
    <div class="live-demo">
        <jigsaw-header>预设三种大小规范</jigsaw-header>

        <div class="size-cntr">
            <span class="size-title">不同配置</span>
            <span class="setting-title">单选</span>
            <span class="setting-title">多选</span>
            <span class="setting-title">多选动态高度</span>
            <span class="setting-title">多选固定高度</span>
        </div>
        <div class="size-cntr">
            <span class="size-title">small：</span>
            <jigsaw-select width="150" [data]="cityListForSelect" [multipleSelect]="false" size="small">
            </jigsaw-select>
            <jigsaw-select width="150" [data]="cityListForSelect" [multipleSelect]="true" size="small">
            </jigsaw-select>
            <jigsaw-select width="150" [data]="cityListForSelect" [multipleSelect]="true" size="small"
                [useStatistics]="false">
            </jigsaw-select>
            <jigsaw-select width="150" maxHeight="24px" [data]="cityListForSelect" [multipleSelect]="true" size="small"
                [useStatistics]="false">
            </jigsaw-select>
        </div>
        <div class="size-cntr">
            <span class="size-title">medium：</span>
            <jigsaw-select width="150" [data]="cityListForSelect" [multipleSelect]="false" size="medium">
            </jigsaw-select>
            <jigsaw-select width="150" [data]="cityListForSelect" [multipleSelect]="true" size="medium">
            </jigsaw-select>
            <jigsaw-select width="150" [data]="cityListForSelect" [multipleSelect]="true" size="medium"
                [useStatistics]="false">
            </jigsaw-select>
            <jigsaw-select width="150" maxHeight="28px" [data]="cityListForSelect" [multipleSelect]="true" size="medium"
                [useStatistics]="false">
            </jigsaw-select>
        </div>
        <div class="size-cntr">
            <span class="size-title">large：</span>
            <jigsaw-select width="150" [data]="cityListForSelect" [multipleSelect]="false" size="large">
            </jigsaw-select>
            <jigsaw-select width="150" [data]="cityListForSelect" [multipleSelect]="true" size="large">
            </jigsaw-select>
            <jigsaw-select width="150" [data]="cityListForSelect" [multipleSelect]="true" size="large"
                [useStatistics]="false">
            </jigsaw-select>
            <jigsaw-select width="150" maxHeight="32px" [data]="cityListForSelect" [multipleSelect]="true" size="large"
                [useStatistics]="false">
            </jigsaw-select>
        </div>
    </div>
</div>