@import "../../assets/scss/core/basc";

$option-prefix-cls: #{$jigsaw-prefix}-option;

#{$option-prefix-cls} {
    display: block;
    width: 100%;
    height: $height-base;
    line-height: $height-base;
    font-size: $font-size-base;
}

.#{$option-prefix-cls} {
    height: 100%;
    cursor: pointer;
    padding: 0 6px;
    box-sizing: border-box;
    @include line-ellipsis(100%);
    &:hover {
        background-color: $state-hover-bg;
    }
    &.#{$option-prefix-cls}-on, &.#{$option-prefix-cls}-on:hover {
        background-color: $state-active-bg;
    }
}
