@import "../../assets/scss/core/base";

$select-option-prefix-cls: #{$jigsaw-prefix}-select-option;

#{$select-option-prefix-cls} {
    display: block;
    width: 100%;
    height: $height-base;
    line-height: $height-base;
    font-size: $font-size-base;
}

.#{$select-option-prefix-cls} {
    height: 100%;
    cursor: pointer;
    padding: 0 6px;
    box-sizing: border-box;
    @include line-ellipsis(100%);
    &:hover {
        background-color: $item-hover-bg;
    }
    &.#{$select-option-prefix-cls}-on, &.#{$select-option-prefix-cls}-on:hover {
        background-color: $item-active-bg;
    }
}
