@import "../../assets/scss/core/basc";

$select-prefix-cls: #{$jigsaw-prefix}-select;
$option-prefix-cls: #{$jigsaw-prefix}-option;

#{$select-prefix-cls} {
    @include inline-block();
    width: 120px;
    height: $height-base;
    line-height: $height-base;
    font-size: $font-size-base;
    color: $text-color-lv2;
}

.#{$select-prefix-cls}-box {
    position: relative;
    width: 100%;
    height: 100%;
    .#{$select-prefix-cls} {
        border: 1px solid $border-color-base;
        border-radius: $border-radius-base;
        cursor: pointer;
        @include line-ellipsis(100%);
        height: 100%;
        padding: 0 6px;
        box-sizing: border-box;
        @include prefixer(transition, all 0.3s $ease-in-out);
        &:hover {
            border-color: $primary-color;
        }
        &.#{$select-prefix-cls}-opened {
            border-color: $primary-color;
            box-shadow: $select-box-shadow;
            .#{$select-prefix-cls}-icon-down {
                @include prefixer(transform, rotate(180deg));
            }
        }
        .#{$select-prefix-cls}-icon-down{
            position: absolute;
            right: 8px;
            line-height: inherit;
            @include prefixer(transition, transform 0.2s $ease-in-out);
        }

    }
    .#{$option-prefix-cls}-list {
        width: 100%;
        position: absolute;
        z-index: 1;
        border: 1px solid $border-color-base;
        background: $default-color;
        box-shadow: $box-shadow-base;
        border-radius: $border-radius-base;
        @include prefixer(transition, all 0.3s $ease-in-out);
        @include prefixer(transform-origin, 0 0);
        &.#{$option-prefix-cls}-hidden {
            display: none\9;
            @include opacity(0);
            @include prefixer(transform, scale(1, 0));
        }
        > .mCSB_scrollTools.mCSB_scrollTools_vertical{
            opacity: 1 !important;
            margin: 0 0 !important;
        }
    }
}
