// Color
$primary-color          : #108ee9;
$info-color             : #108ee9;
$success-color          : #87d068;
$error-color            : #f50;
$highlight-color        : #f50;
$warning-color          : #fa0;
$normal-color           : #d9d9d9;
$default-color          : #fff;
$disabled-color         : rgba(0,0,0,.25);

$primary-1: saturate($primary-color, 80%);
$primary-2: saturate($primary-color, 60%);
$primary-3: saturate($primary-color, 40%);
$primary-4: saturate($primary-color, 20%);
$primary-5: $primary-color;
$primary-6: desaturate($primary-color, 20%);
$primary-7: desaturate($primary-color, 40%);
$primary-8: desaturate($primary-color, 60%);
$primary-9: desaturate($primary-color, 80%);
$primary-10: desaturate($primary-color, 100%);



















