@import "settings/zte-gray";
@import "../all-theme";
@import "../theming-api";

// ------ Custom for zte by theming-api ------
@include setDialogHead($primary-color, $light-bg-3, 30px);
@include setDialogButton(right, false);

@include showBtnAnimation(false);

@include setTableHead($opacity-bg-2, $fill-color-4, 14px, $primary-color, 1px);
@include setTableBody($gray-2, default, $opacity-bg-1, $opacity-bg-2);
@include setTableTextAlign(left, 8px);

@include setTag($opacity-bg-3, 25px);
@include setCollapse($opacity-bg-3);
@include setTabTriangle(true);

// ------ Own for zte ------
/**
 * 设置弹框close-bar的颜色
 */
@mixin setPopupCloseBar($color, $hoverColor) {
    .jigsaw-dialog .jigsaw-dialog-head .jigsaw-dialog-close {
        color: $color;
        &:hover {
            color: $hoverColor;
        }
    }
    .jigsaw-alert .jigsaw-alert-head .jigsaw-alert-close {
        color: $color;
        &:hover {
            color: $hoverColor;
        }
    }
}

/**
 * 设置时间控件粒度tab的颜色
 */
@mixin setTimeGrTab($grTabColor) {
    .jigsaw-time-host .jigsaw-time-granularity > span {
        border: 1px solid $grTabColor;
        border-right: 0;
        color: $grTabColor;
        &.active {
            background: $grTabColor;
        }
        &:last-child {
            border-right: 1px solid $grTabColor;
        }
    }
    .jigsaw-range-time-host .jigsaw-range-time-shortcuts > span {
        border: 1px solid $grTabColor;
        color: $grTabColor;
        border-right: 0;
        &:last-child {
            border-right: 1px solid $grTabColor;
        }
        &.active {
            background-color: $grTabColor;
        }
    }
}

/**
 * 设置按钮字体大小，和默认形式按钮的字体颜色
 */
@mixin setBtnDefault($defaultTextColor, $defaultFontSize: 12px) {
    .#{$btn-prefix-cls} {
        color: $defaultTextColor;
        font-size: $defaultFontSize;
        border: 1px solid $defaultTextColor;
    }
}

@mixin setTableBorder($borderColor) {
    .jigsaw-table-host table td {
        border: none;
        border-bottom: 1px solid $borderColor;
    }
}

@mixin setSliderTheme() {
    .#{$jigsaw-slider} {
        background-color: $opacity-bg-4;
        &:hover {
            background-color: $opacity-bg-3;
            .#{$jigsaw-slider}-track {
                background-color: $fill-color-2;
            }
            .#{$jigsaw-slider}-handle {
                border-color: $fill-color-2;
            }
        }

        .#{$jigsaw-slider}-track {
            background-color: $primary-color;
        }

        .#{$jigsaw-slider}-handle {
            border: 2px solid $primary-color;
        }
    }
}

@mixin setBreadCrumbTheme() {
    .#{$bc-prefix-cls} {
        &-item {
            color: $text-color-secondary;
            &:hover, &.#{$bc-prefix-cls}-current {
                color: $text-color;
            }
        }
        &.#{$bc-prefix-cls}-light {
            background: $background-color-base;
            .#{$bc-prefix-cls}-item {
                color: $text-color-secondary;
                &:hover, &.#{$bc-prefix-cls}-current {
                    color: $text-color;
                }
            }
        }
        &.#{$bc-prefix-cls}-dark {
            background: $nav-bg-2;
            .#{$bc-prefix-cls}-item {
                color: $gray-3;
                &:hover, &.#{$bc-prefix-cls}-current {
                    color: $gray-2;
                }
            }
        }
        &.#{$bc-prefix-cls}-inner {
            background: $nav-bg-3;
            .#{$bc-prefix-cls}-item {
                .#{$bc-prefix-cls}-label {
                    color: $gray-2;
                    &:hover {
                        color: $primary-color;
                    }
                }
            }
        }
    }
}

@mixin setCollapseTheme() {
    .#{$collapse-prefix} {
        &-item &-content {
            color: $gray-2;
            background-color: $component-background;
        }
    }
}

@mixin setTableTheme() {
    .#{$table-prefix-cls}-host table tbody tr {
        td[rowspan] {
            background: $opacity-bg-2;
        }
    }
}

@mixin setListTheme() {
    .#{$list-option-prefix-cls} {
        &-title {
            color: $gray-2;
        }
        &-sub-title {
            color: $gray-3;
        }
    }
}

@mixin setTreeTheme() {
    .ztree li span {
        color: $text-color;
    }
    .ztree li a.curSelectedNode {
        background-color: $opacity-bg-2;
        border: 1px solid $primary-color;
    }
    .ztree li span input {
        background: $opacity-bg-1;
    }
}

@mixin setInputTheme() {
    .#{$input-prefix-cls} {
        &.#{$input-prefix-cls}-disabled {
            input {
                background-color: $disabled-bg;
            }
        }
    }

    .#{$numeric-input-prefix-cls} {
        &.#{$numeric-input-prefix-cls}-disabled {
            input {
                background-color: $disabled-bg;
            }
        }
    }

    .#{$jigsaw-auto-complete-input} {
        &-item-title{
            background: $opacity-bg-2;
        }
    }

    .#{$textarea-prefix-cls} {
        &.#{$textarea-prefix-cls}-disabled {
            textarea {
                background-color: $disabled-bg;
            }
        }
    }
}

@mixin setDrawerTheme() {
    .#{$drawer-prefix-cls} {
        background: $light-bg-2;
    }
}

@mixin setFishBoneTheme() {
    .#{$fish-bone-prefix-cls} {
        &-dark {
            background: $component-background;
        }
    }
}

@mixin setTimeTheme() {
    .bootstrap-datetimepicker-widget table td.day:hover,
    .bootstrap-datetimepicker-widget table td.hour:hover,
    .bootstrap-datetimepicker-widget table td.minute:hover,
    .bootstrap-datetimepicker-widget table td.second:hover,
    .bootstrap-datetimepicker-widget table td span:hover{
        background: $fill-color-2;
        color: $text-color;
    }
}

@include setPopupCloseBar($primary-color, $primary-7);
@include setTimeGrTab(#008fd4);
@include setBtnDefault($text-color);
@include setTableBorder($opacity-bg-3);
@include setSliderTheme();
@include setBreadCrumbTheme();
@include setCollapseTheme();
@include setTableTheme();
@include setListTheme();
@include setTreeTheme();
@include setInputTheme();
@include setDrawerTheme();
@include setFishBoneTheme();
@include setTimeTheme();
