// Color
$primary-color          : #41addc;
$info-color             : #41addc;
$success-color          : #87d068;
$error-color            : #ec6d6d;
$highlight-color        : #ec6d6d;
$warning-color          : #e78f4e;
$normal-color           : #dcdcdc;
$default-color          : #fff;

// Palette
$primary-1              : mix(#fff, $primary-color, 90%);
$primary-2              : mix(#fff, $primary-color, 80%);
$primary-3              : mix(#fff, $primary-color, 60%);
$primary-4              : mix(#fff, $primary-color, 40%);
$primary-5              : mix(#fff, $primary-color, 20%);
$primary-6              : $primary-color;
$primary-7              : mix(#000, $primary-color, 10%);
$primary-8              : mix(#000, $primary-color, 20%);
$primary-9              : mix(#000, $primary-color, 30%);
$primary-10             : mix(#000, $primary-color, 40%);

// ------ Base & Require ------
$body-background        : #fff;
$font-family            : "Microsoft YaHei", Arial;
$code-family            : Consolas, Menlo, Courier, monospace;
$heading-color          : #333;
$heading-color-dark     : #222;
$text-color             : #666;
$text-color-secondary   : #999;
$text-color-dark        : #444;
$text-color-secondary-dark: #777;
$text-color-of-bg       : #fff;
$font-size-base         : 12px;
$font-size-sm           : $font-size-base - 2px;
$font-size-lg           : $font-size-base + 2px;
$line-height-base       : 1.5;
$border-radius-base     : 4px;
$border-radius-sm       : 2px;
$height-base            : 30px;
$height-sm              : $height-base - 8px;
$height-lg              : $height-base + 8px;

// Border color
$border-color-base      : #dcdcdc;
$border-color-split     : #e9e9e9;
$border-width-base      : 1px;
$border-style-base      : solid;

// Background color
$background-color-base  : #f7f7f7;

// Shadow
$shadow-color           : rgba(#000, .2);
$shadow-1-down          : 0 1px 6px $shadow-color;
$shadow-1-up            : 0 -1px 6px $shadow-color;
$shadow-1-left          : -1px 0 6px $shadow-color;
$shadow-1-right         : 1px 0 6px $shadow-color;
$shadow-2               : 0 2px 8px $shadow-color;
$box-shadow-base        : $shadow-1-down;
$box-focus-shadow       : 0 0 0 2px fade-out($primary-color, .8);

// Disabled
$disabled-color         : rgba(#000, .25);
$disabled-bg            : $background-color-base;
$disabled-bg-dark       : #f4f4f4; // switch组件disabled bg

// The background colors for active and hover states for things like
// list items or table cells.
$item-hover-bg          : $primary-1;
$item-active-bg         : $primary-2;

// Buttons
$btn-box-shadow         : none;
$btn-font-weight        : 500;

// Scroll bar
$scroll-bar-bg          : fade-out(#008fd4, .7);
$scroll-bar-active-bg   : fade-out(#008fd4, .5);

@import "./_common";
@import "../all-theme";
@import "../theming-api";

// ------ Own for zte ------
@include setPopupCloseBar($primary-color, $primary-7);
@include setDialogHead($primary-color, #f2f2f2, 30px);
@include setDialogButton(right, false);

@include setBtnDefault($primary-color, 14px);
@include showBtnAnimation(false);
//@include setBtnActive(light-to-dark);

@include setTableHead(#f4f6f8, #294e79, 14px, #008fd4, 2px);
@include setTableBody(#333, 12px, #fff, #f8f8f8);
@include setTableTextAlign(left, 20px);

@include setTag(#fff, 25px);
@include setTagCloseBarInCenter(25px);
@include setCollapse(#f4f6f8);
@include setTabsTriangle(true);

