<demo-template [data]="data" [(selectedLabel)]="selectedLabel" [text]="text['text']['async']">
    <div>
        <j-select [(value)]="selectedCity"
                  (valueChange)="selectChange($event)"
                  labelField="name"
                  placeholder="请选择城市"
                  [optionCount]="4"
                  [data]="cities"
                  c>
        </j-select>
        <p class="message">选择的城市是 <span>{{selectedCityName}}</span></p>
    </div>
</demo-template>
