<div class="demo-wrap">
    <h2>jigsaw-button</h2>
    <div class="demo-1 demo">
        <h3>写法</h3>
        <p>支持标签和属性两种写法</p>
        <jigsaw-button colorType="primary">click me</jigsaw-button>
        <a jigsaw-button colorType="primary">另一种写法</a>
    </div>

    <div class="demo-2 demo">
        <h3>类型</h3>
        <p>四种类型：<code>default</code> <code>primary</code> <code>warning</code> <code>error|danger</code></p>
        <jigsaw-button>Default</jigsaw-button>
        <jigsaw-button colorType="primary">Primary</jigsaw-button>
        <jigsaw-button colorType="warning">Warning</jigsaw-button>
        <jigsaw-button colorType="danger">Danger</jigsaw-button>
    </div>

    <div class="demo-3 demo">
        <h3>尺寸</h3>
        <p>三种尺寸：<code>small</code> <code>default</code> <code>large</code></p>
        <jigsaw-button [preSize]="size" colorType="primary" (click)="changeSize('small')">Small</jigsaw-button>
        <jigsaw-button [preSize]="size" colorType="primary" (click)="changeSize()">Default</jigsaw-button>
        <jigsaw-button [preSize]="size" colorType="primary" (click)="changeSize('large')">Large</jigsaw-button>
    </div>

    <div class="demo-4 demo">
        <h3>设置宽高</h3>
        <p>宽高支持 <code>number</code> <code>px</code> <code>%</code></p>
        <jigsaw-button width="150px" height="40">click me</jigsaw-button>
        <jigsaw-button width="20%">click me</jigsaw-button>
    </div>

    <div class="demo-5 demo">
        <h3>绑定click事件</h3>
        <jigsaw-button (click)="canClick()">click me</jigsaw-button>
    </div>

    <div class="demo-6 demo">
        <h3>不可点击状态</h3>
        <jigsaw-button [(disabled)]="disabled" (click)="changeClickCount()">click me</jigsaw-button>
        <jigsaw-checkbox [(checked)]="disabled">disable/enable</jigsaw-checkbox>
        <p class="message">点击次数<span>{{clickCount}}</span></p>
    </div>

    <div class="demo-7 demo">
        <h3>内嵌图标</h3>
        <jigsaw-button>
            <span class="fa fa-area-chart"></span>
            <span>确定</span>
        </jigsaw-button>
        <jigsaw-button (click)="onClick()" colorType="primary">
            <jigsaw-font-loading *ngIf="isLoading" width="16px" height="16px" color="white"></jigsaw-font-loading>
            <span>{{label}}</span>
        </jigsaw-button>
    </div>
</div>
