<!-- ignore the following lines, they are not important to this demo -->



<demo-template [data]="[]" [text]="text['text']['scatter']">
    <div class="live-demo-wrap">
        <div class="clearfix">
            <div class="live-demo live-demo-block">
                <jigsaw-header [level]="2">ScatterGraphData静态数据</jigsaw-header>
                <jigsaw-graph [data]="scatterData" height="400" (click)="handleClick($event)"></jigsaw-graph>
            </div>
        </div>
    </div>
</demo-template>









