<j-layout
    *ngFor="let itemData of data?.nodes"
    [data]="itemData"
    [(direction)]="itemData.direction"
    [justify]="itemData.justify"
    [align]="itemData.align"
    [order]="itemData.order"
    [grow]="itemData.grow"
    [shrink]="itemData.shrink"
    (remove)="_$removeItem($event)">
</j-layout>

<div *ngIf="!data || !data.nodes || !data.nodes.length" class="jigsaw-layout-btn">
    <i class="fa fa-plus-square-o"></i>
    <div *ngIf="_$showOptions" class="jigsaw-layout-options">
        <span class="fa fa-minus-square-o" (click)="_$addItems('v')"></span>
        <span class="fa fa-columns" (click)="_$addItems('h')"></span>
        <span class="fa fa-trash-o" (click)="_$remove()"></span>
    </div>
</div>

