@import "../../assets/scss/core/base";

$layout-prefix-cls: #{$jigsaw-prefix}-view-layout;
$editor-prefix-cls: #{$jigsaw-prefix}-view-editor;

.#{$layout-prefix-cls} {
    position: relative;
    &-btn {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        i {
            font-size: 30px;
            cursor: pointer;
        }
    }
    &-options {
        position: absolute;
        font-size: 0;
        width: 50px;
        top: -14px;
        left: 50%;
        transform: translateX(-43%);
        span {
            font-size: 14px;
            margin-right: 4px;
            cursor: pointer;
        }
    }
}

.#{$editor-prefix-cls} {
    display: block;
}
