<demo-template [data]="''" [text]="doc.text.basic" [codes]="doc.codes.basic">
<!-- start to learn the demo from here -->
    <div class="demo-showcase">
        <span>正常</span>
        <jigsaw-icon [icon]="'iconfont iconfont-e1a0'" [iconSize]="40" title="编辑"
                     [href]="'https://rdk.zte.com.cn/home'" [target]="'_blank'">
        </jigsaw-icon>
    </div>

    <div class="demo-showcase">
        <span>禁用</span>
        <jigsaw-icon [icon]="'iconfont iconfont-e1a0'" [iconSize]="40" title="编辑" [disabled]="true"
                     [href]="'https://rdk.zte.com.cn/home'" [target]="'_blank'">
        </jigsaw-icon>
    </div>
</demo-template>
