<demo-template [description]="description" [demoSources]="demoSources">
    <div class="demo-showcase">
        <span>正常</span>
        <jigsaw-icon
            title="编辑"
            [icon]="'iconfont iconfont-e1a0'"
            [iconSize]="40"
            [href]="'https://rdk.zte.com.cn/home'"
            [target]="'_blank'"
        >
        </jigsaw-icon>
    </div>

    <div class="demo-showcase">
        <span>禁用</span>
        <jigsaw-icon
            title="编辑"
            [icon]="'iconfont iconfont-e1a0'"
            [iconSize]="40"
            [disabled]="true"
            [href]="'https://rdk.zte.com.cn/home'"
            [target]="'_blank'"
        >
        </jigsaw-icon>
    </div>
</demo-template>
