<!-- ignore the following lines, they are not important to this demo -->
<jigsaw-demo-description [summary]="summary" [content]="description">
</jigsaw-demo-description>


<!-- start to learn the demo from here -->
<div class="live-demo-wrap">
    <h2>View Editor</h2>
    <div class="demo-1 live-demo">
        <h3>设置是否可编辑</h3>
        <p class="comment">editable默认为true，即默认可编辑</p>
        <div class="mgb">
            <j-button (click)="editable = !editable">toggle editable</j-button>
        </div>
        <j-editable-box [data]="data" [editable]="editable" height="400"></j-editable-box>
    </div>
</div>


