<!-- ignore the following lines, they are not important to this demo -->
<jigsaw-demo-description [summary]="summary" [content]="description">
</jigsaw-demo-description>


<!-- start to learn the demo from here -->
<div class="wrap">
    <jigsaw-mobile-button (click)="popupBlockLoading()">popupCmpLoading</jigsaw-mobile-button>
    <jigsaw-mobile-button (click)="closeBlockLoading()">closeCmpLoading</jigsaw-mobile-button>
    <div #block class="block">
        <div>
            <p>这里需要一段文字，虽然我认真写了，但是估计没多少人会仔细看。</p>
            <p>这里需要一段文字，虽然我认真写了，但是估计没多少人会仔细看。</p>
            <p>这里需要一段文字，虽然我认真写了，但是估计没多少人会仔细看。</p>
            <p>这里需要一段文字，虽然我认真写了，但是估计没多少人会仔细看。</p>
            <p>这里需要一段文字，虽然我认真写了，但是估计没多少人会仔细看。</p>
            <p>这里需要一段文字，虽然我认真写了，但是估计没多少人会仔细看。</p>
            <p>这里需要一段文字，虽然我认真写了，但是估计没多少人会仔细看。</p>
            <p>这里需要一段文字，虽然我认真写了，但是估计没多少人会仔细看。</p>
            <p>这里需要一段文字，虽然我认真写了，但是估计没多少人会仔细看。</p>
            <p>这里需要一段文字，虽然我认真写了，但是估计没多少人会仔细看。</p>
            <p>这里需要一段文字，虽然我认真写了，但是估计没多少人会仔细看。</p>
            <p>这里需要一段文字，虽然我认真写了，但是估计没多少人会仔细看。</p>
            <p>这里需要一段文字，虽然我认真写了，但是估计没多少人会仔细看。</p>
        </div>
    </div>

    <jigsaw-mobile-button (click)="popupGlobalLoading()">popupGlobalLoading</jigsaw-mobile-button>
</div>

