<!-- ignore the following lines, they are not important to this demo -->
<jigsaw-demo-description [summary]="summary" [content]="description">
</jigsaw-demo-description>

<jigsaw-header>页面信息</jigsaw-header>
<ul>
    <li>
        <span>页面索引：</span>
        <span>{{pageIndex}}</span>
    </li>
    <li>
        <span>页面名称：</span>
        <span>{{data?.artboards[pageIndex].name}}</span>
    </li>
</ul>

<div class="layers-cntr">
    <div>
        <jigsaw-header>layerName 共{{layers?.length}}项</jigsaw-header>
        <ul class="layers-list" [perfectScrollbar]="{suppressScrollX: true, wheelSpeed: 0.5, minScrollbarLength: 20}">
            <li *ngFor="let layer of data?.layers[pageIndex]; let i = index" (click)="_$showLayersData(layer)">
                <span>{{i}}.</span>
                <span>{{layer.name}}</span>
            </li>
        </ul>
    </div>

    <div>
        <jigsaw-header>plx 共{{plxLayers?.length}}项</jigsaw-header>
        <ul class="layers-list" [perfectScrollbar]="{suppressScrollX: true, wheelSpeed: 0.5, minScrollbarLength: 20}">
            <li *ngFor="let layer of data?.markedLayers[pageIndex]; let i = index" (click)="_$showLayersData(layer)">
                <span>{{i}}.</span>
                <span>{{layer.name}}</span>
            </li>
        </ul>
    </div>
</div>