<!-- ignore the following lines, they are not important to this demo -->
<jigsaw-demo-description [summary]="summary" [content]="description">
</jigsaw-demo-description>

<jigsaw-header>页面信息</jigsaw-header>
<ul>
    <li>
        <span>页面索引：</span>
        <span>{{pageIndex}}</span>
    </li>
    <li>
        <span>页面名称：</span>
        <span>{{data[pageIndex].name}}</span>
    </li>
</ul>

<div class="layers-cntr">
    <div>
        <jigsaw-header>layerName 共{{data[pageIndex].layers.length}}项</jigsaw-header>
        <ul class="layers-list" [perfectScrollbar]="{suppressScrollX: true, wheelSpeed: 0.5, minScrollbarLength: 20}">
            <li *ngFor="let layer of data[pageIndex].layers; let i = index" (click)="_$showLayersData(layer)">
                <span>{{i}}.</span>
                <span>{{layer.name}}</span>
            </li>
        </ul>
    </div>

    <div>
        <jigsaw-header>plx 共{{data[pageIndex].markedLayers.length}}项</jigsaw-header>
        <ul class="layers-list" [perfectScrollbar]="{suppressScrollX: true, wheelSpeed: 0.5, minScrollbarLength: 20}">
            <li *ngFor="let layer of data[pageIndex].markedLayers; let i = index" (click)="_$showLayersData(layer)">
                <span>{{i}}.</span>
                <span>{{layer.name}}</span>
            </li>
        </ul>
    </div>
</div>
<jigsaw-header>subLayers</jigsaw-header>
<div>
    <ul [perfectScrollbar]="{suppressScrollX: true, wheelSpeed: 0.5, minScrollbarLength: 20}">
        <li *ngFor="let layer of subLayers; let i = index">
            <span>{{i}}.</span>
            <span>{{layer.name}}</span>
        </li>
    </ul>
</div>