<div class="demo-wrapper nav">
    <jigsaw-markdown [markdown]="description"></jigsaw-markdown>
    <process-status-basic></process-status-basic>
    <process-status-custom-icons></process-status-custom-icons>
    <process-status-status-interactive></process-status-status-interactive>
    <process-status-status-multiline></process-status-status-multiline>
    <process-status-vertical></process-status-vertical>
    <doc-template [docContent]="docContent"></doc-template>
    <doc-footer-template></doc-footer-template>
    <demo-navigation [navigationData]="navigationData"></demo-navigation>
</div>