.markdown-wrap {
    width: 800px;
    display: inline-block;
    font-size: 14px;
    /* BLOCKS
    =============================================================================*/

    .md-p, .md-blockquote, .md-ul, .md-ol, .md-dl, .md-table, .md-pre {
        margin: 15px 0;
    }

    /* HEADERS
    =============================================================================*/

    .md-h1, .md-h2, .md-h3, .md-h4, .md-h5, .md-h6 {
        margin: 20px 0 10px;
        padding: 0;
        font-weight: bold;
        -webkit-font-smoothing: antialiased;
    }

    h1.md-h1 tt, h1.md-h1 code,
    h2.md-h2 tt, h2.md-h2 code,
    h3.md-h3 tt, h3.md-h3 code,
    h4.md-h4 tt, h4.md-h4 code,
    h5.md-h5 tt, h5.md-h5 code,
    h6.md-h6 tt, h6.md-h6 code {
        font-size: inherit;
    }

    .md-h1 {
        font-size: 28px;
        color: #000;
    }

    .md-h2 {
        font-size: 24px;
        border-bottom: 1px solid #ccc;
        color: #000;
    }

    .md-h3 {
        font-size: 18px;
    }

    .md-h4 {
        font-size: 16px;
    }

    .md-h5 {
        font-size: 14px;
    }

    .md-h6 {
        color: #777;
        font-size: 14px;
    }

    body>h2:first-child, body>h1:first-child, body>h1:first-child+h2, body>h3:first-child, body>h4:first-child, body>h5:first-child, body>h6:first-child {
        margin-top: 0;
        padding-top: 0;
    }

    a:first-child h1.md-h1, a:first-child h2, a:first-child h3, a:first-child h4, a:first-child h5, a:first-child h6 {
        margin-top: 0;
        padding-top: 0;
    }

    h1.md-h1+p.md-p,
    h2.md-h2+p.md-p,
    h3.md-h3+p.md-p,
    h4.md-h4+p.md-p,
    h5.md-h5+p.md-p,
    h6.md-h6+p.md-p {
        margin-top: 10px;
    }

    /* LISTS
    =============================================================================*/

    .md-ul, .md-ol {
        padding-left: 30px;
        list-style: disc;
    }

    ul.md-ul li > :first-child,
    ol.md-ol li > :first-child,
    ul.md-ul li ul:first-of-type,
    ol.md-ol li ol:first-of-type,
    ul.md-ul li ol:first-of-type,
    ol.md-ol li ul:first-of-type {
        margin-top: 0px;
    }

    ul.md-ul ul.md-ul,
    ul.md-ul ol.md-ol,
    ol.md-ol ol.md-ol,
    ol.md-ol ul.md-ul {
        margin-bottom: 0;
    }

    .md-dl {
        padding: 0;
    }

    dl.md-dl dt {
        font-size: 14px;
        font-weight: bold;
        font-style: italic;
        padding: 0;
        margin: 15px 0 5px;
    }

    dl.md-dl dt:first-child {
        padding: 0;
    }

    dl.md-dl dt>:first-child {
        margin-top: 0px;
    }

    dl.md-dl dt>:last-child {
        margin-bottom: 0px;
    }

    dl.md-dl dd {
        margin: 0 0 15px;
        padding: 0 15px;
    }

    dl.md-dl dd>:first-child {
        margin-top: 0px;
    }

    dl.md-dl dd>:last-child {
        margin-bottom: 0px;
    }

    /* CODE
    =============================================================================*/

    .md-pre, .md-code, .md-tt {
        font-size: 12px;
        font-family: Consolas, "Liberation Mono", Courier, monospace;
    }

    .md-code, .md-tt {
        margin: 0 0px;
        padding: 0px 0px;
        white-space: nowrap;
        border: 1px solid #eaeaea;
        background-color: #f8f8f8;
        border-radius: 3px;
    }



    pre.md-pre>code.md-code {
        margin: 0;
        padding: 0;
        white-space: pre;
        border: none;
        background: transparent;
    }

    .md-pre {
        background-color: #f8f8f8;
        border: 1px solid #ccc;
        font-size: 13px;
        line-height: 19px;
        overflow: auto;
        padding: 6px 10px;
        border-radius: 3px;
    }

    pre.md-pre code, pre.md-pre tt {
        background-color: transparent;
        border: none;
    }

    .md-kbd {
        -moz-border-bottom-colors: none;
        -moz-border-left-colors: none;
        -moz-border-right-colors: none;
        -moz-border-top-colors: none;
        background-color: #DDDDDD;
        background-image: linear-gradient(#F1F1F1, #DDDDDD);
        background-repeat: repeat-x;
        border-color: #DDDDDD #CCCCCC #CCCCCC #DDDDDD;
        border-image: none;
        border-radius: 2px 2px 2px 2px;
        border-style: solid;
        border-width: 1px;
        font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
        line-height: 10px;
        padding: 1px 4px;
    }

    /* QUOTES
    =============================================================================*/

    .md-blockquote {
        border-left: 4px solid #DDD;
        padding: 0 15px;
        color: #777;
    }

    blockquote>:first-child {
        margin-top: 0px;
    }

    blockquote>:last-child {
        margin-bottom: 0px;
    }

    /* HORIZONTAL RULES
    =============================================================================*/

    .md-hr {
        clear: both;
        margin: 15px 0;
        height: 0px;
        overflow: hidden;
        border: none;
        background: transparent;
        border-bottom: 4px solid #ddd;
        padding: 0;
    }

    /* TABLES
    =============================================================================*/

    table.md-table th {
        font-weight: bold;
    }

    table.md-table th, table.md-table td {
        border: 1px solid #ccc;
        padding: 6px 13px;
    }

    table.md-table tr {
        border-top: 1px solid #ccc;
        background-color: #fff;
    }

    table.md-table tr:nth-child(2n) {
        background-color: #f8f8f8;
    }

    /* IMAGES
    =============================================================================*/

    .md-img {
        max-width: 100%
    }
}

