<!-- ignore the following lines, they are not important to this demo -->
<jigsaw-demo-description [summary]="summary" [content]="description">
</jigsaw-demo-description>

<!-- start to learn the demo from here -->
<section>
    <h3>size:medium</h3>
    <section class="align-center">
        <jigsaw-tag preset="blue" size="medium">蓝色标签</jigsaw-tag>
        <jigsaw-tag preset="cyan" size="medium">青色标签</jigsaw-tag>
        <jigsaw-tag preset="green" size="medium">绿色标签</jigsaw-tag>
        <jigsaw-tag isAdd="true" size="medium"></jigsaw-tag>
        <jigsaw-tag isAdd="true" size="medium" disabled="true"></jigsaw-tag>
    </section>
</section>
<section>
    <h3>size:small</h3>
    <section class="align-center">
        <jigsaw-tag preset="blue" size="small">蓝色标签</jigsaw-tag>
        <jigsaw-tag preset="cyan" size="small">青色标签</jigsaw-tag>
        <jigsaw-tag preset="green" size="small">绿色标签</jigsaw-tag>
        <jigsaw-tag isAdd="true" size="small"></jigsaw-tag>
        <jigsaw-tag isAdd="true" size="small" disabled="true"></jigsaw-tag>
    </section>
</section>