<!-- ignore the following lines, they are not important to this demo -->
<jigsaw-demo-description [summary]="summary" [content]="description">
</jigsaw-demo-description>

<!-- start to learn the demo from here -->
<ul class="build-in-theme-cntr">
    <li class="header">
        <section>
            <div class="center">
                <jigsaw-header [theme]="darkTheme" [level]="1">组件内置主题</jigsaw-header>
            </div>
        </section>
        <section>
            <div class="center">
                <jigsaw-header [theme]="lightTheme" [level]="1">组件内置主题</jigsaw-header>
            </div>
        </section>
    </li>
    <li class="button">
        <section>
            <jigsaw-header [theme]="darkTheme">button</jigsaw-header>
            <div class="start">
                <jigsaw-button [theme]="darkTheme">Default</jigsaw-button>
                <jigsaw-button [theme]="darkTheme" colorType="primary">Primary</jigsaw-button>
                <jigsaw-button [theme]="darkTheme" colorType="warning">Warning</jigsaw-button>
                <jigsaw-button [theme]="darkTheme" colorType="error">Error</jigsaw-button>
                <jigsaw-button [theme]="darkTheme" colorType="danger">Danger</jigsaw-button>
            </div>
        </section>
        <section>
            <jigsaw-header [theme]="lightTheme">button</jigsaw-header>
            <div class="start">
                <jigsaw-button [theme]="lightTheme">Default</jigsaw-button>
                <jigsaw-button [theme]="lightTheme" colorType="primary">Primary</jigsaw-button>
                <jigsaw-button [theme]="lightTheme" colorType="warning">Warning</jigsaw-button>
                <jigsaw-button [theme]="lightTheme" colorType="error">Error</jigsaw-button>
                <jigsaw-button [theme]="lightTheme" colorType="danger">Danger</jigsaw-button>
            </div>
        </section>
    </li>
    <li class="tag">
        <section>
            <jigsaw-header [theme]="darkTheme">tag</jigsaw-header>
            <div class="start">
                <jigsaw-tag [theme]="darkTheme" [closable]="false">Tag 1</jigsaw-tag>
                <jigsaw-tag [theme]="darkTheme" [closable]="true">Tag 2</jigsaw-tag>
                <jigsaw-tag [theme]="darkTheme" [closable]="true">
                    A very very very very very very very long tag
                </jigsaw-tag>
            </div>
        </section>
        <section>
            <jigsaw-header [theme]="lightTheme">tag</jigsaw-header>
            <div class="start">
                <jigsaw-tag [theme]="lightTheme" [closable]="false">Tag 1</jigsaw-tag>
                <jigsaw-tag [theme]="lightTheme" [closable]="true">Tag 2</jigsaw-tag>
                <jigsaw-tag [theme]="lightTheme" [closable]="true">
                    A very very very very very very very long tag
                </jigsaw-tag>
            </div>
        </section>
    </li>
    <li class="input">
        <section>
            <jigsaw-header [theme]="darkTheme">input</jigsaw-header>
            <div class="start">
                <jigsaw-input [theme]="darkTheme" placeholder="请输入文本"></jigsaw-input>
            </div>
        </section>
        <section>
            <jigsaw-header [theme]="lightTheme">input</jigsaw-header>
            <div class="start">
                <jigsaw-input [theme]="lightTheme" placeholder="请输入文本"></jigsaw-input>
            </div>
        </section>
    </li>
    <li class="numeric-input">
        <section>
            <jigsaw-header [theme]="darkTheme">numeric-input</jigsaw-header>
            <div class="start">
                <j-numeric-input [theme]="darkTheme" min="10" max="110" placeholder="请输入数字"></j-numeric-input>
            </div>
        </section>
        <section>
            <jigsaw-header [theme]="lightTheme">numeric-input</jigsaw-header>
            <div class="start">
                <j-numeric-input [theme]="lightTheme" min="10" max="110" placeholder="请输入数字"></j-numeric-input>
            </div>
        </section>
    </li>
    <li class="auto-complete-input">
        <section>
            <jigsaw-header [theme]="darkTheme">auto-complete-input</jigsaw-header>
            <div class="start">
                <jigsaw-auto-complete-input [theme]="darkTheme" [data]="_$dropdownData"
                    placeholder="auto complete input demo" width="280">
                </jigsaw-auto-complete-input>
            </div>
        </section>
        <section>
            <jigsaw-header [theme]="lightTheme">auto-complete-input</jigsaw-header>
            <div class="start">
                <jigsaw-auto-complete-input [theme]="lightTheme" [data]="_$dropdownData"
                    placeholder="auto complete input demo" width="280">
                </jigsaw-auto-complete-input>
            </div>
        </section>
    </li>
    <li class="breadcrumb">
        <section>
            <jigsaw-header [theme]="darkTheme">breadcrumb</jigsaw-header>
            <div class="start">
                <j-breadcrumb [theme]="darkTheme" [data]="_$breadcrumbItems"></j-breadcrumb>
            </div>
        </section>
        <section>
            <jigsaw-header [theme]="lightTheme">breadcrumb</jigsaw-header>
            <div class="start">
                <j-breadcrumb [theme]="lightTheme" [data]="_$breadcrumbItems"></j-breadcrumb>
            </div>
        </section>
    </li>
    <li class="checkbox">
        <section>
            <jigsaw-header [theme]="darkTheme">checkbox</jigsaw-header>
            <div class="start">
                <jigsaw-checkbox [theme]="darkTheme" enableIndeterminate="true">
                    click me
                </jigsaw-checkbox>
            </div>
        </section>
        <section>
            <jigsaw-header [theme]="lightTheme">checkbox</jigsaw-header>
            <div class="start">
                <jigsaw-checkbox [theme]="lightTheme" enableIndeterminate="true">
                    click me
                </jigsaw-checkbox>
            </div>
        </section>
    </li>
    <li class="radio-group">
        <section>
            <jigsaw-header [theme]="darkTheme">radio-group</jigsaw-header>
            <div class="start">
                <jigsaw-radios [theme]="darkTheme" trackItemBy="id">
                    <jigsaw-radio-option *ngFor="let item of _$cityList" [value]="item">
                        {{item.label}}
                    </jigsaw-radio-option>
                </jigsaw-radios>
            </div>
        </section>
        <section>
            <jigsaw-header [theme]="lightTheme">radio-group</jigsaw-header>
            <div class="start">
                <jigsaw-radios [theme]="lightTheme" trackItemBy="id">
                    <jigsaw-radio-option *ngFor="let item of _$cityList" [value]="item">
                        {{item.label}}
                    </jigsaw-radio-option>
                </jigsaw-radios>
            </div>
        </section>
    </li>
    <li class="radio-lite">
        <section>
            <jigsaw-header [theme]="darkTheme">radio-lite</jigsaw-header>
            <div class="start">
                <jigsaw-radios-lite [theme]="darkTheme" [data]="_$cityList"></jigsaw-radios-lite>
            </div>
        </section>
        <section>
            <jigsaw-header [theme]="lightTheme">radio-lite</jigsaw-header>
            <div class="start">
                <jigsaw-radios-lite [theme]="lightTheme" [data]="_$cityList"></jigsaw-radios-lite>
            </div>
        </section>
    </li>

    <!-- <li class="select">
        <section>
            <jigsaw-header [theme]="darkTheme">select</jigsaw-header>
            <div class="start">
                <jigsaw-select [theme]="darkTheme" placeholder="请选择城市" [data]="_$cityList"></jigsaw-select>
            </div>
        </section>
        <section>
            <jigsaw-header [theme]="lightTheme">select</jigsaw-header>
            <div class="start">
                <jigsaw-select [theme]="lightTheme" placeholder="请选择城市" [data]="_$cityList"></jigsaw-select>
            </div>
        </section>
    </li> -->
</ul>