.build-in-theme-cntr {
    background: linear-gradient(to left, #ffffff, #ffffff 50%, #0f111a 50%, #0f111a);
}

.build-in-theme-cntr > .list-li {
    display: flex;
    width: 100%;
}

.build-in-theme-cntr > .list-li:not(:first-of-type) {
    margin-bottom: 16px;
}

.build-in-theme-cntr > .list-li .jigsaw-header-host .jigsaw-header-content{
    text-transform: capitalize;
}

.build-in-theme-cntr > .list-li > .item-section {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 8px;
}

.build-in-theme-cntr > .list-li > .item-section > .item-div {
    display: flex;
    width: 100%;
    align-items: center;
}

.build-in-theme-cntr > .list-li > .item-section > .item-div.center {
    justify-content: center;
}

.build-in-theme-cntr > .list-li > .item-section > .item-div.start {
    justify-content: flex-start;
}

.build-in-theme-cntr > .list-li > .item-section > .item-div.start > * {
    margin-right: 8px;
}

.build-in-theme-cntr > .list-li.circle-loading > .item-section > .item-div.start > * {
    margin-right: 40px;
}

.build-in-theme-cntr > .list-li > .item-section > .item-div.space-between {
    justify-content: space-between;
}

.build-in-theme-cntr > .list-li > .item-section > .item-div.space-evenly {
    justify-content: space-evenly;
}
