<!-- ignore the following lines, they are not important to this demo -->
<jigsaw-demo-description [summary]="summary" [content]="description">
</jigsaw-demo-description>

<!-- start to learn the demo from here -->
<ul class="build-in-theme-cntr">
    <li class="header">
        <section>
            <div class="center">
                <jigsaw-header [theme]="darkTheme" [level]="1">组件内置主题</jigsaw-header>
            </div>
        </section>
        <section>
            <div class="center">
                <jigsaw-header [theme]="lightTheme" [level]="1">组件内置主题</jigsaw-header>
            </div>
        </section>
    </li>
    <li class="button">
        <section>
            <jigsaw-header [theme]="darkTheme">button</jigsaw-header>
            <div class="start">
                <jigsaw-button [theme]="darkTheme">Default</jigsaw-button>
                <jigsaw-button [theme]="darkTheme" colorType="primary">Primary</jigsaw-button>
                <jigsaw-button [theme]="darkTheme" colorType="warning">Warning</jigsaw-button>
                <jigsaw-button [theme]="darkTheme" colorType="error">Error</jigsaw-button>
                <jigsaw-button [theme]="darkTheme" colorType="danger">Danger</jigsaw-button>
            </div>
        </section>
        <section>
            <jigsaw-header [theme]="lightTheme">button</jigsaw-header>
            <div class="start">
                <jigsaw-button [theme]="lightTheme">Default</jigsaw-button>
                <jigsaw-button [theme]="lightTheme" colorType="primary">Primary</jigsaw-button>
                <jigsaw-button [theme]="lightTheme" colorType="warning">Warning</jigsaw-button>
                <jigsaw-button [theme]="lightTheme" colorType="error">Error</jigsaw-button>
                <jigsaw-button [theme]="lightTheme" colorType="danger">Danger</jigsaw-button>
            </div>
        </section>
    </li>
    <li class="button-bar">
        <section>
            <jigsaw-header [theme]="darkTheme">button-bar</jigsaw-header>
            <div class="start">
                <jigsaw-button-bar [theme]="darkTheme" [data]="_$cityList" [multipleSelect]="true" optionWidth=60>
                </jigsaw-button-bar>
            </div>
        </section>
        <section>
            <jigsaw-header [theme]="lightTheme">button</jigsaw-header>
            <div class="start">
                <jigsaw-button-bar [theme]="lightTheme" [data]="_$cityList" [multipleSelect]="true" optionWidth=60>
                </jigsaw-button-bar>
            </div>
        </section>
    </li>
    <li class="tag">
        <section>
            <jigsaw-header [theme]="darkTheme">tag</jigsaw-header>
            <div class="start">
                <jigsaw-tag [theme]="darkTheme" [closable]="false">Tag 1</jigsaw-tag>
                <jigsaw-tag [theme]="darkTheme" [closable]="true">Tag 2</jigsaw-tag>
                <jigsaw-tag [theme]="darkTheme" [closable]="true">
                    A very very very very very very very long tag
                </jigsaw-tag>
            </div>
        </section>
        <section>
            <jigsaw-header [theme]="lightTheme">tag</jigsaw-header>
            <div class="start">
                <jigsaw-tag [theme]="lightTheme" [closable]="false">Tag 1</jigsaw-tag>
                <jigsaw-tag [theme]="lightTheme" [closable]="true">Tag 2</jigsaw-tag>
                <jigsaw-tag [theme]="lightTheme" [closable]="true">
                    A very very very very very very very long tag
                </jigsaw-tag>
            </div>
        </section>
    </li>
    <li class="input">
        <section>
            <jigsaw-header [theme]="darkTheme">input</jigsaw-header>
            <div class="start">
                <jigsaw-input [theme]="darkTheme" placeholder="请输入文本"></jigsaw-input>
            </div>
        </section>
        <section>
            <jigsaw-header [theme]="lightTheme">input</jigsaw-header>
            <div class="start">
                <jigsaw-input [theme]="lightTheme" placeholder="请输入文本"></jigsaw-input>
            </div>
        </section>
    </li>
    <li class="numeric-input">
        <section>
            <jigsaw-header [theme]="darkTheme">numeric-input</jigsaw-header>
            <div class="start">
                <j-numeric-input [theme]="darkTheme" min="10" max="110" placeholder="请输入数字"></j-numeric-input>
            </div>
        </section>
        <section>
            <jigsaw-header [theme]="lightTheme">numeric-input</jigsaw-header>
            <div class="start">
                <j-numeric-input [theme]="lightTheme" min="10" max="110" placeholder="请输入数字"></j-numeric-input>
            </div>
        </section>
    </li>
    <li class="auto-complete-input">
        <section>
            <jigsaw-header [theme]="darkTheme">auto-complete-input</jigsaw-header>
            <div class="start">
                <jigsaw-auto-complete-input [theme]="darkTheme" [data]="_$dropdownData"
                    placeholder="auto complete input demo" width="280">
                </jigsaw-auto-complete-input>
            </div>
        </section>
        <section>
            <jigsaw-header [theme]="lightTheme">auto-complete-input</jigsaw-header>
            <div class="start">
                <jigsaw-auto-complete-input [theme]="lightTheme" [data]="_$dropdownData"
                    placeholder="auto complete input demo" width="280">
                </jigsaw-auto-complete-input>
            </div>
        </section>
    </li>
    <li class="breadcrumb">
        <section>
            <jigsaw-header [theme]="darkTheme">breadcrumb</jigsaw-header>
            <div class="start">
                <j-breadcrumb [theme]="darkTheme" [data]="_$breadcrumbItems"></j-breadcrumb>
            </div>
        </section>
        <section>
            <jigsaw-header [theme]="lightTheme">breadcrumb</jigsaw-header>
            <div class="start">
                <j-breadcrumb [theme]="lightTheme" [data]="_$breadcrumbItems"></j-breadcrumb>
            </div>
        </section>
    </li>
    <li class="checkbox">
        <section>
            <jigsaw-header [theme]="darkTheme">checkbox</jigsaw-header>
            <div class="start">
                <jigsaw-checkbox [theme]="darkTheme" enableIndeterminate="true">
                    click me
                </jigsaw-checkbox>
            </div>
        </section>
        <section>
            <jigsaw-header [theme]="lightTheme">checkbox</jigsaw-header>
            <div class="start">
                <jigsaw-checkbox [theme]="lightTheme" enableIndeterminate="true">
                    click me
                </jigsaw-checkbox>
            </div>
        </section>
    </li>
    <li class="radio-group">
        <section>
            <jigsaw-header [theme]="darkTheme">radio-group</jigsaw-header>
            <div class="start">
                <jigsaw-radios [theme]="darkTheme" trackItemBy="id">
                    <jigsaw-radio-option *ngFor="let item of _$cityList" [value]="item">
                        {{item.label}}
                    </jigsaw-radio-option>
                </jigsaw-radios>
            </div>
        </section>
        <section>
            <jigsaw-header [theme]="lightTheme">radio-group</jigsaw-header>
            <div class="start">
                <jigsaw-radios [theme]="lightTheme" trackItemBy="id">
                    <jigsaw-radio-option *ngFor="let item of _$cityList" [value]="item">
                        {{item.label}}
                    </jigsaw-radio-option>
                </jigsaw-radios>
            </div>
        </section>
    </li>
    <li class="radio-lite">
        <section>
            <jigsaw-header [theme]="darkTheme">radio-lite</jigsaw-header>
            <div class="start">
                <jigsaw-radios-lite [theme]="darkTheme" [data]="_$cityList"></jigsaw-radios-lite>
            </div>
        </section>
        <section>
            <jigsaw-header [theme]="lightTheme">radio-lite</jigsaw-header>
            <div class="start">
                <jigsaw-radios-lite [theme]="lightTheme" [data]="_$cityList"></jigsaw-radios-lite>
            </div>
        </section>
    </li>
    <li class="switch">
        <section>
            <jigsaw-header [theme]="darkTheme">switch</jigsaw-header>
            <div class="start">
                <jigsaw-switch [theme]="darkTheme" [checked]="true"></jigsaw-switch>
                <jigsaw-switch [theme]="darkTheme" [checked]="true" [disabled]="true"></jigsaw-switch>
                <jigsaw-switch [theme]="darkTheme" [checked]="false" [disabled]="true"></jigsaw-switch>
            </div>
        </section>
        <section>
            <jigsaw-header [theme]="lightTheme">switch</jigsaw-header>
            <div class="start">
                <jigsaw-switch [theme]="lightTheme" [checked]="true"></jigsaw-switch>
                <jigsaw-switch [theme]="lightTheme" [checked]="true" [disabled]="true"></jigsaw-switch>
                <jigsaw-switch [theme]="lightTheme" [checked]="false" [disabled]="true"></jigsaw-switch>
            </div>
        </section>
    </li>
    <li class="list">
        <section>
            <jigsaw-header [theme]="darkTheme">list</jigsaw-header>
            <div class="start">
                <j-list [theme]="darkTheme" width="200" trackItemBy="title">
                    <j-list-option [theme]="darkTheme" *ngFor="let title of _$titles" [value]="title">
                        <span j-title>{{title.title}}</span>
                        <div j-sub-title>{{title.subTitle}} <span *ngIf="title.subMenu"
                                class="iconfont iconfont-e144"></span>
                        </div>
                    </j-list-option>
                </j-list>
            </div>
        </section>
        <section>
            <jigsaw-header [theme]="lightTheme">list</jigsaw-header>
            <div class="start">
                <j-list [theme]="lightTheme" width="200" trackItemBy="title">
                    <j-list-option [theme]="lightTheme" *ngFor="let title of _$titles" [value]="title">
                        <span j-title>{{title.title}}</span>
                        <div j-sub-title>{{title.subTitle}} <span *ngIf="title.subMenu"
                                class="iconfont iconfont-e144"></span>
                        </div>
                    </j-list-option>
                </j-list>
            </div>
        </section>
    </li>
    <li class="list-lite">
        <section>
            <jigsaw-header [theme]="darkTheme">list-lite</jigsaw-header>
            <div class="start">
                <j-list-lite [theme]="darkTheme" width="200" [searchable]="true" [data]="_$goodsList" labelField="name">
                </j-list-lite>
            </div>
        </section>
        <section>
            <jigsaw-header [theme]="lightTheme">list-lite</jigsaw-header>
            <div class="start">
                <j-list-lite [theme]="lightTheme" width="200" [searchable]="true" [data]="_$goodsList"
                    labelField="name">
                </j-list-lite>
            </div>
        </section>
    </li>
    <li class="tile">
        <section>
            <jigsaw-header [theme]="darkTheme">tile</jigsaw-header>
            <div class="start">
                <j-tile [theme]="darkTheme" [multipleSelect]="true" [showBorder]="true" trackItemBy="label">
                    <j-tile-option *ngFor="let city of _$cityList2" [value]="city" [disabled]="city.disabled">
                        {{city.label}}
                    </j-tile-option>
                </j-tile>
            </div>
        </section>
        <section>
            <jigsaw-header [theme]="lightTheme">tile</jigsaw-header>
            <div class="start">
                <j-tile [theme]="lightTheme" [multipleSelect]="true" [showBorder]="true" trackItemBy="label">
                    <j-tile-option *ngFor="let city of _$cityList2" [value]="city" [disabled]="city.disabled">
                        {{city.label}}
                    </j-tile-option>
                </j-tile>
            </div>
        </section>
    </li>
    <li class="tile-lite">
        <section>
            <jigsaw-header [theme]="darkTheme">tile-lite</jigsaw-header>
            <div class="start">
                <jigsaw-tile-lite [theme]="darkTheme" trackItemBy="id" [multipleSelect]="true" [data]="_$cityList"
                    [showBorder]="true">
                </jigsaw-tile-lite>
            </div>
        </section>
        <section>
            <jigsaw-header [theme]="lightTheme">tile</jigsaw-header>
            <div class="start">
                <jigsaw-tile-lite [theme]="lightTheme" trackItemBy="id" [multipleSelect]="true" [data]="_$cityList"
                    [showBorder]="true">
                </jigsaw-tile-lite>
            </div>
        </section>
    </li>
    <li class="circle-loading">
        <section>
            <jigsaw-header [theme]="darkTheme">circle-loading</jigsaw-header>
            <div class="start">
                <jigsaw-circle-loading [theme]="darkTheme" [size]="'large'" [label]="'这是large'" [percent]="60">
                </jigsaw-circle-loading>
                <jigsaw-circle-loading [theme]="darkTheme" [size]="'medium'" [label]="'这是medium'" [percent]="50">
                </jigsaw-circle-loading>
                <jigsaw-circle-loading [theme]="darkTheme" [size]="'small'" [label]="'这是small'" [percent]="10">
                </jigsaw-circle-loading>
            </div>
        </section>
        <section>
            <jigsaw-header [theme]="lightTheme">circle-loading</jigsaw-header>
            <div class="start">
                <jigsaw-circle-loading [theme]="lightTheme" [size]="'large'" [label]="'这是large'" [percent]="60">
                </jigsaw-circle-loading>
                <jigsaw-circle-loading [theme]="lightTheme" [size]="'medium'" [label]="'这是medium'" [percent]="50">
                </jigsaw-circle-loading>
                <jigsaw-circle-loading [theme]="lightTheme" [size]="'small'" [label]="'这是small'" [percent]="10">
                </jigsaw-circle-loading>
            </div>
        </section>
    </li>
    <li class="collapse">
        <section>
            <jigsaw-header [theme]="darkTheme">collapse</jigsaw-header>
            <div class="start">
                <j-collapse [theme]="darkTheme" width="100%" mode="accordion">
                    <j-collapse-pane [header]="goods.name" [isActive]="goods.active" *ngFor="let goods of _$goodsList2">
                        {{goods.desc}}
                    </j-collapse-pane>
                </j-collapse>
            </div>
        </section>
        <section>
            <jigsaw-header [theme]="lightTheme">collapse</jigsaw-header>
            <div class="start">
                <j-collapse [theme]="lightTheme" width="100%" mode="accordion">
                    <j-collapse-pane [header]="goods.name" [isActive]="goods.active" *ngFor="let goods of _$goodsList2">
                        {{goods.desc}}
                    </j-collapse-pane>
                </j-collapse>
            </div>
        </section>
    </li>
    <li class="combo-select">
        <section>
            <jigsaw-header [theme]="darkTheme">combo-select</jigsaw-header>
            <div class="start">
                <jigsaw-combo-select [theme]="darkTheme" placeholder="请输入姓名~" autoWidth="true" [clearable]="true" maxWidth="500">
                    <ng-template>
                        <jigsaw-tile [(selectedItems)]="selectedCity" trackItemBy="label">
                            <jigsaw-tile-option *ngFor="let city of _$cityList" [value]="city" width="21.4%">
                                {{city.label}}
                            </jigsaw-tile-option>
                        </jigsaw-tile>
                    </ng-template>
                </jigsaw-combo-select>
            </div>
        </section>
        <section>
            <jigsaw-header [theme]="lightTheme">select</jigsaw-header>
            <div class="start">
                <jigsaw-combo-select [theme]="lightTheme" placeholder="请输入姓名~" autoWidth="true" [clearable]="true" maxWidth="500">
                    <ng-template>
                        <jigsaw-tile [(selectedItems)]="selectedCity" trackItemBy="label">
                            <jigsaw-tile-option *ngFor="let city of _$cityList" [value]="city" width="21.4%">
                                {{city.label}}
                            </jigsaw-tile-option>
                        </jigsaw-tile>
                    </ng-template>
                </jigsaw-combo-select>
            </div>
        </section>
    </li>
    <li class="select">
        <section>
            <jigsaw-header [theme]="darkTheme">select</jigsaw-header>
            <div class="start">
                <jigsaw-select [theme]="darkTheme" placeholder="请选择城市" [data]="_$cityList"></jigsaw-select>
            </div>
        </section>
        <section>
            <jigsaw-header [theme]="lightTheme">select</jigsaw-header>
            <div class="start">
                <jigsaw-select [theme]="lightTheme" placeholder="请选择城市" [data]="_$cityList"></jigsaw-select>
            </div>
        </section>
    </li>
    <li class="select-collapse">
        <section>
            <jigsaw-header [theme]="darkTheme">select-collapse</jigsaw-header>
            <div class="start">
                <jigsaw-collapse-select [theme]="darkTheme" [data]="_$groupData" [multipleSelect]="true"
                    placeholder="请选择" width="160px" optionCount="6" [useStatistics]="true"></jigsaw-collapse-select>
            </div>
        </section>
        <section>
            <jigsaw-header [theme]="lightTheme">select-collapse</jigsaw-header>
            <div class="start">
                <jigsaw-collapse-select [theme]="lightTheme" [data]="_$groupData" [multipleSelect]="true"
                    placeholder="请选择" width="160px" optionCount="6" [useStatistics]="true"></jigsaw-collapse-select>
            </div>
        </section>
    </li>
    <li class="select-group">
        <section>
            <jigsaw-header [theme]="darkTheme">select-group</jigsaw-header>
            <div class="start">
                <jigsaw-group-select [theme]="darkTheme" [data]="_$groupData" [multipleSelect]="true" placeholder="请选择"
                    width="160px" optionCount="6" [useStatistics]="true"></jigsaw-group-select>
            </div>
        </section>
        <section>
            <jigsaw-header [theme]="lightTheme">select-group</jigsaw-header>
            <div class="start">
                <jigsaw-group-select [theme]="lightTheme" [data]="_$groupData" [multipleSelect]="true" placeholder="请选择"
                    width="160px" optionCount="6" [useStatistics]="true"></jigsaw-group-select>
            </div>
        </section>
    </li>
</ul>