.wrap{
    padding-bottom: 800px;
    .block{
        width: 500px;
        line-height:20px;
        font-weight:bold;
        margin-bottom: 10px;
    }

    .content-box{
        padding-bottom: 10px;
        .content-title{
            margin-bottom: 20px;
        }
        .content-line{
            margin-bottom: 10px;
            label{
                display: inline-block;
                width: 100px;
            }
        }
        jigsaw-button{
            margin-left: 100px;
        }
    }
}

