.drag-wrap{
    float: left;
    margin-right: 10px;
    cursor: move;
}
.com-box{
    width: 100px;
    height: 100px;
    line-height: 100px;
    text-align: center;
}
.box1{
    background: #fcdbd9;
}
.box2{
    background: #87d068;
}
.box3{
    background: #42A5F5;
}
.box4{
    background: #ffbf00;
}
