.option-box{
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.drawer-content {
    width: 200px;
    height: 200px;
    line-height: 200px;
    margin-bottom: 6px;
    text-align: center;
    background: bisque;
}

.drawer-content-horizontal {
    display: inline-block;
    margin-right: 6px;
}

