<!-- ignore the following lines, they are not important to this demo -->
<jigsaw-demo-description [summary]="summary" [content]="description">
</jigsaw-demo-description>


<!-- start to learn the demo from here -->
<div class="option-box">
    <label>请选择抽屉位置：</label>
    <jigsaw-radios [(value)]="selectedPosition"
                   trackItemBy="label">
        <jigsaw-radio-option *ngFor="let item of positions" [value]="item">
            {{item.label}}
        </jigsaw-radio-option>
    </jigsaw-radios>
</div>

<j-drawer [position]="selectedPosition?.label"
          [height]="(selectedPosition?.label == 'top' || selectedPosition?.label == 'bottom') ? 200 : '100%'">
    <div *ngFor="let i of [1,2,3,4,5,6,7,8]" class="drawer-content"
         [class.drawer-content-horizontal]="selectedPosition?.label == 'top' || selectedPosition?.label == 'bottom'">
        这是一个展示内容的box
    </div>
</j-drawer>
