<jigsaw-collapse id="test-collapse1" width="80%">
    <jigsaw-collapse-pane head="测试col" [isActive]="true">
        <input type="text" placeholder="请输入姓名~">
        <jigsaw-input></jigsaw-input>
    </jigsaw-collapse-pane>

    <jigsaw-collapse-pane head="afdafd">
        密码: <input type="text" placeholder="请输入姓名~">
    </jigsaw-collapse-pane>

    <jigsaw-collapse-pane head="嵌套">
        <jigsaw-collapse mode="accordion">
            <jigsaw-collapse-pane head="测试col">
                <input type="text" placeholder="请输入姓名~">
            </jigsaw-collapse-pane>

            <jigsaw-collapse-pane head="afdafd" isactive="true">
                密码: <input type="text" placeholder="请输入姓名~">
            </jigsaw-collapse-pane>
        </jigsaw-collapse>
    </jigsaw-collapse-pane>
</jigsaw-collapse>
<br>
<br>
<h4>accordion</h4>
<br>
<hr>
<br>
<jigsaw-collapse id="test-collapse2" mode="accordion">
    <jigsaw-collapse-pane [isActive]="true">
        <div jigsaw-head>
            <i class="fa fa-arrow-circle-right"></i>
            <span style="color: blue;">测试自定义head</span>
            <i class="fa fa-arrow-circle-left"></i>
        </div>
        <div jigsaw-body>
            <input type="text" placeholder="请输入姓名~">
        </div>
    </jigsaw-collapse-pane>

    <jigsaw-collapse-pane head="afdafd">
        密码: <input type="text" placeholder="请输入姓名~">
    </jigsaw-collapse-pane>
    <jigsaw-collapse-pane head="3">
        <p>今天是个好天气</p>
    </jigsaw-collapse-pane>
    <jigsaw-collapse-pane head="4">
        <p>今天是个好日子~</p>
    </jigsaw-collapse-pane>
</jigsaw-collapse>
<br>
<hr>
<br>
