<demo-template [data]="data" [(selectedLabel)]="selectedLabel" [text]="text['text']['hidden']">
    <!-- start to learn the demo from here -->
    <div class="demo-showcase-v">
        <span>隐藏单页数</span>
        <jigsaw-pagination [data]="pageable"
                           [pageSizeOptions]="null"
                           [searchable]="false"
                           [showQuickJumper]="true"
                           mode="complex"
                           (currentChange)="getCurrentPage($event)"
                           (pageSizeChange)="getPageSize($event)"
                           widh="710px"
                           [size]="selectedLabel.size">
        </jigsaw-pagination>
        <p>当前第{{pageable.pagingInfo.currentPage}}页</p>
    </div>

    <div class="demo-showcase-v">
        <span>隐藏跳转框</span>
        <jigsaw-pagination [data]="pageable"
                           [pageSizeOptions]="pageSizeOptions"
                           [searchable]="false"
                           [showQuickJumper]="false"
                           mode="complex"
                           (currentChange)="getCurrentPage($event)"
                           (pageSizeChange)="getPageSize($event)"
                           widh="710px"
                           [size]="selectedLabel.size">
        </jigsaw-pagination>
        <p>当前第{{pageable.pagingInfo.currentPage}}页</p>
    </div>

    <div class="demo-showcase-v">
        <span>全隐藏</span>
        <jigsaw-pagination [data]="pageable"
                           [pageSizeOptions]="null"
                           [searchable]="false"
                           [showQuickJumper]="false"
                           mode="complex"
                           (currentChange)="getCurrentPage($event)"
                           (pageSizeChange)="getPageSize($event)"
                           widh="710px"
                           [size]="selectedLabel.size">
        </jigsaw-pagination>
        <p>当前第{{pageable.pagingInfo.currentPage}}页</p>
    </div>

</demo-template>
