$jigsaw-auto-complete-input: #{$jigsaw-prefix}-auto-complete-input;

.#{$jigsaw-auto-complete-input}-host {
    @include inline-block();
    width: 120px;
    height: $height-base;
    border-radius: $border-radius-base;
}

.#{$jigsaw-auto-complete-input}-list-box-host {
    overflow: auto;
    border-width: 1px;
    border-style: solid;
    border-color: $border-color-disabled;
    border-radius: 4px;
    box-shadow: $box-shadow-lv2;

    &.#{$jigsaw-auto-complete-input}-list-box-vacant{
        box-shadow: $box-shadow-lv0;
        border: none;
    }

    ul {
        margin: 0;
        padding: 0;

        li {
            padding: 6px 16px;
            font-size: 12px;
            background: $bg-component;
            cursor: pointer;

            span {
                display: inline-block;
                width: 100%;
                color: $font-color-default;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
            }

            &:hover {
                background: $bg-hover;
            }
        }
    }

    .#{$jigsaw-auto-complete-input}-item-title {
        font-weight: bold;
        margin: 0;
        padding: 3px 10px;
        width: 100%;
        background: $bg-component-darken;
        font-size: $font-title-med;
        color: $font-color-heading;
    }
    
}

