<j-input #input [placeholder]="placeholder" [(value)]="value" width="100%" [theme]="theme" height="100%"
    (keydown)="_$onKeyDown($event)" [clearable]="clearable" [disabled]="disabled" [valid]="valid" [preIcon]="_$preIcon"
    [icon]="_$icon" (preIconSelect)="preIconSelect.emit($event)" (iconSelect)="iconSelect.emit($event)"
    (focus)="_$handleFocus($event)" (blur)="_$handleBlur($event)" (select)="_$handleSelect($event)" jigsaw-float
    [jigsawFloatTarget]="dropDownTemp" [jigsawFloatOpen]="_$propertyListOpen" jigsawFloatOpenTrigger="none"
    jigsawFloatCloseTrigger="none" [jigsawFloatOptions]="{showShadow: false}" [jigsawFloatPosition]="floatPosition"
    [prefixWidth]="prefixWidth" [prefix]="prefix" [prefixLabelField]="prefixLabelField"
    (prefixChange)="prefixChange.emit($event)" [suffixWidth]="suffixWidth" [suffix]="suffix"
    [suffixLabelField]="suffixLabelField" (suffixChange)="suffixChange.emit($event)">
    <ng-content jigsaw-prefix-icon select="[jigsaw-prefix-icon], [j-prefix-icon]"></ng-content>
    <ng-content jigsaw-icon select="[jigsaw-icon], [j-icon]"></ng-content>
</j-input>

<ng-template #dropDownTemp>
    <div class="jigsaw-auto-complete-input-list-box-host"  [ngClass]="{'jigsaw-auto-complete-input-list-box-vacant': !_$data?.length}" [attr.data-theme]="theme" [style.max-height]="_$maxDropDownHeight" [style.max-width]="_$maxDropDownWidth"
         [perfectScrollbar]="{suppressScrollX: true, wheelSpeed: 0.5, wheelPropagation: true, minScrollbarLength: 20}">
        <div *ngFor="let category of _$data;">
            <label *ngIf="category.category" class="jigsaw-auto-complete-input-item-title">{{category.category}}</label>
            <ul>
                <li class="jigsaw-auto-complete-input-item" (click)="_$add($event,item)"
                    (mousedown)="_$preventInputBlur($event)"
                    *ngFor="let item of category.items;">
                    <span>{{item}}</span>
                </li>
            </ul>
        </div>
    </div>
</ng-template>
