@import "../../common/assets/scss/core/base";

$jigsaw-auto-complete-input: #{$jigsaw-prefix}-auto-complete-input;

.#{$jigsaw-auto-complete-input} {
    @include inline-block();
    width: 120px;
    height: $height-base;

    &-list-box{
        overflow: auto;
        border-radius: 4px;
        ul{
            margin: 0;
            padding: 0;
            li{
                padding: 6px 16px;
                cursor: pointer;
                font-size: 12px;
                background: $bg-body;
                label{
                    margin: 0;
                    font-weight: 400;
                }
                &:hover{
                    background: $brand-lighten;
                }
            }
        }
    }
    &-item-title{
        font-weight: bold;
        margin: 0;
        padding: 3px 10px;
        width: 100%;
        font-size: $font-title-med;
        color: $font-color-heading;
    }
}

