@import "../../common/assets/scss/core/base";

$input-prefix-cls: #{$jigsaw-prefix}-input;

.#{$input-prefix-cls} {
    @include inline-block();
    width: 120px;
    height: $height-base;
    font-size: $font-size-base;
    border: 1px solid $border-color-base;
    border-radius: 3px;
    overflow: hidden;
    &:hover, &.#{$input-prefix-cls}-focused {
        @include prefixer(transition, (border 0.3s $ease-in-out, box-shadow 0.3s $ease-in-out));
        border: 1px solid $primary-color;
    }
    &.#{$input-prefix-cls}-focused {
        box-shadow: $box-focus-shadow;
    }
    &.#{$input-prefix-cls}-error {
        border: 1px solid $error-color;
        &:hover {
            border: 1px solid $error-color;
        }
        &.#{$input-prefix-cls}-focused {
            border: 1px solid $error-color;
            box-shadow: none;
        }
    }
    &-wrapper {
        display: flex;
        height: 100%;
        overflow: hidden;
        background: $component-background;
    }
    &-icon-front, &-icon-end {
        display: flex;
        align-items: center;
        flex: none;
        padding: 0 4px;
    }
    input {
        flex: 1;
        min-width: 0;
        height: 100%;
        border: none;
        outline: none;
        border-radius: 3px;
        background: transparent;
    }
    &.#{$input-prefix-cls}-disabled &-wrapper {
        background-color: $disabled-bg;
        input {
            @include compatible(color, $disabled-color, $disabled-color-ie11);
        }
    }
    input::-webkit-input-placeholder {
        color: $text-color-secondary;
    }
    input:-ms-input-placeholder {
        color: $text-color-secondary;
    }
    input:-moz-placeholder {
        color: $text-color-secondary;
    }
    &-clear-bar {
        cursor: pointer;
        font-size: 16px;
        line-height: 1;
        &:hover {
            color: $text-color-dark;
        }
        &[hidden] {
            display: none !important;
        }
    }
}



