@import "../../common/assets/scss/core/base";

$input-prefix-cls: #{$jigsaw-prefix}-input;

.#{$input-prefix-cls} {
    @include inline-block();
    width: 120px;
    height: $height-base;
    font-size: $font-size-base;
    border-width: 1px;
    border-style: solid;
    border-color: $border-color-default;
    border-radius: $border-radius-base;
    overflow: hidden;
    &:hover,
    &.#{$input-prefix-cls}-focused {
        @include prefixer(
            transition,
            (border 0.3s $ease-in-out, box-shadow 0.3s $ease-in-out)
        );
        border: 1px solid $brand-default;
    }
    &.#{$input-prefix-cls}-error {
        border-color: $error-default;
        &:hover {
            border-color: $error-color;
        }
        &.#{$input-prefix-cls}-focused {
            border-color: $error-color;
            box-shadow: none;
        }
    }
    &-wrapper {
        display: flex;
        height: 100%;
        overflow: hidden;
        background: $bg-component;
    }
    &-icon-front,
    &-icon-end {
        display: flex;
        align-items: center;
        flex: none;
        padding: 0 4px;

        a {
            display: flex;
        }
    }
    &-icon-end {
        a {
            margin: 5px;
        }
    }
    input {
        flex: 1;
        min-width: 0;
        height: 100%;
        border: none;
        outline: none;
        border-radius: 3px;
        background: transparent;
        padding-bottom: 2px;
    }
    &.#{$input-prefix-cls}-disabled &-wrapper {
        background-color: $bg-disabled;
        input {
            @include compatible(color, $disabled-color, $disabled-color-ie11);
        }
    }
    input::-webkit-input-placeholder {
        color: $font-color-hint;
    }
    input:-ms-input-placeholder {
        color: $font-color-hint;
    }
    input:-moz-placeholder {
        color: $font-color-hint;
    }
    &-clear-bar {
        cursor: pointer;
        font-size: 16px;
        line-height: 1;
        padding-bottom: 3px;

        &:hover {
            color: $font-color-default;
        }
        &[hidden] {
            display: none !important;
        }
    }

    &-icon-item {
        margin: 5px;
        cursor: pointer;
    }
}
