<div class="jigsaw-input-container">
    <jigsaw-prefix-suffix *ngIf="prefix" position="left" [showBorder]="showBorder" [disabled]="disabled" [data]="prefix" [contentWidth]="prefixWidth"
                          [labelField]="prefixLabelField" (change)="prefixChange.emit($event)">
    </jigsaw-prefix-suffix>

    <div class="jigsaw-input-wrapper" [ngStyle]="_$getBorderRadius" [ngClass]="_$getWrapperClass">
        <div class="jigsaw-input-icon-front">
            <ng-content select="[jigsaw-prefix-icon], [j-prefix-icon]"></ng-content>
            <ng-container *ngFor="let icon of _$preIcon;">
                <span [ngClass]="icon" class="jigsaw-input-icon-item" (click)="preIconSelect.emit(icon)"></span>
            </ng-container>
        </div>
        <ng-content></ng-content>
        <input #input
               [placeholder]="placeholder"
               [(ngModel)]="value"
               [disabled]="disabled"
               [readonly]="readonly"
               (blur)="_$handleBlur($event)"
               (focus)="_$handleFocus($event)"
               [type]="type"
               autocomplete="off">
        <div *ngIf="clearable && !readonly" class="jigsaw-input-icon-end">
            <i (mousedown)="!disabled && _$clearValue()" [hidden]="!value" class="jigsaw-input-clear-bar iconfont iconfont-e14b"></i>
            <ng-content select="[jigsaw-icon], [j-icon]"></ng-content>
            <ng-container *ngFor="let icon of _$icon;">
                <span [ngClass]="icon" class="jigsaw-input-icon-item" (click)="iconSelect.emit(icon)"></span>
            </ng-container>
        </div>
    </div>

    <jigsaw-prefix-suffix *ngIf="suffix" position="right" [showBorder]="showBorder" [disabled]="disabled" [data]="suffix" [contentWidth]="suffixWidth"
                          [labelField]="suffixLabelField" (change)="suffixChange.emit($event)">
    </jigsaw-prefix-suffix>
</div>
