$jigsaw-input: #{$jigsaw-prefix}-input;

.#{$jigsaw-input}-host {
    @include inline-block();
    height: $height-base;
    font-size: $font-size-text-base;
    border-radius: $border-radius-base;
    overflow: hidden;

    .#{$jigsaw-input}-container {
        display: flex;
        height: 100%;
        width: 100%;
    }

    .#{$jigsaw-input}-wrapper {
        width: 120px;
        display: flex;
        flex: 1;
        height: 100%;
        overflow: hidden;
        background: $bg-transparent;
        border-width: 1px;
        border-style: solid;
        border-color: $border-color-default;
        border-radius: $border-radius-base;
    }

    .#{$jigsaw-input}-icon-front,
    .#{$jigsaw-input}-icon-end {
        display: flex;
        align-items: center;
        flex: none;
        padding: 0 4px;
        color: $icon-color-stress;
        line-height: 1;

        a {
            display: flex;
        }
    }

    .#{$jigsaw-input}-icon-end {
        a {
            margin: 5px;
        }
    }

    input {
        flex: 1;
        min-width: 0;
        height: 100%;
        border: none;
        outline: none;
        color: $font-color-default;
        background: transparent;
        border-radius: $border-radius-base;
    }

    .#{$jigsaw-input}-wrapper:hover,
    &.#{$jigsaw-input}-focused .#{$jigsaw-input}-wrapper {
        @include prefixer(transition, (border 0.3s $ease-in-out, box-shadow 0.3s $ease-in-out));
        border-width: 1px;
        border-style: solid;
        border-color: $brand-default;
    }
    
    &.#{$jigsaw-input}-focused .#{$jigsaw-input}-wrapper {
        border-color: $brand-active;
    }

    &.#{$jigsaw-input}-disabled {
        .#{$jigsaw-input}-wrapper {
            background-color: $bg-disabled;
            cursor: not-allowed;
            border-color: $border-color-disabled;

            input {
                color: $font-color-disabled-spec;
                cursor: not-allowed;

                &::-webkit-input-placeholder {
                    color: $font-color-disabled-spec;
                }
            }

            .#{$jigsaw-input}-icon-front,
            .#{$jigsaw-input}-icon-end {
                .iconfont {
                    color: $icon-color-disabled;
                }
            }
        }
    }

    &.#{$jigsaw-input}-show-border {
        .#{$jigsaw-input}-wrapper {
            border-color: $bg-transparent;
        }
    }

    &.#{$jigsaw-input}-error {
        .#{$jigsaw-input}-wrapper,
        .#{$jigsaw-input}-wrapper:hover,
        &.#{$jigsaw-input}-focused .#{$jigsaw-input}-wrapper {
            &.#{$jigsaw-input}-none {
                border-color: $error-default;
            }

            &.#{$jigsaw-input}-left {
                border-color: $error-default $error-default $error-default $border-color-default;
            }

            &.#{$jigsaw-input}-right {
                border-color: $error-default $border-color-default $error-default $error-default;
            }

            &.#{$jigsaw-input}-both {
                border-color: $error-default $border-color-default $error-default $border-color-default;
            }

            box-shadow: none;
        }

        .#{$jigsaw-prefix}-prefix-suffix {
            border-color: $error-default;
        }
    }

    input::-webkit-input-placeholder {
        color: $font-color-hint;
    }

    input:-ms-input-placeholder {
        color: $font-color-hint;
    }

    input:-moz-placeholder {
        color: $font-color-hint;
    }

    .#{$jigsaw-input}-clear-bar {
        color: $icon-color-stress;
        font-size: 16px;
        line-height: 1;
        cursor: pointer;

        &:hover {
            color: $brand-default;
        }

        &[hidden] {
            display: none !important;
        }
    }

    .#{$jigsaw-input}-icon-item {
        margin: 5px;
        cursor: pointer;
    }
}
