<div style="display: flex; height: 100%; width: 100%">
    <jigsaw-unit *ngIf="prefix" position="left" [disabled]="disabled" [data]="prefix" [unitWidth]="prefixWidth"
                 [labelField]="prefixLabelField" (unitChange)="prefixChange.emit($event)"></jigsaw-unit>

    <div class="jigsaw-input-wrapper">
        <div class="jigsaw-input-icon-front">
            <ng-content select="[jigsaw-prefix-icon], [j-prefix-icon]"></ng-content>
            <ng-container *ngFor="let icon of _$preIcon;">
                <span [ngClass]="icon" class="jigsaw-input-icon-item" (click)="preIconSelect.emit(icon)"></span>
            </ng-container>
        </div>
        <ng-content></ng-content>
        <input #input
               [placeholder]="placeholder"
               [(ngModel)]="value"
               [disabled]="disabled"
               (blur)="_$handleBlur($event)"
               (focus)="_$handleFocus($event)"
               [type]="type"
               [autocomplete]="autocomplete">
        <div class="jigsaw-input-icon-end">
            <p *ngIf="clearable && !disabled" (click)="_$clearValue()" [hidden]="!value" class="jigsaw-input-clear-bar">&times;</p>
            <ng-content select="[jigsaw-icon], [j-icon]"></ng-content>
            <ng-container *ngFor="let icon of _$icon;">
                <span [ngClass]="icon" class="jigsaw-input-icon-item" (click)="iconSelect.emit(icon)"></span>
            </ng-container>
        </div>
    </div>

    <jigsaw-unit *ngIf="unit" position="right" [disabled]="disabled" [data]="unit" [unitWidth]="unitWidth"
                 [labelField]="unitLabelField" (unitChange)="unitChange.emit($event)"></jigsaw-unit>

</div>
