@import "../../common/assets/scss/core/base";

$numeric-input-prefix-cls: #{$jigsaw-prefix}-numeric-input;

.#{$numeric-input-prefix-cls} {
    @include inline-block();
    position: relative;
    width: 120px;
    height: $height-base;
    font-size: $font-size-base;
    user-select: none;
    border-width: 1px;
    border-style: solid;
    border-color: $border-color-default;
    border-radius: $border-radius-base;

    &:hover,
    &.#{$numeric-input-prefix-cls}-focused {
        @include prefixer(transition, (border 0.3s $ease-in-out, box-shadow 0.3s $ease-in-out));
        border-color: $brand-default;
    }

    &.#{$numeric-input-prefix-cls}-error {
        border-color: $error-default;

        &:hover {
            border-color: $error-default;
        }

        &.#{$numeric-input-prefix-cls}-focused {
            border-color: $error-default;
            box-shadow: none;
        }
    }

    input {
        width: 100%;
        height: 100%;
        padding: 0 20px 0 8px;
        border: none;
        outline: none;
        border-radius: $border-radius-base;
        background: $component-background;
    }

    &.#{$numeric-input-prefix-cls}-disabled input {
        color: $font-color-disabled;
        background-color: $bg-disabled;
    }

    input::-webkit-input-placeholder {
        color: $font-color-hint;
    }

    input:-ms-input-placeholder {
        color: $font-color-hint;
    }

    input:-moz-placeholder {
        color: $font-color-hint;
    }

    &-option-box {
        position: absolute;
        right: 0;
        top: 0;
        width: 20px;
        height: 100%;
        display: none;
        flex-direction: column;

        .#{$numeric-input-prefix-cls}:not(.#{$numeric-input-prefix-cls}-disabled):hover & {
            display: flex;
        }
    }

    &-option-bar {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50%;
        border-left: 1px solid $border-color-default;
        cursor: pointer;
        text-align: center;
        box-sizing: border-box;

        &:first-child {
            border-bottom: 0.5px solid $border-color-default;

            &:hover {
                border-bottom: 1px solid $brand-default;
            }
        }

        &:last-child {
            border-top: 0.5px solid $border-color-default;

            &:hover {
                border-top: 1px solid $brand-default;
            }
        }

        &:hover {
            border-color: $brand-default;
            color: $brand-default;
        }

        &:active {
            border-color: $brand-active;
            color: $brand-active;
        }

        &.#{$numeric-input-prefix-cls}-option-bar-disabled {
            color: $font-color-disabled;
            cursor: not-allowed;

            &:hover,
            &:active {
                color: $font-color-disabled;
            }
        }
    }

    &.#{$numeric-input-prefix-cls}-small {
        height: $height-sm;
    }

    &.#{$numeric-input-prefix-cls}-large {
        height: $height-lg;
    }
}
