$jigsaw-numeric-input: #{$jigsaw-prefix}-numeric-input;

.#{$jigsaw-numeric-input}-host {
    @include inline-block();
    position: relative;
    height: $height-base;
    font-size: $font-size-text-base;
    border-radius: $border-radius-base;

    .#{$jigsaw-numeric-input}-container {
        display: flex;
        height: 100%;
        width: 100%;
    }

    .#{$jigsaw-numeric-input}-wrapper {
        width: 120px;
        display: flex;
        flex: 1;
        height: 100%;
        background: $bg-transparent;
        border-width: 1px;
        border-style: solid;
        border-color: $border-color-default;
        border-radius: $border-radius-base;
    }

    .#{$jigsaw-numeric-input}-wrapper:hover,
    &.#{$jigsaw-numeric-input}-focused .#{$jigsaw-numeric-input}-wrapper {
        @include prefixer(transition, (border 0.3s $ease-in-out, box-shadow 0.3s $ease-in-out));
        border-color: $brand-default;
    }

    &.#{$jigsaw-numeric-input}-error {

        .#{$jigsaw-numeric-input}-wrapper,
        .#{$jigsaw-numeric-input}-wrapper:hover,
        &.#{$jigsaw-numeric-input}-focused .#{$jigsaw-numeric-input}-wrapper {
            &.#{$jigsaw-numeric-input}-none {
                border-color: $error-default;
            }

            &.#{$jigsaw-numeric-input}-right {
                border-color: $error-default $border-color-default $error-default $error-default;
            }

            box-shadow: none;
        }

        .#{$jigsaw-prefix}-prefix-suffix {
            border-color: $error-default;
        }
    }

    input {
        width: calc(100% - 20px);
        height: 100%;
        padding-left: 8px;
        border: none;
        outline: none;
        border-radius: $border-radius-base;
        background: $bg-transparent;
        color: $font-color-default;
    }

    &.#{$jigsaw-numeric-input}-disabled {
        .#{$jigsaw-numeric-input}-wrapper {
            background-color: $bg-disabled;
            border-color: $border-color-disabled;
            cursor: not-allowed;

            &:hover {
                border-color: $border-color-disabled;
            }

            input {
                color: $font-color-disabled-spec;
                background-color: $bg-disabled;
                cursor: not-allowed;

                &::-webkit-input-placeholder {
                    color: $font-color-disabled-spec;
                }
            }
        }
    }

    input::-webkit-input-placeholder {
        color: $font-color-hint;
    }

    input:-ms-input-placeholder {
        color: $font-color-hint;
    }

    input:-moz-placeholder {
        color: $font-color-hint;
    }

    .#{$jigsaw-numeric-input}-option-box {
        width: 20px;
        height: 100%;
        display: none;
        flex-direction: column;
    }

    &.#{$jigsaw-numeric-input}-showOption .#{$jigsaw-numeric-input}-option-box {
        display: flex;
    }

    &:not(.#{$jigsaw-numeric-input}-disabled):hover {
        .#{$jigsaw-numeric-input}-option-box {
            display: flex;
        }
    }

    .#{$jigsaw-numeric-input}-option-bar {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50%;
        border-left-width: 1px;
        border-left-style: solid;
        border-left-color: $border-color-default;
        color: $icon-color-stress;
        text-align: center;
        box-sizing: border-box;
        cursor: pointer;

        &:first-child {
            border-bottom-width: 0.5px;
            border-bottom-style: solid;
            border-bottom-color: $border-color-default;

            &:hover {
                border-bottom-width: 1px;
                border-bottom-style: solid;
                border-bottom-color: $brand-default;
            }
        }

        &:last-child {
            border-top-width: 0.5px;
            border-top-style: solid;
            border-top-color: $border-color-default;

            &:hover {
                border-top-width: 1px;
                border-top-style: solid;
                border-top-color: $brand-default;
            }
        }

        &:hover {
            border-color: $brand-default;
            color: $brand-default;
        }

        &:active {
            border-color: $brand-active;
            color: $brand-active;
        }

        &.#{$jigsaw-numeric-input}-option-bar-disabled {
            color: $font-color-disabled-spec;
            cursor: not-allowed;

            &:hover,
            &:active {
                color: $font-color-disabled-spec;
            }
        }
    }

    &.#{$jigsaw-numeric-input}-disabled.#{$jigsaw-numeric-input}-showOption .#{$jigsaw-numeric-input}-option-box .#{$jigsaw-numeric-input}-option-bar {
        color: $font-color-disabled-spec;
        border-left-color: $border-color-disabled;
        pointer-events: none;

        &:first-child {
            border-bottom-color: $border-color-disabled;

            &:hover {
                border-bottom-color: $border-color-disabled;
            }
        }

        &:last-child {
            border-top-color: $border-color-disabled;

            &:hover {
                border-top-color: $border-color-disabled;
            }
        }

        &:hover {
            border-color: $border-color-disabled;
        }

        &:active {
            border-color: $border-color-disabled;
        }
    }

    &.#{$jigsaw-numeric-input}-small {
        height: $height-sm;
    }

    &.#{$jigsaw-numeric-input}-large {
        height: $height-lg;
    }
}