$jigsaw-search-input: #{$jigsaw-prefix}-search-input;
$jigsaw-input: #{$jigsaw-prefix}-input;
$jigsaw-auto-complete-input: #{$jigsaw-prefix}-auto-complete-input;

.#{$jigsaw-search-input}-host {
    display: inline-flex;
    color: $font-color-default;
    border-radius: $border-radius-base;

    .#{$jigsaw-search-input} {
        display: inline-flex;
        align-items: center;
        width: 100%;

        .#{$jigsaw-auto-complete-input}-host {
            width: 100%;

            .#{$jigsaw-input}-wrapper {
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
                padding-left: 8px;

                .#{$jigsaw-input}-icon-front {
                    display: none;
                }
            }
        }

        .#{$jigsaw-search-input}-button {
            position: relative;
            display: inline-flex;
            flex-shrink: 0;
            flex-grow: 0;
            justify-content: center;
            align-items: center;
            width: 32px;
            height: 32px;
            color: $icon-color-default;
            font-size: $icon-size-sm;
            border-width: 1px;
            border-style: solid;
            border-color: $border-color-default;
            border-radius: 0 $border-radius-base $border-radius-base 0;
            border-left: none;
            line-height: 1;
            cursor: pointer;

            &::after {
                content: "";
                position: absolute;
                left: -1px;
                width: 1px;
                height: calc(100% + 2px);
                background: none;
            }

            &:hover {
                color: $brand-default;
                border-color: $brand-default;

                &::after {
                    background: $brand-default;
                }
            }
        }

        .jigsaw-hide-border{
            border-color: $bg-transparent;

            &:hover {
                border-color: $brand-default;

                &::after {
                    background: $brand-default;
                }
            }
        }
    }

    &.#{$jigsaw-search-input}-auto {
        .#{$jigsaw-search-input} {
            .#{$jigsaw-auto-complete-input}-host {
                .#{$jigsaw-input}-wrapper {
                    border-top-right-radius: $border-radius-base;
                    border-bottom-right-radius: $border-radius-base;
                    padding-left: 0px;

                    .#{$jigsaw-input}-icon-front {
                        display: flex;
                        color: $icon-color-default;
                        font-size: $icon-size-sm;
                    }
                }
            }
        }

        .#{$jigsaw-search-input}-button {
            display: none;
        }
    }

    &.#{$jigsaw-search-input}-disabled {
        .#{$jigsaw-search-input}-button {
            background: $bg-disabled;
            border-color: $border-color-disabled;
            color: $icon-color-disabled;
            cursor: not-allowed;

            &:hover {
                color: $icon-color-disabled;
                border-color: $border-color-disabled;

                &::after {
                    background: $border-color-disabled;
                }
            }
        }
    }
}
