<!-- ignore the following lines, they are not important to this demo -->
<jigsaw-demo-description [summary]="summary" [content]="description">
</jigsaw-demo-description>


<!-- start to learn the demo from here -->
<div class="live-demo-wrap">
    <jigsaw-header [level]="1">Box</jigsaw-header>
    <div class="demo-1 live-demo">
        <jigsaw-header [level]="4">布局</jigsaw-header>
        <jigsaw-button-bar [(selectedItems)]="selectedType" [data]="types"></jigsaw-button-bar>
        <br>
        <br>
        <div class="box-layout" style="display: inline-block" (mousemove)="laying.emit($event)" (mouseenter)="layoutStart.emit()" (mouseleave)="layoutEnd.emit()">
            <j-editable-box #rootBox direction="v" [resizable]="true" height="600" width="800">
                <j-editable-box grow="2">
                    <!--<jigsaw-icon style="width:200px" [icon]="'iconfont iconfont-e1a0'" [iconSize]="40" text="编辑"></jigsaw-icon>
                    <jigsaw-icon [icon]="'iconfont iconfont-e1a0'" [iconSize]="40" text="编辑"></jigsaw-icon>-->
                    <div style="flex: 1;overflow: auto;">
                        <jigsaw-graph [data]="graphData" height="100%"></jigsaw-graph>
                    </div>

                    <!--<j-editable-box>
                        <jigsaw-graph [data]="graphData" height="100%"></jigsaw-graph>
                    </j-editable-box>-->
                    <j-editable-box>
                        <jigsaw-graph [data]="graphData" height="100%"></jigsaw-graph>
                    </j-editable-box>
                    <j-editable-box>
                        <!--<jigsaw-icon [icon]="'iconfont iconfont-e1a0'" [iconSize]="40" text="编辑"></jigsaw-icon>
                        <jigsaw-icon [icon]="'iconfont iconfont-e1a0'" [iconSize]="40" text="编辑"></jigsaw-icon>-->
                        <j-editable-box></j-editable-box>
                        <j-editable-box></j-editable-box>
                        <j-editable-box direction="v" [resizable]="true">
                            <!--<jigsaw-icon [icon]="'iconfont iconfont-e1a0'" [iconSize]="40" text="编辑"></jigsaw-icon>
                            <jigsaw-icon [icon]="'iconfont iconfont-e1a0'" [iconSize]="40" text="编辑"></jigsaw-icon>-->
                            <j-editable-box>
                                <j-editable-box></j-editable-box>
                                <j-editable-box></j-editable-box>
                            </j-editable-box>
                            <j-editable-box>
                                <j-editable-box></j-editable-box>
                                <j-editable-box></j-editable-box>
                            </j-editable-box>
                        </j-editable-box>
                    </j-editable-box>
                </j-editable-box>
                <j-editable-box [resizable]="true" grow="2">
                    <j-editable-box>

                    </j-editable-box>
                    <j-editable-box grow="4">
                        <jigsaw-graph [data]="graphData" height="100%"></jigsaw-graph>
                        <j-editable-box></j-editable-box>
                    </j-editable-box>
                </j-editable-box>
                <j-editable-box>

                </j-editable-box>
            </j-editable-box>
        </div>
    </div>
</div>



