<!-- ignore the following lines, they are not important to this demo -->
<jigsaw-demo-description [summary]="summary" [content]="description">
</jigsaw-demo-description>


<!-- start to learn the demo from here -->
<div class="container">
    <j-button (click)="changeTabData($event)">change data</j-button>
    <j-button (click)="headless = !headless">toggle headless</j-button>
    <jigsaw-tabs (selectChange)="testEvent()" [headless]="headless" [(selectedIndex)]="selectedIndex">
        <ng-container *ngFor="let tabData of tabDatas">
            <jigsaw-tab-pane *ngIf="tabData.value != 'close'">
                <div jigsaw-title><span class="iconfont iconfont-e133"></span>{{tabData.label}}</div>
                <ng-template>{{tabData.label}} Content</ng-template>
            </jigsaw-tab-pane>
        </ng-container>
    </jigsaw-tabs>
</div>
