<!-- ignore the following lines, they are not important to this demo -->
<jigsaw-demo-description [summary]="summary" [content]="description">
</jigsaw-demo-description>


<!-- start to learn the demo from here -->
<div class="live-demo-wrap">
    <jigsaw-header [level]="1">Rate</jigsaw-header>
    <div class="clearfix">
        <div class="demo-1 live-demo live-demo-block">
            <jigsaw-header [level]="2">基本</jigsaw-header>
            <p class="comment">基本用法</p>
            <jigsaw-rate class="rate-font-size" max="5" icon="iconfont iconfont-e369" [(value)]="selectedValue" (valueChange)="selectChange($event)"></jigsaw-rate>
        </div>

        <div class="demo-2 live-demo live-demo-block">
            <jigsaw-header [level]="2">半星</jigsaw-header>
            <p class="comment">支持选中半星</p>
            <jigsaw-rate class="rate-font-size" max="5" [allowHalf]="true" [(value)]="selectedHalfValue" (valueChange)="selectChange($event)"></jigsaw-rate>
        </div>

        <div class="demo-2 live-demo live-demo-block">
            <jigsaw-header [level]="2">只读</jigsaw-header>
            <p class="comment">支持标签和属性两种写法</p>
            <jigsaw-rate class="rate-font-size" max="5" [disabled]="true" [(value)]="selectedValue"></jigsaw-rate>
        </div>
    </div>
</div>
