<!-- ignore the following lines, they are not important to this demo -->
<jigsaw-demo-description [summary]="summary" [content]="description">
</jigsaw-demo-description>


<!-- start to learn the demo from here -->
<div class="live-demo-wrap">
    <jigsaw-header [level]="1">气泡图</jigsaw-header>
    <div class="clearfix">
        <div class="live-demo live-demo-block">
            <jigsaw-header [level]="2">BubbleChartGraphData静态数据</jigsaw-header>
            <jigsaw-graph [data]="scatterData" height="400" (click)="handleClick($event)"></jigsaw-graph>
        </div>
    </div>

</div>
