<demo-template [data]="data" [(selectedLabel)]="selectedLabel" [text]="doc.text.basic" [codes]="doc.codes.basic">
    <!-- start to learn the demo from here -->
    <div class="demo-showcase-v">
        <jigsaw-pagination [data]="pageable"
                           [pageSizeOptions]="pageSizeOptions"
                           [searchable]="false"
                           [showQuickJumper]="true"
                           mode="complex"
                           (currentChange)="getCurrentPage($event)"
                           (pageSizeChange)="getPageSize($event)"
                           widh="710px"
                           [size]="selectedLabel.size">
        </jigsaw-pagination>
    </div>
</demo-template>
