<demo-template sizeController="small小,medium中,large大" [(selectedSize)]="selectedSize"
               [description]="description" [demoSources]="demoSources">
    <div class="demo-showcase-v">
        <jigsaw-pagination
            widh="710px"
            mode="complex"
            [data]="pageable"
            [pageSizeOptions]="pageSizeOptions"
            [searchable]="false"
            [showQuickJumper]="true"
            (currentChange)="getCurrentPage($event)"
            (pageSizeChange)="getPageSize($event)"
            [size]="selectedSize.size"
        >
        </jigsaw-pagination>
    </div>
</demo-template>
