<demo-template [data]="''" [text]="doc.text.withScrollbar" [codes]="doc.codes.withScrollbar">
    <!-- start to learn the demo from here -->
    <div class="custom-container">
        <j-drawer container=".custom-container">
            <div class="drawer-content">
                这是一个展示内容的box
            </div>
        </j-drawer>
        <!-- 在内容的外面加个wrapper，用来生成滚动条 -->
        <div style="height: 100%; overflow: auto;">
            <div style="text-align: center;line-height: 50px;width: 100%">
                这是一段展示文本，这是一段展示文本，这是一段展示文本，这是一段展示文本，这是一段展示文本，<br>
                这是一段展示文本，这是一段展示文本，这是一段展示文本，这是一段展示文本，这是一段展示文本，<br>
                这是一段展示文本，这是一段展示文本，这是一段展示文本，这是一段展示文本，这是一段展示文本，<br>
                这是一段展示文本，这是一段展示文本，这是一段展示文本，这是一段展示文本，这是一段展示文本，<br>
                这是一段展示文本，这是一段展示文本，这是一段展示文本，这是一段展示文本，这是一段展示文本，<br>
                这是一段展示文本，这是一段展示文本，这是一段展示文本，这是一段展示文本，这是一段展示文本，<br>
                这是一段展示文本，这是一段展示文本，这是一段展示文本，这是一段展示文本，这是一段展示文本，<br>
            </div>
        </div>
    </div>
</demo-template>