<div class="rdk-collapse-item"
     [class.rdk-collapse-item-inactive]="isActive">
    <div class="rdk-collapse-header" (click)="_onClick()">
        <i class="fa fa-angle-down arrow"></i>

        <!-- 普通的header -->
        <ng-template [ngIf]="header">
            {{header}}
        </ng-template>

        <!-- 自定义的header render.-->
        <ng-template [ngIf]="_headRender">
            <ng-template [portalHost]="_headRender"></ng-template>
        </ng-template>
    </div>
    <div class="rdk-collapse-content">
        <ng-content></ng-content>
    </div>
</div>
