@import "../../assets/scss/core/_basc";

:host{
  display: block;
  border-bottom: 1px solid $gray;
}

:host(.opened) .head .arrow{
  @include prefixer(transform, rotate(270deg));
}

:host(.opened) .content{
  display: block;
  opacity: 1;
}

.head{
  height: 38px;
  line-height: 38px;
  padding-left: 32px;
  background: $gray-light;
  cursor: pointer;
  position: relative;
  .arrow{
    position: absolute;
    right: 8px;
    font-size: 20px;
    font-style: normal;
    @include prefixer(transition, all .3s ease);
    @include prefixer(transform, rotate(90deg));
    @include prefixer(transform-origin, 50% 55%);
  }
}

.content{
  @include prefixer(transition, all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1));
  @include prefixer(transform-origin, 0 0);
  display: none\9;
  opacity: 0;
  height: 0;
  overflow: hidden;
  p{
    padding: 10px;
    height: 100px;
  }
}

