<demo-template [data]="''" [text]="text['text']['selectedItems']">

    <jigsaw-markdown [markdown]="'#### 设置静态数据默认选中条目'"></jigsaw-markdown>
    <j-cascade [data]="areas" [selectedItems]="staticSelectedItems" width="400">
    </j-cascade>

    <br>

    <jigsaw-markdown [markdown]="'#### 设置多个默认选中条目'"></jigsaw-markdown>
    <j-cascade [data]="areas" [selectedItems]="multiSelectedItems"
               [multipleSelect]="true" width="400">
    </j-cascade>

    <br>

    <jigsaw-markdown [markdown]="'#### 设置懒加载数据默认选中条目'"></jigsaw-markdown>
    <j-cascade [data]="generator" [selectedItems]="lazyLoadSelectedItems"
               labelField="name" [generatorContext]="this" width="400">
    </j-cascade>

</demo-template>
