<!-- ignore the following lines, they are not important to this demo -->
<jigsaw-demo-description [summary]="summary" [content]="description">
</jigsaw-demo-description>


<!-- start to learn the demo from here -->
<jigsaw-dialog width="300px" [buttons]="buttons">
    <div jigsaw-title>
        <span class="fa fa-thumbs-up"></span>Title of the dialog
    </div>
    <div jigsaw-body>
        <ul class="dialog-content">
            <li>Dialog content...</li>
            <li>Dialog content...</li>
            <li>Dialog content...</li>
        </ul>
    </div>
</jigsaw-dialog>
