<demo-template [sizeController]="sizes" [(selectedSize)]="selectedSize"
               [description]="description" [demoSources]="demoSources">
    <!-- start to learn the demo from here -->
    <div class="demo-showcase">
        <span>正常</span>
        <jigsaw-button [preSize]="selectedSize.size"> 确定 </jigsaw-button>
    </div>

    <div class="demo-showcase">
        <span>禁用</span>
        <jigsaw-button colorType="primary" [disabled]="true" [preSize]="selectedSize.size"> 普通操作 </jigsaw-button>
    </div>
</demo-template>
