<demo-template [data]="data" [(selectedLabel)]="selectedLabel" [text]="doc.text.textTop">
    <div class="demo-showcase">
        <span>进度值</span>
        <j-numeric-input min="0" max="110" [(value)]="progressValue">
        </j-numeric-input>
    </div>
    <div class="demo-showcase">
        <span>文字在顶部</span>
        <j-progress [value]="progressValue" width="400" labelPosition="top" [showMarker]="true"
                    [preSize]="selectedLabel.size"></j-progress>
        <j-progress [value]="progressValue" width="400" labelPosition="top" [showMarker]="true" status="block"
                    [preSize]="selectedLabel.size"></j-progress>
    </div>
</demo-template>
