<demo-template [data]="data" [(selectedLabel)]="selectedLabel" [text]="doc.text.textTop" [codes]="doc.codes.textTop">
    <div class="demo-showcase">
        <span>文字在顶部</span>
        <j-progress
            [value]="progressValue"
            width="400"
            labelPosition="top"
            [showMarker]="true"
            [preSize]="selectedLabel.size"
        ></j-progress>
        <j-progress
            [value]="progressValue"
            width="400"
            labelPosition="top"
            [showMarker]="true"
            status="block"
            [preSize]="selectedLabel.size"
        ></j-progress>
    </div>
</demo-template>
