<!-- ignore the following lines, they are not important to this demo -->
<jigsaw-demo-description [summary]="summary" [content]="description">
</jigsaw-demo-description>


<!-- start to learn the demo from here -->
<p>
    <a [(jigsawTooltipOpen)]="open" jigsawTooltipRenderAs="html"
       jigsawTooltipOpenTrigger="none" jigsawTooltipCloseTrigger="none"
       jigsawTooltip="一个<span style='color:red'>支持富文本</span>的提示" style="margin-right: 24px">
        一个超链
    </a>
    <span style="margin-left: 24px">Tooltip状态：{{open ? '开' : '关'}}</span>

    <jigsaw-switch [(checked)]="open" offLabel="显示Tooltip" onLabel="关闭Tooltip" style="margin-left: 24px;"></jigsaw-switch>
</p>
